Repository Ryujinx/Ryujinx, pull requests merged in 2018-09, with the labels that each got.

#390 Add Fcvtns_S, Fcvtns_V, Fcvtnu_S, Fcvtnu_V (AOpCodeSimd) FP & Umlal_V, Umlsl_V, Saddl_V, Ssubl_V, Usubl_V instructions; add 8 FP & 16 S/Umlal_V, S/Umlsl_V, S/Uaddl_V, S/Usubl_V Tests.
  ChocolArm64/AOpCodeTable.cs
  ChocolArm64/Instruction/AInstEmitSimdArithmetic.cs
  ChocolArm64/Instruction/AInstEmitSimdCvt.cs
  Ryujinx.Tests/Cpu/CpuTestSimd.cs
  Ryujinx.Tests/Cpu/CpuTestSimdReg.cs
  Ryujinx.Tests/Cpu/Tester/Instructions.cs
  Ryujinx.Tests/Cpu/Tester/Pseudocode.cs
Labels: cpu

#397 Improve handling on QueryGet on the gpu
  Ryujinx.HLE/Gpu/Engines/NvGpuEngine3d.cs
Labels: gpu

#377 Add BGRA8Unorm, BGRA8Srgb, ZF32_X24S8 texture format
  Ryujinx.Graphics/Gal/GalTextureFormat.cs
  Ryujinx.Graphics/Gal/ImageFormatConverter.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLEnumConverter.cs
  Ryujinx.HLE/Gpu/Texture/TextureHelper.cs
  Ryujinx.HLE/Gpu/Texture/TextureReader.cs
Labels: gpu

#392 Handle Ipa PASS argument as needed in Fragment Shaders
  Ryujinx.Graphics/Gal/Shader/GlslDecompiler.cs
  Ryujinx.Graphics/Gal/Shader/ShaderDecodeAlu.cs
  Ryujinx.Graphics/Gal/Shader/ShaderIpaMode.cs
  Ryujinx.Graphics/Gal/Shader/ShaderIrMetaIpa.cs
Labels: gpu

#398 Fix exception throw message for unimpl texture formats
  Ryujinx.Graphics/Gal/ImageFormatConverter.cs
  Ryujinx.HLE/Gpu/Texture/TextureHelper.cs
  Ryujinx.HLE/Gpu/Texture/TextureReader.cs
Labels: gpu

#391 Implement loading of profile image
  Ryujinx.HLE/HOS/Services/Acc/IAccountService.cs
  Ryujinx.HLE/HOS/Services/Acc/IProfile.cs
  Ryujinx.HLE/HOS/Services/ServiceFactory.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx.HLE/RyujinxProfileImage.jpg
Labels: horizon

#395 Asynchronously log messages to the Console window
  Ryujinx/Ui/ConsoleLog.cs
  Ryujinx/Ui/Program.cs
Labels: horizon

#404 Add XCI, NSP and NCA loading support
  KEYS.md
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx.HLE/Switch.cs
  Ryujinx.HLE/VirtualFileSystem.cs
  Ryujinx/Ui/Program.cs
Labels: enhancement, miscellaneous

#386 Implements proper save path
  Ryujinx.HLE/FileSystem/SaveDataType.cs
  Ryujinx.HLE/FileSystem/SaveHelper.cs
  Ryujinx.HLE/FileSystem/SaveInfo.cs
  Ryujinx.HLE/FileSystem/SaveSpaceId.cs
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/FspSrv/IFileSystemProxy.cs
  Ryujinx.HLE/Switch.cs
Labels: horizon

#367 Lock GbpQueueBuffer till Vsync is signalled
  Ryujinx.HLE/HOS/Services/Vi/NvFlinger.cs
  Ryujinx.HLE/Switch.cs
  Ryujinx/Config.cs
  Ryujinx/Ryujinx.conf
  Ryujinx/Ui/GLScreen.cs
Labels: gui, horizon

#410 Fixup image error message and add G8R8 to size query
  Ryujinx.Graphics/Gal/OpenGL/OGLEnumConverter.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLTexture.cs
  Ryujinx.Graphics/Texture/ImageUtils.cs
Labels: gpu

#415 Update IStorage.cs
  Ryujinx.HLE/HOS/Services/FspSrv/IStorage.cs
Labels: horizon

#416 Rewrite the C++ Demangler
  Ryujinx.HLE/HOS/Diagnostics/Demangler.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/ArraySubscriptingExpression.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/ArrayType.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/BaseNode.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/BinaryExpression.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/BracedExpression.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/BracedRangeExpression.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/CallExpression.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/CasExpression.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/ConditionalExpression.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/ConversionExpression.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/ConversionOperatorType.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/CtorDtorNameType.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/CtorVtableSpecialName.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/DeleteExpression.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/DtorName.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/DynamicExceptionSpec.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/ElaboratedType.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/EnclosedExpression.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/EncodedFunction.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/FoldExpression.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/ForwardTemplateReference.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/FunctionParameter.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/FunctionType.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/GlobalQualifiedName.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/InitListExpression.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/IntegerCastExpression.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/IntegerLiteral.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/LiteralOperator.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/LocalName.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/MemberExpression.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/NameType.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/NameTypeWithTemplateArguments.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/NestedName.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/NewExpression.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/NodeArray.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/NoexceptSpec.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/PackedTemplateParameter.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/PackedTemplateParameterExpansion.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/ParentNode.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/PointerType.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/PostfixExpression.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/PostfixQualifiedType.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/PrefixExpression.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/QualifiedName.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/Qualifier.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/ReferenceType.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/SpecialName.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/SpecialSubstitution.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/StdQualifiedName.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/TemplateArguments.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/ThrowExpression.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Demangler.cs
  Ryujinx.HLE/HOS/Process.cs
Labels: enhancement, miscellaneous

#409 Fix/Add 1+12 [Saturating] [Rounded] Shift Right Narrow (imm.) Instructions; add 14 Tests. Add 6 Tests for PR#405. Add 2 Tests for PR#412.
  ChocolArm64/AOpCodeTable.cs
  ChocolArm64/Instruction/AInstEmitSimdArithmetic.cs
  ChocolArm64/Instruction/AInstEmitSimdHelper.cs
  ChocolArm64/Instruction/AInstEmitSimdShift.cs
  Ryujinx.Tests/Cpu/CpuTest.cs
  Ryujinx.Tests/Cpu/CpuTestSimd.cs
  Ryujinx.Tests/Cpu/CpuTestSimdIns.cs
  Ryujinx.Tests/Cpu/CpuTestSimdReg.cs
  Ryujinx.Tests/Cpu/CpuTestSimdShImm.cs
Labels: cpu

#369 Ensure that the audout event is fired only when there are buffers available
  Ryujinx.Audio/OpenAL/OpenALAudioOut.cs
Labels: audio

#364 Fix arena allocator for cases where the freed region can be merged wi…
  Ryujinx.HLE/Memory/ArenaAllocator.cs
Labels: horizon

#420 Fix d32s8 format on OGLEnumConverter
  Ryujinx.Graphics/Gal/OpenGL/OGLEnumConverter.cs
Labels: gpu

#393 Thread scheduler rewrite
  ChocolArm64/AThread.cs
  ChocolArm64/Instruction/AInstEmitMemoryEx.cs
  ChocolArm64/Memory/AMemory.cs
  ChocolArm64/State/AThreadState.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Kernel/AddressArbiter.cs
  Ryujinx.HLE/HOS/Kernel/ArbitrationType.cs
  Ryujinx.HLE/HOS/Kernel/HleCoreManager.cs
  Ryujinx.HLE/HOS/Kernel/HleScheduler.cs
  Ryujinx.HLE/HOS/Kernel/IKFutureSchedulerObject.cs
  Ryujinx.HLE/HOS/Kernel/KAddressArbiter.cs
  Ryujinx.HLE/HOS/Kernel/KCoreContext.cs
  Ryujinx.HLE/HOS/Kernel/KEvent.cs
  Ryujinx.HLE/HOS/Kernel/KProcessScheduler.cs
  Ryujinx.HLE/HOS/Kernel/KRecursiveLock.cs
  Ryujinx.HLE/HOS/Kernel/KScheduler.cs
  Ryujinx.HLE/HOS/Kernel/KSchedulingData.cs
  Ryujinx.HLE/HOS/Kernel/KSynchronization.cs
  Ryujinx.HLE/HOS/Kernel/KSynchronizationObject.cs
  Ryujinx.HLE/HOS/Kernel/KThread.cs
  Ryujinx.HLE/HOS/Kernel/KTimeManager.cs
  Ryujinx.HLE/HOS/Kernel/KernelErr.cs
  Ryujinx.HLE/HOS/Kernel/NsTimeConverter.cs
  Ryujinx.HLE/HOS/Kernel/SignalType.cs
  Ryujinx.HLE/HOS/Kernel/SvcHandler.cs
  Ryujinx.HLE/HOS/Kernel/SvcSystem.cs
  Ryujinx.HLE/HOS/Kernel/SvcThread.cs
  Ryujinx.HLE/HOS/Kernel/SvcThreadSync.cs
  Ryujinx.HLE/HOS/Kernel/ThreadQueue.cs
  Ryujinx.HLE/HOS/Kernel/ThreadSchedState.cs
  Ryujinx.HLE/HOS/Process.cs
  Ryujinx.HLE/HOS/Services/Am/IApplicationProxy.cs
  Ryujinx.HLE/HOS/Services/Am/ICommonStateGetter.cs
  Ryujinx.HLE/HOS/Services/Am/IHomeMenuFunctions.cs
  Ryujinx.HLE/HOS/Services/Am/ILibraryAppletAccessor.cs
  Ryujinx.HLE/HOS/Services/Am/ILibraryAppletCreator.cs
  Ryujinx.HLE/HOS/Services/Am/ISelfController.cs
  Ryujinx.HLE/HOS/Services/Am/ISystemAppletProxy.cs
  Ryujinx.HLE/HOS/Services/Aud/AudioOut/IAudioOut.cs
  Ryujinx.HLE/HOS/Services/Aud/AudioRenderer/IAudioRenderer.cs
  Ryujinx.HLE/HOS/Services/Aud/IAudioDevice.cs
  Ryujinx.HLE/HOS/Services/Aud/IAudioOutManager.cs
  Ryujinx.HLE/HOS/Services/Aud/IAudioRendererManager.cs
  Ryujinx.HLE/HOS/Services/Hid/IHidServer.cs
  Ryujinx.HLE/HOS/Services/Nfp/IUser.cs
  Ryujinx.HLE/HOS/Services/Nfp/IUserManager.cs
  Ryujinx.HLE/HOS/Services/Nifm/IGeneralService.cs
  Ryujinx.HLE/HOS/Services/Nifm/IRequest.cs
  Ryujinx.HLE/HOS/Services/Nv/INvDrvServices.cs
  Ryujinx.HLE/HOS/Services/ServiceFactory.cs
  Ryujinx.HLE/HOS/Services/Sm/IUserInterface.cs
  Ryujinx.HLE/HOS/Services/Vi/IApplicationDisplayService.cs
  Ryujinx.HLE/HOS/Services/Vi/IHOSBinderDriver.cs
  Ryujinx.HLE/HOS/Services/Vi/NvFlinger.cs
  Ryujinx.HLE/HOS/SystemState/AppletStateMgr.cs
  Ryujinx/Config.cs
  Ryujinx/Ryujinx.conf
Labels: horizon

#408 Show Game Title on Titlebar
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Process.cs
  Ryujinx.HLE/HOS/SystemState/SystemStateMgr.cs
  Ryujinx.HLE/HOS/SystemState/TitleLanguage.cs
  Ryujinx/Ui/GLScreen.cs
Labels: enhancement, gui

#422 Fix performance regression caused by the new scheduler changes
  ChocolArm64/AThread.cs
  ChocolArm64/State/AThreadState.cs
  ChocolArm64/Translation/AILEmitterCtx.cs
  Ryujinx.HLE/HOS/Kernel/KCoreContext.cs
  Ryujinx.HLE/HOS/Kernel/SchedulerThread.cs
  Ryujinx.HLE/HOS/Kernel/SvcThread.cs
  Ryujinx.HLE/HOS/Process.cs
Labels: cpu

#224 Remove cold methods from the CPU cache
  ChocolArm64/AOptimizations.cs
  ChocolArm64/ATranslatedSub.cs
  ChocolArm64/ATranslator.cs
  ChocolArm64/ATranslatorCache.cs
  ChocolArm64/Decoder/ADecoder.cs
  ChocolArm64/Events/ACpuTraceEventArgs.cs
  ChocolArm64/Instruction/AInstEmitFlow.cs
  ChocolArm64/State/AThreadState.cs
  ChocolArm64/Translation/AILEmitterCtx.cs
  Ryujinx.HLE/HOS/Process.cs
  Ryujinx.HLE/Loaders/Executable.cs
Labels: cpu, enhancement

#421 General improvements for GpuResourceManager
  Ryujinx.Graphics/Gal/IGalRenderTarget.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLRenderTarget.cs
  Ryujinx.Graphics/GpuResourceManager.cs
Labels: gpu

#428 Full 5.X stubbed IHidServer
  Ryujinx.HLE/HOS/Services/Hid/HidNpad.cs
  Ryujinx.HLE/HOS/Services/Hid/HidSixAxis.cs
  Ryujinx.HLE/HOS/Services/Hid/HidVibration.cs
  Ryujinx.HLE/HOS/Services/Hid/IHidServer.cs
Labels: horizon, stub

#430 Improve kernel events implementation
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Ipc/IpcHandler.cs
  Ryujinx.HLE/HOS/Kernel/HleScheduler.cs
  Ryujinx.HLE/HOS/Kernel/KAddressArbiter.cs
  Ryujinx.HLE/HOS/Kernel/KEvent.cs
  Ryujinx.HLE/HOS/Kernel/KHandleEntry.cs
  Ryujinx.HLE/HOS/Kernel/KProcessHandleTable.cs
  Ryujinx.HLE/HOS/Kernel/KReadableEvent.cs
  Ryujinx.HLE/HOS/Kernel/KScheduler.cs
  Ryujinx.HLE/HOS/Kernel/KWritableEvent.cs
  Ryujinx.HLE/HOS/Kernel/KernelErr.cs
  Ryujinx.HLE/HOS/Kernel/KernelResult.cs
  Ryujinx.HLE/HOS/Kernel/SvcHandler.cs
  Ryujinx.HLE/HOS/Kernel/SvcMemory.cs
  Ryujinx.HLE/HOS/Kernel/SvcSystem.cs
  Ryujinx.HLE/HOS/Kernel/SvcThread.cs
  Ryujinx.HLE/HOS/Kernel/SvcThreadSync.cs
  Ryujinx.HLE/HOS/Process.cs
  Ryujinx.HLE/HOS/Services/Am/ICommonStateGetter.cs
  Ryujinx.HLE/HOS/Services/Am/IHomeMenuFunctions.cs
  Ryujinx.HLE/HOS/Services/Am/ILibraryAppletAccessor.cs
  Ryujinx.HLE/HOS/Services/Am/ISelfController.cs
  Ryujinx.HLE/HOS/Services/Aud/AudioOut/IAudioOut.cs
  Ryujinx.HLE/HOS/Services/Aud/AudioRenderer/IAudioRenderer.cs
  Ryujinx.HLE/HOS/Services/Aud/IAudioDevice.cs
  Ryujinx.HLE/HOS/Services/Aud/IAudioOutManager.cs
  Ryujinx.HLE/HOS/Services/Hid/IAppletResource.cs
  Ryujinx.HLE/HOS/Services/Hid/IHidServer.cs
  Ryujinx.HLE/HOS/Services/IpcService.cs
  Ryujinx.HLE/HOS/Services/Nfp/IUser.cs
  Ryujinx.HLE/HOS/Services/Nifm/IRequest.cs
  Ryujinx.HLE/HOS/Services/Nv/INvDrvServices.cs
  Ryujinx.HLE/HOS/Services/Pl/ISharedFontManager.cs
  Ryujinx.HLE/HOS/Services/Sm/IUserInterface.cs
  Ryujinx.HLE/HOS/Services/Vi/IApplicationDisplayService.cs
  Ryujinx.HLE/HOS/Services/Vi/IHOSBinderDriver.cs
  Ryujinx.HLE/HOS/Services/Vi/NvFlinger.cs
  Ryujinx.HLE/HOS/SystemState/AppletStateMgr.cs
Labels: enhancement, horizon

#427 Fix multiple rendertargets
  Ryujinx.Graphics/Gal/IGalRenderTarget.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLEnumConverter.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLExtension.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLRenderTarget.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLShader.cs
  Ryujinx.Graphics/GpuResourceManager.cs
  Ryujinx.Graphics/NvGpuEngine3d.cs
  Ryujinx.HLE/HOS/Services/Vi/NvFlinger.cs
Labels: gpu

#429 Implement friend:a IFriendService: 10101
  Ryujinx.HLE/HOS/Services/Friend/IFriendService.cs
  Ryujinx.HLE/HOS/Services/Friend/IFriendServiceTypes.cs
  Ryujinx.HLE/RyujinxProfileImage.jpg
Labels: horizon, stub

#405 Optimize BIC, BSL, BIT, BIF, XTN, ZIP, DUP (Gp), FMADD (Scalar) and FCVT (Scalar) using SSE intrinsics
  ChocolArm64/Instruction/AInstEmitSimdArithmetic.cs
  ChocolArm64/Instruction/AInstEmitSimdCmp.cs
  ChocolArm64/Instruction/AInstEmitSimdCvt.cs
  ChocolArm64/Instruction/AInstEmitSimdHelper.cs
  ChocolArm64/Instruction/AInstEmitSimdLogical.cs
  ChocolArm64/Instruction/AInstEmitSimdMove.cs
  ChocolArm64/Instruction/AVectorHelper.cs
  ChocolArm64/Memory/AMemory.cs
Labels: cpu, enhancement
