Repository Ryujinx/Ryujinx, pull requests merged in 2018-08, with the labels that each got.

#313 Sleep OpenAL thread
  Ryujinx.Audio/OpenAL/OpenALAudioOut.cs
Labels: audio

#298 Add Npdm parsing into Ryujinx.HLE
  Ryujinx.HLE/OsHle/Horizon.cs
  Ryujinx.HLE/OsHle/SystemStateMgr.cs
Labels: horizon

#314 Add SQADD, UQADD, SQSUB, UQSUB, SUQADD, USQADD, SQABS, SQNEG (Scalar, Vector) instructions; add 24 Tests. Most saturation instructions now on ASoftFallback.
  ChocolArm64/AOpCodeTable.cs
  ChocolArm64/Instruction/AInstEmitSimdArithmetic.cs
  ChocolArm64/Instruction/AInstEmitSimdHelper.cs
  ChocolArm64/Instruction/ASoftFallback.cs
  Ryujinx.Tests/Cpu/CpuTestSimd.cs
  Ryujinx.Tests/Cpu/CpuTestSimdReg.cs
  Ryujinx.Tests/Cpu/Tester/Instructions.cs
  Ryujinx.Tests/Cpu/Tester/Pseudocode.cs
Labels: cpu

#215 Implement Shared Fonts
  Ryujinx.HLE/Font/SharedFontManager.cs
  Ryujinx.HLE/Font/SharedFontType.cs
  Ryujinx.HLE/Hid/Hid.cs
  Ryujinx.HLE/Logging/LogClass.cs
  Ryujinx.HLE/OsHle/Handles/HSharedMem.cs
  Ryujinx.HLE/OsHle/Kernel/SvcHandler.cs
  Ryujinx.HLE/OsHle/Kernel/SvcMemory.cs
  Ryujinx.HLE/OsHle/Kernel/SvcSystem.cs
  Ryujinx.HLE/OsHle/Services/Pl/ISharedFontManager.cs
  Ryujinx.HLE/Resource/InvalidSystemResourceException.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx.HLE/Switch.cs
  Ryujinx.HLE/VirtualFileSystem.cs
Labels: horizon

#296 More accurate impl of FMINNM/FMAXNM, add vector variants
  ChocolArm64/AOpCodeTable.cs
  ChocolArm64/Instruction/AInstEmitSimdArithmetic.cs
  ChocolArm64/Instruction/ASoftFloat.cs
  ChocolArm64/Instruction/AVectorHelper.cs
  Ryujinx.Tests/Cpu/CpuTestSimdArithmetic.cs
Labels: cpu

#310 Add SetScreenShotImageOrientation
  Ryujinx.HLE/OsHle/Services/Am/ISelfController.cs
Labels: horizon

#319 Low level graphics API prerequisites
  Ryujinx.Graphics/Gal/GalPipelineState.cs
  Ryujinx.Graphics/Gal/IGalBlend.cs
  Ryujinx.Graphics/Gal/IGalConstBuffer.cs
  Ryujinx.Graphics/Gal/IGalPipeline.cs
  Ryujinx.Graphics/Gal/IGalRasterizer.cs
  Ryujinx.Graphics/Gal/IGalRenderer.cs
  Ryujinx.Graphics/Gal/IGalShader.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLBlend.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLConstBuffer.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLPipeline.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLRasterizer.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLRenderer.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLShader.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLShaderProgram.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLStreamBuffer.cs
  Ryujinx.Graphics/Gal/Shader/GlslDecl.cs
  Ryujinx.Graphics/Gal/Shader/GlslDecompiler.cs
  Ryujinx.HLE/Gpu/Engines/NvGpuEngine3d.cs
  Ryujinx.HLE/Gpu/Engines/NvGpuEngine3dReg.cs
  Ryujinx.HLE/Gpu/Memory/NvGpuBufferType.cs
Labels: enhancement, gpu

#337 Fix load/store exclusive/atomic pairwise instructions
  ChocolArm64/Instruction/AInstEmitMemoryEx.cs
Labels: bug, cpu

#227 Add the ability to set or not docked mode via config file
  Ryujinx.HLE/OsHle/Services/Am/ICommonStateGetter.cs
  Ryujinx.HLE/OsHle/SystemStateMgr.cs
  Ryujinx/Config.cs
  Ryujinx/Ryujinx.conf
Labels: horizon

#304 Implemented IApplicationDisplayService:ListDisplays
  Ryujinx.HLE/OsHle/Services/Vi/IApplicationDisplayService.cs
Labels: horizon

#306 Implement AcquireNpadStyleSetUpdate event
  Ryujinx.HLE/OsHle/Horizon.cs
  Ryujinx.HLE/OsHle/Services/Hid/IHidServer.cs
Labels: horizon

#266 Implement IProfile Get and GetBase
  Ryujinx.HLE/OsHle/Profile.cs
  Ryujinx.HLE/OsHle/Services/Acc/IProfile.cs
  Ryujinx.HLE/OsHle/Services/Acc/ProfileBase.cs
  Ryujinx.HLE/OsHle/Utilities/StringUtils.cs
  Ryujinx.HLE/Settings/SystemSettings.cs
  Ryujinx.HLE/Switch.cs
  Ryujinx/Config.cs
  Ryujinx/Ryujinx.conf
Labels: horizon

#327 Implement ITimeZone 201, 202
  Ryujinx.HLE/OsHle/Services/Time/ITimeZoneService.cs
Labels: horizon

#353 Implement PointCoord and PointSize shader attributes
  Ryujinx.Graphics/Gal/Shader/GlslDecl.cs
  Ryujinx.Graphics/Gal/Shader/GlslDecompiler.cs
Labels: gpu

#352 Add SHA256H, SHA256H2, SHA256SU0, SHA256SU1 instructions; add 4 Tests (closed box).
  ChocolArm64/AOpCodeTable.cs
  ChocolArm64/Instruction/AInstEmitSimdHash.cs
  ChocolArm64/Instruction/ASoftFallback.cs
  Ryujinx.Tests/Cpu/CpuTestSimd.cs
  Ryujinx.Tests/Cpu/CpuTestSimdReg.cs
  Ryujinx.Tests/Cpu/Tester/Instructions.cs
  Ryujinx.Tests/Cpu/Tester/Pseudocode.cs
  Ryujinx.Tests/Cpu/Tester/Types/Bits.cs
  Ryujinx.Tests/Cpu/Tester/Types/Integer.cs
Labels: cpu

#358 Rendertarget attachments, texture and image changes
  Ryujinx.Graphics/Gal/GalFrameBufferFormat.cs
  Ryujinx.Graphics/Gal/GalImage.cs
  Ryujinx.Graphics/Gal/GalImageFormat.cs
  Ryujinx.Graphics/Gal/GalTextureFormat.cs
  Ryujinx.Graphics/Gal/GalTextureType.cs
  Ryujinx.Graphics/Gal/GalZetaFormat.cs
  Ryujinx.Graphics/Gal/IGalFrameBuffer.cs
  Ryujinx.Graphics/Gal/IGalRasterizer.cs
  Ryujinx.Graphics/Gal/IGalTexture.cs
  Ryujinx.Graphics/Gal/ImageFormatConverter.cs
  Ryujinx.Graphics/Gal/OpenGL/ImageHandler.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLConstBuffer.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLEnumConverter.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLFrameBuffer.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLRasterizer.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLRenderer.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLTexture.cs
  Ryujinx.Graphics/Gal/Shader/GlslDecl.cs
  Ryujinx.Graphics/Gal/Shader/GlslDecompiler.cs
  Ryujinx.HLE/Gpu/Engines/NvGpuEngine2d.cs
  Ryujinx.HLE/Gpu/Engines/NvGpuEngine3d.cs
  Ryujinx.HLE/Gpu/Engines/NvGpuEngine3dReg.cs
  Ryujinx.HLE/Gpu/Texture/TextureFactory.cs
  Ryujinx.HLE/Gpu/Texture/TextureHelper.cs
  Ryujinx.HLE/Gpu/Texture/TextureReader.cs
Labels: enhancement, gpu
