Repository Ryujinx/Ryujinx, pull requests merged in 2018-12, with the labels that each got.

#516 Fix Sshl_V; Add S/Uqrshl_V, S/Uqshl_V, S/Urshl_V; Add Tests.
  ChocolArm64/Decoders/OpCodeSimdFcond64.cs
  ChocolArm64/Instructions/InstEmitSimdArithmetic.cs
  ChocolArm64/Instructions/InstEmitSimdLogical.cs
  ChocolArm64/Instructions/InstEmitSimdShift.cs
  ChocolArm64/Instructions/SoftFallback.cs
  ChocolArm64/OpCodeTable.cs
  ChocolArm64/Optimizations.cs
  Ryujinx.Tests/Cpu/CpuTestSimdReg.cs
Labels: cpu

#521 Fix InitializeOld & add FinalizeOld, SetAndWaitOld, GetOld on mm:u
  Ryujinx.HLE/HOS/Services/Mm/IRequest.cs
Labels: horizon

#528 Fix homebrew input
  Ryujinx.HLE/Input/Hid.cs
  Ryujinx.HLE/Input/HidNpadController.cs
  Ryujinx.HLE/Input/HidProController.cs
  Ryujinx/Ui/GLScreen.cs
Labels: horizon

#530 Move MaxUboSize definition
  Ryujinx.Graphics/Gal/OpenGL/OGLShader.cs
  Ryujinx.Graphics/Gal/Shader/GlslDecl.cs
  Ryujinx.Graphics/Gal/Shader/GlslDecompiler.cs
  Ryujinx.ShaderTools/Program.cs
Labels: gpu

#548 Fix issues with compressed NSO without a section
  Ryujinx.HLE/Loaders/Executables/NxStaticObject.cs
Labels: bug, horizon

#543 Fix Frecpe_S/V and Frsqrte_S/V (full FP emu.). Add Sse Opt. & SoftFloat Impl. for Fcmeq/ge/gt/le/lt_S/V (Reg & Zero), Faddp_S/V, Fmaxp_V, Fminp_V Inst.; add Sse Opt. for Shll_V, S/Ushll_V Inst.; improve Sse Opt. for Xtn_V Inst.. Add Tests.
  ChocolArm64/Instructions/InstEmitSimdArithmetic.cs
  ChocolArm64/Instructions/InstEmitSimdCmp.cs
  ChocolArm64/Instructions/InstEmitSimdHelper.cs
  ChocolArm64/Instructions/InstEmitSimdMove.cs
  ChocolArm64/Instructions/InstEmitSimdShift.cs
  ChocolArm64/Instructions/SoftFloat.cs
  ChocolArm64/OpCodeTable.cs
  ChocolArm64/Optimizations.cs
  Ryujinx.Tests/Cpu/CpuTestSimd.cs
  Ryujinx.Tests/Cpu/CpuTestSimdReg.cs
  Ryujinx.Tests/Cpu/CpuTestSimdShImm.cs
Labels: cpu

#517 Add RG16 Sint
  Ryujinx.Graphics/Graphics3d/Texture/ImageUtils.cs
Labels: gpu

#535 System Language can be configurable
  Ryujinx.HLE/HOS/SystemState/SystemStateMgr.cs
  Ryujinx/Config.cs
  Ryujinx/Ryujinx.conf
Labels: miscellaneous

#553 Fix wrong contenttype used
  Ryujinx.HLE/HOS/Services/FspSrv/IFileSystemProxy.cs
Labels: bug, horizon
