Repository Ryujinx/Ryujinx, pull requests merged in 2019-07, with the labels that each got.

#721 Refactor the friend namespace
  Ryujinx.HLE/FileSystem/SaveHelper.cs
  Ryujinx.HLE/HOS/Services/Friend/FriendErr.cs
  Ryujinx.HLE/HOS/Services/Friend/FriendError.cs
  Ryujinx.HLE/HOS/Services/Friend/FriendServicePermissionLevel.cs
  Ryujinx.HLE/HOS/Services/Friend/IDaemonSuspendSessionService.cs
  Ryujinx.HLE/HOS/Services/Friend/IFriendService.cs
  Ryujinx.HLE/HOS/Services/Friend/IFriendServiceTypes.cs
  Ryujinx.HLE/HOS/Services/Friend/INotificationService.cs
  Ryujinx.HLE/HOS/Services/Friend/IServiceCreator.cs
  Ryujinx.HLE/HOS/Services/Friend/NotificationEventHandler.cs
  Ryujinx.HLE/HOS/Services/FspSrv/IFileSystemProxy.cs
  Ryujinx.HLE/HOS/Services/ServiceFactory.cs
  Ryujinx.HLE/Utilities/UInt128.cs
Labels: enhancement, horizon, miscellaneous

#722 ITimeZoneService rewrite
  Ryujinx.HLE/FileSystem/Content/ContentManager.cs
  Ryujinx.HLE/HOS/Services/Time/ITimeZoneService.cs
  Ryujinx.HLE/HOS/Services/Time/ITimeZoneServiceTypes.cs
  Ryujinx.HLE/HOS/Services/Time/TimeError.cs
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZone.cs
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZoneManager.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx.HLE/Utilities/StreamUtils.cs
  Ryujinx.HLE/Utilities/StringUtils.cs
Labels: enhancement, horizon

#720 Add Saddlv_V Inst. Improve Cnt_V, Dup_Gp & Ins_Gp Tests. Tuneup Cls_V & Clz_V Tests.
  ChocolArm64/Instructions/InstEmitSimdArithmetic.cs
  ChocolArm64/Instructions/InstEmitSimdHelper.cs
  ChocolArm64/OpCodeTable.cs
  Ryujinx.Tests/Cpu/CpuTestSimd.cs
  Ryujinx.Tests/Cpu/CpuTestSimdCvt.cs
  Ryujinx.Tests/Cpu/CpuTestSimdIns.cs
  Ryujinx.Tests/Ryujinx.Tests.csproj
Labels: cpu, miscellaneous

#726 IPC services refactoring
  Ryujinx.HLE/HOS/Services/Acc/IAccountService.cs
  Ryujinx.HLE/HOS/Services/Am/IAllSystemAppletProxiesService.cs
  Ryujinx.HLE/HOS/Services/Am/IApplicationProxyService.cs
  Ryujinx.HLE/HOS/Services/Apm/IManager.cs
  Ryujinx.HLE/HOS/Services/Aud/IAudioOutManager.cs
  Ryujinx.HLE/HOS/Services/Aud/IAudioRendererManager.cs
  Ryujinx.HLE/HOS/Services/Aud/IHardwareOpusDecoderManager.cs
  Ryujinx.HLE/HOS/Services/Bcat/IServiceCreator.cs
  Ryujinx.HLE/HOS/Services/Bsd/IClient.cs
  Ryujinx.HLE/HOS/Services/Caps/IAlbumAccessorService.cs
  Ryujinx.HLE/HOS/Services/Caps/IScreenshotService.cs
  Ryujinx.HLE/HOS/Services/Es/IETicketService.cs
  Ryujinx.HLE/HOS/Services/Friend/IServiceCreator.cs
  Ryujinx.HLE/HOS/Services/FspSrv/IFileSystemProxy.cs
  Ryujinx.HLE/HOS/Services/Hid/IHidServer.cs
  Ryujinx.HLE/HOS/Services/Hid/Irs/IIrSensorServer.cs
  Ryujinx.HLE/HOS/Services/Ldr/IRoInterface.cs
  Ryujinx.HLE/HOS/Services/Lm/ILogService.cs
  Ryujinx.HLE/HOS/Services/Lr/ILocationResolverManager.cs
  Ryujinx.HLE/HOS/Services/Mm/IRequest.cs
  Ryujinx.HLE/HOS/Services/Ncm/IContentManager.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/IUserManager.cs
  Ryujinx.HLE/HOS/Services/Nifm/IStaticService.cs
  Ryujinx.HLE/HOS/Services/Ns/IAddOnContentManager.cs
  Ryujinx.HLE/HOS/Services/Ns/IApplicationManagerInterface.cs
  Ryujinx.HLE/HOS/Services/Ns/IServiceGetterInterface.cs
  Ryujinx.HLE/HOS/Services/Ns/ISystemUpdateInterface.cs
  Ryujinx.HLE/HOS/Services/Ns/IVulnerabilityManagerInterface.cs
  Ryujinx.HLE/HOS/Services/Nv/INvDrvServices.cs
  Ryujinx.HLE/HOS/Services/Pctl/IParentalControlServiceFactory.cs
  Ryujinx.HLE/HOS/Services/Pl/ISharedFontManager.cs
  Ryujinx.HLE/HOS/Services/Pm/IShellInterface.cs
  Ryujinx.HLE/HOS/Services/Prepo/IPrepoService.cs
  Ryujinx.HLE/HOS/Services/Psm/IPsmServer.cs
  Ryujinx.HLE/HOS/Services/ServiceAttributes.cs
  Ryujinx.HLE/HOS/Services/ServiceConfiguration.cs
  Ryujinx.HLE/HOS/Services/ServiceFactory.cs
  Ryujinx.HLE/HOS/Services/Set/ISettingsServer.cs
  Ryujinx.HLE/HOS/Services/Set/ISystemSettingsServer.cs
  Ryujinx.HLE/HOS/Services/Sfdnsres/IResolver.cs
  Ryujinx.HLE/HOS/Services/Sm/IUserInterface.cs
  Ryujinx.HLE/HOS/Services/Spl/IRandomInterface.cs
  Ryujinx.HLE/HOS/Services/Ssl/ISslService.cs
  Ryujinx.HLE/HOS/Services/Time/IStaticService.cs
  Ryujinx.HLE/HOS/Services/Vi/IApplicationRootService.cs
  Ryujinx.HLE/HOS/Services/Vi/IManagerRootService.cs
  Ryujinx.HLE/HOS/Services/Vi/ISystemRootService.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
Labels: enhancement, horizon

#725 Update to LibHac 0.5.0
  Ryujinx.HLE/HOS/Services/Acc/IAccountService.cs
  Ryujinx.HLE/HOS/Services/FspSrv/IDirectory.cs
  Ryujinx.HLE/HOS/Services/FspSrv/IFile.cs
  Ryujinx.HLE/HOS/Services/FspSrv/IFileSystem.cs
  Ryujinx.HLE/HOS/Services/FspSrv/IFileSystemProxy.cs
  Ryujinx.HLE/HOS/Services/FspSrv/IStorage.cs
  Ryujinx.HLE/HOS/Services/Ns/IApplicationManagerInterface.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
Labels: enhancement, horizon

#730 Fix bsd recvfrom implementation
  Ryujinx.HLE/HOS/Services/Bsd/IClient.cs
Labels: bug, horizon

#732 Accurately implement steady & system clocks
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Time/Clock/ClockTypes.cs
  Ryujinx.HLE/HOS/Services/Time/Clock/StandardLocalSystemClockCore.cs
  Ryujinx.HLE/HOS/Services/Time/Clock/StandardNetworkSystemClockCore.cs
  Ryujinx.HLE/HOS/Services/Time/Clock/StandardUserSystemClockCore.cs
  Ryujinx.HLE/HOS/Services/Time/Clock/SteadyClockCore.cs
  Ryujinx.HLE/HOS/Services/Time/Clock/SystemClockCore.cs
  Ryujinx.HLE/HOS/Services/Time/IStaticService.cs
  Ryujinx.HLE/HOS/Services/Time/ISteadyClock.cs
  Ryujinx.HLE/HOS/Services/Time/ISystemClock.cs
  Ryujinx.HLE/HOS/Services/Time/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Time/SystemClockType.cs
  Ryujinx.HLE/HOS/Services/Time/TimePermissions.cs
Labels: enhancement, horizon

#733 Fix private on some call
  Ryujinx.HLE/HOS/Services/Acc/IProfile.cs
  Ryujinx.HLE/HOS/Services/Aud/AudioRenderer/IAudioRenderer.cs
  Ryujinx.HLE/HOS/Services/Aud/IAudioRendererManager.cs
  Ryujinx.HLE/HOS/Services/IpcService.cs
  Ryujinx.HLE/HOS/Services/Lr/ILocationResolverManager.cs
Labels: fix, horizon

#734 Update IpcService.cs
  Ryujinx.HLE/HOS/Services/IpcService.cs
Labels: fix, horizon

#735 Implement time:* 2.0.0 & 3.0.0 commands
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Bpc/IRtcManager.cs
  Ryujinx.HLE/HOS/Services/Time/Clock/ClockTypes.cs
  Ryujinx.HLE/HOS/Services/Time/Clock/StandardNetworkSystemClockCore.cs
  Ryujinx.HLE/HOS/Services/Time/Clock/SteadyClockCore.cs
  Ryujinx.HLE/HOS/Services/Time/IStaticService.cs
  Ryujinx.HLE/HOS/Services/Time/ISteadyClock.cs
  Ryujinx.HLE/HOS/Services/Time/ISystemClock.cs
Labels: enhancement, horizon

#723 Little rewrite of HID input
  Ryujinx.HLE/DeviceMemory.cs
  Ryujinx.HLE/HOS/Services/Hid/HidUtils.cs
  Ryujinx.HLE/HOS/Services/Hid/IHidServer.cs
  Ryujinx.HLE/HOS/Services/Hid/Irs/IIrSensorServer.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/Device.cs
  Ryujinx.HLE/Input/Controller/BaseController.cs
  Ryujinx.HLE/Input/Controller/NpadController.cs
  Ryujinx.HLE/Input/Controller/ProController.cs
  Ryujinx.HLE/Input/Controller/Types/BatteryState.cs
  Ryujinx.HLE/Input/Controller/Types/ControllerButtons.cs
  Ryujinx.HLE/Input/Controller/Types/ControllerColorDescription.cs
  Ryujinx.HLE/Input/Controller/Types/ControllerConnectionState.cs
  Ryujinx.HLE/Input/Controller/Types/ControllerDeviceState.cs
  Ryujinx.HLE/Input/Controller/Types/ControllerDeviceType.cs
  Ryujinx.HLE/Input/Controller/Types/ControllerHeader.cs
  Ryujinx.HLE/Input/Controller/Types/ControllerId.cs
  Ryujinx.HLE/Input/Controller/Types/ControllerLayouts.cs
  Ryujinx.HLE/Input/Controller/Types/ControllerState.cs
  Ryujinx.HLE/Input/Controller/Types/ControllerStateHeader.cs
  Ryujinx.HLE/Input/Controller/Types/ControllerStatus.cs
  Ryujinx.HLE/Input/Controller/Types/DeviceFlags.cs
  Ryujinx.HLE/Input/Controller/Types/HotkeyButtons.cs
  Ryujinx.HLE/Input/Controller/Types/JoystickPosition.cs
  Ryujinx.HLE/Input/Controller/Types/NpadColor.cs
  Ryujinx.HLE/Input/Hid.cs
  Ryujinx.HLE/Input/HidBaseController.cs
  Ryujinx.HLE/Input/HidControllerColorDesc.cs
  Ryujinx.HLE/Input/HidNpadController.cs
  Ryujinx.HLE/Input/HidProController.cs
  Ryujinx.HLE/Input/Keyboard/Keyboard.cs
  Ryujinx.HLE/Input/Keyboard/KeyboardEntry.cs
  Ryujinx.HLE/Input/Keyboard/KeyboardHeader.cs
  Ryujinx.HLE/Input/Touch/TouchData.cs
  Ryujinx.HLE/Input/Touch/TouchEntry.cs
  Ryujinx.HLE/Input/Touch/TouchHeader.cs
  Ryujinx.HLE/Input/Touch/TouchPoint.cs
  Ryujinx.Profiler/ProfileConfig.cs
  Ryujinx/Config.jsonc
  Ryujinx/Configuration.cs
  Ryujinx/Ui/GLScreen.cs
  Ryujinx/Ui/NpadController.cs
  Ryujinx/Ui/NpadKeyboard.cs
Labels: enhancement, horizon, work-in-progress

#736 Implement time:* 4.0.0 commands
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Time/Clock/ClockTypes.cs
  Ryujinx.HLE/HOS/Services/Time/Clock/EphemeralNetworkSystemClockCore.cs
  Ryujinx.HLE/HOS/Services/Time/Clock/StandardLocalSystemClockCore.cs
  Ryujinx.HLE/HOS/Services/Time/Clock/StandardNetworkSystemClockCore.cs
  Ryujinx.HLE/HOS/Services/Time/Clock/StandardSteadyClockCore.cs
  Ryujinx.HLE/HOS/Services/Time/Clock/StandardUserSystemClockCore.cs
  Ryujinx.HLE/HOS/Services/Time/Clock/SteadyClockCore.cs
  Ryujinx.HLE/HOS/Services/Time/Clock/SystemClockCore.cs
  Ryujinx.HLE/HOS/Services/Time/Clock/TickBasedSteadyClockCore.cs
  Ryujinx.HLE/HOS/Services/Time/IStaticService.cs
  Ryujinx.HLE/HOS/Services/Time/ISteadyClock.cs
  Ryujinx.HLE/HOS/Services/Time/ITimeZoneService.cs
Labels: enhancement, horizon
