Repository Ryujinx/Ryujinx, pull requests merged in 2019-11, with the labels that each got.

#793 Update Config
  Ryujinx/Config.json
Labels: fix, miscellaneous, needs-feedback

#813 Update README.md to reflect new changes in NXDumptool
  README.md
Labels: miscellaneous

#810 Add detail of ZbcSetTableArguments
  Ryujinx.HLE/HOS/Services/Nv/INvDrvServices.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostCtrlGpu/Types/ZbcSetTableArguments.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Types/Fence.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Types/MultiFence.cs
Labels: fix, service:nv, service:surface-flinger

#809 Improve IRoInterface logic
  Ryujinx.HLE/HOS/Services/Loader/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Ro/IRoInterface.cs
  Ryujinx.HLE/HOS/Services/Ro/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Ro/Types/NroInfo.cs
  Ryujinx.HLE/HOS/Services/Ro/Types/NrrHeader.cs
  Ryujinx.HLE/HOS/Services/Ro/Types/NrrInfo.cs
Labels: enhancement, service:ro

#814 Update KEYS.md to use a new dumping guide and correct title.key formatting
  KEYS.md
  README.md
Labels: miscellaneous

#819 Add Mrs & Msr (Nzcv) Inst., with Tests.
  ARMeilleure/Instructions/InstEmitSystem.cs
  Ryujinx.Tests/Cpu/CpuTestSystem.cs
Labels: cpu

#804 Implement a rudimentary applets system
  Ryujinx.HLE/HOS/Applets/AppletManager.cs
  Ryujinx.HLE/HOS/Applets/IApplet.cs
  Ryujinx.HLE/HOS/Applets/PlayerSelect/PlayerSelectApplet.cs
  Ryujinx.HLE/HOS/Applets/PlayerSelect/PlayerSelectResult.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/LibraryAppletCreator/ILibraryAppletAccessor.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ILibraryAppletCreator.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AppletFifo.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/Types/AppletId.cs
Labels: enhancement, horizon, service:am

#822 Fix GetAudioDeviceServiceWithRevisionInfo logging
  Ryujinx.HLE/HOS/Services/Audio/IAudioRendererManager.cs
Labels: fix, service:audio

#818 Set AArch32 mode in KThread
  Ryujinx.HLE/HOS/Kernel/Threading/KThread.cs
  Ryujinx.HLE/HOS/ProgramLoader.cs
Labels: fix, horizon

#823 Implement IApplicationFunctions & IQueryService commands
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
  Ryujinx.HLE/HOS/Services/Am/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Sdb/Pdm/IQueryService.cs
  Ryujinx.HLE/HOS/Services/Sdb/Pdm/QueryService/QueryPlayStatisticsManager.cs
  Ryujinx.HLE/HOS/Services/Sdb/Pdm/QueryService/Types/ApplicationPlayStatistics.cs
  Ryujinx.HLE/HOS/Services/Sdb/Pdm/QueryService/Types/PlayLogQueryCapability.cs
  Ryujinx.HLE/HOS/Services/Sdb/Pdm/ResultCode.cs
Labels: service-implementation, service:am, service:sdb

#826 Initial swkbd implementation
  Ryujinx.HLE/HOS/Applets/AppletManager.cs
  Ryujinx.HLE/HOS/Applets/IApplet.cs
  Ryujinx.HLE/HOS/Applets/PlayerSelect/PlayerSelectApplet.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardApplet.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardConfig.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardState.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardType.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/LibraryAppletCreator/ILibraryAppletAccessor.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ILibraryAppletCreator.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AppletFifo.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AppletSession.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/IAppletFifo.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/IStorageAccessor.cs
  Ryujinx.HLE/HOS/Services/Am/ResultCode.cs
Labels: enhancement, horizon, service-implementation, service:am

#829 ldn: Implement calls of UserLocalCommunicationService
  Ryujinx.Common/Logging/LogClass.cs
  Ryujinx.HLE/HOS/Services/Ldn/IUserServiceCreator.cs
  Ryujinx.HLE/HOS/Services/Ldn/NetworkInterface.cs
  Ryujinx.HLE/HOS/Services/Ldn/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Ldn/Types/NetworkState.cs
  Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/IUserLocalCommunicationService.cs
Labels: enhancement, service-implementation, service:ldn

#832 Use BinaryPrimitives.ReverseEndianness instead EndianSwap class
  Ryujinx.Common/Utilities/EndianSwap.cs
  Ryujinx.HLE/HOS/Font/SharedFontManager.cs
  Ryujinx.HLE/HOS/Services/Audio/Types/OpusPacketHeader.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/IClient.cs
Labels: enhancement, miscellaneous

#833 Fix timezone month offset by one
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZone.cs
Labels: bug, fix, service:time

#830 prepo: Implement calls of IPrepoService
  Ryujinx.HLE/HOS/Services/Ldn/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Prepo/IPrepoService.cs
  Ryujinx.HLE/HOS/Services/Prepo/ResultCode.cs
Labels: enhancement, service-implementation, service:prepo

#834 Fix issues on ro implementation
  Ryujinx.HLE/HOS/Services/Ro/IRoInterface.cs
  Ryujinx.HLE/HOS/Services/Ro/ResultCode.cs
Labels: bug, fix, service:ro

#836 Fix wrong buffer usage in time
  Ryujinx.HLE/HOS/Services/Time/IStaticServiceForPsc.cs
Labels: bug, fix, service:time

#757 Add features to GUI
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Arp/ApplicationLaunchProperty.cs
  Ryujinx.HLE/Loaders/Npdm/ACI0.cs
  Ryujinx.HLE/Loaders/Npdm/ACID.cs
  Ryujinx.HLE/Loaders/Npdm/FsAccessControl.cs
  Ryujinx.HLE/Loaders/Npdm/KernelAccessControl.cs
  Ryujinx.HLE/Loaders/Npdm/Npdm.cs
  Ryujinx.HLE/Loaders/Npdm/ServiceAccessControl.cs
  Ryujinx.sln.DotSettings
  Ryujinx/Config.json
  Ryujinx/Configuration.cs
  Ryujinx/Program.cs
  Ryujinx/RPsupported.dat
  Ryujinx/Ryujinx.csproj
  Ryujinx/Theme.css
  Ryujinx/Ui/AboutInfo.cs
  Ryujinx/Ui/AboutWindow.cs
  Ryujinx/Ui/AboutWindow.glade
  Ryujinx/Ui/ApplicationAddedEventArgs.cs
  Ryujinx/Ui/ApplicationData.cs
  Ryujinx/Ui/ApplicationLibrary.cs
  Ryujinx/Ui/ApplicationMetadata.cs
  Ryujinx/Ui/GLScreen.cs
  Ryujinx/Ui/GtkDialog.cs
  Ryujinx/Ui/GuiColumns.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
  Ryujinx/Ui/NpadController.cs
  Ryujinx/Ui/NpadKeyboard.cs
  Ryujinx/Ui/SwitchSettings.cs
  Ryujinx/Ui/SwitchSettings.glade
  Ryujinx/Ui/assets/BlueCon.png
  Ryujinx/Ui/assets/DiscordLogo.png
  Ryujinx/Ui/assets/GitHubLogo.png
  Ryujinx/Ui/assets/Icon.png
  Ryujinx/Ui/assets/JoyCon.png
  Ryujinx/Ui/assets/NCAIcon.png
  Ryujinx/Ui/assets/NROIcon.png
  Ryujinx/Ui/assets/NSOIcon.png
  Ryujinx/Ui/assets/NSPIcon.png
  Ryujinx/Ui/assets/PatreonLogo.png
  Ryujinx/Ui/assets/ProCon.png
  Ryujinx/Ui/assets/RedCon.png
  Ryujinx/Ui/assets/TwitterLogo.png
  Ryujinx/Ui/assets/XCIIcon.png
  Ryujinx/_schema.json
Labels: enhancement, gui

#837 prepo: Silent error while parsing report
  Ryujinx.HLE/HOS/Services/Prepo/IPrepoService.cs
Labels: bug, fix, service:prepo
