Repository Ryujinx/Ryujinx, pull requests merged in 2019-02, with the labels that each got.

#563 Scissor test fix
  Ryujinx.Graphics/Gal/OpenGL/OGLPipeline.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLRenderTarget.cs
  Ryujinx.Graphics/Graphics3d/NvGpuEngine3d.cs
Labels: bug, gpu

#573 Logger and Configuration Refactoring
  CONFIG.md
  README.md
  Ryujinx.Common/Extensions/BinaryReaderExtensions.cs
  Ryujinx.Common/Extensions/EnumExtensions.cs
  Ryujinx.Common/Logging/Formatters/DefaultLogFormatter.cs
  Ryujinx.Common/Logging/Formatters/ILogFormatter.cs
  Ryujinx.Common/Logging/LogClass.cs
  Ryujinx.Common/Logging/Logger.cs
  Ryujinx.Common/Logging/Targets/AsyncLogTargetWrapper.cs
  Ryujinx.Common/Logging/Targets/ConsoleLogTarget.cs
  Ryujinx.Common/Logging/Targets/FileLogTarget.cs
  Ryujinx.Common/Logging/Targets/ILogTarget.cs
  Ryujinx.Common/Logging/Targets/JsonLogTarget.cs
  Ryujinx.Common/Pools/ObjectPool.cs
  Ryujinx.Common/Pools/SharedPools.cs
  Ryujinx.Common/Ryujinx.Common.csproj
  Ryujinx.Common/Utilities/BitUtils.cs
  Ryujinx.Common/Utilities/HexUtils.cs
  Ryujinx.HLE/Switch.cs
  Ryujinx.sln
  Ryujinx/Config.cs
  Ryujinx/Config.jsonc
  Ryujinx/Configuration.cs
  Ryujinx/Program.cs
  Ryujinx/Ryujinx.conf
  Ryujinx/Ryujinx.csproj
  Ryujinx/Ui/GLScreen.cs
  Ryujinx/Ui/Log.cs
  Ryujinx/Ui/NpadController.cs
  Ryujinx/Ui/NpadKeyboard.cs
  Ryujinx/_schema.json
Labels: enhancement

#568 Do not increment played wave buffers count for empty wave buffers
  Ryujinx.HLE/HOS/Services/Aud/AudioRenderer/IAudioRenderer.cs
  Ryujinx.HLE/HOS/Services/Aud/AudioRenderer/VoiceContext.cs
Labels: audio, bug

#547 Change timestamp value on GPU query with timestamp and counter writeback
  Ryujinx.Graphics/Graphics3d/NvGpuEngine3d.cs
Labels: gpu

#577 Support HomeBrew Loader
  Ryujinx.HLE/FileSystem/FileSystemProvider.cs
  Ryujinx.HLE/FileSystem/IFileSystemProvider.cs
  Ryujinx.HLE/FileSystem/PFsProvider.cs
  Ryujinx.HLE/FileSystem/RomFsProvider.cs
  Ryujinx.HLE/HOS/HomebrewRomFsStream.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcMemory.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcTable.cs
  Ryujinx.HLE/HOS/Services/FspSrv/FileTimestamp.cs
  Ryujinx.HLE/HOS/Services/FspSrv/IFileSystem.cs
  Ryujinx.HLE/HOS/Services/Ns/IApplicationManagerInterface.cs
  Ryujinx.HLE/HOS/Services/Ns/IServiceGetterInterface.cs
  Ryujinx.HLE/HOS/Services/Pm/IShellInterface.cs
  Ryujinx.HLE/HOS/Services/ServiceFactory.cs
  Ryujinx.HLE/HOS/Services/Sm/IUserInterface.cs
  Ryujinx.HLE/HOS/Services/Sm/SmErr.cs
  Ryujinx.HLE/Loaders/Executables/NxRelocatableObject.cs
Labels: enhancement, horizon

#585 Implement IStorage GetSize
  Ryujinx.HLE/HOS/Services/FspSrv/IStorage.cs
Labels: horizon

#588 Config: Correct MulticoreScheduling configuration casing
  Ryujinx/Configuration.cs
Labels: bug, gui

#576 Optimize CMN/ADDS to do a single comparison like CMP/SUBS
  ChocolArm64/Instructions/InstEmitAlu.cs
  ChocolArm64/Translation/ILEmitterCtx.cs
Labels: cpu, enhancement

#589 ARM exclusive monitor and multicore fixes
  ChocolArm64/ChocolArm64.csproj
  ChocolArm64/CpuThread.cs
  ChocolArm64/Instructions/InstEmitMemoryEx.cs
  ChocolArm64/Memory/CompareExchange128.cs
  ChocolArm64/Memory/MemoryAlloc.cs
  ChocolArm64/Memory/MemoryAllocUnix.cs
  ChocolArm64/Memory/MemoryAllocWindows.cs
  ChocolArm64/Memory/MemoryManager.cs
  ChocolArm64/Memory/MemoryProtection.cs
  ChocolArm64/Memory/MemoryProtectionException.cs
  ChocolArm64/State/CpuThreadState.cs
  ChocolArm64/Translation/ILEmitterCtx.cs
  Ryujinx.HLE/HOS/Kernel/Common/KernelTransfer.cs
  Ryujinx.HLE/HOS/Kernel/Threading/HleScheduler.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KAddressArbiter.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KCoreContext.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KThread.cs
  Ryujinx/Config.jsonc
  Ryujinx/_schema.json
Labels: cpu, enhancement

#596 Implement ConvertScalingMode properly
  Ryujinx.HLE/HOS/Services/Vi/IApplicationDisplayService.cs
  Ryujinx.HLE/HOS/Services/Vi/ScalingMode.cs
Labels: bug, horizon

#578 Implement fixed-point variant of the UCVTF and SCVTF instructions
  ChocolArm64/Decoders/OpCodeSimdCvt64.cs
  ChocolArm64/Instructions/InstEmitSimdCvt.cs
  ChocolArm64/OpCodeTable.cs
Labels: cpu, enhancement

#571 Optimize address translation and write tracking on the MMU
  ChocolArm64/Events/InvalidAccessEventArgs.cs
  ChocolArm64/Exceptions/VmmPageFaultException.cs
  ChocolArm64/Instructions/InstEmitMemory.cs
  ChocolArm64/Instructions/InstEmitMemory32.cs
  ChocolArm64/Instructions/InstEmitMemoryEx.cs
  ChocolArm64/Instructions/InstEmitMemoryHelper.cs
  ChocolArm64/Instructions/InstEmitSimdMemory.cs
  ChocolArm64/Instructions/InstEmitSystem.cs
  ChocolArm64/Memory/CompareExchange128.cs
  ChocolArm64/Memory/MemoryManagement.cs
  ChocolArm64/Memory/MemoryManagementUnix.cs
  ChocolArm64/Memory/MemoryManagementWindows.cs
  ChocolArm64/Memory/MemoryManager.cs
  ChocolArm64/Translation/ILEmitterCtx.cs
  ChocolArm64/Translation/Translator.cs
  Ryujinx.Graphics/Memory/NvGpuVmmCache.cs
  Ryujinx.HLE/DeviceMemory.cs
  Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcHandler.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcIpc.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcMemory.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcSystem.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcThread.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcThreadSync.cs
Labels: cpu, enhancement, gpu

#605 Remove all the calls to StaticCast intrinsic methods
  ChocolArm64/Instructions/InstEmitMemoryHelper.cs
  ChocolArm64/Instructions/InstEmitSimdArithmetic.cs
  ChocolArm64/Instructions/InstEmitSimdCmp.cs
  ChocolArm64/Instructions/InstEmitSimdCvt.cs
  ChocolArm64/Instructions/InstEmitSimdHelper.cs
  ChocolArm64/Instructions/InstEmitSimdLogical.cs
  ChocolArm64/Instructions/InstEmitSimdMove.cs
  ChocolArm64/Instructions/InstEmitSimdShift.cs
  ChocolArm64/Instructions/VectorHelper.cs
Labels: cpu, enhancement

#606 Optimize MOVI/MVNI instructions using intrinsics
  ChocolArm64/Instructions/InstEmitSimdMove.cs
Labels: cpu, enhancement, needs-tests

#525 Initial non 2D textures support
  Ryujinx.Common/Utilities/BitUtils.cs
  Ryujinx.Graphics/DepthCompareFunc.cs
  Ryujinx.Graphics/Gal/GalImage.cs
  Ryujinx.Graphics/Gal/GalTextureSampler.cs
  Ryujinx.Graphics/Gal/GalTextureTarget.cs
  Ryujinx.Graphics/Gal/IGalRenderTarget.cs
  Ryujinx.Graphics/Gal/IGalTexture.cs
  Ryujinx.Graphics/Gal/OpenGL/ImageHandler.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLEnumConverter.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLExtension.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLRenderTarget.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLShader.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLTexture.cs
  Ryujinx.Graphics/Gal/Shader/GlslDecl.cs
  Ryujinx.Graphics/Gal/Shader/GlslDecompiler.cs
  Ryujinx.Graphics/Gal/Shader/ShaderDecodeMem.cs
  Ryujinx.Graphics/Gal/Shader/ShaderDecodeOpCode.cs
  Ryujinx.Graphics/Gal/Shader/ShaderIrInst.cs
  Ryujinx.Graphics/Gal/Shader/ShaderIrMetaTex.cs
  Ryujinx.Graphics/Gal/Shader/ShaderOpCodeTable.cs
  Ryujinx.Graphics/Gal/ShaderDeclInfo.cs
  Ryujinx.Graphics/GpuResourceManager.cs
  Ryujinx.Graphics/Graphics3d/NvGpuEngine2d.cs
  Ryujinx.Graphics/Graphics3d/NvGpuEngine2dReg.cs
  Ryujinx.Graphics/Graphics3d/NvGpuEngine3d.cs
  Ryujinx.Graphics/Graphics3d/NvGpuEngine3dReg.cs
  Ryujinx.Graphics/Graphics3d/NvGpuEngineM2mf.cs
  Ryujinx.Graphics/Graphics3d/NvGpuEngineP2mf.cs
  Ryujinx.Graphics/Graphics3d/Texture/ASTCDecoder.cs
  Ryujinx.Graphics/Graphics3d/Texture/BlockLinearSwizzle.cs
  Ryujinx.Graphics/Graphics3d/Texture/ISwizzle.cs
  Ryujinx.Graphics/Graphics3d/Texture/ImageUtils.cs
  Ryujinx.Graphics/Graphics3d/Texture/LinearSwizzle.cs
  Ryujinx.Graphics/Graphics3d/Texture/TextureFactory.cs
  Ryujinx.Graphics/Graphics3d/Texture/TextureHelper.cs
  Ryujinx.Graphics/Texture/TextureInstructionSuffix.cs
  Ryujinx.Graphics/VDec/VideoDecoder.cs
  Ryujinx.HLE/HOS/Services/Vi/NvFlinger.cs
  Ryujinx.ShaderTools/Program.cs
Labels: gpu

#575 Misc. CPU optimizations
  ChocolArm64/Instructions/InstEmitFlow.cs
  ChocolArm64/Instructions/InstEmitFlow32.cs
  ChocolArm64/Instructions/InstEmitFlowHelper.cs
  ChocolArm64/Optimizations.cs
  ChocolArm64/Translation/CallType.cs
  ChocolArm64/Translation/ILBlock.cs
  ChocolArm64/Translation/ILEmitterCtx.cs
  ChocolArm64/Translation/ILLabel.cs
  ChocolArm64/Translation/ILMethodBuilder.cs
  ChocolArm64/Translation/ILOpCode.cs
  ChocolArm64/Translation/ILOpCodeBranch.cs
  ChocolArm64/Translation/ILOpCodeCall.cs
  ChocolArm64/Translation/ILOpCodeConst.cs
  ChocolArm64/Translation/ILOpCodeLoad.cs
  ChocolArm64/Translation/ILOpCodeLoadField.cs
  ChocolArm64/Translation/ILOpCodeLoadState.cs
  ChocolArm64/Translation/ILOpCodeLog.cs
  ChocolArm64/Translation/ILOpCodeStore.cs
  ChocolArm64/Translation/ILOpCodeStoreState.cs
  ChocolArm64/Translation/RegisterUsage.cs
  ChocolArm64/Translation/TranslatedSub.cs
  ChocolArm64/Translation/Translator.cs
  ChocolArm64/Translation/TranslatorQueue.cs
  ChocolArm64/Translation/TranslatorQueueItem.cs
  ChocolArm64/Translation/VarType.cs
  Ryujinx/Config.jsonc
  Ryujinx/Configuration.cs
  Ryujinx/_schema.json
Labels: cpu, enhancement
