Repository Ryujinx/Ryujinx, pull requests merged in 2019-01, with the labels that each got.

#552 Quad to triangle optimization
  Ryujinx.Graphics/Graphics3d/NvGpuEngine3d.cs
  Ryujinx.Graphics/QuadHelper.cs
Labels: gpu

#549 Update to LibHac 0.2.0
  Ryujinx.HLE/FileSystem/Content/ContentManager.cs
  Ryujinx.HLE/FileSystem/PFsProvider.cs
  Ryujinx.HLE/FileSystem/RomFsProvider.cs
  Ryujinx.HLE/HOS/Font/SharedFontManager.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/FspSrv/IFileSystemProxy.cs
  Ryujinx.HLE/HOS/Services/Set/ISystemSettingsServer.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx/Config.cs
Labels: enhancement, miscellaneous

#537 Refactor Ryujinx.Common and HLE Stub Logging
  Ryujinx.Common/BitUtils.cs
  Ryujinx.Common/HexUtils.cs
  Ryujinx.Common/Logging/LogEventArgs.cs
  Ryujinx.Common/Logging/Logger.cs
  Ryujinx.HLE/Exceptions/ServiceNotImplementedException.cs
  Ryujinx.HLE/HOS/Services/Acc/IAccountService.cs
  Ryujinx.HLE/HOS/Services/Acc/IManagerForApplication.cs
  Ryujinx.HLE/HOS/Services/Acc/IProfile.cs
  Ryujinx.HLE/HOS/Services/Am/IApplicationFunctions.cs
  Ryujinx.HLE/HOS/Services/Am/IAudioController.cs
  Ryujinx.HLE/HOS/Services/Am/ICommonStateGetter.cs
  Ryujinx.HLE/HOS/Services/Am/IHomeMenuFunctions.cs
  Ryujinx.HLE/HOS/Services/Am/ILibraryAppletAccessor.cs
  Ryujinx.HLE/HOS/Services/Am/ISelfController.cs
  Ryujinx.HLE/HOS/Services/Am/IWindowController.cs
  Ryujinx.HLE/HOS/Services/Apm/ISession.cs
  Ryujinx.HLE/HOS/Services/Aud/AudioRenderer/IAudioRenderer.cs
  Ryujinx.HLE/HOS/Services/Aud/IAudioDevice.cs
  Ryujinx.HLE/HOS/Services/Aud/IAudioRendererManager.cs
  Ryujinx.HLE/HOS/Services/Bsd/IClient.cs
  Ryujinx.HLE/HOS/Services/Friend/IFriendService.cs
  Ryujinx.HLE/HOS/Services/Hid/IHidServer.cs
  Ryujinx.HLE/HOS/Services/IpcService.cs
  Ryujinx.HLE/HOS/Services/Irs/IIrSensorServer.cs
  Ryujinx.HLE/HOS/Services/Mm/IRequest.cs
  Ryujinx.HLE/HOS/Services/Nfp/IUser.cs
  Ryujinx.HLE/HOS/Services/Nifm/IGeneralService.cs
  Ryujinx.HLE/HOS/Services/Nifm/IRequest.cs
  Ryujinx.HLE/HOS/Services/Ns/IAddOnContentManager.cs
  Ryujinx.HLE/HOS/Services/Nv/INvDrvServices.cs
  Ryujinx.HLE/HOS/Services/Nv/NvGpuAS/NvGpuASIoctl.cs
  Ryujinx.HLE/HOS/Services/Nv/NvGpuGpu/NvGpuGpuIoctl.cs
  Ryujinx.HLE/HOS/Services/Nv/NvHostChannel/NvHostChannelIoctl.cs
  Ryujinx.HLE/HOS/Services/Nv/NvHostCtrl/NvHostCtrlIoctl.cs
  Ryujinx.HLE/HOS/Services/Prepo/IPrepoService.cs
  Ryujinx.HLE/HOS/Services/Psm/IPsmServer.cs
  Ryujinx.HLE/HOS/Services/Psm/IPsmSession.cs
  Ryujinx.HLE/HOS/Services/Sfdnsres/IResolver.cs
  Ryujinx.HLE/HOS/Services/Ssl/ISslService.cs
  Ryujinx.HLE/HOS/Services/Vi/IManagerDisplayService.cs
  Ryujinx.HLE/HOS/Services/Vi/ISystemDisplayService.cs
  Ryujinx/Ui/ConsoleLog.cs
Labels: enhancement, miscellaneous

#557 SNK 40th Anniversary Out of Bounds Fix
  Ryujinx.Graphics/Graphics3d/NvGpuEngine3d.cs
Labels: gpu

#564 Add support of PFS0 as ExeFS
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx/Program.cs
Labels: enhancement, miscellaneous

#566 Add Smlal_Ve, Smlsl_Ve, Smull_Ve, Umlal_Ve, Umlsl_Ve, Umull_Ve Inst.; add Tests. Add Sse Opt. for Trn1/2_V and Uzp1/2_V Inst. Nits.
  ChocolArm64/Instructions/CryptoHelper.cs
  ChocolArm64/Instructions/InstEmitSimdArithmetic.cs
  ChocolArm64/Instructions/InstEmitSimdCmp.cs
  ChocolArm64/Instructions/InstEmitSimdCvt.cs
  ChocolArm64/Instructions/InstEmitSimdHelper.cs
  ChocolArm64/Instructions/InstEmitSimdMove.cs
  ChocolArm64/Instructions/SoftFallback.cs
  ChocolArm64/Instructions/SoftFloat.cs
  ChocolArm64/OpCodeTable.cs
  Ryujinx.Tests/Cpu/CpuTestSimdRegElem.cs
Labels: cpu, enhancement

#565 Implement some ARM32 memory instructions and CMP
  ChocolArm64/Decoders/Decoder.cs
  ChocolArm64/Decoders/IOpCode32Alu.cs
  ChocolArm64/Decoders/IOpCode32BImm.cs
  ChocolArm64/Decoders/IOpCode32BReg.cs
  ChocolArm64/Decoders/IOpCode32Mem.cs
  ChocolArm64/Decoders/IOpCode32MemMult.cs
  ChocolArm64/Decoders/IOpCodeBImm32.cs
  ChocolArm64/Decoders/OpCode32Alu.cs
  ChocolArm64/Decoders/OpCode32AluImm.cs
  ChocolArm64/Decoders/OpCode32AluRsImm.cs
  ChocolArm64/Decoders/OpCode32BImm.cs
  ChocolArm64/Decoders/OpCode32BReg.cs
  ChocolArm64/Decoders/OpCode32Mem.cs
  ChocolArm64/Decoders/OpCode32MemImm.cs
  ChocolArm64/Decoders/OpCode32MemImm8.cs
  ChocolArm64/Decoders/OpCode32MemMult.cs
  ChocolArm64/Decoders/OpCodeT16AluImm8.cs
  ChocolArm64/Decoders/OpCodeT16BReg.cs
  ChocolArm64/Instructions/InstEmit32Helper.cs
  ChocolArm64/Instructions/InstEmitAlu32.cs
  ChocolArm64/Instructions/InstEmitAluHelper.cs
  ChocolArm64/Instructions/InstEmitFlow32.cs
  ChocolArm64/Instructions/InstEmitMemory32.cs
  ChocolArm64/OpCodeTable.cs
  ChocolArm64/State/CpuThreadState.cs
  ChocolArm64/State/PState.cs
  ChocolArm64/State/Register.cs
  ChocolArm64/Translation/ILEmitterCtx.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KThread.cs
Labels: cpu, enhancement

#558 Add file logging and handle unhandled exceptions
  Ryujinx.Common/Logging/LogClass.cs
  Ryujinx.Common/Logging/Logger.cs
  Ryujinx/Config.cs
  Ryujinx/Program.cs
  Ryujinx/Ryujinx.conf
  Ryujinx/Ui/Log.cs
Labels: enhancement

#507 Initial support for shader half float instructions
  Ryujinx.Graphics/Gal/Shader/GlslDecl.cs
  Ryujinx.Graphics/Gal/Shader/GlslDecompiler.cs
  Ryujinx.Graphics/Gal/Shader/ShaderDecodeAlu.cs
  Ryujinx.Graphics/Gal/Shader/ShaderDecodeMem.cs
  Ryujinx.Graphics/Gal/Shader/ShaderDecodeOpCode.cs
  Ryujinx.Graphics/Gal/Shader/ShaderIrOperGpr.cs
  Ryujinx.Graphics/Gal/Shader/ShaderOpCodeTable.cs
  Ryujinx.Graphics/Gal/Shader/ShaderRegisterSize.cs
  Ryujinx.Graphics/Gal/ShaderDumper.cs
Labels: gpu
