Repository Ryujinx/Ryujinx, pull requests merged in 2019-03, with the labels that each got.

#595 Fixed Scissor Test on Intel based GPUs
  Ryujinx.Graphics/Gal/IGalPipeline.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLExtension.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLPipeline.cs
  Ryujinx.Graphics/Gal/OpenGL/OGLRenderTarget.cs
  Ryujinx.Graphics/Graphics3d/NvGpuEngine3d.cs
  Ryujinx.Graphics/NvGpu.cs
Labels: bug, gpu

#610 Compressed cubemap support
  Ryujinx.Graphics/Gal/OpenGL/OglTexture.cs
Labels: gpu

#612 Compressed M2mf texture copy fix
  Ryujinx.Graphics/Graphics3d/NvGpuEngineM2mf.cs
Labels: gpu

#614 Add Rshrn_V & Shrn_V Sse opt.. Add Mla_V, Mls_V & Mul_V Sse opt.; add Tests.
  ChocolArm64/Instructions/InstEmitSimdArithmetic.cs
  ChocolArm64/Instructions/InstEmitSimdCmp.cs
  ChocolArm64/Instructions/InstEmitSimdCvt.cs
  ChocolArm64/Instructions/InstEmitSimdHelper.cs
  ChocolArm64/Instructions/InstEmitSimdLogical.cs
  ChocolArm64/Instructions/InstEmitSimdShift.cs
  ChocolArm64/Translation/ILEmitterCtx.cs
  Ryujinx.Common/Utilities/BitUtils.cs
  Ryujinx.Tests/Cpu/CpuTestSimdArithmetic.cs
  Ryujinx.Tests/Cpu/CpuTestSimdExt.cs
  Ryujinx.Tests/Cpu/CpuTestSimdIns.cs
  Ryujinx.Tests/Cpu/CpuTestSimdReg.cs
  Ryujinx.Tests/Cpu/CpuTestSimdShImm.cs
  Ryujinx.Tests/Ryujinx.Tests.csproj
Labels: cpu, enhancement

#650 Print Guest Stack Trace in ServiceNotImplemented Exception
  Ryujinx.HLE/Exceptions/ServiceNotImplementedException.cs
  Ryujinx.HLE/HOS/Ipc/IpcHandler.cs
  Ryujinx.HLE/HOS/Kernel/Process/HleProcessDebugger.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcIpc.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KThread.cs
  Ryujinx.HLE/HOS/ServiceCtx.cs
Labels: enhancement, horizon

#652 Complete ColorFormat enums
  Ryujinx.HLE/HOS/Services/Vi/ColorFormat.cs
Labels: gpu, horizon
