Repository Ryujinx/Ryujinx, pull requests merged in 2019-08, with the labels that each got.

#737 Use the Joystick interface for game controller input.
  CONFIG.md
  Ryujinx/Config.jsonc
  Ryujinx/Configuration.cs
  Ryujinx/Ui/GLScreen.cs
  Ryujinx/Ui/NpadController.cs
  Ryujinx/_schema.json
Labels: enhancement, miscellaneous

#741 Discord Presence: Fix a crash when no valid program is loaded
  Ryujinx/Program.cs
Labels: bug

#742 Fix a memory corruption in SoundIO wrapper
  Ryujinx.Audio/Native/libsoundio/SoundIOOutStream.cs
Labels: audio, bug

#743 am: Implement ICommonStateGetter::SetCpuBoostMode
  Ryujinx.HLE/HOS/Services/Am/ICommonStateGetter.cs
  Ryujinx.HLE/HOS/Services/Am/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Apm/CpuBoostMode.cs
  Ryujinx.HLE/HOS/Services/Apm/PerformanceConfiguration.cs
Labels: horizon
