Repository Ryujinx/Ryujinx, pull requests merged in 2019-09, with the labels that each got.

#746 Add Rgba16Uint
  Ryujinx.Graphics/Graphics3d/Texture/ImageUtils.cs
Labels: gpu

#747 NvHostChannelIoctl: Implement setter for SetSubmitTimeout, SetPriorit…
  Ryujinx.HLE/HOS/Services/Nv/NvHostChannel/NvChannel.cs
  Ryujinx.HLE/HOS/Services/Nv/NvHostChannel/NvChannelPriority.cs
  Ryujinx.HLE/HOS/Services/Nv/NvHostChannel/NvHostChannelIoctl.cs
Labels: enhancement, horizon

#695 Added GUI to Ryujinx
  Ryujinx.HLE/FileSystem/SaveHelper.cs
  Ryujinx.HLE/FileSystem/SaveInfo.cs
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
  Ryujinx.HLE/HOS/Kernel/Process/ProcessCreationInfo.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcSystem.cs
  Ryujinx.HLE/HOS/Services/FspSrv/IFileSystemProxy.cs
  Ryujinx.HLE/HOS/SystemState/SystemStateMgr.cs
  Ryujinx.HLE/Loaders/Executables/KernelInitialProcess.cs
  Ryujinx.HLE/Loaders/Npdm/ACI0.cs
  Ryujinx.HLE/Loaders/Npdm/Npdm.cs
  Ryujinx.sln
  Ryujinx/Config.json
  Ryujinx/Configuration.cs
  Ryujinx/Program.cs
  Ryujinx/RPsupported.dat
  Ryujinx/Ryujinx.csproj
  Ryujinx/Theme.css
  Ryujinx/Ui/AboutWindow.cs
  Ryujinx/Ui/AboutWindow.glade
  Ryujinx/Ui/ApplicationLibrary.cs
  Ryujinx/Ui/GLScreen.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
  Ryujinx/Ui/NpadKeyboard.cs
  Ryujinx/Ui/SwitchSettings.cs
  Ryujinx/Ui/SwitchSettings.glade
  Ryujinx/Ui/assets/DiscordLogo.png
  Ryujinx/Ui/assets/GitHubLogo.png
  Ryujinx/Ui/assets/JoyCon.png
  Ryujinx/Ui/assets/PatreonLogo.png
  Ryujinx/Ui/assets/TwitterLogo.png
  Ryujinx/Ui/assets/ryujinxIcon.png
  Ryujinx/Ui/assets/ryujinxNCAIcon.png
  Ryujinx/Ui/assets/ryujinxNROIcon.png
  Ryujinx/Ui/assets/ryujinxNSOIcon.png
  Ryujinx/Ui/assets/ryujinxNSPIcon.png
  Ryujinx/Ui/assets/ryujinxXCIIcon.png
  Ryujinx/_schema.json
Labels: gui, miscellaneous

#748 Implement OpenReadOnlySaveDataFileSystem
  Ryujinx.HLE/HOS/Services/FspSrv/IFileSystemProxy.cs
Labels: enhancement, horizon

#749 IGeneralService Implement GetClientId and IsAnyInternetRequestAccepted
  Ryujinx.HLE/HOS/Services/Acc/IAccountService.cs
  Ryujinx.HLE/HOS/Services/Nifm/GeneralServiceDetail.cs
  Ryujinx.HLE/HOS/Services/Nifm/GeneralServiceManager.cs
  Ryujinx.HLE/HOS/Services/Nifm/IGeneralService.cs
  Ryujinx.HLE/HOS/Services/Nifm/IRequest.cs
  Ryujinx.HLE/HOS/Services/Nifm/IStaticService.cs
  Ryujinx.HLE/HOS/Services/Nifm/ResultCode.cs
Labels: enhancement, horizon

#758 timezone: improve sanity checks on TimeZone Rule name
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZone.cs
Labels: bug, horizon

#760 shader: Add missing fsetp negation bit on srcB
  Ryujinx.Graphics/Shader/Instructions/InstEmitFArith.cs
Labels: fix, gpu

#759 Update README.md
  README.md
Labels: miscellaneous

#761 Implement Bluetooth, Btm, Hid and Nsd services and calls.
  Ryujinx.Common/Logging/LogClass.cs
  Ryujinx.HLE/HOS/Services/Bluetooth/BluetoothEventManager.cs
  Ryujinx.HLE/HOS/Services/Bluetooth/IBluetoothDriver.cs
  Ryujinx.HLE/HOS/Services/Bluetooth/IBluetoothUser.cs
  Ryujinx.HLE/HOS/Services/Btm/IBtm.cs
  Ryujinx.HLE/HOS/Services/Btm/IBtmUser.cs
  Ryujinx.HLE/HOS/Services/Btm/IBtmUserCore.cs
  Ryujinx.HLE/HOS/Services/Btm/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Hid/IHidServer.cs
  Ryujinx.HLE/HOS/Services/Nsd/FqdnResolver.cs
  Ryujinx.HLE/HOS/Services/Nsd/IManager.cs
  Ryujinx.HLE/HOS/Services/Nsd/NsdSettings.cs
  Ryujinx.HLE/HOS/Services/Nsd/ResultCode.cs
Labels: enhancement, horizon

#764 ui: Fix segfault on Linux when passing a program via command line
  Ryujinx/Program.cs
  Ryujinx/Ui/MainWindow.cs
Labels: bug, gui

#767 Implement basic support of SystemSaveData and Cleanup IFileSystemProxy
  Ryujinx.HLE/FileSystem/SaveDataType.cs
  Ryujinx.HLE/FileSystem/SaveHelper.cs
  Ryujinx.HLE/FileSystem/SaveInfo.cs
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
  Ryujinx.HLE/HOS/Services/FspSrv/FileSystemHelper.cs
  Ryujinx.HLE/HOS/Services/FspSrv/IFileSystemProxy.cs
Labels: enhancement, horizon

#768 bcat:u: Implement EnumerateDeliveryCacheDirectory
  Ryujinx.HLE/HOS/Services/Acc/IAccountService.cs
  Ryujinx.HLE/HOS/Services/Acc/IManagerForApplication.cs
  Ryujinx.HLE/HOS/Services/Arp/ApplicationLaunchProperty.cs
  Ryujinx.HLE/HOS/Services/Bcat/IBcatService.cs
  Ryujinx.HLE/HOS/Services/Bcat/IDeliveryCacheStorageService.cs
  Ryujinx.HLE/HOS/Services/Bcat/IServiceCreator.cs
  Ryujinx.HLE/HOS/Services/Bcat/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Glue/ApplicationLaunchProperty.cs
Labels: horizon, service-implementation

#770 Update to LibHac 0.5.1
  Ryujinx.HLE/Ryujinx.HLE.csproj
Labels: enhancement, horizon

#773 audren: Fix AudioRenderer implementation
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/AudioRendererCommon.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/BehaviorInfo.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/CommandGenerator.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/EdgeMatrix.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/IAudioRenderer.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/NodeStates.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/PerformanceManager.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/SplitterContext.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/Types/AudioConsts.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/Types/AudioRendererConsts.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/Types/AudioRendererParameter.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/Types/SupportTags.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/Types/UpdateDataHeader.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/VoiceContext.cs
  Ryujinx.HLE/HOS/Services/Audio/IAudioRendererManager.cs
Labels: audio, fix, horizon

#772 Misc fixes
  Ryujinx.Common/Logging/Logger.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcTable.cs
  Ryujinx/Ui/MainWindow.cs
Labels: fix, miscellaneous

#774 Remove IntUtils and use BitUtils instead
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvMap/NvMapIoctl.cs
  Ryujinx.HLE/Utilities/IntUtils.cs
Labels: enhancement, miscellaneous

#775 am: Implement IApplicationFunctions GetGpuErrorDetectedSystemEvent
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/IApplicationProxy.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/IApplicationProxyService.cs
Labels: horizon, service-implementation
