Repository Ryujinx/Ryujinx, pull requests merged in 2019-12, with the labels that each got.

#839 Fully reverse swkbd configuration structure and follow-up to swkbd implementation
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/InitialCursorPosition.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/InputFormMode.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/InvalidCharFlags.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/KeyboardMode.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/PasswordMode.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardApplet.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardConfig.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardState.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardType.cs
Labels: enhancement, horizon, service:am

#841 Implemented fast paths for:
  ARMeilleure/CodeGen/X86/Assembler.cs
  ARMeilleure/CodeGen/X86/CodeGenerator.cs
  ARMeilleure/CodeGen/X86/IntrinsicTable.cs
  ARMeilleure/CodeGen/X86/PreAllocator.cs
  ARMeilleure/CodeGen/X86/X86Instruction.cs
  ARMeilleure/Common/BitUtils.cs
  ARMeilleure/Decoders/DecoderHelper.cs
  ARMeilleure/Decoders/OpCodeSimdFmov.cs
  ARMeilleure/Decoders/OpCodeSimdImm.cs
  ARMeilleure/Instructions/InstEmitAluHelper.cs
  ARMeilleure/Instructions/InstEmitSimdArithmetic.cs
  ARMeilleure/Instructions/InstEmitSimdCmp.cs
  ARMeilleure/Instructions/InstEmitSimdHelper.cs
  ARMeilleure/Instructions/InstEmitSimdMove.cs
  ARMeilleure/Instructions/SoftFloat.cs
  ARMeilleure/IntermediateRepresentation/Intrinsic.cs
Labels: cpu, enhancement

#842 Fix ILogger type and size decoding
  Ryujinx.HLE/HOS/Services/Lm/LogService/ILogger.cs
Labels: bug, fix, service:lm

#843 Add a limit for the number of instructions in a function
  ARMeilleure/Decoders/Decoder.cs
Labels: cpu

#831 Rewrite the configuration system
  Ryujinx.Common/Configuration/ConfigurationFileFormat.cs
  Ryujinx.Common/Configuration/ConfigurationState.cs
  Ryujinx.Common/Configuration/Hid/ControllerInputId.cs
  Ryujinx.Common/Configuration/Hid/ControllerType.cs
  Ryujinx.Common/Configuration/Hid/Key.cs
  Ryujinx.Common/Configuration/Hid/KeyboardHotkeys.cs
  Ryujinx.Common/Configuration/Hid/NpadController.cs
  Ryujinx.Common/Configuration/Hid/NpadControllerLeft.cs
  Ryujinx.Common/Configuration/Hid/NpadControllerRight.cs
  Ryujinx.Common/Configuration/Hid/NpadKeyboard.cs
  Ryujinx.Common/Configuration/Hid/NpadKeyboardLeft.cs
  Ryujinx.Common/Configuration/Hid/NpadKeyboardRight.cs
  Ryujinx.Common/Configuration/LoggerModule.cs
  Ryujinx.Common/Configuration/System/Language.cs
  Ryujinx.Common/Configuration/Ui/GuiColumns.cs
  Ryujinx.Common/Logging/Logger.cs
  Ryujinx.Common/Logging/Targets/AsyncLogTargetWrapper.cs
  Ryujinx.Common/Logging/Targets/ConsoleLogTarget.cs
  Ryujinx.Common/Logging/Targets/FileLogTarget.cs
  Ryujinx.Common/Logging/Targets/ILogTarget.cs
  Ryujinx.Common/Logging/Targets/JsonLogTarget.cs
  Ryujinx.Common/ReactiveObject.cs
  Ryujinx.Common/Ryujinx.Common.csproj
  Ryujinx.HLE/Input/Hid.cs
  Ryujinx.HLE/Switch.cs
  Ryujinx/Config.json
  Ryujinx/Configuration/DiscordIntegrationModule.cs
  Ryujinx/Program.cs
  Ryujinx/Ryujinx.csproj
  Ryujinx/Ui/GLScreen.cs
  Ryujinx/Ui/KeyboardControls.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/NpadController.cs
  Ryujinx/Ui/SwitchSettings.cs
Labels: enhancement, gui, horizon, miscellaneous

#840 GUI: Implement context menu for the game table
  Ryujinx/Ryujinx.csproj
  Ryujinx/Ui/GameTableContextMenu.cs
  Ryujinx/Ui/GameTableContextMenu.glade
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
Labels: enhancement, gui

#848 Fix an edge case in bsd IClient::Poll implementation
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/IClient.cs
Labels: bug, fix, service:sockets

#847 Use Github Actions as a secondary CI
  .github/workflows/build.yml
Labels: enhancement, infra

#852 Fix remap ioctl map offset
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostAsGpu/NvHostAsGpuDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostAsGpu/Types/RemapArguments.cs
Labels: enhancement, service:nv

#850 Make HLE disposable safely
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Kernel/Process/KHandleTable.cs
  Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcHandler.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcSystem.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcTable.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KThread.cs
Labels: enhancement, fix, horizon, kernel

#851 Fix LibHac.IStorage not being disposed in FileSystem proxy
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/IStorage.cs
Labels: fix, service:fs

#853 Fix GUI freeze wehn closing without any emulation running
  Ryujinx.HLE/HOS/Horizon.cs
Labels: fix, gui, kernel

#846 Implemented fast paths for:
  ARMeilleure/CodeGen/X86/Assembler.cs
  ARMeilleure/CodeGen/X86/CodeGenerator.cs
  ARMeilleure/CodeGen/X86/IntrinsicTable.cs
  ARMeilleure/CodeGen/X86/IntrinsicType.cs
  ARMeilleure/CodeGen/X86/X86Instruction.cs
  ARMeilleure/Instructions/InstEmitAlu.cs
  ARMeilleure/Instructions/InstEmitSimdArithmetic.cs
  ARMeilleure/Instructions/InstEmitSimdCvt.cs
  ARMeilleure/Instructions/InstEmitSimdHelper.cs
  ARMeilleure/Instructions/InstEmitSimdLogical.cs
  ARMeilleure/Instructions/InstEmitSimdMove.cs
  ARMeilleure/Instructions/InstEmitSimdShift.cs
  ARMeilleure/Instructions/SoftFallback.cs
  ARMeilleure/IntermediateRepresentation/Intrinsic.cs
  Ryujinx.Tests/Cpu/CpuTestSimd.cs
  Ryujinx.Tests/Cpu/CpuTestSimdCvt.cs
  Ryujinx.Tests/Cpu/CpuTestSimdShImm.cs
Labels: cpu, enhancement
