Repository Ryujinx/Ryujinx, pull requests merged in 2019-04, with the labels that each got.

#657 Add missing TextureCubeMapArray texture type entry
  Ryujinx.Graphics/Gal/OpenGL/OglTexture.cs
Labels: bug, gpu

#656 Sse optimized the Vector & Scalar fp-to-integer conversion instructions (unsigned); improved the related Tests.
  ChocolArm64/Instructions/InstEmitSimdCvt.cs
  Ryujinx.Tests/Cpu/CpuTestSimd.cs
  Ryujinx.Tests/Cpu/CpuTestSimdCvt.cs
  Ryujinx.Tests/Cpu/CpuTestSimdShImm.cs
Labels: cpu, enhancement

#663 Implement IIrSensorServer GetNpadIrCameraHandle
  Ryujinx.HLE/HOS/Services/Irs/IIrSensorServer.cs
Labels: enhancement, horizon

#664 Implement IIrSensorServer GetIrsensorSharedMemoryHandle
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Irs/IIrSensorServer.cs
  Ryujinx.HLE/HOS/Services/ServiceFactory.cs
Labels: enhancement, horizon

#662 Sse optimized the 32-bit Vector & Scalar integer-to-fp conversion instructions (signed & unsigned); added the related Gp & V_Fixed Tests (signed & unsigned).
  ChocolArm64/Instructions/InstEmitSimdCvt.cs
  ChocolArm64/OpCodeTable.cs
  Ryujinx.Tests/Cpu/CpuTestSimd.cs
  Ryujinx.Tests/Cpu/CpuTestSimdCvt.cs
  Ryujinx.Tests/Cpu/CpuTestSimdShImm.cs
Labels: cpu, enhancement

#665 Implement IParentalControlService CheckFreeCommunicationPermission
  Ryujinx.HLE/HOS/Services/Pctl/IParentalControlService.cs
Labels: enhancement, horizon

#677 Fix GetAudioRendererWorkBufferSize for REV5
  Ryujinx.HLE/HOS/Services/Aud/IAudioRendererManager.cs
Labels: audio, enhancement, horizon

#680 Implement gl_ClipDistance on the shader generator
  Ryujinx.Graphics/Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics/Shader/Translation/AttributeConsts.cs
Labels: enhancement, gpu

#679 Add some HOS service
  Ryujinx.HLE/HOS/Services/Friend/IFriendService.cs
  Ryujinx.HLE/HOS/Services/Irs/IIrSensorServer.cs
  Ryujinx.HLE/HOS/Services/Nv/INvDrvServices.cs
Labels: horizon, stub

#683 Add IManagerDisplayService::CreateStrayLayer
  Ryujinx.HLE/HOS/Services/Vi/IApplicationDisplayService.cs
  Ryujinx.HLE/HOS/Services/Vi/IManagerDisplayService.cs
Labels: enhancement, horizon

#674 Extended ignore missing services to INvDrvServices
  Ryujinx.HLE/HOS/Services/Nv/INvDrvServices.cs
Labels: horizon

#661 Refactoring and optimization on CPU translation
  ChocolArm64/Decoders/Block.cs
  ChocolArm64/Decoders/Condition.cs
  ChocolArm64/Decoders/Decoder.cs
  ChocolArm64/Instructions/InstEmit32Helper.cs
  ChocolArm64/Instructions/InstEmitAlu.cs
  ChocolArm64/Instructions/InstEmitAlu32.cs
  ChocolArm64/Instructions/InstEmitCcmp.cs
  ChocolArm64/Instructions/InstEmitCsel.cs
  ChocolArm64/Instructions/InstEmitException.cs
  ChocolArm64/Instructions/InstEmitFlow.cs
  ChocolArm64/Instructions/InstEmitFlow32.cs
  ChocolArm64/Instructions/InstEmitFlowHelper.cs
  ChocolArm64/Instructions/InstEmitMemory32.cs
  ChocolArm64/Instructions/InstEmitMemoryEx.cs
  ChocolArm64/Instructions/InstEmitMemoryHelper.cs
  ChocolArm64/Instructions/InstEmitSimdArithmetic.cs
  ChocolArm64/Instructions/InstEmitSimdCmp.cs
  ChocolArm64/Instructions/InstEmitSimdMove.cs
  ChocolArm64/IntermediateRepresentation/BasicBlock.cs
  ChocolArm64/IntermediateRepresentation/ILLabel.cs
  ChocolArm64/IntermediateRepresentation/Operation.cs
  ChocolArm64/IntermediateRepresentation/OperationType.cs
  ChocolArm64/IntermediateRepresentation/RegisterMask.cs
  ChocolArm64/State/CpuThreadState.cs
  ChocolArm64/State/Register.cs
  ChocolArm64/State/RegisterConsts.cs
  ChocolArm64/Translation/IILEmit.cs
  ChocolArm64/Translation/ILBarrier.cs
  ChocolArm64/Translation/ILBlock.cs
  ChocolArm64/Translation/ILEmitterCtx.cs
  ChocolArm64/Translation/ILGeneratorEx.cs
  ChocolArm64/Translation/ILLabel.cs
  ChocolArm64/Translation/ILMethodBuilder.cs
  ChocolArm64/Translation/ILOpCode.cs
  ChocolArm64/Translation/ILOpCodeBranch.cs
  ChocolArm64/Translation/ILOpCodeCall.cs
  ChocolArm64/Translation/ILOpCodeConst.cs
  ChocolArm64/Translation/ILOpCodeLoad.cs
  ChocolArm64/Translation/ILOpCodeLoadField.cs
  ChocolArm64/Translation/ILOpCodeLoadState.cs
  ChocolArm64/Translation/ILOpCodeLog.cs
  ChocolArm64/Translation/ILOpCodeStore.cs
  ChocolArm64/Translation/ILOpCodeStoreState.cs
  ChocolArm64/Translation/RegisterUsage.cs
  ChocolArm64/Translation/TranslatedSub.cs
  ChocolArm64/Translation/TranslatedSubBuilder.cs
  ChocolArm64/Translation/Translator.cs
  ChocolArm64/Translation/VarType.cs
Labels: cpu, enhancement

#685 Profiler fix to handle drag and drop opening
  Ryujinx.Profiler/Profile.cs
Labels: bug, miscellaneous

#686 Added missing bracket in _schema.json
  Ryujinx/_schema.json
Labels: fix
