Repository Ryujinx/Ryujinx, pull requests merged in 2020-10, with the labels that each got.

#1588 Fix GetStream implementation
  Ryujinx.Common/Utilities/EmbeddedResources.cs
Labels: fix, miscellaneous

#1593 Support 2D array ASTC compressed texture formats decoding
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Texture/Astc/AstcDecoder.cs
Labels: fix, gpu

#1591 Improve BRX target detection heuristics
  Ryujinx.Graphics.Gpu/Memory/MemoryManager.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.Shader/Decoders/Decoder.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
Labels: fix, gpu

#1590 Fix exiting emulator with multi programs
  Ryujinx.HLE/HOS/UserChannelPersistence.cs
  Ryujinx/Ui/MainWindow.cs
Labels: fix, horizon

#1582 Show confirmation dialog when attempting to close while a game is loaded
  Ryujinx/Ui/MainWindow.cs
Labels: enhancement, gui

#1603 surfaceflinger: Disable async buffer
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/BufferQueueCore.cs
Labels: fix, horizon, service:surface-flinger

#1606 Fix H264 output frame size when decoding videos of different sizes
  Ryujinx.Graphics.Nvdec.H264/Decoder.cs
  Ryujinx.Graphics.Nvdec.H264/Surface.cs
Labels: fix, gpu

#1608 Add support for shader constant buffer slot indexing
  Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/CodeGenContext.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/GlslGenerator.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGen.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/Decoders/CbIndexMode.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeLdc.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitMemory.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgram.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgramInfo.cs
Labels: fix, gpu

#1609 Implement LEA.HI shader instruction
  Ryujinx.Graphics.Shader/Decoders/OpCodeTable.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitAlu.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitAluHelper.cs
Labels: fix, gpu

#1610 Fix error when dual source blend is used
  Ryujinx.Graphics.OpenGL/Framebuffer.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
Labels: fix, gpu

#1613 Fix output component register on pixel shaders
  Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
Labels: fix, gpu

#1612 Fix incorrect GPU GL blend func values
  Ryujinx.Graphics.GAL/BlendOp.cs
  Ryujinx.Graphics.OpenGL/EnumConversion.cs
Labels: fix, gpu

#1585 Replace Host FPS with GPU command queue load ("Fifo %")
  Ryujinx.HLE/PerformanceStatistics.cs
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
  Ryujinx/Ui/StatusUpdatedEventArgs.cs
Labels: enhancement, gui

#1616 Fix LOP3 (cbuf) shader instruction encoding
  Ryujinx.Graphics.Shader/Decoders/OpCodeTable.cs
Labels: fix, gpu

#1272 Memory Read/Write Tracking using Region Handles
  ARMeilleure/Instructions/InstEmitMemoryHelper.cs
  ARMeilleure/Instructions/NativeInterface.cs
  ARMeilleure/Memory/IMemoryManager.cs
  ARMeilleure/Translation/Delegates.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  Ryujinx.Audio/Ryujinx.Audio.csproj
  Ryujinx.Cpu/MemoryManager.cs
  Ryujinx.Cpu/Tracking/CpuMultiRegionHandle.cs
  Ryujinx.Cpu/Tracking/CpuRegionHandle.cs
  Ryujinx.Cpu/Tracking/CpuSmartMultiRegionHandle.cs
  Ryujinx.Graphics.GAL/IRenderer.cs
  Ryujinx.Graphics.Gpu/Engine/Inline2Memory.cs
  Ryujinx.Graphics.Gpu/Engine/MethodCopyBuffer.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/Image/AutoDeleteCache.cs
  Ryujinx.Graphics.Gpu/Image/Pool.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.Gpu/Memory/Buffer.cs
  Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
  Ryujinx.Graphics.Gpu/Memory/IRange.cs
  Ryujinx.Graphics.Gpu/Memory/MemoryManager.cs
  Ryujinx.Graphics.Gpu/Memory/PhysicalMemory.cs
  Ryujinx.Graphics.OpenGL/BackgroundContextWorker.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.OpenGL/Ryujinx.Graphics.OpenGL.csproj
  Ryujinx.Graphics.OpenGL/Window.cs
  Ryujinx.Memory.Tests/MockVirtualMemoryManager.cs
  Ryujinx.Memory.Tests/MultiRegionTrackingTests.cs
  Ryujinx.Memory.Tests/TrackingTests.cs
  Ryujinx.Memory/Range/INonOverlappingRange.cs
  Ryujinx.Memory/Range/IRange.cs
  Ryujinx.Memory/Range/NonOverlappingRangeList.cs
  Ryujinx.Memory/Range/RangeList.cs
  Ryujinx.Memory/Ryujinx.Memory.csproj
  Ryujinx.Memory/Tracking/AbstractRegion.cs
  Ryujinx.Memory/Tracking/IMultiRegionHandle.cs
  Ryujinx.Memory/Tracking/IRegionHandle.cs
  Ryujinx.Memory/Tracking/IVirtualMemoryManager.cs
  Ryujinx.Memory/Tracking/MemoryTracking.cs
  Ryujinx.Memory/Tracking/MultiRegionHandle.cs
  Ryujinx.Memory/Tracking/PhysicalRegion.cs
  Ryujinx.Memory/Tracking/RegionHandle.cs
  Ryujinx.Memory/Tracking/RegionSignal.cs
  Ryujinx.Memory/Tracking/SmartMultiRegionHandle.cs
  Ryujinx.Memory/Tracking/VirtualRegion.cs
  Ryujinx.sln
  Ryujinx/Ryujinx.csproj
  Ryujinx/Ui/GLRenderer.cs
Labels: enhancement, fix, gpu, miscellaneous

#1624 Fix gl_in being used with built-in variables that are not per-vertex
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/Translation/AttributeConsts.cs
Labels: fix, gpu

#1627 Ensure storage is set for Buffer Textures when binding an Image.
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
Labels: fix, gpu

#1625 Fix image binding format
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.Gpu/Engine/Compute.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/Engine/ShaderTexture.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingInfo.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.OpenGL/FormatTable.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/StructuredIr/AstTextureOperation.cs
  Ryujinx.Graphics.Shader/TextureDescriptor.cs
Labels: fix, gpu

#1632 Add missing null check on image binding
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
Labels: fix, gpu

#1637 Fix shader image load/store array index register
  Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
Labels: fix, gpu

#1618 Implement CAL and RET shader instructions
  Ryujinx.Graphics.Shader/CodeGen/Glsl/CodeGenContext.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/DefaultNames.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/GlslGenerator.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGen.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenCall.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenHelper.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/Decoders/Decoder.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeTable.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitFlow.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/BasicBlock.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/Function.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/Instruction.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/OperandHelper.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/OperandType.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/Operation.cs
  Ryujinx.Graphics.Shader/StructuredIr/AstOperation.cs
  Ryujinx.Graphics.Shader/StructuredIr/AstOptimizer.cs
  Ryujinx.Graphics.Shader/StructuredIr/AstTextureOperation.cs
  Ryujinx.Graphics.Shader/StructuredIr/InstructionInfo.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredFunction.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgram.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgramContext.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgramInfo.cs
  Ryujinx.Graphics.Shader/Translation/ControlFlowGraph.cs
  Ryujinx.Graphics.Shader/Translation/Dominance.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContextInsts.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/Optimizer.cs
  Ryujinx.Graphics.Shader/Translation/RegisterUsage.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
Labels: fix, gpu

#1636 Improve the speed of redundant ASTC texture data updates
  Ryujinx.Graphics.Gpu/Image/Texture.cs
Labels: enhancement, gpu

#1638 Fix vertex buffer handle null check
  Ryujinx.Graphics.OpenGL/VertexArray.cs
Labels: fix, gpu

#1589 Motion Fixes
  Ryujinx.HLE/HOS/Services/Hid/HidDevices/NpadDevices.cs
  Ryujinx/Motion/Client.cs
  Ryujinx/Motion/MotionDevice.cs
  Ryujinx/Ui/ControllerWindow.cs
  Ryujinx/Ui/ControllerWindow.glade
  Ryujinx/Ui/GLRenderer.cs
Labels: fix, gui, miscellaneous

#1642 Avoid sampler conflicts on bindless samplers with the same name
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/SamplerType.cs
Labels: fix, gpu

#1645 Add scaling for Texture2DArray when using TexelFetch.
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
Labels: enhancement, gpu

#1646 Scale texture resolution before sending to backend
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.OpenGL/Image/TextureBase.cs
  Ryujinx.Graphics.OpenGL/Image/TextureCopy.cs
  Ryujinx.Graphics.OpenGL/Image/TextureCopyUnscaled.cs
  Ryujinx.Graphics.OpenGL/Image/TextureStorage.cs
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
Labels: fix, gpu

#1643 Preserve command line arguments when updater restarts Ryujinx
  Ryujinx/Updater/UpdateDialog.cs
Labels: fix, miscellaneous
