Repository Ryujinx/Ryujinx, pull requests merged in 2020-04, with the labels that each got.

#1070 Remove output interpolation qualifier
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/DefineNames.cs
  Ryujinx.Graphics.Shader/InterpolationQualifier.cs
  Ryujinx.Graphics.Shader/ShaderProgramInfo.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
Labels: enhancement, gpu

#1082 Better IPA shader instruction implementation
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitMemory.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/Operand.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/OperandHelper.cs
  Ryujinx.Graphics.Shader/InterpolationQualifier.cs
  Ryujinx.Graphics.Shader/ShaderProgram.cs
  Ryujinx.Graphics.Shader/StructuredIr/AstOperand.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgramContext.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgramInfo.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
  Ryujinx.Graphics.Shader/Translation/ShaderHeader.cs
Labels: fix, gpu

#1087 Revert SwKbd Applet ReadStruct
  Ryujinx.HLE/HOS/Applets/IApplet.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardApplet.cs
Labels: fix, horizon

#1073 libhac: use ApplicationControlProperty instead of Nacp
  Ryujinx/Ui/ApplicationLibrary.cs
Labels: fix, gui

#1088 Use the jump table for HighCq tail continues.
  ARMeilleure/Instructions/InstEmitFlowHelper.cs
Labels: cpu, performance

#1093 Simple GPU fixes
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.Gpu/Constants.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/State/GpuState.cs
  Ryujinx.Graphics.Gpu/State/GpuStateTable.cs
  Ryujinx.Graphics.Gpu/State/MethodOffset.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/TextureCopy.cs
  Ryujinx.Graphics.OpenGL/Window.cs
Labels: fix, gpu

#1047 Use libhac for loading NSO and KIP
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/ProgramLoader.cs
  Ryujinx.HLE/HOS/Services/Ro/IRoInterface.cs
  Ryujinx.HLE/HOS/Services/Ro/Types/NroInfo.cs
  Ryujinx.HLE/Loaders/Compression/BackwardsLz.cs
  Ryujinx.HLE/Loaders/Compression/Lz4.cs
  Ryujinx.HLE/Loaders/Executables/KernelInitialProcess.cs
  Ryujinx.HLE/Loaders/Executables/KipExecutable.cs
  Ryujinx.HLE/Loaders/Executables/NroExecutable.cs
  Ryujinx.HLE/Loaders/Executables/NsoExecutable.cs
  Ryujinx.HLE/Loaders/Executables/NxStaticObject.cs
Labels: enhancement, horizon

#1094 Optimize %x ^ %x = 0
  ARMeilleure/CodeGen/Optimizations/Simplification.cs
Labels: cpu, enhancement

#1105 Print the result name in SetTerminateResult if possible
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
Labels: enhancement, service:am

#1023 Implement update loader and log loaded application info
  Ryujinx.Common/Configuration/ConfigurationFileFormat.cs
  Ryujinx.Common/Configuration/TitleUpdateMetadata.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/ProgramLoader.cs
  Ryujinx.HLE/Loaders/Npdm/Npdm.cs
  Ryujinx/Ryujinx.csproj
  Ryujinx/Ui/ApplicationLibrary.cs
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/GameTableContextMenu.cs
  Ryujinx/Ui/GameTableContextMenu.glade
  Ryujinx/Ui/TitleUpdateWindow.cs
  Ryujinx/Ui/TitleUpdateWindow.glade
Labels: enhancement, gui, horizon, needs-feedback

#1116 Fix negation of HADD2 constant buffer source
  Ryujinx.Graphics.Shader/Instructions/InstEmitFArith.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitHelper.cs
Labels: fix, gpu

#1108 Ensure account save data exists when launching an extracted game
  Ryujinx.HLE/HOS/Horizon.cs
Labels: fix, horizon

#1112 Fix oversight in depth range initialization from PR #1093
  Ryujinx.Graphics.Gpu/State/GpuState.cs
Labels: fix, gpu

#1097 Improve V128
  ARMeilleure/Instructions/NativeInterface.cs
  ARMeilleure/Instructions/SoftFallback.cs
  ARMeilleure/Memory/MemoryManager.cs
  ARMeilleure/State/NativeContext.cs
  ARMeilleure/State/V128.cs
  Ryujinx.Tests/Cpu/CpuTest.cs
  Ryujinx.Tests/Cpu/CpuTest32.cs
  Ryujinx.Tests/Cpu/CpuTestMisc.cs
Labels: cpu, enhancement

#1101 System Time Offset Implementation
  Ryujinx.Common/Configuration/ConfigurationFileFormat.cs
  Ryujinx.Common/Configuration/ConfigurationState.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Time/Clock/Types/TimeSpanType.cs
  Ryujinx/Config.json
  Ryujinx/Ui/SwitchSettings.cs
  Ryujinx/Ui/SwitchSettings.glade
  Ryujinx/_schema.json
Labels: enhancement, gui, service:time

#1120 Implement Depth Clamping
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/State/MethodOffset.cs
  Ryujinx.Graphics.Gpu/State/ViewVolumeClipControl.cs
  Ryujinx.Graphics.Gpu/State/YControl.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
Labels: fix, gpu

#980 Implement GPU syncpoints
  Ryujinx.Graphics.Gpu/ClassId.cs
  Ryujinx.Graphics.Gpu/DmaPusher.cs
  Ryujinx.Graphics.Gpu/Engine/MethodFifo.cs
  Ryujinx.Graphics.Gpu/Engine/MethodIncrementSyncpoint.cs
  Ryujinx.Graphics.Gpu/Engine/MethodReport.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/GpuContext.cs
  Ryujinx.Graphics.Gpu/NvGpuFifo.cs
  Ryujinx.Graphics.Gpu/NvGpuFifoMeth.cs
  Ryujinx.Graphics.Gpu/State/FenceActionOperation.cs
  Ryujinx.Graphics.Gpu/State/MethodOffset.cs
  Ryujinx.Graphics.Gpu/State/ReportMode.cs
  Ryujinx.Graphics.Gpu/Synchronization/SynchronizationManager.cs
  Ryujinx.Graphics.Gpu/Synchronization/Syncpoint.cs
  Ryujinx.Graphics.Gpu/Synchronization/SyncpointWaiterHandle.cs
  Ryujinx.Graphics.Gpu/Window.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/IdDictionary.cs
  Ryujinx.HLE/HOS/Services/Mm/IRequest.cs
  Ryujinx.HLE/HOS/Services/Mm/Types/MultiMediaOperationType.cs
  Ryujinx.HLE/HOS/Services/Mm/Types/MultiMediaSession.cs
  Ryujinx.HLE/HOS/Services/Nv/INvDrvServices.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostChannel/NvHostChannelDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostChannel/Types/SubmitGpfifoArguments.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostChannel/Types/SubmitGpfifoFlags.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostCtrl/NvHostCtrlDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostCtrl/Types/EventWaitArguments.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostCtrl/Types/NvHostEvent.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostCtrl/Types/NvHostEventState.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostCtrl/Types/NvHostSyncPt.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostCtrl/Types/SyncptWaitArguments.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostCtrl/Types/SyncptWaitExArguments.cs
  Ryujinx.HLE/HOS/Services/Nv/Types/NvFence.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/NvFlinger.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Types/BufferEntry.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Types/MultiFence.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Types/QueueBufferObject.cs
Labels: enhancement, gpu, service:nv

#1123 Avoid temporaries when pre-allocating Store %x, imm8/16/32
  ARMeilleure/CodeGen/X86/PreAllocator.cs
Labels: cpu, enhancement, performance

#1139 Report more realistic GPU timestamps when FastGpuTime is enabled
  Ryujinx.Graphics.Gpu/Engine/MethodReport.cs
Labels: fix, gpu

#1117 Implement SULD shader instruction
  Ryujinx.Graphics.Gpu/Engine/Compute.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGen.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeTable.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/TextureOperation.cs
  Ryujinx.Graphics.Shader/QueryInfoName.cs
  Ryujinx.Graphics.Shader/StructuredIr/AstTextureOperation.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgram.cs
  Ryujinx.Graphics.Shader/TextureFormat.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
Labels: fix, gpu

#981 SurfaceFlinger v2
  Ryujinx.Common/Logging/LogClass.cs
  Ryujinx.Graphics.Gpu/Synchronization/SynchronizationManager.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostCtrl/Types/NvHostSyncPt.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvMap/NvMapDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/Types/NvFence.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/BufferItem.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/BufferItemConsumer.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/BufferQueue.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/BufferQueueConsumer.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/BufferQueueCore.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/BufferQueueProducer.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/BufferSlot.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/BufferSlotArray.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/ConsumerBase.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/HOSBinderDriverServer.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/IBinder.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/IConsumerListener.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/IFlattenable.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/IGraphicBufferProducer.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/IHOSBinderDriver.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/IProducerListener.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/NativeWindowApi.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/NativeWindowAttribute.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/NativeWindowScalingMode.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/NativeWindowTransform.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/NvFlinger.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Parcel.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/ParcelHeader.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/PixelFormat.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Status.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/SurfaceFlinger.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Types/AndroidFence.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Types/AndroidStrongPointer.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Types/BufferEntry.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Types/BufferState.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Types/GbpBuffer.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Types/GraphicBuffer.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Types/GraphicBufferHeader.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Types/HalTransform.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Types/MultiFence.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Types/NvGraphicBuffer.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Types/NvGraphicBufferSurfaceArray.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Types/QueueBufferObject.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Types/Rect.cs
  Ryujinx.HLE/HOS/Services/Vi/RootService/ApplicationDisplayService/IHOSBinderDriver.cs
  Ryujinx.HLE/HOS/Services/Vi/RootService/ApplicationDisplayService/IManagerDisplayService.cs
  Ryujinx.HLE/HOS/Services/Vi/RootService/IApplicationDisplayService.cs
  Ryujinx.HLE/Switch.cs
  Ryujinx/Ui/GLRenderer.cs
Labels: enhancement, service:surface-flinger, services:vi

#1121 Update .NET Core to 3.1, and update NuGet Packages
  .travis.yml
  ARMeilleure/ARMeilleure.csproj
  README.md
  Ryujinx.Audio/Ryujinx.Audio.csproj
  Ryujinx.Common/Ryujinx.Common.csproj
  Ryujinx.Debugger/Ryujinx.Debugger.csproj
  Ryujinx.Graphics.GAL/Ryujinx.Graphics.GAL.csproj
  Ryujinx.Graphics.Gpu/Ryujinx.Graphics.Gpu.csproj
  Ryujinx.Graphics.Nvdec/Ryujinx.Graphics.Nvdec.csproj
  Ryujinx.Graphics.OpenGL/Ryujinx.Graphics.OpenGL.csproj
  Ryujinx.Graphics.Shader/Ryujinx.Graphics.Shader.csproj
  Ryujinx.Graphics.Texture/Ryujinx.Graphics.Texture.csproj
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx.LLE/Luea.csproj
  Ryujinx.ShaderTools/Ryujinx.ShaderTools.csproj
  Ryujinx.Tests.Unicorn/Ryujinx.Tests.Unicorn.csproj
  Ryujinx.Tests/Ryujinx.Tests.csproj
  Ryujinx/Ryujinx.csproj
  appveyor.yml
Labels: enhancement, miscellaneous

#1012 Initial conditional rendering support
  Ryujinx.Graphics.Gpu/Engine/MethodClear.cs
  Ryujinx.Graphics.Gpu/Engine/MethodConditionalRendering.cs
  Ryujinx.Graphics.Gpu/Engine/MethodDraw.cs
  Ryujinx.Graphics.Gpu/Engine/MethodReport.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/Memory/CounterCache.cs
  Ryujinx.Graphics.Gpu/Memory/MemoryManager.cs
  Ryujinx.Graphics.Gpu/Memory/UnmapEventArgs.cs
  Ryujinx.Graphics.Gpu/State/GpuState.cs
Labels: fix, gpu

#1141 Remove leftover of debugging code for shader texture format
  Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
Labels: fix, gpu

#1145 SurfaceFlinger: Invalid GraphicBuffer in SetPreallocatedBuffer
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/BufferQueueProducer.cs
Labels: fix, service:surface-flinger

#1147 Add support for dynamic docking/undocking
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/ISystemAppletProxy.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ICommonStateGetter.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/IApplicationProxy.cs
  Ryujinx.HLE/Switch.cs
Labels: enhancement, service:am

#1062 Fix metadata.json JsonParsingException crash
  Ryujinx/Ui/ApplicationLibrary.cs
Labels: fix, gui

#1150 ui: Make ExtractSection takes in account updates
  Ryujinx/Ui/GameTableContextMenu.cs
Labels: fix, gui

#1153 SurfaceFlinger: fix SetPreallocatedBuffer correctness
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/BufferQueueCore.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/BufferQueueProducer.cs
Labels: fix, service:surface-flinger

#1119 Implement Constant Color blends
  Ryujinx.Graphics.GAL/BlendDescriptor.cs
  Ryujinx.Graphics.GAL/ColorF.cs
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/State/BlendState.cs
  Ryujinx.Graphics.Gpu/State/BlendStateCommon.cs
  Ryujinx.Graphics.Gpu/State/GpuState.cs
  Ryujinx.Graphics.Gpu/State/GpuStateTable.cs
  Ryujinx.Graphics.Gpu/State/MethodOffset.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
Labels: fix, gpu

#1126 Do temp constant copy for CompareAndSwap, other improvements to PreAllocator
  ARMeilleure/CodeGen/X86/PreAllocator.cs
Labels: cpu, fix

#1102 Log Ryujinx Version, OS Name, CPU Name and RAM size
  Ryujinx.Common/Ryujinx.Common.csproj
  Ryujinx.Common/SystemInfo.cs
  Ryujinx/Program.cs
Labels: enhancement, miscellaneous

#1152 Implement texture buffers
  Ryujinx.Graphics.GAL/ITexture.cs
  Ryujinx.Graphics.Gpu/Engine/MethodReport.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.OpenGL/TextureBase.cs
  Ryujinx.Graphics.OpenGL/TextureBuffer.cs
  Ryujinx.Graphics.OpenGL/TextureView.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeTable.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
  Ryujinx.Graphics.Texture/SizeInfo.cs
Labels: fix, gpu

#1148 UI: Implement interactive search on GameTable
  Ryujinx/Ui/MainWindow.cs
Labels: enhancement, gui

#1155 Fix kernel memory allocator block coalescing
  Ryujinx.HLE/HOS/Kernel/Memory/KMemoryRegionBlock.cs
Labels: fix, kernel

#1142 Fix texture level offset/size calculation when sparse tile width is > 1
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Texture/LayoutConverter.cs
  Ryujinx.Graphics.Texture/SizeCalculator.cs
Labels: fix, gpu

#1156 Fix mode and Reg08.H1 decoding on XMAD instruction
  Ryujinx.Graphics.Shader/Instructions/InstEmitAlu.cs
Labels: fix, gpu

#1051 Fix MME shadow RAM implementation
  Ryujinx.Graphics.Gpu/MacroInterpreter.cs
  Ryujinx.Graphics.Gpu/NvGpuFifo.cs
  Ryujinx.Graphics.Gpu/State/GpuState.cs
Labels: fix, gpu

#1168 Fix shadow RAM affecting MME methods
  Ryujinx.Graphics.Gpu/State/GpuState.cs
Labels: fix, gpu

#1164 Revert change to package include condition
  Ryujinx/Ryujinx.csproj
Labels: fix, gui

#1146 Create log folder if not exists fixes #1143
  Ryujinx/Ui/SwitchSettings.cs
Labels: fix, miscellaneous

#1179 audren: implement Renderer Info output informations
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/IAudioRenderer.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/Types/RendererInfoOut.cs
  Ryujinx.HLE/Utilities/StructWriter.cs
Labels: enhancement, service:audio

#1154 Add BCAT delivery cache support
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Arp/LibHacIReader.cs
  Ryujinx.HLE/HOS/Services/Bcat/IServiceCreator.cs
  Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheDirectoryService.cs
  Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheFileService.cs
  Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheStorageService.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx/Ui/GameTableContextMenu.cs
  Ryujinx/Ui/GameTableContextMenu.glade
Labels: enhancement, service:bcat

#1151 Use the official JSON parser
  Ryujinx.Common/Configuration/ConfigurationFileFormat.cs
  Ryujinx.Common/Configuration/Hid/KeyboardHotkeys.cs
  Ryujinx.Common/Configuration/Hid/NpadController.cs
  Ryujinx.Common/Configuration/Hid/NpadControllerLeft.cs
  Ryujinx.Common/Configuration/Hid/NpadControllerRight.cs
  Ryujinx.Common/Configuration/Hid/NpadKeyboard.cs
  Ryujinx.Common/Configuration/Hid/NpadKeyboardLeft.cs
  Ryujinx.Common/Configuration/Hid/NpadKeyboardRight.cs
  Ryujinx.Common/Configuration/Ui/GuiColumns.cs
  Ryujinx.Common/Logging/Targets/JsonLogTarget.cs
  Ryujinx.Common/Ryujinx.Common.csproj
  Ryujinx.Common/Utilities/JsonHelper.cs
  Ryujinx.Debugger/Profiler/ProfilerConfiguration.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx/Config.json
  Ryujinx/Ui/AboutWindow.cs
  Ryujinx/Ui/ApplicationLibrary.cs
  Ryujinx/Ui/GameTableContextMenu.cs
  Ryujinx/Ui/TitleUpdateWindow.cs
Labels: enhancement, miscellaneous

#1186 Update to LibHac 0.11.1
  Ryujinx.HLE/Ryujinx.HLE.csproj
Labels: fix, service:bcat
