Repository Ryujinx/Ryujinx, pull requests merged in 2020-09, with the labels that each got.

#1482 Fix: Issue #1475 Texture Compatibility Check methods need to be centralized
  Ryujinx.Graphics.Gpu/Engine/MethodCopyTexture.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
Labels: gpu

#1521 Fix regression on texture compatibility match checks
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
Labels: fix, gpu

#1503 ui: Initial better user error reporting
  KEYS.md
  Ryujinx/Program.cs
  Ryujinx/Ui/AboutWindow.cs
  Ryujinx/Ui/Diagnostic/GuideDialog.cs
  Ryujinx/Ui/Diagnostic/SetupValidator.cs
  Ryujinx/Ui/Diagnostic/UserError.cs
  Ryujinx/Ui/Diagnostic/UserErrorDialog.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/UrlHelper.cs
Labels: enhancement, gui

#1520 Fix PSL and MRG flags on XMAD cbuf-reg shader instruction
  Ryujinx.Graphics.Shader/Instructions/InstEmitAlu.cs
Labels: fix, gpu

#1522 SIMD&FP load/store with scale > 4 should be undefined
  ARMeilleure/Decoders/OpCodeSimdMemImm.cs
  ARMeilleure/Decoders/OpCodeSimdMemReg.cs
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, fix

#1485 Update to LibHac 0.12.0
  Ryujinx.HLE/FileSystem/Content/ContentManager.cs
  Ryujinx.HLE/FileSystem/SaveHelper.cs
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.HLE/HOS/Font/SharedFontManager.cs
  Ryujinx.HLE/HOS/ModLoader.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/FileSystemProxyHelper.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/IDirectory.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/IFile.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/IFileSystem.cs
  Ryujinx.HLE/HOS/Services/Fs/IDeviceOperator.cs
  Ryujinx.HLE/HOS/Services/Fs/IFileSystemProxy.cs
  Ryujinx.HLE/HOS/Services/Fs/IMultiCommitManager.cs
  Ryujinx.HLE/HOS/Services/Fs/ISaveDataInfoReader.cs
  Ryujinx.HLE/HOS/Services/Mii/MiiDatabaseManager.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/StoreData.cs
  Ryujinx.HLE/HOS/Services/Settings/ISystemSettingsServer.cs
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZoneContentManager.cs
  Ryujinx.HLE/Loaders/Executables/KipExecutable.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx/Ui/ApplicationLibrary.cs
  Ryujinx/Ui/DlcWindow.cs
  Ryujinx/Ui/GameTableContextMenu.cs
  Ryujinx/Ui/SaveImporter.cs
  Ryujinx/Ui/TitleUpdateWindow.cs
Labels: enhancement, service:fs

#1536 Amadeus: Fix multi-channel PCM sources on REV8
  Ryujinx.Audio.Renderer/Dsp/Command/DataSourceVersion2Command.cs
  Ryujinx.Audio.Renderer/Server/CommandGenerator.cs
Labels: audio, fix, service:audio

#1537 Do not emit StoreToContext before Return
  ARMeilleure/Instructions/InstEmitAluHelper.cs
  ARMeilleure/Instructions/InstEmitHelper.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, enhancement

#1408 Texture/Buffer Memory Management Improvements
  Ryujinx.Cpu/MemoryManager.cs
  Ryujinx.Graphics.GAL/IRenderer.cs
  Ryujinx.Graphics.GAL/ITexture.cs
  Ryujinx.Graphics.GAL/TextureCreateInfo.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/Image/AutoDeleteCache.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.Gpu/Image/TextureViewCompatibility.cs
  Ryujinx.Graphics.Gpu/Memory/Buffer.cs
  Ryujinx.Graphics.Gpu/Memory/PhysicalMemory.cs
  Ryujinx.Graphics.OpenGL/Image/TextureBuffer.cs
  Ryujinx.Graphics.OpenGL/Image/TextureStorage.cs
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.OpenGL/ResourcePool.cs
  Ryujinx.HLE/Switch.cs
Labels: fix, gpu

#1538 Allow swizzles to match with "undefined" components
  Ryujinx.Graphics.GAL/Format.cs
  Ryujinx.Graphics.Gpu/Image/FormatInfo.cs
  Ryujinx.Graphics.Gpu/Image/FormatTable.cs
  Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.Gpu/State/RtFormat.cs
  Ryujinx.Graphics.Gpu/Window.cs
Labels: fix, gpu

#1535 Relax block ordering constraints
  ARMeilleure/CodeGen/RegisterAllocators/HybridAllocator.cs
  ARMeilleure/CodeGen/RegisterAllocators/LinearScanAllocator.cs
  ARMeilleure/CodeGen/X86/CodeGenerator.cs
  ARMeilleure/Diagnostics/IRDumper.cs
  ARMeilleure/IntermediateRepresentation/BasicBlock.cs
  ARMeilleure/IntermediateRepresentation/Instruction.cs
  ARMeilleure/Translation/ControlFlowGraph.cs
  ARMeilleure/Translation/EmitterContext.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  ARMeilleure/Translation/RegisterUsage.cs
  ARMeilleure/Translation/Translator.cs
Labels: cpu, enhancement

#1546 Fix debug Config using res scaling 2x by default
  Ryujinx/Config.json
Labels: fix, miscellaneous

#1483 Correct the threshold for control stick buttons
  Ryujinx.HLE/HOS/Services/Hid/Hid.cs
Labels: fix, service:hid

#1556 Better viewport flipping and depth mode detection method
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
Labels: fix, gpu

#1549 Implement block placement
  ARMeilleure/CodeGen/Optimizations/BlockPlacement.cs
  ARMeilleure/CodeGen/X86/CodeGenerator.cs
  ARMeilleure/Diagnostics/IRDumper.cs
  ARMeilleure/Instructions/InstEmitFlowHelper.cs
  ARMeilleure/Instructions/InstEmitMemoryHelper.cs
  ARMeilleure/IntermediateRepresentation/BasicBlock.cs
  ARMeilleure/IntermediateRepresentation/BasicBlockFrequency.cs
  ARMeilleure/Translation/ControlFlowGraph.cs
  ARMeilleure/Translation/EmitterContext.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  ARMeilleure/Translation/Translator.cs
Labels: cpu, enhancement

#1528 Fix host stack overflow caused by some recursive guest methods.
  ARMeilleure/Instructions/InstEmitFlowHelper.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, fix

#1552 caps: Stub SetShimLibraryVersion
  Ryujinx.HLE/HOS/Services/Caps/IAlbumApplicationService.cs
  Ryujinx.HLE/HOS/Services/Caps/IScreenShotApplicationService.cs
Labels: horizon, service:caps, stub

#1553 am: Stub Begin/EndBlockingHomeButton
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
Labels: horizon, service:am, stub

#1554 friend: Implement GetCompletionEvent and AddPlayHistory
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/IFriendService.cs
Labels: service-implementation, service:friend, stub

#1550 Move the open logs folder from setting into the File menu in the main window
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
  Ryujinx/Ui/SettingsWindow.cs
  Ryujinx/Ui/SettingsWindow.glade
Labels: enhancement, gui

#1555 acc/hid: Implement ListQualifiedUsers and SetTouchScreenConfiguration
  Ryujinx.HLE/HOS/Services/Account/Acc/IAccountServiceForApplication.cs
  Ryujinx.HLE/HOS/Services/Hid/IHidServer.cs
Labels: service-implementation, service:account, service:hid, stub

#1559 Align register index between output targets on pixel shaders
  Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
Labels: fix, gpu

#1560 hle/ui: Basic multi programs support
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/IManagerForApplication.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/Types/LaunchParameterKind.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/Types/ProgramSpecifyKind.cs
  Ryujinx.HLE/HOS/UserChannelPersistence.cs
  Ryujinx.HLE/IHostUiHandler.cs
  Ryujinx.HLE/Switch.cs
  Ryujinx/Ui/ApplicationLibrary.cs
  Ryujinx/Ui/GameTableContextMenu.cs
  Ryujinx/Ui/GtkHostUiHandler.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/TitleUpdateWindow.cs
Labels: enhancement, gui, horizon, service:account, service:am

#1564 Texture: Make viewStorage still valid after view removal.
  Ryujinx.Graphics.Gpu/Image/Texture.cs
Labels: fix, gpu

#1447 IPC refactor part 1: Use explicit separate threads to process requests
  ARMeilleure/Instructions/InstEmitException.cs
  ARMeilleure/Instructions/InstEmitException32.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  ARMeilleure/Translation/Translator.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Kernel/KernelContext.cs
  Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KThread.cs
  Ryujinx.HLE/HOS/Services/Audio/IAudioOutManager.cs
  Ryujinx.HLE/HOS/Services/CommandAttributes.cs
  Ryujinx.HLE/HOS/Services/IpcService.cs
  Ryujinx.HLE/HOS/Services/Nv/INvDrvServices.cs
  Ryujinx.HLE/HOS/Services/ServerBase.cs
  Ryujinx.HLE/HOS/Services/ServiceAttributes.cs
  Ryujinx.HLE/HOS/Services/Sm/IUserInterface.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/IClient.cs
  Ryujinx.HLE/HOS/Services/Vi/IApplicationRootService.cs
Labels: enhancement, fix, horizon, needs-feedback

#1572 Run audren services in a separate thread
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManagerServer.cs
Labels: fix, horizon

#1569 Return "NotAvailable" when no UserChannel data is present.
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
  Ryujinx.HLE/HOS/UserChannelPersistence.cs
Labels: fix, service:am

#1558 Implement small indexed draws and other fixes
  Ryujinx.Graphics.Gpu/Engine/ConditionalRenderEnabled.cs
  Ryujinx.Graphics.Gpu/Engine/IbStreamer.cs
  Ryujinx.Graphics.Gpu/Engine/MethodClear.cs
  Ryujinx.Graphics.Gpu/Engine/MethodConditionalRendering.cs
  Ryujinx.Graphics.Gpu/Engine/MethodDraw.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.Gpu/State/MethodOffset.cs
  Ryujinx.Graphics.Gpu/State/PrimitiveType.cs
Labels: fix, gpu

#1573 Isolate more services to separate threads
  Ryujinx.HLE/HOS/Services/Hid/IHidServer.cs
  Ryujinx.HLE/HOS/Services/Time/IStaticServiceForGlue.cs
  Ryujinx.HLE/HOS/Services/Vi/IApplicationRootService.cs
  Ryujinx.HLE/HOS/Services/Vi/IManagerRootService.cs
  Ryujinx.HLE/HOS/Services/Vi/ISystemRootService.cs
Labels: enhancement, horizon

#1576 Always set new texture data for textures initialized by a copy.
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
Labels: fix, gpu

#1551 applet: Basic implementation of Error Applet
  Ryujinx.HLE/HOS/Applets/AppletManager.cs
  Ryujinx.HLE/HOS/Applets/Error/ErrorApplet.cs
  Ryujinx.HLE/HOS/Applets/Error/ErrorCommonArg.cs
  Ryujinx.HLE/HOS/Applets/Error/ErrorCommonHeader.cs
  Ryujinx.HLE/HOS/Applets/Error/ErrorType.cs
  Ryujinx.HLE/IHostUiHandler.cs
  Ryujinx/Ui/ErrorAppletDialog.cs
  Ryujinx/Ui/GtkHostUiHandler.cs
Labels: gui, horizon

#1403 Appveyor Ryujinx Updater
  Ryujinx.Common/Configuration/ConfigurationFileFormat.cs
  Ryujinx.Common/Configuration/ConfigurationState.cs
  Ryujinx.sln
  Ryujinx/Config.json
  Ryujinx/Program.cs
  Ryujinx/Ryujinx.csproj
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/GtkDialog.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
  Ryujinx/Ui/SettingsWindow.cs
  Ryujinx/Ui/SettingsWindow.glade
  Ryujinx/Updater/UpdateDialog.cs
  Ryujinx/Updater/UpdateDialog.glade
  Ryujinx/Updater/Updater.cs
  Ryujinx/_schema.json
Labels: enhancement, gui, miscellaneous

#1584 Convert 1D texture targets to 2D
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
Labels: fix, gpu

#1363 Add Motion controls
  Ryujinx.Common/Configuration/ConfigurationFileFormat.cs
  Ryujinx.Common/Configuration/ConfigurationState.cs
  Ryujinx.Common/Configuration/Hid/InputConfig.cs
  Ryujinx.HLE/HOS/Services/Hid/HidDevices/NpadDevices.cs
  Ryujinx.HLE/HOS/Services/Hid/HidDevices/Types/SixAxisInput.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMem/Npad/SixAxisLayoutsIndex.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMem/Npad/SixAxisState.cs
  Ryujinx/Config.json
  Ryujinx/Motion/Client.cs
  Ryujinx/Motion/MotionDevice.cs
  Ryujinx/Motion/MotionInput.cs
  Ryujinx/Motion/MotionSensorFilter.cs
  Ryujinx/Motion/Protocol/ControllerData.cs
  Ryujinx/Motion/Protocol/ControllerInfo.cs
  Ryujinx/Motion/Protocol/Header.cs
  Ryujinx/Motion/Protocol/MessageType.cs
  Ryujinx/Motion/Protocol/SharedResponse.cs
  Ryujinx/Ryujinx.csproj
  Ryujinx/Ui/ControllerWindow.cs
  Ryujinx/Ui/ControllerWindow.glade
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/SettingsWindow.cs
  Ryujinx/Ui/SettingsWindow.glade
  Ryujinx/_schema.json
Labels: enhancement, service:hid

#1586 Remove old, unused CPU optimization
  ARMeilleure/Optimizations.cs
  ARMeilleure/Translation/RegisterUsage.cs
  ARMeilleure/Translation/Translator.cs
Labels: cpu, enhancement
