Repository Ryujinx/Ryujinx, pull requests merged in 2020-05, with the labels that each got.

#1189 am: add IsVrModeEnabled
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ICommonStateGetter.cs
Labels: service-implementation, service:am

#1176 Do not compute dominance information when not in SSA
  ARMeilleure/Translation/Compiler.cs
Labels: cpu, enhancement

#1173 nvservices: mitigate abort with heavy load on the GPU processing thread
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostCtrl/NvHostCtrlDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostCtrl/Types/NvHostEvent.cs
Labels: fix, service:nv

#1183 Add various error codes to AM
  Ryujinx.HLE/HOS/Services/Am/ResultCode.cs
Labels: miscellaneous, service:am

#1182 Add error code for denied internet request in Account
  Ryujinx.HLE/HOS/Services/Account/ResultCode.cs
Labels: miscellaneous, service:account

#1197 nvservice: add a lock around NvHostEvent and remove release fence on SFv2
  Ryujinx.Graphics.Gpu/Synchronization/SynchronizationManager.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostCtrl/NvHostCtrlDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostCtrl/Types/NvHostEvent.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/SurfaceFlinger.cs
Labels: fix, needs-feedback, service:nv

#1131 Adding .editorconfig so code style can be consistent and localized
  .editorconfig
  Ryujinx.sln
  Ryujinx/Ryujinx.csproj
Labels: enhancement, infra

#1157 Catch key errors in the title updater and application list
  Ryujinx/Ui/ApplicationLibrary.cs
  Ryujinx/Ui/TitleUpdateWindow.cs
Labels: fix, gui

#1204 Revert package include condition
  Ryujinx/Ryujinx.csproj
Labels: fix, gui

#1202 Add various error codes to BCAT
  Ryujinx.HLE/HOS/Services/Bcat/ResultCode.cs
Labels: miscellaneous, service:bcat

#1206 Fix issues causing keyboard profiles to throw errors on load.
  Ryujinx/Ui/ControllerWindow.cs
Labels: fix, gui

#1201 Add various error codes to Audio
  Ryujinx.HLE/HOS/Services/Audio/ResultCode.cs
Labels: miscellaneous, service:audio

#1194 Remove buffer invalidation
  Ryujinx.Graphics.Gpu/Memory/Buffer.cs
Labels: enhancement, gpu

#1196 Use correct swizzle on depth-stencil textures
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
Labels: fix, gpu

#1191 Update GLWidget to 1.0.2
  Ryujinx/Ryujinx.csproj
Labels: infra, miscellaneous

#1118 Implement user-defined clipping (gl_ClipDistance) on GL state pipeline
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.Gpu/Constants.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/State/MethodOffset.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
Labels: fix, gpu

#1135 Improve IRDumper
  ARMeilleure/Diagnostics/IRDumper.cs
  ARMeilleure/Diagnostics/Symbols.cs
  ARMeilleure/Translation/EmitterContext.cs
  ARMeilleure/Translation/JumpTable.cs
Labels: cpu, enhancement

#1181 Remove travis configuration
  .travis.yml
Labels: fix, infra

#1193 Upgrade projects to C#8
  ARMeilleure/ARMeilleure.csproj
  Ryujinx.Audio/Ryujinx.Audio.csproj
  Ryujinx.Common/Ryujinx.Common.csproj
  Ryujinx.Debugger/Ryujinx.Debugger.csproj
  Ryujinx.Graphics.GAL/Ryujinx.Graphics.GAL.csproj
  Ryujinx.Graphics.Gpu/Ryujinx.Graphics.Gpu.csproj
  Ryujinx.Graphics.Nvdec/Ryujinx.Graphics.Nvdec.csproj
  Ryujinx.Graphics.OpenGL/Ryujinx.Graphics.OpenGL.csproj
  Ryujinx.Graphics.Shader/Ryujinx.Graphics.Shader.csproj
  Ryujinx.Graphics.Texture/Ryujinx.Graphics.Texture.csproj
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx.LLE/Luea.csproj
  Ryujinx.ShaderTools/Ryujinx.ShaderTools.csproj
  Ryujinx.Tests.Unicorn/Ryujinx.Tests.Unicorn.csproj
  Ryujinx.Tests/Ryujinx.Tests.csproj
  Ryujinx/Ryujinx.csproj
Labels: fix, miscellaneous

#1177 Refactor SystemInfo and implement macOS system info backend
  Ryujinx.Common/SystemInfo.cs
  Ryujinx.Common/SystemInfo/LinuxSystemInfo.cs
  Ryujinx.Common/SystemInfo/MacOSSysteminfo.cs
  Ryujinx.Common/SystemInfo/SystemInfo.cs
  Ryujinx.Common/SystemInfo/WindowsSystemInfo.cs
  Ryujinx/Program.cs
Labels: enhancement, miscellaneous

#1167 Implement Counter Queue and Partial Host Conditional Rendering
  Ryujinx.Graphics.GAL/ICounterEvent.cs
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.GAL/IRenderer.cs
  Ryujinx.Graphics.Gpu/Engine/MethodClear.cs
  Ryujinx.Graphics.Gpu/Engine/MethodConditionalRendering.cs
  Ryujinx.Graphics.Gpu/Engine/MethodDraw.cs
  Ryujinx.Graphics.Gpu/Engine/MethodIncrementSyncpoint.cs
  Ryujinx.Graphics.Gpu/Engine/MethodReport.cs
  Ryujinx.Graphics.Gpu/Memory/CounterCache.cs
  Ryujinx.Graphics.Gpu/Memory/MemoryManager.cs
  Ryujinx.Graphics.OpenGL/Counters.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/Queries/BufferedQuery.cs
  Ryujinx.Graphics.OpenGL/Queries/CounterQueue.cs
  Ryujinx.Graphics.OpenGL/Queries/CounterQueueEvent.cs
  Ryujinx.Graphics.OpenGL/Queries/Counters.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
Labels: enhancement, gpu, performance

#1208 Add various error codes to Loader
  Ryujinx.HLE/HOS/Services/Loader/ResultCode.cs
Labels: enhancement, service:loader

#1207 Add error code for denied internet request in Friends
  Ryujinx.HLE/HOS/Services/Account/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Friend/ResultCode.cs
Labels: enhancement, service:friend

#1205 Add Docked/Handheld text on status bar
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
  Ryujinx/Ui/StatusUpdatedEventArgs.cs
Labels: enhancement, gui

#1199 Logging the current firmware version
  Ryujinx/Ui/MainWindow.cs
Labels: enhancement

#1210 set: Quick implementation of GetKeyCodeMap/GetKeyCodeMap2
  Ryujinx.HLE/HOS/Services/Hid/IHidServer.cs
  Ryujinx.HLE/HOS/Services/Settings/ISettingsServer.cs
  Ryujinx.HLE/HOS/Services/Settings/KeyCodeMaps.cs
  Ryujinx.HLE/HOS/SystemState/KeyboardLayout.cs
  Ryujinx.HLE/HOS/SystemState/RegionCode.cs
  Ryujinx.HLE/HOS/SystemState/SystemStateMgr.cs
  Ryujinx.HLE/Switch.cs
Labels: service-implementation, service:settings

#1203 Refactor shader GPU state and memory access
  Ryujinx.Graphics.Gpu/DmaPusher.cs
  Ryujinx.Graphics.Gpu/Engine/Compute.cs
  Ryujinx.Graphics.Gpu/Engine/MethodCopyBuffer.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Memory/Buffer.cs
  Ryujinx.Graphics.Gpu/Memory/MemoryAccessor.cs
  Ryujinx.Graphics.Gpu/Memory/MemoryManager.cs
  Ryujinx.Graphics.Gpu/Memory/PhysicalMemory.cs
  Ryujinx.Graphics.Gpu/Shader/ComputeShader.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/GraphicsShader.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderBundle.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCodeHolder.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderDumper.cs
  Ryujinx.Graphics.Nvdec/VDec/VideoDecoder.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/Decoders/Decoder.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitConversion.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitFArith.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitMemory.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitMove.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitVote.cs
  Ryujinx.Graphics.Shader/QueryInfoName.cs
  Ryujinx.Graphics.Shader/ShaderProgram.cs
  Ryujinx.Graphics.Shader/Translation/Lowering.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/GlobalToStorage.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
  Ryujinx.Graphics.Shader/Translation/ShaderHeader.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
  Ryujinx.Graphics.Shader/Translation/TranslatorCallbacks.cs
  Ryujinx.ShaderTools/Program.cs
Labels: fix, gpu

#1184 Fix block iteration on kernel MemoryManager InsertBlock function
  Ryujinx.HLE/HOS/Kernel/Memory/KMemoryManager.cs
Labels: fix, kernel

#1217 Fix SystemInfo logging to file
  Ryujinx/Program.cs
Labels: fix, miscellaneous

#1225 Add various error codes to NCM LR
  Ryujinx.HLE/HOS/Services/Ncm/Lr/ResultCode.cs
Labels: miscellaneous, service:ncm

#1224 Add two error codes to Mii
  Ryujinx.HLE/HOS/Services/Mii/ResultCode.cs
Labels: miscellaneous, service:mii

#1230 Add two error codes to SDB PDM
  Ryujinx.HLE/HOS/Services/Sdb/Pdm/ResultCode.cs
Labels: miscellaneous, service:sdb

#1229 Add various error codes to Settings
  Ryujinx.HLE/HOS/Services/Settings/ResultCode.cs
Labels: miscellaneous, service:settings

#1222 Suppress CS0169 CS0649 warns from HID structs
  ARMeilleure/Diagnostics/Logger.cs
  Ryujinx.HLE/HOS/Applets/Controller/ControllerSupportArg.cs
  Ryujinx.HLE/HOS/Applets/Controller/ControllerSupportArgHeader.cs
  Ryujinx.HLE/HOS/Applets/Controller/ControllerSupportArgPrivate.cs
  Ryujinx.HLE/HOS/Applets/Controller/ControllerSupportResultInfo.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMem/StructArrayHelpers.cs
Labels: fix, miscellaneous

#1235 Fix tailcall case in EmitterContext
  ARMeilleure/Translation/EmitterContext.cs
Labels: cpu, fix

#1220 am: Implement GetFriendInvitationStorageChannelEvent
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
Labels: service-implementation, service:am

#1237 Add missing error code to Time
  Ryujinx.HLE/HOS/Services/Time/ResultCode.cs
Labels: miscellaneous, service:time

#1215 nvdrv: Partially implementation of GetStatus
  Ryujinx.HLE/HOS/Services/Nv/INvDrvServices.cs
  Ryujinx.HLE/HOS/Services/Nv/Types/NvStatus.cs
Labels: service-implementation, service:nv

#1227 Remove CpuId IR instruction
  ARMeilleure/CodeGen/X86/CodeGenerator.cs
  ARMeilleure/CodeGen/X86/PreAllocator.cs
  ARMeilleure/IntermediateRepresentation/Instruction.cs
  ARMeilleure/Translation/EmitterContext.cs
Labels: cpu, enhancement

#1242 Fix RET Xn translation
  ARMeilleure/Instructions/InstEmitFlow.cs
Labels: cpu, fix

#1219 pctl: refactoring IParentalControlServiceFactory and IParentalControl…
  Ryujinx.HLE/HOS/Services/Pctl/IParentalControlServiceFactory.cs
  Ryujinx.HLE/HOS/Services/Pctl/ParentalControlServiceFactory/IParentalControlService.cs
  Ryujinx.HLE/HOS/Services/Pctl/ResultCode.cs
Labels: service-implementation, service:pctl

#1232 Surface Flinger: Implement GetBufferHistory
  ARMeilleure/State/ExecutionContext.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/BufferQueueConsumer.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/BufferQueueCore.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/BufferQueueProducer.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/BufferSlot.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/IGraphicBufferProducer.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/IHOSBinderDriver.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Parcel.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/SurfaceFlinger.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Types/BufferInfo.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Types/BufferItem.cs
  Ryujinx.HLE/HOS/Services/Time/Clock/Types/TimeSpanType.cs
Labels: enhancement, service:surface-flinger

#1188 am: Implement common web applets
  Ryujinx.HLE/HOS/Applets/AppletManager.cs
  Ryujinx.HLE/HOS/Applets/Browser/BootDisplayKind.cs
  Ryujinx.HLE/HOS/Applets/Browser/BrowserApplet.cs
  Ryujinx.HLE/HOS/Applets/Browser/BrowserArgument.cs
  Ryujinx.HLE/HOS/Applets/Browser/BrowserOutput.cs
  Ryujinx.HLE/HOS/Applets/Browser/BrowserOutputType.cs
  Ryujinx.HLE/HOS/Applets/Browser/DocumentKind.cs
  Ryujinx.HLE/HOS/Applets/Browser/LeftStickMode.cs
  Ryujinx.HLE/HOS/Applets/Browser/ShimKind.cs
  Ryujinx.HLE/HOS/Applets/Browser/WebArgHeader.cs
  Ryujinx.HLE/HOS/Applets/Browser/WebArgTLV.cs
  Ryujinx.HLE/HOS/Applets/Browser/WebArgTLVType.cs
  Ryujinx.HLE/HOS/Applets/Browser/WebCommonReturnValue.cs
  Ryujinx.HLE/HOS/Applets/Browser/WebExitReason.cs
  Ryujinx.HLE/HOS/Applets/CommonArguments.cs
Labels: enhancement, service:am

#1236 Refactor out Application details from Horizon
  Ryujinx.HLE/FileSystem/Content/ContentManager.cs
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/ProgramLoader.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/IAccountServiceForApplication.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
  Ryujinx.HLE/HOS/Services/Arp/ApplicationLaunchProperty.cs
  Ryujinx.HLE/HOS/Services/Arp/LibHacIReader.cs
  Ryujinx.HLE/HOS/Services/Ns/IApplicationManagerInterface.cs
  Ryujinx.HLE/HOS/Services/Ns/IReadOnlyApplicationControlDataInterface.cs
  Ryujinx.HLE/HOS/Services/Pctl/ParentalControlServiceFactory/IParentalControlService.cs
  Ryujinx.HLE/HOS/Services/Sdb/Pdm/QueryService/QueryPlayStatisticsManager.cs
  Ryujinx.HLE/Switch.cs
  Ryujinx/Ui/ApplicationLibrary.cs
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/GameTableContextMenu.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/TitleUpdateWindow.cs
Labels: enhancement, horizon

#1238 Unwinding Follow-up. Fix a bug in JitUnwindWindows where ...
  ARMeilleure/CodeGen/Unwinding/UnwindInfo.cs
  ARMeilleure/CodeGen/Unwinding/UnwindPseudoOperation.cs
  ARMeilleure/CodeGen/Unwinding/UnwindPushEntry.cs
  ARMeilleure/CodeGen/X86/CodeGenerator.cs
  ARMeilleure/Translation/JitUnwindWindows.cs
Labels: cpu, fix

#1240 Update to LibHac 0.11.2
  Ryujinx.HLE/Ryujinx.HLE.csproj
Labels: enhancement, service:fs

#1259 time: Make sure to initialize the network system clock with a valid system clock
  Ryujinx.HLE/HOS/Horizon.cs
Labels: fix, service:time

#1226 Spanify Graphics Abstraction Layer
  Ryujinx.Graphics.GAL/BufferHandle.cs
  Ryujinx.Graphics.GAL/BufferRange.cs
  Ryujinx.Graphics.GAL/IBuffer.cs
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.GAL/IRenderer.cs
  Ryujinx.Graphics.Gpu/Constants.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/Memory/Buffer.cs
  Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
  Ryujinx.Graphics.OpenGL/Buffer.cs
  Ryujinx.Graphics.OpenGL/Constants.cs
  Ryujinx.Graphics.OpenGL/Framebuffer.cs
  Ryujinx.Graphics.OpenGL/Handle.cs
  Ryujinx.Graphics.OpenGL/Image/Sampler.cs
  Ryujinx.Graphics.OpenGL/Image/TextureBase.cs
  Ryujinx.Graphics.OpenGL/Image/TextureBuffer.cs
  Ryujinx.Graphics.OpenGL/Image/TextureCopy.cs
  Ryujinx.Graphics.OpenGL/Image/TextureCopyUnscaled.cs
  Ryujinx.Graphics.OpenGL/Image/TextureStorage.cs
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.OpenGL/VertexArray.cs
  Ryujinx.Graphics.OpenGL/Window.cs
Labels: enhancement, gpu

#1270 Implement TMML and TMML.B
  Ryujinx.Graphics.Shader/Decoders/OpCodeTable.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
Labels: enhancement, gpu

#1268 Implement CNTVCT_EL0
  ARMeilleure/Instructions/InstEmitSystem.cs
  ARMeilleure/Instructions/NativeInterface.cs
  ARMeilleure/State/ExecutionContext.cs
Labels: cpu, enhancement

#1273 Remember bound framebuffer to avoid glGetInteger use.
  Ryujinx.Graphics.OpenGL/Framebuffer.cs
  Ryujinx.Graphics.OpenGL/Image/TextureCopy.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/Window.cs
Labels: fix, gpu, performance

#1278 Flush GL commands before inevitably waiting for a query result.
  Ryujinx.Graphics.OpenGL/Pipeline.cs
Labels: fix, gpu

#1276 Fix GetDisplayVersion
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
Labels: enhancement, service:am

#1275 Fix GetDesiredLanguage
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
  Ryujinx.HLE/HOS/SystemState/SystemStateMgr.cs
  Ryujinx.HLE/HOS/SystemState/TitleLanguage.cs
Labels: enhancement, service:am

#1280 Omit image format if possible, and fix BA bit
  Ryujinx.Graphics.GAL/Capabilities.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.OpenGL/HwCapabilities.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeImage.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
Labels: fix, gpu

#1216 Support separate textures and samplers
  Ryujinx.Graphics.Gpu/Engine/Compute.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/Image/SamplerPool.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
  Ryujinx.Graphics.Gpu/Memory/MemoryAccessor.cs
  Ryujinx.Graphics.Gpu/Memory/PhysicalMemory.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/Operation.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/TextureOperation.cs
  Ryujinx.Graphics.Shader/StructuredIr/AstTextureOperation.cs
  Ryujinx.Graphics.Shader/Translation/Lowering.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessElimination.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/Optimizer.cs
Labels: fix, gpu

#1279 Add FMaxNmV & FMinNmV Inst.s with Test.
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitSimdArithmetic.cs
  ARMeilleure/Instructions/InstEmitSimdHelper.cs
  ARMeilleure/Instructions/InstName.cs
  Ryujinx.Tests/Cpu/CpuTestSimd.cs
Labels: cpu

#1277 Fix wrong face culling once and for all
  Ryujinx.Graphics.GAL/Capabilities.cs
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.GAL/Origin.cs
  Ryujinx.Graphics.GAL/ViewportSwizzle.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/Image/Sampler.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.Gpu/State/GpuState.cs
  Ryujinx.Graphics.OpenGL/EnumConversion.cs
  Ryujinx.Graphics.OpenGL/HwCapabilities.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
  Ryujinx.Graphics.Shader/Translation/TranslationFlags.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
Labels: fix, gpu

#1284 Add new depth-stencil formats
  Ryujinx.Graphics.Gpu/Image/FormatTable.cs
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
Labels: fix, gpu

#1286 Implement FIFO semaphore
  Ryujinx.Graphics.Gpu/Engine/MethodFifo.cs
  Ryujinx.Graphics.Gpu/Engine/MethodReport.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/State/FifoSemaphoreOperation.cs
  Ryujinx.Graphics.Gpu/State/MethodOffset.cs
  Ryujinx.Graphics.Gpu/State/SemaphoreOperation.cs
  Ryujinx.Graphics.Gpu/State/SemaphoreState.cs
Labels: fix, gpu
