Repository Ryujinx/Ryujinx, pull requests merged in 2020-02, with the labels that each got.

#915 Support flat interpolation qualifier on shaders
  Ryujinx.Graphics.Shader/Instructions/InstEmitMemory.cs
Labels: bug, fix, gpu

#916 Support configurable point size
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/State/MethodOffset.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
Labels: bug, fix, gpu

#906 Fix inconsistencies with UserId
  Ryujinx.HLE/FileSystem/SaveInfo.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/AccountService/AccountUtils.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/IAccountServiceForApplication.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/IManagerForApplication.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/Types/UserId.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/Types/UserProfile.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/Storage/StorageHelper.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
  Ryujinx.HLE/HOS/Services/Friend/IServiceCreator.cs
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/FriendService/Types/Friend.cs
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/FriendService/Types/UserPresence.cs
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/IFriendService.cs
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/INotificationService.cs
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/NotificationService/NotificationEventHandler.cs
  Ryujinx.HLE/HOS/Services/Prepo/IPrepoService.cs
  Ryujinx.HLE/HOS/Services/Sdb/Pdm/QueryService/QueryPlayStatisticsManager.cs
  Ryujinx.HLE/HOS/SystemState/SystemStateMgr.cs
Labels: bug, enhancement, fix, service:account, service:am, service:friend, service:sdb

#914 Use correct shader local memory size instead of a hardcoded size
  Ryujinx.Graphics.Gpu/Engine/Compute.cs
  Ryujinx.Graphics.Gpu/Engine/ComputeParams.cs
  Ryujinx.Graphics.Gpu/Engine/ComputeQmd.cs
  Ryujinx.Graphics.Gpu/Ryujinx.Graphics.Gpu.csproj
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.OpenGL/Program.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/QueryInfoName.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
Labels: bug, fix, gpu

#917 Compare shader code using a span instead of individual reads.
  Ryujinx.Graphics.Gpu/Memory/MemoryAccessor.cs
  Ryujinx.Graphics.Gpu/Memory/MemoryManager.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
Labels: enhancement, gpu, performance

#908 Implement IDeliveryCacheProgressService in bcat
  Ryujinx.Common/Logging/LogClass.cs
  Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IBcatService.cs
  Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheProgressService.cs
  Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/Types/DeliveryCacheProgressImpl.cs
Labels: enhancement, service:bcat, stub

#854 Render Profiler in GUI
  ARMeilleure/ARMeilleure.csproj
  Ryujinx.Audio/Ryujinx.Audio.csproj
  Ryujinx.Common/Ryujinx.Common.csproj
  Ryujinx.Debugger/Debugger.cs
  Ryujinx.Debugger/Profiler/DumpProfile.cs
  Ryujinx.Debugger/Profiler/InternalProfile.cs
  Ryujinx.Debugger/Profiler/Profile.cs
  Ryujinx.Debugger/Profiler/ProfileConfig.cs
  Ryujinx.Debugger/Profiler/ProfileSorters.cs
  Ryujinx.Debugger/Profiler/ProfilerConfiguration.cs
  Ryujinx.Debugger/Profiler/Settings.cs
  Ryujinx.Debugger/Profiler/TimingFlag.cs
  Ryujinx.Debugger/Profiler/TimingInfo.cs
  Ryujinx.Debugger/ProfilerConfig.jsonc
  Ryujinx.Debugger/Ryujinx.Debugger.csproj
  Ryujinx.Debugger/UI/DebuggerWidget.cs
  Ryujinx.Debugger/UI/DebuggerWidget.glade
  Ryujinx.Debugger/UI/ProfilerWidget.cs
  Ryujinx.Debugger/UI/ProfilerWidget.glade
  Ryujinx.Debugger/UI/SkRenderer.cs
  Ryujinx.HLE/HOS/Services/IpcService.cs
  Ryujinx.HLE/PerformanceStatistics.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx.LLE/Luea.csproj
  Ryujinx.Profiler/ProfilerKeyboardHandler.cs
  Ryujinx.Profiler/Ryujinx.Profiler.csproj
  Ryujinx.Profiler/UI/ProfileButton.cs
  Ryujinx.Profiler/UI/ProfileWindow.cs
  Ryujinx.Profiler/UI/ProfileWindowBars.cs
  Ryujinx.Profiler/UI/ProfileWindowGraph.cs
  Ryujinx.Profiler/UI/ProfileWindowManager.cs
  Ryujinx.Profiler/UI/SharpFontHelpers/FontService.cs
  Ryujinx.ShaderTools/Ryujinx.ShaderTools.csproj
  Ryujinx.Tests.Unicorn/Ryujinx.Tests.Unicorn.csproj
  Ryujinx.Tests/Ryujinx.Tests.csproj
  Ryujinx.sln
  Ryujinx/Program.cs
  Ryujinx/Ryujinx.csproj
  Ryujinx/Ui/GLScreen.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
Labels: enhancement, miscellaneous

#904 Fix a crash when closing the main UI
  Ryujinx.Audio/Renderers/OpenAL/OpenALAudioOut.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KThread.cs
  Ryujinx/Program.cs
  Ryujinx/Ui/GtkDialog.cs
  Ryujinx/Ui/MainWindow.cs
Labels: audio, fix, gui

#918 Only enumerate cached textures that are modified when flushing.
  Ryujinx.Common/ReferenceEqualityComparer.cs
  Ryujinx.Graphics.Gpu/Engine/MethodCopyTexture.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
Labels: enhancement, gpu, performance

#896 Implement NCA section extractors in the GUI
  Ryujinx/Ui/GameTableContextMenu.cs
  Ryujinx/Ui/GameTableContextMenu.glade
Labels: enhancement, gui

#924 Support compute uniform buffers emulated with global memory
  Ryujinx.Graphics.Gpu/Constants.cs
  Ryujinx.Graphics.Gpu/Engine/Compute.cs
  Ryujinx.Graphics.Shader/Translation/GlobalMemory.cs
  Ryujinx.Graphics.Shader/Translation/Lowering.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/GlobalToStorage.cs
Labels: bug, fix, gpu

#928 Get program IDs for the game list from NCA headers
  Ryujinx/Ui/ApplicationLibrary.cs
Labels: fix, gui

#921 Stub the application copyright framebuffer api
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ICommonStateGetter.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
  Ryujinx.HLE/HOS/Services/Am/ResultCode.cs
Labels: enhancement, service:am, stub

#922 Add inbuilt Opengl renderer to window
  Ryujinx.Audio/Ryujinx.Audio.csproj
  Ryujinx.Common/Ryujinx.Common.csproj
  Ryujinx.Graphics.OpenGL/Ryujinx.Graphics.OpenGL.csproj
  Ryujinx.sln
  Ryujinx/Program.cs
  Ryujinx/Ryujinx.csproj
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/GLScreen.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
  Ryujinx/Ui/ScopedGlContext.cs
Labels: enhancement, gui

#724 Reducing log sizes
  Ryujinx.Common/Configuration/LoggerModule.cs
  Ryujinx.Common/Logging/Targets/FileLogTarget.cs
Labels: enhancement, miscellaneous

#927 Improve build identification
  Ryujinx/Program.cs
  Ryujinx/Ryujinx.csproj
  Ryujinx/Ui/AboutWindow.cs
  Ryujinx/Ui/GLRenderer.cs
  appveyor.yml
Labels: infra, miscellaneous

#930 Some fixes for the new GLRenderer
  Ryujinx.Graphics.OpenGL/Window.cs
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
Labels: fix, gui

#934 Sign-extend shader memory instruction offsets
  Ryujinx.Graphics.Shader/Decoders/OpCodeLdc.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeMemory.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeRed.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitMemory.cs
Labels: bug, fix, gpu

#938 Update bindless to indexed conversion code pattern match
  Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessToIndexed.cs
Labels: bug, fix, gpu

#935 Add version in all window titles
  Ryujinx/Program.cs
  Ryujinx/Ui/MainWindow.cs
Labels: fix, gui

#933 Remove ScopedGlContext
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/ScopedGlContext.cs
Labels: gpu, gui, performance

#811 Changes to configuration
  Ryujinx/Program.cs
  Ryujinx/Ryujinx.csproj
  Ryujinx/Ui/MainWindow.cs
Labels: miscellaneous

#945 Fix crash when first starting the emulator
  Ryujinx/Program.cs
Labels: bug, fix, gui

#941 Accept gamepad inputs when not focused
  Ryujinx/Ui/GLRenderer.cs
Labels: gui, service:hid

#932 Fix application list again
  Ryujinx/Ui/ApplicationLibrary.cs
Labels: fix, gui

#943 Implement GetCurrentIpConfigInfo
  Ryujinx.HLE/HOS/Services/Nifm/StaticService/IGeneralService.cs
  Ryujinx.HLE/HOS/Services/Nifm/StaticService/Types/DnsSetting.cs
  Ryujinx.HLE/HOS/Services/Nifm/StaticService/Types/IpAddressSetting.cs
  Ryujinx.HLE/HOS/Services/Nifm/StaticService/Types/IpV4Address.cs
Labels: bug, enhancement, service:nifm

#931 Replace LinkedList by IntrusiveList to avoid allocations on JIT
  ARMeilleure/CodeGen/Optimizations/Optimizer.cs
  ARMeilleure/CodeGen/RegisterAllocators/HybridAllocator.cs
  ARMeilleure/CodeGen/RegisterAllocators/LinearScanAllocator.cs
  ARMeilleure/CodeGen/X86/CodeGenerator.cs
  ARMeilleure/CodeGen/X86/PreAllocator.cs
  ARMeilleure/Diagnostics/IRDumper.cs
  ARMeilleure/IntermediateRepresentation/BasicBlock.cs
  ARMeilleure/IntermediateRepresentation/IIntrusiveListNode.cs
  ARMeilleure/IntermediateRepresentation/IntrusiveList.cs
  ARMeilleure/IntermediateRepresentation/Node.cs
  ARMeilleure/IntermediateRepresentation/Operand.cs
  ARMeilleure/Translation/ControlFlowGraph.cs
  ARMeilleure/Translation/Dominance.cs
  ARMeilleure/Translation/EmitterContext.cs
  ARMeilleure/Translation/RegisterToLocal.cs
  ARMeilleure/Translation/RegisterUsage.cs
  ARMeilleure/Translation/SsaConstruction.cs
  ARMeilleure/Translation/SsaDeconstruction.cs
Labels: cpu, enhancement

#947 Add button in settings to open logs folder
  Ryujinx/Ui/SwitchSettings.cs
  Ryujinx/Ui/SwitchSettings.glade
Labels: enhancement, gui

#944 Improve rendering on resolution lower than 1080p
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/MainWindow.glade
Labels: bug, fix, gui

#939 Actually use the dummy NACP when calling EnsureApplicationSaveData
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
Labels: bug, fix, horizon

#957 Set Undefined instruction emitter for Undefined property on InstDescriptor
  ARMeilleure/Decoders/InstDescriptor.cs
Labels: bug, cpu, fix

#959 Reduce copy destination size by target mipmap level, rather than source size.
  Ryujinx.Graphics.OpenGL/TextureCopyUnscaled.cs
Labels: fix, gpu

#956 Implement FACGE and FACGT (Scalar and Vector) AArch64 SIMD instructions
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitSimdCmp.cs
  ARMeilleure/Instructions/InstName.cs
  Ryujinx.Tests/Cpu/CpuTestSimdReg.cs
Labels: cpu, enhancement

#954 Add SSAT, SSAT16, USAT and USAT16 ARM32 instructions
  ARMeilleure/Decoders/OpCode32Sat.cs
  ARMeilleure/Decoders/OpCode32Sat16.cs
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitAlu32.cs
  ARMeilleure/Instructions/InstEmitAluHelper.cs
  ARMeilleure/Instructions/InstEmitMul32.cs
  ARMeilleure/Instructions/InstName.cs
  ARMeilleure/State/PState.cs
  Ryujinx.Tests.Unicorn/UnicornAArch32.cs
  Ryujinx.Tests/Cpu/CpuTest32.cs
  Ryujinx.Tests/Cpu/CpuTestAlu32.cs
  Ryujinx.Tests/Cpu/CpuTestMul32.cs
Labels: cpu, enhancement
