Repository Ryujinx/Ryujinx, pull requests merged in 2020-03, with the labels that each got.

#955 Implement mii:u and mii:e entirely
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/Types/UserId.cs
  Ryujinx.HLE/HOS/Services/Mii/DatabaseImpl.cs
  Ryujinx.HLE/HOS/Services/Mii/DatabaseSessionMetadata.cs
  Ryujinx.HLE/HOS/Services/Mii/Helper.cs
  Ryujinx.HLE/HOS/Services/Mii/IImageDatabaseService.cs
  Ryujinx.HLE/HOS/Services/Mii/IStaticService.cs
  Ryujinx.HLE/HOS/Services/Mii/MiiDatabaseManager.cs
  Ryujinx.HLE/HOS/Services/Mii/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Mii/StaticService/DatabaseServiceImpl.cs
  Ryujinx.HLE/HOS/Services/Mii/StaticService/IDatabaseService.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/Age.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/BeardType.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/CharInfo.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/CharInfoElement.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/CommonColor.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/CoreData.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/CreateId.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/DefaultMii.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/EyeType.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/EyebrowType.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/FacelineColor.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/FacelineMake.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/FacelineType.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/FacelineWrinkle.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/FontRegion.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/Gender.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/GlassType.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/HairFlip.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/HairType.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/IElement.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/IStoredData.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/MoleType.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/MouthType.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/MustacheType.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/Nickname.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/NintendoFigurineDatabase.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/NoseType.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/Race.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/RandomMiiConstants.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/Source.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/SourceFlag.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/SpecialMiiKeyCode.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/StoreData.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/StoreDataElement.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/Ver3StoreData.cs
  Ryujinx.HLE/HOS/Services/Mii/UtilityImpl.cs
  Ryujinx.HLE/HOS/Services/Sdb/Mii/IStaticService.cs
  Ryujinx.HLE/HOS/SystemState/SystemStateMgr.cs
Labels: enhancement, service:mii

#962 Stub GetNintendoAccountUserResourceCacheForApplication
  Ryujinx.HLE/HOS/Services/Account/Acc/IManagerForApplication.cs
Labels: service:account, stub

#963 Initial support for double precision shader instructions.
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGen.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenHelper.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenPacking.cs
  Ryujinx.Graphics.Shader/Decoders/DecoderHelper.cs
  Ryujinx.Graphics.Shader/Decoders/FPType.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeDArithImm.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeTable.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitAluHelper.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitConversion.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitFArith.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitHelper.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/Instruction.cs
  Ryujinx.Graphics.Shader/StructuredIr/InstructionInfo.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgram.cs
  Ryujinx.Graphics.Shader/StructuredIr/VariableType.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContextInsts.cs
  Ryujinx.Graphics.Shader/Translation/Lowering.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/ConstantFolding.cs
Labels: fix, gpu

#936 Add support for cache storage
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Fs/IDeviceOperator.cs
  Ryujinx.HLE/HOS/Services/Fs/IFileSystemProxy.cs
  Ryujinx.HLE/HOS/Services/Mii/MiiDatabaseManager.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx/Ui/ApplicationLibrary.cs
  Ryujinx/Ui/GameTableContextMenu.cs
Labels: enhancement, horizon

#965 Implement some calls of ISelfController
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ISelfController.cs
  Ryujinx.HLE/HOS/Services/Am/ResultCode.cs
Labels: enhancement, fix, service:am

#964 Don't decode blocks starting outside mapped memory & undefined instead of throw on invalid sysreg coprocessor
  ARMeilleure/Decoders/Decoder.cs
  ARMeilleure/Instructions/InstEmitSystem32.cs
Labels: cpu, enhancement

#952 Implement Fast Paths for most A32 SIMD instructions
  ARMeilleure/CodeGen/X86/IntrinsicTable.cs
  ARMeilleure/Decoders/OpCode32SimdRev.cs
  ARMeilleure/Instructions/InstEmitSimdArithmetic.cs
  ARMeilleure/Instructions/InstEmitSimdArithmetic32.cs
  ARMeilleure/Instructions/InstEmitSimdCmp32.cs
  ARMeilleure/Instructions/InstEmitSimdCvt.cs
  ARMeilleure/Instructions/InstEmitSimdCvt32.cs
  ARMeilleure/Instructions/InstEmitSimdHelper.cs
  ARMeilleure/Instructions/InstEmitSimdHelper32.cs
  ARMeilleure/Instructions/InstEmitSimdLogical32.cs
  ARMeilleure/Instructions/InstEmitSimdMove32.cs
  ARMeilleure/IntermediateRepresentation/Intrinsic.cs
Labels: cpu, enhancement

#967 Fix branch with CC and predicate, and a case of SSY/PBK propagation
  Ryujinx.Graphics.Shader/Decoders/Decoder.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitFlow.cs
Labels: fix, gpu

#971 A64 SIMD LDP and STP with size = 0b11 is undefined
  ARMeilleure/Decoders/OpCodeTable.cs
Labels: cpu, fix

#948 Move status information from the title bar to the new status bar
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
  Ryujinx/Ui/StatusUpdatedEventArgs.cs
Labels: enhancement, gui

#972 Optimize x64 loads and stores using complex addressing modes
  ARMeilleure/CodeGen/Optimizations/Optimizer.cs
  ARMeilleure/CodeGen/RegisterAllocators/HybridAllocator.cs
  ARMeilleure/CodeGen/RegisterAllocators/LinearScanAllocator.cs
  ARMeilleure/CodeGen/X86/Assembler.cs
  ARMeilleure/CodeGen/X86/CodeGenCommon.cs
  ARMeilleure/CodeGen/X86/CodeGenerator.cs
  ARMeilleure/CodeGen/X86/PreAllocator.cs
  ARMeilleure/CodeGen/X86/X86Optimizer.cs
  ARMeilleure/IntermediateRepresentation/Node.cs
  ARMeilleure/Translation/Compiler.cs
Labels: cpu, enhancement, performance

#968 Insert the SD card by default
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
Labels: enhancement, horizon

#960 Implement VMOVL and VORR.I32 AArch32 SIMD instructions
  ARMeilleure/Decoders/OpCode32SimdImm.cs
  ARMeilleure/Decoders/OpCode32SimdLong.cs
  ARMeilleure/Decoders/OpCodeSimdHelper.cs
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitSimdLogical32.cs
  ARMeilleure/Instructions/InstEmitSimdMove32.cs
  ARMeilleure/Instructions/InstName.cs
  Ryujinx.Tests/Cpu/CpuTestSimdLogical32.cs
  Ryujinx.Tests/Cpu/CpuTestSimdMov32.cs
Labels: cpu, enhancement

#977 Implement VMULL, VMLSL, VRSHR, VQRSHRN, VQRSHRUN AArch32 instructions + other fixes
  ARMeilleure/Decoders/OpCode32SimdRegElem.cs
  ARMeilleure/Decoders/OpCode32SimdRegElemLong.cs
  ARMeilleure/Decoders/OpCode32SimdRegLong.cs
  ARMeilleure/Decoders/OpCode32SimdShImm.cs
  ARMeilleure/Decoders/OpCode32SimdShImmNarrow.cs
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitAlu32.cs
  ARMeilleure/Instructions/InstEmitSimdArithmetic32.cs
  ARMeilleure/Instructions/InstEmitSimdHelper32.cs
  ARMeilleure/Instructions/InstEmitSimdShift32.cs
  ARMeilleure/Instructions/InstName.cs
  Ryujinx.Tests/Cpu/CpuTestSimdReg32.cs
  Ryujinx.Tests/Cpu/CpuTestSimdRegElem32.cs
  Ryujinx.Tests/Cpu/CpuTestSimdShImm32.cs
Labels: cpu, enhancement

#975 Use a Jump Table for direct and indirect calls/jumps, removing transitions to managed
  ARMeilleure/CodeGen/Optimizations/Optimizer.cs
  ARMeilleure/CodeGen/X86/Assembler.cs
  ARMeilleure/CodeGen/X86/CodeGenerator.cs
  ARMeilleure/CodeGen/X86/PreAllocator.cs
  ARMeilleure/CodeGen/X86/X86Instruction.cs
  ARMeilleure/Decoders/Block.cs
  ARMeilleure/Decoders/Decoder.cs
  ARMeilleure/Decoders/Optimizations/TailCallRemover.cs
  ARMeilleure/Instructions/DelegateTypes.cs
  ARMeilleure/Instructions/InstEmitAluHelper.cs
  ARMeilleure/Instructions/InstEmitException.cs
  ARMeilleure/Instructions/InstEmitException32.cs
  ARMeilleure/Instructions/InstEmitFlow.cs
  ARMeilleure/Instructions/InstEmitFlow32.cs
  ARMeilleure/Instructions/InstEmitFlowHelper.cs
  ARMeilleure/Instructions/InstEmitHelper.cs
  ARMeilleure/Instructions/InstEmitMemoryHelper.cs
  ARMeilleure/Instructions/NativeInterface.cs
  ARMeilleure/IntermediateRepresentation/Instruction.cs
  ARMeilleure/Memory/MemoryManagement.cs
  ARMeilleure/Memory/MemoryManagementUnix.cs
  ARMeilleure/Memory/MemoryManagementWindows.cs
  ARMeilleure/Memory/MemoryManagerPal.cs
  ARMeilleure/Memory/ReservedRegion.cs
  ARMeilleure/State/ExecutionContext.cs
  ARMeilleure/State/NativeContext.cs
  ARMeilleure/Translation/ArmEmitterContext.cs
  ARMeilleure/Translation/DirectCallStubs.cs
  ARMeilleure/Translation/EmitterContext.cs
  ARMeilleure/Translation/JitCache.cs
  ARMeilleure/Translation/JumpTable.cs
  ARMeilleure/Translation/TranslatedFunction.cs
  ARMeilleure/Translation/Translator.cs
  Ryujinx.HLE/HOS/Kernel/Threading/HleScheduler.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KThread.cs
Labels: cpu, enhancement, performance

#987 Implement MME shadow RAM
  Ryujinx.Graphics.Gpu/MacroInterpreter.cs
  Ryujinx.Graphics.Gpu/NvGpuFifo.cs
  Ryujinx.Graphics.Gpu/NvGpuFifoMeth.cs
  Ryujinx.Graphics.Gpu/ShadowRamControl.cs
Labels: fix, gpu

#982 Implement AESMC, AESIMC, AESE, AESD and VEOR AArch32 instructions
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitSimdCrypto32.cs
  ARMeilleure/Instructions/InstEmitSimdLogical32.cs
  ARMeilleure/Instructions/InstName.cs
  Ryujinx.Tests/Cpu/CpuTest32.cs
  Ryujinx.Tests/Cpu/CpuTestSimdCrypto32.cs
  Ryujinx.Tests/Cpu/CpuTestSimdLogical32.cs
Labels: cpu

#976 Fix GTK window crash by using 24 bit surface on unix, 32 bit on windows.
  Ryujinx/Ui/GLRenderer.cs
Labels: fix, gui

#989 Improve shader sampler type selection
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
Labels: fix, gpu

#993 audren: Accept REV8
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/Types/AudioRendererConsts.cs
Labels: audio, stub

#978 CodeGen Optimisations (LSRA and Translator)
  ARMeilleure/CodeGen/RegisterAllocators/CopyResolver.cs
  ARMeilleure/CodeGen/RegisterAllocators/HybridAllocator.cs
  ARMeilleure/CodeGen/RegisterAllocators/LinearScanAllocator.cs
  ARMeilleure/CodeGen/RegisterAllocators/LiveInterval.cs
  ARMeilleure/CodeGen/X86/CodeGenerator.cs
  ARMeilleure/CodeGen/X86/PreAllocator.cs
  ARMeilleure/CodeGen/X86/X86Optimizer.cs
  ARMeilleure/Common/BitMap.cs
  ARMeilleure/Common/BitMapPool.cs
  ARMeilleure/Common/BitUtils.cs
  ARMeilleure/Common/SortedIntegerList.cs
  ARMeilleure/Common/ThreadStaticPool.cs
  ARMeilleure/IntermediateRepresentation/MemoryOperand.cs
  ARMeilleure/IntermediateRepresentation/Node.cs
  ARMeilleure/IntermediateRepresentation/Operand.cs
  ARMeilleure/IntermediateRepresentation/OperandHelper.cs
  ARMeilleure/IntermediateRepresentation/Operation.cs
  ARMeilleure/IntermediateRepresentation/OperationHelper.cs
  ARMeilleure/Translation/ControlFlowGraph.cs
  ARMeilleure/Translation/EmitterContext.cs
  ARMeilleure/Translation/PriorityQueue.cs
  ARMeilleure/Translation/RegisterUsage.cs
  ARMeilleure/Translation/SsaDeconstruction.cs
  ARMeilleure/Translation/Translator.cs
Labels: cpu, enhancement

#995 Modify TranslatedFunction.GetPointer () to optimize performance
  ARMeilleure/Translation/TranslatedFunction.cs
Labels: cpu, enhancement

#999 Implement GetRegionCode and add the RegionCode to settings
  Ryujinx.Common/Configuration/ConfigurationFileFormat.cs
  Ryujinx.Common/Configuration/ConfigurationState.cs
  Ryujinx.Common/Configuration/System/Region.cs
  Ryujinx.HLE/HOS/Services/Settings/ISettingsServer.cs
  Ryujinx.HLE/HOS/SystemState/SystemRegion.cs
  Ryujinx.HLE/HOS/SystemState/SystemStateMgr.cs
  Ryujinx.HLE/Switch.cs
  Ryujinx/Config.json
  Ryujinx/Program.cs
  Ryujinx/Ui/SwitchSettings.cs
  Ryujinx/Ui/SwitchSettings.glade
  Ryujinx/_schema.json
Labels: gui, service:settings

#1000 Support partial invalidation on texture access
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
Labels: fix, gpu

#996 Use OpCodeTable to get MakeOp to improve performance
  ARMeilleure/Decoders/Decoder.cs
  ARMeilleure/Decoders/OpCodeTable.cs
Labels: cpu, enhancement

#1007 Implement textureQueryLevels
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
Labels: fix, gpu

#1009 Keep sRGB enabled for texture blits
  Ryujinx.Graphics.OpenGL/TextureCopy.cs
Labels: fix, gpu

#1010 Implement ICMP shader instruction
  Ryujinx.Graphics.Shader/Decoders/OpCodeTable.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitAlu.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitMove.cs
Labels: fix, gpu

#1016 Fix Prepo parsing reports
  Ryujinx.HLE/HOS/Services/Prepo/IPrepoService.cs
Labels: fix, service:prepo

#1017 friends: Stub GetBlockedUserListIds
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/IFriendService.cs
Labels: service:friend, stub

#1021 Fix the item name cannot be displayed in profiler view
  Ryujinx.Debugger/UI/ProfilerWidget.cs
Labels: fix, miscellaneous

#1018 Add Fcvtas_S/V & Fcvtau_S/V Inst.s with Tests.
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitSimdCvt.cs
  ARMeilleure/Instructions/InstName.cs
  Ryujinx.Tests/Cpu/CpuTestSimd.cs
Labels: cpu

#984 Add GPU name in status bar
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
  Ryujinx/Ui/StatusUpdatedEventArgs.cs
Labels: enhancement, gui

#1022 prepo: Resolve JSON parsing issues in prepo report handling
  Ryujinx.HLE/HOS/Services/Prepo/IPrepoService.cs
Labels: fix, horizon

#1030 Fix gpu vendor name parsing
  Ryujinx/Ui/GLRenderer.cs
Labels: fix, gui

#1026 Add Fast Paths for Crypto instructions (A32/A64)
  ARMeilleure/CodeGen/X86/Assembler.cs
  ARMeilleure/CodeGen/X86/IntrinsicTable.cs
  ARMeilleure/CodeGen/X86/X86Instruction.cs
  ARMeilleure/Instructions/InstEmitSimdCrypto.cs
  ARMeilleure/Instructions/InstEmitSimdCrypto32.cs
  ARMeilleure/IntermediateRepresentation/Intrinsic.cs
  ARMeilleure/Optimizations.cs
Labels: cpu, performance

#1011 Add IMultiCommitManager
  Ryujinx.HLE/FileSystem/Content/ContentManager.cs
  Ryujinx.HLE/HOS/Font/SharedFontManager.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/FileSystemProxyHelper.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/IFileSystem.cs
  Ryujinx.HLE/HOS/Services/Fs/IFileSystemProxy.cs
  Ryujinx.HLE/HOS/Services/Fs/IMultiCommitManager.cs
  Ryujinx.HLE/HOS/Services/Mii/MiiDatabaseManager.cs
  Ryujinx.HLE/HOS/Services/Settings/ISystemSettingsServer.cs
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZoneContentManager.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx.HLE/Utilities/StringUtils.cs
  Ryujinx/Ui/ApplicationLibrary.cs
  Ryujinx/Ui/GameTableContextMenu.cs
  Ryujinx/Ui/SaveImporter.cs
Labels: enhancement, service:fs

#1033 prepo: Implement RequestImmediateTransmission and GetTransmissionStatus
  Ryujinx.HLE/HOS/Services/Prepo/IPrepoService.cs
Labels: service:prepo

#1032 Implement VMNMX shader instruction
  Ryujinx.Graphics.Shader/Decoders/OpCodeTable.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeVideo.cs
  Ryujinx.Graphics.Shader/Decoders/VideoPostOp.cs
  Ryujinx.Graphics.Shader/Decoders/VideoType.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitVideo.cs
Labels: fix, gpu

#1025 Fix unhandled UnauthorizedAccessException causing crash while listing…
  Ryujinx/Ui/ApplicationLibrary.cs
Labels: fix, gui

#1040 ui: Make it possible to open the device save directory
  Ryujinx/Ui/ApplicationData.cs
  Ryujinx/Ui/ApplicationLibrary.cs
  Ryujinx/Ui/GameTableContextMenu.cs
  Ryujinx/Ui/GameTableContextMenu.glade
  Ryujinx/Ui/MainWindow.cs
Labels: enhancement, gui

#1034 prepo: Add a MessagePack object formatter
  Ryujinx.Common/Ryujinx.Common.csproj
  Ryujinx.Common/Utilities/MessagePackObjectFormatter.cs
  Ryujinx.HLE/HOS/Services/Prepo/IPrepoService.cs
Labels: enhancement, service:prepo

#1031 Make Device Location Name configuration (custom TZ)
  Ryujinx.Common/Configuration/ConfigurationFileFormat.cs
  Ryujinx.Common/Configuration/ConfigurationState.cs
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZoneContentManager.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/SwitchSettings.cs
  Ryujinx/Ui/SwitchSettings.glade
Labels: enhancement, gui, service:time

#1041 Implement NOP and stub DEPBAR shader instructions
  Ryujinx.Graphics.Shader/Decoders/OpCodeTable.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitFlow.cs
Labels: fix, gpu

#1058 Implement GPU scissors
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.Gpu/Engine/MethodClear.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/State/GpuStateTable.cs
  Ryujinx.Graphics.Gpu/State/MethodOffset.cs
  Ryujinx.Graphics.Gpu/State/ScissorState.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.OpenGL/TextureCopy.cs
  Ryujinx.Graphics.OpenGL/Window.cs
Labels: fix, gpu

#1029 Discord Rich Presence update
  Ryujinx/Configuration/DiscordIntegrationModule.cs
  Ryujinx/RPsupported.dat
  Ryujinx/Ryujinx.csproj
  Ryujinx/Ui/MainWindow.cs
Labels: fix, miscellaneous

#1001 Move the OpActivator to OpCodeTable class for improve performance
  Ryujinx.Graphics.Shader/Decoders/Decoder.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeTable.cs
Labels: enhancement, gpu

#1044 Escape key now brings up a dialog to confirm you want to stop emulation
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/GtkDialog.cs
Labels: fix, gui

#1050 Workaround for AMD and Intel view format bug
  Ryujinx.Graphics.OpenGL/Debugger.cs
  Ryujinx.Graphics.OpenGL/Framebuffer.cs
  Ryujinx.Graphics.OpenGL/HwCapabilities.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/TextureCopyUnscaled.cs
  Ryujinx.Graphics.OpenGL/TextureStorage.cs
  Ryujinx.Graphics.OpenGL/TextureView.cs
Labels: fix, gpu

#1015 Index constant buffer vec4s using ternary expressions.
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
Labels: fix, gpu

#1053 Reduce requirements for running homebrew
  Ryujinx.HLE/FileSystem/Content/ContentManager.cs
  Ryujinx.HLE/HOS/Font/SharedFontManager.cs
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZoneContentManager.cs
Labels: fix, service:spl, service:time

#1066 Support constant attributes (with a value of zero)
  Ryujinx.Graphics.GAL/VertexAttribDescriptor.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/State/VertexAttribState.cs
  Ryujinx.Graphics.OpenGL/VertexArray.cs
Labels: fix, gpu

#1067 Implement FCMP shader instruction
  Ryujinx.Graphics.Shader/Decoders/OpCodeTable.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitFArith.cs
Labels: fix, gpu

#1043 Make max anisotropy configurable
  Ryujinx.Common/Configuration/ConfigurationFileFormat.cs
  Ryujinx.Common/Configuration/ConfigurationState.cs
  Ryujinx.Graphics.GAL/Capabilities.cs
  Ryujinx.Graphics.Gpu/GraphicsConfig.cs
  Ryujinx.Graphics.Gpu/Image/Sampler.cs
  Ryujinx.Graphics.OpenGL/HwCapabilities.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx/Config.json
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/SwitchSettings.cs
  Ryujinx/Ui/SwitchSettings.glade
Labels: enhancement, gpu

#1002 Add warning with an option to disable for settings that impact performance
  Ryujinx/Ui/MainWindow.cs
Labels: enhancement, gui, performance

#1046 Set default width and height based on monitor resolution
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
Labels: enhancement, gui

#1080 Fix tooltip on the anisotropic filtering setting
  Ryujinx/Ui/SwitchSettings.glade
Labels: gui
