Repository Ryujinx/Ryujinx, pull requests merged in 2020-01, with the labels that each got.

#858 Fix EphemeralNetworkSystemClock using the wrong steady clock
  Ryujinx.HLE/HOS/Services/Time/TimeManager.cs
Labels: bug, fix, service:time

#801 Rename "RyuFs" directory to "Ryujinx" and use the same savedata system the Switch uses
  KEYS.md
  README.md
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/IAccountServiceForApplication.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/FileSystemProxyHelper.cs
  Ryujinx.HLE/HOS/Services/Fs/IFileSystemProxy.cs
  Ryujinx.HLE/HOS/Services/Fs/ISaveDataInfoReader.cs
  Ryujinx.HLE/HOS/Services/Ns/IApplicationManagerInterface.cs
  Ryujinx.HLE/HOS/Services/Sdb/Pdm/QueryService/QueryPlayStatisticsManager.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx.HLE/Switch.cs
  Ryujinx/Program.cs
  Ryujinx/Ui/AboutWindow.cs
  Ryujinx/Ui/ApplicationData.cs
  Ryujinx/Ui/ApplicationLibrary.cs
  Ryujinx/Ui/GameTableContextMenu.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/Migration.cs
  Ryujinx/Ui/SaveImporter.cs
  Ryujinx/Ui/SwitchSettings.cs
Labels: enhancement, horizon, service:fs

#860 Fix ReactiveObject initial event not being propagated with boolean types
  Ryujinx.Common/ReactiveObject.cs
Labels: bug, fix, miscellaneous

#861 Fix timezone month being reported incorrectly to games
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZone.cs
Labels: bug, fix, service:time

#863 Fix R5G6B5 in SurfaceFlinger
  Ryujinx.Graphics.OpenGL/FormatTable.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/NvFlinger.cs
Labels: bug, fix, gpu, service:surface-flinger

#868 Add GPU Information to Logging
  Ryujinx.Graphics.GAL/IRenderer.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx/Ui/GLScreen.cs
Labels: enhancement, gpu

#791 System firmware installer
  Ryujinx.HLE/Exceptions/InvalidFirmwarePackageException.cs
  Ryujinx.HLE/FileSystem/Content/ContentManager.cs
  Ryujinx.HLE/FileSystem/Content/SystemVersion.cs
  Ryujinx.HLE/HOS/Font/SharedFontManager.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Sdb/Pl/ISharedFontManager.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
Labels: miscellaneous

#873 MapBufferEx: take page size into account
  Ryujinx.Graphics.Gpu/Memory/MemoryManager.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostAsGpu/NvHostAsGpuDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostAsGpu/Types/AddressSpaceContext.cs
Labels: bug, fix, gpu, service:nv

#872 Get rid of code duplication
  Ryujinx/Ui/ApplicationLibrary.cs
  Ryujinx/Ui/ApplicationMetadata.cs
  Ryujinx/Ui/MainWindow.cs
Labels: enhancement, gui

#859 Add 32 bits support to HleProcessDebugger
  Ryujinx.HLE/HOS/Kernel/Process/HleProcessDebugger.cs
  Ryujinx.HLE/Loaders/Elf/ElfSymbol.cs
  Ryujinx.HLE/Loaders/Elf/ElfSymbol32.cs
  Ryujinx.HLE/Loaders/Elf/ElfSymbol64.cs
Labels: enhancement, horizon

#871 Call EnsureApplicationSaveData when launching a game
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Arp/ApplicationLaunchProperty.cs
  Ryujinx.HLE/HOS/Services/Fs/IFileSystemProxy.cs
  Ryujinx/Ui/GLScreen.cs
  Ryujinx/Ui/MainWindow.cs
Labels: fix, horizon, service:fs

#882 Get rid of unused class AboutInfo
  Ryujinx/Ui/AboutInfo.cs
  Ryujinx/Ui/AboutWindow.cs
Labels: gui, miscellaneous

#878 Replace glFinish with barrier for WaitForIdle
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.GAL/IRenderer.cs
  Ryujinx.Graphics.Gpu/NvGpuFifo.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
Labels: enhancement, gpu

#881 Support instanced draw of quads
  Ryujinx.Graphics.OpenGL/Pipeline.cs
Labels: bug, fix, gpu

#877 Add a GetSpan method to the memory manager and use it on GPU
  ARMeilleure/Memory/MemoryManager.cs
  Ryujinx.Graphics.GAL/IBuffer.cs
  Ryujinx.Graphics.GAL/ITexture.cs
  Ryujinx.Graphics.Gpu/Engine/Compute.cs
  Ryujinx.Graphics.Gpu/Engine/MethodCopyBuffer.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/Image/SamplerPool.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
  Ryujinx.Graphics.Gpu/Memory/Buffer.cs
  Ryujinx.Graphics.Gpu/Memory/MemoryAccessor.cs
  Ryujinx.Graphics.Gpu/Memory/PhysicalMemory.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderDumper.cs
  Ryujinx.Graphics.OpenGL/Buffer.cs
  Ryujinx.Graphics.OpenGL/TextureView.cs
  Ryujinx.Graphics.Shader/Decoders/Decoder.cs
  Ryujinx.Graphics.Shader/Translation/ShaderHeader.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
Labels: enhancement, gpu

#884 Fix race condition in ContentManager
  Ryujinx.HLE/FileSystem/Content/ContentManager.cs
Labels: bug, fix, horizon

#886 Name all threads
  ARMeilleure/Translation/Translator.cs
  Ryujinx.Audio/Renderers/OpenAL/OpenALAudioOut.cs
  Ryujinx.Common/Logging/Formatters/DefaultLogFormatter.cs
  Ryujinx.Common/Logging/LogEventArgs.cs
  Ryujinx.Common/Logging/Logger.cs
  Ryujinx.Common/Logging/Targets/AsyncLogTargetWrapper.cs
  Ryujinx.HLE/HOS/Kernel/Common/KTimeManager.cs
  Ryujinx.HLE/HOS/Kernel/Threading/HleScheduler.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KThread.cs
  Ryujinx.Profiler/InternalProfile.cs
  Ryujinx.Profiler/UI/ProfileWindowManager.cs
  Ryujinx/Ui/GLScreen.cs
  Ryujinx/Ui/MainWindow.cs
Labels: enhancement, miscellaneous

#883 Rework SVC handling
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/RAttribute.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcHandler.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcIpc.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcMemory.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcSystem.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcTable.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcThread.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcThreadSync.cs
Labels: enhancement, kernel

#889 Update to LibHac 0.8.2
  Ryujinx.HLE/HOS/Services/Fs/IFileSystemProxy.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx/Ui/SaveImporter.cs
Labels: enhancement, horizon, service:fs

#893 Add sampler border color support on the GPU
  Ryujinx.Graphics.Gpu/Image/Sampler.cs
  Ryujinx.Graphics.Gpu/Image/SamplerDescriptor.cs
Labels: bug, fix, gpu

#890 Support audio effect output status
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/EffectContext.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/IAudioRenderer.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/Types/EffectIn.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/Types/EffectOut.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/Types/EffectState.cs
Labels: bug, fix, service:audio

#894 Various small audren fixes
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/IAudioRenderer.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/Types/UpdateDataHeader.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager/VoiceContext.cs
Labels: fix, service:audio

#895 Fix shader output color buffer index when non-sequential render targets are used
  Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
Labels: bug, fix, gpu

#892 Update 32 bits syscalls to match 64 bits implementation
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcIpc.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcMemory.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcSystem.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcTable.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcThread.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcThreadSync.cs
Labels: enhancement, kernel

#898 Update DiscordRichPresence package reference to 1.0.147
  Ryujinx/Ryujinx.csproj
Labels: enhancement, miscellaneous

#888 Keep the GUI alive when closing a game
  Ryujinx.Graphics.Gpu/GpuContext.cs
  Ryujinx.HLE/FileSystem/Content/ContentManager.cs
  Ryujinx.HLE/FileSystem/StorageId.cs
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
  Ryujinx.HLE/HOS/Font/SharedFontManager.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
  Ryujinx.HLE/HOS/Services/Fs/IFileSystemProxy.cs
  Ryujinx.HLE/HOS/Services/Sdb/Pl/ISharedFontManager.cs
  Ryujinx.HLE/Switch.cs
  Ryujinx/Configuration/DiscordIntegrationModule.cs
  Ryujinx/Program.cs
  Ryujinx/Ui/ApplicationLibrary.cs
  Ryujinx/Ui/GLScreen.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/Migration.cs
Labels: enhancement, gui, horizon

#899 Ignore exit flag on branch delay slot
  Ryujinx.Graphics.Gpu/Engine/MethodFirmware.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/MacroInterpreter.cs
  Ryujinx.Graphics.Gpu/State/GpuState.cs
  Ryujinx.Graphics.Gpu/State/MethodOffset.cs
Labels: bug, fix, gpu

#900 Added Program Icon
  Ryujinx/Ryujinx.csproj
  Ryujinx/Ryujinx.ico
Labels: enhancement, miscellaneous

#901 Make VirtualFileSystem only instantiable once
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
  Ryujinx/Ui/ApplicationLibrary.cs
  Ryujinx/Ui/GameTableContextMenu.cs
  Ryujinx/Ui/MainWindow.cs
Labels: bug, fix, service:fs

#907 SoftwareKeyboard: Interactive data size should include size field.
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardApplet.cs
Labels: bug, fix, horizon

#909 Fix OpenBisFileSystem wrong buffer type
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/FileSystemProxyHelper.cs
Labels: bug, fix, service:fs

#905 prepo IPrepoService accurate parsing for report
  Ryujinx.HLE/HOS/Services/Prepo/IPrepoService.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
Labels: fix, service:prepo

#911 Discard higher 32-bits of IPC message magic and command number
  Ryujinx.HLE/HOS/Ipc/IpcHandler.cs
Labels: bug, fix, horizon

#910 Enable stencil texturing
  Ryujinx.Graphics.OpenGL/EnumConversion.cs
  Ryujinx.Graphics.OpenGL/TextureView.cs
Labels: bug, fix, gpu

#891 Fix application list
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx/Ui/ApplicationAddedEventArgs.cs
  Ryujinx/Ui/ApplicationCountUpdatedEventArgs.cs
  Ryujinx/Ui/ApplicationLibrary.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/SwitchSettings.cs
Labels: bug, fix, gui
