Repository Ryujinx/Ryujinx, pull requests merged in 2020-11, with the labels that each got.

#1648 Remove unused texture and sampler pool invalidation code
  Ryujinx.Graphics.Gpu/Image/Pool.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Gpu/Image/TexturePoolCache.cs
Labels: enhancement, gpu

#1649 Fix compressed to non-compressed texture copy size
  Ryujinx.Graphics.OpenGL/Image/TextureCopyUnscaled.cs
Labels: fix, gpu

#1655 Support 3D BC4 and BC5 compressed textures
  Ryujinx.Graphics.GAL/Format.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.Texture/BCnDecoder.cs
  Ryujinx.sln
Labels: fix, gpu

#1657 Support res scale on images, correctly blacklist for SUST, move logic out of backend.
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/CodeGenContext.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
  Ryujinx.Graphics.Shader/TextureDescriptor.cs
  Ryujinx.Graphics.Shader/TextureUsageFlags.cs
Labels: fix, gpu

#1658 Add seamless cubemap flag in sampler parameters.
  Ryujinx.Graphics.GAL/SamplerCreateInfo.cs
  Ryujinx.Graphics.Gpu/Image/Sampler.cs
  Ryujinx.Graphics.Gpu/Image/SamplerDescriptor.cs
  Ryujinx.Graphics.OpenGL/HwCapabilities.cs
  Ryujinx.Graphics.OpenGL/Image/Sampler.cs
Labels: enhancement, gpu

#1660 Fix LiveInterval.Split
  ARMeilleure/CodeGen/RegisterAllocators/LiveInterval.cs
Labels: cpu, enhancement

#1647 Separate zeta from color formats
  Ryujinx.Graphics.Gpu/Engine/MethodCopyTexture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.Gpu/State/ColorFormat.cs
  Ryujinx.Graphics.Gpu/State/CopyTexture.cs
  Ryujinx.Graphics.Gpu/State/RtColorState.cs
  Ryujinx.Graphics.Gpu/State/RtDepthStencilState.cs
  Ryujinx.Graphics.Gpu/State/RtFormat.cs
  Ryujinx.Graphics.Gpu/State/ZetaFormat.cs
Labels: enhancement, gpu

#1670 Correct BPP of buffer to texture copies
  Ryujinx.Graphics.Gpu/Engine/MethodCopyBuffer.cs
Labels: fix, gpu

#1671 Do not match aligned sizes for buffer texture targets.
  Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
Labels: fix, gpu

#1673 Support single precision contants for double precision operations
  Ryujinx.Graphics.Shader/CodeGen/Glsl/NumberFormatter.cs
Labels: fix, gpu

#1661 Loaders: Log extra NSO informations
  Ryujinx.HLE/Loaders/Executables/NsoExecutable.cs
Labels: enhancement, horizon

#1675 Update game compatibility list info in README.md
  README.md
Labels: enhancement, miscellaneous

#1656 Only report that GPU commands are available when the queue is not empty.
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoDevice.cs
Labels: enhancement, gpu

#1680 Synchronize Rasterizer State before Clear
  Ryujinx.Graphics.Gpu/Engine/MethodClear.cs
Labels: fix, gpu

#1666 Use explicit buffer and texture bindings on shaders
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.GAL/IRenderer.cs
  Ryujinx.Graphics.Gpu/Engine/Compute.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingInfo.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Gpu/Memory/BufferBounds.cs
  Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/Program.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.OpenGL/Shader.cs
  Ryujinx.Graphics.Shader/BufferDescriptor.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
  Ryujinx.Graphics.Shader/TextureDescriptor.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
  Ryujinx.Graphics.Shader/Translation/TranslationCounts.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
Labels: enhancement, gpu

#1662 apm/am: Refactoring/Unstub services
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/ISystemAppletProxy.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ICommonStateGetter.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/IApplicationProxy.cs
  Ryujinx.HLE/HOS/Services/Apm/IManager.cs
  Ryujinx.HLE/HOS/Services/Apm/ISession.cs
  Ryujinx.HLE/HOS/Services/Apm/ISystemManager.cs
  Ryujinx.HLE/HOS/Services/Apm/ManagerServer.cs
  Ryujinx.HLE/HOS/Services/Apm/PerformanceState.cs
  Ryujinx.HLE/HOS/Services/Apm/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Apm/SessionServer.cs
  Ryujinx.HLE/HOS/Services/Apm/SystemManagerServer.cs
  Ryujinx.HLE/HOS/Services/Apm/Types/CpuBoostMode.cs
  Ryujinx.HLE/HOS/Services/Apm/Types/PerformanceConfiguration.cs
  Ryujinx.HLE/HOS/Services/Apm/Types/PerformanceMode.cs
Labels: enhancement, fix, service:am, service:apm

#1667 Simplify logic for bindless texture handling
  Ryujinx.Graphics.Gpu/Engine/Compute.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingInfo.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/CodeGenContext.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/TextureOperation.cs
  Ryujinx.Graphics.Shader/StructuredIr/AstTextureOperation.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgram.cs
  Ryujinx.Graphics.Shader/TextureDescriptor.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessElimination.cs
  Ryujinx.Graphics.Shader/Translation/Rewriter.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
  Ryujinx.Graphics.Texture/BCnDecoder.cs
Labels: enhancement, gpu

#1687 Implement ATOM shader instruction
  Ryujinx.Graphics.Shader/Decoders/AtomicOp.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeAtom.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeTable.cs
  Ryujinx.Graphics.Shader/Decoders/ReductionType.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitMemory.cs
Labels: fix, gpu

#1686 Size hints for copy regions and viewport dimensions to avoid data loss
  Ryujinx.Graphics.Gpu/Engine/MethodCopyTexture.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
Labels: fix, gpu

#1672 Do not report unmapped pages as dirty
  Ryujinx.Cpu/MemoryManager.cs
  Ryujinx.Memory.Tests/MockVirtualMemoryManager.cs
  Ryujinx.Memory/Tracking/IVirtualMemoryManager.cs
  Ryujinx.Memory/Tracking/MemoryTracking.cs
  Ryujinx.Memory/Tracking/RegionHandle.cs
Labels: fix, gpu

#1696 Fix: Update performance mode when docked mode changes.
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/Switch.cs
Labels: fix, horizon

#1701 Salieri: Shader Cache
  Ryujinx.Common/Configuration/ConfigurationFileFormat.cs
  Ryujinx.Common/Configuration/ConfigurationState.cs
  Ryujinx.Common/Hash128.cs
  Ryujinx.Common/XXHash128.cs
  Ryujinx.Graphics.GAL/IProgram.cs
  Ryujinx.Graphics.GAL/IRenderer.cs
  Ryujinx.Graphics.Gpu/Engine/Compute.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/GpuContext.cs
  Ryujinx.Graphics.Gpu/GraphicsConfig.cs
  Ryujinx.Graphics.Gpu/Image/TextureDescriptor.cs
  Ryujinx.Graphics.Gpu/Ryujinx.Graphics.Gpu.csproj
  Ryujinx.Graphics.Gpu/Shader/Cache/CacheCollection.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/CacheManager.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/Definition/CacheGraphicsApi.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/Definition/CacheHashType.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/Definition/CacheManifestHeader.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/Definition/GuestGpuAccessorHeader.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/Definition/GuestShaderCacheEntry.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/Definition/GuestShaderCacheEntryHeader.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/Definition/GuestShaderCacheHeader.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/Definition/GuestShaderCacheTransformFeedbackHeader.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/Definition/GuestTextureDescriptor.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/Definition/HostShaderCacheEntry.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/Definition/HostShaderCacheEntryHeader.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/Definition/HostShaderCacheHeader.cs
  Ryujinx.Graphics.Gpu/Shader/CachedGpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderBundle.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCodeHolder.cs
  Ryujinx.Graphics.Gpu/Shader/TextureDescriptorCapableGpuAccessor.cs
  Ryujinx.Graphics.OpenGL/Program.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.Shader/BufferDescriptor.cs
  Ryujinx.Graphics.Shader/Decoders/IOpCodeTexture.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeImage.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeTexture.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeTextureBase.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeTextureScalar.cs
  Ryujinx.Graphics.Shader/InputTopology.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
  Ryujinx.Graphics.Shader/ShaderProgram.cs
  Ryujinx.Graphics.Shader/ShaderProgramInfo.cs
  Ryujinx.Graphics.Shader/ShaderStage.cs
  Ryujinx.Graphics.Shader/TextureDescriptor.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
  Ryujinx.Graphics.Shader/Translation/TranslatorContext.cs
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.ShaderTools/Program.cs
  Ryujinx/Config.json
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/GameTableContextMenu.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/SettingsWindow.cs
  Ryujinx/Ui/SettingsWindow.glade
Labels: enhancement, gpu

#1703 Use "Screen Scissor" as size hint for render targets
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/State/MethodOffset.cs
  Ryujinx.Graphics.Gpu/State/ScreenScissorState.cs
Labels: fix, gpu

#1562 SettingsWindow: Add an Apply button
  Ryujinx/Ui/SettingsWindow.cs
  Ryujinx/Ui/SettingsWindow.glade
Labels: enhancement, gui

#1668 IPSwitch: Quick fix to patch sets toggling
  Ryujinx.HLE/Loaders/Mods/IPSwitchPatcher.cs
Labels: fix, horizon

#1694 infra: Migrate to .NET 5
  .github/workflows/build.yml
  ARMeilleure/ARMeilleure.csproj
  README.md
  Ryujinx.Audio.Renderer/Ryujinx.Audio.Renderer.csproj
  Ryujinx.Audio/Ryujinx.Audio.csproj
  Ryujinx.Common/Ryujinx.Common.csproj
  Ryujinx.Cpu/Ryujinx.Cpu.csproj
  Ryujinx.Graphics.Device/Ryujinx.Graphics.Device.csproj
  Ryujinx.Graphics.GAL/Ryujinx.Graphics.GAL.csproj
  Ryujinx.Graphics.Gpu/Ryujinx.Graphics.Gpu.csproj
  Ryujinx.Graphics.Host1x/Ryujinx.Graphics.Host1x.csproj
  Ryujinx.Graphics.Nvdec.H264/Ryujinx.Graphics.Nvdec.H264.csproj
  Ryujinx.Graphics.Nvdec.Vp9/Ryujinx.Graphics.Nvdec.Vp9.csproj
  Ryujinx.Graphics.Nvdec/Ryujinx.Graphics.Nvdec.csproj
  Ryujinx.Graphics.OpenGL/Ryujinx.Graphics.OpenGL.csproj
  Ryujinx.Graphics.Shader/Ryujinx.Graphics.Shader.csproj
  Ryujinx.Graphics.Texture/Ryujinx.Graphics.Texture.csproj
  Ryujinx.Graphics.Vic/Blender.cs
  Ryujinx.Graphics.Vic/Ryujinx.Graphics.Vic.csproj
  Ryujinx.Graphics.Video/Ryujinx.Graphics.Video.csproj
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx.Memory.Tests/Ryujinx.Memory.Tests.csproj
  Ryujinx.Memory/Ryujinx.Memory.csproj
  Ryujinx.ShaderTools/Ryujinx.ShaderTools.csproj
  Ryujinx.Tests.Unicorn/Ryujinx.Tests.Unicorn.csproj
  Ryujinx.Tests/Ryujinx.Tests.csproj
  Ryujinx/Ryujinx.csproj
  appveyor.yml
  global.json
Labels: enhancement, infra

#1707 Don't warn when debug feature is enabled in debug builds
  Ryujinx/Ui/MainWindow.cs
Labels: fix, gui

#1698 Standardize to camel-case: option to check for updates on launch
  Ryujinx/Ui/SettingsWindow.glade
Labels: enhancement, gui

#1693 ui diag: Add missing error message for ApplicationNotFound
  Ryujinx/Ui/Diagnostic/UserErrorDialog.cs
Labels: fix, gui, miscellaneous

#1688 am/lbl/hid/pctl: Enabled VR Rendering
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ICommonStateGetter.cs
  Ryujinx.HLE/HOS/Services/Hid/IHidServer.cs
  Ryujinx.HLE/HOS/Services/Lbl/ILblController.cs
  Ryujinx.HLE/HOS/Services/Lbl/LblControllerServer.cs
  Ryujinx.HLE/HOS/Services/Pctl/ParentalControlServiceFactory/IParentalControlService.cs
  Ryujinx.HLE/HOS/Services/Pctl/ResultCode.cs
Labels: enhancement, service-implementation, service:am, service:hid, service:pctl

#1715 am: Fix VR enabled by default
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ICommonStateGetter.cs
Labels: fix, service:am

#1716 Propagate zeta format properly
  Ryujinx.Graphics.Gpu/Engine/MethodCopyTexture.cs
Labels: fix, gpu

#1717 shader cache: Fix invalid virtual address clean up
  Ryujinx.Graphics.Gpu/Image/ITextureDescriptor.cs
  Ryujinx.Graphics.Gpu/Image/TextureDescriptor.cs
  Ryujinx.Graphics.Gpu/Image/TextureTarget.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/CacheManager.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/Definition/GuestTextureDescriptor.cs
  Ryujinx.Graphics.Gpu/Shader/CachedGpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Gpu/Shader/TextureDescriptorCapableGpuAccessor.cs
Labels: fix, gpu

#1718 shader cache: Fix possible race causing crashes on manifest at startup
  Ryujinx.Graphics.Gpu/Shader/Cache/CacheCollection.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/CacheManager.cs
Labels: fix, gpu

#1709 shader cache: Fix Linux boot issues
  ARMeilleure/Translation/Translator.cs
  Ryujinx.Graphics.Gpu/GpuContext.cs
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.Tests/Cpu/CpuTest.cs
  Ryujinx.Tests/Cpu/CpuTest32.cs
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/MainWindow.cs
Labels: fix, gpu

#1719 Specify the X64 version of .NET 5, and change the build command
  README.md
Labels: fix, miscellaneous

#1721 Fix buffer to texture copy with remap enabled
  Ryujinx.Graphics.Gpu/Engine/MethodCopyBuffer.cs
Labels: fix, gpu

#1695 Simplify depth test state updates
  Ryujinx.Graphics.OpenGL/Pipeline.cs
Labels: enhancement, gpu

#1724 loaders: Fix possible parsing errors of informations on some NSO
  Ryujinx.HLE/Loaders/Executables/NsoExecutable.cs
Labels: fix, horizon

#1714 Improvements with new .NET 5 functions or bugfixes
  Ryujinx.Common/XXHash128.cs
  Ryujinx.Graphics.Nvdec.Vp9/Common/BitUtils.cs
  Ryujinx.Graphics.Nvdec.Vp9/DecodeFrame.cs
  Ryujinx.Graphics.Nvdec.Vp9/Dsp/Convolve.cs
Labels: enhancement, miscellaneous

#1650 CPU (A64): Add FP16/FP32 fast paths (F16C Intrinsics) for Fcvt_S, Fcvtl_V & Fcvtn_V Instructions. Now HardwareCapabilities uses CpuId.
  ARMeilleure/CodeGen/X86/Assembler.cs
  ARMeilleure/CodeGen/X86/HardwareCapabilities.cs
  ARMeilleure/CodeGen/X86/IntrinsicTable.cs
  ARMeilleure/CodeGen/X86/X86Instruction.cs
  ARMeilleure/Instructions/InstEmitSimdCvt.cs
  ARMeilleure/IntermediateRepresentation/Intrinsic.cs
  ARMeilleure/Optimizations.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  Ryujinx.Tests/Cpu/CpuTestSimd.cs
Labels: cpu, enhancement

#1729 Do not perform layout conversion on buffer texture flushes
  Ryujinx.Graphics.Gpu/Image/Texture.cs
Labels: fix, gpu

#1685 GLRenderer: Change between docked and handheld mode using a keybinding
  Ryujinx/Ui/GLRenderer.cs
Labels: enhancement, gui

#1726 gui: Toggle Docked/Handheld mode and VSync by clicking status bar
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
Labels: enhancement, gui

#1734 olsc: Add service olsc:u and stub some calls
  Ryujinx.Common/Logging/LogClass.cs
  Ryujinx.HLE/HOS/Services/Olsc/IOlscServiceForApplication.cs
  Ryujinx.HLE/HOS/Services/Olsc/ResultCode.cs
Labels: service-implementation, service:olsc, stub

#1704 Use backup when PTC compression is corrupt
  ARMeilleure/Translation/PTC/Ptc.cs
  ARMeilleure/Translation/PTC/PtcProfiler.cs
Labels: cpu, fix

#1732 Perform Compressed<->Uncompressed copies using Pixel Buffer Objects
  Ryujinx.Graphics.OpenGL/Image/ITextureInfo.cs
  Ryujinx.Graphics.OpenGL/Image/TextureBase.cs
  Ryujinx.Graphics.OpenGL/Image/TextureCopy.cs
  Ryujinx.Graphics.OpenGL/Image/TextureCopyUnscaled.cs
  Ryujinx.Graphics.OpenGL/Image/TextureStorage.cs
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
  Ryujinx.Graphics.Texture/SizeCalculator.cs
Labels: fix, gpu

#1711 Allow copy destination to have a different scale from source
  Ryujinx.Graphics.GAL/Extents2D.cs
  Ryujinx.Graphics.Gpu/Engine/MethodCopyTexture.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.OpenGL/Image/TextureCopy.cs
Labels: fix, gpu

#1725 audout: Implement and fix some calls
  Ryujinx.Audio/IAalOutput.cs
  Ryujinx.Audio/Renderers/DummyAudioOut.cs
  Ryujinx.Audio/Renderers/OpenAL/OpenALAudioOut.cs
  Ryujinx.Audio/Renderers/OpenAL/OpenALAudioTrack.cs
  Ryujinx.Audio/Renderers/SoundIo/SoundIoAudioOut.cs
  Ryujinx.Audio/Renderers/SoundIo/SoundIoAudioTrack.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioOutManager/IAudioOut.cs
Labels: audio, fix, service-implementation, service:audio

#1737 audin: fix wrong id ListAudioInsAuto call
  Ryujinx.HLE/HOS/Services/Audio/IAudioInManager.cs
Labels: fix, service:audio

#1739 amadeus: Fix possible underflow in delay time parameter in delay effect
  Ryujinx.Audio.Renderer/Dsp/Effect/DelayLine.cs
Labels: fix, service:audio

#1740 salieri: remove a wrong debug assert
  Ryujinx.Graphics.Gpu/Shader/Cache/CacheCollection.cs
Labels: fix, miscellaneous

#1742 amadeus: Fix reverb 3d mono wrong delay line offset
  Ryujinx.Audio.Renderer/Dsp/Command/Reverb3dCommand.cs
Labels: fix, service:audio

#1738 am: Cleaning and stub TryPopFromFriendInvitationStorageChannel
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
Labels: service:am, stub

#1748 am: Fix GetSaveDataSize stub
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
Labels: fix, service:am

#1747 pctl: Implement IsRestrictionEnabled and fix CheckFreeCommunicationPermission
  Ryujinx.HLE/HOS/Services/Pctl/ParentalControlServiceFactory/IParentalControlService.cs
Labels: fix, service-implementation, service:pctl

#1736 Remove some warnings and cleaning code
  Ryujinx.Common/SystemInfo/LinuxSystemInfo.cs
  Ryujinx.Common/SystemInfo/MacOSSysteminfo.cs
  Ryujinx.Common/SystemInfo/WindowsSystemInfo.cs
  Ryujinx.Graphics.Nvdec.Vp9/DecodeMv.cs
  Ryujinx/Motion/Client.cs
  Ryujinx/Program.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Updater/UpdateDialog.cs
  Ryujinx/Updater/Updater.cs
Labels: fix, miscellaneous

#1730 ui: Check last played datetime validity against current culture
  Ryujinx/Ui/ApplicationLibrary.cs
Labels: fix, gui

#1753 Blacklist textures with a very small width or height from scaling
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
Labels: fix, gpu

#1754 Prefer truly perfect texture matches over format aliased ones
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.Gpu/Image/TextureMatchQuality.cs
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
Labels: fix, gpu

#1746 audio: Cleanup Ryujinx.Audio and fix OpenAL issue
  Ryujinx.Audio/Decoders/Adpcm/AdpcmDecoder.cs
  Ryujinx.Audio/Decoders/Adpcm/AdpcmDecoderContext.cs
  Ryujinx.Audio/Downmixing.cs
  Ryujinx.Audio/DspUtils.cs
  Ryujinx.Audio/IAalOutput.cs
  Ryujinx.Audio/Native/libsoundio/MarshalExtensions.cs
  Ryujinx.Audio/Native/libsoundio/SoundIO.cs
  Ryujinx.Audio/Native/libsoundio/SoundIOBackend.cs
  Ryujinx.Audio/Native/libsoundio/SoundIOChannelArea.cs
  Ryujinx.Audio/Native/libsoundio/SoundIOChannelAreas.cs
  Ryujinx.Audio/Native/libsoundio/SoundIOChannelId.cs
  Ryujinx.Audio/Native/libsoundio/SoundIOChannelLayout.cs
  Ryujinx.Audio/Native/libsoundio/SoundIODevice.cs
  Ryujinx.Audio/Native/libsoundio/SoundIODeviceAim.cs
  Ryujinx.Audio/Native/libsoundio/SoundIOException.cs
  Ryujinx.Audio/Native/libsoundio/SoundIOFormat.cs
  Ryujinx.Audio/Native/libsoundio/SoundIOInStream.cs
  Ryujinx.Audio/Native/libsoundio/SoundIOOutStream.cs
  Ryujinx.Audio/Native/libsoundio/SoundIORingBuffer.cs
  Ryujinx.Audio/Native/libsoundio/SoundIOSampleRateRange.cs
  Ryujinx.Audio/Renderers/OpenAL/OpenALAudioOut.cs
  Ryujinx.Audio/Renderers/OpenAL/OpenALAudioTrack.cs
  Ryujinx.Audio/Renderers/SoundIo/SoundIoAudioOut.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioOutManager/IAudioOut.cs
  Ryujinx.HLE/HOS/Services/Audio/IAudioOutManager.cs
Labels: audio, fix, service:audio
