Repository Ryujinx/Ryujinx, pull requests merged in 2020-06, with the labels that each got.

#1262 SurfaceFlinger: fix some bugs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/BufferQueueConsumer.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/BufferQueueCore.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/BufferQueueProducer.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/BufferSlot.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/IGraphicBufferProducer.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/NativeWindowTransform.cs
Labels: enhancement, fix, needs-feedback, service:surface-flinger

#1294 Faster crc32 implementation
  ARMeilleure/CodeGen/X86/Assembler.cs
  ARMeilleure/CodeGen/X86/IntrinsicTable.cs
  ARMeilleure/CodeGen/X86/X86Instruction.cs
  ARMeilleure/Instructions/InstEmitHash.cs
  ARMeilleure/IntermediateRepresentation/Intrinsic.cs
  ARMeilleure/Optimizations.cs
Labels: cpu, enhancement

#1281 Stubbing ImportServerPki
  Ryujinx.HLE/HOS/Services/Ssl/ISslService.cs
  Ryujinx.HLE/HOS/Services/Ssl/SslService/ISslContext.cs
Labels: service:ssl, stub

#1241 Change Console Logging to discard on overflow
  Ryujinx.Common/Logging/Logger.cs
Labels: enhancement, miscellaneous

#1274 Optimize texture format conversion, and MethodCopyBuffer
  Ryujinx.Graphics.Gpu/Engine/MethodCopyBuffer.cs
  Ryujinx.Graphics.Texture/BlockLinearLayout.cs
  Ryujinx.Graphics.Texture/Bpp12Pixel.cs
  Ryujinx.Graphics.Texture/LayoutConverter.cs
  Ryujinx.Graphics.Texture/OffsetCalculator.cs
Labels: gpu, performance

#1300 VABS takes one input register, not two.
  ARMeilleure/Decoders/OpCodeTable.cs
Labels: bug, cpu

#1298 Generalize tail continues
  ARMeilleure/Decoders/Block.cs
  ARMeilleure/Decoders/Decoder.cs
  ARMeilleure/Decoders/Optimizations/TailCallRemover.cs
  ARMeilleure/Instructions/InstEmitException.cs
  ARMeilleure/Instructions/InstEmitException32.cs
  ARMeilleure/Instructions/InstEmitFlow.cs
  ARMeilleure/Instructions/InstEmitFlow32.cs
  ARMeilleure/Instructions/InstEmitFlowHelper.cs
  ARMeilleure/Translation/Translator.cs
Labels: cpu, enhancement

#1311 Increment PTC version
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, fix

#1302 Update README.md
  README.md
Labels: infra, miscellaneous

#1221 Implement aoc:u and support loading AddOnContent
  Ryujinx.HLE/FileSystem/Content/ContentManager.cs
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.HLE/HOS/Services/Fs/IFileSystemProxy.cs
  Ryujinx.HLE/HOS/Services/Ns/IAddOnContentManager.cs
  Ryujinx.HLE/HOS/Services/Ns/IPurchaseEventManager.cs
Labels: service-implementation, service:ns

#1291 Update NRR structs
  Ryujinx.HLE/HOS/Services/Ro/Types/NRRCertification.cs
  Ryujinx.HLE/HOS/Services/Ro/Types/NrrHeader.cs
Labels: enhancement, service:ro

#1316 Fix regression caused by wrong SB descriptor offset
  Ryujinx.Graphics.Gpu/Engine/Compute.cs
Labels: fix, gpu

#1271 Copy the value of InputConfig to a new array before iterating
  Ryujinx/Ui/GLRenderer.cs
Labels: fix, gui

#1313 Implement dlc management window
  Ryujinx.Common/Configuration/DlcContainer.cs
  Ryujinx.Common/Configuration/DlcNca.cs
  Ryujinx.HLE/FileSystem/Content/ContentManager.cs
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx/Ryujinx.csproj
  Ryujinx/Ui/DlcWindow.cs
  Ryujinx/Ui/DlcWindow.glade
  Ryujinx/Ui/GameTableContextMenu.cs
  Ryujinx/Ui/GameTableContextMenu.glade
  Ryujinx/Ui/TitleUpdateWindow.cs
Labels: enhancement, gui

#1303 Fix VMVN (immediate), Add VPMIN, VPMAX, VMVN (register)
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitSimdArithmetic32.cs
  ARMeilleure/Instructions/InstEmitSimdMove32.cs
  ARMeilleure/Instructions/InstName.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  Ryujinx.Tests/Cpu/CpuTestSimdMov32.cs
  Ryujinx.Tests/Cpu/CpuTestSimdReg32.cs
Labels: bug, cpu, enhancement

#1223 Remember GUI column sort and separate hotkey settings from emulated input settings
  Ryujinx.Common/Configuration/ConfigurationFileFormat.cs
  Ryujinx.Common/Configuration/ConfigurationState.cs
  Ryujinx.Common/Configuration/Hid/KeyboardConfig.cs
  Ryujinx.Common/Configuration/Ui/ColumnSort.cs
  Ryujinx/Config.json
  Ryujinx/Ui/ApplicationData.cs
  Ryujinx/Ui/ApplicationLibrary.cs
  Ryujinx/Ui/ControllerWindow.cs
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/KeyboardController.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/_schema.json
Labels: enhancement, fix, gui
