Repository Ryujinx/Ryujinx, pull requests merged in 2020-08, with the labels that each got.

#1424 friend: Implement GetPlayHistoryRegistrationKey
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/IFriendService.cs
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/Types/PlayHistoryRegistrationKey.cs
Labels: horizon, service-implementation, service:friend

#1373 Facilitate OpenGL debug logging via GUI
  Ryujinx.Common/Configuration/ConfigurationFileFormat.cs
  Ryujinx.Common/Configuration/ConfigurationState.cs
  Ryujinx.Common/Configuration/GraphicsDebugLevel.cs
  Ryujinx.Graphics.GAL/IRenderer.cs
  Ryujinx.Graphics.OpenGL/Debugger.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/SettingsWindow.cs
  Ryujinx/Ui/SettingsWindow.glade
Labels: gpu

#1434 Implement Software Keyboard GTK frontend
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardApplet.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardUiArgs.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ILibraryAppletCreator.cs
  Ryujinx.HLE/IHostUiHandler.cs
  Ryujinx.HLE/Switch.cs
  Ryujinx/Ui/GtkHostUiHandler.cs
  Ryujinx/Ui/InputDialog.cs
  Ryujinx/Ui/MainWindow.cs
Labels: enhancement, gui, horizon

#1445 Implement a Macro JIT
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoClass.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoProcessor.cs
  Ryujinx.Graphics.Gpu/Engine/MME/AluOperation.cs
  Ryujinx.Graphics.Gpu/Engine/MME/AluRegOperation.cs
  Ryujinx.Graphics.Gpu/Engine/MME/AssignmentOperation.cs
  Ryujinx.Graphics.Gpu/Engine/MME/IMacroEE.cs
  Ryujinx.Graphics.Gpu/Engine/MME/Macro.cs
  Ryujinx.Graphics.Gpu/Engine/MME/MacroInterpreter.cs
  Ryujinx.Graphics.Gpu/Engine/MME/MacroJit.cs
  Ryujinx.Graphics.Gpu/Engine/MME/MacroJitCompiler.cs
  Ryujinx.Graphics.Gpu/Engine/MME/MacroJitContext.cs
  Ryujinx.Graphics.Gpu/GraphicsConfig.cs
  Ryujinx.Graphics.Gpu/State/GpuState.cs
Labels: gpu, performance

#1442 Improve branch operations
  ARMeilleure/CodeGen/Optimizations/Optimizer.cs
  ARMeilleure/CodeGen/X86/CodeGenerator.cs
  ARMeilleure/CodeGen/X86/PreAllocator.cs
  ARMeilleure/CodeGen/X86/X86Condition.cs
  ARMeilleure/Diagnostics/IRDumper.cs
  ARMeilleure/Instructions/InstEmitFlowHelper.cs
  ARMeilleure/Instructions/InstEmitMemoryExHelper.cs
  ARMeilleure/Instructions/InstEmitMemoryHelper.cs
  ARMeilleure/IntermediateRepresentation/Comparison.cs
  ARMeilleure/IntermediateRepresentation/Instruction.cs
  ARMeilleure/Translation/EmitterContext.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, performance

#1428 Silence several build warnings
  Ryujinx.Common/Memory/StructArrayHelpers.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/CompressedMethod.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPEntry.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoClassState.cs
  Ryujinx.Graphics.Host1x/Host1xClassRegisters.cs
  Ryujinx.Graphics.Host1x/ThiRegisters.cs
  Ryujinx.Graphics.Nvdec.Vp9/Common/MemoryUtil.cs
  Ryujinx.Graphics.Nvdec.Vp9/Constants.cs
  Ryujinx.Graphics.Nvdec.Vp9/TileWorkerData.cs
  Ryujinx.Graphics.Nvdec.Vp9/Types/LoopFilterThresh.cs
  Ryujinx.Graphics.Nvdec.Vp9/Types/Vp9Common.cs
  Ryujinx.Graphics.Nvdec/NvdecRegisters.cs
  Ryujinx.Graphics.Nvdec/Types/H264/PictureInfo.cs
  Ryujinx.Graphics.Nvdec/Types/H264/ReferenceFrame.cs
  Ryujinx.Graphics.Nvdec/Types/Vp9/EntropyProbs.cs
  Ryujinx.Graphics.Nvdec/Types/Vp9/FrameSize.cs
  Ryujinx.Graphics.Nvdec/Types/Vp9/FrameStats.cs
  Ryujinx.Graphics.Nvdec/Types/Vp9/LoopFilter.cs
  Ryujinx.Graphics.Nvdec/Types/Vp9/PictureInfo.cs
  Ryujinx.Graphics.Nvdec/Types/Vp9/Segmentation.cs
  Ryujinx.Graphics.Vic/Types/ClearRectStruct.cs
  Ryujinx.Graphics.Vic/Types/ConfigStruct.cs
  Ryujinx.Graphics.Vic/Types/OutputConfig.cs
  Ryujinx.Graphics.Vic/Types/OutputSurfaceConfig.cs
  Ryujinx.Graphics.Vic/Types/PipeConfig.cs
  Ryujinx.Graphics.Vic/VicRegisters.cs
Labels: miscellaneous

#1450 Fix OpenGL debug's allure
  Ryujinx.Common/Configuration/GraphicsDebugLevel.cs
  Ryujinx.Graphics.OpenGL/Debugger.cs
  Ryujinx/Ui/SettingsWindow.glade
Labels: fix, gpu, gui

#1456 Add Issue Templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/missing_cpu_instruction.md
  .github/ISSUE_TEMPLATE/missing_service_call.md
Labels: enhancement, infra

#1449 Add OpenSaveDataInfoReaderOnlyCacheStorage
  Ryujinx.HLE/HOS/Services/Fs/IFileSystemProxy.cs
Labels: horizon, service-implementation, service:fs

#1451 Replace the Audio Backend ComboBoxText to a ComboBox with a custom model
  Ryujinx/Ui/SettingsWindow.cs
  Ryujinx/Ui/SettingsWindow.glade
Labels: fix, gui

#1464 bluetooth: Fix event handle in IBluetoothDriver
  Ryujinx.HLE/HOS/Services/Bluetooth/IBluetoothDriver.cs
Labels: fix, service:bluetooth

#1471 Fix Vcvt_FI & Vcvt_RM; Add Vfma_S & Vfms_S. Add Tests.
  ARMeilleure/Decoders/OpCode32SimdCvtFI.cs
  ARMeilleure/Decoders/OpCode32SimdS.cs
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitSimdArithmetic32.cs
  ARMeilleure/Instructions/InstEmitSimdCvt32.cs
  ARMeilleure/Instructions/InstEmitSimdHelper32.cs
  ARMeilleure/Instructions/InstEmitSimdMove32.cs
  ARMeilleure/Instructions/InstName.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  Ryujinx.Memory.Tests/Ryujinx.Memory.Tests.csproj
  Ryujinx.Tests.Unicorn/Ryujinx.Tests.Unicorn.csproj
  Ryujinx.Tests/Cpu/CpuTest.cs
  Ryujinx.Tests/Cpu/CpuTest32.cs
  Ryujinx.Tests/Cpu/CpuTestSimdCvt32.cs
  Ryujinx.Tests/Ryujinx.Tests.csproj
Labels: cpu, fix

#1473 Fix MacroJit SubtractWithBorrow Alu Reg Operation.
  Ryujinx.Graphics.Gpu/Engine/MME/MacroJitCompiler.cs
Labels: fix, gpu

#1454 PPTC GUI: Purge all versioned caches on click
  Ryujinx/Ui/GameTableContextMenu.cs
Labels: fix, gui

#1474 Add missing depth-color conversions in CopyTexture
  Ryujinx.Graphics.Gpu/Engine/MethodCopyTexture.cs
Labels: fix, gpu

#1348 Misc audio fixes
  Ryujinx.Audio.Renderer/Dsp/AudioProcessor.cs
  Ryujinx.Audio/Downmixing.cs
  Ryujinx.Audio/DspUtils.cs
  Ryujinx.Audio/IAalOutput.cs
  Ryujinx.Audio/Native/libsoundio/SoundIODevice.cs
  Ryujinx.Audio/Renderers/DummyAudioOut.cs
  Ryujinx.Audio/Renderers/OpenAL/OpenALAudioOut.cs
  Ryujinx.Audio/Renderers/OpenAL/OpenALAudioTrack.cs
  Ryujinx.Audio/Renderers/SoundIo/SoundIoAudioOut.cs
  Ryujinx.Audio/Renderers/SoundIo/SoundIoAudioTrack.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioOutManager/IAudioOut.cs
Labels: audio, fix, service:audio

#1466 account: Implement IManagerForApplication calls and IAsyncContext
  Ryujinx.HLE/HOS/Services/Account/Acc/AsyncContext/AsyncExecution.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/IAccountServiceForApplication.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/IAsyncContext.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/IManagerForApplication.cs
  Ryujinx.HLE/HOS/Services/Account/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Nifm/StaticService/IGeneralService.cs
Labels: horizon, service-implementation, service:account, stub

#1480 Fix asserts on VP9 decoder in debug mode and build warnings
  Ryujinx.Graphics.Nvdec.H264/Decoder.cs
  Ryujinx.Graphics.Nvdec.Vp9/DecodeFrame.cs
  Ryujinx.Graphics.Nvdec.Vp9/Decoder.cs
  Ryujinx.Graphics.Nvdec.Vp9/Types/Vp9Common.cs
Labels: fix, gpu

#1453 Improve multi-controller support in HID and Controller Applet
  Ryujinx.HLE/HOS/Applets/Controller/ControllerApplet.cs
  Ryujinx.HLE/HOS/Applets/Controller/ControllerAppletUiArgs.cs
  Ryujinx.HLE/HOS/Applets/Controller/ControllerSupportArgHeader.cs
  Ryujinx.HLE/HOS/Applets/Controller/ControllerSupportArgV7.cs
  Ryujinx.HLE/HOS/Applets/Controller/ControllerSupportArgVPre7.cs
  Ryujinx.HLE/HOS/Applets/Controller/ControllerSupportResultInfo.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Hid/Hid.cs
  Ryujinx.HLE/HOS/Services/Hid/HidDevices/NpadDevices.cs
  Ryujinx.HLE/HOS/Services/Hid/HidServer/HidUtils.cs
  Ryujinx.HLE/HOS/Services/Hid/IHidServer.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMem/DebugPad/DebugPad.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMem/HidSharedMemory.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMem/Keyboard/Keyboard.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMem/Mouse/Mouse.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMem/Npad/Npad.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMem/Npad/NpadLayout.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMem/Npad/NpadSixAxis.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMem/StructArrayHelpers.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMem/Touchscreen/TouchScreen.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMem/Touchscreen/TouchScreenState.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMem/Touchscreen/TouchScreenStateData.cs
  Ryujinx.HLE/IHostUiHandler.cs
  Ryujinx.HLE/Switch.cs
  Ryujinx/Ui/ControllerWindow.cs
  Ryujinx/Ui/ControllerWindow.glade
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/GtkHostUiHandler.cs
  Ryujinx/Ui/MainWindow.cs
Labels: enhancement, fix, horizon, service:am

#1507 Amadeus: Fix inverted downmixing of center and lfe
  Ryujinx.Audio.Renderer/Dsp/Command/DownMixSurroundToStereoCommand.cs
Labels: audio, fix, service:audio

#1511 Fix off-by-one error in pages count calculation on GPU pool
  Ryujinx.Graphics.Gpu/Image/Pool.cs
Labels: fix, gpu

#1501 Clean up and update readme
  CONFIG.md
  README.md
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZoneContentManager.cs
Labels: infra, miscellaneous

#1494 Cleanup FUNDING.yml
  .github/FUNDING.yml
Labels: miscellaneous

#1505 Allow launching with custom data directories
  ARMeilleure/Translation/PTC/Ptc.cs
  Ryujinx.Common/Configuration/AppDataManager.cs
  Ryujinx.Common/Configuration/ConfigurationState.cs
  Ryujinx.Common/Logging/Logger.cs
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.HLE/HOS/ModLoader.cs
  Ryujinx/Program.cs
  Ryujinx/Ui/ApplicationLibrary.cs
  Ryujinx/Ui/ControllerWindow.cs
  Ryujinx/Ui/DlcWindow.cs
  Ryujinx/Ui/GameTableContextMenu.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/Migration.cs
  Ryujinx/Ui/TitleUpdateWindow.cs
Labels: miscellaneous

#1506 Remove the Ryujinx.Debugger project
  .github/workflows/build.yml
  ARMeilleure/ARMeilleure.csproj
  Ryujinx.Audio.Renderer/Ryujinx.Audio.Renderer.csproj
  Ryujinx.Audio/Ryujinx.Audio.csproj
  Ryujinx.Common/Ryujinx.Common.csproj
  Ryujinx.Debugger/Debugger.cs
  Ryujinx.Debugger/Profiler/DumpProfile.cs
  Ryujinx.Debugger/Profiler/InternalProfile.cs
  Ryujinx.Debugger/Profiler/Profile.cs
  Ryujinx.Debugger/Profiler/ProfileConfig.cs
  Ryujinx.Debugger/Profiler/ProfileSorters.cs
  Ryujinx.Debugger/Profiler/ProfilerConfiguration.cs
  Ryujinx.Debugger/Profiler/Settings.cs
  Ryujinx.Debugger/Profiler/TimingFlag.cs
  Ryujinx.Debugger/Profiler/TimingInfo.cs
  Ryujinx.Debugger/ProfilerConfig.jsonc
  Ryujinx.Debugger/Ryujinx.Debugger.csproj
  Ryujinx.Debugger/UI/DebuggerWidget.cs
  Ryujinx.Debugger/UI/DebuggerWidget.glade
  Ryujinx.Debugger/UI/ProfilerWidget.cs
  Ryujinx.Debugger/UI/ProfilerWidget.glade
  Ryujinx.Debugger/UI/SkRenderer.cs
  Ryujinx.HLE/HOS/Services/IpcService.cs
  Ryujinx.HLE/PerformanceStatistics.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx.ShaderTools/Ryujinx.ShaderTools.csproj
  Ryujinx.Tests.Unicorn/Ryujinx.Tests.Unicorn.csproj
  Ryujinx.Tests/Ryujinx.Tests.csproj
  Ryujinx.sln
  Ryujinx/Program.cs
  Ryujinx/Ryujinx.csproj
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
Labels: miscellaneous

#1492 CPU (A64): Add Scvtf_S_Fixed & Ucvtf_S_Fixed with Tests.
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitSimdCvt.cs
  ARMeilleure/Instructions/InstName.cs
  Ryujinx.Tests/Cpu/CpuTestSimdShImm.cs
Labels: cpu

#1484 Improve static branch prediction along fast path for memory accesses
  ARMeilleure/Instructions/InstEmitMemoryHelper.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, enhancement, performance
