Repository Ryujinx/Ryujinx, pull requests merged in 2020-07, with the labels that each got.

#1336 Remove dummy LLE project
  Ryujinx.LLE/Luea.csproj
  Ryujinx.LLE/Program.cs
  Ryujinx.sln
Labels: infra, miscellaneous

#1346 sockets: Make sure to write the receivedBuffer
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/IClient.cs
Labels: fix, service:sockets

#1349 Call syncpoint expiration callback outside of the lock
  Ryujinx.Graphics.Gpu/Synchronization/Syncpoint.cs
Labels: fix, gpu

#1352 Fix compute restore of previous shader state
  Ryujinx.Graphics.Gpu/Engine/Compute.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
Labels: fix, gpu

#1351 Support inline index buffer data
  Ryujinx.Graphics.Gpu/Engine/Inline2Memory.cs
  Ryujinx.Graphics.Gpu/Engine/MethodDraw.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
  Ryujinx.Graphics.Gpu/State/MethodOffset.cs
Labels: fix, gpu

#1326 Stub nifm IRequest GetAppletInfo
  Ryujinx.HLE/HOS/Services/Nifm/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Nifm/StaticService/IRequest.cs
Labels: service:nifm, stub

#1314 SettingsWindow: Add the ability to add multiple game directories at once
  Ryujinx/Ui/SettingsWindow.cs
Labels: enhancement, gui

#1321 GameTableContextMenu: Implemented options for PPTC
  Ryujinx/Ui/GameTableContextMenu.cs
Labels: enhancement, gui

#1325 Implement audio backend configuration option
  Ryujinx.Common/Configuration/AudioBackend.cs
  Ryujinx.Common/Configuration/ConfigurationFileFormat.cs
  Ryujinx.Common/Configuration/ConfigurationState.cs
  Ryujinx/Config.json
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/SettingsWindow.cs
  Ryujinx/Ui/SettingsWindow.glade
  Ryujinx/_schema.json
Labels: audio, gui

#1334 Changes to game list reloading
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/SettingsWindow.cs
Labels: enhancement, gui

#1354 Fix buffer to 3D texture copy
  Ryujinx.Graphics.Gpu/Engine/MethodCopyBuffer.cs
  Ryujinx.Graphics.Texture/BlockLinearLayout.cs
  Ryujinx.Graphics.Texture/LayoutConverter.cs
  Ryujinx.Graphics.Texture/OffsetCalculator.cs
Labels: fix, gpu

#1355 Implement shader LEA instruction and improve bindless image load/store
  Ryujinx.Graphics.Shader/Decoders/BitfieldExtensions.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeTable.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitAlu.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessElimination.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/Optimizer.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
Labels: fix, gpu

#1350 Fix compilation warnings and use new LibHac APIs for executable loading
  Ryujinx.Graphics.Gpu/NvGpuFifo.cs
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.HLE/HOS/ProgramLoader.cs
  Ryujinx.HLE/HOS/Services/Bluetooth/IBluetoothDriver.cs
  Ryujinx.HLE/HOS/Services/Sockets/Nsd/Manager/FqdnResolver.cs
  Ryujinx.HLE/Loaders/Executables/KipExecutable.cs
  Ryujinx.HLE/Loaders/Executables/NsoExecutable.cs
Labels: miscellaneous

#1356 Readd SoundIO as OpenAL fallback
  Ryujinx/Ui/MainWindow.cs
Labels: audio, fix, gui

#1361 prepo: Update implementation for 10.x changes
  Ryujinx.HLE/HOS/Services/Prepo/IPrepoService.cs
Labels: enhancement, service:prepo

#1365 Implement Zero-Configuration Resolution Scaling
  Ryujinx.Common/Configuration/ConfigurationFileFormat.cs
  Ryujinx.Common/Configuration/ConfigurationState.cs
  Ryujinx.Graphics.GAL/Format.cs
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.GAL/IRenderer.cs
  Ryujinx.Graphics.GAL/ITexture.cs
  Ryujinx.Graphics.Gpu/Engine/Compute.cs
  Ryujinx.Graphics.Gpu/Engine/MethodClear.cs
  Ryujinx.Graphics.Gpu/Engine/MethodCopyTexture.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/GraphicsConfig.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingInfo.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
  Ryujinx.Graphics.Gpu/Image/TextureScaleMode.cs
  Ryujinx.Graphics.Gpu/Image/TextureSearchFlags.cs
  Ryujinx.Graphics.Gpu/Window.cs
  Ryujinx.Graphics.OpenGL/Image/TextureBase.cs
  Ryujinx.Graphics.OpenGL/Image/TextureCopy.cs
  Ryujinx.Graphics.OpenGL/Image/TextureCopyUnscaled.cs
  Ryujinx.Graphics.OpenGL/Image/TextureStorage.cs
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/Program.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.OpenGL/Window.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/CodeGenContext.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/TexelFetchScale_cp.glsl
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/TexelFetchScale_fp.glsl
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitMemory.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
  Ryujinx.Graphics.Shader/Ryujinx.Graphics.Shader.csproj
  Ryujinx.Graphics.Shader/TextureDescriptor.cs
  Ryujinx.Graphics.Shader/TextureUsageFlags.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
  Ryujinx.Graphics.Shader/Translation/FeatureFlags.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
  Ryujinx/Config.json
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/SettingsWindow.cs
  Ryujinx/Ui/SettingsWindow.glade
  Ryujinx/_schema.json
Labels: enhancement, gpu

#1369 Fix PPTC on Windows 7.
  ARMeilleure/CodeGen/Optimizations/ConstantFolding.cs
  ARMeilleure/CodeGen/X86/Assembler.cs
  ARMeilleure/CodeGen/X86/X86Optimizer.cs
  ARMeilleure/IntermediateRepresentation/Operand.cs
  ARMeilleure/IntermediateRepresentation/OperandHelper.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, fix, needs-feedback

#1249 Implement modding support
  Ryujinx.Common/Logging/LogClass.cs
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
  Ryujinx.HLE/HOS/Kernel/Process/ProcessCreationInfo.cs
  Ryujinx.HLE/HOS/ModLoader.cs
  Ryujinx.HLE/HOS/ProgramLoader.cs
  Ryujinx.HLE/HOS/Services/Ro/IRoInterface.cs
  Ryujinx.HLE/Loaders/Executables/IExecutable.cs
  Ryujinx.HLE/Loaders/Executables/KipExecutable.cs
  Ryujinx.HLE/Loaders/Executables/NroExecutable.cs
  Ryujinx.HLE/Loaders/Executables/NsoExecutable.cs
  Ryujinx.HLE/Loaders/Mods/IPSPatcher.cs
  Ryujinx.HLE/Loaders/Mods/IPSwitchPatcher.cs
  Ryujinx.HLE/Loaders/Mods/MemPatch.cs
  Ryujinx.HLE/Loaders/Npdm/Npdm.cs
  Ryujinx/Ui/GameTableContextMenu.cs
Labels: enhancement, miscellaneous

#1380 Implement Logical Operation registers and functionality
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.GAL/LogicalOp.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/State/LogicalOpState.cs
  Ryujinx.Graphics.Gpu/State/MethodOffset.cs
  Ryujinx.Graphics.OpenGL/EnumConversion.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
Labels: fix, gpu

#1359 Fold ConvertI64ToI32 imm64
  ARMeilleure/CodeGen/Optimizations/ConstantFolding.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, enhancement

#1358 Fold ZeroExtend8/16/32 imm32/64
  ARMeilleure/CodeGen/Optimizations/ConstantFolding.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, enhancement

#1382 Mask shift constants on x86 backend
  ARMeilleure/CodeGen/X86/Assembler.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, fix

#1383 Fix folding of ConvertI64ToI32 imm64
  ARMeilleure/CodeGen/Optimizations/ConstantFolding.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, fix

#1376 Fix Node Uses/Assignments
  ARMeilleure/IntermediateRepresentation/Node.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, fix

#1335 Add Fmax/minv_V & S/Ushl_S Inst.s with Tests. Fix Maxps/d & Minps/d d…
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitSimdArithmetic.cs
  ARMeilleure/Instructions/InstEmitSimdArithmetic32.cs
  ARMeilleure/Instructions/InstEmitSimdHelper.cs
  ARMeilleure/Instructions/InstEmitSimdShift.cs
  ARMeilleure/Instructions/InstName.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  Ryujinx.Tests/Cpu/CpuTest.cs
  Ryujinx.Tests/Cpu/CpuTestMisc.cs
  Ryujinx.Tests/Cpu/CpuTestSimd.cs
  Ryujinx.Tests/Cpu/CpuTestSimdReg.cs
Labels: cpu, enhancement

#1198 Fix depth stencil formats copy by matching equivalent color formats
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
  Ryujinx.Graphics.Gpu/Image/TextureSearchFlags.cs
Labels: fix, gpu

#1370 Initial transform feedback support
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.GAL/IRenderer.cs
  Ryujinx.Graphics.GAL/TransformFeedbackDescriptor.cs
  Ryujinx.Graphics.Gpu/Constants.cs
  Ryujinx.Graphics.Gpu/Engine/MethodReport.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
  Ryujinx.Graphics.Gpu/Memory/MemoryAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Gpu/State/GpuState.cs
  Ryujinx.Graphics.Gpu/State/GpuStateTable.cs
  Ryujinx.Graphics.Gpu/State/MethodOffset.cs
  Ryujinx.Graphics.Gpu/State/ReportCounterType.cs
  Ryujinx.Graphics.Gpu/State/TfBufferState.cs
  Ryujinx.Graphics.Gpu/State/TfState.cs
  Ryujinx.Graphics.OpenGL/EnumConversion.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/Program.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/GlslGenerator.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Varying.cs
Labels: fix, gpu

#1377 Fix Decode exception condition
  ARMeilleure/Decoders/Decoder.cs
Labels: cpu, fix

#1392 Force TFB rebind after buffer modifications
  Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
Labels: fix, gpu

#1391 Fix resource limit reserve taking too long
  Ryujinx.HLE/HOS/Kernel/Common/KResourceLimit.cs
  Ryujinx.HLE/HOS/Kernel/Memory/KMemoryManager.cs
Labels: fix, horizon, kernel

#1379 Improve kernel IPC related syscalls
  Ryujinx.HLE/HOS/Kernel/Ipc/KBufferDescriptorTable.cs
  Ryujinx.HLE/HOS/Kernel/Ipc/KClientPort.cs
  Ryujinx.HLE/HOS/Kernel/Ipc/KClientSession.cs
  Ryujinx.HLE/HOS/Kernel/Ipc/KServerSession.cs
  Ryujinx.HLE/HOS/Kernel/Ipc/KSession.cs
  Ryujinx.HLE/HOS/Kernel/Ipc/KSessionRequest.cs
  Ryujinx.HLE/HOS/Kernel/Memory/KMemoryBlock.cs
  Ryujinx.HLE/HOS/Kernel/Memory/KMemoryManager.cs
  Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall32.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall64.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SyscallTable.cs
  Ryujinx.Memory/MemoryBlock.cs
Labels: fix, horizon, kernel

#1390 CPU: A32: Add Vadd & Vsub Wide (S/U_8/16/32) Inst.s with Test.
  ARMeilleure/Decoders/OpCode32SimdRegWide.cs
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitSimdArithmetic32.cs
  ARMeilleure/Instructions/InstEmitSimdHelper32.cs
  ARMeilleure/Instructions/InstName.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  Ryujinx.Tests/Cpu/CpuTestSimdReg32.cs
Labels: cpu

#1362 Improve kernel WaitSynchronization syscall implementation
  Ryujinx.HLE/HOS/Kernel/Common/KernelTransfer.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KSynchronization.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KThread.cs
Labels: fix, horizon, kernel

#1394 CPU: A32: Fix Vabs_V & Vneg_V (S8, S16, S32 & F32); add Tests.
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitSimdArithmetic32.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  Ryujinx.Tests/Cpu/CpuTestSimd32.cs
Labels: cpu, fix

#1398 Do not print guest stack trace for svcBreak debug calls
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall.cs
Labels: enhancement, horizon, kernel

#1192 Implements some 32-bit instructions (VBIC, VTST, VSRA)
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitSimdHelper32.cs
  ARMeilleure/Instructions/InstEmitSimdLogical32.cs
  ARMeilleure/Instructions/InstEmitSimdShift32.cs
  ARMeilleure/Instructions/InstName.cs
  ARMeilleure/Translation/EmitterContext.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  Ryujinx.Tests/Cpu/CpuTestSimdLogical32.cs
  Ryujinx.Tests/Cpu/CpuTestSimdReg32.cs
  Ryujinx.Tests/Cpu/CpuTestSimdShImm32.cs
Labels: cpu, enhancement

#1397 Fix session service disposal and improve transfer memory implementation
  Ryujinx.HLE/HOS/Kernel/Ipc/KClientSession.cs
  Ryujinx.HLE/HOS/Kernel/Memory/KMemoryManager.cs
  Ryujinx.HLE/HOS/Kernel/Memory/KTransferMemory.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall.cs
  Ryujinx.HLE/HOS/Services/Sm/IUserInterface.cs
Labels: fix, horizon, kernel

#1404 ipc hle: Fix disposing of session created with MakeObject
  Ryujinx.HLE/HOS/Services/IpcService.cs
Labels: fix, horizon

#1409 Fix IDeliveryCacheProgressService GetEvent
  Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheProgressService.cs
Labels: fix, horizon, service:bcat

#1399 GL: Implement more Point parameters
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/State/GpuState.cs
  Ryujinx.Graphics.Gpu/State/MethodOffset.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
Labels: fix, gpu

#1360 A couple fixes for the audio backend GUI option
  Ryujinx/Ui/SettingsWindow.cs
  Ryujinx/Ui/SettingsWindow.glade
Labels: fix, gui

#1254 Better TimeZone entry in System Settings
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZoneContentManager.cs
  Ryujinx/Ui/SettingsWindow.cs
  Ryujinx/Ui/SettingsWindow.glade
Labels: enhancement, miscellaneous

#1411 Add multiple calls to am service
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/LibraryAppletCreator/ILibraryAppletAccessor.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ISelfController.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
  Ryujinx.HLE/HOS/Services/Am/ResultCode.cs
Labels: horizon, service-implementation, service:am, stub

#1415 vi: Implement GetIndirectLayerImageRequiredMemoryInfo
  Ryujinx.HLE/HOS/Services/Vi/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Vi/RootService/IApplicationDisplayService.cs
Labels: horizon, service-implementation, services:vi

#1364 Fix Fullscreen toggling
  Ryujinx/Ui/MainWindow.cs
Labels: fix, gui

#1400 New GPFifo and fast guest constant buffer updates
  Ryujinx.Graphics.Device/DeviceState.cs
  Ryujinx.Graphics.Gpu/DmaPusher.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/CompressedMethod.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPEntry.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoClass.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoClassState.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoDevice.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoProcessor.cs
  Ryujinx.Graphics.Gpu/Engine/MME/Macro.cs
  Ryujinx.Graphics.Gpu/Engine/MethodFifo.cs
  Ryujinx.Graphics.Gpu/Engine/MethodUniformBufferUpdate.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/GpuContext.cs
  Ryujinx.Graphics.Gpu/NvGpuFifo.cs
  Ryujinx.Graphics.Gpu/Ryujinx.Graphics.Gpu.csproj
  Ryujinx.Graphics.Gpu/State/FenceActionOperation.cs
  Ryujinx.Graphics.Gpu/State/FifoSemaphoreOperation.cs
  Ryujinx.Graphics.Gpu/State/MethodOffset.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostChannel/NvHostChannelDeviceFile.cs
  Ryujinx.HLE/Switch.cs
Labels: enhancement, gpu, needs-feedback

#1414 Update to LibHac 0.11.3
  Ryujinx.HLE/Ryujinx.HLE.csproj
Labels: fix, service:fs

#1410 Refactor NativeContext
  ARMeilleure/State/NativeContext.cs
Labels: cpu, enhancement, fix

#1423 Remove GPU MemoryAccessor
  Ryujinx.Graphics.Gpu/Engine/Compute.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoClass.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoDevice.cs
  Ryujinx.Graphics.Gpu/Engine/MethodConditionalRendering.cs
  Ryujinx.Graphics.Gpu/Engine/MethodReport.cs
  Ryujinx.Graphics.Gpu/Engine/MethodUniformBufferUpdate.cs
  Ryujinx.Graphics.Gpu/GpuContext.cs
  Ryujinx.Graphics.Gpu/Memory/MemoryAccessor.cs
  Ryujinx.Graphics.Gpu/Memory/MemoryManager.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
Labels: gpu

#1427 PPTC version increment
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, fix

#1418 Implement BGRA texture support
  Ryujinx.Graphics.GAL/Format.cs
  Ryujinx.Graphics.OpenGL/FormatTable.cs
  Ryujinx.Graphics.OpenGL/Image/TextureBase.cs
  Ryujinx.Graphics.OpenGL/Image/TextureCopy.cs
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/Program.cs
  Ryujinx.Graphics.OpenGL/Window.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/DefaultNames.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/Translation/AttributeConsts.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/SurfaceFlinger.cs
Labels: fix, gpu

#1429 Use polygon offset clamp if supported
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.OpenGL/HwCapabilities.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
Labels: enhancement, gpu

#1419 audin: Implement IAudioInManager ListAudioIns
  Ryujinx.HLE/HOS/Services/Audio/IAudioInManager.cs
Labels: horizon, service-implementation, service:audio

#1420 ns/nim: Stub eShop related calls
  Ryujinx.Common/Logging/LogClass.cs
  Ryujinx.HLE/HOS/Services/Nim/IShopServiceAccessServer.cs
  Ryujinx.HLE/HOS/Services/Nim/IShopServiceAccessServerInterface.cs
  Ryujinx.HLE/HOS/Services/Nim/IShopServiceAccessor.cs
  Ryujinx.HLE/HOS/Services/Nim/IShopServiceAsync.cs
  Ryujinx.HLE/HOS/Services/Ns/IAddOnContentManager.cs
  Ryujinx.HLE/HOS/Services/Ns/IPurchaseEventManager.cs
Labels: horizon, service-implementation, service:nim, service:ns, stub

#1430 Implement VIC BGRA output surface format
  Ryujinx.Graphics.Vic/Image/SurfaceWriter.cs
Labels: fix, gpu

#1426 Implement alpha test using legacy functions
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/State/MethodOffset.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
Labels: fix, gpu

#1425 Fix shader regression on Intel iGPUs by reverting layout changes
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/GlslGenerator.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGen.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/Translation/TranslationFlags.cs
Labels: fix, gpu

#1439 Use movd,movq for i32/64 VectorExtract %x, 0x0
  ARMeilleure/CodeGen/X86/CodeGenerator.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, performance

#1438 Refactor shader translator ShaderConfig and reduce the number of out args
  Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
Labels: gpu

#1407 Print guest stack trace on invalid memory access
  ARMeilleure/Instructions/InstEmitMemoryHelper.cs
  Ryujinx.Cpu/InvalidAccessHandler.cs
  Ryujinx.Cpu/MemoryManager.cs
  Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KScheduler.cs
  Ryujinx.Memory/InvalidMemoryRegionException.cs
  Ryujinx.Memory/MemoryBlock.cs
Labels: cpu, enhancement

#1422 common: Fix WMI exception
  Ryujinx.Common/SystemInfo/WindowsSystemInfo.cs
Labels: fix, miscellaneous

#1443 fs: stub ReadSaveDataFileSystemExtraDataWithMaskBySaveDataAttribute
  Ryujinx.HLE/HOS/Services/Fs/IFileSystemProxy.cs
Labels: service:fs, stub
