Repository Ryujinx/Ryujinx, pull requests merged in 2021-03, with the labels that each got.

#2047 Revise SystemInfo
  Ryujinx.Common/SystemInfo/LinuxSystemInfo.cs
  Ryujinx.Common/SystemInfo/MacOSSystemInfo.cs
  Ryujinx.Common/SystemInfo/SystemInfo.cs
  Ryujinx.Common/SystemInfo/WindowsSystemInfo.cs
  Ryujinx/Program.cs
Labels: enhancement, miscellaneous, needs-feedback

#2073 Fix regression in SignalMemoryTracking
  Ryujinx.Cpu/MemoryManager.cs
Labels: cpu, fix

#2001 Texture Cache: "Texture Groups" and "Texture Dependencies"
  Ryujinx.Cpu/Tracking/CpuRegionHandle.cs
  Ryujinx.Graphics.GAL/ITexture.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
  Ryujinx.Graphics.Gpu/Image/TextureDependency.cs
  Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  Ryujinx.Graphics.Gpu/Image/TextureGroupHandle.cs
  Ryujinx.Graphics.Gpu/Image/TextureInfo.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.Gpu/Memory/GpuRegionHandle.cs
  Ryujinx.Graphics.OpenGL/Image/TextureBuffer.cs
  Ryujinx.Graphics.OpenGL/Image/TextureCopy.cs
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
  Ryujinx.Graphics.Texture/SizeCalculator.cs
  Ryujinx.Graphics.Texture/SizeInfo.cs
  Ryujinx.Memory/Tracking/IRegionHandle.cs
  Ryujinx.Memory/Tracking/RegionHandle.cs
Labels: enhancement, fix, gpu

#2058 Fix "Hide Cursor on Idle" inefficiency
  Ryujinx/Ui/GLRenderer.cs
Labels: enhancement, gui

#2069 Amadeus: Add ARM SIMD fast paths
  Ryujinx.Audio/Renderer/Dsp/Command/MixCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/VolumeCommand.cs
  Ryujinx.Audio/Renderer/Dsp/DataSourceHelper.cs
Labels: audio, enhancement

#2057 Add progress reporting to PTC and Shader Cache
  ARMeilleure/Translation/PTC/Ptc.cs
  Ryujinx.Graphics.Gpu/GpuContext.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
Labels: enhancement, gui

#2076 Fix SetStandardSteadyClockInternalOffset permission check
  Ryujinx.HLE/HOS/Services/Time/IStaticServiceForGlue.cs
Labels: fix, service:time

#2083 Improve handling for unmapped GPU resources
  Ryujinx.Cpu/MemoryManager.cs
  Ryujinx.Cpu/Tracking/CpuRegionHandle.cs
  Ryujinx.Graphics.Gpu/Image/Pool.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
  Ryujinx.Memory/Range/MultiRange.cs
  Ryujinx.Memory/Tracking/MemoryTracking.cs
  Ryujinx.Memory/Tracking/RegionHandle.cs
  Ryujinx.Memory/Tracking/VirtualRegion.cs
Labels: fix, gpu

#2085 Remove unused physical region tracking
  Ryujinx.Cpu/MemoryManager.cs
  Ryujinx.Memory.Tests/MultiRegionTrackingTests.cs
  Ryujinx.Memory.Tests/TrackingTests.cs
  Ryujinx.Memory/Tracking/MemoryTracking.cs
  Ryujinx.Memory/Tracking/PhysicalRegion.cs
  Ryujinx.Memory/Tracking/RegionHandle.cs
  Ryujinx.Memory/Tracking/VirtualRegion.cs
Labels: gpu, performance

#2087 Flip component mask if target is BGRA.
  Ryujinx.Graphics.OpenGL/Pipeline.cs
Labels: fix, gpu

#2088 Improve Buffer Textures and flush Image Stores
  Ryujinx.Graphics.Gpu/Engine/Compute.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Gpu/Image/TextureDescriptor.cs
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
  Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
  Ryujinx.Graphics.Gpu/Memory/BufferTextureBinding.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.OpenGL/Image/TextureBuffer.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  Ryujinx.Graphics.Shader/TextureUsageFlags.cs
Labels: fix, gpu

#2089 Traverse PhiNodes for Bindless Elimination
  Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessElimination.cs
Labels: fix, gpu

#2091 Fix lineSize for LinearStrided -> Linear conversion
  Ryujinx.Graphics.Texture/LayoutConverter.cs
Labels: fix, gpu

#2094 Close ILibraryAppletAccessor handles on disposal
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/LibraryAppletCreator/ILibraryAppletAccessor.cs
Labels: fix, horizon

#2100 Test: Fixes github action warning
  Ryujinx.Memory.Tests/MockVirtualMemoryManager.cs
Labels: miscellaneous

#2101 Override openal-soft configuration
  Ryujinx/Ryujinx.csproj
  Ryujinx/alsoft.ini
Labels: audio, fix

#2103 Report active audio device as TV, rather than internal speakers.
  Ryujinx.Audio/Renderer/Device/VirtualDeviceSessionRegistry.cs
Labels: audio

#2106 Fix typo in assert in OpenAL implementation detail
  Ryujinx.Audio.Backends.OpenAL/OpenALHardwareDeviceSession.cs
Labels: audio, fix

#1885 Implement friendlier portable mode
  Ryujinx.Common/Configuration/AppDataManager.cs
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
  Ryujinx/Modules/Updater/Updater.cs
  Ryujinx/Program.cs
Labels: enhancement, gui

#2109 Fix a comment's grammar.
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
Labels: fix, grammar

#2006 nfp: Amiibo scanning support
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/CoreData.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/UserManager/IUser.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/UserManager/Types/AmiiboConstants.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/UserManager/Types/CommonInfo.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/UserManager/Types/Device.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/UserManager/Types/DeviceType.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/UserManager/Types/ModelInfo.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/UserManager/Types/MountTarget.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/UserManager/Types/NfpDevice.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/UserManager/Types/NfpDeviceState.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/UserManager/Types/RegisterInfo.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/UserManager/Types/TagInfo.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/UserManager/Types/VirtualAmiiboFile.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/VirtualAmiibo.cs
  Ryujinx/Ryujinx.csproj
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
  Ryujinx/Ui/Resources/Logo_Amiibo.png
  Ryujinx/Ui/Windows/AmiiboWindow.Designer.cs
  Ryujinx/Ui/Windows/AmiiboWindow.cs
Labels: gui, service-implementation, services:nfc

#2078 Minor wording fixes... Except I'm doing it for all of Ryujinx.
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/Widgets/GameTableContextMenu.cs
  Ryujinx/Ui/Widgets/GtkDialog.cs
  Ryujinx/Ui/Windows/ControllerWindow.cs
  Ryujinx/Ui/Windows/DlcWindow.cs
Labels: fix, grammar, gui

#2123 ErrorApplet: Implement ApplicationErrorArg
  Ryujinx.HLE/HOS/Applets/Error/ApplicationErrorArg.cs
  Ryujinx.HLE/HOS/Applets/Error/ErrorApplet.cs
Labels: enhancement, horizon

#1942 Add items to standard logs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/Switch.cs
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.cs
Labels: enhancement, miscellaneous

#2121 Ipc: Remove IIpcService interface
  Ryujinx.HLE/Exceptions/ServiceNotImplementedException.cs
  Ryujinx.HLE/HOS/Services/IIpcService.cs
  Ryujinx.HLE/HOS/Services/IpcService.cs
Labels: miscellaneous

#2099 Improve linear texture compatibility rules
  Ryujinx.Graphics.Gpu/Constants.cs
  Ryujinx.Graphics.Gpu/Engine/MethodCopyBuffer.cs
  Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
  Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
Labels: fix, gpu

#2097 Salieri: Detect and avoid caching shaders using bindless textures
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/Translation/FeatureFlags.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
  Ryujinx.Graphics.Shader/Translation/TranslatorContext.cs
Labels: fix, gpu

#2129 Fix progress reporting
  ARMeilleure/Translation/PTC/Ptc.cs
  ARMeilleure/Translation/PTC/PtcLoadingState.cs
  Ryujinx.Graphics.Gpu/GpuContext.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCacheState.cs
  Ryujinx/Ui/MainWindow.cs
Labels: enhancement, fix, gui, miscellaneous

#2130 sfdnsres: Cleanup service and implements some calls
  Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/IResolver.cs
  Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/Proxy/DnsBlacklist.cs
  Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/Types/AddrInfo4.cs
  Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/Types/AddrInfoSerializedHeader.cs
  Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/Types/SfdnsresContants.cs
Labels: service-implementation, service:sockets

#2136 am/ectx: Implement SetRequestExitToLibraryAppletAtExecuteNextProgramEnabled and add service placeholder
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ICommonStateGetter.cs
  Ryujinx.HLE/HOS/Services/Ectx/IReaderForSystem.cs
  Ryujinx.HLE/HOS/Services/Ectx/IWriterForApplication.cs
  Ryujinx.HLE/HOS/Services/Ectx/IWriterForSystem.cs
Labels: horizon, service-implementation, service:am

#2139 Add Sqdmulh_Ve & Sqrdmulh_Ve Inst.s with Tests.
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitSimdArithmetic.cs
  ARMeilleure/Instructions/InstEmitSimdHelper.cs
  ARMeilleure/Instructions/InstName.cs
  Ryujinx.Tests/Cpu/CpuTestSimdRegElem.cs
Labels: cpu

#2140 caps: Implement SaveScreenShot calls and cleanup
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Caps/CaptureManager.cs
  Ryujinx.HLE/HOS/Services/Caps/IAlbumApplicationService.cs
  Ryujinx.HLE/HOS/Services/Caps/IAlbumControlService.cs
  Ryujinx.HLE/HOS/Services/Caps/IScreenShotApplicationService.cs
  Ryujinx.HLE/HOS/Services/Caps/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Caps/Types/AlbumFileDateTime.cs
  Ryujinx.HLE/HOS/Services/Caps/Types/AlbumImageOrientation.cs
  Ryujinx.HLE/HOS/Services/Caps/Types/AlbumStorage.cs
  Ryujinx.HLE/HOS/Services/Caps/Types/ApplicationAlbumEntry.cs
  Ryujinx.HLE/HOS/Services/Caps/Types/ContentType.cs
  Ryujinx.HLE/HOS/Services/Caps/Types/ScreenShotAttribute.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
Labels: service-implementation, service:caps

#2145 Shader Cache: Catch bindless textures early
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/Decoders/Decoder.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
Labels: fix, gpu

#2150 misc: Add credit to AmiiboAPI properly and fix a wrong warning code
  README.md
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ICommonStateGetter.cs
  Ryujinx/Ui/Windows/AboutWindow.Designer.cs
  Ryujinx/Ui/Windows/AboutWindow.cs
Labels: fix, miscellaneous

#2147 Fix ZN flags set for shader instructions using RZ.CC dest
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitAlu.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
Labels: fix, gpu

#2142 am: Stub ILibraryAppletAccessor RequestExit
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/LibraryAppletCreator/ILibraryAppletAccessor.cs
Labels: service:am, stub

#2151 Optimize PrintRoSectionInfo
  Ryujinx.HLE/Loaders/Executables/NsoExecutable.cs
Labels: enhancement, horizon, performance

#2153 Patch up DNS Blacklist
  Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/Proxy/DnsBlacklist.cs
Labels: enhancement, service:sockets

#2056 Force command flush after creating a syncpoint
  Ryujinx.Graphics.OpenGL/Sync.cs
Labels: fix, gpu, needs-feedback
