Repository Ryujinx/Ryujinx, pull requests merged in 2021-11, with the labels that each got.

#2780 When waiting on CPU, do not return a time out error from EventWait
  Ryujinx.Graphics.Gpu/Synchronization/SyncpointWaiterHandle.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostCtrl/Types/NvHostEvent.cs
Labels: fix, service:nv

#2789 hle: Make Ryujinx.HLE project entirely safe
  Ryujinx.Common/Memory/StructByteArrayHelpers.cs
  Ryujinx.HLE/HOS/Applets/Browser/WebCommonReturnValue.cs
  Ryujinx.HLE/HOS/Applets/Controller/ControllerApplet.cs
  Ryujinx.HLE/HOS/Applets/Controller/ControllerSupportArgHeader.cs
  Ryujinx.HLE/HOS/Applets/Controller/ControllerSupportArgV7.cs
  Ryujinx.HLE/HOS/Applets/Controller/ControllerSupportArgVPre7.cs
  Ryujinx.HLE/HOS/Applets/Controller/ControllerSupportResultInfo.cs
  Ryujinx.HLE/HOS/Applets/Error/ApplicationErrorArg.cs
  Ryujinx.HLE/HOS/Applets/Error/ErrorApplet.cs
  Ryujinx.HLE/HOS/Applets/PlayerSelect/PlayerSelectApplet.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardApplet.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardCalc.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardCalcEx.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardRenderer.cs
  Ryujinx.HLE/HOS/Services/Hid/HidDevices/NpadDevices.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMemory/Npad/NpadInternalState.cs
  Ryujinx.HLE/HOS/Services/Ro/IRoInterface.cs
  Ryujinx.HLE/HOS/Services/Ro/Types/NRRCertification.cs
  Ryujinx.HLE/HOS/Services/Ro/Types/NrrHeader.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
Labels: miscellaneous, needs-feedback

#2808 Clamp number of mipmap levels to avoid API errors due to invalid textures
  Ryujinx.Graphics.GAL/TextureCreateInfo.cs
  Ryujinx.Graphics.OpenGL/Image/TextureStorage.cs
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
Labels: gpu, fix

#2812 Ensure syncpoints are released and event handles closed on channel close
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostChannel/NvHostChannelDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostChannel/NvHostGpuDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostCtrl/NvHostCtrlDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostCtrl/Types/NvHostEvent.cs
Labels: fix, service:nv

#2822 Fix InvocationInfo on geometry shader and bindless default integer const
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitMove.cs
Labels: gpu, fix

#2826 Fix bindless/global memory elimination with inverted predicates
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/Utils.cs
Labels: gpu, fix

#2817 Support shader gl_Color, gl_SecondaryColor and gl_TexCoord built-ins
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/Decoders/Decoder.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitAttribute.cs
  Ryujinx.Graphics.Shader/Translation/AttributeConsts.cs
  Ryujinx.Graphics.Shader/Translation/FeatureFlags.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
  Ryujinx.Graphics.Shader/Translation/TranslatorContext.cs
Labels: gpu, fix

#2827 Fix direct mouse access checkbox label
  Ryujinx/Ui/Windows/SettingsWindow.glade
Labels: gui, fix, grammar

#2747 Implement DrawTexture functionality
  Ryujinx.Graphics.GAL/Extents2DF.cs
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.GAL/Multithreading/CommandHelper.cs
  Ryujinx.Graphics.GAL/Multithreading/CommandType.cs
  Ryujinx.Graphics.GAL/Multithreading/Commands/DrawTextureCommand.cs
  Ryujinx.Graphics.GAL/Multithreading/ThreadedPipeline.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/DrawManager.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClass.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClassState.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.OpenGL/DrawTextureEmulation.cs
  Ryujinx.Graphics.OpenGL/HwCapabilities.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
Labels: gpu, fix, needs-feedback

#2832 Limit Custom Anisotropic Filtering to mipmapped textures with many levels
  Ryujinx.Graphics.Gpu/Engine/Threed/DrawManager.cs
  Ryujinx.Graphics.Gpu/Image/Sampler.cs
  Ryujinx.Graphics.Gpu/Image/SamplerPool.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
Labels: gpu, fix

#2831 Fix shader integer from/to double conversion
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenHelper.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitConversion.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/Instruction.cs
  Ryujinx.Graphics.Shader/StructuredIr/InstructionInfo.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContextInsts.cs
  Ryujinx.Graphics.Shader/Translation/Rewriter.cs
Labels: gpu, fix

#2804 Nickname! - Init Amiibos with Profile's name!
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/NfpManager/INfp.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/VirtualAmiibo.cs
Labels: enhancement, service:nfc

#2754 Better depth range detection
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
Labels: gpu, fix

#2820 account/ns: Implement 13.0.0+ service calls
  Ryujinx.HLE/HOS/Services/Account/Acc/IAccountServiceForApplication.cs
  Ryujinx.HLE/HOS/Services/Ns/Aoc/IAddOnContentManager.cs
  Ryujinx.HLE/HOS/Services/Ns/Aoc/IPurchaseEventManager.cs
Labels: stub, service-implementation, service:account, service:ns

#2839 kernel: Add support for CFI
  Ryujinx.HLE/HOS/Kernel/Common/KSystemControl.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KThread.cs
Labels: enhancement, kernel

#2828 kernel: Fix sleep timing accuracy
  Ryujinx.HLE/HOS/Kernel/Common/KTimeManager.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall.cs
Labels: fix, kernel

#2829 infra: Migrate to .NET 6
  .github/workflows/build.yml
  ARMeilleure/ARMeilleure.csproj
  README.md
  Ryujinx.Audio.Backends.OpenAL/Ryujinx.Audio.Backends.OpenAL.csproj
  Ryujinx.Audio.Backends.SDL2/Ryujinx.Audio.Backends.SDL2.csproj
  Ryujinx.Audio.Backends.SoundIo/Ryujinx.Audio.Backends.SoundIo.csproj
  Ryujinx.Audio.Backends/Ryujinx.Audio.Backends.csproj
  Ryujinx.Audio/Ryujinx.Audio.csproj
  Ryujinx.Common/Ryujinx.Common.csproj
  Ryujinx.Common/System/ForceDpiAware.cs
  Ryujinx.Cpu/Ryujinx.Cpu.csproj
  Ryujinx.Graphics.Device/Ryujinx.Graphics.Device.csproj
  Ryujinx.Graphics.GAL/Ryujinx.Graphics.GAL.csproj
  Ryujinx.Graphics.Gpu/Ryujinx.Graphics.Gpu.csproj
  Ryujinx.Graphics.Gpu/Shader/Cache/CacheCollection.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/CacheHelper.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/CacheMigration.cs
  Ryujinx.Graphics.Host1x/Ryujinx.Graphics.Host1x.csproj
  Ryujinx.Graphics.Nvdec.FFmpeg/Ryujinx.Graphics.Nvdec.FFmpeg.csproj
  Ryujinx.Graphics.Nvdec.Vp9/Ryujinx.Graphics.Nvdec.Vp9.csproj
  Ryujinx.Graphics.Nvdec/Ryujinx.Graphics.Nvdec.csproj
  Ryujinx.Graphics.OpenGL/Ryujinx.Graphics.OpenGL.csproj
  Ryujinx.Graphics.Shader/Ryujinx.Graphics.Shader.csproj
  Ryujinx.Graphics.Texture/Ryujinx.Graphics.Texture.csproj
  Ryujinx.Graphics.Vic/Ryujinx.Graphics.Vic.csproj
  Ryujinx.Graphics.Video/Ryujinx.Graphics.Video.csproj
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardApplet.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardRenderer.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardRendererBase.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardUiState.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/TimedAction.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/VirtualAmiibo.cs
  Ryujinx.HLE/HOS/Services/Spl/IRandomInterface.cs
  Ryujinx.HLE/HOS/Services/Vi/RootService/IApplicationDisplayService.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx.HLE/Ui/RenderingSurfaceInfo.cs
  Ryujinx.Headless.SDL2/Ryujinx.Headless.SDL2.csproj
  Ryujinx.Input.SDL2/Ryujinx.Input.SDL2.csproj
  Ryujinx.Input/Ryujinx.Input.csproj
  Ryujinx.Memory.Tests/Ryujinx.Memory.Tests.csproj
  Ryujinx.Memory/Ryujinx.Memory.csproj
  Ryujinx.SDL2.Common/Ryujinx.SDL2.Common.csproj
  Ryujinx.ShaderTools/Ryujinx.ShaderTools.csproj
  Ryujinx.Tests.Unicorn/Ryujinx.Tests.Unicorn.csproj
  Ryujinx.Tests/Ryujinx.Tests.csproj
  Ryujinx/Modules/Updater/Updater.cs
  Ryujinx/Program.cs
  Ryujinx/Ryujinx.csproj
  Ryujinx/Ui/Windows/AmiiboWindow.cs
  appveyor.yml
  global.json
Labels: miscellaneous, infra

#2867 Don't blow up everything if a DLC file is moved or renamed.
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx/Ui/Windows/DlcWindow.cs
Labels: gui, fix

#2890 Fix Amiibo hanging since .NET 6 changes
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/VirtualAmiibo.cs
Labels: horizon, fix
