Repository Ryujinx/Ryujinx, pull requests merged in 2021-06, with the labels that each got.

#2323 Avoid clearing alpha channel by handle when presenting
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/Window.cs
Labels: fix, gpu

#2331 Use Quads on OpenGL host when supported.
  Ryujinx.Graphics.OpenGL/HwCapabilities.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
Labels: gpu, performance

#2327 Update SDL2-CS
  Ryujinx.SDL2.Common/Ryujinx.SDL2.Common.csproj
Labels: fix, miscellaneous

#2335 Fix texture blit off-by-one errors
  Ryujinx.Graphics.Gpu/Engine/MethodCopyTexture.cs
  Ryujinx.Graphics.Gpu/State/CopyTextureControl.cs
Labels: fix, gpu

#2329 Fix shaders with mixed PBK and SSY addresses on the stack
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/Decoders/Decoder.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/Optimizer.cs
Labels: fix, gpu

#2337 Update README.MD to include SDL2/audio/controller information and updated compatibility stats
  README.md
Labels: enhancement, miscellaneous

#2339 Support bindless textures with separate constant buffers for texture and sampler
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessElimination.cs
Labels: fix, gpu

#2348 Do not clear gpu subchannel state on BindChannel
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoProcessor.cs
  Ryujinx.Graphics.Gpu/State/GpuState.cs
Labels: fix, gpu, needs-feedback

#2353 GAL: Fix sampler leaks on exit
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
Labels: fix, gpu

#2355 Increase height of Settings Window
  Ryujinx/Ui/Windows/SettingsWindow.glade
Labels: enhancement, gui

#2333 Add TouchScreen Manager
  Ryujinx.Input/HLE/InputManager.cs
  Ryujinx.Input/HLE/TouchScreenManager.cs
  Ryujinx.Input/IMouse.cs
  Ryujinx.Input/MouseButton.cs
  Ryujinx.Input/MouseStateSnapshot.cs
  Ryujinx/Input/GTK3/GTK3Mouse.cs
  Ryujinx/Input/GTK3/GTK3MouseDriver.cs
  Ryujinx/Ui/RendererWidgetBase.cs
Labels: enhancement

#2367 End shader decoding when reaching a block that starts with an infinite loop (after BRX)
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/Decoders/Decoder.cs
Labels: fix, gpu

#2368 Miria: Make default profile loads Pro Controller by default
  Ryujinx/Ui/Windows/ControllerWindow.cs
Labels: fix, gui

#2371 hid/irs: Stub IsFirmwareUpdateAvailableForSixAxisSensor and CheckFirmwareVersion
  Ryujinx.HLE/HOS/Services/Hid/IHidServer.cs
  Ryujinx.HLE/HOS/Services/Hid/Irs/IIrSensorServer.cs
Labels: service:hid, stub

#2360 Fix separate bindless sampler at offset 0
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessElimination.cs
Labels: fix, gpu

#2378 am: Add all known AppletMessage
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ICommonStateGetter.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/Types/AppletMessage.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/Types/MessageInfo.cs
  Ryujinx.HLE/HOS/SystemState/AppletStateMgr.cs
Labels: enhancement, service:am

#2384 account: Fix wrong condition in TrySelectUserWithoutInteraction
  Ryujinx.HLE/HOS/Services/Account/Acc/ApplicationServiceServer.cs
Labels: fix, service:account

#2387 ipc: Remove size checks for buffer type 0x21/0x22
  Ryujinx.HLE/HOS/Ipc/IpcMessage.cs
Labels: fix, horizon

#2386 kernel: Implement MapTransferMemory and UnmapTransferMemory
  Ryujinx.HLE/HOS/Kernel/Memory/KTransferMemory.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall32.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall64.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SyscallTable.cs
Labels: enhancement, horizon

#2392 mii: Fix multiple inconsistencies
  Ryujinx.HLE/HOS/Services/Mii/Helper.cs
  Ryujinx.HLE/HOS/Services/Mii/MiiDatabaseManager.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/CoreData.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/NintendoFigurineDatabase.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/StoreData.cs
Labels: fix, service:mii

#2382 pl: Implement GetSharedFontInOrderOfPriorityForSystem
  Ryujinx.HLE/HOS/Services/Sdb/Pl/ISharedFontManager.cs
Labels: service-implementation, service:sdb

#2379 prepo: Implement SaveSystemReport and SaveSystemReportWithUser
  Ryujinx.HLE/HOS/Services/Prepo/IPrepoService.cs
  Ryujinx.HLE/HOS/Services/Prepo/Types/PrepoServicePermissionLevel.cs
Labels: service-implementation, service:prepo

#2358 Unbind input on middle click
  Ryujinx/Ui/Windows/ControllerWindow.cs
Labels: enhancement, gui

#2380 hid: Cleanup and implement some calls
  Ryujinx.HLE/HOS/Services/Hid/HidDevices/NpadDevices.cs
  Ryujinx.HLE/HOS/Services/Hid/HidServer/HidUtils.cs
  Ryujinx.HLE/HOS/Services/Hid/IHidServer.cs
  Ryujinx.HLE/HOS/Services/Hid/IHidSystemServer.cs
  Ryujinx.HLE/HOS/Services/Hid/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/AppletFooterUiType.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMemory/Npad/NpadInternalState.cs
Labels: service-implementation, service:hid, stub

#2362 Pass all inputs when geometry shader passthrough is enabled
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
Labels: fix, gpu

#2396 Implement VORN (register) Arm32 instruction
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitSimdLogical32.cs
  ARMeilleure/Instructions/InstName.cs
  Ryujinx.Tests/Cpu/CpuTestSimdLogical32.cs
Labels: cpu, enhancement

#2397 Fix shader texture LOD query
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
  Ryujinx.Graphics.Shader/Translation/Rewriter.cs
Labels: fix, gpu

#2390 input: Fixes TouchPoint wrong attribute
  Ryujinx.HLE/HOS/Services/Hid/HidDevices/TouchDevice.cs
  Ryujinx.HLE/HOS/Services/Hid/HidDevices/Types/TouchPoint.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMemory/TouchScreen/TouchAttribute.cs
  Ryujinx.Input/HLE/TouchScreenManager.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/RendererWidgetBase.cs
Labels: fix, service:hid

#2211 Reduce number of dlls on distribution with single file publish
  .github/workflows/build.yml
  Ryujinx/Ryujinx.csproj
  appveyor.yml
Labels: enhancement, infra, needs-feedback

#2381 nfc/nfp: Implement ISystemManager and ISystem
  Ryujinx.Common/Logging/LogClass.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Nfc/ISystemManager.cs
  Ryujinx.HLE/HOS/Services/Nfc/IUserManager.cs
  Ryujinx.HLE/HOS/Services/Nfc/NfcManager/INfc.cs
  Ryujinx.HLE/HOS/Services/Nfc/NfcManager/Types/NfcPermissionLevel.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/IDebugManager.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/ISystemManager.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/IUserManager.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/NfpManager/INfp.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/NfpManager/Types/AmiiboConstants.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/NfpManager/Types/CommonInfo.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/NfpManager/Types/DeviceType.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/NfpManager/Types/ModelInfo.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/NfpManager/Types/MountTarget.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/NfpManager/Types/NfpDevice.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/NfpManager/Types/NfpDeviceState.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/NfpManager/Types/NfpPermissionLevel.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/NfpManager/Types/RegisterInfo.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/NfpManager/Types/State.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/NfpManager/Types/TagInfo.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/NfpManager/Types/VirtualAmiiboFile.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/UserManager/Types/DeviceType.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/VirtualAmiibo.cs
Labels: service-implementation, services:nfc, stub

#2383 settings: Implement GetDeviceNickName and SetDeviceNickName
  Ryujinx.HLE/HOS/Services/Settings/ISettingsServer.cs
  Ryujinx.HLE/HOS/Services/Settings/ISystemSettingsServer.cs
  Ryujinx.HLE/HOS/SystemState/SystemStateMgr.cs
Labels: service-implementation, service:settings

#2330 Inherit buffer tracking handles rather than recreating on resize.
  Ryujinx.Cpu/IVirtualMemoryManagerTracked.cs
  Ryujinx.Cpu/MemoryManager.cs
  Ryujinx.Cpu/MemoryManagerHostMapped.cs
  Ryujinx.Cpu/Tracking/CpuMultiRegionHandle.cs
  Ryujinx.Cpu/Tracking/CpuRegionHandle.cs
  Ryujinx.Graphics.Gpu/Memory/Buffer.cs
  Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
  Ryujinx.Graphics.Gpu/Memory/PhysicalMemory.cs
  Ryujinx.Memory.Tests/MultiRegionTrackingTests.cs
  Ryujinx.Memory/Tracking/MemoryTracking.cs
  Ryujinx.Memory/Tracking/MultiRegionHandle.cs
Labels: gpu, performance

#2372 Initial support for GPU channels
  Ryujinx.Graphics.Gpu/Engine/Compute.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoDevice.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoProcessor.cs
  Ryujinx.Graphics.Gpu/Engine/MethodClear.cs
  Ryujinx.Graphics.Gpu/Engine/MethodCopyBuffer.cs
  Ryujinx.Graphics.Gpu/Engine/MethodCopyTexture.cs
  Ryujinx.Graphics.Gpu/Engine/MethodDraw.cs
  Ryujinx.Graphics.Gpu/Engine/MethodUniformBufferBind.cs
  Ryujinx.Graphics.Gpu/Engine/MethodUniformBufferUpdate.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/GpuChannel.cs
  Ryujinx.Graphics.Gpu/GpuContext.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
  Ryujinx.Graphics.Gpu/Image/TexturePoolCache.cs
  Ryujinx.Graphics.Gpu/Memory/BufferCache.cs
  Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.Gpu/State/GpuState.cs
  Ryujinx.Graphics.Gpu/Window.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostChannel/NvHostChannelDeviceFile.cs
Labels: fix, gpu

#2374 Add Direct Mouse Support
  Ryujinx.HLE/HOS/Services/Hid/HidDevices/MouseDevice.cs
  Ryujinx.Input/HLE/InputManager.cs
  Ryujinx.Input/HLE/NpadManager.cs
  Ryujinx.Input/HLE/TouchScreenManager.cs
  Ryujinx.Input/IMouse.cs
  Ryujinx.Input/MouseStateSnapshot.cs
  Ryujinx/Config.json
  Ryujinx/Configuration/ConfigurationFileFormat.cs
  Ryujinx/Configuration/ConfigurationState.cs
  Ryujinx/Input/GTK3/GTK3Mouse.cs
  Ryujinx/Input/GTK3/GTK3MouseDriver.cs
  Ryujinx/Ui/RendererWidgetBase.cs
  Ryujinx/Ui/Windows/ControllerWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.glade
  Ryujinx/_schema.json
Labels: enhancement, gui, service:hid

#2398 Improve gameTable search
  Ryujinx/Ui/MainWindow.cs
Labels: enhancement, gui

#2403 caps: Stubs GetAlbumFileList0AafeAruidDeprecated and GetAlbumFileList3AaeAruid
  Ryujinx.HLE/HOS/Services/Caps/IAlbumApplicationService.cs
  Ryujinx.HLE/HOS/Services/Caps/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Caps/Types/ContentType.cs
Labels: service-implementation, service:caps

#2404 Fix texture sampling with depth compare and LOD level or bias
  Ryujinx.Graphics.GAL/Capabilities.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.OpenGL/HwCapabilities.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
Labels: fix, gpu

#2412 Fix default value for unwritten shader outputs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/GlslGenerator.cs
Labels: fix, gpu

#2406 Add support for custom line widths
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/State/MethodOffset.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
Labels: fix, gpu

#2354 Add Screenshot Feature
  Ryujinx.Common/Configuration/Hid/KeyboardHotkeys.cs
  Ryujinx.Graphics.GAL/IRenderer.cs
  Ryujinx.Graphics.GAL/ScreenCaptureImageInfo.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.OpenGL/Window.cs
  Ryujinx/Config.json
  Ryujinx/Configuration/ConfigurationFileFormat.cs
  Ryujinx/Configuration/ConfigurationState.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
  Ryujinx/Ui/RendererWidgetBase.cs
  Ryujinx/_schema.json
Labels: enhancement, miscellaneous

#2414 aoc/am: Cleanup aoc service and stub am calls
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ISelfController.cs
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/IFriendService.cs
  Ryujinx.HLE/HOS/Services/Ns/Aoc/IAddOnContentManager.cs
  Ryujinx.HLE/HOS/Services/Ns/Aoc/IContentsServiceManager.cs
  Ryujinx.HLE/HOS/Services/Ns/Aoc/IPurchaseEventManager.cs
  Ryujinx.HLE/HOS/Services/Ns/Aoc/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Ns/IAddOnContentManager.cs
  Ryujinx.HLE/HOS/Services/Pctl/IParentalControlServiceFactory.cs
  Ryujinx.HLE/HOS/Services/Pctl/ParentalControlServiceFactory/IParentalControlService.cs
Labels: service-implementation, service:am, service:ns, stub

#2394 Initial support for separate GPU address spaces
  Ryujinx.Graphics.Gpu/Engine/Compute.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoClass.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoDevice.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoProcessor.cs
  Ryujinx.Graphics.Gpu/Engine/Inline2Memory.cs
  Ryujinx.Graphics.Gpu/Engine/MethodConditionalRendering.cs
  Ryujinx.Graphics.Gpu/Engine/MethodCopyBuffer.cs
  Ryujinx.Graphics.Gpu/Engine/MethodCopyTexture.cs
  Ryujinx.Graphics.Gpu/Engine/MethodReport.cs
  Ryujinx.Graphics.Gpu/Engine/MethodUniformBufferBind.cs
  Ryujinx.Graphics.Gpu/Engine/MethodUniformBufferUpdate.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/GpuChannel.cs
  Ryujinx.Graphics.Gpu/GpuContext.cs
  Ryujinx.Graphics.Gpu/Image/Pool.cs
  Ryujinx.Graphics.Gpu/Image/SamplerPool.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
  Ryujinx.Graphics.Gpu/Image/TexturePoolCache.cs
  Ryujinx.Graphics.Gpu/Memory/Buffer.cs
  Ryujinx.Graphics.Gpu/Memory/BufferCache.cs
  Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
  Ryujinx.Graphics.Gpu/Memory/MemoryManager.cs
  Ryujinx.Graphics.Gpu/Memory/PhysicalMemory.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Gpu/Window.cs
  Ryujinx.HLE/HOS/ArmProcessContext.cs
  Ryujinx.HLE/HOS/ArmProcessContextFactory.cs
  Ryujinx.HLE/HOS/Kernel/Process/IProcessContextFactory.cs
  Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
  Ryujinx.HLE/HOS/Kernel/Process/ProcessContextFactory.cs
  Ryujinx.HLE/HOS/ProgramLoader.cs
  Ryujinx.HLE/HOS/Services/Nv/Host1xContext.cs
  Ryujinx.HLE/HOS/Services/Nv/INvDrvServices.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostAsGpu/NvHostAsGpuDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostAsGpu/Types/AddressSpaceContext.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostChannel/NvHostChannelDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvMemoryAllocator.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/SurfaceFlinger.cs
  Ryujinx.HLE/Switch.cs
Labels: enhancement, gpu

#2334 Fix disposing of IPC sessions server at emulation stop
  Ryujinx.Audio.Backends.OpenAL/OpenALHardwareDeviceDriver.cs
  Ryujinx.Audio.Backends.SoundIo/SoundIoHardwareDeviceDriver.cs
  Ryujinx.Audio.Backends.SoundIo/SoundIoHardwareDeviceSession.cs
  Ryujinx.Audio/Input/AudioInputManager.cs
  Ryujinx.Audio/Input/AudioInputSystem.cs
  Ryujinx.Audio/Output/AudioOutputManager.cs
  Ryujinx.Audio/Output/AudioOutputSystem.cs
  Ryujinx.Audio/Renderer/Server/AudioRenderSystem.cs
  Ryujinx.Audio/Renderer/Server/AudioRendererManager.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/LibraryAppletCreator/ILibraryAppletAccessor.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioIn/AudioInServer.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioOut/AudioOutServer.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRenderer/AudioRendererServer.cs
  Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheDirectoryService.cs
  Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheFileService.cs
  Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheStorageService.cs
  Ryujinx.HLE/HOS/Services/DisposableIpcService.cs
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/INotificationService.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/IFile.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/IStorage.cs
  Ryujinx.HLE/HOS/Services/Fs/ISaveDataInfoReader.cs
  Ryujinx.HLE/HOS/Services/IpcService.cs
  Ryujinx.HLE/HOS/Services/Nifm/StaticService/IGeneralService.cs
  Ryujinx.HLE/HOS/Services/Ro/IRoInterface.cs
  Ryujinx.HLE/HOS/Services/ServerBase.cs
  Ryujinx.HLE/HOS/Services/Sm/IUserInterface.cs
  Ryujinx.HLE/HOS/Services/Spl/IRandomInterface.cs
Labels: fix, horizon

#2427 aoc: Fix wrong check
  Ryujinx.HLE/HOS/Services/Ns/Aoc/IAddOnContentManager.cs
Labels: fix, service:ns
