Repository Ryujinx/Ryujinx, pull requests merged in 2021-07, with the labels that each got.

#2433 Honour copy dependencies when switching render target
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
Labels: bug, gpu

#2410 Implement 12.0.0 hwopus functions
  Ryujinx.HLE/HOS/Services/Audio/IHardwareOpusDecoderManager.cs
  Ryujinx.HLE/HOS/Services/Audio/Types/OpusDecoderFlags.cs
  Ryujinx.HLE/HOS/Services/Audio/Types/OpusParametersEx.cs
Labels: enhancement, service:audio

#2424 Start a game with -f argument doesn't tick "Start Games in Fullscreen Mode" anymore
  Ryujinx/Program.cs
  Ryujinx/Ui/MainWindow.cs
Labels: enhancement, gui

#2434 aoc: Fixes some inconsistencies
  Ryujinx.HLE/HOS/Services/Ns/Aoc/IAddOnContentManager.cs
  Ryujinx.HLE/HOS/SystemState/SystemStateMgr.cs
Labels: fix, service:ns

#2443 nifm: Fixes IsDynamicDnsEnabled not supported
  Ryujinx.HLE/HOS/Services/Nifm/StaticService/Types/DnsSetting.cs
Labels: fix, service:nifm

#2444 ui: Fixes GetShrinkedGamepadName
  Ryujinx/Ui/Windows/ControllerWindow.cs
Labels: fix, gui

#2447 Add portable screenshot folder
  Ryujinx/Ui/RendererWidgetBase.cs
Labels: fix, gui

#2402 Allow shader language and target API to be specified on the shader translator
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/GlslGenerator.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/StructuredIr/AstOptimizer.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
  Ryujinx.Graphics.Shader/Translation/TargetApi.cs
  Ryujinx.Graphics.Shader/Translation/TargetLanguage.cs
  Ryujinx.Graphics.Shader/Translation/TranslationOptions.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
  Ryujinx.ShaderTools/Program.cs
Labels: enhancement, gpu

#2310 frontend: Add a SDL2 headless window
  .github/workflows/build.yml
  Ryujinx.HLE/HLEConfiguration.cs
  Ryujinx.Headless.SDL2/OpenGL/OpenGLWindow.cs
  Ryujinx.Headless.SDL2/Options.cs
  Ryujinx.Headless.SDL2/Program.cs
  Ryujinx.Headless.SDL2/Ryujinx.Headless.SDL2.csproj
  Ryujinx.Headless.SDL2/SDL2Mouse.cs
  Ryujinx.Headless.SDL2/SDL2MouseDriver.cs
  Ryujinx.Headless.SDL2/StatusUpdatedEventArgs.cs
  Ryujinx.Headless.SDL2/WindowBase.cs
  Ryujinx.SDL2.Common/SDL2Driver.cs
  Ryujinx.sln
  appveyor.yml
Labels: enhancement, miscellaneous, needs-feedback

#2422 Separate GPU engines and make state follow official docs (part 1/2)
  Ryujinx.Common/Memory/StructArrayHelpers.cs
  Ryujinx.Graphics.Device/DeviceState.cs
  Ryujinx.Graphics.Gpu/Engine/Compute.cs
  Ryujinx.Graphics.Gpu/Engine/Compute/ComputeClass.cs
  Ryujinx.Graphics.Gpu/Engine/Compute/ComputeClassState.cs
  Ryujinx.Graphics.Gpu/Engine/Compute/ComputeQmd.cs
  Ryujinx.Graphics.Gpu/Engine/Dma/DmaClass.cs
  Ryujinx.Graphics.Gpu/Engine/Dma/DmaClassState.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoClassState.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoProcessor.cs
  Ryujinx.Graphics.Gpu/Engine/InlineToMemory/InlineToMemoryClass.cs
  Ryujinx.Graphics.Gpu/Engine/InlineToMemory/InlineToMemoryClassState.cs
  Ryujinx.Graphics.Gpu/Engine/MethodUniformBufferUpdate.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/Engine/MmeShadowScratch.cs
  Ryujinx.Graphics.Gpu/Engine/Twod/TwodClass.cs
  Ryujinx.Graphics.Gpu/Engine/Twod/TwodClassState.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.Gpu/Memory/BufferCache.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessorState.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Gpu/State/BufferSwizzleComponent.cs
  Ryujinx.Graphics.Gpu/State/CopyBufferParams.cs
  Ryujinx.Graphics.Gpu/State/CopyBufferSwizzle.cs
  Ryujinx.Graphics.Gpu/State/CopyTextureControl.cs
  Ryujinx.Graphics.Gpu/State/GpuState.cs
  Ryujinx.Graphics.Gpu/State/SbDescriptor.cs
Labels: enhancement, gpu

#2407 Flush UBO updates more frequently
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoProcessor.cs
Labels: fix, gpu, needs-feedback

#2441 Unscale textureSize when resolution scaling is used
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/TexelFetchScale_cp.glsl
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/TexelFetchScale_fp.glsl
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
Labels: fix, gpu

#2456 Fix GetWritableRegion write-back
  Ryujinx.Memory/IVirtualMemoryManager.cs
  Ryujinx.Memory/MemoryBlock.cs
Labels: fix, miscellaneous

#2448 am: Implement CreateApplicationAndRequestToStart
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
Labels: service-implementation, service:am

#2464 Fix virtual memory allocation being out of range
  Ryujinx.HLE/HOS/Kernel/Memory/KPageTableBase.cs
Labels: fix, horizon, kernel

#2471 Fix shader compilation on shaders that uses rectangle textures
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/TextureOperation.cs
  Ryujinx.Graphics.Shader/Translation/Rewriter.cs
Labels: fix, gpu

#2467 Implement a fast path for I2M transfers
  Ryujinx.Graphics.Gpu/Engine/Compute/ComputeClass.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoProcessor.cs
  Ryujinx.Graphics.Gpu/Engine/InlineToMemory/InlineToMemoryClass.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClass.cs
Labels: enhancement, gpu

#2328 Update to LibHac 0.13.1
  Ryujinx.HLE/FileSystem/Content/ContentManager.cs
  Ryujinx.HLE/FileSystem/Content/SystemVersion.cs
  Ryujinx.HLE/FileSystem/SaveHelper.cs
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
  Ryujinx.HLE/HLEConfiguration.cs
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/LibHacHorizonManager.cs
  Ryujinx.HLE/HOS/ModLoader.cs
  Ryujinx.HLE/HOS/ProgramLoader.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/AccountManager.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
  Ryujinx.HLE/HOS/Services/Arp/LibHacIReader.cs
  Ryujinx.HLE/HOS/Services/Bcat/IServiceCreator.cs
  Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheDirectoryService.cs
  Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheFileService.cs
  Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheStorageService.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/FileSystemProxyHelper.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/IDirectory.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/IFile.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/IFileSystem.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/IStorage.cs
  Ryujinx.HLE/HOS/Services/Fs/IDeviceOperator.cs
  Ryujinx.HLE/HOS/Services/Fs/IFileSystemProxy.cs
  Ryujinx.HLE/HOS/Services/Fs/IMultiCommitManager.cs
  Ryujinx.HLE/HOS/Services/Fs/ISaveDataInfoReader.cs
  Ryujinx.HLE/HOS/Services/Mii/DatabaseImpl.cs
  Ryujinx.HLE/HOS/Services/Mii/MiiDatabaseManager.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/Widgets/GameTableContextMenu.cs
Labels: enhancement, fix, horizon, service:fs

#2474 Fix the headless build
  Ryujinx.Headless.SDL2/Program.cs
Labels: fix, infra, service:fs

#2477 Close transfer memory properly on nvservices
  Ryujinx.HLE/HOS/Services/Nv/INvDrvServices.cs
Labels: fix, service:nv

#2476 Do not require texture and sampler pools being initialized
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
Labels: fix, gpu

#2478 Ensure that DMA copy target textures are kept alive or flushed
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
Labels: fix, gpu

#2481 Flush buffers and texture data through a persistent mapped buffer.
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
  Ryujinx.Graphics.OpenGL/PersistentBuffers.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.Texture/LayoutConverter.cs
Labels: gpu, performance

#2465 shadertools: Prepare for new target Languages and APIs
  Ryujinx.Graphics.Shader/ShaderProgram.cs
  Ryujinx.Graphics.Shader/Translation/TargetLanguage.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
  Ryujinx.ShaderTools/Program.cs
  Ryujinx.ShaderTools/Ryujinx.ShaderTools.csproj
Labels: enhancement, miscellaneous

#2460 Amadeus: DSP code generation improvements
  Ryujinx.Audio/Renderer/Dsp/AudioProcessor.cs
  Ryujinx.Audio/Renderer/Dsp/Command/AdpcmDataSourceCommandVersion1.cs
  Ryujinx.Audio/Renderer/Dsp/Command/AuxiliaryBufferCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/BiquadFilterCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/CircularBufferSinkCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/ClearMixBufferCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/CommandList.cs
  Ryujinx.Audio/Renderer/Dsp/Command/CopyMixBufferCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/DataSourceVersion2Command.cs
  Ryujinx.Audio/Renderer/Dsp/Command/DelayCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/DepopForMixBuffersCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/DepopPrepareCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/DownMixSurroundToStereoCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/LimiterCommandVersion1.cs
  Ryujinx.Audio/Renderer/Dsp/Command/LimiterCommandVersion2.cs
  Ryujinx.Audio/Renderer/Dsp/Command/MixCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/MixRampCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/MixRampGroupedCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/PcmFloatDataSourceCommandVersion1.cs
  Ryujinx.Audio/Renderer/Dsp/Command/PcmInt16DataSourceCommandVersion1.cs
  Ryujinx.Audio/Renderer/Dsp/Command/Reverb3dCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/ReverbCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/UpsampleCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/VolumeCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/VolumeRampCommand.cs
  Ryujinx.Audio/Renderer/Dsp/DataSourceHelper.cs
  Ryujinx.Audio/Renderer/Dsp/Effect/IDelayLine.cs
  Ryujinx.Audio/Renderer/Dsp/State/ReverbState.cs
  Ryujinx.Audio/Renderer/Server/CommandBuffer.cs
Labels: audio, enhancement, needs-feedback, performance

#2489 Only use persistent buffers to flush on NVIDIA and Windows+AMD
  Ryujinx.Graphics.OpenGL/HwCapabilities.cs
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
  Ryujinx.Graphics.OpenGL/PersistentBuffers.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
Labels: gpu, performance

#2494 Return mapped buffer pointer directly for flush, WriteableRegion for textures
  Ryujinx.Cpu/MemoryManager.cs
  Ryujinx.Cpu/MemoryManagerHostMapped.cs
  Ryujinx.Graphics.GAL/IRenderer.cs
  Ryujinx.Graphics.GAL/ITexture.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Memory/Buffer.cs
  Ryujinx.Graphics.Gpu/Memory/PhysicalMemory.cs
  Ryujinx.Graphics.OpenGL/Buffer.cs
  Ryujinx.Graphics.OpenGL/Image/TextureBuffer.cs
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
  Ryujinx.Graphics.OpenGL/PersistentBuffers.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.Texture/LayoutConverter.cs
  Ryujinx.Memory.Tests/MockVirtualMemoryManager.cs
  Ryujinx.Memory/AddressSpaceManager.cs
  Ryujinx.Memory/IVirtualMemoryManager.cs
  Ryujinx.Memory/IWritableBlock.cs
  Ryujinx.Memory/WritableRegion.cs
Labels: gpu, performance

#2488 Ensure right joycon motion data is set
  Ryujinx.HLE/HOS/Services/Hid/HidDevices/NpadDevices.cs
  Ryujinx.Input/HLE/NpadController.cs
  Ryujinx.Input/HLE/NpadManager.cs
Labels: fix, service:hid

#2411 Implement "hide UI" option
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
Labels: enhancement, gui
