Repository Ryujinx/Ryujinx, pull requests merged in 2021-08, with the labels that each got.

#2527 Make audio disposal thread safe on all 3 backends
  Ryujinx.Audio.Backends.OpenAL/OpenALHardwareDeviceDriver.cs
  Ryujinx.Audio.Backends.OpenAL/OpenALHardwareDeviceSession.cs
  Ryujinx.Audio.Backends.SDL2/SDL2HardwareDeviceDriver.cs
  Ryujinx.Audio.Backends.SDL2/SDL2HardwareDeviceSession.cs
  Ryujinx.Audio.Backends.SoundIo/SoundIoHardwareDeviceDriver.cs
  Ryujinx.Audio.Backends.SoundIo/SoundIoHardwareDeviceSession.cs
  Ryujinx/Ui/RendererWidgetBase.cs
Labels: audio, fix

#2506 Update TamperMachine and disable write-to-code prevention
  Ryujinx.HLE/Exceptions/CodeRegionTamperedException.cs
  Ryujinx.HLE/HOS/Kernel/Process/ProcessTamperInfo.cs
  Ryujinx.HLE/HOS/ModLoader.cs
  Ryujinx.HLE/HOS/ProgramLoader.cs
  Ryujinx.HLE/HOS/Tamper/AtmosphereCompiler.cs
  Ryujinx.HLE/HOS/Tamper/AtmosphereProgram.cs
  Ryujinx.HLE/HOS/Tamper/CodeEmitters/EndConditionalBlock.cs
  Ryujinx.HLE/HOS/Tamper/CompilationContext.cs
  Ryujinx.HLE/HOS/Tamper/ITamperProgram.cs
  Ryujinx.HLE/HOS/Tamper/ITamperedProcess.cs
  Ryujinx.HLE/HOS/Tamper/MemoryHelper.cs
  Ryujinx.HLE/HOS/Tamper/MemoryRegion.cs
  Ryujinx.HLE/HOS/Tamper/Operations/IfBlock.cs
  Ryujinx.HLE/HOS/Tamper/TamperedKProcess.cs
  Ryujinx.HLE/HOS/TamperMachine.cs
Labels: enhancement, miscellaneous

#2473 Support non-contiguous copies on I2M and DMA engines
  Ryujinx.Graphics.Gpu/Engine/Dma/DmaClass.cs
  Ryujinx.Graphics.Gpu/Engine/InlineToMemory/InlineToMemoryClass.cs
Labels: fix, gpu

#2493 Clamp controller sticks to circle, instead of square
  Ryujinx.Input/HLE/NpadController.cs
Labels: fix, input

#2504 Hide UI rework/arrow key fix
  Ryujinx.Common/Configuration/Hid/KeyboardHotkeys.cs
  Ryujinx/Config.json
  Ryujinx/Configuration/ConfigurationFileFormat.cs
  Ryujinx/Configuration/ConfigurationState.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
  Ryujinx/Ui/RendererWidgetBase.cs
Labels: enhancement, gui

#2468 Implement vibrations
  Ryujinx.Common/Configuration/Hid/Controller/GenericControllerInputConfig.cs
  Ryujinx.Common/Configuration/Hid/Controller/RumbleConfigController.cs
  Ryujinx.HLE/HOS/Services/Hid/HidDevices/NpadDevices.cs
  Ryujinx.HLE/HOS/Services/Hid/HidServer/Types/Vibration/HidVibrationDeviceHandle.cs
  Ryujinx.HLE/HOS/Services/Hid/HidServer/Types/Vibration/HidVibrationDeviceType.cs
  Ryujinx.HLE/HOS/Services/Hid/HidServer/Types/Vibration/HidVibrationValue.cs
  Ryujinx.HLE/HOS/Services/Hid/IHidServer.cs
  Ryujinx.HLE/HOS/Services/Hid/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/Npad/NpadStyleIndex.cs
  Ryujinx.Headless.SDL2/Program.cs
  Ryujinx.Input.SDL2/SDL2Gamepad.cs
  Ryujinx.Input/HLE/NpadController.cs
  Ryujinx.Input/HLE/NpadManager.cs
  Ryujinx.Input/IGamepad.cs
  Ryujinx/Configuration/ConfigurationFileFormat.cs
  Ryujinx/Configuration/ConfigurationState.cs
  Ryujinx/Ui/Windows/ControllerWindow.cs
  Ryujinx/Ui/Windows/ControllerWindow.glade
Labels: enhancement, input, service:hid

#2532 Use a new approach for shader BRX targets
  Ryujinx.Graphics.Gpu/Shader/Cache/CacheCollection.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/CacheHelper.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/CacheManager.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/Definition/GuestShaderCacheEntryHeader.cs
  Ryujinx.Graphics.Gpu/Shader/CachedGpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCompileTask.cs
  Ryujinx.Graphics.Shader/Decoders/Block.cs
  Ryujinx.Graphics.Shader/Decoders/Decoder.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitFlow.cs
Labels: gpu, fix

#2496 Replace BGRA and scale uniforms with a uniform block
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/Program.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/DefaultNames.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/TexelFetchScale_cp.glsl
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/TexelFetchScale_fp.glsl
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/SupportBuffer.cs
  Ryujinx.Graphics.Shader/Translation/TranslationCounts.cs
Labels: enhancement, gpu

#2536 Do not dirty memory tracking region handles if they are partially unmapped
  Ryujinx.Memory/Tracking/RegionHandle.cs
Labels: gpu, fix

#2538 Make sure attributes used on subsequent shader stages are initialized
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderDumpPaths.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderDumper.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/GlslGenerator.cs
  Ryujinx.Graphics.Shader/Decoders/Decoder.cs
  Ryujinx.Graphics.Shader/Decoders/IOpCodeAttribute.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeAttribute.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeIpa.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgramContext.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgramInfo.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
  Ryujinx.Graphics.Shader/Translation/TranslatorContext.cs
Labels: gpu, fix

#2537 Use "Undesired" scale mode for certain textures rather than blacklisting
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.Gpu/Image/TextureScaleMode.cs
Labels: enhancement, gpu, fix

#2540 Workaround for Intel FrontFacing built-in variable bug
  Ryujinx.Graphics.GAL/Capabilities.cs
  Ryujinx.Graphics.Gpu/Shader/CachedGpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessorBase.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Gpu/Shader/TextureDescriptorCapableGpuAccessor.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/GlobalToStorage.cs
  Ryujinx.Graphics.Shader/Translation/Rewriter.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
Labels: gpu, fix

#2542 Unify GpuAccessorBase and TextureDescriptorCapableGpuAccessor
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessorBase.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Gpu/Shader/TextureDescriptorCapableGpuAccessor.cs
Labels: gpu, fix

#2543 Ensure render scale is initialized to 1 on the backend
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.Shader/SupportBuffer.cs
Labels: gpu, fix

#2544 Revert "Calculate vertex buffer sizes from index buffer"
  Ryujinx.Graphics.Gpu/Engine/Threed/IbUtils.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  Ryujinx.Graphics.Gpu/GraphicsConfig.cs
  Ryujinx/Configuration/ConfigurationState.cs
Labels: gpu, fix

#2475 Update to LibHac 0.13.1
  Ryujinx.HLE/FileSystem/Content/ContentManager.cs
  Ryujinx.HLE/FileSystem/Content/SystemVersion.cs
  Ryujinx.HLE/FileSystem/SaveHelper.cs
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
  Ryujinx.HLE/HLEConfiguration.cs
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/LibHacHorizonManager.cs
  Ryujinx.HLE/HOS/ModLoader.cs
  Ryujinx.HLE/HOS/ProgramLoader.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/AccountManager.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
  Ryujinx.HLE/HOS/Services/Arp/LibHacIReader.cs
  Ryujinx.HLE/HOS/Services/Bcat/IServiceCreator.cs
  Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheDirectoryService.cs
  Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheFileService.cs
  Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheStorageService.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/FileSystemProxyHelper.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/IDirectory.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/IFile.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/IFileSystem.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/IStorage.cs
  Ryujinx.HLE/HOS/Services/Fs/IDeviceOperator.cs
  Ryujinx.HLE/HOS/Services/Fs/IFileSystemProxy.cs
  Ryujinx.HLE/HOS/Services/Fs/IMultiCommitManager.cs
  Ryujinx.HLE/HOS/Services/Fs/ISaveDataInfoReader.cs
  Ryujinx.HLE/HOS/Services/Mii/DatabaseImpl.cs
  Ryujinx.HLE/HOS/Services/Mii/MiiDatabaseManager.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx.Headless.SDL2/Program.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/Widgets/GameTableContextMenu.cs
Labels: enhancement, horizon, fix, service:fs

#2552 Enable transform feedback buffer flush
  Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
Labels: gpu, fix

#2561 Always use an all-zeros key for AES-XTS file systems
  Ryujinx.HLE/FileSystem/EncryptedFileSystemCreator.cs
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
Labels: horizon, fix, service:fs

#2571 Fix type mismatch in `BitwiseAnd` simplification
  ARMeilleure/CodeGen/Optimizations/Simplification.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, fix

#2569 Fix GetHandleInformation for mipmapped 3d textures
  Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
Labels: gpu, fix

#2564 Clean the SD card save directory when opening the emulator
  Ryujinx.HLE/FileSystem/EncryptedFileSystemCreator.cs
  Ryujinx.HLE/HOS/LibHacHorizonManager.cs
Labels: fix, service:fs

#2568 Remove pool cache entries for incompatible overlapping textures
  Ryujinx.Graphics.Gpu/Image/AutoDeleteCache.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
Labels: enhancement, gpu

#2573 Change disabled vertex attribute value to (0, 0, 0, 1)
  Ryujinx.Graphics.OpenGL/VertexArray.cs
Labels: gpu, fix

#2567 Swap BGR components for 16-bit BGR texture formats
  Ryujinx.Graphics.GAL/Format.cs
  Ryujinx.Graphics.OpenGL/FormatTable.cs
  Ryujinx.Graphics.OpenGL/Image/TextureCopy.cs
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/Window.cs
Labels: gpu, fix

#2572 Seeing if there are any other spelling errors to correct.
  Ryujinx/Modules/Updater/Updater.cs
  Ryujinx/Ui/Windows/AmiiboWindow.cs
  Ryujinx/Ui/Windows/ControllerWindow.cs
Labels: gui, fix, grammar

#2597 Ensure that all threads wait for a read tracking action to complete.
  Ryujinx.Memory/Tracking/RegionHandle.cs
Labels: gpu, fix

#2601 Avoid deleting textures when their data does not overlap.
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
  Ryujinx.Graphics.Texture/Region.cs
  Ryujinx.Graphics.Texture/SizeInfo.cs
Labels: gpu, fix

#2593 Handle indirect draw counts with non-zero draw starts properly
  Ryujinx.Cpu/IVirtualMemoryManagerTracked.cs
  Ryujinx.Cpu/MemoryManager.cs
  Ryujinx.Graphics.Gpu/Engine/MME/MacroHLE.cs
  Ryujinx.Graphics.Gpu/Memory/MemoryManager.cs
  Ryujinx.Graphics.Gpu/Memory/PhysicalMemory.cs
Labels: gpu, fix

#2605 Fix out-of-bounds shader thread shuffle
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/Shuffle.glsl
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/ShuffleDown.glsl
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/ShuffleUp.glsl
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/ShuffleXor.glsl
Labels: gpu, fix

#2090 Implement Shader Instructions SUATOM and SURED
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGen.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenHelper.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeSuatom.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeSured.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeTable.cs
  Ryujinx.Graphics.Shader/Decoders/ReductionType.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/Instruction.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/TextureFlags.cs
  Ryujinx.Graphics.Shader/StructuredIr/InstructionInfo.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessElimination.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/Optimizer.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
Labels: enhancement, gpu
