Repository Ryujinx/Ryujinx, pull requests merged in 2021-05, with the labels that each got.

#2261 Fix shader buffer write flag on atomic instructions
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGen.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
Labels: fix, gpu

#2259 Update to FFmpeg 4.4.0
  Ryujinx.Graphics.Nvdec.H264/FFmpegContext.cs
  Ryujinx.Graphics.Nvdec.H264/Ryujinx.Graphics.Nvdec.H264.csproj
  Ryujinx/Ryujinx.csproj
Labels: infra, miscellaneous

#2262 misc: Cleanup Discord Presence
  Ryujinx/Modules/DiscordIntegrationModule.cs
  Ryujinx/Ryujinx.csproj
Labels: enhancement, miscellaneous

#2260 gtk3: Add base for future Vulkan integration
  Ryujinx/Ryujinx.csproj
  Ryujinx/Ui/Applet/GtkHostUiHandler.cs
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/GLWidget.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/RendererWidgetBase.cs
  Ryujinx/Ui/SPBOpenGLContext.cs
  Ryujinx/Ui/VKRenderer.cs
  Ryujinx/Ui/Windows/ControllerWindow.cs
Labels: enhancement

#2250 nsd: Cleanup the service and implement some calls
  Ryujinx.HLE/HOS/Services/Sockets/Nsd/IManager.cs
  Ryujinx.HLE/HOS/Services/Sockets/Nsd/Manager/FqdnResolver.cs
  Ryujinx.HLE/HOS/Services/Sockets/Nsd/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Sockets/Nsd/Types/ApplicationServerEnvironmentType.cs
  Ryujinx.HLE/HOS/Services/Sockets/Nsd/Types/NsdSettings.cs
Labels: fix, service-implementation, service:sockets, stub

#2266 ffmpeg: Redirect log output
  Ryujinx.Common/Logging/LogClass.cs
  Ryujinx.Graphics.Nvdec.H264/FFmpegContext.cs
Labels: enhancement, miscellaneous

#2241 SM instance & TIPC fixes
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Ipc/IpcMessage.cs
  Ryujinx.HLE/HOS/Services/ServerBase.cs
  Ryujinx.HLE/HOS/Services/Sm/IUserInterface.cs
Labels: fix, horizon, service:sm

#2275 Fix embedded game rendering
  Ryujinx/Ui/RendererWidgetBase.cs
Labels: bug, gui

#2273 Miria: Fix GTK3 keyboard mapping
  Ryujinx/Input/GTK3/GTK3MappingHelper.cs
Labels: bug

#1865 PPTC meets ExeFS Patching.
  ARMeilleure/Memory/IMemoryManager.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  ARMeilleure/Translation/PTC/PtcFormatter.cs
  ARMeilleure/Translation/PTC/PtcJumpTable.cs
  ARMeilleure/Translation/PTC/PtcProfiler.cs
  ARMeilleure/Translation/Translator.cs
  Ryujinx.HLE/HOS/ApplicationLoader.cs
Labels: cpu, enhancement, needs-feedback

#2285 Fold constant offsets and group constant addresses
  ARMeilleure/CodeGen/X86/X86Optimizer.cs
  ARMeilleure/Instructions/InstEmitMemory.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, enhancement, performance

#2269 misc: Move configuration management to the Ryujinx project
  Ryujinx.HLE/FileSystem/Content/ContentManager.cs
  Ryujinx.HLE/HLEConfiguration.cs
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
  Ryujinx.HLE/HOS/Services/Fs/IFileSystemProxy.cs
  Ryujinx.HLE/HOS/Services/Hid/Hid.cs
  Ryujinx.HLE/HOS/Services/IpcService.cs
  Ryujinx.HLE/HOS/Services/ServiceConfiguration.cs
  Ryujinx.HLE/HOS/Services/Sm/IUserInterface.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/SurfaceFlinger.cs
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZoneContentManager.cs
  Ryujinx.HLE/Switch.cs
  Ryujinx.Input/HLE/NpadManager.cs
  Ryujinx.Input/Motion/CemuHook/Client.cs
  Ryujinx/Configuration/AudioBackend.cs
  Ryujinx/Configuration/ConfigurationFileFormat.cs
  Ryujinx/Configuration/ConfigurationState.cs
  Ryujinx/Configuration/LoggerModule.cs
  Ryujinx/Configuration/System/Language.cs
  Ryujinx/Configuration/System/Region.cs
  Ryujinx/Configuration/Ui/ColumnSort.cs
  Ryujinx/Configuration/Ui/GuiColumns.cs
  Ryujinx/Ui/Applet/GtkHostUiHandler.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/RendererWidgetBase.cs
  Ryujinx/Ui/Windows/ControllerWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.cs
Labels: horizon, infra, miscellaneous

#2144 Use copy dependencies for the Intel/AMD view format workaround
  Ryujinx.Graphics.GAL/Capabilities.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.OpenGL/Framebuffer.cs
  Ryujinx.Graphics.OpenGL/HwCapabilities.cs
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
Labels: enhancement, gpu, performance

#2288 Allow `LocalVariable` to be assigned more than once
  ARMeilleure/CodeGen/RegisterAllocators/HybridAllocator.cs
  ARMeilleure/CodeGen/RegisterAllocators/LinearScanAllocator.cs
  ARMeilleure/IntermediateRepresentation/Operand.cs
  ARMeilleure/Translation/ControlFlowGraph.cs
  ARMeilleure/Translation/EmitterContext.cs
  ARMeilleure/Translation/SsaConstruction.cs
Labels: cpu, enhancement

#2291 Pass CbufSlot when getting info from the texture descriptor
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/CacheHelper.cs
  Ryujinx.Graphics.Gpu/Shader/CachedGpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/TextureDescriptorCapableGpuAccessor.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessElimination.cs
  Ryujinx.Graphics.Shader/Translation/Rewriter.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
Labels: fix, gpu

#2290 Move shader resource descriptor creation out of the backend
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/CodeGenContext.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/GlslGenerator.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/GlslProgram.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGen.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitHelper.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/TextureOperation.cs
  Ryujinx.Graphics.Shader/StructuredIr/AstTextureOperation.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgram.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgramContext.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgramInfo.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContextInsts.cs
  Ryujinx.Graphics.Shader/Translation/FeatureFlags.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessElimination.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessToIndexed.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/GlobalToStorage.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/Optimizer.cs
  Ryujinx.Graphics.Shader/Translation/Rewriter.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
Labels: enhancement, gpu

#2279 Add `BIC/ORR Vd.T, #imm` fast path
  ARMeilleure/Instructions/InstEmitSimdHelper.cs
  ARMeilleure/Instructions/InstEmitSimdLogical.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, enhancement

#2282 Use branch instead of tailcall for recursive calls
  ARMeilleure/Instructions/InstEmitFlowHelper.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  ARMeilleure/Translation/Translator.cs
Labels: cpu, enhancement, performance

#2299 Assign _backgroundContext before starting its worker thread.
  Ryujinx.Graphics.OpenGL/BackgroundContextWorker.cs
Labels: fix, gpu

#2292 ffmpeg: Attempt to fix RootPath on some linux distributions
  Ryujinx.Graphics.Nvdec.H264/FFmpegContext.cs
  Ryujinx/Program.cs
Labels: fix, needs-feedback, nvdec

#2298 Fix constant buffer array size when indexing is used and other buffer descriptor and resolution scale regressions
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgram.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
Labels: fix, gpu

#2300 Fix buffer and texture uses not being propagated for vertex A/B shaders
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
  Ryujinx.Graphics.Shader/Translation/TranslatorContext.cs
Labels: fix, gpu

#2301 Fix dimensions check for scale eligibility
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
Labels: fix, gpu

#2277 input: Implement a SDL2 keyboard backend
  Ryujinx.Input.SDL2/SDL2Keyboard.cs
  Ryujinx.Input.SDL2/SDLKeyboardDriver.cs
Labels: enhancement

#1845 Extend info printed when guest crashes/breaks execution
  Ryujinx.HLE/HOS/Kernel/Process/HleProcessDebugger.cs
  Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KThread.cs
Labels: enhancement, horizon

#2303 Fix non-independent blend state not being updated
  Ryujinx.Graphics.Gpu/State/GpuStateTable.cs
Labels: fix, gpu

#2304 Add another Depth32F texture format variant
  Ryujinx.Graphics.Gpu/Image/FormatTable.cs
Labels: fix, gpu

#2302 Use a different method for out of bounds blit
  Ryujinx.Graphics.Gpu/Engine/MethodCopyTexture.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
Labels: fix, gpu

#2306 Compare aligned size for largest mip level when considering sampler resize
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
Labels: fix, gpu

#2307 Fix value of constant vertex attributes
  Ryujinx.Graphics.OpenGL/VertexArray.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
Labels: fix, gpu

#2305 Improve accuracy of reciprocal step instructions
  ARMeilleure/Instructions/InstEmitSimdArithmetic.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, fix

#2228 Add multi-level function table
  ARMeilleure/CodeGen/X86/Assembler.cs
  ARMeilleure/Common/AddressTable.cs
  ARMeilleure/Common/EntryTable.cs
  ARMeilleure/Diagnostics/EventSources/AddressTableEventSource.cs
  ARMeilleure/Instructions/InstEmitFlowHelper.cs
  ARMeilleure/Instructions/InstEmitMemoryHelper.cs
  ARMeilleure/Instructions/NativeInterface.cs
  ARMeilleure/IntermediateRepresentation/Operand.cs
  ARMeilleure/IntermediateRepresentation/OperandHelper.cs
  ARMeilleure/Optimizations.cs
  ARMeilleure/State/ExecutionContext.cs
  ARMeilleure/State/NativeContext.cs
  ARMeilleure/Translation/ArmEmitterContext.cs
  ARMeilleure/Translation/Cache/JitCache.cs
  ARMeilleure/Translation/Cache/JumpTable.cs
  ARMeilleure/Translation/Cache/JumpTableEntryAllocator.cs
  ARMeilleure/Translation/Delegates.cs
  ARMeilleure/Translation/DirectCallStubs.cs
  ARMeilleure/Translation/DispatcherFunction.cs
  ARMeilleure/Translation/EmitterContext.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  ARMeilleure/Translation/PTC/PtcInfo.cs
  ARMeilleure/Translation/PTC/PtcJumpTable.cs
  ARMeilleure/Translation/PTC/RelocEntry.cs
  ARMeilleure/Translation/PTC/Symbol.cs
  ARMeilleure/Translation/PTC/SymbolType.cs
  ARMeilleure/Translation/Translator.cs
  ARMeilleure/Translation/TranslatorStubs.cs
  Ryujinx.Cpu/CpuContext.cs
  Ryujinx.HLE/HOS/ArmProcessContext.cs
  Ryujinx.HLE/HOS/ArmProcessContextFactory.cs
  Ryujinx.HLE/HOS/Kernel/Process/IProcessContextFactory.cs
  Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
  Ryujinx.HLE/HOS/Kernel/Process/ProcessContextFactory.cs
  Ryujinx.Tests/Cpu/CpuTest.cs
  Ryujinx.Tests/Cpu/CpuTest32.cs
Labels: cpu, enhancement, performance

#2325 Fix inverted low/high mask value on GetThreadCoreMask32 syscall
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall32.cs
Labels: fix, horizon, kernel

#2326 Fix guest stack trace inexistent function names
  Ryujinx.HLE/HOS/Kernel/Process/HleProcessDebugger.cs
Labels: fix, horizon

#2317 Do not attempt to normalize SNORM image buffers on shaders
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/Translation/Rewriter.cs
Labels: fix, gpu
