Repository Ryujinx/Ryujinx, pull requests merged in 2021-02, with the labels that each got.

#1975 Use multiple dest operands for shader call instructions
  Ryujinx.Graphics.Shader/IntermediateRepresentation/Instruction.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/Operation.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgram.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/Optimizer.cs
  Ryujinx.Graphics.Shader/Translation/RegisterUsage.cs
  Ryujinx.Graphics.Shader/Translation/Ssa.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
Labels: enhancement, gpu

#1973 Do not flush multisample textures
  Ryujinx.Graphics.Gpu/Image/Texture.cs
Labels: fix, gpu

#2000 Implement ETC2 (RGB) texture format
  Ryujinx.Graphics.GAL/Format.cs
  Ryujinx.Graphics.Gpu/Image/FormatTable.cs
  Ryujinx.Graphics.OpenGL/FormatTable.cs
Labels: fix, gpu

#1991 Disable partial JIT invalidation on unmap
  ARMeilleure/Translation/TranslatedFunction.cs
  ARMeilleure/Translation/Translator.cs
Labels: cpu, enhancement

#1995 Fix Updater Icon On Linux
  Ryujinx/Modules/Updater/UpdateDialog.cs
Labels: fix, gui

#1999 Simplify handling of shader vertex A
  Ryujinx.Graphics.Gpu/Shader/Cache/CacheHelper.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/CacheMigration.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/ShaderProgram.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
  Ryujinx.Graphics.Shader/Translation/TranslatorContext.cs
Labels: enhancement, gpu

#1971 Optimization | Modify Add (Integer) Instruction to use LEA instead.
  ARMeilleure/CodeGen/X86/CodeGenerator.cs
  ARMeilleure/CodeGen/X86/PreAllocator.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, enhancement

#1988 Fix inter-process data copy on non-contiguous physical regions
  Ryujinx.HLE/HOS/Kernel/Memory/KMemoryManager.cs
Labels: fix, horizon, kernel

#1932 Implemented ISystemSettingsServer.IsUserSystemClockAutomaticCorrectionEnabled
  Ryujinx.HLE/HOS/Services/Settings/ISystemSettingsServer.cs
Labels: service-implementation, service:settings

#1008 Load default config when an invalid config is found
  Ryujinx.Common/Configuration/ConfigurationFileFormat.cs
  Ryujinx/Program.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
Labels: fix, miscellaneous

#1959 Improve inline keyboard compatibility
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/InlineKeyboardRequest.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/InlineKeyboardResponse.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/InlineKeyboardState.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/InlineResponses.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardAppear.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardApplet.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardCalc.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardCustomizeDic.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardDictSet.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardInitialize.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardUserWord.cs
Labels: applet, fix

#2004 Update Joy-Con images 2
  Ryujinx/Ui/Resources/Controller_JoyConLeft.svg
  Ryujinx/Ui/Resources/Controller_JoyConPair.svg
  Ryujinx/Ui/Resources/Controller_JoyConRight.svg
Labels: enhancement, gui

#2009 Enable multithreaded VP9 decoding
  Ryujinx.Graphics.Nvdec.Vp9/DecodeFrame.cs
  Ryujinx.Graphics.Nvdec.Vp9/Decoder.cs
  Ryujinx.Graphics.Nvdec.Vp9/Dsp/InvTxfm.cs
  Ryujinx.Graphics.Nvdec.Vp9/TileBuffer.cs
  Ryujinx.Graphics.Nvdec.Vp9/TileWorkerData.cs
  Ryujinx.Graphics.Nvdec.Vp9/Types/Vp9Common.cs
Labels: enhancement, nvdec, performance

#2014 prepo: Implement GetSystemSessionId and add perms
  Ryujinx.HLE/HOS/Services/Prepo/IPrepoService.cs
  Ryujinx.HLE/HOS/Services/Prepo/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Prepo/Types/PrepoServicePermissionLevel.cs
Labels: service-implementation, service:prepo

#1993 Hide Cursor On Idle
  Ryujinx.Common/Configuration/ConfigurationFileFormat.cs
  Ryujinx.Common/Configuration/ConfigurationState.cs
  Ryujinx/Config.json
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/Windows/SettingsWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.glade
  Ryujinx/_schema.json
Labels: enhancement, gui

#1987 Validate CPU virtual addresses on access
  ARMeilleure/Instructions/InstEmitMemoryExHelper.cs
  ARMeilleure/Instructions/InstEmitMemoryHelper.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  Ryujinx.Cpu/MemoryManager.cs
Labels: cpu, enhancement

#2026 Fix memory tracking performance regression
  ARMeilleure/Instructions/InstEmitMemoryHelper.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  Ryujinx.Cpu/MemoryManager.cs
Labels: cpu, fix, performance

#2029 settings: Fix returned buffer size of GetFirmwareVersion
  Ryujinx.HLE/HOS/Services/Settings/ISystemSettingsServer.cs
Labels: fix, service:settings

#2036 nifm: Fix returned buffer size of GetClientId
  Ryujinx.HLE/HOS/Services/Nifm/StaticService/IGeneralService.cs
Labels: fix, service:nifm

#2034 Allow reconfiguring "Ignore Missing Services" during emulation
  Ryujinx.HLE/Switch.cs
Labels: enhancement, horizon

#2024 Allow modding AddOnContent RomFS
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.HLE/HOS/ModLoader.cs
  Ryujinx.HLE/HOS/Services/Fs/IFileSystemProxy.cs
Labels: enhancement, service:fs

#1983 Make windows DPI aware to display properly on high-resolution screens.
  Ryujinx.Common/Ryujinx.Common.csproj
  Ryujinx.Common/System/ForceDpiAware.cs
  Ryujinx/Program.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.cs
Labels: enhancement, gui

#1751 Controller Input handling refactoring
  Ryujinx/Ui/Input/ButtonAssigner.cs
  Ryujinx/Ui/Input/JoystickButtonAssigner.cs
  Ryujinx/Ui/Input/KeyboardKeyAssigner.cs
  Ryujinx/Ui/Windows/ControllerWindow.cs
Labels: fix, gui, needs-feedback

#2037 appletAE: Implement SetLcdBacklighOffEnabled
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ICommonStateGetter.cs
Labels: service-implementation, service:am, stub

#2010 Turn Copy into Fill in HybridAllocator
  ARMeilleure/CodeGen/RegisterAllocators/HybridAllocator.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, enhancement

#1968 PPTC & Pool Enhancements.
  ARMeilleure/CodeGen/RegisterAllocators/LinearScanAllocator.cs
  ARMeilleure/CodeGen/X86/CodeGenContext.cs
  ARMeilleure/CodeGen/X86/CodeGenerator.cs
  ARMeilleure/Common/BitMap.cs
  ARMeilleure/Common/BitMapPool.cs
  ARMeilleure/Common/ThreadStaticPool.cs
  ARMeilleure/Common/ThreadStaticPoolEnums.cs
  ARMeilleure/IntermediateRepresentation/OperandHelper.cs
  ARMeilleure/IntermediateRepresentation/OperationHelper.cs
  ARMeilleure/State/ExecutionMode.cs
  ARMeilleure/Translation/DirectCallStubs.cs
  ARMeilleure/Translation/EmitterContext.cs
  ARMeilleure/Translation/JumpTableEntryAllocator.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  ARMeilleure/Translation/PTC/PtcFormatter.cs
  ARMeilleure/Translation/PTC/PtcInfo.cs
  ARMeilleure/Translation/PTC/PtcJumpTable.cs
  ARMeilleure/Translation/PTC/PtcProfiler.cs
  ARMeilleure/Translation/Translator.cs
  Ryujinx.Memory/MemoryBlock.cs
Labels: cpu, enhancement

#1963 Implement VCNT instruction
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitSimdArithmetic.cs
  ARMeilleure/Instructions/InstEmitSimdArithmetic32.cs
  ARMeilleure/Instructions/InstEmitSimdHelper.cs
  ARMeilleure/Instructions/InstName.cs
  ARMeilleure/Instructions/SoftFallback.cs
  ARMeilleure/Translation/Delegates.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  Ryujinx.Tests/Cpu/CpuTestSimd32.cs
Labels: cpu, enhancement

#2031 UI: Multithreaded Updater
  Ryujinx/Modules/Updater/UpdateDialog.cs
  Ryujinx/Modules/Updater/Updater.cs
Labels: enhancement, miscellaneous

#2049 Update README.MD
  README.md
Labels: enhancement, miscellaneous

#1990 PPTC: Fix unwanted propagation of a relocatable constant in a specific case.
  ARMeilleure/CodeGen/Optimizations/ConstantFolding.cs
  ARMeilleure/CodeGen/Optimizations/Simplification.cs
  ARMeilleure/CodeGen/X86/Assembler.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  Ryujinx/_schema.json
Labels: cpu, fix

#1899 Pacify updater
  Ryujinx/Modules/Updater/Updater.cs
  Ryujinx/Program.cs
  Ryujinx/Ui/MainWindow.cs
Labels: enhancement, infra

#2055 Fix updater breaking user execute permissions on Unix
  Ryujinx/Modules/Updater/UpdateDialog.cs
  Ryujinx/Modules/Updater/Updater.cs
Labels: fix, miscellaneous

#2066 Fix software keyboard soft-lock in God Eater 3
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardApplet.cs
Labels: applet, fix

#2060 Some minor formal wording for the updater.
  Ryujinx/Modules/Updater/Updater.cs
Labels: enhancement, gui

#2044 Fix virtual address overflow near ulong limit
  Ryujinx.Cpu/MemoryManager.cs
  Ryujinx.Memory/AddressSpaceManager.cs
Labels: cpu, fix

#2040 ci: Use Github artifacts for PRs
  .github/workflows/build.yml
  .github/workflows/nightly_pr_comment.yml
  Ryujinx/Modules/Updater/Updater.cs
  Ryujinx/Ryujinx.csproj
Labels: infra, miscellaneous

#2068 Haydn: Make SoundIO session implementation lock-free
  Ryujinx.Audio.Backends.SoundIo/SoundIoAudioBuffer.cs
  Ryujinx.Audio.Backends.SoundIo/SoundIoHardwareDeviceSession.cs
Labels: audio, fix
