Repository Ryujinx/Ryujinx, pull requests merged in 2021-10, with the labels that each got.

#2704 Unref frames before decoding with FFMPEG
  Ryujinx.Graphics.Nvdec.H264/FFmpegContext.cs
Labels: fix, nvdec

#2703 Relax sampler pool requirement
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
Labels: gpu, fix

#2663 Smaller initial size for BufferModifiedRangeList & directly inherit backing array
  Ryujinx.Graphics.Gpu/Memory/Buffer.cs
  Ryujinx.Graphics.Gpu/Memory/BufferModifiedRangeList.cs
  Ryujinx.Memory/Range/RangeList.cs
Labels: gpu, performance

#2708 Fix DisplayInfo struct
  Ryujinx.HLE/HOS/Services/Vi/RootService/ApplicationDisplayService/Types/DisplayInfo.cs
  Ryujinx.HLE/HOS/Services/Vi/RootService/IApplicationDisplayService.cs
Labels: fix, services:vi

#2680 Add `Operand.Label` support to `Assembler`
  ARMeilleure/CodeGen/Linking/RelocInfo.cs
  ARMeilleure/CodeGen/X86/Assembler.cs
  ARMeilleure/CodeGen/X86/AssemblerTable.cs
  ARMeilleure/CodeGen/X86/CodeGenContext.cs
  ARMeilleure/CodeGen/X86/CodeGenerator.cs
  ARMeilleure/Common/BitUtils.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, enhancement
