Repository Ryujinx/Ryujinx, pull requests merged in 2021-04, with the labels that each got.

#2163 Implement shader HelperThreadNV
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/Decoders/SystemRegister.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitMove.cs
  Ryujinx.Graphics.Shader/Translation/AttributeConsts.cs
Labels: fix, gpu

#2159 Fix Tamper Machine crash and timings
  Ryujinx.HLE/HOS/ModLoader.cs
  Ryujinx.HLE/HOS/TamperMachine.cs
Labels: fix, horizon

#2156 Hold reference for render targets in use
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
Labels: fix, gpu

#2128 Update Pro Controller Image + Trigger view
  Ryujinx/Ui/Resources/Controller_ProCon.svg
Labels: enhancement, gui

#2162 Reduce allocation during SSA construction
  ARMeilleure/IntermediateRepresentation/Operand.cs
  ARMeilleure/Translation/SsaConstruction.cs
Labels: cpu, enhancement, performance

#2167 Update README.MD to reflect new OpenGL requirements, latest gamedb statistics, mods/cheats support
  README.md
Labels: enhancement, miscellaneous

#2155 Improve `StoreToContext` emission
  ARMeilleure/Instructions/InstEmitFlowHelper.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, enhancement, performance

#2165 Only flush commands when creating sync on Intel/AMD (windows)
  Ryujinx.Graphics.OpenGL/HwCapabilities.cs
  Ryujinx.Graphics.OpenGL/Sync.cs
Labels: gpu, performance

#2174 Allow DRAM size to be increased from 4GB to 6GB
  Ryujinx.Common/Configuration/ConfigurationFileFormat.cs
  Ryujinx.Common/Configuration/ConfigurationState.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Kernel/Common/KSystemControl.cs
  Ryujinx.HLE/HOS/Kernel/Common/KernelInit.cs
  Ryujinx.HLE/HOS/Kernel/Common/MemoryArrange.cs
  Ryujinx.HLE/HOS/Kernel/Common/MemroySize.cs
  Ryujinx.HLE/HOS/Kernel/KernelContext.cs
  Ryujinx.HLE/HOS/Kernel/Memory/DramMemoryMap.cs
  Ryujinx.HLE/HOS/Kernel/Memory/KMemoryArrange.cs
  Ryujinx.HLE/HOS/Kernel/Memory/KMemoryArrangeRegion.cs
  Ryujinx.HLE/MemoryConfiguration.cs
  Ryujinx.HLE/Switch.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.glade
Labels: enhancement, horizon

#2183 (CPU) Fix CRC32 instruction when constant values are used as input
  ARMeilleure/CodeGen/X86/PreAllocator.cs
Labels: cpu, fix

#2185 friend: Fixes PermissionLevel names
  Ryujinx.HLE/HOS/Services/Friend/IServiceCreator.cs
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/INotificationService.cs
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/NotificationService/NotificationEventHandler.cs
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/Types/FriendServicePermissionLevel.cs
Labels: fix, service:friend

#2181 Enable updates in portable mode. (related to #1885)
  Ryujinx/Modules/Updater/Updater.cs
Labels: fix, miscellaneous

#2192 Surface Flinger: Fix an oversight when closing a layer
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ISelfController.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/SurfaceFlinger.cs
  Ryujinx.HLE/HOS/Services/Vi/RootService/ApplicationDisplayService/IManagerDisplayService.cs
  Ryujinx.HLE/HOS/Services/Vi/RootService/IApplicationDisplayService.cs
Labels: bug, service:surface-flinger

#2186 nifm/ssl: Implement GetCurrentNetworkProfile and stub Ssl Service
  Ryujinx.HLE/HOS/Services/Nifm/StaticService/IGeneralService.cs
  Ryujinx.HLE/HOS/Services/Nifm/StaticService/Types/DnsSetting.cs
  Ryujinx.HLE/HOS/Services/Nifm/StaticService/Types/IpSettingData.cs
  Ryujinx.HLE/HOS/Services/Nifm/StaticService/Types/NetworkProfileData.cs
  Ryujinx.HLE/HOS/Services/Nifm/StaticService/Types/ProxySetting.cs
  Ryujinx.HLE/HOS/Services/Nifm/StaticService/Types/WirelessSettingData.cs
  Ryujinx.HLE/HOS/Services/Sockets/Nsd/IManager.cs
  Ryujinx.HLE/HOS/Services/Sockets/Nsd/Manager/FqdnResolver.cs
  Ryujinx.HLE/HOS/Services/Ssl/ISslService.cs
  Ryujinx.HLE/HOS/Services/Ssl/SslService/ISslConnection.cs
  Ryujinx.HLE/HOS/Services/Ssl/SslService/ISslContext.cs
  Ryujinx.HLE/HOS/Services/Ssl/Types/CertificateFormat.cs
  Ryujinx.HLE/HOS/Services/Ssl/Types/IoMode.cs
  Ryujinx.HLE/HOS/Services/Ssl/Types/OptionType.cs
  Ryujinx.HLE/HOS/Services/Ssl/Types/SessionCacheMode.cs
  Ryujinx.HLE/HOS/Services/Ssl/Types/SslVersion.cs
  Ryujinx.HLE/HOS/Services/Ssl/Types/VerifyOption.cs
Labels: fix, service-implementation, service:nifm, service:ssl, stub

#2198 Fix sub-image copies on intel GPUs
  Ryujinx.Graphics.OpenGL/Image/ITextureInfo.cs
  Ryujinx.Graphics.OpenGL/Image/TextureBase.cs
  Ryujinx.Graphics.OpenGL/Image/TextureCopy.cs
  Ryujinx.Graphics.OpenGL/Image/TextureStorage.cs
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
Labels: fix, gpu

#2184 account: Adds AccountManager
  Ryujinx.HLE/HOS/Applets/PlayerSelect/PlayerSelectApplet.cs
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/AccountManager.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/AccountService/ProfileServer.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/ApplicationServiceServer.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/DefaultUserImage.jpg
  Ryujinx.HLE/HOS/Services/Account/Acc/IAccountServiceForAdministrator.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/Types/UserProfile.cs
  Ryujinx.HLE/HOS/Services/Account/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/IFriendService.cs
  Ryujinx.HLE/HOS/Services/Mii/Helper.cs
  Ryujinx.HLE/HOS/Services/Sdb/Pdm/QueryService/QueryPlayStatisticsManager.cs
  Ryujinx.HLE/HOS/SystemState/SystemStateMgr.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx.HLE/Switch.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/Widgets/GameTableContextMenu.cs
Labels: enhancement, horizon, service:account

#2168 PPTC vs. giant ExeFS.
  ARMeilleure/Translation/PTC/DegreeOfParallelism.cs
  ARMeilleure/Translation/PTC/EncodingCache.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  ARMeilleure/Translation/PTC/PtcFormatter.cs
  ARMeilleure/Translation/PTC/PtcInfo.cs
  ARMeilleure/Translation/PTC/PtcJumpTable.cs
  ARMeilleure/Translation/PTC/PtcProfiler.cs
  ARMeilleure/Translation/PTC/RelocEntry.cs
  ARMeilleure/Translation/Translator.cs
Labels: cpu, enhancement, fix, needs-feedback

#2146 Improves logging to console.
  Ryujinx.Common/Configuration/ConfigurationState.cs
  Ryujinx.Common/Logging/LogClass.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/Switch.cs
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/Windows/SettingsWindow.cs
Labels: enhancement, miscellaneous

#2205 Lossless image compression
  Ryujinx.HLE/HOS/Services/Account/Acc/DefaultUserImage.jpg
  Ryujinx/Ui/Resources/Controller_JoyConLeft.svg
  Ryujinx/Ui/Resources/Controller_JoyConPair.svg
  Ryujinx/Ui/Resources/Controller_JoyConRight.svg
  Ryujinx/Ui/Resources/Controller_ProCon.svg
  Ryujinx/Ui/Resources/Icon_NCA.png
  Ryujinx/Ui/Resources/Icon_NRO.png
  Ryujinx/Ui/Resources/Icon_NSO.png
  Ryujinx/Ui/Resources/Icon_NSP.png
  Ryujinx/Ui/Resources/Icon_XCI.png
  Ryujinx/Ui/Resources/Logo_Amiibo.png
  Ryujinx/Ui/Resources/Logo_Discord.png
  Ryujinx/Ui/Resources/Logo_GitHub.png
  Ryujinx/Ui/Resources/Logo_Patreon.png
  Ryujinx/Ui/Resources/Logo_Ryujinx.png
  Ryujinx/Ui/Resources/Logo_Twitter.png
Labels: enhancement, miscellaneous

#2208 nsd/ssl: Fix Resolve/ResolveEx and stub GetConnectionCount
  Ryujinx.HLE/HOS/Services/Sockets/Nsd/IManager.cs
  Ryujinx.HLE/HOS/Services/Sockets/Nsd/Manager/FqdnResolver.cs
  Ryujinx.HLE/HOS/Services/Ssl/SslService/ISslConnection.cs
  Ryujinx.HLE/HOS/Services/Ssl/SslService/ISslContext.cs
Labels: fix, service:sockets, service:ssl, stub

#2209 am: Stub IApplicationFunctions ExtendSaveData
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
Labels: service:am, stub

#2212 Miria: Fix Group Policy related crashes
  Ryujinx.Input.SDL2/SDL2Driver.cs
Labels: fix, miscellaneous

#2218 Return focus from controller applet after completion
  Ryujinx.HLE/HOS/Applets/Controller/ControllerApplet.cs
  Ryujinx.HLE/HOS/Applets/PlayerSelect/PlayerSelectApplet.cs
  Ryujinx.HLE/HOS/Horizon.cs
Labels: applet, fix

#2216 Fix intel view copy workaround.
  Ryujinx.Graphics.OpenGL/Image/ITextureInfo.cs
  Ryujinx.Graphics.OpenGL/Image/TextureCopy.cs
  Ryujinx.Graphics.OpenGL/Image/TextureStorage.cs
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
Labels: fix, gpu

#2223 Amadeus: Allow out of bound read on empty delay lines
  Ryujinx.Audio/Renderer/Dsp/Effect/DelayLine.cs
Labels: audio, fix

#2219 HwCapabilities: Divide Intel into IntelWindows and IntelUnix
  Ryujinx.Graphics.OpenGL/Framebuffer.cs
  Ryujinx.Graphics.OpenGL/HwCapabilities.cs
  Ryujinx.Graphics.OpenGL/Image/TextureCopy.cs
Labels: enhancement, gpu

#2200 Improve shader global memory to storage pass
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessElimination.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/GlobalToStorage.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/Optimizer.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/Utils.cs
Labels: enhancement, gpu, needs-feedback

#2224 Amadeus: Fix low pass base gain related issues on delay effect in mono
  Ryujinx.Audio/Renderer/Dsp/Command/DelayCommand.cs
Labels: audio, fix

#2190 Add inlined on translation call counting
  ARMeilleure/Common/Counter.cs
  ARMeilleure/Common/EntryTable.cs
  ARMeilleure/Decoders/Block.cs
  ARMeilleure/Decoders/Optimizations/TailCallRemover.cs
  ARMeilleure/Instructions/InstEmitFlowHelper.cs
  ARMeilleure/Instructions/NativeInterface.cs
  ARMeilleure/IntermediateRepresentation/OperandHelper.cs
  ARMeilleure/Translation/ArmEmitterContext.cs
  ARMeilleure/Translation/Delegates.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  ARMeilleure/Translation/TranslatedFunction.cs
  ARMeilleure/Translation/Translator.cs
Labels: cpu, enhancement

#2217 Only enable clip distance if written to on shader
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/Definition/HostShaderCacheEntry.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/Definition/HostShaderCacheEntryHeader.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitMemory.cs
  Ryujinx.Graphics.Shader/ShaderProgramInfo.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgramContext.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgramInfo.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
  Ryujinx.Graphics.Shader/Translation/FeatureFlags.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
Labels: fix, gpu

#2231 Miria: Do not try to query keyboard input when controller isn't set
  Ryujinx.Input/HLE/NpadManager.cs
Labels: fix, miscellaneous

#2233 mm: Cleaned up the service a bit
  Ryujinx.HLE/HOS/Services/Mm/IRequest.cs
  Ryujinx.HLE/HOS/Services/Mm/Types/MultiMediaOperationType.cs
Labels: fix, service:mm

#2227 account: add Custom User Profiles support
  Ryujinx.HLE/HOS/Services/Account/Acc/AccountManager.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/AccountSaveDataManager.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/Types/UserProfile.cs
  Ryujinx.HLE/HOS/Services/Caps/CaptureManager.cs
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/IFriendService.cs
  Ryujinx/Program.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
  Ryujinx/Ui/Widgets/GameTableContextMenu.cs
  Ryujinx/Ui/Widgets/GtkDialog.cs
  Ryujinx/Ui/Widgets/GtkInputDialog.cs
  Ryujinx/Ui/Windows/AvatarWindow.cs
  Ryujinx/Ui/Windows/UserProfilesManagerWindow.Designer.cs
  Ryujinx/Ui/Windows/UserProfilesManagerWindow.cs
Labels: enhancement, gui, service:account

#2243 Fix IsRegionInUse check on NV memory allocator
  Ryujinx.HLE/HOS/Services/Nv/NvMemoryAllocator.cs
Labels: fix, gpu

#2246 Initialize hid inputs on activation to avoid spurious inputs
  Ryujinx.HLE/HOS/Services/Hid/IHidServer.cs
Labels: fix, service:hid

#2249 Fix GetClockSnapshot not writing steady clock timepoint
  Ryujinx.HLE/HOS/Services/Time/IStaticServiceForPsc.cs
Labels: fix, service:time

#2256 nfp: Increase Amiibo scanning delay
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/UserManager/IUser.cs
Labels: fix, services:nfc
