Repository Ryujinx/Ryujinx, pull requests merged in 2021-01, with the labels that each got.

#1844 Enable Profiled Persistent Translation Cache (PPTC) by default
  Ryujinx.Common/Configuration/ConfigurationState.cs
  Ryujinx/Config.json
  Ryujinx/_schema.json
Labels: enhancement, gui

#1851 Update KAddressArbiter implementation to 11.x kernel
  Ryujinx.HLE/HOS/Kernel/Threading/KAddressArbiter.cs
Labels: fix, horizon, kernel

#1848 Remove long <-> ulong casts from Nvservices code
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostAsGpu/NvHostAsGpuDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostAsGpu/Types/AddressSpaceContext.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostAsGpu/Types/AllocSpaceArguments.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostAsGpu/Types/FreeSpaceArguments.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostAsGpu/Types/MapBufferExArguments.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostAsGpu/Types/UnmapBufferArguments.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostChannel/NvHostChannelDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvMap/NvMapDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvMap/Types/NvMapAlloc.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvMap/Types/NvMapFree.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvMap/Types/NvMapHandle.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/SurfaceFlinger.cs
Labels: enhancement, service:nv

#1854 services: add "apm:p"
  Ryujinx.HLE/HOS/Services/Apm/IManagerPrivileged.cs
Labels: service-implementation, service:apm

#1839 surfaceflinger: Fix fences callback registering issue
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/SurfaceFlinger.cs
Labels: fix, service:surface-flinger

#1833 account: Services Refactoring
  Ryujinx.HLE/HOS/Services/Account/Acc/AccountService/IManagerForApplication.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/AccountService/IManagerForSystemService.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/AccountService/IProfile.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/AccountService/IProfileEditor.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/AccountService/ManagerServer.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/AccountService/ProfileServer.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/ApplicationServiceServer.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/IAccountServiceForAdministrator.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/IAccountServiceForApplication.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/IAccountServiceForSystemService.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/IBaasAccessTokenAccessor.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/IProfile.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/Types/AccountServiceFlag.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/Types/UserId.cs
  Ryujinx.HLE/HOS/Services/Arp/IReader.cs
  Ryujinx.HLE/HOS/Services/Arp/LibHacIReader.cs
  Ryujinx.HLE/HOS/Services/Friend/IServiceCreator.cs
Labels: enhancement, service:account

#1857 Fix exefs mod loading with unpacked games
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.HLE/HOS/ModLoader.cs
Labels: fix, miscellaneous

#1817 CPU (A64): Add Pmull_V Inst. with Clmul fast path for the "1/2D -> 1Q" variant & Sse fast path and slow path for both the "8/16B -> 8H" and "1/2D -> 1Q" variants; with Test.
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitSimdArithmetic.cs
  ARMeilleure/Instructions/InstEmitSimdArithmetic32.cs
  ARMeilleure/Instructions/InstEmitSimdHelper32.cs
  ARMeilleure/Instructions/InstName.cs
  ARMeilleure/Instructions/SoftFallback.cs
  ARMeilleure/State/V128.cs
  ARMeilleure/Translation/Delegates.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  Ryujinx.Tests/Cpu/CpuTestSimdReg.cs
  Ryujinx.Tests/Cpu/CpuTestSimdReg32.cs
Labels: cpu

#1867 gpu: Implement missing texture formats
  Ryujinx.Graphics.GAL/Format.cs
  Ryujinx.Graphics.Gpu/Image/FormatTable.cs
  Ryujinx.Graphics.OpenGL/FormatTable.cs
Labels: fix, gpu

#1873 Update missing sample timestamp in DebugPad
  Ryujinx.HLE/HOS/Services/Hid/HidDevices/DebugPadDevice.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMem/DebugPad/DebugPadEntry.cs
Labels: fix, horizon, service:hid

#1869 Update README.md to reflect new features/changes in the emulator
  README.md
Labels: enhancement, miscellaneous

#1878 Support conditional on BRK and SYNC shader instructions
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeBranch.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeBranchPop.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeConditional.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeExit.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitFlow.cs
Labels: fix, gpu

#1876 am: stub PresetLibraryAppletGpuTimeSliceZero
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/LibraryAppletCreator/ILibraryAppletAccessor.cs
Labels: service-implementation, service:am, stub

#1882 Fix remap when handle is 0
  Ryujinx.Graphics.Gpu/Memory/MemoryManager.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeConditional.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostAsGpu/NvHostAsGpuDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostAsGpu/Types/AddressSpaceContext.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvMap/NvMapDeviceFile.cs
Labels: fix, service:nv

#1892 Fix compute reserved constant buffer updates
  Ryujinx.Graphics.Gpu/Engine/Inline2Memory.cs
Labels: fix, gpu

#1893 pctl: Stub IsFreeCommunicationAvailable
  Ryujinx.HLE/HOS/Services/Pctl/ParentalControlServiceFactory/IParentalControlService.cs
Labels: service:pctl, stub

#1886 Only attempt to import common tickets.
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
Labels: fix, horizon, service:fs

#1863 ui: disable "Simulate Wake-up" when no game is running
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
Labels: fix, gui

#1868 Add support for inline software keyboard
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/InlineKeyboardRequest.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/InlineKeyboardResponse.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/InlineKeyboardState.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/InlineResponses.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardAppear.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardApplet.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardCalc.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardDictSet.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardInitialize.cs
  Ryujinx.HLE/HOS/Services/Vi/RootService/IApplicationDisplayService.cs
Labels: applet, fix

#1830 Add a simple Pools Limiter.
  ARMeilleure/Common/ThreadStaticPool.cs
  ARMeilleure/Translation/DirectCallStubs.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  ARMeilleure/Translation/Translator.cs
  Ryujinx.Memory/MemoryBlock.cs
Labels: cpu, enhancement

#1902 Implement clear buffer (fast path)
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.Gpu/Engine/MethodCopyBuffer.cs
  Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
  Ryujinx.Graphics.Gpu/State/BufferSwizzleComponent.cs
  Ryujinx.Graphics.Gpu/State/CopyBufferSwizzle.cs
  Ryujinx.Graphics.Gpu/State/MethodOffset.cs
  Ryujinx.Graphics.OpenGL/Buffer.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
Labels: fix, gpu

#1901 Implement shader CC mode for ISCADD, X mode for ISETP and fix STL/STS/STG with RZ
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitAlu.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitMemory.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContextInsts.cs
Labels: fix, gpu

#1910 Fix shader LOP3 predicate write condition
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/Decoders/OpCodeLop.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitAlu.cs
Labels: fix, gpu

#1856 settings: add Show Confirm Exit toggle
  Ryujinx.Common/Configuration/ConfigurationFileFormat.cs
  Ryujinx.Common/Configuration/ConfigurationState.cs
  Ryujinx/Config.json
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.glade
  Ryujinx/_schema.json
Labels: enhancement, gui

#1911 Fix mipmap base level being ignored for sampled textures and images
  Ryujinx.Graphics.Gpu/Image/TextureInfo.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
  Ryujinx.Graphics.Texture/SizeCalculator.cs
Labels: fix, gpu

#1905 Support for resources on non-contiguous GPU memory regions
  Ryujinx.Cpu/MemoryManager.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Gpu/Image/TextureInfo.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
  Ryujinx.Graphics.Gpu/Memory/GpuRegionHandle.cs
  Ryujinx.Graphics.Gpu/Memory/MemoryManager.cs
  Ryujinx.Graphics.Gpu/Memory/PhysicalMemory.cs
  Ryujinx.Graphics.Gpu/Window.cs
  Ryujinx.Graphics.Texture/SizeInfo.cs
  Ryujinx.Memory/AddressSpaceManager.cs
  Ryujinx.Memory/IWritableBlock.cs
  Ryujinx.Memory/Range/IMultiRangeItem.cs
  Ryujinx.Memory/Range/MemoryRange.cs
  Ryujinx.Memory/Range/MultiRange.cs
  Ryujinx.Memory/Range/MultiRangeList.cs
  Ryujinx.Memory/WritableRegion.cs
Labels: fix, gpu

#1790 Implement lazy flush-on-read for Buffers (SSBO/Copy)
  Ryujinx.Cpu/MemoryManager.cs
  Ryujinx.Cpu/Tracking/CpuMultiRegionHandle.cs
  Ryujinx.Cpu/Tracking/CpuSmartMultiRegionHandle.cs
  Ryujinx.Graphics.GAL/IRenderer.cs
  Ryujinx.Graphics.Gpu/Engine/Compute.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoClass.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoDevice.cs
  Ryujinx.Graphics.Gpu/Engine/MethodIncrementSyncpoint.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.Gpu/GpuContext.cs
  Ryujinx.Graphics.Gpu/Memory/Buffer.cs
  Ryujinx.Graphics.Gpu/Memory/BufferBounds.cs
  Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
  Ryujinx.Graphics.Gpu/Memory/BufferModifiedRangeList.cs
  Ryujinx.Graphics.Gpu/Memory/MemoryManager.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.OpenGL/Sync.cs
  Ryujinx.Graphics.Shader/BufferDescriptor.cs
  Ryujinx.Graphics.Shader/BufferUsageFlags.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  Ryujinx.Memory.Tests/MockVirtualMemoryManager.cs
  Ryujinx.Memory.Tests/TrackingTests.cs
  Ryujinx.Memory/Range/RangeList.cs
  Ryujinx.Memory/Tracking/MultiRegionHandle.cs
  Ryujinx.Memory/Tracking/RegionHandle.cs
  Ryujinx.Memory/Tracking/SmartMultiRegionHandle.cs
  Ryujinx.Memory/Tracking/VirtualRegion.cs
Labels: enhancement, gpu

#1927 Fix Linux Icon
  Ryujinx/Ui/Applet/ErrorAppletDialog.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/Widgets/GameTableContextMenu.cs
  Ryujinx/Ui/Widgets/GtkDialog.cs
  Ryujinx/Ui/Widgets/ProfileDialog.cs
  Ryujinx/Ui/Windows/AboutWindow.cs
  Ryujinx/Ui/Windows/ControllerWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.cs
Labels: fix, miscellaneous

#1906 Emulate a circular zone for keyboard analog sticks
  Ryujinx/Ui/KeyboardController.cs
Labels: enhancement, gui

#1929 am: Implement CreateHandleStorage and fixes
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ILibraryAppletCreator.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/IStorage.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/IStorageAccessor.cs
Labels: fix, service-implementation, service:am

#1926 Reduce temporary copy/fill buffer size
  Ryujinx.Memory/IVirtualMemoryManager.cs
  Ryujinx.Memory/MemoryBlock.cs
Labels: enhancement, miscellaneous

#1900 Fix some GLXBadDrawable crashes on linux
  Ryujinx/Ui/MainWindow.cs
Labels: fix, miscellaneous

#1931 Fix out of range exception when a invalid base lod is used
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
Labels: fix, gpu

#1930 Enable parallel ASTC decoding by default
  Ryujinx.Graphics.Gpu/Image/Texture.cs
Labels: enhancement, gpu

#1894 CPU (A64): Add Fmaxnmp & Fminnmp Scalar Inst.s, Fast & Slow Paths; with Tests.
  ARMeilleure/CodeGen/X86/IntrinsicTable.cs
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitSimdArithmetic.cs
  ARMeilleure/Instructions/InstEmitSimdHelper.cs
  ARMeilleure/Instructions/InstName.cs
  ARMeilleure/IntermediateRepresentation/Intrinsic.cs
  Ryujinx.Tests/Cpu/CpuTestSimd.cs
Labels: cpu

#1937 Fix alignment on CreateTransferMemoryStorage
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ILibraryAppletCreator.cs
Labels: applet, fix, service:am

#1945 Fix inverted read only flag in transfer memory creation
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ILibraryAppletCreator.cs
Labels: applet, fix

#1950 Fix TZName parsing in TZIF footer
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZone.cs
Labels: fix, gui

#1934 Match texture if the physical range is the same
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.Gpu/Memory/MemoryManager.cs
Labels: fix, gpu

#1957 Github Actions: Workaround windows-latest restore failures
  .github/workflows/build.yml
Labels: fix, infra

#1951 Update Controller Images
  Ryujinx/Ui/Resources/Controller_JoyConLeft.svg
  Ryujinx/Ui/Resources/Controller_JoyConPair.svg
  Ryujinx/Ui/Resources/Controller_JoyConRight.svg
  Ryujinx/Ui/Resources/Controller_ProCon.svg
Labels: enhancement, gui

#1870 Allow out of bounds storage buffer access by aligning their sizes
  Ryujinx.Graphics.Gpu/Memory/Buffer.cs
  Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
Labels: fix, gpu

#1917 Add VCLZ.* fast path
  ARMeilleure/Instructions/InstEmitSimdArithmetic.cs
  ARMeilleure/Instructions/InstEmitSimdHelper.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, enhancement

#1850 Prevent Windows Display Sleep
  Ryujinx.Common/System/DisplaySleep.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.glade
Labels: enhancement, miscellaneous

#1962 GUI Update: Enlarge controller input window to fit all images/settings without scrolling
  Ryujinx/Ui/Windows/ControllerWindow.glade
Labels: enhancement, gui

#1956 Implement PRFM (register variant) as NOP
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitMemoryEx.cs
  ARMeilleure/Instructions/InstName.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, enhancement

#1948 Add support for shader atomic min/max (S32)
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/AtomicMinMaxS32Shared.glsl
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/AtomicMinMaxS32Storage.glsl
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/HelperFunctionNames.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/TexelFetchScale_cp.glsl
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/TexelFetchScale_fp.glsl
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGen.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenHelper.cs
  Ryujinx.Graphics.Shader/Ryujinx.Graphics.Shader.csproj
  Ryujinx.Graphics.Shader/StructuredIr/HelperFunctionsMask.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgram.cs
Labels: fix, gpu

#1960 Fix compute shader code dumping
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
Labels: fix, gpu

#1955 Initial Setup: Reload keys before verifying firmware
  Ryujinx.HLE/FileSystem/Content/ContentManager.cs
  Ryujinx/Ui/App/ApplicationLibrary.cs
  Ryujinx/Ui/MainWindow.cs
Labels: fix, gui, horizon

#1965 Fix conditional rendering without queries
  Ryujinx.Graphics.Gpu/Engine/MethodConditionalRendering.cs
Labels: fix, gpu

#1958 Avoid some redundant GL calls
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.GAL/VertexAttribDescriptor.cs
  Ryujinx.Graphics.Gpu/Engine/Methods.cs
  Ryujinx.Graphics.OpenGL/Framebuffer.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/VertexArray.cs
Labels: enhancement, gpu

#1967 Fix regression on shader atomic SSBO operations
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGen.cs
Labels: fix, gpu

#1969 Support shader F32 to Bool reinterpretation
  Ryujinx.Graphics.Shader/CodeGen/Glsl/TypeConversion.cs
Labels: fix, gpu

#1943 Lower precision of estimate instruction results to match Arm behavior
  ARMeilleure/Instructions/InstEmitSimdArithmetic.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, fix

#1964 Support multiple destination operands on shader IR and shuffle predicates
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/Shuffle.glsl
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/ShuffleDown.glsl
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/ShuffleUp.glsl
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/ShuffleXor.glsl
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenHelper.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitMove.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/INode.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/Operation.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/PhiNode.cs
  Ryujinx.Graphics.Shader/StructuredIr/InstructionInfo.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgram.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContextInsts.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/Optimizer.cs
  Ryujinx.Graphics.Shader/Translation/Ssa.cs
Labels: fix, gpu

#1953 Enable Docked Mode by Default
  Ryujinx.Common/Configuration/ConfigurationState.cs
  Ryujinx/Config.json
  Ryujinx/_schema.json
Labels: enhancement, gui

#1977 Use a descriptor cache for faster pool invalidation.
  Ryujinx.Graphics.Gpu/Image/Pool.cs
  Ryujinx.Graphics.Gpu/Image/SamplerDescriptor.cs
  Ryujinx.Graphics.Gpu/Image/SamplerPool.cs
  Ryujinx.Graphics.Gpu/Image/TextureDescriptor.cs
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
Labels: fix, gpu, performance

#1974 Add PPTC acronym to settings page for ease of reference
  Ryujinx/Ui/Windows/SettingsWindow.glade
Labels: enhancement, gui

#1961 Implement geometry shader passthrough
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/GlslGenerator.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
  Ryujinx.Graphics.Shader/Translation/ShaderHeader.cs
Labels: fix, gpu
