Repository Ryujinx/Ryujinx, pull requests merged in 2021-12, with the labels that each got.

#2901 misc: Migrate usage of RuntimeInformation to OperatingSystem
  ARMeilleure/CodeGen/X86/CallingConvention.cs
  ARMeilleure/Signal/NativeSignalHandler.cs
  ARMeilleure/Translation/Cache/JitCache.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  Ryujinx.Common/System/DisplaySleep.cs
  Ryujinx.Common/System/WindowsMultimediaTimerResolution.cs
  Ryujinx.Headless.SDL2/Program.cs
  Ryujinx.Memory/MemoryManagement.cs
  Ryujinx.Memory/MemoryManagementUnix.cs
  Ryujinx.Memory/MemoryManagementWindows.cs
  Ryujinx/Modules/Updater/UpdateDialog.cs
  Ryujinx/Modules/Updater/Updater.cs
  Ryujinx/Program.cs
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/Helper/OpenHelper.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/VKRenderer.cs
Labels: miscellaneous, infra

#2900 kernel: Improve GetInfo readability and update to 13.0.0
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/InfoType.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall32.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall64.cs
Labels: enhancement, kernel

#2876 Fix FLO.SH shader instruction with a input of 0
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenHelper.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitBitfield.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/Instruction.cs
  Ryujinx.Graphics.Shader/StructuredIr/InstructionInfo.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContextInsts.cs
Labels: gpu, fix

#2908 Implement UHADD8 instruction
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitAlu32.cs
  ARMeilleure/Instructions/InstName.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  Ryujinx.Tests/Cpu/CpuTestAlu32.cs
Labels: cpu

#2902 misc: Fix alsoft.ini being present on Linux releases
  Ryujinx/Ryujinx.csproj
Labels: miscellaneous, infra

#2845 Implement remaining shader double-precision instructions
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGen.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/NumberFormatter.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmit.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitConversion.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitFloatArithmetic.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitFloatComparison.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitFloatMinMax.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitHelper.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitMultifunction.cs
  Ryujinx.Graphics.Shader/StructuredIr/InstructionInfo.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContextInsts.cs
Labels: gpu, fix

#2843 Move texture anisotropy check to SetInfo
  Ryujinx.Graphics.Gpu/Image/Sampler.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
Labels: gpu, performance

#2906 Remove usage of Mono.Posix.NETStandard accross all projects
  ARMeilleure/ARMeilleure.csproj
  ARMeilleure/Signal/UnixSignalHandlerRegistration.cs
  Ryujinx.Memory/MemoryManagementUnix.cs
  Ryujinx.Memory/MemoryManagerUnixHelper.cs
  Ryujinx.Memory/Ryujinx.Memory.csproj
  Ryujinx/Modules/Updater/UpdateDialog.cs
  Ryujinx/Modules/Updater/Updater.cs
  Ryujinx/Program.cs
  Ryujinx/Ryujinx.csproj
Labels: enhancement, miscellaneous, needs-feedback

#2885 Fix SUATOM and other texture shader instructions with RZ dest
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitSurface.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
Labels: gpu, fix

#2904 misc: Sync Config.json default debug config
  Ryujinx/Config.json
Labels: miscellaneous, infra

#2920 Remove debug configuration and schema
  Ryujinx/Config.json
  Ryujinx/Ryujinx.csproj
  Ryujinx/_schema.json
Labels: miscellaneous, infra

#2811 Using more intense lossless compression.
  Ryujinx/Ui/Resources/Icon_NCA.png
  Ryujinx/Ui/Resources/Icon_NRO.png
  Ryujinx/Ui/Resources/Icon_NSO.png
  Ryujinx/Ui/Resources/Icon_NSP.png
  Ryujinx/Ui/Resources/Icon_XCI.png
  Ryujinx/Ui/Resources/Logo_Amiibo.png
  Ryujinx/Ui/Resources/Logo_Discord.png
  Ryujinx/Ui/Resources/Logo_GitHub.png
  Ryujinx/Ui/Resources/Logo_Patreon.png
  Ryujinx/Ui/Resources/Logo_Ryujinx.png
  Ryujinx/Ui/Resources/Logo_Twitter.png
Labels: enhancement, gui

#2927 Implement CSDB instruction
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitMemoryEx32.cs
  ARMeilleure/Instructions/InstEmitSimdMemory32.cs
  ARMeilleure/Instructions/InstName.cs
Labels: cpu, enhancement

#2926 Add support for releasing a semaphore to DmaClass
  Ryujinx.Graphics.Gpu/Engine/Dma/DmaClass.cs
Labels: bug, gpu, fix

#2911 Fix for texture pool not being updated when it should + buffer texture fixes
  Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClass.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClassState.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.OpenGL/Image/TextureBuffer.cs
Labels: gpu, fix

#2925 Update to LibHac v0.14.3
  Ryujinx.HLE/FileSystem/Content/ContentManager.cs
  Ryujinx.HLE/FileSystem/EncryptedFileSystemCreator.cs
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
  Ryujinx.HLE/HOS/Applets/Error/ErrorApplet.cs
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/LibHacHorizonManager.cs
  Ryujinx.HLE/HOS/ModLoader.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/AccountManager.cs
  Ryujinx.HLE/HOS/Services/Arp/LibHacIReader.cs
  Ryujinx.HLE/HOS/Services/Bcat/IServiceCreator.cs
  Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheDirectoryService.cs
  Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheFileService.cs
  Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheStorageService.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/FileSystemProxyHelper.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/IDirectory.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/IFile.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/IFileSystem.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/IStorage.cs
  Ryujinx.HLE/HOS/Services/Fs/IDeviceOperator.cs
  Ryujinx.HLE/HOS/Services/Fs/IFileSystemProxy.cs
  Ryujinx.HLE/HOS/Services/Fs/IMultiCommitManager.cs
  Ryujinx.HLE/HOS/Services/Fs/ISaveDataInfoReader.cs
  Ryujinx.HLE/HOS/Services/Sdb/Pl/SharedFontManager.cs
  Ryujinx.HLE/HOS/Services/Settings/ISystemSettingsServer.cs
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZoneContentManager.cs
  Ryujinx.HLE/Loaders/Executables/KipExecutable.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx/Ui/App/ApplicationLibrary.cs
  Ryujinx/Ui/Widgets/GameTableContextMenu.cs
  Ryujinx/Ui/Windows/AvatarWindow.cs
  Ryujinx/Ui/Windows/DlcWindow.cs
  Ryujinx/Ui/Windows/TitleUpdateWindow.cs
Labels: enhancement, horizon, fix, service:fs

#2907 sdl2: Update to Ryujinx.SDL2-CS 2.0.19
  Ryujinx.SDL2.Common/Ryujinx.SDL2.Common.csproj
Labels: enhancement, miscellaneous, needs-feedback

#2903 misc: Update SPB to 0.0.4-build17
  Ryujinx/Ryujinx.csproj
Labels: miscellaneous, infra

#2928 Remove PortRemoteClosed warning
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SyscallTable.cs
Labels: enhancement, kernel

#2940 Fix bug causing an audio buffer to be enqueued more than once
  Ryujinx.Audio/Common/AudioDeviceSession.cs
Labels: audio, fix

#2936 Fix GetAddrInfoWithOptions and some sockets issues
  Ryujinx.HLE/HLEConfiguration.cs
  Ryujinx.HLE/HOS/Services/Nifm/StaticService/IRequest.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/IClient.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/BsdSocketFlags.cs
  Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/IResolver.cs
  Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/Types/AddrInfo4.cs
  Ryujinx.HLE/Switch.cs
  Ryujinx.Headless.SDL2/Options.cs
  Ryujinx.Headless.SDL2/Program.cs
  Ryujinx/Configuration/ConfigurationFileFormat.cs
  Ryujinx/Configuration/ConfigurationState.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.glade
Labels: fix, service:sockets

#2938 Fix I2M texture copies when line length is not a multiple of 4
  Ryujinx.Graphics.Gpu/Engine/InlineToMemory/InlineToMemoryClass.cs
Labels: gpu, fix

#2942 Fix DMA copy fast path line size when xCount < stride
  Ryujinx.Graphics.Gpu/Engine/Dma/DmaClass.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Texture/LayoutConverter.cs
Labels: gpu, fix

#2933 Fix wrong title language
  Ryujinx/Ui/App/ApplicationLibrary.cs
Labels: gui, fix

#2948 Use minimum stream sample count on SDL2 audio backend
  Ryujinx.Audio.Backends.SDL2/SDL2HardwareDeviceSession.cs
Labels: audio, fix

#2943 Fix GetHostByNameRequestWithOptions and GetHostByAddrRequestWithOptions
  Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/IResolver.cs
Labels: fix, service:sockets

#2941 Flip scissor box when the YNegate bit is set
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
Labels: gpu, fix

#2950 hid: A little cleanup
  Ryujinx.HLE/HOS/Services/Hid/Hid.cs
  Ryujinx.HLE/HOS/Services/Hid/HidDevices/NpadDevices.cs
  Ryujinx.HLE/HOS/Services/Hid/IHidServer.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/Npad/NpadStyleIndex.cs
Labels: service:hid

#2946 Improve SocketOption handling
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/IClient.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/BsdSocketFlags.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/BsdSocketOption.cs
Labels: fix, service:sockets

#2840 kernel: Implement thread pinning support
  Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall32.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall64.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SyscallHandler.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SyscallTable.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KScheduler.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KThread.cs
  Ryujinx.HLE/HOS/Kernel/Threading/ThreadSchedState.cs
Labels: enhancement, kernel

#2952 am: Stub SetMediaPlaybackStateForApplication
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
Labels: stub, service:am

#2949 friend: Stub IsFriendListCacheAvailable and EnsureFriendListAvailable
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/IFriendService.cs
Labels: stub, service:friend

#2955 Fix A1B5G5R5 texture format
  Ryujinx.Graphics.OpenGL/FormatTable.cs
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
Labels: gpu, fix

#2956 Add support for the R4G4 texture format
  Ryujinx.Graphics.GAL/Capabilities.cs
  Ryujinx.Graphics.GAL/Format.cs
  Ryujinx.Graphics.Gpu/Image/FormatTable.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.Texture/PixelConverter.cs
Labels: gpu, fix

#2957 Force crop when presentation cached texture size mismatches
  Ryujinx.Graphics.GAL/ImageCrop.cs
  Ryujinx.Graphics.Gpu/Window.cs
Labels: gpu, fix
