Repository Ryujinx/Ryujinx, pull requests merged in 2021-09, with the labels that each got.

#2613 Fix TXQ for 3D textures.
  Ryujinx.Graphics.Gpu/Image/TextureTarget.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Gpu/Shader/TextureDescriptorCapableGpuAccessor.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/TextureOperation.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessElimination.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
Labels: gpu, fix

#2547 Remove file error popup
  Ryujinx/Ui/App/ApplicationLibrary.cs
Labels: enhancement, gui

#2610 Update game metadata when stopping emulation
  Ryujinx/Ui/MainWindow.cs
Labels: gui, fix

#2612 Fix GTK3 mapping for single quote key
  Ryujinx/Input/GTK3/GTK3MappingHelper.cs
Labels: fix, input

#2615 Lift textures in the AutoDeleteCache for all modifications.
  Ryujinx.Graphics.Gpu/Engine/Twod/TwodClass.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
Labels: gpu, fix

#2428 Implement a "Pause Emulation" option & hotkey
  ARMeilleure/State/ExecutionContext.cs
  Ryujinx.Audio.Backends.OpenAL/OpenALHardwareDeviceDriver.cs
  Ryujinx.Audio.Backends.SDL2/SDL2HardwareDeviceDriver.cs
  Ryujinx.Audio.Backends.SoundIo/SoundIoHardwareDeviceDriver.cs
  Ryujinx.Audio/AudioManager.cs
  Ryujinx.Audio/Backends/CompatLayer/CompatLayerHardwareDeviceDriver.cs
  Ryujinx.Audio/Backends/Dummy/DummyHardwareDeviceDriver.cs
  Ryujinx.Audio/Integration/IHardwareDeviceDriver.cs
  Ryujinx.Audio/Renderer/Dsp/AudioProcessor.cs
  Ryujinx.Audio/Renderer/Server/AudioRendererManager.cs
  Ryujinx.Common/Configuration/Hid/KeyboardHotkeys.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KThread.cs
  Ryujinx/Config.json
  Ryujinx/Configuration/ConfigurationFileFormat.cs
  Ryujinx/Configuration/ConfigurationState.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
  Ryujinx/Ui/RendererWidgetBase.cs
  Ryujinx/_schema.json
Labels: enhancement, gui

#2618 Report 1080p resolution when in docked mode
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ICommonStateGetter.cs
Labels: enhancement, services:vi

#2621 Implement GetVaRegions on nvservices
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostAsGpu/NvHostAsGpuDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostAsGpu/Types/GetVaRegionsArguments.cs
Labels: fix, service:nv

#2623 Account for negative strides on DMA copy
  Ryujinx.Graphics.Gpu/Engine/Dma/DmaClass.cs
  Ryujinx.Graphics.Gpu/Engine/InlineToMemory/InlineToMemoryClass.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Texture/OffsetCalculator.cs
Labels: gpu, fix

#2625 Refactor `PtcInfo`
  ARMeilleure/CodeGen/CompiledFunction.cs
  ARMeilleure/CodeGen/Linking/RelocEntry.cs
  ARMeilleure/CodeGen/Linking/RelocInfo.cs
  ARMeilleure/CodeGen/Linking/Symbol.cs
  ARMeilleure/CodeGen/Linking/SymbolType.cs
  ARMeilleure/CodeGen/X86/Assembler.cs
  ARMeilleure/CodeGen/X86/CodeGenContext.cs
  ARMeilleure/CodeGen/X86/CodeGenerator.cs
  ARMeilleure/Instructions/InstEmitFlowHelper.cs
  ARMeilleure/IntermediateRepresentation/Operand.cs
  ARMeilleure/Signal/NativeSignalHandler.cs
  ARMeilleure/Translation/ArmEmitterContext.cs
  ARMeilleure/Translation/Compiler.cs
  ARMeilleure/Translation/CompilerOptions.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  ARMeilleure/Translation/PTC/PtcInfo.cs
  ARMeilleure/Translation/PTC/RelocEntry.cs
  ARMeilleure/Translation/Translator.cs
  ARMeilleure/Translation/TranslatorStubs.cs
Labels: cpu, enhancement

#2633 gui: Replace FileChooserDialog with FileChooserNative
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/Widgets/GameTableContextMenu.cs
  Ryujinx/Ui/Windows/DlcWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.cs
  Ryujinx/Ui/Windows/TitleUpdateWindow.cs
  Ryujinx/Ui/Windows/UserProfilesManagerWindow.cs
Labels: enhancement, gui

#2634 hos: Cleanup the project
  Ryujinx.Common/Utilities/StreamUtils.cs
  Ryujinx.HLE/Exceptions/InternalServiceException.cs
  Ryujinx.HLE/Exceptions/InvalidFirmwarePackageException.cs
  Ryujinx.HLE/Exceptions/InvalidNpdmException.cs
  Ryujinx.HLE/Exceptions/InvalidStructLayoutException.cs
  Ryujinx.HLE/Exceptions/ServiceNotImplementedException.cs
  Ryujinx.HLE/Exceptions/TamperCompilationException.cs
  Ryujinx.HLE/Exceptions/TamperExecutionException.cs
  Ryujinx.HLE/FileSystem/Content/ContentManager.cs
  Ryujinx.HLE/HLEConfiguration.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/LibHacHorizonManager.cs
  Ryujinx.HLE/HOS/ServiceCtx.cs
  Ryujinx.HLE/HOS/Services/Ro/IRoInterface.cs
  Ryujinx.HLE/HOS/Services/Sdb/Pl/ISharedFontManager.cs
  Ryujinx.HLE/HOS/Services/Sdb/Pl/SharedFontManager.cs
  Ryujinx.HLE/HOS/Services/Sdb/Pl/Types/SharedFontType.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/IClient.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/LinuxError.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/WSAError.cs
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZone.cs
  Ryujinx.HLE/Loaders/Elf/ElfSymbol.cs
  Ryujinx.HLE/Loaders/Elf/ElfSymbol32.cs
  Ryujinx.HLE/Loaders/Elf/ElfSymbol64.cs
  Ryujinx.HLE/Loaders/Executables/KipExecutable.cs
  Ryujinx.HLE/Loaders/Executables/NsoExecutable.cs
  Ryujinx.HLE/Loaders/Mods/IPSPatcher.cs
  Ryujinx.HLE/Loaders/Mods/IPSwitchPatcher.cs
  Ryujinx.HLE/Loaders/Mods/MemPatch.cs
  Ryujinx.HLE/MemoryConfiguration.cs
  Ryujinx.HLE/PerformanceStatistics.cs
  Ryujinx.HLE/Utilities/FontUtils.cs
  Ryujinx.HLE/Utilities/StreamUtils.cs
  Ryujinx.HLE/Utilities/StringUtils.cs
  Ryujinx.HLE/Utilities/StructReader.cs
  Ryujinx.HLE/Utilities/StructWriter.cs
Labels: enhancement, horizon

#2609 Add Linux Unicorn patch + desc.
  Ryujinx.Tests.Unicorn/libs/README.md
  Ryujinx.Tests.Unicorn/libs/linux/unicorn_fspcr.patch
Labels: enhancement, miscellaneous

#2638 Adjustments to framerate metric and addition of frametime
  Ryujinx.HLE/PerformanceStatistics.cs
  Ryujinx.Headless.SDL2/WindowBase.cs
  Ryujinx/Ui/RendererWidgetBase.cs
Labels: enhancement, gui

#2644 gui: Hotfix for FileChooserNative during section extraction
  Ryujinx/Ui/Widgets/GameTableContextMenu.cs
Labels: gui, fix

#2645 Fix problems added by Pause
  Ryujinx.Audio/Renderer/Server/AudioRenderSystem.cs
  Ryujinx.Audio/Renderer/Server/AudioRendererManager.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
Labels: horizon, gui, fix

#2640 vi: Unify resolutions values and accurate implementation of them.
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ICommonStateGetter.cs
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/IFriendService.cs
  Ryujinx.HLE/HOS/Services/Pm/IInformationInterface.cs
  Ryujinx.HLE/HOS/Services/Vi/IApplicationRootService.cs
  Ryujinx.HLE/HOS/Services/Vi/IManagerRootService.cs
  Ryujinx.HLE/HOS/Services/Vi/ISystemRootService.cs
  Ryujinx.HLE/HOS/Services/Vi/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Vi/RootService/ApplicationDisplayService/AndroidSurfaceComposerClient.cs
  Ryujinx.HLE/HOS/Services/Vi/RootService/ApplicationDisplayService/Display.cs
  Ryujinx.HLE/HOS/Services/Vi/RootService/ApplicationDisplayService/IManagerDisplayService.cs
  Ryujinx.HLE/HOS/Services/Vi/RootService/ApplicationDisplayService/ISystemDisplayService.cs
  Ryujinx.HLE/HOS/Services/Vi/RootService/ApplicationDisplayService/Types/DisplayInfo.cs
  Ryujinx.HLE/HOS/Services/Vi/RootService/IApplicationDisplayService.cs
  Ryujinx.HLE/HOS/Services/Vi/Types/ViServiceType.cs
Labels: enhancement, services:vi

#2647 Set texture/image bindings in place rather than allocating and passing an array
  Ryujinx.Graphics.Gpu/Engine/Compute/ComputeClass.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
Labels: gpu, performance

#2642 Array based RangeList that caches Address/EndAddress
  Ryujinx.Graphics.Gpu/Memory/BufferModifiedRangeList.cs
  Ryujinx.Memory/Range/RangeList.cs
  Ryujinx.Memory/WindowsShared/EmulatedSharedMemoryWindows.cs
  Ryujinx.Memory/WindowsShared/PlaceholderList.cs
Labels: gpu, performance

#2627 Use shader subgroup extensions if shader ballot is not supported
  Ryujinx.Graphics.GAL/Capabilities.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Gpu/Shader/TextureDescriptorCapableGpuAccessor.cs
  Ryujinx.Graphics.OpenGL/HwCapabilities.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/Shuffle.glsl
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/ShuffleDown.glsl
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/ShuffleUp.glsl
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/ShuffleXor.glsl
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/SwizzleAdd.glsl
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGen.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenBallot.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenHelper.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
Labels: enhancement, gpu

#2641 Implement and use an Interval Tree for the MultiRangeList
  Ryujinx.Common/Collections/IntervalTree.cs
  Ryujinx.Common/Collections/TreeDictionary.cs
  Ryujinx.Memory/Range/MultiRangeList.cs
Labels: gpu, performance

#2624 Fast path for Inline2Memory buffer write that skips write tracking
  Ryujinx.Graphics.Gpu/Engine/InlineToMemory/InlineToMemoryClass.cs
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  Ryujinx.Graphics.Gpu/Memory/PhysicalMemory.cs
Labels: gpu, performance

#2694 Quick README update for game compatibility.
  README.md
Labels: miscellaneous

#2653 Share scales array for graphics and compute
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
Labels: gpu, fix

#2665 irs: Stub some service calls
  Ryujinx.HLE/HOS/Services/Hid/Irs/IIrSensorServer.cs
  Ryujinx.HLE/HOS/Services/Hid/Irs/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Hid/Irs/Types/ImageTransferProcessorState.cs
  Ryujinx.HLE/HOS/Services/Hid/Irs/Types/IrCameraHandle.cs
  Ryujinx.HLE/HOS/Services/Hid/Irs/Types/PackedClusteringProcessorConfig.cs
  Ryujinx.HLE/HOS/Services/Hid/Irs/Types/PackedImageTransferProcessorConfig.cs
  Ryujinx.HLE/HOS/Services/Hid/Irs/Types/PackedMomentProcessorConfig.cs
  Ryujinx.HLE/HOS/Services/Hid/Irs/Types/PackedTeraPluginProcessorConfig.cs
Labels: stub, service:hid

#2666 Fix PTC count table relocation patching
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, fix

#2671 NVDEC (H264): Use separate contexts per channel and decode frames in DTS order
  Ryujinx.Graphics.Device/IDeviceStateWithContext.cs
  Ryujinx.Graphics.Host1x/Host1xDevice.cs
  Ryujinx.Graphics.Host1x/ThiDevice.cs
  Ryujinx.Graphics.Nvdec.H264/FFmpegContext.cs
  Ryujinx.Graphics.Nvdec.H264/SpsAndPpsReconstruction.cs
  Ryujinx.Graphics.Nvdec/H264Decoder.cs
  Ryujinx.Graphics.Nvdec/Image/SurfaceCache.cs
  Ryujinx.Graphics.Nvdec/NvdecDecoderContext.cs
  Ryujinx.Graphics.Nvdec/NvdecDevice.cs
  Ryujinx.Graphics.Nvdec/NvdecStatus.cs
  Ryujinx.Graphics.Nvdec/Types/H264/PictureInfo.cs
  Ryujinx.Graphics.Nvdec/Types/H264/ReferenceFrame.cs
  Ryujinx.Graphics.Nvdec/Types/Vp9/FrameStats.cs
  Ryujinx.Graphics.Nvdec/Vp9Decoder.cs
  Ryujinx.Graphics.Vic/VicDevice.cs
  Ryujinx.Graphics.Vic/VicRegisters.cs
  Ryujinx.HLE/HOS/Services/Nv/Host1xContext.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostChannel/NvHostChannelDeviceFile.cs
Labels: fix, nvdec

#2692 clkrst: Stub/Implement IClkrstManager and IClkrstSession calls
  Ryujinx.Common/Logging/LogClass.cs
  Ryujinx.HLE/HOS/Services/Pcv/Clkrst/ClkrstManager/IClkrstSession.cs
  Ryujinx.HLE/HOS/Services/Pcv/Clkrst/IClkrstManager.cs
  Ryujinx.HLE/HOS/Services/Pcv/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Pcv/Rtc/IRtcManager.cs
  Ryujinx.HLE/HOS/Services/Pcv/Types/DeviceCode.cs
Labels: stub, service-implementation, service:pcv

#2693 Use normal memory store path for DC ZVA
  ARMeilleure/Instructions/InstEmitSystem.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, performance

#2637 Optimize `HybridAllocator`
  ARMeilleure/CodeGen/RegisterAllocators/HybridAllocator.cs
  ARMeilleure/CodeGen/X86/CodeGenerator.cs
  ARMeilleure/IntermediateRepresentation/Operand.cs
  ARMeilleure/IntermediateRepresentation/Operation.cs
Labels: cpu, enhancement, performance

#2646 Only make render target 2D textures layered if needed
  Ryujinx.Graphics.Gpu/Engine/Threed/DrawManager.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClass.cs
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/Definition/HostShaderCacheEntry.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/Definition/HostShaderCacheEntryHeader.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/ShaderProgramInfo.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
  Ryujinx.Graphics.Shader/Translation/FeatureFlags.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
Labels: gpu, fix

#2687 Force copy when auto-deleting a texture with dependencies
  Ryujinx.Graphics.Gpu/Image/AutoDeleteCache.cs
  Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  Ryujinx.Graphics.Gpu/Image/TextureGroupHandle.cs
Labels: gpu, fix

#2684 Replace CacheResourceWrite with more general "precise" write
  ARMeilleure/Memory/IMemoryManager.cs
  ARMeilleure/Signal/NativeSignalHandler.cs
  Ryujinx.Cpu/MemoryEhMeilleure.cs
  Ryujinx.Cpu/MemoryManager.cs
  Ryujinx.Cpu/MemoryManagerHostMapped.cs
  Ryujinx.Cpu/Tracking/CpuMultiRegionHandle.cs
  Ryujinx.Cpu/Tracking/CpuRegionHandle.cs
  Ryujinx.Cpu/Tracking/CpuSmartMultiRegionHandle.cs
  Ryujinx.Graphics.Gpu/Engine/InlineToMemory/InlineToMemoryClass.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClass.cs
  Ryujinx.Graphics.Gpu/Image/Pool.cs
  Ryujinx.Graphics.Gpu/Image/SamplerPool.cs
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
  Ryujinx.Graphics.Gpu/Memory/Buffer.cs
  Ryujinx.Graphics.Gpu/Memory/GpuRegionHandle.cs
  Ryujinx.Graphics.Gpu/Memory/MemoryManager.cs
  Ryujinx.Graphics.Gpu/Memory/PhysicalMemory.cs
  Ryujinx.Memory.Tests/MockVirtualMemoryManager.cs
  Ryujinx.Memory.Tests/MultiRegionTrackingTests.cs
  Ryujinx.Memory.Tests/TrackingTests.cs
  Ryujinx.Memory/AddressSpaceManager.cs
  Ryujinx.Memory/IVirtualMemoryManager.cs
  Ryujinx.Memory/Tracking/AbstractRegion.cs
  Ryujinx.Memory/Tracking/IRegionHandle.cs
  Ryujinx.Memory/Tracking/MemoryTracking.cs
  Ryujinx.Memory/Tracking/MultiRegionHandle.cs
  Ryujinx.Memory/Tracking/PreciseRegionSignal.cs
  Ryujinx.Memory/Tracking/RegionHandle.cs
  Ryujinx.Memory/Tracking/SmartMultiRegionHandle.cs
  Ryujinx.Memory/Tracking/VirtualRegion.cs
Labels: gpu, fix
