Repository Ryujinx/Ryujinx, pull requests merged in 2022-06, with the labels that each got.

#3375 infra: Switch to win10-x64 RID and fix PR comment for Avalonia and SDL2 artifact rename
  .github/workflows/build.yml
  .github/workflows/nightly_pr_comment.yml
  .github/workflows/release.yml
  Ryujinx.Audio.Backends.SoundIo/Ryujinx.Audio.Backends.SoundIo.csproj
  Ryujinx.Ava/Ryujinx.Ava.csproj
  Ryujinx.Headless.SDL2/Ryujinx.Headless.SDL2.csproj
  Ryujinx.ShaderTools/Ryujinx.ShaderTools.csproj
  Ryujinx.Tests/Ryujinx.Tests.csproj
  Ryujinx/Ryujinx.csproj
Labels: miscellaneous, infra

#3380 Fix 3D semaphore counter type 0 handling
  Ryujinx.Graphics.Gpu/Engine/Threed/SemaphoreUpdater.cs
Labels: gpu, fix

#3378 Fix a potential GPFIFO submission race
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostChannel/NvHostChannelDeviceFile.cs
Labels: gpu, fix

#3382 Copy dependency for multisample and non-multisample textures
  Ryujinx.Graphics.GAL/Target.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
  Ryujinx.Graphics.OpenGL/Image/IntermmediatePool.cs
  Ryujinx.Graphics.OpenGL/Image/TextureCopy.cs
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
Labels: gpu, fix

#3374 Extend uses count from ushort to uint on Operand Data structure
  ARMeilleure/IntermediateRepresentation/Operand.cs
Labels: cpu, fix

#3347 Remove freed memory range from tree on memory block disposal
  Ryujinx.Memory/MemoryBlock.cs
  Ryujinx.Memory/MemoryManagement.cs
  Ryujinx.Memory/MemoryManagementWindows.cs
  Ryujinx.Memory/WindowsShared/PlaceholderManager.cs
Labels: fix

#3383 Fix instanced indexed inline draws
  Ryujinx.Graphics.Gpu/Engine/Threed/DrawManager.cs
Labels: gpu, fix

#3389 Fix instanced indexed inline draw index count
  Ryujinx.Graphics.Gpu/Engine/Threed/DrawManager.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/IbStreamer.cs
Labels: gpu, fix

#3388 Ignore ClipControl on draw texture fallback
  Ryujinx.Graphics.OpenGL/Pipeline.cs
Labels: gpu, fix

#3385 Allow concurrent BSD EventFd read/write
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall.cs
  Ryujinx.HLE/HOS/Services/ServerBase.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Impl/EventFileDescriptor.cs
Labels: fix, service:sockets

#3394 Less invasive fix for EventFd blocking operations
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/ServerBase.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Impl/EventFileDescriptor.cs
Labels: fix, service:sockets

#3400 Support Array/3D depth-stencil render target, and single layer clears
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.GAL/Multithreading/Commands/ClearRenderTargetColorCommand.cs
  Ryujinx.Graphics.GAL/Multithreading/Commands/ClearRenderTargetDepthStencilCommand.cs
  Ryujinx.Graphics.GAL/Multithreading/ThreadedPipeline.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/DrawManager.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClass.cs
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  Ryujinx.Graphics.OpenGL/Framebuffer.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
Labels: gpu, fix

#3403 Account for res scale changes when updating bindings
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
Labels: gpu, fix

#3406 Ensure texture ID is valid before getting texture descriptor
  Ryujinx.Graphics.Gpu/Image/Pool.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Gpu/Image/TextureDescriptor.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderSpecializationState.cs
Labels: gpu, fix

#3407 Fix ThreadingLock deadlock on invalid access and ExitProcess
  Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
  Ryujinx.Memory/Tracking/MemoryTracking.cs
Labels: fix, kernel

#3361 time: Make TimeZoneRule blittable and avoid copies
  Ryujinx.Common/Memory/Box.cs
  Ryujinx.HLE/HOS/Services/Time/StaticService/ITimeZoneServiceForGlue.cs
  Ryujinx.HLE/HOS/Services/Time/StaticService/ITimeZoneServiceForPsc.cs
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZone.cs
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZoneContentManager.cs
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZoneManager.cs
  Ryujinx.HLE/HOS/Services/Time/TimeZone/Types/CalendarAdditionalInfo.cs
  Ryujinx.HLE/HOS/Services/Time/TimeZone/Types/TimeTypeInfo.cs
  Ryujinx.HLE/HOS/Services/Time/TimeZone/Types/TimeZoneRule.cs
  Ryujinx.HLE/Utilities/StringUtils.cs
Labels: horizon, miscellaneous, service:time, performance

#3418 timezone: Fix regression caused by #3361
  Ryujinx.HLE/HOS/Services/Time/TimeZone/Types/TimeTypeInfo.cs
  Ryujinx.HLE/HOS/Services/Time/TimeZone/Types/TimeZoneRule.cs
  Ryujinx.Tests/Ryujinx.Tests.csproj
  Ryujinx.Tests/Time/TimeZoneRuleTests.cs
Labels: fix, service:time

#3420 Account for pool change on texture bindings cache
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
Labels: gpu, fix

#3430 ui: Fix timezone abbreviation since #3361
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZoneContentManager.cs
Labels: gui, fix, service:time
