Repository Ryujinx/Ryujinx, pull requests merged in 2022-05, with the labels that each got.

#3304 Restrict cases where vertex buffer size from index buffer type is used
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
Labels: gpu, fix

#3311 Fix flush action from multiple threads regression
  Ryujinx.Memory/Tracking/RegionHandle.cs
Labels: gpu, fix

#2958 Implement code memory syscalls
  Ryujinx.HLE/HOS/Kernel/Memory/KCodeMemory.cs
  Ryujinx.HLE/HOS/Kernel/Memory/KPageTableBase.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/CodeMemoryOperation.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall32.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall64.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SyscallTable.cs
Labels: enhancement, kernel

#2966 Implement PM GetProcessInfo atmosphere extension (partially)
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.HLE/HOS/Kernel/KernelStatic.cs
  Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall.cs
  Ryujinx.HLE/HOS/ProgramLoader.cs
  Ryujinx.HLE/HOS/Services/Pm/IDebugMonitorInterface.cs
Labels: enhancement, service:pm

#3297 Update the artifact build's version number in the comment
  .github/workflows/build.yml
Labels: enhancement, infra

#3315 Remove AddProtection count > 0 assert
  Ryujinx.Memory/WindowsShared/PlaceholderManager.cs
Labels: fix

#3299 infra: Warn about support drop of old Windows versions
  Ryujinx/Program.cs
Labels: miscellaneous, infra

#3319 Fix shared memory leak on Windows
  Ryujinx.HLE/HOS/Services/Ro/IRoInterface.cs
  Ryujinx.Memory/MemoryBlock.cs
  Ryujinx.Memory/MemoryManagement.cs
  Ryujinx.Memory/MemoryManagementWindows.cs
  Ryujinx.Memory/WindowsShared/PlaceholderManager.cs
  Ryujinx.Memory/WindowsShared/PlaceholderManager4KB.cs
Labels: horizon, fix, service:ro

#2959 Enable JIT service LLE
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
  Ryujinx.HLE/HOS/Services/Ro/IRoInterface.cs
  Ryujinx.HLE/HOS/Services/ServerBase.cs
  Ryujinx.HLE/HOS/Services/Settings/ISystemSettingsServer.cs
  Ryujinx.HLE/HOS/Services/Sm/IUserInterface.cs
  Ryujinx.HLE/HOS/Services/Sm/SmRegistry.cs
Labels: enhancement, horizon

#3321 Add alternative "GL" enum values for StencilOp
  Ryujinx.Graphics.GAL/StencilOp.cs
  Ryujinx.Graphics.OpenGL/EnumConversion.cs
Labels: gpu, fix

#3326 hid: Various fixes and cleanup
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
  Ryujinx.HLE/HOS/Services/Hid/HidDevices/NpadDevices.cs
  Ryujinx.HLE/HOS/Services/Hid/HidServer/HidUtils.cs
  Ryujinx.HLE/HOS/Services/Hid/HidServer/Types/Npad/HidNpadJoyAssignmentMode.cs
  Ryujinx.HLE/HOS/Services/Hid/HidServer/Types/Npad/NpadHandheldActivationMode.cs
  Ryujinx.HLE/HOS/Services/Hid/HidServer/Types/Npad/NpadJoyDeviceType.cs
  Ryujinx.HLE/HOS/Services/Hid/HidServer/Types/SixAxis/AccelerometerParameters.cs
  Ryujinx.HLE/HOS/Services/Hid/HidServer/Types/SixAxis/GyroscopeZeroDriftMode.cs
  Ryujinx.HLE/HOS/Services/Hid/HidServer/Types/SixAxis/SensorFusionParameters.cs
  Ryujinx.HLE/HOS/Services/Hid/HidServer/Types/Vibration/HidVibrationDeviceValue.cs
  Ryujinx.HLE/HOS/Services/Hid/HidServer/Types/Vibration/VibrationDeviceHandle.cs
  Ryujinx.HLE/HOS/Services/Hid/HidServer/Types/Vibration/VibrationDevicePosition.cs
  Ryujinx.HLE/HOS/Services/Hid/HidServer/Types/Vibration/VibrationDeviceType.cs
  Ryujinx.HLE/HOS/Services/Hid/HidServer/Types/Vibration/VibrationDeviceValue.cs
  Ryujinx.HLE/HOS/Services/Hid/HidServer/Types/Vibration/VibrationValue.cs
  Ryujinx.HLE/HOS/Services/Hid/IHidServer.cs
  Ryujinx.Input/HLE/NpadController.cs
Labels: fix, service-implementation, service:hid

#3328 Implement Viewport Transform Disable
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.GAL/Multithreading/Commands/SetViewportsCommand.cs
  Ryujinx.Graphics.GAL/Multithreading/ThreadedPipeline.cs
  Ryujinx.Graphics.GAL/SupportBufferUpdater.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/Migration.cs
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheGpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/GpuChannelGraphicsState.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCacheHashTable.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderSpecializationList.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderSpecializationState.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/DefaultNames.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitAttribute.cs
  Ryujinx.Graphics.Shader/SupportBuffer.cs
  Ryujinx.Graphics.Shader/Translation/AttributeConsts.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
Labels: enhancement, gpu

#3338 Prefetch capabilities before spawning translation threads.
  Ryujinx.Graphics.Gpu/GpuContext.cs
  Ryujinx.Headless.SDL2/WindowBase.cs
Labels: gpu, fix

#3317 sdl2: Update to Ryujinx.SDL2-CS 2.0.22
  Ryujinx.SDL2.Common/Ryujinx.SDL2.Common.csproj
Labels: enhancement, miscellaneous, needs-feedback

#3340 misc: Clean up of CS project after Avalonia merge
  Ryujinx.Audio.Backends.OpenAL/Ryujinx.Audio.Backends.OpenAL.csproj
  Ryujinx.Ava/Input/AvaloniaKeyboardDriver.cs
  Ryujinx.Ava/Ryujinx.Ava.csproj
  Ryujinx.Ava/Ui/Applet/AvaloniaDynamicTextInputHandler.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/Ryujinx.Graphics.OpenGL.csproj
  Ryujinx/Ryujinx.csproj
Labels: miscellaneous, infra

#3339 Add avalonia builds to release
  .github/workflows/release.yml
Labels: miscellaneous, infra

#3348 Fix audio renderer error message result code base
  Ryujinx.HLE/HOS/Services/Audio/AudioRenderer/AudioRendererServer.cs
Labels: fix, service:audio

#3354 Don't force DPI aware on Avalonia
  Ryujinx.Ava/Program.cs
Labels: gui, fix

#3364 Allow loading NSPs without a NCA inside
  Ryujinx.HLE/HOS/ApplicationLoader.cs
Labels: fix

#3371 Rewrite SVC handler using source generators rather than IL emit
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/InvalidSvcException.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/PointerSizedAttribute.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/RAttribute.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcAttribute.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SvcImplAttribute.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall32.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall64.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SyscallHandler.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SyscallTable.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx.Horizon.Generators/CodeGenerator.cs
  Ryujinx.Horizon.Generators/Kernel/SyscallGenerator.cs
  Ryujinx.Horizon.Generators/Kernel/SyscallSyntaxReceiver.cs
  Ryujinx.Horizon.Generators/Ryujinx.Horizon.Generators.csproj
  Ryujinx.sln
Labels: enhancement, fix, kernel
