Repository Ryujinx/Ryujinx, pull requests merged in 2022-11, with the labels that each got.

#3816 fix: Support FFmpeg 5.1.x for decoding
  Ryujinx.Graphics.Nvdec.FFmpeg/FFmpegContext.cs
  Ryujinx.Graphics.Nvdec.FFmpeg/Native/AVCodec.cs
  Ryujinx.Graphics.Nvdec.FFmpeg/Native/AVCodec501.cs
  Ryujinx.Graphics.Nvdec.FFmpeg/Native/AVCodecContext.cs
  Ryujinx.Graphics.Nvdec.FFmpeg/Native/FFCodec.cs
Labels: fix, nvdec

#3723 Vulkan: Implement multisample <-> non-multisample copies and depth-stencil resolve
  Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
  Ryujinx.Graphics.Vulkan/HelperShader.cs
  Ryujinx.Graphics.Vulkan/PipelineBase.cs
  Ryujinx.Graphics.Vulkan/PipelineConverter.cs
  Ryujinx.Graphics.Vulkan/PipelineState.cs
  Ryujinx.Graphics.Vulkan/ShaderCollection.cs
  Ryujinx.Graphics.Vulkan/Shaders/ColorCopyBetweenMsNonMs.comp
  Ryujinx.Graphics.Vulkan/Shaders/ShaderBinaries.cs
  Ryujinx.Graphics.Vulkan/SpecInfo.cs
  Ryujinx.Graphics.Vulkan/TextureCopy.cs
  Ryujinx.Graphics.Vulkan/TextureView.cs
  Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, fix

#3822 Ensure all pending draws are done before compute dispatch
  Ryujinx.Graphics.Gpu/Engine/Compute/ComputeClass.cs
Labels: gpu, fix

#3829 Minor improvement to Vulkan pipeline state and bindings management
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.OpenGL/Image/TextureBase.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.Vulkan/DescriptorSetUpdater.cs
  Ryujinx.Graphics.Vulkan/PipelineState.cs
  Ryujinx.Graphics.Vulkan/PipelineUid.cs
Labels: enhancement, gpu

#3833 Fix VertexId and InstanceId on Vulkan
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/Declarations.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitAttribute.cs
  Ryujinx.Graphics.Shader/Translation/AttributeConsts.cs
  Ryujinx.Graphics.Shader/Translation/AttributeInfo.cs
Labels: gpu, fix

#3832 Use vector transform feedback outputs if possible
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/CodeGenContext.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/GlslGenerator.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGen.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/CodeGenContext.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/SpirvGenerator.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgram.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgramInfo.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
Labels: gpu, fix

#3707 UI: Allow overriding graphics backend + Move command line parser into a new class
  Ryujinx.Ava/App.axaml.cs
  Ryujinx.Ava/Program.cs
  Ryujinx.Ava/Ui/ViewModels/SettingsViewModel.cs
  Ryujinx.Ava/Ui/Windows/MainWindow.axaml.cs
  Ryujinx.Ui.Common/Helper/CommandLineState.cs
  Ryujinx/Modules/Updater/UpdateDialog.cs
  Ryujinx/Program.cs
  Ryujinx/Ui/MainWindow.cs
Labels: enhancement, gui

#3839 GTK: It's REE-YOU-JINX
  Ryujinx/Ui/Windows/AboutWindow.Designer.cs
Labels: gui, fix

#3748 Implement HLE macro for DrawElementsIndirect
  Ryujinx.Ava/Assets/Locales/en_US.json
  Ryujinx.Ava/Assets/Locales/pt_BR.json
  Ryujinx.Ava/Ui/ViewModels/SettingsViewModel.cs
  Ryujinx.Ava/Ui/Windows/MainWindow.axaml.cs
  Ryujinx.Ava/Ui/Windows/SettingsWindow.axaml
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.GAL/Multithreading/CommandHelper.cs
  Ryujinx.Graphics.GAL/Multithreading/CommandType.cs
  Ryujinx.Graphics.GAL/Multithreading/Commands/DrawIndexedIndirectCommand.cs
  Ryujinx.Graphics.GAL/Multithreading/Commands/DrawIndexedIndirectCountCommand.cs
  Ryujinx.Graphics.GAL/Multithreading/Commands/DrawIndirectCommand.cs
  Ryujinx.Graphics.GAL/Multithreading/Commands/DrawIndirectCountCommand.cs
  Ryujinx.Graphics.GAL/Multithreading/ThreadedPipeline.cs
  Ryujinx.Graphics.Gpu/Engine/MME/Macro.cs
  Ryujinx.Graphics.Gpu/Engine/MME/MacroHLE.cs
  Ryujinx.Graphics.Gpu/Engine/MME/MacroHLEFunctionName.cs
  Ryujinx.Graphics.Gpu/Engine/MME/MacroHLETable.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/ConditionalRendering.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/DrawManager.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/DrawState.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/IndirectDrawType.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClass.cs
  Ryujinx.Graphics.Gpu/Memory/BufferCache.cs
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheGpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/GpuChannelGraphicsState.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderSpecializationList.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderSpecializationState.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/SpirvGenerator.cs
  Ryujinx.Graphics.Shader/Constants.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
  Ryujinx.Graphics.Shader/ShaderProgramInfo.cs
  Ryujinx.Graphics.Shader/Translation/AttributeConsts.cs
  Ryujinx.Graphics.Shader/Translation/AttributeInfo.cs
  Ryujinx.Graphics.Shader/Translation/FeatureFlags.cs
  Ryujinx.Graphics.Shader/Translation/Rewriter.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
  Ryujinx.Graphics.Vulkan/BufferHolder.cs
  Ryujinx.Graphics.Vulkan/BufferManager.cs
  Ryujinx.Graphics.Vulkan/CacheByRange.cs
  Ryujinx.Graphics.Vulkan/HelperShader.cs
  Ryujinx.Graphics.Vulkan/IndexBufferState.cs
  Ryujinx.Graphics.Vulkan/PipelineBase.cs
  Ryujinx.Graphics.Vulkan/Shaders/ConvertIndexBufferShaderSource.comp
  Ryujinx.Graphics.Vulkan/Shaders/ConvertIndirectDataShaderSource.comp
  Ryujinx.Graphics.Vulkan/Shaders/ShaderBinaries.cs
  Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
  Ryujinx.Ui.Common/Configuration/ConfigurationFileFormat.cs
  Ryujinx.Ui.Common/Configuration/ConfigurationState.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.glade
Labels: gpu, performance

#3851 Use new LINQ Order() methods
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
Labels: miscellaneous

#3852 Make use of Random.Shared
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/IFriendService.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/VirtualAmiibo.cs
  Ryujinx.HLE/HOS/Services/Prepo/IPrepoService.cs
  Ryujinx.HLE/HOS/Services/Ro/IRoInterface.cs
Labels: miscellaneous

#3854 Use new C# 11 UTF-8 string literals
  Ryujinx.Audio/Renderer/Utils/FileHardwareDevice.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/VirtualAmiibo.cs
  Ryujinx.HLE/HOS/Services/Nifm/StaticService/IGeneralService.cs
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZone.cs
  Ryujinx.HLE/Loaders/Mods/IPSPatcher.cs
Labels: miscellaneous

#3716 Update units of memory from decimal to binary prefixes
  .github/ISSUE_TEMPLATE/bug_report.md
  ARMeilleure/Diagnostics/TranslatorEventSource.cs
  README.md
  Ryujinx.Ava/AppHost.cs
  Ryujinx.Ava/Assets/Locales/de_DE.json
  Ryujinx.Ava/Assets/Locales/el_GR.json
  Ryujinx.Ava/Assets/Locales/en_US.json
  Ryujinx.Ava/Assets/Locales/es_ES.json
  Ryujinx.Ava/Assets/Locales/fr_FR.json
  Ryujinx.Ava/Assets/Locales/it_IT.json
  Ryujinx.Ava/Assets/Locales/ja_JP.json
  Ryujinx.Ava/Assets/Locales/ko_KR.json
  Ryujinx.Ava/Assets/Locales/pl_PL.json
  Ryujinx.Ava/Assets/Locales/pt_BR.json
  Ryujinx.Ava/Assets/Locales/ru_RU.json
  Ryujinx.Ava/Assets/Locales/tr_TR.json
  Ryujinx.Ava/Assets/Locales/zh_CN.json
  Ryujinx.Ava/Assets/Locales/zh_TW.json
  Ryujinx.Ava/Ui/Models/FileSizeSortComparer.cs
  Ryujinx.Ava/Ui/Models/Generic/FileSizeSortComparer.cs
  Ryujinx.Common/SystemInfo/LinuxSystemInfo.cs
  Ryujinx.Common/SystemInfo/SystemInfo.cs
  Ryujinx.Graphics.Vulkan/PipelineFull.cs
  Ryujinx.HLE/HOS/Kernel/Common/KSystemControl.cs
  Ryujinx.HLE/HOS/Kernel/Common/MemoryArrange.cs
  Ryujinx.HLE/HOS/Kernel/Common/MemroySize.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostAsGpu/NvHostAsGpuDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Spl/IGeneralInterface.cs
  Ryujinx.HLE/HOS/Services/Spl/Types/DramId.cs
  Ryujinx.HLE/MemoryConfiguration.cs
  Ryujinx.Headless.SDL2/Options.cs
  Ryujinx.Headless.SDL2/Program.cs
  Ryujinx.Ui.Common/App/ApplicationLibrary.cs
  Ryujinx.Ui.Common/Configuration/ConfigurationFileFormat.cs
  Ryujinx/Ui/Helper/SortHelper.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.glade
Labels: enhancement, gui

#3845 Prevent raw Unicode control codes from showing on software keyboard applet.
  Ryujinx.HLE/AssemblyInfo.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardApplet.cs
  Ryujinx.Tests/HLE/SoftwareKeyboardTests.cs
Labels: gui, fix

#3815 Fix Fedora support
  Ryujinx.Ava/Ryujinx.Ava.csproj
  Ryujinx/Program.cs
  Ryujinx/Ryujinx.csproj
Labels: miscellaneous, fix

#3516 Allow to start Ryujinx in wayland environment
  Ryujinx/Ui/MainWindow.cs
Labels: gui, miscellaneous, review/waiting-on-maintainers

#3860 Capitalization to be consistent
  Ryujinx.Cpu/IExecutionContext.cs
Labels: miscellaneous, fix

#3859 ci: Clean up Actions leftovers
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: miscellaneous, infra

#3847 GPU: Eliminate CB0 accesses when storage buffer accesses are resolved
  Ryujinx.Graphics.Gpu/Constants.cs
  Ryujinx.Graphics.Gpu/Engine/Compute/ComputeClass.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
  Ryujinx.Graphics.Gpu/Shader/ComputeShaderCacheHashTable.cs
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheGpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/GpuChannelComputeState.cs
  Ryujinx.Graphics.Gpu/Shader/GpuChannelGraphicsState.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderSpecializationList.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderSpecializationState.cs
  Ryujinx.Graphics.Shader/Constants.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/GlobalToStorage.cs
Labels: gpu, performance

#3863 SPIR-V: Fix unscaling helper not being able to find Array textures
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/Instructions.cs
  Ryujinx.Graphics.Shader/StructuredIr/AstTextureOperation.cs
Labels: gpu, fix

#3830 Allow _volatile to be set from MultiRegionHandle checks again
  Ryujinx.Memory/Tracking/MultiRegionHandle.cs
  Ryujinx.Memory/Tracking/RegionHandle.cs
Labels: gpu, performance

#3853 Use ReadOnlySpan<byte> compiler optimization in more places
  ARMeilleure/Common/BitUtils.cs
  Ryujinx.Graphics.Nvdec.Vp9/Detokenize.cs
  Ryujinx.Graphics.Nvdec.Vp9/Luts.cs
Labels: miscellaneous

#3857 am: Stub GetSaveDataSizeMax
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
Labels: stub, service:am

#3862 Prune ForceDirty and CheckModified caches on unmap
  Ryujinx.Graphics.Gpu/GpuChannel.cs
  Ryujinx.Graphics.Gpu/Memory/BufferCache.cs
Labels: gpu, performance

#3864 Vulkan: Don't create preload command buffer outside a render pass
  Ryujinx.Graphics.Vulkan/BufferHolder.cs
  Ryujinx.Graphics.Vulkan/PipelineBase.cs
  Ryujinx.Graphics.Vulkan/ShaderCollection.cs
Labels: gpu, performance

#3865 Gpu: Fix thread safety of ReregisterRanges
  Ryujinx.Graphics.Gpu/Memory/BufferModifiedRangeList.cs
Labels: gpu, fix

#3867 Vulkan: Clear dummy texture to (0,0,0,0) on creation
  Ryujinx.Graphics.Vulkan/DescriptorSetUpdater.cs
  Ryujinx.Graphics.Vulkan/PipelineBase.cs
Labels: gpu, fix

#3866 Move gl_Layer from vertex to geometry if GPU does not support it on vertex
  Ryujinx.Graphics.GAL/Capabilities.cs
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Gpu/Shader/DiskCache/ParallelDiskCacheLoader.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessorBase.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.OpenGL/HwCapabilities.cs
  Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitAttribute.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
  Ryujinx.Graphics.Shader/Translation/TranslatorContext.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, fix

#3868 Fix shader cache on Vulkan when geometry shaders are inserted
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Gpu/Shader/DiskCache/ShaderBinarySerializer.cs
Labels: gpu, fix

#3872 Unsubscribe MemoryUnmappedHandler even when GPU channel is destroyed
  Ryujinx.Graphics.Gpu/GpuChannel.cs
Labels: gpu, fix

#3870 Reword the description of the 6GB expand DRAM hack to be less tantalizing
  Ryujinx.Ava/Assets/Locales/en_US.json
  Ryujinx/Ui/Windows/SettingsWindow.glade
Labels: enhancement, gui

#3876 Do not update shader state for DrawTextures
  Ryujinx.Graphics.Gpu/Engine/Threed/DrawManager.cs
Labels: gpu, fix

#3841 Stub IFriendService: 1 (Cancel)
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/IFriendService.cs
Labels: horizon, stub, service:friend

#3878 Update to LibHac 0.17.0
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.HLE/HOS/LibHacHorizonManager.cs
  Ryujinx.HLE/HOS/Services/Fs/IDeviceOperator.cs
  Ryujinx.HLE/HOS/Services/Fs/IFileSystemProxy.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
Labels: enhancement, service:fs

#3884 ava: Fix JsonSerializer warnings
  Ryujinx.Ava/Common/Locale/LocaleManager.cs
  Ryujinx.Ava/Ui/ViewModels/AmiiboWindowViewModel.cs
Labels: gui, fix

#3883 GPU: Relax locking on Buffer Cache
  Ryujinx.Graphics.Gpu/Memory/BufferCache.cs
Labels: gpu, performance

#3882 GPU: Access non-prefetch command buffers directly
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoDevice.cs
Labels: gpu, performance

#3881 GAL: Send all buffer assignments at once rather than individually
  Ryujinx.Graphics.GAL/BufferAssignment.cs
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.GAL/Multithreading/BufferMap.cs
  Ryujinx.Graphics.GAL/Multithreading/Commands/SetStorageBuffersCommand.cs
  Ryujinx.Graphics.GAL/Multithreading/Commands/SetUniformBuffersCommand.cs
  Ryujinx.Graphics.GAL/Multithreading/ThreadedPipeline.cs
  Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.Vulkan/DescriptorSetUpdater.cs
  Ryujinx.Graphics.Vulkan/HelperShader.cs
  Ryujinx.Graphics.Vulkan/PipelineBase.cs
Labels: gpu, performance

#3888 Fix NRE on Avalonia for error applets with unknown error message
  Ryujinx.Ava/Ui/Applet/AvaHostUiHandler.cs
Labels: gui, fix

#3890 Ryujinx.Ava: Add missing redefinition of app name
  Ryujinx.Ava/App.axaml.cs
Labels: gui, miscellaneous, fix

#3885 ui: Fixes disposing on GTK/Avalonia and Firmware Messages on Avalonia
  Ryujinx.Ava/AppHost.cs
  Ryujinx.Ava/Ui/Controls/OpenGLEmbeddedWindow.cs
  Ryujinx.Ava/Ui/Windows/MainWindow.axaml.cs
  Ryujinx.Graphics.GAL/Multithreading/ThreadedRenderer.cs
  Ryujinx.Graphics.OpenGL/Queries/Counters.cs
  Ryujinx.Graphics.OpenGL/Window.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/RendererWidgetBase.cs
  Ryujinx/Ui/VKRenderer.cs
Labels: gui, fix

#3805 Reduce usage of Marshal.PtrToStructure and Marshal.StructureToPtr
  Ryujinx.Common/Extensions/BinaryReaderExtensions.cs
  Ryujinx.Cpu/MemoryHelper.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardApplet.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardCustomizeDic.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardDictSet.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardUserWord.cs
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/FriendService/Types/UserPresence.cs
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/IFriendService.cs
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/NotificationService/Types/NotificationInfo.cs
  Ryujinx.HLE/HOS/Services/Sdb/Pdm/QueryService/QueryPlayStatisticsManager.cs
  Ryujinx.HLE/HOS/Services/Time/Clock/Types/ClockSnapshot.cs
  Ryujinx.HLE/HOS/Services/Time/IStaticServiceForPsc.cs
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZone.cs
  Ryujinx.Input/Motion/CemuHook/Protocol/ControllerData.cs
  Ryujinx.Input/Motion/CemuHook/Protocol/ControllerInfo.cs
  Ryujinx.Input/Motion/CemuHook/Protocol/SharedResponse.cs
Labels: miscellaneous, needs-feedback

#3828 GPU: Don't trigger uploads for redundant buffer updates
  Ryujinx.Cpu/Jit/MemoryManager.cs
  Ryujinx.Cpu/Jit/MemoryManagerHostMapped.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/ConstantBufferUpdater.cs
  Ryujinx.Graphics.Gpu/Memory/PhysicalMemory.cs
  Ryujinx.Memory.Tests/MockVirtualMemoryManager.cs
  Ryujinx.Memory/AddressSpaceManager.cs
  Ryujinx.Memory/IVirtualMemoryManager.cs
Labels: gpu, performance

#3892 chore: Update Ryujinx.SDL2-CS to 2.24.2
  Ryujinx.Headless.SDL2/Vulkan/VulkanWindow.cs
  Ryujinx.SDL2.Common/Ryujinx.SDL2.Common.csproj
  Ryujinx.SDL2.Common/SDL2Driver.cs
Labels: miscellaneous, needs-feedback, infra

#3896 ava: Rework DLC Manager, Add various fixes and cleanup
  Ryujinx.Ava/Assets/Locales/en_US.json
  Ryujinx.Ava/Program.cs
  Ryujinx.Ava/Ui/Models/DownloadableContentModel.cs
  Ryujinx.Ava/Ui/ViewModels/MainWindowViewModel.cs
  Ryujinx.Ava/Ui/Windows/DownloadableContentManagerWindow.axaml
  Ryujinx.Ava/Ui/Windows/DownloadableContentManagerWindow.axaml.cs
  Ryujinx.Ava/Ui/Windows/MainWindow.axaml.cs
  Ryujinx.Ava/Ui/Windows/SettingsWindow.axaml
  Ryujinx.Ava/Ui/Windows/SettingsWindow.axaml.cs
  Ryujinx.Ava/Ui/Windows/TitleUpdateWindow.axaml.cs
Labels: enhancement, gui, fix

#3891 chore: Update Avalonia related dependencies
  Ryujinx.Ava/Ryujinx.Ava.csproj
Labels: gui, miscellaneous, infra

#3897 Fix CB0 alignment with addresses used for 8/16-bit LDG/STG
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/GlobalToStorage.cs
Labels: gpu, fix

#3898 ava: Refactor Title Update Manager window
  Ryujinx.Ava/Assets/Locales/en_US.json
  Ryujinx.Ava/Ui/ViewModels/MainWindowViewModel.cs
  Ryujinx.Ava/Ui/Windows/DownloadableContentManagerWindow.axaml
  Ryujinx.Ava/Ui/Windows/DownloadableContentManagerWindow.axaml.cs
  Ryujinx.Ava/Ui/Windows/TitleUpdateWindow.axaml
  Ryujinx.Ava/Ui/Windows/TitleUpdateWindow.axaml.cs
Labels: enhancement, gui, fix

#3901 Avalonia: Fix invisible Vulkan window on Linux
  Ryujinx.Ava/Ui/Controls/EmbeddedWindow.cs
  Ryujinx.Ava/Ui/Controls/VulkanEmbeddedWindow.cs
Labels: gui, graphics-backend:vulkan

#3902 Avalonia: Fix OpenGL crashing on Linux
  Ryujinx.Ava/Ui/Controls/EmbeddedWindow.cs
  Ryujinx.Ava/Ui/Controls/VulkanEmbeddedWindow.cs
Labels: gui, fix

#3909 HLE: fix small issue in IPsmSession
  Ryujinx.HLE/HOS/Services/Ptm/Psm/IPsmSession.cs
Labels: fix, service:ptm

#3915 Unbreak bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: fix, infra

#3647 bsd: Fix eventfd broken logic
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/IClient.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Impl/EventFileDescriptor.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Impl/EventFileDescriptorPollManager.cs
Labels: fix, service:sockets

#3924 sfdnsres: Fix deserializer of AddrInfoSerialized when addresses are empty
  Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/IResolver.cs
  Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/Types/AddrInfo4.cs
  Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/Types/AddrInfoSerialized.cs
Labels: fix, service:sockets

#3908 amadeus: Fixes and initial 15.0.0 support
  Ryujinx.Audio/Renderer/Dsp/AdpcmHelper.cs
  Ryujinx.Audio/Renderer/Dsp/Command/AdpcmDataSourceCommandVersion1.cs
  Ryujinx.Audio/Renderer/Dsp/Command/AuxiliaryBufferCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/BiquadFilterCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/CaptureBufferCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/CircularBufferSinkCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/ClearMixBufferCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/CopyMixBufferCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/DataSourceVersion2Command.cs
  Ryujinx.Audio/Renderer/Dsp/Command/DelayCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/DepopForMixBuffersCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/DepopPrepareCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/DeviceSinkCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/DownMixSurroundToStereoCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/GroupedBiquadFilterCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/ICommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/LimiterCommandVersion1.cs
  Ryujinx.Audio/Renderer/Dsp/Command/LimiterCommandVersion2.cs
  Ryujinx.Audio/Renderer/Dsp/Command/MixCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/MixRampCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/MixRampGroupedCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/PcmFloatDataSourceCommandVersion1.cs
  Ryujinx.Audio/Renderer/Dsp/Command/PcmInt16DataSourceCommandVersion1.cs
  Ryujinx.Audio/Renderer/Dsp/Command/PerformanceCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/Reverb3dCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/ReverbCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/UpsampleCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/VolumeCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/VolumeRampCommand.cs
  Ryujinx.Audio/Renderer/Server/AudioRenderSystem.cs
  Ryujinx.Audio/Renderer/Server/BehaviourContext.cs
  Ryujinx.Audio/Renderer/Server/CommandBuffer.cs
  Ryujinx.Audio/Renderer/Server/MemoryPool/PoolMapper.cs
  Ryujinx.Audio/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRenderer/AudioRenderer.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRenderer/AudioRendererServer.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRenderer/IAudioRenderer.cs
Labels: enhancement, audio, fix, needs-feedback, service:audio

#3932 GPU: Always draw polygon topology as triangle fan
  Ryujinx.Graphics.OpenGL/EnumConversion.cs
  Ryujinx.Graphics.Vulkan/EnumConversion.cs
  Ryujinx.Graphics.Vulkan/PipelineBase.cs
Labels: gpu, fix

#3938 Avalonia: Update FluientAvalonia & Make dialogs work on Linux
  Ryujinx.Ava/Ryujinx.Ava.csproj
  Ryujinx.Ava/Ui/Controls/ContentDialogHelper.cs
Labels: gui, fix, infra, os:linux

#3944 chore: Update OpenTK to 4.7.5
  Ryujinx.Audio.Backends.OpenAL/Ryujinx.Audio.Backends.OpenAL.csproj
  Ryujinx.Ava/Ryujinx.Ava.csproj
  Ryujinx.Graphics.OpenGL/Ryujinx.Graphics.OpenGL.csproj
  Ryujinx.Graphics.Vulkan/Ryujinx.Graphics.Vulkan.csproj
  Ryujinx.Headless.SDL2/Ryujinx.Headless.SDL2.csproj
  Ryujinx/Ryujinx.csproj
Labels: miscellaneous, infra

#3937 ConcurrentBitmap: Use Interlocked Or/And
  Ryujinx.Memory/Tracking/ConcurrentBitmap.cs
Labels: enhancement, miscellaneous

#3946 Update README.MD
  README.md
Labels: enhancement, miscellaneous

#3942 Ensure that vertex attribute buffer index is valid on GPU
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  Ryujinx.Graphics.OpenGL/VertexArray.cs
Labels: gpu, fix

#3943 Remove shader dependency on SPV_KHR_shader_ballot and SPV_KHR_subgroup_vote extensions
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/Instructions.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/SpirvGenerator.cs
  Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
Labels: enhancement, gpu

#3935 Avalonia: Clean up leftover RenderTimer & Fix minimum and initial window size
  Ryujinx.Ava/Program.cs
  Ryujinx.Ava/Ui/Controls/RenderTimer.cs
  Ryujinx.Ava/Ui/Controls/RendererHost.axaml
  Ryujinx.Ava/Ui/Controls/RendererHost.axaml.cs
  Ryujinx.Ava/Ui/Windows/MainWindow.axaml
  Ryujinx.Ava/Ui/Windows/MainWindow.axaml.cs
Labels: gui, fix
