Repository Ryujinx/Ryujinx, pull requests merged in 2022-04, with the labels that each got.

#3240 Fix shader textureSize with multisample and buffer textures
  Ryujinx.Graphics.Shader/CodeGen/Glsl/CodeGenContext.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
Labels: gpu, fix

#3257 Small graphics abstraction layer cleanup
  Ryujinx.Graphics.GAL/DepthStencilState.cs
  Ryujinx.Graphics.GAL/Target.cs
  Ryujinx.Graphics.OpenGL/EnumConversion.cs
Labels: gpu, fix

#3258 Do not force scissor on clear if scissor is disabled
  Ryujinx.Graphics.Gpu/Engine/Threed/DrawManager.cs
Labels: gpu, fix

#3256 Implement primitive restart draw arrays properly on OpenGL
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClassState.cs
Labels: gpu, fix

#3260 Do not clamp SNorm outputs to the [0, 1] range on OpenGL
  Ryujinx.Graphics.OpenGL/Renderer.cs
Labels: gpu, fix

#3230 amadeus: Update to REV11
  Ryujinx.Audio/Renderer/Dsp/Command/DelayCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/Reverb3dCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/ReverbCommand.cs
  Ryujinx.Audio/Renderer/Dsp/DataSourceHelper.cs
  Ryujinx.Audio/Renderer/Dsp/State/Reverb3dState.cs
  Ryujinx.Audio/Renderer/Dsp/State/ReverbState.cs
  Ryujinx.Audio/Renderer/Server/AudioRenderSystem.cs
  Ryujinx.Audio/Renderer/Server/BehaviourContext.cs
  Ryujinx.Audio/Renderer/Server/CommandBuffer.cs
  Ryujinx.Audio/Renderer/Server/CommandGenerator.cs
  Ryujinx.Audio/Renderer/Server/CommandProcessingTimeEstimatorVersion3.cs
  Ryujinx.Audio/Renderer/Server/CommandProcessingTimeEstimatorVersion5.cs
Labels: enhancement, audio

#3247 service: hid: Signal event on AcquireNpadStyleSetUpdateEventHandle
  Ryujinx.HLE/HOS/Services/Hid/IHidServer.cs
Labels: fix, service:hid

#3205 amadeus: Improve and fix delay effect processing
  Ryujinx.Audio/Renderer/Dsp/Command/DelayCommand.cs
  Ryujinx.Audio/Renderer/Dsp/State/DelayState.cs
  Ryujinx.Audio/Renderer/Utils/Math/Matrix2x2.cs
  Ryujinx.Audio/Renderer/Utils/Math/Matrix6x6.cs
  Ryujinx.Audio/Renderer/Utils/Math/MatrixHelper.cs
  Ryujinx.Audio/Renderer/Utils/Math/Vector6.cs
Labels: audio, fix

#3253 Calculate vertex buffer size from index buffer type
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
Labels: gpu, fix

#3252 Remove save data creation prompt
  Ryujinx.HLE/HOS/ModLoader.cs
  Ryujinx/Ui/Widgets/GameTableContextMenu.cs
Labels: enhancement, gui

#3184 Lop3Expression: Optimize expressions
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/Instructions/Lop3Expression.cs
Labels: enhancement, gpu, performance

#3152 Allow copy texture views to have mismatching multisample state
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
Labels: gpu, fix

#3251 Implement VMAD shader instruction and improve InvocationInfo and ISBERD handling
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/Decoders/InstDecoders.cs
  Ryujinx.Graphics.Shader/InputTopology.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitAluHelper.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitAttribute.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitMove.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitVideoArithmetic.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitVideoMinMax.cs
Labels: gpu, fix

#3267 Fix tail merge from block with conditional jump to multiple returns
  ARMeilleure/CodeGen/Optimizations/TailMerge.cs
  ARMeilleure/Signal/NativeSignalHandler.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, fix

#3269 ForceDpiAware: X11 implementation
  Ryujinx.Common/System/ForceDpiAware.cs
Labels: enhancement, gui, miscellaneous

#3275 Implement HwOpus multistream functions
  Ryujinx.HLE/HOS/Services/Audio/HardwareOpusDecoderManager/Decoder.cs
  Ryujinx.HLE/HOS/Services/Audio/HardwareOpusDecoderManager/DecoderCommon.cs
  Ryujinx.HLE/HOS/Services/Audio/HardwareOpusDecoderManager/IDecoder.cs
  Ryujinx.HLE/HOS/Services/Audio/HardwareOpusDecoderManager/IHardwareOpusDecoder.cs
  Ryujinx.HLE/HOS/Services/Audio/HardwareOpusDecoderManager/MultiSampleDecoder.cs
  Ryujinx.HLE/HOS/Services/Audio/IHardwareOpusDecoderManager.cs
  Ryujinx.HLE/HOS/Services/Audio/Types/OpusMultiStreamParameters.cs
  Ryujinx.HLE/HOS/Services/Audio/Types/OpusMultiStreamParametersEx.cs
  Ryujinx.HLE/HOS/Services/Audio/Types/OpusPacketHeader.cs
  Ryujinx.HLE/HOS/Services/Audio/Types/OpusParametersEx.cs
Labels: service-implementation, service:audio

#3284 Fix broken motion controls when using SDL2.
  Ryujinx.Input/HLE/NpadController.cs
Labels: fix, needs-feedback, input

#3186 T32: Implement load/store single (immediate)
  ARMeilleure/Decoders/OpCodeT32MemImm12.cs
  ARMeilleure/Decoders/OpCodeT32MemImm8.cs
  ARMeilleure/Decoders/OpCodeTable.cs
  Ryujinx.Tests/Cpu/CpuTest32.cs
  Ryujinx.Tests/Cpu/CpuTestT32Mem.cs
  Ryujinx.Tests/Cpu/PrecomputedMemoryThumbTestCase.cs
Labels: cpu, enhancement

#3302 Fix various issues with texture sync
  Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  Ryujinx.Graphics.Gpu/Image/TextureGroupHandle.cs
  Ryujinx.Memory/Tracking/RegionHandle.cs
Labels: gpu, fix
