Repository Ryujinx/Ryujinx, pull requests merged in 2022-03, with the labels that each got.

#3155 T32: Implement B, B.cond, BL, BLX
  ARMeilleure/Decoders/OpCode32.cs
  ARMeilleure/Decoders/OpCodeT32BImm20.cs
  ARMeilleure/Decoders/OpCodeT32BImm24.cs
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitAluHelper.cs
  ARMeilleure/Instructions/InstEmitFlow32.cs
  ARMeilleure/Instructions/InstEmitHelper.cs
  Ryujinx.Tests/Cpu/CpuTestT32Flow.cs
Labels: cpu, enhancement

#3153 Decoder: Exit on trapping instructions, and resume execution at trapping instruction
  ARMeilleure/Decoders/Decoder.cs
  ARMeilleure/Instructions/InstEmitException.cs
  ARMeilleure/Instructions/InstEmitException32.cs
Labels: cpu, enhancement

#3177 Decoders: Fix instruction lengths for 16-bit branch instructions
  ARMeilleure/Decoders/OpCodeT16BImm11.cs
  ARMeilleure/Decoders/OpCodeT16BImm8.cs
Labels: cpu, fix

#3179 A32: Fix ALU immediate instructions
  ARMeilleure/Instructions/InstEmitAluHelper.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  Ryujinx.Tests/Cpu/CpuTestAluImm32.cs
Labels: cpu, fix

#3054 Only initialize shader outputs that are actually used on the next stage
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/Decoders/Decoder.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
  Ryujinx.Graphics.Shader/Translation/UInt128.cs
Labels: enhancement, gpu

#3176 Mod loading from atmosphere SD directories
  Ryujinx.Common/Configuration/AppDataManager.cs
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.HLE/HOS/ModLoader.cs
  Ryujinx/Ui/Widgets/GameTableContextMenu.Designer.cs
  Ryujinx/Ui/Widgets/GameTableContextMenu.cs
Labels: enhancement

#3181 amadeus: Fix wrong Span usage in CopyHistories
  Ryujinx.Audio/Renderer/Server/Performance/PerformanceManagerGeneric.cs
Labels: audio, fix

#3180 KThread: Fix GetPsr mask
  ARMeilleure/State/ExecutionContext.cs
  ARMeilleure/State/NativeContext.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KThread.cs
  Ryujinx.Tests/Cpu/CpuTest32.cs
Labels: cpu, enhancement

#3188 Limit number of events that can be retrieved from GetDisplayVSyncEvent
  Ryujinx.HLE/HOS/Services/Vi/IApplicationRootService.cs
  Ryujinx.HLE/HOS/Services/Vi/IManagerRootService.cs
  Ryujinx.HLE/HOS/Services/Vi/ISystemRootService.cs
  Ryujinx.HLE/HOS/Services/Vi/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Vi/RootService/IApplicationDisplayService.cs
Labels: fix, service:vi

#3187 Fix GetUserDisableCount NRE
  Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
Labels: fix, kernel

#3084 Implement rotate stick 90 degrees clockwise
  Ryujinx.Common/Configuration/Hid/Controller/JoyconConfigControllerStick.cs
  Ryujinx.Headless.SDL2/Program.cs
  Ryujinx.Input.SDL2/SDL2Gamepad.cs
  Ryujinx/Ui/Windows/ControllerWindow.cs
  Ryujinx/Ui/Windows/ControllerWindow.glade
Labels: enhancement, input

#3190 olsc: Implement GetSaveDataBackupSetting
  Ryujinx.HLE/HOS/Services/Olsc/IOlscServiceForApplication.cs
Labels: service-implementation, service:olsc

#3196 Do not initialize geometry shader passthrough attributes
  Ryujinx.Graphics.Shader/Translation/Translator.cs
Labels: gpu, fix

#3198 Initialize indexed inputs used on next shader stage
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
  Ryujinx.Graphics.Shader/Translation/UInt128.cs
Labels: gpu, fix

#3170 Ui: Add option to show/hide console window (Windows-only)
  Ryujinx/Configuration/ConfigurationFileFormat.cs
  Ryujinx/Configuration/ConfigurationState.cs
  Ryujinx/Ui/Helper/ConsoleHelper.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
Labels: enhancement, gui

#2861 Dynamically increase buffer size when resizing
  Ryujinx.Graphics.Gpu/Memory/BufferCache.cs
Labels: enhancement, gpu, performance

#2458 Implement S8D24 texture format
  Ryujinx.Graphics.GAL/Format.cs
  Ryujinx.Graphics.Gpu/Engine/Types/ZetaFormat.cs
  Ryujinx.Graphics.Gpu/Image/FormatTable.cs
  Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
  Ryujinx.Graphics.OpenGL/FormatTable.cs
  Ryujinx.Graphics.OpenGL/Framebuffer.cs
  Ryujinx.Graphics.OpenGL/Image/FormatConverter.cs
  Ryujinx.Graphics.OpenGL/Image/TextureCopy.cs
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
Labels: gpu, fix

#2761 Caching local network info and using an event handler to invalidate as needed (improves menu slow down issue in FE3H)
  Ryujinx.HLE/HOS/Services/Nifm/StaticService/IGeneralService.cs
Labels: service:nifm, performance

#3192 ntc: Implement IEnsureNetworkClockAvailabilityService
  Ryujinx.Common/Logging/LogClass.cs
  Ryujinx.HLE/HOS/Services/Nim/Ntc/IStaticService.cs
  Ryujinx.HLE/HOS/Services/Nim/Ntc/StaticService/IEnsureNetworkClockAvailabilityService.cs
  Ryujinx.HLE/HOS/Services/Time/ResultCode.cs
Labels: stub, service-implementation, service:nim

#3193 InstEmitMemoryEx: Barrier after write on ordered store
  ARMeilleure/Instructions/InstEmitMemoryEx.cs
  ARMeilleure/Instructions/InstEmitMemoryEx32.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, fix

#3208 oslc: Fix condition in GetSaveDataBackupSetting
  Ryujinx.HLE/HOS/Services/Olsc/IOlscServiceForApplication.cs
Labels: fix, service:olsc

#3217 Fix OpenGL issues with RTSS overlays and OBS Game Capture
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/Window.cs
Labels: gpu, fix

#3207 De-tile GOB when DMA copying from block linear to pitch kind memory regions
  Ryujinx.Graphics.Gpu/Engine/Dma/DmaClass.cs
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  Ryujinx.Graphics.Gpu/Memory/MemoryManager.cs
  Ryujinx.Graphics.Gpu/Memory/PteKind.cs
  Ryujinx.Graphics.Gpu/Memory/ResourceName.cs
  Ryujinx.Graphics.Nvdec/Image/SurfaceReader.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostAsGpu/NvHostAsGpuDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostChannel/NvHostChannelDeviceFile.cs
Labels: gpu, fix

#3219 Don't restore Viewport 0 if it hasn't been set yet.
  Ryujinx.Graphics.OpenGL/Pipeline.cs
Labels: gpu, fix

#3220 Memory.Tests: Make Multithreading test explicit
  Ryujinx.Memory.Tests/TrackingTests.cs
Labels: fix

#3210 hle: Some cleanup
  Ryujinx.HLE/FileSystem/Content/ContentPath.cs
  Ryujinx.HLE/FileSystem/Content/LocationHelper.cs
  Ryujinx.HLE/FileSystem/Content/StorageId.cs
  Ryujinx.HLE/FileSystem/Content/TitleType.cs
  Ryujinx.HLE/FileSystem/ContentManager.cs
  Ryujinx.HLE/FileSystem/ContentPath.cs
  Ryujinx.HLE/FileSystem/EncryptedFileSystemCreator.cs
  Ryujinx.HLE/FileSystem/LocationEntry.cs
  Ryujinx.HLE/FileSystem/SaveDataType.cs
  Ryujinx.HLE/FileSystem/SaveInfo.cs
  Ryujinx.HLE/FileSystem/SaveSpaceId.cs
  Ryujinx.HLE/FileSystem/StorageId.cs
  Ryujinx.HLE/FileSystem/SystemVersion.cs
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
  Ryujinx.HLE/HLEConfiguration.cs
  Ryujinx.HLE/HOS/Applets/Error/ErrorApplet.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/Arp/ApplicationLaunchProperty.cs
  Ryujinx.HLE/HOS/Services/Fs/IFileSystemProxy.cs
  Ryujinx.HLE/HOS/Services/Hid/Hid.cs
  Ryujinx.HLE/HOS/Services/Ncm/Lr/ILocationResolverManager.cs
  Ryujinx.HLE/HOS/Services/Ncm/Lr/LocationResolverManager/ILocationResolver.cs
  Ryujinx.HLE/HOS/Services/Nim/IShopServiceAccessServerInterface.cs
  Ryujinx.HLE/HOS/Services/Sdb/Pl/SharedFontManager.cs
  Ryujinx.HLE/HOS/Services/Settings/ISystemSettingsServer.cs
  Ryujinx.HLE/HOS/Services/Spl/IGeneralInterface.cs
  Ryujinx.HLE/HOS/Services/Ssl/BuiltInCertificateManager.cs
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZoneContentManager.cs
  Ryujinx.HLE/Switch.cs
  Ryujinx.Headless.SDL2/Program.cs
  Ryujinx/Ui/Helper/SetupValidator.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/Windows/AvatarWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.cs
  Ryujinx/Ui/Windows/UserProfilesManagerWindow.cs
Labels: enhancement, horizon

#3218 infra: Put SDL2 headless release inside a GUI-less block in PR
  .github/workflows/nightly_pr_comment.yml
Labels: miscellaneous, infra
