Repository Ryujinx/Ryujinx, pull requests merged in 2022-01, with the labels that each got.

#2963 misc: Improve DNS blacklist for Nintendo servers
  Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/Proxy/DnsBlacklist.cs
Labels: miscellaneous, service:sockets

#2964 Add Cheat Manager
  Ryujinx.HLE/HOS/ModLoader.cs
  Ryujinx.HLE/HOS/Tamper/AtmosphereProgram.cs
  Ryujinx.HLE/HOS/Tamper/ITamperProgram.cs
  Ryujinx.HLE/HOS/TamperMachine.cs
  Ryujinx.HLE/Switch.cs
  Ryujinx/Ryujinx.csproj
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
  Ryujinx/Ui/Widgets/GameTableContextMenu.Designer.cs
  Ryujinx/Ui/Widgets/GameTableContextMenu.cs
  Ryujinx/Ui/Windows/CheatWindow.cs
  Ryujinx/Ui/Windows/CheatWindow.glade
Labels: enhancement

#2951 ffmpeg: Add extra checks and error messages
  Ryujinx.Graphics.Nvdec.FFmpeg/FFmpegContext.cs
Labels: fix, nvdec

#2783 Implement analog stick range modifier
  Ryujinx.Common/Configuration/Hid/Controller/GenericControllerInputConfig.cs
  Ryujinx.Headless.SDL2/Program.cs
  Ryujinx.Input/HLE/NpadController.cs
  Ryujinx/Configuration/ConfigurationFileFormat.cs
  Ryujinx/Configuration/ConfigurationState.cs
  Ryujinx/Ui/Windows/ControllerWindow.cs
  Ryujinx/Ui/Windows/ControllerWindow.glade
Labels: enhancement, gui, input

#2962 sfdnsres: Implement NSD resolution
  Ryujinx.HLE/HOS/Services/Sockets/Nsd/IManager.cs
  Ryujinx.HLE/HOS/Services/Sockets/Nsd/Manager/FqdnResolver.cs
  Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/IResolver.cs
Labels: enhancement, service:sockets

#2937 CPU - Implement FCVTMS (Vector)
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitSimdCvt.cs
  ARMeilleure/Instructions/InstName.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  Ryujinx.Tests/Cpu/CpuTestSimd.cs
Labels: cpu, enhancement

#2763 Add support for render scale to vertex stage.
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.GAL/Multithreading/Commands/UpdateRenderScaleCommand.cs
  Ryujinx.Graphics.GAL/Multithreading/ThreadedPipeline.cs
  Ryujinx.Graphics.GAL/SupportBufferUpdater.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/DefaultNames.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/TexelFetchScale_fp.glsl
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/TexelFetchScale_vp.glsl
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  Ryujinx.Graphics.Shader/Ryujinx.Graphics.Shader.csproj
  Ryujinx.Graphics.Shader/ShaderStage.cs
  Ryujinx.Graphics.Shader/SupportBuffer.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
Labels: gpu, fix

#2983 Return error on DNS resolution when guest internet access is disabled
  Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/IResolver.cs
Labels: fix, service:sockets

#2971 Texture Sync, incompatible overlap handling, data flush improvements.
  Ryujinx.Graphics.GAL/ITexture.cs
  Ryujinx.Graphics.GAL/Multithreading/CommandHelper.cs
  Ryujinx.Graphics.GAL/Multithreading/CommandType.cs
  Ryujinx.Graphics.GAL/Multithreading/Commands/Texture/TextureGetDataSliceCommand.cs
  Ryujinx.Graphics.GAL/Multithreading/Resources/ThreadedTexture.cs
  Ryujinx.Graphics.Gpu/Engine/Dma/DmaClass.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoClass.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClass.cs
  Ryujinx.Graphics.Gpu/GpuContext.cs
  Ryujinx.Graphics.Gpu/Image/AutoDeleteCache.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
  Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  Ryujinx.Graphics.Gpu/Image/TextureGroupHandle.cs
  Ryujinx.Graphics.Gpu/Image/TextureViewCompatibility.cs
  Ryujinx.Graphics.Gpu/Memory/MultiRangeWritableBlock.cs
  Ryujinx.Graphics.Gpu/Memory/PhysicalMemory.cs
  Ryujinx.Graphics.OpenGL/Image/TextureBuffer.cs
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
  Ryujinx.Graphics.OpenGL/PersistentBuffers.cs
  Ryujinx.Graphics.Texture/LayoutConverter.cs
  Ryujinx.Graphics.Texture/SizeCalculator.cs
  Ryujinx.Graphics.Texture/SizeInfo.cs
  Ryujinx.Memory/Range/MultiRange.cs
  Ryujinx/Ui/RendererWidgetBase.cs
Labels: gpu, fix

#2984 Fix sampled multisample texture size
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
Labels: gpu, fix

#2972 Implement IMUL, PCNT and CONT shader instructions, fix FFMA32I and HFMA32I
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/Decoders/Decoder.cs
  Ryujinx.Graphics.Shader/Decoders/InstDecoders.cs
  Ryujinx.Graphics.Shader/Decoders/InstTable.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmit.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitFloatArithmetic.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitFlowControl.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitIntegerArithmetic.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
Labels: gpu, fix

#2990 sfdnsres: Block communication attempt with NPLN servers
  Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/Proxy/DnsBlacklist.cs
Labels: miscellaneous, service:sockets

#2991 account: Rework LoadIdTokenCache to auto generate a random JWT token
  Ryujinx.HLE/HOS/Services/Account/Acc/AccountService/ManagerServer.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
Labels: miscellaneous, service:account

#2993 Fix adjacent 3d texture slices being detected as Incompatible Overlaps
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
Labels: gpu, fix

#2994 Fix render target clear when sizes mismatch
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.GAL/RectangleF.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/DrawManager.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClass.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClassState.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
Labels: gpu, fix

#2986 Update to LibHac 0.15.0
  Ryujinx.HLE/FileSystem/Content/ContentManager.cs
  Ryujinx.HLE/FileSystem/Content/LocationEntry.cs
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
  Ryujinx.HLE/HLEConfiguration.cs
  Ryujinx.HLE/HOS/Applets/Error/ErrorApplet.cs
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/ModLoader.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/FileSystemProxyHelper.cs
  Ryujinx.HLE/HOS/Services/Fs/IFileSystemProxy.cs
  Ryujinx.HLE/HOS/Services/Ncm/Lr/LocationResolverManager/ILocationResolver.cs
  Ryujinx.HLE/HOS/Services/Ro/IRoInterface.cs
  Ryujinx.HLE/HOS/Services/Sdb/Pl/SharedFontManager.cs
  Ryujinx.HLE/HOS/Services/Settings/ISystemSettingsServer.cs
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZoneContentManager.cs
  Ryujinx.HLE/Loaders/Executables/NroExecutable.cs
  Ryujinx.HLE/Loaders/Executables/NsoExecutable.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx.Headless.SDL2/Program.cs
  Ryujinx/Ui/App/ApplicationLibrary.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/Widgets/GameTableContextMenu.cs
  Ryujinx/Ui/Windows/AvatarWindow.cs
  Ryujinx/Ui/Windows/DlcWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.cs
  Ryujinx/Ui/Windows/TitleUpdateWindow.cs
Labels: miscellaneous, service:fs

#2992 sfdnsres: Fix serialization issues
  Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/IResolver.cs
  Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/Types/AddrInfo4.cs
  Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/Types/AddrInfoSerialized.cs
  Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/Types/AddrInfoSerializedHeader.cs
  Ryujinx.HLE/Utilities/StringUtils.cs
Labels: fix, service:sockets

#2960 bsd: Revamp API and make socket abstract
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/BsdContext.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/IClient.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/IFileDescriptor.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/ISocket.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Impl/EventFileDescriptor.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Impl/EventFileDescriptorPollManager.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Impl/ManagedSocket.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Impl/ManagedSocketPollManager.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Impl/WSAError.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Impl/WinSockHelper.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/BsdAddressFamily.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/BsdSockAddr.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/BsdSocket.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/BsdSocketCreationFlags.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/BsdSocketShutdownFlags.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/BsdSocketType.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/EventFdFlags.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/IPollManager.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/PollEvent.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/PollEventData.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/PollEventTypeMask.cs
Labels: enhancement, service:sockets

#2961 ssl: Implement SSL connectivity
  Ryujinx.HLE/FileSystem/Content/ContentManager.cs
  Ryujinx.HLE/HOS/Services/Ssl/BuiltInCertificateManager.cs
  Ryujinx.HLE/HOS/Services/Ssl/ISslService.cs
  Ryujinx.HLE/HOS/Services/Ssl/ResultCode.cs
  Ryujinx.HLE/HOS/Services/Ssl/SslService/ISslConnection.cs
  Ryujinx.HLE/HOS/Services/Ssl/SslService/ISslConnectionBase.cs
  Ryujinx.HLE/HOS/Services/Ssl/SslService/ISslContext.cs
  Ryujinx.HLE/HOS/Services/Ssl/SslService/SslManagedSocketConnection.cs
  Ryujinx.HLE/HOS/Services/Ssl/Types/BuiltInCertificateInfo.cs
  Ryujinx.HLE/HOS/Services/Ssl/Types/CaCertificateId.cs
  Ryujinx.HLE/HOS/Services/Ssl/Types/SslVersion.cs
  Ryujinx.HLE/HOS/Services/Ssl/Types/TrustedCertStatus.cs
Labels: enhancement, blocked, service:ssl

#3000 Fix return type mismatch on 32-bit titles
  ARMeilleure/Instructions/InstEmitFlowHelper.cs
  ARMeilleure/Instructions/InstEmitMemory.cs
Labels: cpu, fix

#2999 kernel: Fix deadlock when pinning in interrupt handler
  Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
Labels: fix, kernel

#3002 Scale scissor used for clears
  Ryujinx.Graphics.Gpu/Engine/Threed/DrawManager.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
Labels: gpu, fix

#2988 Readme overhaul
  README.md
Labels: miscellaneous

#3011 Add capability for BGRA formats
  Ryujinx.Graphics.GAL/Capabilities.cs
  Ryujinx.Graphics.Gpu/Shader/TextureDescriptorCapableGpuAccessor.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
Labels: enhancement, gpu

#3012 Stop using glTransformFeedbackVaryings and use explicit layout on the shader
  Ryujinx.Graphics.GAL/IRenderer.cs
  Ryujinx.Graphics.GAL/Multithreading/Resources/Programs/SourceProgramRequest.cs
  Ryujinx.Graphics.GAL/Multithreading/ThreadedRenderer.cs
  Ryujinx.Graphics.Gpu/Shader/CachedGpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessorState.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Gpu/Shader/TransformFeedbackDescriptor.cs
  Ryujinx.Graphics.OpenGL/Program.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/CodeGenContext.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Varying.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgram.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgramInfo.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
  Ryujinx.Graphics.Shader/Translation/TranslationFlags.cs
Labels: enhancement, gpu

#3015 Add host CPU memory barriers for DMB/DSB and ordered load/store
  ARMeilleure/CodeGen/X86/Assembler.cs
  ARMeilleure/CodeGen/X86/CodeGenerator.cs
  ARMeilleure/Instructions/InstEmitMemoryEx.cs
  ARMeilleure/IntermediateRepresentation/Instruction.cs
  ARMeilleure/Translation/EmitterContext.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, fix

#3019 Fix deadlock for GPU counter report when 0 draws are done
  Ryujinx.Graphics.OpenGL/Queries/BufferedQuery.cs
  Ryujinx.Graphics.OpenGL/Queries/CounterQueue.cs
Labels: gpu, fix, needs-feedback

#2987 Add support for BC1/2/3 decompression (for 3D textures)
  Ryujinx.Graphics.GAL/Capabilities.cs
  Ryujinx.Graphics.GAL/Format.cs
  Ryujinx.Graphics.Gpu/GpuContext.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
  Ryujinx.Graphics.OpenGL/FormatTable.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.Texture/BCnDecoder.cs
Labels: gpu, fix

#3032 amadeus: Fix possible device sink input out of bound
  Ryujinx.Audio/Renderer/Dsp/Command/DeviceSinkCommand.cs
Labels: audio, fix

#3034 Fix calls passing V128 values on Linux
  ARMeilleure/CodeGen/X86/PreAllocator.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, fix

#3041 Fix: Autoupdater doesn't set the correct permissions on Linux/Unix
  Ryujinx/Modules/Updater/Updater.cs
Labels: fix

#3046 Fix res scale parameters not being updated in vertex shader
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
Labels: gpu, fix

#3049 Add timestamp to 16-byte/4-word semaphore releases.
  Ryujinx.Graphics.Gpu/Engine/Dma/DmaClass.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoClass.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/SemaphoreUpdater.cs
  Ryujinx.Graphics.Gpu/GpuContext.cs
Labels: gpu, fix

#3042 kernel: A bit of refactoring and fix GetThreadContext3 correctness
  Ryujinx.HLE/HOS/Kernel/Common/KernelTransfer.cs
  Ryujinx.HLE/HOS/Kernel/Memory/KPageTableBase.cs
  Ryujinx.HLE/HOS/Kernel/Memory/MemoryPermission.cs
  Ryujinx.HLE/HOS/Kernel/Memory/MemoryState.cs
  Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
  Ryujinx.HLE/HOS/Kernel/Process/KProcessCapabilities.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/InvalidSvcException.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/MemoryInfo.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall32.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall64.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/ThreadContext.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KAddressArbiter.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KThread.cs
  Ryujinx.HLE/HOS/Services/IpcService.cs
  Ryujinx.HLE/HOS/Services/Nv/INvDrvServices.cs
  Ryujinx.HLE/HOS/Services/ServerBase.cs
Labels: enhancement, kernel

#3061 Fix small precision error on CPU reciprocal estimate instructions
  ARMeilleure/Instructions/InstEmitSimdArithmetic.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, fix

#3067 Fix bug that could cause depth buffer to be missing after clear
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
Labels: gpu, fix
