Repository Ryujinx/Ryujinx, pull requests merged in 2022-09, with the labels that each got.

#3658 sfdsnres: fix endianess issue for port serialisation
  Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/Types/AddrInfo4.cs
Labels: fix, service:sockets

#3659 bsd: Fix Poll(0) returning ETIMEDOUT instead of SUCCESS
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/IClient.cs
Labels: fix, service:sockets

#3642 Change vsync signal to happen at 60hz, regardless of swap interval
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/SurfaceFlinger.cs
Labels: gpu, fix

#3652 Bsd: Fix NullReferenceException in BsdSockAddr.FromIPEndPoint()
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/IClient.cs
Labels: fix, service:sockets

#3660 bsd: implement SendMMsg and RecvMMsg
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/IClient.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/ISocket.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Impl/ManagedSocket.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/BsdMMsgHdr.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/BsdMsgHdr.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/TimeVal.cs
Labels: enhancement, service:sockets

#3661 bsd: improve socket poll
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Impl/ManagedSocketPollManager.cs
Labels: fix, service:sockets

#3672 Transform shader LDC into constant buffer access if offset is constant
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/ConstantFolding.cs
Labels: gpu, fix

#3665 Implemented in IR the managed methods of the Saturating region ...
  ARMeilleure/Instructions/InstEmitSimdHelper.cs
  ARMeilleure/Instructions/InstEmitSimdShift.cs
  ARMeilleure/Instructions/SoftFallback.cs
  ARMeilleure/Translation/Delegates.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, performance

#2751 Clean up rejit queue
  ARMeilleure/Common/AddressTable.cs
  ARMeilleure/Diagnostics/EventSources/AddressTableEventSource.cs
  ARMeilleure/Diagnostics/TranslatorEventSource.cs
  ARMeilleure/Translation/Translator.cs
  ARMeilleure/Translation/TranslatorQueue.cs
Labels: cpu, enhancement

#3679 Restride vertex buffer when stride causes attributes to misalign in Vulkan.
  Ryujinx.Graphics.GAL/Format.cs
  Ryujinx.Graphics.Vulkan/BufferHolder.cs
  Ryujinx.Graphics.Vulkan/BufferManager.cs
  Ryujinx.Graphics.Vulkan/BufferState.cs
  Ryujinx.Graphics.Vulkan/CacheByRange.cs
  Ryujinx.Graphics.Vulkan/DescriptorSetUpdater.cs
  Ryujinx.Graphics.Vulkan/HardwareCapabilities.cs
  Ryujinx.Graphics.Vulkan/HelperShader.cs
  Ryujinx.Graphics.Vulkan/PipelineBase.cs
  Ryujinx.Graphics.Vulkan/PipelineConverter.cs
  Ryujinx.Graphics.Vulkan/PipelineFull.cs
  Ryujinx.Graphics.Vulkan/PipelineHelperShader.cs
  Ryujinx.Graphics.Vulkan/PipelineLayoutFactory.cs
  Ryujinx.Graphics.Vulkan/Shaders/ChangeBufferStrideShaderSource.comp
  Ryujinx.Graphics.Vulkan/Shaders/ShaderBinaries.cs
  Ryujinx.Graphics.Vulkan/VertexBufferState.cs
  Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, fix

#3677 Implement VRSRA, VRSHRN, VQSHRUN, VQMOVN, VQMOVUN, VQADD, VQSUB, VRHADD, VPADDL, VSUBL, VQDMULH and VMLAL Arm32 NEON instructions
  ARMeilleure/Decoders/OpCode32SimdMovn.cs
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitSimdArithmetic32.cs
  ARMeilleure/Instructions/InstEmitSimdHelper.cs
  ARMeilleure/Instructions/InstEmitSimdHelper32.cs
  ARMeilleure/Instructions/InstEmitSimdShift32.cs
  ARMeilleure/Instructions/InstEmitSystem32.cs
  ARMeilleure/Instructions/InstName.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  Ryujinx.Tests/Cpu/CpuTestSimd32.cs
  Ryujinx.Tests/Cpu/CpuTestSimdReg32.cs
  Ryujinx.Tests/Cpu/CpuTestSimdShImm32.cs
Labels: cpu, enhancement

#3683 Add ADD (zx imm12), NOP, MOV (rs), LDA, TBB, TBH, MOV (zx imm16) and CLZ thumb instructions
  ARMeilleure/Decoders/Decoder.cs
  ARMeilleure/Decoders/DecoderHelper.cs
  ARMeilleure/Decoders/IOpCode32Mem.cs
  ARMeilleure/Decoders/OpCodeT16Adr.cs
  ARMeilleure/Decoders/OpCodeT32AluImm12.cs
  ARMeilleure/Decoders/OpCodeT32AluReg.cs
  ARMeilleure/Decoders/OpCodeT32MemImm8D.cs
  ARMeilleure/Decoders/OpCodeT32MovImm16.cs
  ARMeilleure/Decoders/OpCodeT32ShiftReg.cs
  ARMeilleure/Decoders/OpCodeT32Tb.cs
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitFlow32.cs
  ARMeilleure/Instructions/InstEmitMemory32.cs
  ARMeilleure/Instructions/InstEmitMemoryHelper.cs
  ARMeilleure/Instructions/InstName.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, fix

#3276 Allocate work buffer for audio renderer instead of using guest supplied memory
  Ryujinx.Audio/Renderer/Server/AudioRenderSystem.cs
  Ryujinx.Audio/Renderer/Server/AudioRendererManager.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManager.cs
  Ryujinx.HLE/HOS/Services/Audio/AudioRendererManagerServer.cs
Labels: fix, service:audio

#3605 Rebind textures if format changes or they're buffer textures
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
Labels: gpu, fix

#3688 Update README.MD verbiage and compatibility
  README.md
Labels: enhancement, infra

#3644 Do not output ViewportIndex on SPIR-V if GPU does not support it
  Ryujinx.Graphics.GAL/Capabilities.cs
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessorBase.cs
  Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
  Ryujinx.Graphics.Shader/Translation/AttributeInfo.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, fix

#3687 Implement Thumb (32-bit) memory (ordered), multiply, extension and bitfield instructions
  ARMeilleure/Decoders/IOpCode32AluBf.cs
  ARMeilleure/Decoders/IOpCode32AluImm16.cs
  ARMeilleure/Decoders/IOpCode32AluMla.cs
  ARMeilleure/Decoders/IOpCode32AluUmull.cs
  ARMeilleure/Decoders/OpCode32AluBf.cs
  ARMeilleure/Decoders/OpCode32AluImm16.cs
  ARMeilleure/Decoders/OpCode32AluMla.cs
  ARMeilleure/Decoders/OpCode32AluUmull.cs
  ARMeilleure/Decoders/OpCodeT32AluBf.cs
  ARMeilleure/Decoders/OpCodeT32AluMla.cs
  ARMeilleure/Decoders/OpCodeT32AluUmull.cs
  ARMeilleure/Decoders/OpCodeT32AluUx.cs
  ARMeilleure/Decoders/OpCodeT32BImm24.cs
  ARMeilleure/Decoders/OpCodeT32MemLdEx.cs
  ARMeilleure/Decoders/OpCodeT32MemStEx.cs
  ARMeilleure/Decoders/OpCodeT32MovImm16.cs
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitAlu32.cs
  ARMeilleure/Instructions/InstEmitAluHelper.cs
  ARMeilleure/Instructions/InstEmitMemoryEx32.cs
  ARMeilleure/Instructions/InstEmitMul32.cs
Labels: cpu, enhancement

#3690 T32: Add Vfp instructions
  ARMeilleure/Decoders/OpCode32.cs
  ARMeilleure/Decoders/OpCode32SimdCvtFI.cs
  ARMeilleure/Decoders/OpCode32SimdDupGP.cs
  ARMeilleure/Decoders/OpCode32SimdImm44.cs
  ARMeilleure/Decoders/OpCode32SimdMemImm.cs
  ARMeilleure/Decoders/OpCode32SimdMemMult.cs
  ARMeilleure/Decoders/OpCode32SimdMovGp.cs
  ARMeilleure/Decoders/OpCode32SimdMovGpDouble.cs
  ARMeilleure/Decoders/OpCode32SimdMovGpElem.cs
  ARMeilleure/Decoders/OpCode32SimdRegS.cs
  ARMeilleure/Decoders/OpCode32SimdS.cs
  ARMeilleure/Decoders/OpCode32SimdSel.cs
  ARMeilleure/Decoders/OpCode32SimdSpecial.cs
  ARMeilleure/Decoders/OpCodeT16.cs
  ARMeilleure/Decoders/OpCodeT32.cs
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitAluHelper.cs
  ARMeilleure/Instructions/InstEmitFlow32.cs
Labels: cpu, enhancement

#3691 Implement VRINT (vector) Arm32 NEON instructions
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitSimdCvt32.cs
  ARMeilleure/Instructions/InstName.cs
  Ryujinx.Tests/Cpu/CpuTestSimdCvt32.cs
Labels: cpu, enhancement

#3680 Scale SamplesPassed counter by RT scale on report
  Ryujinx.Graphics.Gpu/Engine/Threed/SemaphoreUpdater.cs
Labels: gpu, fix

#3696 Fix R4G4B4A4 format on Vulkan
  Ryujinx.Graphics.Vulkan/FormatCapabilities.cs
  Ryujinx.Graphics.Vulkan/FormatTable.cs
  Ryujinx.Graphics.Vulkan/TextureView.cs
Labels: gpu, fix

#3695 Fix increment on Arm32 NEON VLDn/VSTn instructions with regs > 1
  ARMeilleure/Decoders/OpCode32SimdMemPair.cs
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitSimdMemory32.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  Ryujinx.Tests/Cpu/CpuTestSimdMemory32.cs
Labels: cpu, fix

#3697 Fix bindless 1D textures having a buffer type on the shader
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/Operation.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/TextureOperation.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessElimination.cs
Labels: gpu, fix

#3692 T32: Implement Asimd instructions
  ARMeilleure/Decoders/OpCode32Simd.cs
  ARMeilleure/Decoders/OpCode32SimdBase.cs
  ARMeilleure/Decoders/OpCode32SimdBinary.cs
  ARMeilleure/Decoders/OpCode32SimdCmpZ.cs
  ARMeilleure/Decoders/OpCode32SimdDupElem.cs
  ARMeilleure/Decoders/OpCode32SimdExt.cs
  ARMeilleure/Decoders/OpCode32SimdImm.cs
  ARMeilleure/Decoders/OpCode32SimdLong.cs
  ARMeilleure/Decoders/OpCode32SimdMemPair.cs
  ARMeilleure/Decoders/OpCode32SimdMemSingle.cs
  ARMeilleure/Decoders/OpCode32SimdMovn.cs
  ARMeilleure/Decoders/OpCode32SimdReg.cs
  ARMeilleure/Decoders/OpCode32SimdRegElem.cs
  ARMeilleure/Decoders/OpCode32SimdRegElemLong.cs
  ARMeilleure/Decoders/OpCode32SimdRegLong.cs
  ARMeilleure/Decoders/OpCode32SimdRegWide.cs
  ARMeilleure/Decoders/OpCode32SimdRev.cs
  ARMeilleure/Decoders/OpCode32SimdShImm.cs
  ARMeilleure/Decoders/OpCode32SimdShImmLong.cs
  ARMeilleure/Decoders/OpCode32SimdShImmNarrow.cs
  ARMeilleure/Decoders/OpCode32SimdSqrte.cs
  ARMeilleure/Decoders/OpCode32SimdTbl.cs
  ARMeilleure/Decoders/OpCodeTable.cs
Labels: cpu, enhancement

#3693 Implement PLD and SUB (imm16) on T32, plus UADD8, SADD8, USUB8 and SSUB8 on both A32 and T32
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitAlu32.cs
  ARMeilleure/Instructions/InstName.cs
  ARMeilleure/State/PState.cs
  Ryujinx.Tests/Cpu/CpuTest32.cs
  Ryujinx.Tests/Cpu/CpuTestAlu32.cs
Labels: cpu, enhancement

#3702 Fix partial unmap reprotection on Windows
  Ryujinx.Memory/WindowsShared/PlaceholderManager.cs
Labels: miscellaneous, fix

#3689 Periodically Flush Commands for Vulkan
  Ryujinx.Graphics.Vulkan/AutoFlushCounter.cs
  Ryujinx.Graphics.Vulkan/PipelineBase.cs
  Ryujinx.Graphics.Vulkan/PipelineFull.cs
Labels: gpu, performance

#3694 A32/T32/A64: Implement Hint instructions (CSDB, SEV, SEVL, WFE, WFI, YIELD)
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitMemoryEx.cs
  ARMeilleure/Instructions/InstEmitSystem.cs
  ARMeilleure/Instructions/InstName.cs
Labels: cpu, enhancement

#3700 Implemented in IR the managed methods of the ShlReg region of the SoftFallback class.
  ARMeilleure/Instructions/InstEmitSimdHelper.cs
  ARMeilleure/Instructions/InstEmitSimdShift.cs
  ARMeilleure/Instructions/SoftFallback.cs
  ARMeilleure/Translation/Delegates.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, performance

#3706 Allow bindless textures with handles from unbound constant buffer
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Shader/TextureHandle.cs
Labels: gpu, fix

#3643 Avalonia - Misc changes to UX
  Ryujinx.Ava/AppHost.cs
  Ryujinx.Ava/Assets/Locales/en_US.json
  Ryujinx.Ava/Assets/Styles/Styles.xaml
  Ryujinx.Ava/Ui/Models/StatusUpdatedEventArgs.cs
  Ryujinx.Ava/Ui/ViewModels/ControllerSettingsViewModel.cs
  Ryujinx.Ava/Ui/ViewModels/MainWindowViewModel.cs
  Ryujinx.Ava/Ui/Windows/ControllerSettingsWindow.axaml
  Ryujinx.Ava/Ui/Windows/MainWindow.axaml
  Ryujinx.Ava/Ui/Windows/MainWindow.axaml.cs
  Ryujinx.Ava/Ui/Windows/SettingsWindow.axaml
Labels: enhancement, gui

#3596 OpenGL: Fix blit from non-multisample to multisample texture
  Ryujinx.Graphics.OpenGL/Image/IntermmediatePool.cs
  Ryujinx.Graphics.OpenGL/Image/TextureCopy.cs
  Ryujinx.Graphics.OpenGL/Image/TextureCopyMS.cs
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
  Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
Labels: gpu, fix

#3715 Convert Quads to Triangles in Vulkan
  Ryujinx.Graphics.Vulkan/BufferHolder.cs
  Ryujinx.Graphics.Vulkan/BufferManager.cs
  Ryujinx.Graphics.Vulkan/BufferState.cs
  Ryujinx.Graphics.Vulkan/CacheByRange.cs
  Ryujinx.Graphics.Vulkan/EnumConversion.cs
  Ryujinx.Graphics.Vulkan/HelperShader.cs
  Ryujinx.Graphics.Vulkan/IndexBufferPattern.cs
  Ryujinx.Graphics.Vulkan/IndexBufferState.cs
  Ryujinx.Graphics.Vulkan/PipelineBase.cs
  Ryujinx.Graphics.Vulkan/PipelineConverter.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: enhancement, gpu

#3701 Fpsr and Fpcr freed.
  ARMeilleure/Instructions/InstEmitSimdArithmetic.cs
  ARMeilleure/Instructions/InstEmitSimdCmp32.cs
  ARMeilleure/Instructions/InstEmitSimdCvt.cs
  ARMeilleure/Instructions/InstEmitSimdCvt32.cs
  ARMeilleure/Instructions/InstEmitSimdHelper.cs
  ARMeilleure/Instructions/InstEmitSimdHelper32.cs
  ARMeilleure/Instructions/InstEmitSimdShift32.cs
  ARMeilleure/Instructions/InstEmitSystem.cs
  ARMeilleure/Instructions/InstEmitSystem32.cs
  ARMeilleure/Instructions/NativeInterface.cs
  ARMeilleure/Instructions/SoftFallback.cs
  ARMeilleure/Instructions/SoftFloat.cs
  ARMeilleure/State/ExecutionContext.cs
  ARMeilleure/State/FPCR.cs
  ARMeilleure/State/FPSCR.cs
  ARMeilleure/State/FPSR.cs
  ARMeilleure/State/FPState.cs
  ARMeilleure/State/NativeContext.cs
  ARMeilleure/Translation/Delegates.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  Ryujinx.Tests/Cpu/CpuTest32.cs
Labels: cpu, performance

#3718 Fix ListOpenContextStoredUsers and stub LoadOpenContext
  Ryujinx.HLE/HOS/Services/Account/Acc/AccountManager.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/AccountService/ManagerServer.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/ApplicationServiceServer.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/IAccountServiceForApplication.cs
Labels: fix, service:account

#3719 Vulkan: Zero blend state when disabled or write mask is 0
  Ryujinx.Graphics.Vulkan/PipelineBase.cs
  Ryujinx.Graphics.Vulkan/PipelineConverter.cs
Labels: gpu, performance
