Repository Ryujinx/Ryujinx, pull requests merged in 2022-12, with the labels that each got.

#3934 infra: Add distribution files for macOS
  distribution/macos/Info.plist
  distribution/macos/Ryujinx.icns
  distribution/macos/bundle_fix_up.py
  distribution/macos/construct_universal_dylib.py
  distribution/macos/create_app_bundle.sh
  distribution/macos/create_macos_release.sh
  distribution/macos/entitlements.xml
  distribution/misc/add_tar_exec.py
Labels: miscellaneous, infra

#3952 GPU: Track buffer migrations and flush source on incomplete copy
  Ryujinx.Graphics.GAL/IRenderer.cs
  Ryujinx.Graphics.GAL/Multithreading/ThreadedRenderer.cs
  Ryujinx.Graphics.Gpu/GpuContext.cs
  Ryujinx.Graphics.Gpu/Memory/Buffer.cs
  Ryujinx.Graphics.Gpu/Memory/BufferCache.cs
  Ryujinx.Graphics.Gpu/Memory/BufferMigration.cs
  Ryujinx.Graphics.Gpu/Memory/BufferModifiedRangeList.cs
  Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  Ryujinx.Graphics.OpenGL/Sync.cs
  Ryujinx.Graphics.Vulkan/SyncManager.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, fix

#3967 Better SDL2 Audio Init Error Logging
  Ryujinx.Audio.Backends.SDL2/SDL2HardwareDeviceDriver.cs
  Ryujinx.SDL2.Common/SDL2Driver.cs
Labels: miscellaneous

#3953 chore: Update Silk.NET to 2.16.0
  Ryujinx.Ava/Ryujinx.Ava.csproj
  Ryujinx.Graphics.Vulkan/BufferHolder.cs
  Ryujinx.Graphics.Vulkan/BufferManager.cs
  Ryujinx.Graphics.Vulkan/CommandBufferPool.cs
  Ryujinx.Graphics.Vulkan/DescriptorSetUpdater.cs
  Ryujinx.Graphics.Vulkan/EnumConversion.cs
  Ryujinx.Graphics.Vulkan/FormatCapabilities.cs
  Ryujinx.Graphics.Vulkan/FramebufferParams.cs
  Ryujinx.Graphics.Vulkan/HelperShader.cs
  Ryujinx.Graphics.Vulkan/MemoryAllocator.cs
  Ryujinx.Graphics.Vulkan/PipelineBase.cs
  Ryujinx.Graphics.Vulkan/PipelineConverter.cs
  Ryujinx.Graphics.Vulkan/PipelineDynamicState.cs
  Ryujinx.Graphics.Vulkan/PipelineFull.cs
  Ryujinx.Graphics.Vulkan/PipelineLayoutFactory.cs
  Ryujinx.Graphics.Vulkan/Queries/BufferedQuery.cs
  Ryujinx.Graphics.Vulkan/Ryujinx.Graphics.Vulkan.csproj
  Ryujinx.Graphics.Vulkan/ShaderCollection.cs
  Ryujinx.Graphics.Vulkan/TextureCopy.cs
  Ryujinx.Graphics.Vulkan/TextureStorage.cs
  Ryujinx.Graphics.Vulkan/TextureView.cs
  Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
  Ryujinx.Graphics.Vulkan/Window.cs
Labels: gpu, miscellaneous, graphics-backend:vulkan

#3955 Ava GUI: Make Dialogue More Intuitive
  Ryujinx.Ava/Assets/Locales/de_DE.json
  Ryujinx.Ava/Assets/Locales/el_GR.json
  Ryujinx.Ava/Assets/Locales/en_US.json
  Ryujinx.Ava/Assets/Locales/es_ES.json
  Ryujinx.Ava/Assets/Locales/fr_FR.json
  Ryujinx.Ava/Assets/Locales/it_IT.json
  Ryujinx.Ava/Assets/Locales/ja_JP.json
  Ryujinx.Ava/Assets/Locales/ko_KR.json
  Ryujinx.Ava/Assets/Locales/pl_PL.json
  Ryujinx.Ava/Assets/Locales/pt_BR.json
  Ryujinx.Ava/Assets/Locales/ru_RU.json
  Ryujinx.Ava/Assets/Locales/tr_TR.json
  Ryujinx.Ava/Assets/Locales/zh_CN.json
  Ryujinx.Ava/Assets/Locales/zh_TW.json
  Ryujinx.Ava/Ui/ViewModels/SettingsViewModel.cs
  Ryujinx.Ava/Ui/Windows/SettingsWindow.axaml
  Ryujinx.Ava/Ui/Windows/SettingsWindow.axaml.cs
Labels: enhancement, gui

#3969 amadeus: Fix wrong SendCommands logic
  Ryujinx.Audio/Renderer/Dsp/AudioProcessor.cs
  Ryujinx.Audio/Renderer/Server/AudioRenderSystem.cs
Labels: audio, fix, needs-feedback

#3476 Avalonia - Save Manager
  Ryujinx.Ava/Assets/Locales/en_US.json
  Ryujinx.Ava/Assets/Styles/BaseDark.xaml
  Ryujinx.Ava/Assets/Styles/Styles.xaml
  Ryujinx.Ava/Common/ApplicationHelper.cs
  Ryujinx.Ava/Ui/Controls/NavigationDialogHost.axaml.cs
  Ryujinx.Ava/Ui/Controls/SaveManager.axaml
  Ryujinx.Ava/Ui/Controls/SaveManager.axaml.cs
  Ryujinx.Ava/Ui/Controls/UserEditor.axaml
  Ryujinx.Ava/Ui/Controls/UserEditor.axaml.cs
  Ryujinx.Ava/Ui/Controls/UserRecoverer.axaml
  Ryujinx.Ava/Ui/Controls/UserRecoverer.axaml.cs
  Ryujinx.Ava/Ui/Controls/UserSelector.axaml
  Ryujinx.Ava/Ui/Models/SaveModel.cs
  Ryujinx.Ava/Ui/Models/TempProfile.cs
  Ryujinx.Ava/Ui/Models/UserProfile.cs
  Ryujinx.Ava/Ui/ViewModels/MainWindowViewModel.cs
  Ryujinx.Ava/Ui/ViewModels/UserProfileViewModel.cs
  Ryujinx.Ava/Ui/Windows/MainWindow.axaml.cs
  Ryujinx.Ui.Common/App/ApplicationLibrary.cs
  Ryujinx.Ui.Common/App/ApplicationMetadata.cs
Labels: enhancement, gui

#3990 Add crowdin badge and information in readme
  README.md
Labels: miscellaneous

#4005 Use source generated regular expressions
  Ryujinx.Graphics.Vulkan/Vendor.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
  Ryujinx.HLE/HOS/Applets/Error/ErrorApplet.cs
  Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/Proxy/DnsBlacklist.cs
  Ryujinx.HLE/Loaders/Executables/NsoExecutable.cs
Labels: enhancement

#4003 GPU: Swap bindings array instead of copying
  Ryujinx.Graphics.Gpu/Engine/Compute/ComputeClass.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
  Ryujinx.Graphics.Gpu/Shader/CachedShaderBindings.cs
  Ryujinx.Graphics.Gpu/Shader/CachedShaderProgram.cs
Labels: gpu, performance

#4004 GPU: Use lazy checks for specialization state
  Ryujinx.Graphics.Gpu/Engine/Threed/DrawManager.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/SpecializationStateUpdater.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClass.cs
  Ryujinx.Graphics.Gpu/Shader/GpuChannelGraphicsState.cs
  Ryujinx.Graphics.Gpu/Shader/GpuChannelPoolState.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCacheHashTable.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderSpecializationList.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderSpecializationState.cs
Labels: gpu, performance

#3958 Implement non-MS to MS copies with draws
  Ryujinx.Graphics.Vulkan/FramebufferParams.cs
  Ryujinx.Graphics.Vulkan/HardwareCapabilities.cs
  Ryujinx.Graphics.Vulkan/HelperShader.cs
  Ryujinx.Graphics.Vulkan/PipelineBase.cs
  Ryujinx.Graphics.Vulkan/PipelineConverter.cs
  Ryujinx.Graphics.Vulkan/PipelineHelperShader.cs
  Ryujinx.Graphics.Vulkan/PipelineState.cs
  Ryujinx.Graphics.Vulkan/Shaders/ColorCopyBetweenMsNonMs.comp
  Ryujinx.Graphics.Vulkan/Shaders/ColorCopyToNonMsComputeShaderSource.comp
  Ryujinx.Graphics.Vulkan/Shaders/ColorDrawToMsFragmentShaderSource.frag
  Ryujinx.Graphics.Vulkan/Shaders/ColorDrawToMsVertexShaderSource.vert
  Ryujinx.Graphics.Vulkan/Shaders/ShaderBinaries.cs
  Ryujinx.Graphics.Vulkan/TextureCopy.cs
  Ryujinx.Graphics.Vulkan/TextureStorage.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: enhancement, gpu

#3957 Allow SNorm buffer texture formats on Vulkan
  Ryujinx.Graphics.GAL/Capabilities.cs
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessorBase.cs
  Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
  Ryujinx.Graphics.Shader/Translation/Rewriter.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: enhancement, gpu

#3886 ui: Disallow checking for updates while emulation active
  Ryujinx.Ava/Ui/Windows/MainWindow.axaml.cs
  Ryujinx/Ui/MainWindow.cs
Labels: gui, fix, review/waiting-on-maintainers

#3792 Add InfoType.MesosphereCurrentProcess
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/InfoType.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall.cs
Labels: enhancement, miscellaneous, kernel

#4020 misc: Fix obsolete warnings in Ryujinx.Graphics.Vulkan
  Ryujinx.Graphics.Vulkan/HelperShader.cs
  Ryujinx.Graphics.Vulkan/TextureStorage.cs
Labels: miscellaneous, infra

#3991 Ava GUI: Several UI Fixes
  Ryujinx.Ava/Assets/Styles/BaseDark.xaml
  Ryujinx.Ava/Assets/Styles/BaseLight.xaml
  Ryujinx.Ava/Ui/Applet/ErrorAppletWindow.axaml
  Ryujinx.Ava/Ui/Applet/SwkbdAppletDialog.axaml
  Ryujinx.Ava/Ui/Controls/GameGridView.axaml
  Ryujinx.Ava/Ui/Controls/GameListView.axaml
  Ryujinx.Ava/Ui/Controls/InputDialog.axaml
  Ryujinx.Ava/Ui/Controls/NavigationDialogHost.axaml
  Ryujinx.Ava/Ui/Controls/ProfileImageSelectionDialog.axaml
  Ryujinx.Ava/Ui/Controls/RendererHost.axaml
  Ryujinx.Ava/Ui/Controls/SaveManager.axaml
  Ryujinx.Ava/Ui/Controls/UpdateWaitWindow.axaml
  Ryujinx.Ava/Ui/Controls/UserEditor.axaml
  Ryujinx.Ava/Ui/Controls/UserRecoverer.axaml
  Ryujinx.Ava/Ui/Controls/UserSelector.axaml
  Ryujinx.Ava/Ui/ViewModels/MainWindowViewModel.cs
  Ryujinx.Ava/Ui/Windows/AboutWindow.axaml
  Ryujinx.Ava/Ui/Windows/AmiiboWindow.axaml
  Ryujinx.Ava/Ui/Windows/AvatarWindow.axaml
  Ryujinx.Ava/Ui/Windows/CheatWindow.axaml
  Ryujinx.Ava/Ui/Windows/ContentDialogOverlayWindow.axaml
  Ryujinx.Ava/Ui/Windows/ControllerSettingsWindow.axaml
  Ryujinx.Ava/Ui/Windows/DownloadableContentManagerWindow.axaml
  Ryujinx.Ava/Ui/Windows/MainWindow.axaml
  Ryujinx.Ava/Ui/Windows/MotionSettingsWindow.axaml
  Ryujinx.Ava/Ui/Windows/RumbleSettingsWindow.axaml
  Ryujinx.Ava/Ui/Windows/SettingsWindow.axaml
  Ryujinx.Ava/Ui/Windows/TitleUpdateWindow.axaml
  Ryujinx.Ui.Common/App/ApplicationLibrary.cs
Labels: enhancement, gui

#3996 Update 'OpenGL Log Level' to 'Graphics Backend Log Level'
  Ryujinx.Ava/Assets/Locales/de_DE.json
  Ryujinx.Ava/Assets/Locales/el_GR.json
  Ryujinx.Ava/Assets/Locales/en_US.json
  Ryujinx.Ava/Assets/Locales/es_ES.json
  Ryujinx.Ava/Assets/Locales/fr_FR.json
  Ryujinx.Ava/Assets/Locales/it_IT.json
  Ryujinx.Ava/Assets/Locales/ja_JP.json
  Ryujinx.Ava/Assets/Locales/ko_KR.json
  Ryujinx.Ava/Assets/Locales/pl_PL.json
  Ryujinx.Ava/Assets/Locales/pt_BR.json
  Ryujinx.Ava/Assets/Locales/ru_RU.json
  Ryujinx.Ava/Assets/Locales/tr_TR.json
  Ryujinx.Ava/Assets/Locales/zh_CN.json
  Ryujinx.Ava/Assets/Locales/zh_TW.json
  Ryujinx.Ava/Ui/Windows/SettingsWindow.axaml
Labels: enhancement, gui

#4029 Fix shaders with global memory access from unknown locations
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Shader/Translation/Rewriter.cs
Labels: gpu, fix

#3995 Change default Vsync toggle hotkey to F1 instead of Tab
  Ryujinx.Ui.Common/Configuration/ConfigurationState.cs
Labels: gui, miscellaneous

#4037 Fix storage buffer access when match fails
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Shader/Translation/Rewriter.cs
Labels: gpu, fix

#4010 amadeus: Add missing compressor effect from REV11
  Ryujinx.Audio/Renderer/Common/EffectType.cs
  Ryujinx.Audio/Renderer/Common/PerformanceDetailType.cs
  Ryujinx.Audio/Renderer/Dsp/Command/CommandType.cs
  Ryujinx.Audio/Renderer/Dsp/Command/CompressorCommand.cs
  Ryujinx.Audio/Renderer/Dsp/Command/LimiterCommandVersion1.cs
  Ryujinx.Audio/Renderer/Dsp/Command/LimiterCommandVersion2.cs
  Ryujinx.Audio/Renderer/Dsp/Effect/ExponentialMovingAverage.cs
  Ryujinx.Audio/Renderer/Dsp/FixedPointHelper.cs
  Ryujinx.Audio/Renderer/Dsp/FloatingPointHelper.cs
  Ryujinx.Audio/Renderer/Dsp/State/CompressorState.cs
  Ryujinx.Audio/Renderer/Dsp/State/LimiterState.cs
  Ryujinx.Audio/Renderer/Parameter/Effect/CompressorParameter.cs
  Ryujinx.Audio/Renderer/Server/BehaviourContext.cs
  Ryujinx.Audio/Renderer/Server/CommandBuffer.cs
  Ryujinx.Audio/Renderer/Server/CommandGenerator.cs
  Ryujinx.Audio/Renderer/Server/CommandProcessingTimeEstimatorVersion1.cs
  Ryujinx.Audio/Renderer/Server/CommandProcessingTimeEstimatorVersion2.cs
  Ryujinx.Audio/Renderer/Server/CommandProcessingTimeEstimatorVersion3.cs
  Ryujinx.Audio/Renderer/Server/CommandProcessingTimeEstimatorVersion5.cs
  Ryujinx.Audio/Renderer/Server/Effect/BaseEffect.cs
  Ryujinx.Audio/Renderer/Server/Effect/CompressorEffect.cs
  Ryujinx.Audio/Renderer/Server/ICommandProcessingTimeEstimator.cs
  Ryujinx.Audio/Renderer/Server/StateUpdater.cs
  Ryujinx.Tests/Audio/Renderer/Parameter/Effect/CompressorParameterTests.cs
Labels: enhancement, audio, service:audio

#3980 UI: Add Metal surface creation for MoltenVK
  Ryujinx.Ava/AppHost.cs
  Ryujinx.Ava/Helper/MetalHelper.cs
  Ryujinx.Ava/Program.cs
  Ryujinx.Ava/Ryujinx.Ava.csproj
  Ryujinx.Ava/Ui/Controls/EmbeddedWindow.cs
  Ryujinx.Ava/Ui/Controls/VulkanEmbeddedWindow.cs
  Ryujinx.Ava/Ui/ViewModels/SettingsViewModel.cs
  Ryujinx.Ava/Ui/Windows/MainWindow.axaml.cs
  Ryujinx.Ava/Ui/Windows/SettingsWindow.axaml
  Ryujinx.Common/Configuration/AppDataManager.cs
  Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/Resources/Logo_Ryujinx.png
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardRendererBase.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx.Headless.SDL2/Program.cs
  Ryujinx.Headless.SDL2/Ryujinx.Headless.SDL2.csproj
  Ryujinx.Headless.SDL2/Vulkan/VulkanWindow.cs
  Ryujinx.Headless.SDL2/WindowBase.cs
  Ryujinx.Memory/MemoryManagerUnixHelper.cs
  Ryujinx/Modules/Updater/UpdateDialog.cs
  Ryujinx/Program.cs
  Ryujinx/Ryujinx.csproj
  Ryujinx/Ui/Helper/MetalHelper.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/VKRenderer.cs
  Ryujinx/Ui/Widgets/ProfileDialog.cs
  Ryujinx/Ui/Windows/CheatWindow.cs
  Ryujinx/Ui/Windows/ControllerWindow.cs
  Ryujinx/Ui/Windows/DlcWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.cs
  Ryujinx/Ui/Windows/TitleUpdateWindow.cs
Labels: enhancement, gpu, gui, os:macOS

#4049 gtk: Fixes warnings about obsolete components
  Ryujinx/Ui/Windows/AvatarWindow.cs
  Ryujinx/Ui/Windows/UserProfilesManagerWindow.Designer.cs
Labels: gui, fix

#4044 hle: Do not add disabled AoC item to the list
  Ryujinx.HLE/FileSystem/ContentManager.cs
  Ryujinx.HLE/HOS/ApplicationLoader.cs
Labels: horizon, fix

#4057 Add Ryujinx license to builds
  Ryujinx.Ava/Ryujinx.Ava.csproj
  Ryujinx.Headless.SDL2/Ryujinx.Headless.SDL2.csproj
  Ryujinx/Ryujinx.csproj
Labels: miscellaneous

#4052 acc: Stub CheckNetworkServiceAvailabilityAsync
  Ryujinx.HLE/HOS/Services/Account/Acc/ApplicationServiceServer.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/IAccountServiceForApplication.cs
Labels: stub, service:am

#4069 Fix shader FSWZADD instruction
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/SwizzleAdd.glsl
  Ryujinx.Graphics.Shader/CodeGen/Spirv/Instructions.cs
Labels: gpu, fix

#4048 ava: Restyle the Status Bar
  Ryujinx.Ava/Assets/Styles/Styles.xaml
  Ryujinx.Ava/Ui/Controls/GameListView.axaml
  Ryujinx.Ava/Ui/Windows/MainWindow.axaml
Labels: gui, fix

#4080 misc: Update Ryujinx.Graphics.Nvdec.Dependencies to 5.0.1-build12
  Ryujinx.Ava/Ryujinx.Ava.csproj
  Ryujinx.Headless.SDL2/Ryujinx.Headless.SDL2.csproj
  Ryujinx/Ryujinx.csproj
Labels: miscellaneous, infra

#4082 misc: Remove dependency on System.Drawing.Common
  Ryujinx.Common/Ryujinx.Common.csproj
  Ryujinx.Common/System/ForceDpiAware.cs
  Ryujinx.Common/System/GdiPlusHelper.cs
Labels: miscellaneous, infra, os:windows

#4088 audio: Rewrite SoundIo bindings
  Ryujinx.Audio.Backends.SoundIo/Native/SoundIo.cs
  Ryujinx.Audio.Backends.SoundIo/Native/SoundIoBackend.cs
  Ryujinx.Audio.Backends.SoundIo/Native/SoundIoChannelId.cs
  Ryujinx.Audio.Backends.SoundIo/Native/SoundIoContext.cs
  Ryujinx.Audio.Backends.SoundIo/Native/SoundIoDeviceAim.cs
  Ryujinx.Audio.Backends.SoundIo/Native/SoundIoDeviceContext.cs
  Ryujinx.Audio.Backends.SoundIo/Native/SoundIoError.cs
  Ryujinx.Audio.Backends.SoundIo/Native/SoundIoException.cs
  Ryujinx.Audio.Backends.SoundIo/Native/SoundIoFormat.cs
  Ryujinx.Audio.Backends.SoundIo/Native/SoundIoOutStreamContext.cs
  Ryujinx.Audio.Backends.SoundIo/Native/libsoundio/MarshalExtensions.cs
  Ryujinx.Audio.Backends.SoundIo/Native/libsoundio/SoundIO.cs
  Ryujinx.Audio.Backends.SoundIo/Native/libsoundio/SoundIOBackend.cs
  Ryujinx.Audio.Backends.SoundIo/Native/libsoundio/SoundIOChannelArea.cs
  Ryujinx.Audio.Backends.SoundIo/Native/libsoundio/SoundIOChannelAreas.cs
  Ryujinx.Audio.Backends.SoundIo/Native/libsoundio/SoundIOChannelId.cs
  Ryujinx.Audio.Backends.SoundIo/Native/libsoundio/SoundIOChannelLayout.cs
  Ryujinx.Audio.Backends.SoundIo/Native/libsoundio/SoundIODevice.cs
  Ryujinx.Audio.Backends.SoundIo/Native/libsoundio/SoundIODeviceAim.cs
  Ryujinx.Audio.Backends.SoundIo/Native/libsoundio/SoundIOException.cs
  Ryujinx.Audio.Backends.SoundIo/Native/libsoundio/SoundIOFormat.cs
  Ryujinx.Audio.Backends.SoundIo/Native/libsoundio/SoundIOInStream.cs
  Ryujinx.Audio.Backends.SoundIo/Native/libsoundio/SoundIOOutStream.cs
  Ryujinx.Audio.Backends.SoundIo/Native/libsoundio/SoundIORingBuffer.cs
  Ryujinx.Audio.Backends.SoundIo/Native/libsoundio/SoundIOSampleRateRange.cs
  Ryujinx.Audio.Backends.SoundIo/Native/libsoundio/libsoundio-interop.cs
  Ryujinx.Audio.Backends.SoundIo/SoundIoHardwareDeviceDriver.cs
  Ryujinx.Audio.Backends.SoundIo/SoundIoHardwareDeviceSession.cs
Labels: miscellaneous, audio, infra

#4017 Bsd: Implement Select
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/BsdContext.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/IClient.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/IFileDescriptor.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/ISocket.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Impl/EventFileDescriptor.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Impl/EventFileDescriptorPollManager.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Impl/ManagedSocket.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Impl/ManagedSocketPollManager.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Impl/WSAError.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Impl/WinSockHelper.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/BsdAddressFamily.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/BsdIoctl.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/BsdMMsgHdr.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/BsdMsgHdr.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/BsdSockAddr.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/BsdSocketCreationFlags.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/BsdSocketFlags.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/BsdSocketOption.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/BsdSocketShutdownFlags.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/BsdSocketType.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/EventFdFlags.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/IPollManager.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/LinuxError.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/PollEvent.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/PollEventData.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/PollEventTypeMask.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/TimeVal.cs
  Ryujinx.HLE/HOS/Services/Ssl/SslService/SslManagedSocketConnection.cs
Labels: enhancement, service:sockets

#4083 Use method overloads that support trimming. Mark some types to be trimming friendly
  Ryujinx.Ava/Input/AvaloniaKeyboardMappingHelper.cs
  Ryujinx.Common/GraphicsDriver/NVThreadedOptimization.cs
  Ryujinx.Common/SystemInfo/WindowsSystemInfo.cs
  Ryujinx.Graphics.Device/DeviceState.cs
  Ryujinx.Graphics.Gpu/Engine/DeviceStateWithShadow.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdateTracker.cs
  Ryujinx.HLE/HOS/Applets/Error/ErrorApplet.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardApplet.cs
  Ryujinx.HLE/HOS/Services/Nfc/Nfp/NfpManager/INfp.cs
  Ryujinx.Tests.Unicorn/Native/Interface.cs
Labels: miscellaneous

#4093 Fix "UI" abbreviation being miscapitalized
  Ryujinx.Ava/Assets/Locales/en_US.json
Labels: gui, miscellaneous

#4095 Use NuGet Central Package Management to manage package versions solution-wise
  Directory.Packages.props
  Ryujinx.Audio.Backends.OpenAL/Ryujinx.Audio.Backends.OpenAL.csproj
  Ryujinx.Ava/Ryujinx.Ava.csproj
  Ryujinx.Common/Ryujinx.Common.csproj
  Ryujinx.Graphics.OpenGL/Ryujinx.Graphics.OpenGL.csproj
  Ryujinx.Graphics.Vulkan/Ryujinx.Graphics.Vulkan.csproj
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx.Headless.SDL2/Ryujinx.Headless.SDL2.csproj
  Ryujinx.Horizon.Generators/Ryujinx.Horizon.Generators.csproj
  Ryujinx.Input/Ryujinx.Input.csproj
  Ryujinx.Memory.Tests/Ryujinx.Memory.Tests.csproj
  Ryujinx.SDL2.Common/Ryujinx.SDL2.Common.csproj
  Ryujinx.ShaderTools/Ryujinx.ShaderTools.csproj
  Ryujinx.Tests/Ryujinx.Tests.csproj
  Ryujinx.Ui.Common/Ryujinx.Ui.Common.csproj
  Ryujinx.sln
  Ryujinx/Ryujinx.csproj
Labels: miscellaneous, infra

#4097 misc: Update to Ryujinx.Graphics.Nvdec.Dependencies 5.0.1-build13
  Directory.Packages.props
Labels: miscellaneous, infra, os:macOS

#4102 Bsd: Add support for dns_mitm
  Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/IResolver.cs
  Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/Proxy/DnsMitmResolver.cs
Labels: enhancement, service:sockets

#4116 Vulkan: enable VK_EXT_custom_border_color features
  Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, fix

#4106 Remove Half Conversion
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/ConstantFolding.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/HalfConversion.cs
Labels: enhancement, gpu

#4124 Fix NRE when loading Vulkan shader cache with Vertex A shaders
  Ryujinx.Graphics.Gpu/Shader/DiskCache/ShaderBinarySerializer.cs
Labels: gpu, fix

#4084 Replace `DllImport` usage with `LibraryImport`
  ARMeilleure/Signal/UnixSignalHandlerRegistration.cs
  ARMeilleure/Signal/WindowsSignalHandlerRegistration.cs
  ARMeilleure/Translation/Cache/JitUnwindWindows.cs
  Ryujinx.Ava/AppHost.cs
  Ryujinx.Ava/Helper/MetalHelper.cs
  Ryujinx.Ava/Program.cs
  Ryujinx.Ava/Ui/Controls/EmbeddedWindow.cs
  Ryujinx.Ava/Ui/Controls/Win32NativeInterop.cs
  Ryujinx.Common/GraphicsDriver/NVThreadedOptimization.cs
  Ryujinx.Common/Memory/PartialUnmaps/PartialUnmapState.cs
  Ryujinx.Common/SystemInfo/MacOSSystemInfo.cs
  Ryujinx.Common/SystemInfo/WindowsSystemInfo.cs
  Ryujinx.Common/SystemInterop/DisplaySleep.cs
  Ryujinx.Common/SystemInterop/ForceDpiAware.cs
  Ryujinx.Common/SystemInterop/GdiPlusHelper.cs
  Ryujinx.Common/SystemInterop/WindowsMultimediaTimerResolution.cs
  Ryujinx.Graphics.Nvdec.FFmpeg/Native/FFmpegApi.cs
  Ryujinx.Graphics.OpenGL/Helper/GLXHelper.cs
  Ryujinx.Graphics.OpenGL/Helper/WGLHelper.cs
  Ryujinx.Headless.SDL2/Program.cs
  Ryujinx.Memory/MemoryManagerUnixHelper.cs
  Ryujinx.Memory/WindowsShared/WindowsApi.cs
  Ryujinx.Tests.Unicorn/Native/Interface.cs
  Ryujinx.Ui.Common/Helper/ConsoleHelper.cs
  Ryujinx.Ui.Common/Ryujinx.Ui.Common.csproj
  Ryujinx/Program.cs
  Ryujinx/Ui/GLRenderer.cs
  Ryujinx/Ui/Helper/MetalHelper.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/VKRenderer.cs
Labels: miscellaneous, infra

#4130 Avalonia: Fix invisible swkbd applet on Linux
  Ryujinx.Ava/Ui/Applet/SwkbdAppletDialog.axaml.cs
Labels: gui, fix, os:linux

#4131 GPU: Fix layered attachment write
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
Labels: gpu, fix

#4123 Implement another non-indexed draw method on GPU
  Ryujinx.Graphics.Gpu/Engine/Threed/DrawManager.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClass.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClassState.cs
Labels: gpu, fix

#4142 hle: Fix wrong conversion in UserPresence.ToString
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/FriendService/Types/UserPresence.cs
Labels: horizon, fix, service:friend

#3663 ARMeilleure: Add initial support for AVX512(EVEX encoding)
  ARMeilleure/ARMeilleure.csproj
  ARMeilleure/CodeGen/X86/Assembler.cs
  ARMeilleure/CodeGen/X86/AssemblerTable.cs
  ARMeilleure/CodeGen/X86/HardwareCapabilities.cs
  ARMeilleure/CodeGen/X86/IntrinsicTable.cs
  ARMeilleure/CodeGen/X86/X86Instruction.cs
  ARMeilleure/Instructions/InstEmitSimdLogical.cs
  ARMeilleure/IntermediateRepresentation/Intrinsic.cs
  ARMeilleure/Optimizations.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, enhancement, review/waiting-on-maintainers

#4145 Revert "ARMeilleure: Add initial support for AVX512(EVEX encoding)"
  ARMeilleure/ARMeilleure.csproj
  ARMeilleure/CodeGen/X86/Assembler.cs
  ARMeilleure/CodeGen/X86/AssemblerTable.cs
  ARMeilleure/CodeGen/X86/HardwareCapabilities.cs
  ARMeilleure/CodeGen/X86/IntrinsicTable.cs
  ARMeilleure/CodeGen/X86/X86Instruction.cs
  ARMeilleure/Instructions/InstEmitSimdLogical.cs
  ARMeilleure/IntermediateRepresentation/Intrinsic.cs
  ARMeilleure/Optimizations.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, fix

#4140 Eliminate zero-extension moves in more cases on 32-bit games
  ARMeilleure/CodeGen/X86/CodeGenerator.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, performance

#4156 ARMeilleure: Hash _data pointer instead of value for Operand
  ARMeilleure/IntermediateRepresentation/Operand.cs
Labels: cpu, performance

#4141 Fix DrawArrays vertex buffer size
  Ryujinx.Graphics.Gpu/Engine/Threed/DrawManager.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/DrawState.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
Labels: gpu, fix

#4138 hle: Handle GPU profiler and debugger device path correctly
  Ryujinx.HLE/HOS/Services/Nv/INvDrvServices.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostDbgGpu/NvHostDbgGpuDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostProfGpu/NvHostProfGpuDeviceFile.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
Labels: horizon, service:nv

#4155 make UI display correct content in Chinese
  Ryujinx.HLE/HOS/SystemState/SystemStateMgr.cs
  Ryujinx.HLE/HOS/SystemState/TitleLanguage.cs
Labels: gui, fix

#4129 GPU: Force rebind when pool changes
  Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
Labels: gpu, fix

#4159 Fix CPU FCVTN instruction implementation (slow path)
  ARMeilleure/Instructions/InstEmitSimdCvt.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  Ryujinx.Tests/Cpu/CpuTestSimd.cs
Labels: cpu, fix

#4121 Implement a software ETC2 texture decoder
  Ryujinx.Graphics.GAL/Capabilities.cs
  Ryujinx.Graphics.GAL/Format.cs
  Ryujinx.Graphics.Gpu/Image/FormatTable.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
  Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  Ryujinx.Graphics.Texture/ETC2Decoder.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, fix, graphics-backend:vulkan

#4174 Some minor cleanups and optimizations
  ARMeilleure/Translation/SsaConstruction.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/Types/UserProfile.cs
  Ryujinx.HLE/HOS/Services/Caps/CaptureManager.cs
  Ryujinx.HLE/HOS/Services/Pcv/Bpc/IRtcManager.cs
  Ryujinx.HLE/HOS/Services/Ro/IRoInterface.cs
  Ryujinx.HLE/HOS/Services/Time/Clock/Types/TimeSpanType.cs
Labels: miscellaneous, performance

#4135 bsd::RecvFrom: verify output buffer size before writing socket address
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/IClient.cs
Labels: fix, service:sockets

#3929 Added Generic Math to BitUtils
  Ryujinx.Audio/Renderer/Common/WorkBufferAllocator.cs
  Ryujinx.Audio/Renderer/Server/AudioRenderSystem.cs
  Ryujinx.Common/Utilities/BitUtils.cs
  Ryujinx.Graphics.Gpu/Engine/InlineToMemory/InlineToMemoryClass.cs
  Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
  Ryujinx.Graphics.Vulkan/MemoryAllocatorBlockList.cs
  Ryujinx.HLE/HOS/Kernel/Ipc/KBufferDescriptorTable.cs
  Ryujinx.HLE/HOS/Kernel/Ipc/KServerSession.cs
  Ryujinx.HLE/HOS/Kernel/Memory/KCodeMemory.cs
  Ryujinx.HLE/HOS/Kernel/Memory/KPageBitmap.cs
  Ryujinx.HLE/HOS/Kernel/Memory/KPageHeap.cs
  Ryujinx.HLE/HOS/Kernel/Memory/KPageTableBase.cs
  Ryujinx.HLE/HOS/Kernel/Memory/KSharedMemory.cs
  Ryujinx.HLE/HOS/Kernel/Memory/KTransferMemory.cs
  Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
  Ryujinx.HLE/HOS/ProgramLoader.cs
  Ryujinx.HLE/HOS/Services/Ro/IRoInterface.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Parcel.cs
Labels: enhancement, review/waiting-on-maintainers

#4108 GPU: Add fallback when 16-bit formats are not supported
  Ryujinx.Graphics.GAL/Capabilities.cs
  Ryujinx.Graphics.GAL/Format.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
  Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  Ryujinx.Graphics.Texture/LayoutConverter.cs
  Ryujinx.Graphics.Texture/PixelConverter.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: enhancement, gpu

#4163 Use new ArgumentNullException and ObjectDisposedException throw-helper API
  ARMeilleure/Common/AddressTable.cs
  ARMeilleure/Common/Counter.cs
  ARMeilleure/Common/EntryTable.cs
  ARMeilleure/IntermediateRepresentation/BasicBlock.cs
  ARMeilleure/Translation/DelegateHelper.cs
  ARMeilleure/Translation/Delegates.cs
  ARMeilleure/Translation/IntervalTree.cs
  ARMeilleure/Translation/TranslatorStubs.cs
  Ryujinx.Common/Collections/IntervalTree.cs
  Ryujinx.Common/Collections/IntrusiveRedBlackTree.cs
  Ryujinx.Common/Collections/IntrusiveRedBlackTreeImpl.cs
  Ryujinx.Common/Collections/TreeDictionary.cs
  Ryujinx.HLE/Switch.cs
  Ryujinx.Memory/MemoryBlock.cs
  Ryujinx.Memory/Tracking/RegionHandle.cs
Labels: miscellaneous, performance

#4100 haydn: Add support for PCMFloat, PCM32 and PCM8 conversions
  Ryujinx.Audio/Backends/CompatLayer/CompatLayerHardwareDeviceDriver.cs
  Ryujinx.Audio/Backends/CompatLayer/CompatLayerHardwareDeviceSession.cs
  Ryujinx.Audio/Renderer/Dsp/PcmHelper.cs
Labels: audio

#4182 [Headless] Fix for not receiving any SDL events on Linux
  .gitignore
  Ryujinx.Headless.SDL2/Program.cs
  nuget.config
Labels: miscellaneous, fix

#4087 Vulkan: Don't flush commands when creating most sync
  Ryujinx.Graphics.GAL/IRenderer.cs
  Ryujinx.Graphics.GAL/Multithreading/Commands/Renderer/CreateSyncCommand.cs
  Ryujinx.Graphics.GAL/Multithreading/ThreadedRenderer.cs
  Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoClass.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClass.cs
  Ryujinx.Graphics.Gpu/GpuContext.cs
  Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  Ryujinx.Graphics.Vulkan/CommandBufferPool.cs
  Ryujinx.Graphics.Vulkan/PipelineFull.cs
  Ryujinx.Graphics.Vulkan/SyncManager.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, performance

#4007 HLE: Add basic stubs to get Labo VR booting to title screen.
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ISelfController.cs
Labels: stub, service:am

#3939 Use vector outputs for texture operations
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Shader/AttributeType.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/GlslGenerator.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGen.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenBallot.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenHelper.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenVector.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/NumberFormatter.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/TypeConversion.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/CodeGenContext.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/EnumConversion.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/Instructions.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/SpirvGenerator.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitSurface.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/Instruction.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/Operation.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/TextureOperation.cs
  Ryujinx.Graphics.Shader/SamplerType.cs
  Ryujinx.Graphics.Shader/StructuredIr/AstHelper.cs
  Ryujinx.Graphics.Shader/StructuredIr/AstOperand.cs
  Ryujinx.Graphics.Shader/StructuredIr/AstOperation.cs
  Ryujinx.Graphics.Shader/StructuredIr/InstructionInfo.cs
  Ryujinx.Graphics.Shader/StructuredIr/OperandInfo.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredFunction.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgram.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgramContext.cs
  Ryujinx.Graphics.Shader/StructuredIr/VariableType.cs
  Ryujinx.Graphics.Shader/TextureFormat.cs
  Ryujinx.Graphics.Shader/Translation/AggregateType.cs
  Ryujinx.Graphics.Shader/Translation/AttributeInfo.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
  Ryujinx.Graphics.Shader/Translation/Rewriter.cs
Labels: enhancement, gpu

#4051 Filter hidden game files from the Game List
  Ryujinx.Ui.Common/App/ApplicationLibrary.cs
Labels: enhancement, gui
