Repository Ryujinx/Ryujinx, pull requests merged in 2022-02, with the labels that each got.

#3057 Try to ensure save data always has a valid owner ID
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
  Ryujinx.HLE/HOS/ApplicationLoader.cs
Labels: enhancement, service:fs

#3087 ARMeilleure: OpCodeTable: Add CMN (RsReg)
  ARMeilleure/Decoders/OpCodeTable.cs
Labels: cpu, enhancement

#3086 ARMeilleure: A32: Implement SHADD8
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitAlu32.cs
  ARMeilleure/Instructions/InstName.cs
  Ryujinx.Tests/Cpu/CpuTestAlu32.cs
Labels: cpu, enhancement

#3089 ARMeilleure: A32: Implement SHSUB8 and UHSUB8
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitAlu32.cs
  ARMeilleure/Instructions/InstName.cs
  Ryujinx.Tests/Cpu/CpuTestAlu32.cs
Labels: cpu, enhancement

#3043 misc: Make PID unsigned long instead of long
  Ryujinx.Graphics.Gpu/GpuContext.cs
  Ryujinx.Graphics.Gpu/Window.cs
  Ryujinx.HLE/HOS/ArmProcessContext.cs
  Ryujinx.HLE/HOS/ArmProcessContextFactory.cs
  Ryujinx.HLE/HOS/Ipc/IpcHandleDesc.cs
  Ryujinx.HLE/HOS/Kernel/KernelContext.cs
  Ryujinx.HLE/HOS/Kernel/Memory/KSharedMemory.cs
  Ryujinx.HLE/HOS/Kernel/Process/IProcessContextFactory.cs
  Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
  Ryujinx.HLE/HOS/Kernel/Process/ProcessContextFactory.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall32.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall64.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KThread.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/ILibraryAppletProxy.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/ISystemAppletProxy.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ISelfController.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/IWindowController.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/IApplicationProxy.cs
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/IFriendService.cs
  Ryujinx.HLE/HOS/Services/Ns/Aoc/IAddOnContentManager.cs
  Ryujinx.HLE/HOS/Services/Nv/Host1xContext.cs
  Ryujinx.HLE/HOS/Services/Nv/INvDrvServices.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostAsGpu/NvHostAsGpuDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostChannel/NvHostChannelDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostChannel/NvHostGpuDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostCtrl/NvHostCtrlDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostCtrlGpu/NvHostCtrlGpuDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvMap/NvMapDeviceFile.cs
  Ryujinx.HLE/HOS/Services/Pctl/IParentalControlServiceFactory.cs
  Ryujinx.HLE/HOS/Services/Pctl/ParentalControlServiceFactory/IParentalControlService.cs
  Ryujinx.HLE/HOS/Services/Pm/IShellInterface.cs
  Ryujinx.HLE/HOS/Services/Ro/IRoInterface.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/BsdContext.cs
  Ryujinx.HLE/HOS/Services/Ssl/SslService/ISslConnection.cs
  Ryujinx.HLE/HOS/Services/Ssl/SslService/ISslContext.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/BufferQueue.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/BufferQueueCore.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/SurfaceFlinger.cs
  Ryujinx.HLE/HOS/Services/SurfaceFlinger/Types/GraphicBuffer.cs
  Ryujinx.HLE/HOS/Services/Vi/RootService/ApplicationDisplayService/IManagerDisplayService.cs
  Ryujinx.HLE/HOS/TamperMachine.cs
Labels: miscellaneous

#3097 Add a limit on the number of uses a constant may have
  ARMeilleure/CodeGen/X86/X86Optimizer.cs
Labels: cpu, fix

#3103 Ship SoundIO library only for the specified runtime
  Ryujinx.Audio.Backends.SoundIo/Ryujinx.Audio.Backends.SoundIo.csproj
Labels: enhancement, infra

#3106 Fix missing geometry shader passthrough inputs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
Labels: gpu, fix

#3104 InstEmitMemory32: Literal loads always have word-aligned PC
  ARMeilleure/Instructions/InstEmitHelper.cs
  ARMeilleure/Instructions/InstEmitMemory32.cs
Labels: cpu, fix

#3079 Adjusting how deadzones are calculated
  .gitignore
  Ryujinx.Input/HLE/NpadController.cs
Labels: fix, input

#3121 When copying linear textures, DMA should ignore region X/Y
  Ryujinx.Graphics.Gpu/Engine/Dma/DmaClass.cs
Labels: gpu, fix

#3126 amadeus: Fix limiter correctness
  Ryujinx.Audio/Renderer/Dsp/Command/LimiterCommandVersion1.cs
  Ryujinx.Audio/Renderer/Dsp/Command/LimiterCommandVersion2.cs
  Ryujinx.Audio/Renderer/Dsp/State/LimiterState.cs
  Ryujinx.Audio/Renderer/Server/CommandGenerator.cs
Labels: audio, fix

#3063 Do not allow render targets not explicitly written by the fragment shader to be modified
  Ryujinx.Graphics.GAL/IRenderer.cs
  Ryujinx.Graphics.GAL/Multithreading/Resources/Programs/BinaryProgramRequest.cs
  Ryujinx.Graphics.GAL/Multithreading/Resources/Programs/SourceProgramRequest.cs
  Ryujinx.Graphics.GAL/Multithreading/ThreadedRenderer.cs
  Ryujinx.Graphics.GAL/ShaderInfo.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/Definition/HostShaderCacheEntry.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/Definition/HostShaderCacheEntryHeader.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/Program.cs
  Ryujinx.Graphics.OpenGL/Renderer.cs
  Ryujinx.Graphics.OpenGL/Shader.cs
  Ryujinx.Graphics.Shader/ShaderProgramInfo.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
  Ryujinx.Graphics.Shader/Translation/ShaderHeader.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
Labels: gpu, fix

#3127 amadeus: Fix PCMFloat datasource command v1
  Ryujinx.Audio/Renderer/Dsp/Command/PcmFloatDataSourceCommandVersion1.cs
Labels: audio, fix

#3129 Use a basic cubic interpolation for the audren upsampler
  Ryujinx.Audio/Renderer/Dsp/ResamplerHelper.cs
Labels: audio, fix

#3130 Use ReadOnlySpan<byte> compiler optimization for static data
  ARMeilleure/Instructions/CryptoHelper.cs
  ARMeilleure/Instructions/SoftFallback.cs
  Ryujinx.Common/Utilities/BitUtils.cs
  Ryujinx.Common/XXHash128.cs
  Ryujinx.Graphics.Nvdec.FFmpeg/H264/SpsAndPpsReconstruction.cs
  Ryujinx.Graphics.Nvdec.Vp9/Decoder.cs
  Ryujinx.Graphics.Nvdec.Vp9/ReconIntra.cs
  Ryujinx.Graphics.Nvdec.Vp9/Types/Mv.cs
Labels: enhancement, miscellaneous

#3128 misc: Update GtkSharp.Dependencies and speed up initial Windows build
  Ryujinx/Ryujinx.csproj
Labels: gui, miscellaneous, fix, infra

#3105 ARMeilleure: Thumb support (All T16 instructions)
  ARMeilleure/Decoders/Decoder.cs
  ARMeilleure/Decoders/IOpCode32Adr.cs
  ARMeilleure/Decoders/IOpCode32Alu.cs
  ARMeilleure/Decoders/IOpCode32AluImm.cs
  ARMeilleure/Decoders/IOpCode32AluRsImm.cs
  ARMeilleure/Decoders/IOpCode32AluRsReg.cs
  ARMeilleure/Decoders/IOpCode32Exception.cs
  ARMeilleure/Decoders/IOpCode32Mem.cs
  ARMeilleure/Decoders/IOpCode32MemMult.cs
  ARMeilleure/Decoders/IOpCode32MemReg.cs
  ARMeilleure/Decoders/OpCode.cs
  ARMeilleure/Decoders/OpCode32Alu.cs
  ARMeilleure/Decoders/OpCode32AluImm.cs
  ARMeilleure/Decoders/OpCode32AluMla.cs
  ARMeilleure/Decoders/OpCode32AluRsImm.cs
  ARMeilleure/Decoders/OpCode32AluRsReg.cs
  ARMeilleure/Decoders/OpCode32AluUmull.cs
  ARMeilleure/Decoders/OpCode32Exception.cs
  ARMeilleure/Decoders/OpCode32MemReg.cs
  ARMeilleure/Decoders/OpCodeT16AddSubImm3.cs
  ARMeilleure/Decoders/OpCodeT16AddSubReg.cs
  ARMeilleure/Decoders/OpCodeT16AddSubSp.cs
  ARMeilleure/Decoders/OpCodeT16Adr.cs
  ARMeilleure/Decoders/OpCodeT16AluImm8.cs
  ARMeilleure/Decoders/OpCodeT16AluImmZero.cs
  ARMeilleure/Decoders/OpCodeT16AluRegHigh.cs
  ARMeilleure/Decoders/OpCodeT16AluRegLow.cs
  ARMeilleure/Decoders/OpCodeT16AluUx.cs
  ARMeilleure/Decoders/OpCodeT16BImm11.cs
  ARMeilleure/Decoders/OpCodeT16BImm8.cs
  ARMeilleure/Decoders/OpCodeT16BImmCmp.cs
  ARMeilleure/Decoders/OpCodeT16BReg.cs
  ARMeilleure/Decoders/OpCodeT16Exception.cs
  ARMeilleure/Decoders/OpCodeT16IfThen.cs
  ARMeilleure/Decoders/OpCodeT16MemImm5.cs
  ARMeilleure/Decoders/OpCodeT16MemLit.cs
  ARMeilleure/Decoders/OpCodeT16MemMult.cs
  ARMeilleure/Decoders/OpCodeT16MemReg.cs
  ARMeilleure/Decoders/OpCodeT16MemSp.cs
  ARMeilleure/Decoders/OpCodeT16MemStack.cs
  ARMeilleure/Decoders/OpCodeT16ShiftImm.cs
  ARMeilleure/Decoders/OpCodeT16ShiftReg.cs
  ARMeilleure/Decoders/OpCodeT16SpRel.cs
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitAlu32.cs
  ARMeilleure/Instructions/InstEmitAluHelper.cs
  ARMeilleure/Instructions/InstEmitException32.cs
  ARMeilleure/Instructions/InstEmitFlow32.cs
  ARMeilleure/Instructions/InstEmitMemory32.cs
  ARMeilleure/Instructions/InstEmitMemoryHelper.cs
  ARMeilleure/Instructions/InstEmitMul32.cs
  ARMeilleure/Instructions/InstName.cs
  ARMeilleure/Translation/ArmEmitterContext.cs
  ARMeilleure/Translation/Translator.cs
  Ryujinx.Tests.Unicorn/UnicornAArch32.cs
  Ryujinx.Tests/Cpu/CpuTest32.cs
  Ryujinx.Tests/Cpu/CpuTestThumb.cs
Labels: cpu, enhancement

#3096 Added trace log level
  Ryujinx.Common/Logging/LogLevel.cs
  Ryujinx.Common/Logging/Logger.cs
  Ryujinx.Common/Logging/Targets/ConsoleLogTarget.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SyscallTable.cs
  Ryujinx.HLE/HOS/Services/IpcService.cs
  Ryujinx.Headless.SDL2/Options.cs
  Ryujinx.Headless.SDL2/Program.cs
  Ryujinx/Configuration/ConfigurationFileFormat.cs
  Ryujinx/Configuration/ConfigurationState.cs
  Ryujinx/Configuration/LoggerModule.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.glade
Labels: enhancement, miscellaneous

#3136 Decoders: Add IOpCode32HasSetFlags
  ARMeilleure/Decoders/IOpCode32Alu.cs
  ARMeilleure/Decoders/IOpCode32HasSetFlags.cs
  ARMeilleure/Decoders/OpCode32AluUmull.cs
  ARMeilleure/Instructions/InstEmitAluHelper.cs
Labels: cpu, fix

#3131 Implement/Stub mnpp:app service and some hid calls
  Ryujinx.Common/Logging/LogClass.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/IWindowController.cs
  Ryujinx.HLE/HOS/Services/Hid/IHidServer.cs
  Ryujinx.HLE/HOS/Services/Mnpp/IServiceForApplication.cs
  Ryujinx.HLE/HOS/Services/Mnpp/ResultCode.cs
Labels: stub, service-implementation, service:bcat, service:hid

#3137 Move kernel syscall logs to new trace log level
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/SyscallTable.cs
Labels: enhancement, miscellaneous

#3134 Use BitOperations methods and delete now unused BitUtils methods
  Ryujinx.Common/Utilities/BitUtils.cs
  Ryujinx.Graphics.Texture/BlockLinearLayout.cs
  Ryujinx.HLE/HOS/Kernel/Common/MersenneTwister.cs
  Ryujinx.HLE/HOS/Kernel/Memory/KMemoryRegionManager.cs
  Ryujinx.HLE/HOS/Kernel/Process/KContextIdManager.cs
  Ryujinx.HLE/HOS/Kernel/Process/KProcessCapabilities.cs
Labels: enhancement, miscellaneous

#3132 Prefer texture over textureSize for sampler type
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
Labels: gpu, fix

#2965 Enable CPU JIT cache invalidation
  ARMeilleure/Instructions/InstEmitSystem.cs
  ARMeilleure/Instructions/NativeInterface.cs
  ARMeilleure/Translation/Delegates.cs
  ARMeilleure/Translation/IntervalTree.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  ARMeilleure/Translation/PTC/PtcProfiler.cs
  ARMeilleure/Translation/Translator.cs
  ARMeilleure/Translation/TranslatorCache.cs
  Ryujinx.Cpu/CpuContext.cs
  Ryujinx.HLE/HOS/ArmProcessContext.cs
  Ryujinx.HLE/HOS/Kernel/Process/IProcessContext.cs
  Ryujinx.HLE/HOS/Kernel/Process/ProcessContext.cs
Labels: cpu, enhancement, needs-feedback

#3139 PPTC version increment
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, fix

#3142 Add dedicated ServerBase for FileSystem services
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Services/DisposableIpcService.cs
  Ryujinx.HLE/HOS/Services/Fs/IFileSystemProxy.cs
Labels: service:fs, performance

#3145 Collapse AsSpan().Slice(..) calls into AsSpan(..)
  ARMeilleure/Translation/SsaConstruction.cs
  Ryujinx.Audio/Renderer/Dsp/State/ReverbState.cs
  Ryujinx.Audio/Renderer/Server/Voice/VoiceState.cs
  Ryujinx.Graphics.Gpu/Shader/Cache/CacheHelper.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.OpenGL/Program.cs
  Ryujinx.HLE/HOS/Services/ServerBase.cs
  Ryujinx.HLE/Loaders/Executables/KipExecutable.cs
  Ryujinx.HLE/Loaders/Executables/NroExecutable.cs
  Ryujinx.HLE/Loaders/Executables/NsoExecutable.cs
  Ryujinx.HLE/Loaders/Mods/MemPatch.cs
Labels: enhancement, miscellaneous

#3151 A32: Fix BLX and BXWritePC
  ARMeilleure/Instructions/InstEmitFlow32.cs
  ARMeilleure/Instructions/InstEmitHelper.cs
Labels: cpu, fix

#3148 gui: Fixes the games icon when there is an update
  Ryujinx/Ui/App/ApplicationLibrary.cs
Labels: gui, fix

#3133 ARMeilleure: Implement single stepping
  ARMeilleure/Decoders/Decoder.cs
  ARMeilleure/Decoders/DecoderMode.cs
  ARMeilleure/Translation/Translator.cs
Labels: cpu, enhancement

#3112 Perform unscaled 2d engine copy on CPU if source texture isn't in cache.
  Ryujinx.Graphics.Gpu/Engine/Twod/TwodClass.cs
  Ryujinx.Graphics.Gpu/GraphicsConfig.cs
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  Ryujinx.Graphics.Gpu/Image/TextureSearchFlags.cs
  Ryujinx.Graphics.Gpu/Memory/MemoryManager.cs
Labels: gpu, performance

#2629 Allow textures to have their data partially mapped
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  Ryujinx.Graphics.Gpu/Memory/MemoryManager.cs
  Ryujinx.Graphics.Gpu/Memory/PhysicalMemory.cs
  Ryujinx.Memory/Range/MemoryRange.cs
  Ryujinx.Memory/Range/MultiRangeList.cs
Labels: gpu, fix

#3135 T32: Implement ALU (shifted register) instructions
  ARMeilleure/Decoders/Decoder.cs
  ARMeilleure/Decoders/OpCodeT32.cs
  ARMeilleure/Decoders/OpCodeT32Alu.cs
  ARMeilleure/Decoders/OpCodeT32AluRsImm.cs
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Instructions/InstEmitAlu32.cs
  ARMeilleure/Instructions/InstEmitHelper.cs
  Ryujinx.Tests/Cpu/CpuTest32.cs
  Ryujinx.Tests/Cpu/CpuTestT32Alu.cs
  Ryujinx.Tests/Cpu/CpuTestThumb.cs
  Ryujinx.Tests/Cpu/PrecomputedThumbTestCase.cs
Labels: cpu, enhancement

#3159 Update LibHac to v0.16.0
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/LibHacHorizonManager.cs
  Ryujinx.HLE/HOS/ModLoader.cs
  Ryujinx.HLE/HOS/ProgramLoader.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/AccountManager.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/IAccountServiceForApplication.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
  Ryujinx.HLE/HOS/Services/Arp/LibHacIReader.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/FileSystemProxyHelper.cs
  Ryujinx.HLE/HOS/Services/Fs/IDeviceOperator.cs
  Ryujinx.HLE/HOS/Services/Pctl/ParentalControlServiceFactory/IParentalControlService.cs
  Ryujinx.HLE/HOS/Services/Sdb/Pdm/QueryService/QueryPlayStatisticsManager.cs
  Ryujinx.HLE/Loaders/Executables/NsoExecutable.cs
  Ryujinx.HLE/Ryujinx.HLE.csproj
  Ryujinx/Ui/App/ApplicationLibrary.cs
  Ryujinx/Ui/Widgets/GameTableContextMenu.cs
  Ryujinx/Ui/Windows/TitleUpdateWindow.cs
Labels: enhancement, horizon, fix, service:fs
