Repository Ryujinx/Ryujinx, pull requests merged in 2023-05, with the labels that each got.

#4745 GPU: Fix errors handling texture remapping
  src/Ryujinx.Graphics.Gpu/Image/Texture.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  src/Ryujinx.Graphics.Gpu/Image/TexturePool.cs
  src/Ryujinx.Graphics.Gpu/Memory/MemoryManager.cs
  src/Ryujinx.Graphics.Gpu/Memory/UnmapEventArgs.cs
  src/Ryujinx.Memory/Range/MemoryRange.cs
  src/Ryujinx.Memory/Range/MultiRange.cs
Labels: gpu, fix

#4711 GPU: Pre-emptively flush textures that are flushed often (to imported memory when available)
  src/Ryujinx.Graphics.GAL/BufferAccess.cs
  src/Ryujinx.Graphics.GAL/IRenderer.cs
  src/Ryujinx.Graphics.GAL/ITexture.cs
  src/Ryujinx.Graphics.GAL/Multithreading/CommandHelper.cs
  src/Ryujinx.Graphics.GAL/Multithreading/CommandType.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Commands/Renderer/CreateBufferAccessCommand.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Commands/Renderer/CreateHostBufferCommand.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Commands/Texture/TextureCopyToBufferCommand.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Resources/ThreadedTexture.cs
  src/Ryujinx.Graphics.GAL/Multithreading/ThreadedRenderer.cs
  src/Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoClass.cs
  src/Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClass.cs
  src/Ryujinx.Graphics.Gpu/GpuContext.cs
  src/Ryujinx.Graphics.Gpu/Image/Texture.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureGroupHandle.cs
  src/Ryujinx.Graphics.Gpu/Memory/Buffer.cs
  src/Ryujinx.Graphics.Gpu/Memory/PhysicalMemory.cs
  src/Ryujinx.Graphics.Gpu/Synchronization/HostSyncFlags.cs
  src/Ryujinx.Graphics.Gpu/Synchronization/ISyncActionHandler.cs
  src/Ryujinx.Graphics.OpenGL/Buffer.cs
  src/Ryujinx.Graphics.OpenGL/Image/TextureBuffer.cs
  src/Ryujinx.Graphics.OpenGL/Image/TextureView.cs
  src/Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  src/Ryujinx.Graphics.OpenGL/PersistentBuffers.cs
  src/Ryujinx.Graphics.Vulkan/BufferHolder.cs
  src/Ryujinx.Graphics.Vulkan/BufferManager.cs
  src/Ryujinx.Graphics.Vulkan/EnumConversion.cs
  src/Ryujinx.Graphics.Vulkan/HardwareCapabilities.cs
  src/Ryujinx.Graphics.Vulkan/HelperShader.cs
  src/Ryujinx.Graphics.Vulkan/HostMemoryAllocator.cs
  src/Ryujinx.Graphics.Vulkan/MemoryAllocation.cs
  src/Ryujinx.Graphics.Vulkan/MemoryAllocator.cs
  src/Ryujinx.Graphics.Vulkan/Shaders/ConvertD32S8ToD24S8ShaderSource.comp
  src/Ryujinx.Graphics.Vulkan/Shaders/ShaderBinaries.cs
  src/Ryujinx.Graphics.Vulkan/SyncManager.cs
  src/Ryujinx.Graphics.Vulkan/TextureBuffer.cs
  src/Ryujinx.Graphics.Vulkan/TextureView.cs
  src/Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
  src/Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, performance

#4662 GPU: Keep rendered textures without any pool references alive
  src/Ryujinx.Graphics.Gpu/Image/AutoDeleteCache.cs
  src/Ryujinx.Graphics.Gpu/Image/Texture.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureCache.cs
Labels: gpu, performance

#4613 Add hide-cursor command line argument & always hide cursor option
  src/Ryujinx.Ava/AppHost.cs
  src/Ryujinx.Ava/Assets/Locales/en_US.json
  src/Ryujinx.Ava/Program.cs
  src/Ryujinx.Ava/UI/ViewModels/SettingsViewModel.cs
  src/Ryujinx.Ava/UI/Views/Settings/SettingsUIView.axaml
  src/Ryujinx.Common/Configuration/HideCursorMode.cs
  src/Ryujinx.Headless.SDL2/HideCursor.cs
  src/Ryujinx.Headless.SDL2/OpenGL/OpenGLWindow.cs
  src/Ryujinx.Headless.SDL2/Options.cs
  src/Ryujinx.Headless.SDL2/Program.cs
  src/Ryujinx.Headless.SDL2/SDL2MouseDriver.cs
  src/Ryujinx.Headless.SDL2/Vulkan/VulkanWindow.cs
  src/Ryujinx.Headless.SDL2/WindowBase.cs
  src/Ryujinx.Ui.Common/Configuration/ConfigurationFileFormat.cs
  src/Ryujinx.Ui.Common/Configuration/ConfigurationState.cs
  src/Ryujinx.Ui.Common/Helper/CommandLineState.cs
  src/Ryujinx/Program.cs
  src/Ryujinx/Ui/RendererWidgetBase.cs
  src/Ryujinx/Ui/Windows/SettingsWindow.cs
  src/Ryujinx/Ui/Windows/SettingsWindow.glade
Labels: gui

#4720 ModLoader: Fix case sensitivy issues
  src/Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  src/Ryujinx.Ava/UI/Windows/CheatWindow.axaml.cs
  src/Ryujinx.HLE/HOS/ModLoader.cs
  src/Ryujinx.HLE/Loaders/Processes/Extensions/LocalFileSystemExtensions.cs
  src/Ryujinx.HLE/Loaders/Processes/Extensions/NcaExtensions.cs
  src/Ryujinx/Ui/Widgets/GameTableContextMenu.cs
  src/Ryujinx/Ui/Windows/CheatWindow.cs
Labels: fix, service:loader

#4775 Vulkan: Record modifications for barriers after changing the framebuffer
  src/Ryujinx.Graphics.Vulkan/PipelineBase.cs
Labels: gpu, fix, graphics-vendor:nvidia

#4785 Update SettingsWindow.cs
  src/Ryujinx/Ui/Windows/SettingsWindow.cs
Labels: gui, fix

#4723 Fix some invalid blits involving depth textures
  src/Ryujinx.Graphics.Gpu/Engine/Twod/TwodClass.cs
  src/Ryujinx.Graphics.Gpu/Image/Texture.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureSearchFlags.cs
Labels: gpu, fix

#4446 IPC - Refactor Bcat service to use new ipc
  src/Ryujinx.HLE/HOS/Horizon.cs
  src/Ryujinx.HLE/HOS/Services/Bcat/IServiceCreator.cs
  src/Ryujinx.HLE/HOS/Services/Bcat/ResultCode.cs
  src/Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IBcatService.cs
  src/Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheDirectoryService.cs
  src/Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheFileService.cs
  src/Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheProgressService.cs
  src/Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheStorageService.cs
  src/Ryujinx.Horizon/Bcat/BcatIpcServer.cs
  src/Ryujinx.Horizon/Bcat/BcatMain.cs
  src/Ryujinx.Horizon/Bcat/BcatResult.cs
  src/Ryujinx.Horizon/Bcat/BcatServerManager.cs
  src/Ryujinx.Horizon/Bcat/Ipc/ServiceCreator.cs
  src/Ryujinx.Horizon/Bcat/Ipc/ServiceCreator/BcatService.cs
  src/Ryujinx.Horizon/Bcat/Ipc/ServiceCreator/DeliveryCacheDirectoryService.cs
  src/Ryujinx.Horizon/Bcat/Ipc/ServiceCreator/DeliveryCacheFileService.cs
  src/Ryujinx.Horizon/Bcat/Ipc/ServiceCreator/DeliveryCacheProgressService.cs
  src/Ryujinx.Horizon/Bcat/Ipc/ServiceCreator/DeliveryCacheStorageService.cs
  src/Ryujinx.Horizon/Bcat/Ipc/ServiceCreator/Types/DeliveryCacheProgressImpl.cs
  src/Ryujinx.Horizon/Bcat/Types/BcatPortIndex.cs
  src/Ryujinx.Horizon/Bcat/Types/BcatServicePermissionLevel.cs
  src/Ryujinx.Horizon/HorizonOptions.cs
  src/Ryujinx.Horizon/LibHacResultExtensions.cs
  src/Ryujinx.Horizon/Prepo/PrepoIpcServer.cs
  src/Ryujinx.Horizon/Sdk/Bcat/IBcatService.cs
  src/Ryujinx.Horizon/Sdk/Bcat/IDeliveryCacheDirectoryService.cs
  src/Ryujinx.Horizon/Sdk/Bcat/IDeliveryCacheFileService.cs
  src/Ryujinx.Horizon/Sdk/Bcat/IDeliveryCacheProgressService.cs
  src/Ryujinx.Horizon/Sdk/Bcat/IDeliveryCacheStorageService.cs
  src/Ryujinx.Horizon/Sdk/Bcat/IServiceCreator.cs
  src/Ryujinx.Horizon/ServiceTable.cs
Labels: enhancement, service:bcat

#4755 UI: Move ApplicationContextMenu in a separated class
  src/Ryujinx.Ava/Ryujinx.Ava.csproj
  src/Ryujinx.Ava/UI/Controls/ApplicationContextMenu.axaml
  src/Ryujinx.Ava/UI/Controls/ApplicationContextMenu.axaml.cs
  src/Ryujinx.Ava/UI/Controls/ApplicationGridView.axaml
  src/Ryujinx.Ava/UI/Controls/ApplicationGridView.axaml.cs
  src/Ryujinx.Ava/UI/Controls/ApplicationListView.axaml
  src/Ryujinx.Ava/UI/Controls/ApplicationListView.axaml.cs
  src/Ryujinx.Ava/UI/Controls/GameGridView.axaml
  src/Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  src/Ryujinx.Ava/UI/Windows/MainWindow.axaml
  src/Ryujinx.Ava/UI/Windows/MainWindow.axaml.cs
Labels: gui, fix

#4795 fix: linux launcher breaks when there are spaces in the directory path
  distribution/linux/Ryujinx.sh
Labels: fix, os:linux

#4783 ModLoader: Fix case sensitivy issues without breaking cheats
  src/Ryujinx.Ava/UI/Controls/ApplicationContextMenu.axaml.cs
  src/Ryujinx.Ava/UI/Windows/CheatWindow.axaml.cs
  src/Ryujinx.HLE/HOS/ModLoader.cs
  src/Ryujinx.HLE/Loaders/Processes/Extensions/LocalFileSystemExtensions.cs
  src/Ryujinx.HLE/Loaders/Processes/Extensions/NcaExtensions.cs
  src/Ryujinx/Ui/Widgets/GameTableContextMenu.cs
  src/Ryujinx/Ui/Windows/CheatWindow.cs
Labels: fix, service:loader

#4749 GPU: Allow granular buffer updates from the constant buffer updater
  src/Ryujinx.Graphics.Gpu/Memory/Buffer.cs
Labels: gpu, performance

#4798 Fix typo in TextureBindingsManager.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
Labels: miscellaneous, fix

#4819 Correct tooltips for add,remove,removeall buttons
  src/Ryujinx/Ui/Windows/DlcWindow.glade
  src/Ryujinx/Ui/Windows/TitleUpdateWindow.glade
Labels: gui, fix

#4820 UI: Fix sections extraction
  src/Ryujinx.Ava/Common/ApplicationHelper.cs
  src/Ryujinx.Ava/UI/Controls/ApplicationContextMenu.axaml
  src/Ryujinx.Ava/UI/Controls/ApplicationContextMenu.axaml.cs
  src/Ryujinx/Ui/Widgets/GameTableContextMenu.cs
Labels: gui, fix

#4817 GPU: Remove CPU region handle containers
  src/Ryujinx.Cpu/AppleHv/HvMemoryManager.cs
  src/Ryujinx.Cpu/IVirtualMemoryManagerTracked.cs
  src/Ryujinx.Cpu/Jit/MemoryManager.cs
  src/Ryujinx.Cpu/Jit/MemoryManagerHostMapped.cs
  src/Ryujinx.Cpu/Tracking/CpuMultiRegionHandle.cs
  src/Ryujinx.Cpu/Tracking/CpuRegionHandle.cs
  src/Ryujinx.Cpu/Tracking/CpuSmartMultiRegionHandle.cs
  src/Ryujinx.Graphics.Gpu/Image/Pool.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureGroupHandle.cs
  src/Ryujinx.Graphics.Gpu/Memory/Buffer.cs
  src/Ryujinx.Graphics.Gpu/Memory/GpuRegionHandle.cs
  src/Ryujinx.Graphics.Gpu/Memory/PhysicalMemory.cs
  src/Ryujinx.Memory/Tracking/RegionHandle.cs
Labels: gpu, performance

#4821 Shader: Use correct offset for storage constant buffer elimination
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/GlobalToStorage.cs
Labels: gpu, fix, performance

#4825 AM: Stub some service calls
  src/Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/ISystemAppletProxy.cs
  src/Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/SystemAppletProxy/ICommonStateGetter.cs
Labels: stub, service:am

#4805 UI: Add progress bar for re-packaging shaders
  src/Ryujinx.Ava/Assets/Locales/en_US.json
  src/Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/ParallelDiskCacheLoader.cs
  src/Ryujinx.Graphics.Gpu/Shader/ShaderCacheState.cs
Labels: enhancement, gui

#4340 UI: Expose games build ID for cheat management
  src/Ryujinx.Ava/Assets/Locales/en_US.json
  src/Ryujinx.Ava/UI/Controls/ApplicationContextMenu.axaml.cs
  src/Ryujinx.Ava/UI/Views/Main/MainMenuBarView.axaml.cs
  src/Ryujinx.Ava/UI/Windows/CheatWindow.axaml
  src/Ryujinx.Ava/UI/Windows/CheatWindow.axaml.cs
  src/Ryujinx.Ui.Common/App/ApplicationData.cs
  src/Ryujinx/Ui/MainWindow.cs
  src/Ryujinx/Ui/Widgets/GameTableContextMenu.cs
  src/Ryujinx/Ui/Windows/CheatWindow.cs
  src/Ryujinx/Ui/Windows/CheatWindow.glade
Labels: enhancement, gui

#4846 misc: Switch ProcessResult to a class
  src/Ryujinx.HLE/Loaders/Processes/ProcessResult.cs
Labels: miscellaneous

#4822 time: Update for 15.0.0 changes and fixes long standing issues
  src/Ryujinx.HLE/HOS/Horizon.cs
  src/Ryujinx.HLE/HOS/Services/Time/Clock/Types/ContinuousAdjustmentTimePoint.cs
  src/Ryujinx.HLE/HOS/Services/Time/TimeSharedMemory.cs
Labels: enhancement, service:time

#4848 Ava: Fix SystemTimeOffset calculation
  src/Ryujinx.Ava/UI/ViewModels/SettingsViewModel.cs
  src/Ryujinx.Ava/UI/Views/Settings/SettingsSystemView.axaml
Labels: gui, fix

#4849 misc: Avoid copy of ApplicationControlProperty
  src/Ryujinx.HLE/Loaders/Processes/Extensions/FileSystemExtensions.cs
  src/Ryujinx.HLE/Loaders/Processes/ProcessLoader.cs
  src/Ryujinx.HLE/Loaders/Processes/ProcessLoaderHelper.cs
  src/Ryujinx.HLE/Loaders/Processes/ProcessResult.cs
Labels: miscellaneous

#4843 Vulkan: Batch vertex buffer updates
  src/Ryujinx.Graphics.Vulkan/PipelineBase.cs
  src/Ryujinx.Graphics.Vulkan/VertexBufferState.cs
  src/Ryujinx.Graphics.Vulkan/VertexBufferUpdater.cs
Labels: gpu, performance

#4845 Vulkan: Simplify MultiFenceHolder and managing them
  src/Ryujinx.Graphics.Vulkan/Auto.cs
  src/Ryujinx.Graphics.Vulkan/BufferHolder.cs
  src/Ryujinx.Graphics.Vulkan/CommandBufferPool.cs
  src/Ryujinx.Graphics.Vulkan/FenceHolder.cs
  src/Ryujinx.Graphics.Vulkan/MultiFenceHolder.cs
  src/Ryujinx.Graphics.Vulkan/PersistentFlushBuffer.cs
Labels: gpu, performance

#4858 vulkan: Avoid hardcoding features in CreateDevice
  src/Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
Labels: gpu, miscellaneous, graphics-backend:vulkan

#4859 vulkan: Pass Vk instance to VulkanRenderer
  src/Ryujinx.Ava/AppHost.cs
  src/Ryujinx.Ava/UI/ViewModels/SettingsViewModel.cs
  src/Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
  src/Ryujinx.Headless.SDL2/Program.cs
  src/Ryujinx/Ui/MainWindow.cs
  src/Ryujinx/Ui/Windows/SettingsWindow.cs
Labels: gpu, miscellaneous, graphics-backend:vulkan

#4803 IPC - Refactor Bcat service to use new ipc - Revisit
  src/Ryujinx.HLE/HOS/Horizon.cs
  src/Ryujinx.HLE/HOS/Services/Bcat/IServiceCreator.cs
  src/Ryujinx.HLE/HOS/Services/Bcat/ResultCode.cs
  src/Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IBcatService.cs
  src/Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheDirectoryService.cs
  src/Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheFileService.cs
  src/Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheProgressService.cs
  src/Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheStorageService.cs
  src/Ryujinx.Horizon.Generators/Hipc/HipcGenerator.cs
  src/Ryujinx.Horizon/Bcat/BcatIpcServer.cs
  src/Ryujinx.Horizon/Bcat/BcatMain.cs
  src/Ryujinx.Horizon/Bcat/BcatResult.cs
  src/Ryujinx.Horizon/Bcat/BcatServerManager.cs
  src/Ryujinx.Horizon/Bcat/Ipc/ServiceCreator.cs
  src/Ryujinx.Horizon/Bcat/Ipc/ServiceCreator/BcatService.cs
  src/Ryujinx.Horizon/Bcat/Ipc/ServiceCreator/DeliveryCacheDirectoryService.cs
  src/Ryujinx.Horizon/Bcat/Ipc/ServiceCreator/DeliveryCacheFileService.cs
  src/Ryujinx.Horizon/Bcat/Ipc/ServiceCreator/DeliveryCacheProgressService.cs
  src/Ryujinx.Horizon/Bcat/Ipc/ServiceCreator/DeliveryCacheStorageService.cs
  src/Ryujinx.Horizon/Bcat/Ipc/ServiceCreator/Types/DeliveryCacheProgressImpl.cs
  src/Ryujinx.Horizon/Bcat/Types/BcatPortIndex.cs
  src/Ryujinx.Horizon/Bcat/Types/BcatServicePermissionLevel.cs
  src/Ryujinx.Horizon/HorizonOptions.cs
  src/Ryujinx.Horizon/LibHacResultExtensions.cs
  src/Ryujinx.Horizon/Prepo/PrepoIpcServer.cs
  src/Ryujinx.Horizon/Sdk/Bcat/IBcatService.cs
  src/Ryujinx.Horizon/Sdk/Bcat/IDeliveryCacheDirectoryService.cs
  src/Ryujinx.Horizon/Sdk/Bcat/IDeliveryCacheFileService.cs
  src/Ryujinx.Horizon/Sdk/Bcat/IDeliveryCacheProgressService.cs
  src/Ryujinx.Horizon/Sdk/Bcat/IDeliveryCacheStorageService.cs
  src/Ryujinx.Horizon/Sdk/Bcat/IServiceCreator.cs
  src/Ryujinx.Horizon/ServiceTable.cs
Labels: enhancement, service:bcat

#4800 fix(mvk): resumeLostDevice
  src/Ryujinx.Graphics.Vulkan/MoltenVK/MVKInitialization.cs
Labels: gpu, fix

#4879 Fix missing domain service object dispose
  src/Ryujinx.Horizon/Sdk/Sf/Cmif/ServerDomainManager.cs
Labels: horizon, fix

#4874 Ensure background translation threads exited before disposing JIT
  src/ARMeilleure/Translation/Translator.cs
Labels: cpu, fix

#4837 Update release workflow & Add jobs for macOS
  .github/workflows/build.yml
  .github/workflows/release.yml
  distribution/macos/create_macos_build.sh
Labels: infra, os:macOS

#4832 Fix the issue of unequal check for amiibo file date due to the lack o…
  src/Ryujinx.Ava/UI/ViewModels/AmiiboWindowViewModel.cs
  src/Ryujinx/Ui/Windows/AmiiboWindow.cs
Labels: miscellaneous, fix

#4842 Stop SDL from inhibiting sleep (#4828).
  src/Ryujinx.SDL2.Common/SDL2Driver.cs
Labels: gui, fix

#4888 amadeus: Fix wrong channel mapping check and an old typo
  src/Ryujinx.Audio/Renderer/Dsp/Command/DelayCommand.cs
  src/Ryujinx.Audio/Renderer/Dsp/Command/Reverb3dCommand.cs
  src/Ryujinx.Audio/Renderer/Dsp/Command/ReverbCommand.cs
  src/Ryujinx.Audio/Renderer/Dsp/DataSourceHelper.cs
Labels: audio, fix

#4890 Fix incorrect ASTC endpoint color when using LuminanceDelta mode
  src/Ryujinx.Graphics.Texture/Astc/AstcDecoder.cs
Labels: gpu, fix

#4866 UI: Adjust input mapping view
  src/Ryujinx.Ava/UI/Windows/ControllerSettingsWindow.axaml
Labels: enhancement, gui

#4894 amadeus: Allow 5.1 sink output
  src/Ryujinx.Audio/Renderer/Dsp/AudioProcessor.cs
  src/Ryujinx.Audio/Renderer/Dsp/Command/DeviceSinkCommand.cs
Labels: enhancement, audio

#4861 Changed LastPlayed field from string to nullable DateTime
  src/Ryujinx.Ava/AppHost.cs
  src/Ryujinx.Ava/UI/Controls/ApplicationListView.axaml
  src/Ryujinx.Ava/UI/Helpers/NullableDateTimeConverter.cs
  src/Ryujinx.Ava/UI/Models/Generic/LastPlayedSortComparer.cs
  src/Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  src/Ryujinx.Ui.Common/App/ApplicationData.cs
  src/Ryujinx.Ui.Common/App/ApplicationLibrary.cs
  src/Ryujinx.Ui.Common/App/ApplicationMetadata.cs
  src/Ryujinx/Ui/MainWindow.cs
Labels: gui, fix

#4869 Fix the restart after an update.
  src/Ryujinx.Ava/Modules/Updater/Updater.cs
  src/Ryujinx/Modules/Updater/UpdateDialog.cs
Labels: miscellaneous, fix

#4896 GPU: Remove swizzle undefined matching and rework depth aliasing
  src/Ryujinx.Graphics.Gpu/GpuContext.cs
  src/Ryujinx.Graphics.Gpu/Image/Texture.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureInfo.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureViewCompatibility.cs
Labels: gpu, fix

#4880 Vulkan: Partially workaround MoltenVK InvalidResource error
  src/Ryujinx.Graphics.Vulkan/PipelineLayoutFactory.cs
Labels: gpu, fix, os:macOS

#4900 Ava: Fix wrong MouseButton
  src/Ryujinx.Ava/Input/AvaloniaMouseDriver.cs
Labels: gui, fix

#4921 Set OpenGL PixelPackBuffer to 0 when done
  src/Ryujinx.Graphics.OpenGL/Image/TextureView.cs
  src/Ryujinx.Graphics.OpenGL/Window.cs
Labels: gpu, fix, graphics-backend:opengl

#4908 audio: sdl2: Do not report 5.1 if the device doesn't support it
  src/Ryujinx.Audio.Backends.SDL2/SDL2HardwareDeviceDriver.cs
  src/Ryujinx.Audio/Renderer/Device/VirtualDevice.cs
  src/Ryujinx.Audio/Renderer/Device/VirtualDeviceSessionRegistry.cs
  src/Ryujinx.HLE/HOS/Horizon.cs
Labels: audio, fix

#4928 Add timeout of 35 minutes to workflow jobs
  .github/workflows/build.yml
  .github/workflows/flatpak.yml
  .github/workflows/nightly_pr_comment.yml
  .github/workflows/release.yml
Labels: infra

#4911 Vulkan: Device map buffers written more than flushed
  src/Ryujinx.Graphics.Vulkan/BufferHolder.cs
Labels: gpu, performance, graphics-backend:vulkan

#4927 [GUI] Fix always hide cursor mode not hiding the cursor until it was moved
  src/Ryujinx.Ava/AppHost.cs
  src/Ryujinx/Ui/RendererWidgetBase.cs
Labels: gui, fix

#4987 macos: Fix relaunch with updater when no arguments were provided to the emulator
  distribution/macos/updater.sh
Labels: bug, miscellaneous, os:macOS

#4992 Start GPU performance counter at 0 instead of host GPU value
  src/Ryujinx.Graphics.Gpu/GpuContext.cs
Labels: gpu, fix

#5002 ava: Fix crash when extracting sections from NCA with no data section
  src/Ryujinx.Ava/Common/ApplicationHelper.cs
Labels: gui, fix

#4999 GPU: Avoid using garbage size for non-cb0 storage buffers
  src/Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  src/Ryujinx.Graphics.Gpu/Memory/MemoryManager.cs
Labels: gpu, fix, performance

#5003 Fix Vulkan blit-like operations swizzle
  src/Ryujinx.Graphics.Vulkan/DescriptorSetUpdater.cs
  src/Ryujinx.Graphics.Vulkan/HelperShader.cs
  src/Ryujinx.Graphics.Vulkan/PipelineBase.cs
Labels: gpu, fix, graphics-backend:vulkan

#4578 Eliminate redundant multiplications by gl_FragCoord.w on the shader
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/Optimizer.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/Utils.cs
Labels: gpu, fix

#5014 Fix macOS Update Script
  distribution/macos/updater.sh
Labels: fix, os:macOS

#5026 SPIR-V: Only allow implicit LOD sampling on fragment
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/Instructions.cs
Labels: gpu, fix, graphics-backend:vulkan, graphics-vendor:amd

#5028 Limit compute storage buffer size
  src/Ryujinx.Graphics.Gpu/Constants.cs
  src/Ryujinx.Graphics.Gpu/Engine/Compute/ComputeClass.cs
  src/Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  src/Ryujinx.Graphics.Vulkan/BufferManager.cs
Labels: gpu, fix

#4646 Replace constant buffer access on shader with new Load instruction
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Gpu/Shader/GpuAccessorBase.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/DefaultNames.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/TexelFetchScale_cp.glsl
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/TexelFetchScale_fp.glsl
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/TexelFetchScale_vp.glsl
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGen.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenHelper.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/IoMap.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/CodeGenContext.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/Declarations.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/Instructions.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/ScalingHelpers.cs
  src/Ryujinx.Graphics.Shader/Instructions/InstEmitAttribute.cs
  src/Ryujinx.Graphics.Shader/Instructions/InstEmitMemory.cs
  src/Ryujinx.Graphics.Shader/IntermediateRepresentation/Instruction.cs
  src/Ryujinx.Graphics.Shader/IntermediateRepresentation/IoVariable.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/AstOperand.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/BufferDefinition.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/BufferLayout.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/InstructionInfo.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/OperandInfo.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/ShaderProperties.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/StructureType.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/StructuredProgram.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/StructuredProgramContext.cs
  src/Ryujinx.Graphics.Shader/SupportBuffer.cs
  src/Ryujinx.Graphics.Shader/Translation/AggregateType.cs
  src/Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
  src/Ryujinx.Graphics.Shader/Translation/EmitterContextInsts.cs
  src/Ryujinx.Graphics.Shader/Translation/FeatureFlags.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessToIndexed.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/ConstantFolding.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/GlobalToStorage.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/Optimizer.cs
  src/Ryujinx.Graphics.Shader/Translation/ResourceManager.cs
  src/Ryujinx.Graphics.Shader/Translation/Rewriter.cs
  src/Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
  src/Ryujinx.Graphics.Shader/Translation/Translator.cs
Labels: enhancement, gpu

#5025 Replace ShaderBindings with new ResourceLayout structure for Vulkan
  src/Ryujinx.Graphics.GAL/ResourceLayout.cs
  src/Ryujinx.Graphics.GAL/ShaderBindings.cs
  src/Ryujinx.Graphics.GAL/ShaderInfo.cs
  src/Ryujinx.Graphics.GAL/ShaderSource.cs
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/ParallelDiskCacheLoader.cs
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/ShaderBinarySerializer.cs
  src/Ryujinx.Graphics.Gpu/Shader/GpuAccessorBase.cs
  src/Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  src/Ryujinx.Graphics.Gpu/Shader/ShaderInfoBuilder.cs
  src/Ryujinx.Graphics.Vulkan/DescriptorSetUpdater.cs
  src/Ryujinx.Graphics.Vulkan/Effects/FsrScalingFilter.cs
  src/Ryujinx.Graphics.Vulkan/Effects/FxaaPostProcessingEffect.cs
  src/Ryujinx.Graphics.Vulkan/Effects/SmaaPostProcessingEffect.cs
  src/Ryujinx.Graphics.Vulkan/EnumConversion.cs
  src/Ryujinx.Graphics.Vulkan/HelperShader.cs
  src/Ryujinx.Graphics.Vulkan/PipelineLayoutCache.cs
  src/Ryujinx.Graphics.Vulkan/PipelineLayoutCacheEntry.cs
  src/Ryujinx.Graphics.Vulkan/PipelineLayoutFactory.cs
  src/Ryujinx.Graphics.Vulkan/ResourceBindingSegment.cs
  src/Ryujinx.Graphics.Vulkan/ResourceLayoutBuilder.cs
  src/Ryujinx.Graphics.Vulkan/Shader.cs
  src/Ryujinx.Graphics.Vulkan/ShaderCollection.cs
  src/Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: enhancement, gpu, graphics-backend:vulkan

#4577 ServerBase thread safety
  src/Ryujinx.HLE/HOS/Services/ServerBase.cs
Labels: horizon, fix

#5057 Bump MVK Version to 1.2.3
  Directory.Packages.props
Labels: enhancement, gpu, os:macOS

#5031 Implement p2rc, p2ri, p2rr and r2p.cc shaders
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Shader/Instructions/InstEmit.cs
  src/Ryujinx.Graphics.Shader/Instructions/InstEmitMove.cs
  src/Ryujinx.Graphics.Shader/Instructions/InstEmitPredicate.cs
Labels: gpu, fix

#5094 Truncate vertex attribute format if it exceeds stride on MoltenVK
  src/Ryujinx.Graphics.Vulkan/FormatTable.cs
  src/Ryujinx.Graphics.Vulkan/PipelineState.cs
Labels: gpu, fix, graphics-backend:vulkan, os:macOS

#4714 Generate scaling helper functions on IR
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/TexelFetchScale_cp.glsl
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/TexelFetchScale_fp.glsl
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/TexelFetchScale_vp.glsl
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenHelper.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/CodeGenContext.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/Instructions.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/ScalingHelpers.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/SpirvDelegates.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/SpirvGenerator.cs
  src/Ryujinx.Graphics.Shader/IntermediateRepresentation/Instruction.cs
  src/Ryujinx.Graphics.Shader/Ryujinx.Graphics.Shader.csproj
  src/Ryujinx.Graphics.Shader/StructuredIr/AstTextureOperation.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/InstructionInfo.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/StructuredProgram.cs
  src/Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
  src/Ryujinx.Graphics.Shader/Translation/EmitterContextInsts.cs
  src/Ryujinx.Graphics.Shader/Translation/HelperFunctionManager.cs
  src/Ryujinx.Graphics.Shader/Translation/HelperFunctionName.cs
  src/Ryujinx.Graphics.Shader/Translation/Rewriter.cs
  src/Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
  src/Ryujinx.Graphics.Shader/Translation/ShaderIdentifier.cs
  src/Ryujinx.Graphics.Shader/Translation/Translator.cs
Labels: enhancement, gpu

#5088 Fix mod names
  src/Ryujinx.HLE/HOS/ModLoader.cs
Labels: horizon, fix

#5102 Fix resolution scaling of image operation coordinates
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Shader/Translation/Rewriter.cs
Labels: gpu, fix

#5110 Force reciprocal operation with value biased by constant to be precise on macOS
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/Instructions.cs
  src/Ryujinx.Graphics.Shader/IntermediateRepresentation/Operation.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/AstOperation.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/AstTextureOperation.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/StructuredProgram.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/StructuredProgramContext.cs
  src/Ryujinx.Graphics.Shader/Translation/Rewriter.cs
Labels: gpu, fix, graphics-backend:vulkan, os:macOS

#4827 Ryujinx.Ava: fixes for random hangs on exit
  src/Ryujinx.Audio/Renderer/Server/AudioRenderSystem.cs
  src/Ryujinx.Ava/UI/Helpers/NotificationHelper.cs
  src/Ryujinx.Common/AsyncWorkQueue.cs
Labels: gui, fix

#5123 Use variables to configure job timeouts
  .github/workflows/build.yml
  .github/workflows/flatpak.yml
  .github/workflows/nightly_pr_comment.yml
  .github/workflows/release.yml
Labels: infra

#5086 Added Custom Path case when saving screenshots
  src/Ryujinx.Ava/AppHost.cs
  src/Ryujinx/Ui/RendererWidgetBase.cs
Labels: gui

#5056 Update LastPlayed date on emulation end.
  src/Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  src/Ryujinx/Ui/MainWindow.cs
Labels: gui, fix

#5095 About window: Add changelog link under ver. number
  src/Ryujinx.Ava/Assets/Locales/en_US.json
  src/Ryujinx.Ava/UI/Windows/AboutWindow.axaml
  src/Ryujinx/Ui/Windows/AboutWindow.Designer.cs
  src/Ryujinx/Ui/Windows/AboutWindow.cs
Labels: enhancement, gui, miscellaneous

#5124 chore: Update Avalonia to 0.10.21
  Directory.Packages.props
Labels: gui, miscellaneous, infra

#5027 Add support for VK_EXT_depth_clip_control.
  src/Ryujinx.Graphics.GAL/Capabilities.cs
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Gpu/Shader/GpuAccessorBase.cs
  src/Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  src/Ryujinx.Graphics.Shader/IGpuAccessor.cs
  src/Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
  src/Ryujinx.Graphics.Vulkan/HardwareCapabilities.cs
  src/Ryujinx.Graphics.Vulkan/PipelineBase.cs
  src/Ryujinx.Graphics.Vulkan/PipelineState.cs
  src/Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
  src/Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, fix, review/waiting-on-author, graphics-backend:vulkan

#4938 Linux: Use gamemode if it is available when using Ryujinx.sh.
  distribution/linux/Ryujinx.sh
Labels: enhancement, miscellaneous, os:linux

#5131 Fix #5108: Allow surround sound for SDL2 in more scenarios
  src/Ryujinx.Audio.Backends.SDL2/SDL2HardwareDeviceDriver.cs
Labels: audio, fix

#5112 Fix incorrect vertex attribute format change
  src/Ryujinx.Graphics.Vulkan/FormatCapabilities.cs
  src/Ryujinx.Graphics.Vulkan/PipelineBase.cs
  src/Ryujinx.Graphics.Vulkan/PipelineState.cs
Labels: gpu, fix, graphics-backend:vulkan, os:macOS

#5118 Workaround for MoltenVK barrier issues
  src/Ryujinx.Graphics.Vulkan/PipelineBase.cs
Labels: gpu, fix, graphics-backend:vulkan, os:macOS

#5122 Make sure blend is disabled if render target has integer format
  src/Ryujinx.Graphics.Vulkan/FramebufferParams.cs
  src/Ryujinx.Graphics.Vulkan/PipelineBase.cs
  src/Ryujinx.Graphics.Vulkan/PipelineConverter.cs
  src/Ryujinx.Graphics.Vulkan/PipelineState.cs
  src/Ryujinx.Graphics.Vulkan/PipelineUid.cs
Labels: gpu, fix, graphics-backend:vulkan, os:macOS

#4702 Linux: Automatically increase vm.max_map_count if it's too low
  distribution/linux/Ryujinx.sh
  src/Ryujinx.Ava/Assets/Locales/en_US.json
  src/Ryujinx.Ava/Ryujinx.Ava.csproj
  src/Ryujinx.Ava/UI/Helpers/ContentDialogHelper.cs
  src/Ryujinx.Ava/UI/Windows/MainWindow.axaml.cs
  src/Ryujinx.Memory/MemoryManagementUnix.cs
  src/Ryujinx.Memory/MemoryManagementWindows.cs
  src/Ryujinx.Memory/MemoryManagerUnixHelper.cs
  src/Ryujinx.Memory/MemoryProtectionException.cs
  src/Ryujinx.Memory/WindowsShared/WindowsApi.cs
  src/Ryujinx.Memory/WindowsShared/WindowsApiException.cs
  src/Ryujinx.Ui.Common/Helper/LinuxHelper.cs
  src/Ryujinx/Program.cs
  src/Ryujinx/Ryujinx.csproj
Labels: miscellaneous, os:linux

#5154 Add Context Menu Option to Run Application
  src/Ryujinx.Ava/Assets/Locales/en_US.json
  src/Ryujinx.Ava/UI/Controls/ApplicationContextMenu.axaml
  src/Ryujinx.Ava/UI/Controls/ApplicationContextMenu.axaml.cs
Labels: enhancement, gui

#5167 macOS Headless Fixes
  src/Ryujinx.Headless.SDL2/Options.cs
  src/Ryujinx.Headless.SDL2/Program.cs
  src/Ryujinx.Headless.SDL2/Ryujinx.Headless.SDL2.csproj
Labels: gui, fix, os:macOS

#5181 Share ResourceManager between vertex A and B shaders
  src/Ryujinx.Graphics.Gpu/Shader/GpuAccessorBase.cs
  src/Ryujinx.Graphics.Shader/Translation/ResourceManager.cs
  src/Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
  src/Ryujinx.Graphics.Shader/Translation/TranslatorContext.cs
Labels: gpu, fix

#5144 GPU: Dispose Renderer after running deferred actions
  src/Ryujinx.Ava/AppHost.cs
  src/Ryujinx.Graphics.GAL/IRenderer.cs
  src/Ryujinx.Graphics.GAL/Multithreading/ThreadedRenderer.cs
  src/Ryujinx.Graphics.Gpu/GpuContext.cs
  src/Ryujinx.Headless.SDL2/WindowBase.cs
  src/Ryujinx/Ui/RendererWidgetBase.cs
Labels: gpu, fix
