Repository Ryujinx/Ryujinx, pull requests merged in 2023-03, with the labels that each got.

#4414 Update LibHac to 0.18.0
  Directory.Packages.props
  Ryujinx.Ava/Common/ApplicationHelper.cs
  Ryujinx.Ava/UI/Controls/NavigationDialogHost.axaml.cs
  Ryujinx.Ava/UI/ViewModels/AvatarProfileViewModel.cs
  Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  Ryujinx.Ava/UI/ViewModels/TitleUpdateViewModel.cs
  Ryujinx.Ava/UI/ViewModels/UserFirmwareAvatarSelectorViewModel.cs
  Ryujinx.Ava/UI/Views/Main/MainMenuBarView.axaml.cs
  Ryujinx.Ava/UI/Views/User/UserSaveManagerView.axaml.cs
  Ryujinx.Ava/UI/Windows/DownloadableContentManagerWindow.axaml.cs
  Ryujinx.HLE/FileSystem/ContentManager.cs
  Ryujinx.HLE/FileSystem/LocationEntry.cs
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
  Ryujinx.HLE/HOS/Applets/Error/ErrorApplet.cs
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.HLE/HOS/ModLoader.cs
  Ryujinx.HLE/HOS/ProgramLoader.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/AccountManager.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
  Ryujinx.HLE/HOS/Services/Bcat/IServiceCreator.cs
  Ryujinx.HLE/HOS/Services/Bcat/ServiceCreator/IDeliveryCacheStorageService.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/FileSystemProxyHelper.cs
  Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/IFileSystem.cs
  Ryujinx.HLE/HOS/Services/Fs/IFileSystemProxy.cs
  Ryujinx.HLE/HOS/Services/Fs/IMultiCommitManager.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/StoreData.cs
  Ryujinx.HLE/HOS/Services/Ncm/Lr/LocationResolverManager/ILocationResolver.cs
  Ryujinx.HLE/HOS/Services/Nifm/StaticService/Types/ProxySetting.cs
  Ryujinx.HLE/HOS/Services/Sdb/Pl/SharedFontManager.cs
  Ryujinx.HLE/HOS/Services/Settings/ISystemSettingsServer.cs
  Ryujinx.HLE/HOS/Services/Ssl/BuiltInCertificateManager.cs
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZoneContentManager.cs
  Ryujinx.Ui.Common/App/ApplicationLibrary.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/Widgets/GameTableContextMenu.cs
  Ryujinx/Ui/Windows/AvatarWindow.cs
  Ryujinx/Ui/Windows/DlcWindow.cs
  Ryujinx/Ui/Windows/TitleUpdateWindow.cs
Labels: enhancement, service:fs

#4498 Minor code formatting
  ARMeilleure/Instructions/InstEmitHash32.cs
  ARMeilleure/Instructions/InstEmitHashHelper.cs
  Ryujinx.Audio.Backends.SoundIo/SoundIoHardwareDeviceDriver.cs
  Ryujinx.Audio/Renderer/Dsp/Command/CompressorCommand.cs
  Ryujinx.Audio/Renderer/Server/Effect/CompressorEffect.cs
  Ryujinx.Ava/UI/Controls/NavigationDialogHost.axaml.cs
  Ryujinx.Ava/UI/Helpers/LoggerAdapter.cs
  Ryujinx.Ava/UI/ViewModels/AmiiboWindowViewModel.cs
  Ryujinx.Ava/UI/ViewModels/ControllerSettingsViewModel.cs
  Ryujinx.Ava/UI/Views/User/UserEditorView.axaml.cs
  Ryujinx.Common/SystemInfo/LinuxSystemInfo.cs
  Ryujinx.Common/SystemInfo/MacOSSystemInfo.cs
  Ryujinx.Common/SystemInfo/SystemInfo.cs
  Ryujinx.Common/SystemInfo/WindowsSystemInfo.cs
  Ryujinx.Common/SystemInterop/StdErrAdapter.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderSpecializationState.cs
  Ryujinx.Graphics.Nvdec.Vp9/Dsp/InvTxfm.cs
  Ryujinx.Graphics.Nvdec.Vp9/Dsp/Reader.cs
  Ryujinx.Graphics.OpenGL/PersistentBuffers.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/SpirvDelegates.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/SpirvGenerator.cs
  Ryujinx.Graphics.Texture/BC7Decoder.cs
  Ryujinx.Graphics.Vulkan/BackgroundResources.cs
  Ryujinx.Graphics.Vulkan/IdList.cs
  Ryujinx.Graphics.Vulkan/MoltenVK/MVKInitialization.cs
  Ryujinx.Graphics.Vulkan/Queries/CounterQueue.cs
  Ryujinx.HLE/HOS/Applets/Controller/ControllerApplet.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardApplet.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardRendererBase.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/IntegerLiteral.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Demangler.cs
  Ryujinx.HLE/HOS/Kernel/Memory/KPageTableBase.cs
  Ryujinx.HLE/HOS/Kernel/Process/HleProcessDebugger.cs
  Ryujinx.HLE/HOS/ModLoader.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/AccountSaveDataManager.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/LibraryAppletCreator/ILibraryAppletAccessor.cs
  Ryujinx.HLE/HOS/Services/Bcat/IServiceCreator.cs
  Ryujinx.HLE/HOS/Services/Fs/IFileSystemProxy.cs
  Ryujinx.HLE/HOS/Services/IpcService.cs
  Ryujinx.HLE/HOS/Services/Mii/Types/RandomMiiConstants.cs
  Ryujinx.HLE/HOS/Services/Nv/NvMemoryAllocator.cs
  Ryujinx.HLE/HOS/Services/Vi/RootService/IApplicationDisplayService.cs
  Ryujinx.Horizon/Sdk/OsTypes/Impl/MultiWaitImpl.cs
  Ryujinx.Horizon/Sdk/OsTypes/OsSystemEvent.cs
  Ryujinx.Horizon/Sdk/Sf/Hipc/ServerManagerBase.cs
  Ryujinx.Horizon/Sm/SmMain.cs
  Ryujinx.Input/Assigner/GamepadButtonAssigner.cs
  Ryujinx/Ui/Helper/MetalHelper.cs
  Ryujinx/Ui/RendererWidgetBase.cs
  Ryujinx/Ui/VKRenderer.cs
  Ryujinx/Ui/Widgets/ProfileDialog.cs
  Ryujinx/Ui/Windows/ControllerWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.cs
Labels: enhancement, miscellaneous

#4484 CPU: Avoid argument value copies on the JIT
  ARMeilleure/CodeGen/Arm64/PreAllocator.cs
  ARMeilleure/CodeGen/PreAllocatorCommon.cs
  ARMeilleure/CodeGen/X86/PreAllocator.cs
  ARMeilleure/CodeGen/X86/PreAllocatorSystemV.cs
  ARMeilleure/CodeGen/X86/PreAllocatorWindows.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, performance

#4529 [Flatpak] Add release github workflow
  .github/workflows/flatpak.yml
  .github/workflows/release.yml
  global.json
Labels: infra

#4509 Misc performance tweaks
  ARMeilleure/CodeGen/Arm64/CodeGenContext.cs
  ARMeilleure/CodeGen/RegisterAllocators/LinearScanAllocator.cs
  ARMeilleure/Decoders/DecoderHelper.cs
  ARMeilleure/Decoders/OpCodeTable.cs
  Ryujinx.Audio/Common/AudioDeviceSession.cs
  Ryujinx.Ava/UI/Windows/IconColorPicker.cs
  Ryujinx.Graphics.Vulkan/Queries/Counters.cs
  Ryujinx.Graphics.Vulkan/SpecInfo.cs
  Ryujinx.Graphics.Vulkan/Window.cs
  Ryujinx.HLE/HOS/Ipc/IpcHandleDesc.cs
  Ryujinx.HLE/HOS/Ipc/IpcMessage.cs
  Ryujinx.HLE/HOS/Kernel/Common/KTimeManager.cs
  Ryujinx.HLE/HOS/Services/Time/TimeZone/TimeZoneContentManager.cs
  Ryujinx.Input.SDL2/SDL2GamepadDriver.cs
  Ryujinx.Memory.Tests/MockVirtualMemoryManager.cs
Labels: miscellaneous, performance

#4507 misc: Some dependencies cleanup
  Directory.Packages.props
  Ryujinx.Graphics.Vulkan/Ryujinx.Graphics.Vulkan.csproj
  Ryujinx.Input/Motion/CemuHook/Client.cs
  Ryujinx.Input/Motion/CemuHook/Protocol/Header.cs
  Ryujinx.Input/Ryujinx.Input.csproj
Labels: miscellaneous, infra, input, graphics-backend:vulkan

#4535 [Flatpak] Beautify multiline strings again & Add full git commit hash
  .github/workflows/flatpak.yml
Labels: infra

#4538 Increase access permissions for AvaloniaList<Timezone>
  Ryujinx.Ava/UI/ViewModels/SettingsViewModel.cs
Labels: gui, fix

#4462 Misc: Support space in path on macOS distribution
  Ryujinx.Ava/Ryujinx.Ava.csproj
  distribution/macos/create_app_bundle.sh
  distribution/macos/create_macos_release.sh
Labels: miscellaneous, fix

#4471 GPU: Scale counter results before addition
  Ryujinx.Graphics.Gpu/Engine/Threed/SemaphoreUpdater.cs
  Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.OpenGL/Queries/BufferedQuery.cs
  Ryujinx.Graphics.OpenGL/Queries/CounterQueue.cs
  Ryujinx.Graphics.OpenGL/Queries/CounterQueueEvent.cs
  Ryujinx.Graphics.OpenGL/Queries/Counters.cs
  Ryujinx.Graphics.Vulkan/PipelineBase.cs
  Ryujinx.Graphics.Vulkan/Queries/BufferedQuery.cs
  Ryujinx.Graphics.Vulkan/Queries/CounterQueue.cs
  Ryujinx.Graphics.Vulkan/Queries/CounterQueueEvent.cs
Labels: gpu, fix

#4300 Ava UI: `DownloadableContentManager` Refactor
  Ryujinx.Ava/Assets/Locales/en_US.json
  Ryujinx.Ava/UI/Models/DownloadableContentModel.cs
  Ryujinx.Ava/UI/ViewModels/DownloadableContentManagerViewModel.cs
  Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  Ryujinx.Ava/UI/Windows/DownloadableContentManagerWindow.axaml
  Ryujinx.Ava/UI/Windows/DownloadableContentManagerWindow.axaml.cs
Labels: enhancement, gui

#4442 Update range for remapped sparse textures instead of recreating them
  Ryujinx.Cpu/Tracking/CpuRegionHandle.cs
  Ryujinx.Graphics.GAL/Target.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
  Ryujinx.Graphics.Texture/LayoutConverter.cs
  Ryujinx.Memory/Range/MultiRange.cs
Labels: gpu, performance

#4528 GPU: Fast path for adding one texture view to a group
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  Ryujinx.Graphics.Gpu/Image/TextureGroupHandle.cs
Labels: gpu, performance

#4530 Update syscall capabilites to include SVCs from FW 15.0.0
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Kernel/KernelConstants.cs
  Ryujinx.HLE/HOS/Kernel/KernelStatic.cs
  Ryujinx.HLE/HOS/Kernel/Process/CapabilityExtensions.cs
  Ryujinx.HLE/HOS/Kernel/Process/CapabilityType.cs
  Ryujinx.HLE/HOS/Kernel/Process/KHandleTable.cs
  Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
  Ryujinx.HLE/HOS/Kernel/Process/KProcessCapabilities.cs
  Ryujinx.HLE/HOS/Kernel/Process/ProcessCreationFlags.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall.cs
  Ryujinx.HLE/HOS/ProgramLoader.cs
  Ryujinx.HLE/HOS/Services/ServerBase.cs
  Ryujinx.HLE/Loaders/Executables/KipExecutable.cs
Labels: kernel

#4537 Reducing memory allocations
  ARMeilleure/CodeGen/Arm64/CodeGenContext.cs
  ARMeilleure/CodeGen/X86/Assembler.cs
  ARMeilleure/CodeGen/X86/CodeGenContext.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  ARMeilleure/Translation/PTC/PtcProfiler.cs
  Directory.Packages.props
  Ryujinx.Common/Extensions/BinaryReaderExtensions.cs
  Ryujinx.Common/Extensions/BinaryWriterExtensions.cs
  Ryujinx.Common/Extensions/StreamExtensions.cs
  Ryujinx.Common/Memory/MemoryStreamManager.cs
  Ryujinx.Common/Ryujinx.Common.csproj
  Ryujinx.Common/Utilities/EmbeddedResources.cs
  Ryujinx.Common/Utilities/StreamUtils.cs
  Ryujinx.Cpu/MemoryHelper.cs
  Ryujinx.Graphics.Gpu/Shader/DiskCache/ShaderBinarySerializer.cs
  Ryujinx.HLE/FileSystem/ContentManager.cs
  Ryujinx.HLE/HOS/Applets/Browser/BrowserApplet.cs
  Ryujinx.HLE/HOS/Applets/Controller/ControllerApplet.cs
  Ryujinx.HLE/HOS/Applets/PlayerSelect/PlayerSelectApplet.cs
  Ryujinx.HLE/HOS/Ipc/IpcHandleDesc.cs
  Ryujinx.HLE/HOS/Ipc/IpcMessage.cs
  Ryujinx.HLE/HOS/Ipc/IpcRecvListBuffDesc.cs
  Ryujinx.HLE/HOS/Kernel/Common/KTimeManager.cs
  Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KPriorityQueue.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KScheduler.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KSynchronization.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/Storage/StorageHelper.cs
  Ryujinx.HLE/HOS/Services/Sdb/Pl/SharedFontManager.cs
  Ryujinx.HLE/HOS/Services/ServerBase.cs
  Ryujinx.HLE/Utilities/StringUtils.cs
  Ryujinx.Input/Motion/CemuHook/Client.cs
  Ryujinx.Memory/IVirtualMemoryManager.cs
  Ryujinx/Ui/Windows/AvatarWindow.cs
  Ryujinx/Ui/Windows/UserProfilesManagerWindow.cs
Labels: performance

#4560 OpenGL: Fix inverted conditional for counter flush from #4471
  Ryujinx.Graphics.OpenGL/Queries/BufferedQuery.cs
Labels: gpu, fix, graphics-backend:opengl

#4564 Avoid copying more handles than we have space for
  Ryujinx.HLE/HOS/Services/ServerBase.cs
Labels: horizon, fix

#4566 Remove MultiRange Min/MaxAddress and rename GetSlice to Slice
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  Ryujinx.Memory/Range/MultiRange.cs
Labels: enhancement, gpu

#4540 Vulkan: Migrate buffers between memory types to improve GPU performance
  Ryujinx.Graphics.GAL/IRenderer.cs
  Ryujinx.Graphics.GAL/ITexture.cs
  Ryujinx.Graphics.GAL/Multithreading/Commands/Buffer/BufferGetDataCommand.cs
  Ryujinx.Graphics.GAL/Multithreading/Commands/Renderer/CreateBufferCommand.cs
  Ryujinx.Graphics.GAL/Multithreading/Commands/Texture/TextureGetDataCommand.cs
  Ryujinx.Graphics.GAL/Multithreading/Commands/Texture/TextureGetDataSliceCommand.cs
  Ryujinx.Graphics.GAL/Multithreading/Model/PinnedSpan.cs
  Ryujinx.Graphics.GAL/Multithreading/Resources/ThreadedTexture.cs
  Ryujinx.Graphics.GAL/Multithreading/ThreadedRenderer.cs
  Ryujinx.Graphics.GAL/PinnedSpan.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Memory/Buffer.cs
  Ryujinx.Graphics.OpenGL/Buffer.cs
  Ryujinx.Graphics.OpenGL/Image/TextureBuffer.cs
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
  Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  Ryujinx.Graphics.Vulkan/BufferAllocationType.cs
  Ryujinx.Graphics.Vulkan/BufferHolder.cs
  Ryujinx.Graphics.Vulkan/BufferManager.cs
  Ryujinx.Graphics.Vulkan/BufferState.cs
  Ryujinx.Graphics.Vulkan/DescriptorSetUpdater.cs
  Ryujinx.Graphics.Vulkan/Effects/FsrScalingFilter.cs
  Ryujinx.Graphics.Vulkan/Effects/FxaaPostProcessingEffect.cs
  Ryujinx.Graphics.Vulkan/Effects/SmaaPostProcessingEffect.cs
  Ryujinx.Graphics.Vulkan/HelperShader.cs
  Ryujinx.Graphics.Vulkan/IndexBufferPattern.cs
  Ryujinx.Graphics.Vulkan/IndexBufferState.cs
  Ryujinx.Graphics.Vulkan/MemoryAllocator.cs
  Ryujinx.Graphics.Vulkan/MemoryAllocatorBlockList.cs
  Ryujinx.Graphics.Vulkan/PipelineBase.cs
  Ryujinx.Graphics.Vulkan/PipelineFull.cs
  Ryujinx.Graphics.Vulkan/TextureBuffer.cs
  Ryujinx.Graphics.Vulkan/TextureView.cs
  Ryujinx.Graphics.Vulkan/VertexBufferState.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, performance

#4147 ARMeilleure: Add initial support for AVX512 (EVEX encoding) (cont)
  ARMeilleure/ARMeilleure.csproj
  ARMeilleure/CodeGen/X86/Assembler.cs
  ARMeilleure/CodeGen/X86/AssemblerTable.cs
  ARMeilleure/CodeGen/X86/HardwareCapabilities.cs
  ARMeilleure/CodeGen/X86/IntrinsicTable.cs
  ARMeilleure/CodeGen/X86/X86Instruction.cs
  ARMeilleure/Instructions/InstEmitSimdLogical.cs
  ARMeilleure/Instructions/InstEmitSimdLogical32.cs
  ARMeilleure/Instructions/InstEmitSimdMove32.cs
  ARMeilleure/IntermediateRepresentation/Intrinsic.cs
  ARMeilleure/Optimizations.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, performance, review/waiting-on-maintainers

#4572 CI: add a version tag to correlate release versions with commits
  .github/workflows/release.yml
Labels: enhancement, infra

#4584 ARMeilleure: Check for `XSAVE` cpuid flag for AVX{2,512}
  ARMeilleure/CodeGen/X86/HardwareCapabilities.cs
Labels: cpu, fix

#4591 Fix handle leak on IShopServiceAccessServerInterface.CreateServerInterface
  Ryujinx.HLE/HOS/Services/Nim/IShopServiceAccessServerInterface.cs
Labels: fix, service:nim

#4586 Update short cache textures if modified
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
Labels: gpu, fix

#4587 Batch inline index buffer update
  Ryujinx.Graphics.Gpu/Engine/Threed/DrawManager.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/IbStreamer.cs
Labels: gpu, performance

#4479 chore: Update Ryujinx.SDL2-CS to 2.26.3
  Directory.Packages.props
Labels: miscellaneous, infra

#4596 Vulkan: Insert barriers before clears
  Ryujinx.Graphics.Vulkan/DescriptorSetUpdater.cs
  Ryujinx.Graphics.Vulkan/EnumConversion.cs
  Ryujinx.Graphics.Vulkan/FramebufferParams.cs
  Ryujinx.Graphics.Vulkan/PipelineBase.cs
  Ryujinx.Graphics.Vulkan/TextureStorage.cs
Labels: gpu, fix, graphics-vendor:nvidia

#4607 vulkan: fix broken "VK_EXT_subgroup_size_control" support check
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: fix, graphics-backend:vulkan

#4606 vulkan: Remove CreateCommandBufferPool from VulkanInitialization
  Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: miscellaneous, graphics-backend:vulkan

#4608 vulkan: Fix access level of extensions fields and make them readonly
  Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
Labels: miscellaneous, graphics-backend:vulkan

#4605 audout: Fix a possible crash with SDL2 when the SDL2 audio backend is dummy
  Ryujinx.Audio.Backends.SDL2/SDL2HardwareDeviceSession.cs
Labels: audio, fix

#4373 Slight Code Refactoring
  Ryujinx.Horizon.Kernel.Generators/Kernel/SyscallGenerator.cs
  Ryujinx.Horizon.Kernel.Generators/Kernel/SyscallSyntaxReceiver.cs
  Ryujinx.Horizon/Sdk/Sf/CommandHandler.cs
  Ryujinx.Horizon/Sdk/Sf/CommandSerialization.cs
  Ryujinx.Horizon/Sdk/Sf/HipcCommandProcessor.cs
  Ryujinx.Horizon/Sm/Impl/ServiceManager.cs
Labels: enhancement, miscellaneous

#4617 Fix Linux hang on shutdown
  Ryujinx.Common/SystemInterop/StdErrAdapter.cs
  Ryujinx.Common/SystemInterop/UnixStream.cs
Labels: fix, os:linux

#4480 HLE: Refactoring of ApplicationLoader
  Ryujinx.Ava/AppHost.cs
  Ryujinx.Ava/Common/ApplicationHelper.cs
  Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  Ryujinx.Ava/UI/ViewModels/TitleUpdateViewModel.cs
  Ryujinx.Ava/UI/Views/Main/MainMenuBarView.axaml.cs
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/Kernel/Process/ProcessTamperInfo.cs
  Ryujinx.HLE/HOS/ModLoader.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/IAccountServiceForApplication.cs
  Ryujinx.HLE/HOS/Services/Am/AppletAE/AllSystemAppletProxiesService/LibraryAppletProxy/ILibraryAppletSelfAccessor.cs
  Ryujinx.HLE/HOS/Services/Am/AppletOE/ApplicationProxyService/ApplicationProxy/IApplicationFunctions.cs
  Ryujinx.HLE/HOS/Services/Arp/ApplicationLaunchProperty.cs
  Ryujinx.HLE/HOS/Services/Caps/IScreenShotApplicationService.cs
  Ryujinx.HLE/HOS/Services/Fatal/IService.cs
  Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/IFriendService.cs
  Ryujinx.HLE/HOS/Services/Fs/IFileSystemProxy.cs
  Ryujinx.HLE/HOS/Services/Ns/Aoc/IAddOnContentManager.cs
  Ryujinx.HLE/HOS/Services/Ns/IApplicationManagerInterface.cs
  Ryujinx.HLE/HOS/Services/Ns/IReadOnlyApplicationControlDataInterface.cs
  Ryujinx.HLE/HOS/Services/Pctl/ParentalControlServiceFactory/IParentalControlService.cs
  Ryujinx.HLE/HOS/Services/Sdb/Pdm/QueryService/QueryPlayStatisticsManager.cs
  Ryujinx.HLE/Loaders/Processes/Extensions/FileSystemExtensions.cs
  Ryujinx.HLE/Loaders/Processes/Extensions/LocalFileSystemExtensions.cs
  Ryujinx.HLE/Loaders/Processes/Extensions/MetaLoaderExtensions.cs
  Ryujinx.HLE/Loaders/Processes/Extensions/NcaExtensions.cs
  Ryujinx.HLE/Loaders/Processes/Extensions/PartitionFileSystemExtensions.cs
  Ryujinx.HLE/Loaders/Processes/ProcessConst.cs
  Ryujinx.HLE/Loaders/Processes/ProcessLoader.cs
  Ryujinx.HLE/Loaders/Processes/ProcessLoaderHelper.cs
  Ryujinx.HLE/Loaders/Processes/ProcessResult.cs
  Ryujinx.HLE/Switch.cs
  Ryujinx.Headless.SDL2/Program.cs
  Ryujinx.Headless.SDL2/WindowBase.cs
  Ryujinx.Ui.Common/App/ApplicationLibrary.cs
  Ryujinx/Program.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/RendererWidgetBase.cs
  Ryujinx/Ui/Widgets/GameTableContextMenu.cs
  Ryujinx/Ui/Windows/TitleUpdateWindow.cs
Labels: enhancement, horizon, needs-feedback
