Repository Ryujinx/Ryujinx, pull requests merged in 2023-04, with the labels that each got.

#4602 nuget: bump Avalonia dependencies from 0.10.18 to 0.10.19
  Directory.Packages.props
Labels: infra

#4609 vulkan: Separate debug utils logic from VulkanInitialization
  Ryujinx.Graphics.Vulkan/VulkanDebugMessenger.cs
  Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: miscellaneous, graphics-backend:vulkan

#4634 Fix missing string enum converters for the config
  Ryujinx.Common/Configuration/Hid/Controller/GamepadInputId.cs
  Ryujinx.Common/Configuration/Hid/Controller/StickInputId.cs
  Ryujinx.Common/Configuration/Hid/KeyboardHotkeys.cs
Labels: fix

#4633 hle: Set ProcessResult name from NACP
  Ryujinx.HLE/Loaders/Processes/ProcessLoaderHelper.cs
  Ryujinx.HLE/Loaders/Processes/ProcessResult.cs
Labels: horizon, fix

#4404 Use index fragment shader output when dual source blend is enabled
  Ryujinx.Graphics.GAL/BlendFactor.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/SpecializationStateUpdater.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheGpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/GpuChannelGraphicsState.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderSpecializationState.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/Declarations.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
Labels: gpu, fix, os:macOS

#4632 vulkan: Cleanup PhysicalDevice and Instance querying
  Ryujinx.Graphics.Vulkan/MemoryAllocator.cs
  Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
  Ryujinx.Graphics.Vulkan/VulkanInstance.cs
  Ryujinx.Graphics.Vulkan/VulkanPhysicalDevice.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: miscellaneous, graphics-backend:vulkan

#4556 Eliminate boxing allocations caused by ISampledData structs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMemory/Common/AtomicStorage.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMemory/Common/ISampledData.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMemory/Common/ISampledDataStruct.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMemory/Common/RingLifo.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMemory/DebugPad/DebugPadState.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMemory/Keyboard/KeyboardModifier.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMemory/Keyboard/KeyboardState.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMemory/Mouse/MouseState.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMemory/Npad/NpadCommonState.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMemory/Npad/NpadGcTriggerState.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMemory/Npad/SixAxisSensorState.cs
  Ryujinx.HLE/HOS/Services/Hid/Types/SharedMemory/TouchScreen/TouchScreenState.cs
Labels: service:hid, performance

#4658 Implement remaining Arm64 HINT instructions as NOP
  ARMeilleure/Decoders/OpCodeTable.cs
Labels: cpu, fix

#4618 ARMeilleure: Respect FZ/RM flags for all floating point operations
  ARMeilleure/CodeGen/Arm64/IntrinsicTable.cs
  ARMeilleure/CodeGen/X86/AssemblerTable.cs
  ARMeilleure/CodeGen/X86/CodeGenerator.cs
  ARMeilleure/CodeGen/X86/IntrinsicTable.cs
  ARMeilleure/CodeGen/X86/Mxcsr.cs
  ARMeilleure/CodeGen/X86/PreAllocator.cs
  ARMeilleure/CodeGen/X86/X86Instruction.cs
  ARMeilleure/Instructions/InstEmitSimdArithmetic.cs
  ARMeilleure/Instructions/InstEmitSimdCvt32.cs
  ARMeilleure/Instructions/InstEmitSimdHelper.cs
  ARMeilleure/Instructions/InstEmitSimdHelper32.cs
  ARMeilleure/Instructions/InstEmitSystem.cs
  ARMeilleure/Instructions/InstEmitSystem32.cs
  ARMeilleure/IntermediateRepresentation/Intrinsic.cs
  ARMeilleure/Translation/ArmEmitterContext.cs
  ARMeilleure/Translation/DispatcherFunction.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  ARMeilleure/Translation/TranslatedFunction.cs
  ARMeilleure/Translation/Translator.cs
  ARMeilleure/Translation/TranslatorStubs.cs
  ARMeilleure/Translation/TranslatorTestMethods.cs
  Ryujinx.Tests/Cpu/EnvironmentTests.cs
Labels: cpu, fix, performance

#4648 [GUI] Fix a NRE in Gtk when disposing GLRenderer
  Ryujinx/Ui/GLRenderer.cs
Labels: gui, fix

#4663 Avalonia - Force activate parent window before dialog is shown
  Ryujinx.Ava/UI/Applet/AvaHostUiHandler.cs
Labels: gui, fix

#4661 ARMeilleure: Move TPIDR_EL0 and TPIDRRO_EL0 to NativeContext
  ARMeilleure/Instructions/InstEmitSystem.cs
  ARMeilleure/Instructions/InstEmitSystem32.cs
  ARMeilleure/Instructions/NativeInterface.cs
  ARMeilleure/State/ExecutionContext.cs
  ARMeilleure/State/NativeContext.cs
  ARMeilleure/Translation/Delegates.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, performance

#4667 Vulkan: add situational "Fast Flush" mode
  Ryujinx.Graphics.Vulkan/AutoFlushCounter.cs
  Ryujinx.Graphics.Vulkan/PipelineBase.cs
  Ryujinx.Graphics.Vulkan/SyncManager.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, performance

#4643 HLE: Deal with empty title names properly
  Ryujinx.Ava/AppHost.cs
  Ryujinx.HLE/Loaders/Processes/ProcessResult.cs
  Ryujinx/Ui/RendererWidgetBase.cs
Labels: horizon, fix

#4671 Avalonia - Move swkbd message null check into constructor
  Ryujinx.Ava/UI/Applet/SwkbdAppletDialog.axaml.cs
Labels: gui, fix

#4526 Added check for eventual symlink when displaying game files.
  Ryujinx.Ui.Common/App/ApplicationLibrary.cs
Labels: enhancement, gui

#4555 Ability to hide file types in Game List
  Ryujinx.Ava/Assets/Locales/en_US.json
  Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  Ryujinx.Ava/UI/Views/Main/MainMenuBarView.axaml
  Ryujinx.Ava/UI/Views/Main/MainMenuBarView.axaml.cs
  Ryujinx.Ui.Common/App/ApplicationLibrary.cs
  Ryujinx.Ui.Common/Configuration/ConfigurationFileFormat.cs
  Ryujinx.Ui.Common/Configuration/ConfigurationState.cs
  Ryujinx.Ui.Common/Configuration/FileTypes.cs
  Ryujinx.Ui.Common/Configuration/Ui/ShownFileTypes.cs
  Ryujinx.Ui.Common/Extensions/FileTypeExtensions.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
Labels: enhancement, gui

#4569 Ava: Fix nca extraction window never closing & minor cleanup
  Ryujinx.Ava/Common/ApplicationHelper.cs
  Ryujinx.Ava/UI/Applet/SwkbdAppletDialog.axaml
  Ryujinx.Ava/UI/Applet/SwkbdAppletDialog.axaml.cs
  Ryujinx.Ava/UI/Controls/InputDialog.axaml
  Ryujinx.Ava/UI/Controls/InputDialog.axaml.cs
  Ryujinx.Ava/UI/Controls/UpdateWaitWindow.axaml.cs
  Ryujinx.Ava/UI/Helpers/ContentDialogHelper.cs
  Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  Ryujinx.Ava/UI/Windows/ContentDialogOverlayWindow.axaml
Labels: gui, fix

#4686 chore: Update Silk.NET to 2.17.1
  Directory.Packages.props
Labels: miscellaneous, infra

#4687 Fix a crash in Ryujinx.Headless.SDL2 when loading an app
  Ryujinx.Headless.SDL2/Program.cs
Labels: gui, fix

#4597 [GUI] Add network interface dropdown
  Ryujinx.Ava/AppHost.cs
  Ryujinx.Ava/Assets/Locales/en_US.json
  Ryujinx.Ava/UI/ViewModels/SettingsViewModel.cs
  Ryujinx.Ava/UI/Views/Settings/SettingsNetworkView.axaml
  Ryujinx.Common/Utilities/NetworkHelpers.cs
  Ryujinx.HLE/HLEConfiguration.cs
  Ryujinx.HLE/HOS/Services/Nifm/StaticService/IGeneralService.cs
  Ryujinx.HLE/HOS/Services/Nifm/StaticService/Types/IpAddressSetting.cs
  Ryujinx.Headless.SDL2/Options.cs
  Ryujinx.Headless.SDL2/Program.cs
  Ryujinx.Ui.Common/Configuration/ConfigurationFileFormat.cs
  Ryujinx.Ui.Common/Configuration/ConfigurationState.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.glade
Labels: enhancement, gui, service:nifm

#4685 Change SMAA filter texture clear method
  Ryujinx.Graphics.Vulkan/Effects/FsrScalingFilter.cs
  Ryujinx.Graphics.Vulkan/Effects/FxaaPostProcessingEffect.cs
  Ryujinx.Graphics.Vulkan/Effects/SmaaPostProcessingEffect.cs
Labels: gpu, fix, graphics-backend:vulkan

#4688 Vulkan: HashTableSlim lookup optimization
  Ryujinx.Graphics.Vulkan/HashTableSlim.cs
Labels: gpu, performance, graphics-backend:vulkan

#4690 Revert "chore: Update Silk.NET to 2.17.1"
  Directory.Packages.props
Labels: gpu, fix

#4676 Support copy between multisample and non-multisample depth textures
  Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
  Ryujinx.Graphics.OpenGL/Image/IntermmediatePool.cs
  Ryujinx.Graphics.OpenGL/Image/TextureCopy.cs
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
  Ryujinx.Graphics.Vulkan/FramebufferParams.cs
  Ryujinx.Graphics.Vulkan/HelperShader.cs
  Ryujinx.Graphics.Vulkan/Shaders/DepthDrawToMsFragmentShaderSource.frag
  Ryujinx.Graphics.Vulkan/Shaders/DepthDrawToNonMsFragmentShaderSource.frag
  Ryujinx.Graphics.Vulkan/Shaders/ShaderBinaries.cs
  Ryujinx.Graphics.Vulkan/Shaders/StencilDrawToMsFragmentShaderSource.frag
  Ryujinx.Graphics.Vulkan/Shaders/StencilDrawToNonMsFragmentShaderSource.frag
  Ryujinx.Graphics.Vulkan/TextureStorage.cs
Labels: gpu, fix

#4701 Avoid LM service crashes by not reading more than the buffer size
  Ryujinx.Common/Memory/SpanReader.cs
  Ryujinx.Horizon/LogManager/Ipc/LmLogger.cs
Labels: fix, service:lm

#4705 Removed MotionInput Calibration
  Ryujinx.Input/Motion/MotionInput.cs
Labels: fix, input

#4703 Shader: Bias textureGather instructions on AMD/Intel
  Ryujinx.Graphics.GAL/Capabilities.cs
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessorBase.cs
  Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/Instructions.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
  Ryujinx.Graphics.Vulkan/HardwareCapabilities.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, fix

#4712 UI: Fix amiibo issues & log errors and exceptions
  Ryujinx.Ava/UI/ViewModels/AmiiboWindowViewModel.cs
  Ryujinx/Ui/Windows/AmiiboWindow.cs
Labels: gui, fix

#4706 UI: Set the console title for GTK
  Ryujinx/Program.cs
Labels: gui, fix

#4708 Use vector transform feedback outputs with fragment shaders
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/CodeGenContext.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/Declarations.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgram.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
  Ryujinx.Graphics.Shader/Translation/TranslatorContext.cs
Labels: gpu, fix

#4717 Implement DMA texture copy component shuffle
  Ryujinx.Graphics.Gpu/Engine/Dma/DmaClass.cs
Labels: gpu, fix

#4722 Add missing check for thread termination on ArbitrateLock
  Ryujinx.HLE/HOS/Kernel/Ipc/KServerSession.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KAddressArbiter.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KConditionVariable.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KSynchronization.cs
  Ryujinx.HLE/HOS/Kernel/Threading/KThread.cs
Labels: horizon, fix, kernel

#4565 Refactor attribute handling on the shader generator
  Ryujinx.Graphics.GAL/Capabilities.cs
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessorBase.cs
  Ryujinx.Graphics.OpenGL/HwCapabilities.cs
  Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/GlslGenerator.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGen.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenHelper.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/IoMap.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/CodeGenContext.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/EnumConversion.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/Instructions.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/IoMap.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/ScalingHelpers.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/SpirvGenerator.cs
  Ryujinx.Graphics.Shader/Decoders/Decoder.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
  Ryujinx.Graphics.Shader/Instructions/AttributeMap.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitAttribute.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitMemory.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitMove.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/Instruction.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/IoVariable.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/OperandHelper.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/OperandType.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/Operation.cs
  Ryujinx.Graphics.Shader/IntermediateRepresentation/StorageKind.cs
  Ryujinx.Graphics.Shader/StructuredIr/AstOperation.cs
  Ryujinx.Graphics.Shader/StructuredIr/AstTextureOperation.cs
  Ryujinx.Graphics.Shader/StructuredIr/InstructionInfo.cs
  Ryujinx.Graphics.Shader/StructuredIr/IoDefinition.cs
  Ryujinx.Graphics.Shader/StructuredIr/OperandInfo.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgram.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgramContext.cs
  Ryujinx.Graphics.Shader/StructuredIr/StructuredProgramInfo.cs
  Ryujinx.Graphics.Shader/Translation/AttributeConsts.cs
  Ryujinx.Graphics.Shader/Translation/AttributeInfo.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContextInsts.cs
  Ryujinx.Graphics.Shader/Translation/GlobalMemory.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/GlobalToStorage.cs
  Ryujinx.Graphics.Shader/Translation/Optimizations/Optimizer.cs
  Ryujinx.Graphics.Shader/Translation/Rewriter.cs
  Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
  Ryujinx.Graphics.Shader/Translation/ShaderIdentifier.cs
  Ryujinx.Graphics.Shader/Translation/Translator.cs
  Ryujinx.Graphics.Shader/Translation/TranslatorContext.cs
  Ryujinx.Graphics.Vulkan/HardwareCapabilities.cs
  Ryujinx.Graphics.Vulkan/Shader.cs
  Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
  Ryujinx.ShaderTools/Program.cs
Labels: enhancement, gpu

#4735 Fix geometry shader layer passthrough regression
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
  Ryujinx.Graphics.Shader/Translation/TranslatorContext.cs
Labels: gpu, fix

#4738 Fix paths and typos for macOS scripts
  distribution/macos/create_app_bundle.sh
  distribution/macos/create_macos_release.sh
Labels: fix, infra

#4657 Allow window to remember its size, position and state (GTK + Avalonia)
  src/Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  src/Ryujinx.Ava/UI/Windows/MainWindow.axaml
  src/Ryujinx.Ava/UI/Windows/MainWindow.axaml.cs
  src/Ryujinx.Ui.Common/Configuration/ConfigurationFileFormat.cs
  src/Ryujinx.Ui.Common/Configuration/ConfigurationState.cs
  src/Ryujinx.Ui.Common/Configuration/Ui/WindowStartup.cs
  src/Ryujinx/Ui/MainWindow.cs
Labels: enhancement, gui

#4744 Signal interrupt event to improve back-end frame presentation
  src/Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoDevice.cs
Labels: enhancement, gpu
