Repository Ryujinx/Ryujinx, pull requests merged in 2023-08, with the labels that each got.

#5525 GPU: Enable VK_EXT_4444_formats
  src/Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
Labels: gpu, graphics-backend:vulkan

#5526 GPU: Don't sync/bind index buffer when it's not in use
  src/Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  src/Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
Labels: gpu, performance

#5519 Fix PR build concurrency and stop auto assigning reviewers for draft PRs
  .github/workflows/build.yml
  .github/workflows/pr_triage.yml
Labels: fix, infra

#5529 Do not add more code after alpha test discard on fragment shader
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Shader/Instructions/InstEmitFlowControl.cs
  src/Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
Labels: gpu

#5531 [Vulkan / Avalonia] Implement Color Space Passthrough option
  .editorconfig
  src/Ryujinx.Ava/AppHost.cs
  src/Ryujinx.Ava/Assets/Locales/en_US.json
  src/Ryujinx.Ava/UI/ViewModels/SettingsViewModel.cs
  src/Ryujinx.Ava/UI/Views/Settings/SettingsGraphicsView.axaml
  src/Ryujinx.Graphics.GAL/IWindow.cs
  src/Ryujinx.Graphics.GAL/Multithreading/ThreadedWindow.cs
  src/Ryujinx.Graphics.Gpu/GraphicsConfig.cs
  src/Ryujinx.Graphics.OpenGL/Window.cs
  src/Ryujinx.Graphics.Vulkan/Window.cs
  src/Ryujinx.Graphics.Vulkan/WindowBase.cs
  src/Ryujinx.Ui.Common/Configuration/ConfigurationFileFormat.cs
  src/Ryujinx.Ui.Common/Configuration/ConfigurationState.cs
Labels: gpu, gui, graphics-backend:vulkan, graphics-backend:opengl

#5518 Allow access to code memory for exefs mods
  src/ARMeilleure/Translation/PTC/Ptc.cs
  src/ARMeilleure/Translation/PTC/PtcFormatter.cs
  src/ARMeilleure/Translation/PTC/PtcProfiler.cs
  src/Ryujinx.HLE/Loaders/Processes/Extensions/FileSystemExtensions.cs
  src/Ryujinx.HLE/Loaders/Processes/ProcessLoaderHelper.cs
Labels: horizon, fix

#5547 [Hotfix] hid: Prevent out of bounds array access
  src/Ryujinx.HLE/HOS/Services/Hid/HidDevices/NpadDevices.cs
  src/Ryujinx.Tests/Cpu/EnvironmentTests.cs
Labels: fix, service:hid

#5558 Ava UI: Allow DPI switching on Windows
  src/Ryujinx.Ava/Program.cs
Labels: gui, fix

#5332 Ava UI: Make some settings methods async
  src/Ryujinx.Ava/UI/ViewModels/SettingsViewModel.cs
Labels: enhancement, gui

#5563 Ava UI: Remove animations on listbox items.
  src/Ryujinx.Ava/Assets/Styles/Styles.xaml
Labels: gui

#5560 "static readonly" constants should be "const" instead
  src/ARMeilleure/Instructions/InstEmitSimdHelper.cs
  src/Ryujinx.Ava/Modules/Updater/Updater.cs
  src/Ryujinx.Common/SystemInterop/ForceDpiAware.cs
  src/Ryujinx.Graphics.Vulkan/MultiFenceHolder.cs
  src/Ryujinx.HLE/HOS/Diagnostics/Demangler/Demangler.cs
  src/Ryujinx.HLE/Loaders/Processes/ProcessConst.cs
Labels: miscellaneous

#5554 GPU: Track basic buffer copies that modify texture memory
  src/Ryujinx.Graphics.Gpu/Memory/BufferCache.cs
  src/Ryujinx.Graphics.Gpu/Memory/PhysicalMemory.cs
Labels: gpu, fix

#5541 Simplify resolution scale updates
  src/Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  src/Ryujinx.Graphics.Gpu/Memory/SupportBufferUpdater.cs
  src/Ryujinx.Graphics.Vulkan/DescriptorSetUpdater.cs
Labels: gpu

#4899 Vulkan: Buffer Mirrors for MacOS performance
  src/Ryujinx.Graphics.GAL/BufferAccess.cs
  src/Ryujinx.Graphics.GAL/BufferRange.cs
  src/Ryujinx.Graphics.GAL/Multithreading/BufferMap.cs
  src/Ryujinx.Graphics.Gpu/Engine/Threed/IbStreamer.cs
  src/Ryujinx.Graphics.Gpu/Memory/Buffer.cs
  src/Ryujinx.Graphics.Gpu/Memory/BufferCache.cs
  src/Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
  src/Ryujinx.Graphics.Gpu/Memory/SupportBufferUpdater.cs
  src/Ryujinx.Graphics.Vulkan/Auto.cs
  src/Ryujinx.Graphics.Vulkan/BitMapStruct.cs
  src/Ryujinx.Graphics.Vulkan/BufferHolder.cs
  src/Ryujinx.Graphics.Vulkan/BufferManager.cs
  src/Ryujinx.Graphics.Vulkan/BufferMirrorRangeList.cs
  src/Ryujinx.Graphics.Vulkan/BufferState.cs
  src/Ryujinx.Graphics.Vulkan/BufferUsageBitmap.cs
  src/Ryujinx.Graphics.Vulkan/DescriptorSetUpdater.cs
  src/Ryujinx.Graphics.Vulkan/EnumConversion.cs
  src/Ryujinx.Graphics.Vulkan/HardwareCapabilities.cs
  src/Ryujinx.Graphics.Vulkan/IndexBufferState.cs
  src/Ryujinx.Graphics.Vulkan/MultiFenceHolder.cs
  src/Ryujinx.Graphics.Vulkan/PipelineBase.cs
  src/Ryujinx.Graphics.Vulkan/PipelineFull.cs
  src/Ryujinx.Graphics.Vulkan/Queries/BufferedQuery.cs
  src/Ryujinx.Graphics.Vulkan/StagingBuffer.cs
  src/Ryujinx.Graphics.Vulkan/TextureBuffer.cs
  src/Ryujinx.Graphics.Vulkan/VertexBufferState.cs
  src/Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, performance, graphics-backend:vulkan, os:macOS

#4758 UI: New Crowdin updates
  src/Ryujinx.Ava/Assets/Locales/de_DE.json
  src/Ryujinx.Ava/Assets/Locales/el_GR.json
  src/Ryujinx.Ava/Assets/Locales/es_ES.json
  src/Ryujinx.Ava/Assets/Locales/fr_FR.json
  src/Ryujinx.Ava/Assets/Locales/he_IL.json
  src/Ryujinx.Ava/Assets/Locales/it_IT.json
  src/Ryujinx.Ava/Assets/Locales/ja_JP.json
  src/Ryujinx.Ava/Assets/Locales/ko_KR.json
  src/Ryujinx.Ava/Assets/Locales/pl_PL.json
  src/Ryujinx.Ava/Assets/Locales/pt_BR.json
  src/Ryujinx.Ava/Assets/Locales/ru_RU.json
  src/Ryujinx.Ava/Assets/Locales/tr_TR.json
  src/Ryujinx.Ava/Assets/Locales/uk_UA.json
  src/Ryujinx.Ava/Assets/Locales/zh_CN.json
  src/Ryujinx.Ava/Assets/Locales/zh_TW.json
Labels: enhancement, gui

#5530 annotations: Overwrite CSC problem matcher
  .github/csc.json
  .github/workflows/build.yml
  .github/workflows/checks.yml
  .github/workflows/release.yml
Labels: infra

#5574 Introduce Mako to fix pr_triage workflow
  .github/reviewers.yml
  .github/update_reviewers.py
  .github/workflows/pr_triage.yml
Labels: fix, infra

#5572 Vulkan: Periodically free regions of the staging buffer
  src/Ryujinx.Graphics.Vulkan/StagingBuffer.cs
  src/Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, performance

#5562 Prefer jagged arrays over multidimensional
  src/Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
Labels: miscellaneous

#5540 Fix vote and shuffle shader instructions on AMD GPUs
  src/Ryujinx.Graphics.GAL/Capabilities.cs
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Gpu/Shader/GpuAccessorBase.cs
  src/Ryujinx.Graphics.OpenGL/Constants.cs
  src/Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/HelperFunctionNames.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/Shuffle.glsl
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/ShuffleDown.glsl
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/ShuffleUp.glsl
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/HelperFunctions/ShuffleXor.glsl
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGen.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenBallot.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenHelper.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenShuffle.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/Instructions.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/SpirvGenerator.cs
  src/Ryujinx.Graphics.Shader/Decoders/Decoder.cs
  src/Ryujinx.Graphics.Shader/IGpuAccessor.cs
  src/Ryujinx.Graphics.Shader/Instructions/InstEmitMove.cs
  src/Ryujinx.Graphics.Shader/Instructions/InstEmitWarp.cs
  src/Ryujinx.Graphics.Shader/Ryujinx.Graphics.Shader.csproj
  src/Ryujinx.Graphics.Shader/StructuredIr/HelperFunctionsMask.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/InstructionInfo.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/StructuredProgram.cs
  src/Ryujinx.Graphics.Shader/Translation/EmitterContextInsts.cs
  src/Ryujinx.Graphics.Shader/Translation/FeatureFlags.cs
  src/Ryujinx.Graphics.Shader/Translation/HelperFunctionManager.cs
  src/Ryujinx.Graphics.Shader/Translation/HelperFunctionName.cs
  src/Ryujinx.Graphics.Shader/Translation/Transforms/ShufflePass.cs
  src/Ryujinx.Graphics.Shader/Translation/Transforms/TransformPasses.cs
  src/Ryujinx.Graphics.Vulkan/HardwareCapabilities.cs
  src/Ryujinx.Graphics.Vulkan/PipelineState.cs
  src/Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
  src/Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, graphics-backend:vulkan, graphics-backend:opengl, graphics-vendor:amd

#5580 mm: Migrate service in Horizon project
  src/Ryujinx.HLE/HOS/Services/Mm/IRequest.cs
  src/Ryujinx.HLE/HOS/Services/Mm/Types/MultiMediaOperationType.cs
  src/Ryujinx.HLE/HOS/Services/Mm/Types/MultiMediaSession.cs
  src/Ryujinx.Horizon/MmNv/Ipc/Request.cs
  src/Ryujinx.Horizon/MmNv/MmNvIpcServer.cs
  src/Ryujinx.Horizon/MmNv/MmNvMain.cs
  src/Ryujinx.Horizon/Sdk/MmNv/IRequest.cs
  src/Ryujinx.Horizon/Sdk/MmNv/Module.cs
  src/Ryujinx.Horizon/Sdk/MmNv/Session.cs
  src/Ryujinx.Horizon/ServiceTable.cs
Labels: service:mm

#5587 Fix AssertionError in update_reviewers.py
  .github/update_reviewers.py
Labels: fix, infra

#5589 Implement support for masked stencil clears on Vulkan
  src/Ryujinx.Graphics.Vulkan/FramebufferParams.cs
  src/Ryujinx.Graphics.Vulkan/HelperShader.cs
  src/Ryujinx.Graphics.Vulkan/PipelineBase.cs
  src/Ryujinx.Graphics.Vulkan/PipelineFull.cs
  src/Ryujinx.Graphics.Vulkan/Ryujinx.Graphics.Vulkan.csproj
  src/Ryujinx.Graphics.Vulkan/Shaders/DepthStencilClearFragmentShaderSource.frag
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/DepthStencilClearFragment.spv
Labels: gpu, fix, graphics-backend:vulkan

#5599 Fix debug assert on services without pointer buffer
  src/Ryujinx.Horizon/Sdk/Sf/Hipc/ServerManager.cs
Labels: horizon

#5588 Fix invalid audio renderer buffer size when end offset < start offset
  src/Ryujinx.Audio/Renderer/Dsp/PcmHelper.cs
  src/Ryujinx.Audio/Renderer/Parameter/VoiceInParameter.cs
Labels: audio, fix

#5612 Vulkan: Fix MoltenVK flickering
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/Declarations.cs
Labels: gpu, fix

#5621 Add SmallChange properties to all sliders.
  src/Ryujinx.Ava/UI/Views/Input/ControllerInputView.axaml
  src/Ryujinx.Ava/UI/Views/Input/MotionInputView.axaml
  src/Ryujinx.Ava/UI/Views/Input/RumbleInputView.axaml
  src/Ryujinx.Ava/UI/Views/Main/MainViewControls.axaml
Labels: gui

#5624 opus: Implement GetWorkBufferSizeExEx and GetWorkBufferSizeForMultiStreamExEx
  src/Ryujinx.HLE/HOS/Services/Audio/IHardwareOpusDecoderManager.cs
Labels: horizon, service-implementation, service:audio
