Repository Ryujinx/Ryujinx, pull requests merged in 2023-10, with the labels that each got.

#5753 Decrement nvmap reference count on surface flinger prealloc
  src/Ryujinx.HLE/HOS/Services/SurfaceFlinger/BufferQueueProducer.cs
Labels: horizon, fix, service:surface-flinger

#5750 Implement textureSamples texture query shader instruction
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGen.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenHelper.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/Instructions.cs
  src/Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
  src/Ryujinx.Graphics.Shader/IntermediateRepresentation/Instruction.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/InstructionInfo.cs
  src/Ryujinx.Graphics.Shader/Translation/EmitterContextInsts.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessElimination.cs
  src/Ryujinx.Graphics.Shader/Translation/ResourceManager.cs
  src/Ryujinx.Graphics.Shader/Translation/Transforms/TexturePass.cs
Labels: gpu, fix

#5754 Avalonia: Add macOS check for Color Space Passthrough
  src/Ryujinx.Ava/UI/ViewModels/SettingsViewModel.cs
  src/Ryujinx.Ava/UI/Views/Settings/SettingsGraphicsView.axaml
Labels: gui

#5757 Use unique temporary variables for function call parameters on SPIR-V
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/CodeGenContext.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/Declarations.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/Instructions.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/SpirvGenerator.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/StructuredProgram.cs
  src/Ryujinx.Graphics.Shader/Translation/TranslatorContext.cs
Labels: gpu, fix, graphics-vendor:amd

#5764 Fix SPIR-V function calls
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/Instructions.cs
Labels: gpu, fix

#5664 Strings should not be concatenated using '+' in a loop
  src/ARMeilleure/Diagnostics/Symbols.cs
  src/Ryujinx.Ava/UI/ViewModels/AmiiboWindowViewModel.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/CodeGenContext.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGen.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/GlobalToStorage.cs
  src/Ryujinx.HLE/FileSystem/ContentManager.cs
  src/Ryujinx.HLE/HOS/Kernel/Process/HleProcessDebugger.cs
  src/Ryujinx.HLE/HOS/Services/Sm/IUserInterface.cs
  src/Ryujinx.HLE/HOS/Services/Vi/RootService/IApplicationDisplayService.cs
  src/Ryujinx.Horizon/Sdk/Sm/ServiceName.cs
  src/Ryujinx.Ui.LocaleGenerator/LocaleGenerator.cs
Labels: cpu, horizon, gpu, gui, kernel

#5767 Fix SPIR-V call out arguments regression
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/StructuredProgram.cs
Labels: gpu, fix

#5766 HLE: Fix Mii crc generation and minor issues
  src/Ryujinx.Common/Memory/StructArrayHelpers.cs
  src/Ryujinx.HLE/HOS/Services/Mii/DatabaseImpl.cs
  src/Ryujinx.HLE/HOS/Services/Mii/Types/CoreData.cs
  src/Ryujinx.HLE/HOS/Services/Mii/Types/Nickname.cs
  src/Ryujinx.HLE/HOS/Services/Mii/Types/StoreData.cs
  src/Ryujinx.HLE/HOS/Services/Mii/Types/Ver3StoreData.cs
Labels: horizon, fix

#5761 GPU: Add HLE macros for popular NVN macros
  src/Ryujinx.Graphics.Gpu/Engine/DeviceStateWithShadow.cs
  src/Ryujinx.Graphics.Gpu/Engine/MME/MacroHLE.cs
  src/Ryujinx.Graphics.Gpu/Engine/MME/MacroHLEFunctionName.cs
  src/Ryujinx.Graphics.Gpu/Engine/MME/MacroHLETable.cs
  src/Ryujinx.Graphics.Gpu/Engine/SetMmeShadowRamControlMode.cs
  src/Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  src/Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClass.cs
  src/Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClassState.cs
  src/Ryujinx.Graphics.Gpu/Engine/Types/Boolean32.cs
Labels: gpu, performance

#5768 Symbols.cs Get function return value fix
  src/ARMeilleure/Diagnostics/Symbols.cs
Labels: cpu

#5780 Avalonia: Show aspect ratio popup options in status bar
  src/Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  src/Ryujinx.Ava/UI/Views/Main/MainStatusBarView.axaml
  src/Ryujinx.Ava/UI/Views/Main/MainStatusBarView.axaml.cs
Labels: gui

#5787 Fix games freezing after initializing LDN 1021 times
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/IUserLocalCommunicationService.cs
Labels: horizon, fix, service:ldn

#5785 Replace ReaderWriterLock with ReaderWriterLockSlim
  src/ARMeilleure/Translation/TranslatorCache.cs
  src/Ryujinx.Common/ReactiveObject.cs
  src/Ryujinx.Graphics.Vulkan/BufferHolder.cs
Labels: cpu, gpu, graphics-backend:vulkan

#5801 Enable copy between MS and non-MS textures with different height
  src/Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
Labels: gpu, fix

#5792 GPU: Add fallback when textureGatherOffsets is not supported
  src/Ryujinx.Graphics.GAL/Capabilities.cs
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Gpu/Shader/GpuAccessorBase.cs
  src/Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  src/Ryujinx.Graphics.Shader/IGpuAccessor.cs
  src/Ryujinx.Graphics.Shader/Translation/Transforms/TexturePass.cs
  src/Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, fix, graphics-backend:vulkan, graphics-backend:opengl, os:macOS

#5760 Avalonia: Make slider scrollable with mouse wheel
  src/Ryujinx.Ava/UI/Controls/SliderScroll.axaml.cs
  src/Ryujinx.Ava/UI/Views/Input/ControllerInputView.axaml
  src/Ryujinx.Ava/UI/Views/Input/MotionInputView.axaml
  src/Ryujinx.Ava/UI/Views/Input/RumbleInputView.axaml
  src/Ryujinx.Ava/UI/Views/Main/MainStatusBarView.axaml
  src/Ryujinx.Ava/UI/Views/Main/MainStatusBarView.axaml.cs
  src/Ryujinx.Ava/UI/Views/Main/MainViewControls.axaml
  src/Ryujinx.Ava/UI/Views/Settings/SettingsAudioView.axaml
  src/Ryujinx.Ava/UI/Views/Settings/SettingsGraphicsView.axaml
Labels: gui

#5832 Fix NRE on shader gather operations with depth compare on macOS
  src/Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
Labels: gpu, fix

#5831 Update to LibHac 0.19.0
  Directory.Packages.props
  src/Ryujinx.Ava/Common/ApplicationHelper.cs
  src/Ryujinx.Ava/UI/ViewModels/DownloadableContentManagerViewModel.cs
  src/Ryujinx.Ava/UI/ViewModels/TitleUpdateViewModel.cs
  src/Ryujinx.HLE/FileSystem/ContentManager.cs
  src/Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
  src/Ryujinx.HLE/HOS/ModLoader.cs
  src/Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/FileSystemProxyHelper.cs
  src/Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/IFileSystem.cs
  src/Ryujinx.HLE/HOS/Services/Fs/IFileSystemProxy.cs
  src/Ryujinx.HLE/Loaders/Processes/Extensions/PartitionFileSystemExtensions.cs
  src/Ryujinx.HLE/Loaders/Processes/ProcessLoader.cs
  src/Ryujinx.HLE/Loaders/Processes/ProcessLoaderHelper.cs
  src/Ryujinx.Ui.Common/App/ApplicationData.cs
  src/Ryujinx.Ui.Common/App/ApplicationLibrary.cs
  src/Ryujinx/Ui/Widgets/GameTableContextMenu.cs
  src/Ryujinx/Ui/Windows/DlcWindow.cs
  src/Ryujinx/Ui/Windows/TitleUpdateWindow.cs
Labels: enhancement, horizon, service:fs

#5844 Fix loading tickets from a Sha256PartitionFileSystem
  src/Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
Labels: horizon, fix

#5838 macOS: Use user-friendly macOS version string
  src/Ryujinx.Common/SystemInfo/MacOSSystemInfo.cs
Labels: enhancement, miscellaneous

#5656 Add ldn_mitm as a network client for LDN
  Directory.Packages.props
  README.md
  distribution/legal/THIRDPARTY.md
  src/Ryujinx.Ava/AppHost.cs
  src/Ryujinx.Ava/Assets/Locales/en_US.json
  src/Ryujinx.Common/Configuration/Multiplayer/MultiplayerMode.cs
  src/Ryujinx.Common/Utilities/NetworkHelpers.cs
  src/Ryujinx.HLE/HLEConfiguration.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/LdnConst.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/LdnNetworkInfo.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/NodeInfo.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/NodeLatestUpdate.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/SecurityConfig.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/Ssid.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/UserConfig.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/AccessPoint.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/INetworkClient.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/IUserLocalCommunicationService.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/LdnDisabledClient.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/LdnMitm/LanDiscovery.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/LdnMitm/LanProtocol.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/LdnMitm/LdnMitmClient.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/LdnMitm/Proxy/ILdnSocket.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/LdnMitm/Proxy/ILdnTcpSocket.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/LdnMitm/Proxy/LdnProxyTcpClient.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/LdnMitm/Proxy/LdnProxyTcpServer.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/LdnMitm/Proxy/LdnProxyTcpSession.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/LdnMitm/Proxy/LdnProxyUdpServer.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/LdnMitm/Types/LanPacketHeader.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/LdnMitm/Types/LanPacketType.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/NetworkChangeEventArgs.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/Station.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/Types/ConnectPrivateRequest.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/Types/ConnectRequest.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/Types/CreateAccessPointPrivateRequest.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/Types/CreateAccessPointRequest.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/Types/NetworkError.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/Types/NetworkErrorMessage.cs
  src/Ryujinx.HLE/Ryujinx.HLE.csproj
  src/Ryujinx.Ui.Common/Configuration/ConfigurationState.cs
  src/Ryujinx/Ui/MainWindow.cs
  src/Ryujinx/Ui/Windows/SettingsWindow.cs
  src/Ryujinx/Ui/Windows/SettingsWindow.glade
Labels: horizon, gui, needs-feedback, service:ldn, infra

#5755 Skip some invalid texture flushes
  src/Ryujinx.Graphics.Gpu/Image/Texture.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
Labels: gpu, fix

#5855 [HLE] Remove ServerBase 1ms polling
  src/Ryujinx.HLE/HOS/Services/ServerBase.cs
Labels: horizon, performance

#4365 Implement copy dependency for depth and color textures
  src/Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
  src/Ryujinx.Graphics.OpenGL/Image/TextureCopy.cs
  src/Ryujinx.Graphics.OpenGL/Image/TextureView.cs
  src/Ryujinx.Graphics.Vulkan/TextureView.cs
Labels: gpu, fix, graphics-backend:vulkan, graphics-backend:opengl
