Repository Ryujinx/Ryujinx, pull requests merged in 2023-09, with the labels that each got.

#5627 Fix numeric SWKB validation
  src/Ryujinx.Ava/Assets/Locales/en_US.json
  src/Ryujinx.Ava/UI/Applet/SwkbdAppletDialog.axaml.cs
  src/Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/KeyboardMode.cs
  src/Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/NumericCharacterValidation.cs
  src/Ryujinx/Ui/Applet/SwkbdAppletDialog.cs
Labels: horizon, gui

#5623 Vulkan: Device Local and higher invocation count for buffer conversions
  src/Ryujinx.Graphics.Vulkan/BufferHolder.cs
  src/Ryujinx.Graphics.Vulkan/HelperShader.cs
  src/Ryujinx.Graphics.Vulkan/Shaders/ChangeBufferStrideShaderSource.comp
  src/Ryujinx.Graphics.Vulkan/Shaders/ConvertD32S8ToD24S8ShaderSource.comp
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/ChangeBufferStride.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/ConvertD32S8ToD24S8.spv
Labels: gpu, performance, graphics-backend:vulkan

#5635 Update reviewers using Ryujinx-Mako command
  .github/update_reviewers.py
  .github/workflows/pr_triage.yml
Labels: infra

#5651 [Hotfix] Fix overwriting .ryujinx-mako directory
  .github/workflows/pr_triage.yml
Labels: fix, infra

#5653 Use poetry run instead of spawning a shell
  .github/workflows/pr_triage.yml
Labels: fix, infra

#5640 Fix layer size for 3D textures with NPOT depth
  src/Ryujinx.Graphics.Texture/SizeCalculator.cs
Labels: gpu, fix

#5646 Fix ShaderTools GpuAcessor default values
  src/Ryujinx.Graphics.Shader/IGpuAccessor.cs
Labels: gpu

#5272 Add macOS Headless release workflow
  .github/workflows/build.yml
  .github/workflows/release.yml
  distribution/macos/create_macos_build_ava.sh
  distribution/macos/create_macos_build_headless.sh
Labels: enhancement, infra

#5626 Delete ResourceAccess
  src/Ryujinx.Graphics.GAL/ResourceLayout.cs
  src/Ryujinx.Graphics.Gpu/Engine/Threed/ComputeDraw/VtgAsComputeContext.cs
  src/Ryujinx.Graphics.Gpu/Engine/Threed/ComputeDraw/VtgAsComputeState.cs
  src/Ryujinx.Graphics.Gpu/Shader/ShaderInfoBuilder.cs
  src/Ryujinx.Graphics.Vulkan/ResourceBindingSegment.cs
  src/Ryujinx.Graphics.Vulkan/ResourceLayoutBuilder.cs
  src/Ryujinx.Graphics.Vulkan/ShaderCollection.cs
Labels: gpu, graphics-backend:vulkan

#5545 Replacing 'Assembly.GetExecutingAssembly()' with 'Type.Assembly'
  src/Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardRendererBase.cs
  src/Ryujinx.HLE/HOS/Services/IpcService.cs
  src/Ryujinx.HLE/HOS/Services/Sm/IUserInterface.cs
  src/Ryujinx.Headless.SDL2/WindowBase.cs
Labels: miscellaneous

#5668 Fix shader GlobalToStorage pass when base address comes from local or shared memory
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/GlobalToStorage.cs
Labels: gpu, fix

#5682 Fix gl_Layer to geometry shader change not writing gl_Layer
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Shader/Translation/TranslatorContext.cs
Labels: gpu, fix

#5683 Replace ShaderOutputLayer with equivalent ShaderViewportIndexLayerEXT capability
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/SpirvGenerator.cs
Labels: gpu, fix, graphics-backend:vulkan

#5686 Remove more usages of reflection binding
  src/Ryujinx.Ava/UI/Applet/ErrorAppletWindow.axaml
  src/Ryujinx.Ava/UI/Applet/SwkbdAppletDialog.axaml
  src/Ryujinx.Ava/UI/Controls/ApplicationGridView.axaml
  src/Ryujinx.Ava/UI/Controls/ApplicationListView.axaml
  src/Ryujinx.Ava/UI/Windows/CheatWindow.axaml
  src/Ryujinx.Ava/UI/Windows/DownloadableContentManagerWindow.axaml
Labels: gui

#5684 Use compiled binding for localizations
  src/Ryujinx.Ava/Common/Locale/LocaleExtension.cs
Labels: gui

#5697 Fixes compiled bindings in cheat window
  src/Ryujinx.Ava/UI/Windows/CheatWindow.axaml.cs
Labels: gui

#5670 Stub unsupported BSD socket options
  src/Ryujinx.HLE/HOS/Services/Sockets/Bsd/Impl/ManagedSocket.cs
  src/Ryujinx.HLE/HOS/Services/Sockets/Bsd/Impl/WinSockHelper.cs
Labels: horizon, stub, service:sockets

#5708 Horizon: Migrate wlan and stubs latest services
  src/Ryujinx.HLE/HOS/Services/Wlan/IInfraManager.cs
  src/Ryujinx.HLE/HOS/Services/Wlan/ILocalGetActionFrame.cs
  src/Ryujinx.HLE/HOS/Services/Wlan/ILocalGetFrame.cs
  src/Ryujinx.HLE/HOS/Services/Wlan/ILocalManager.cs
  src/Ryujinx.HLE/HOS/Services/Wlan/ISocketGetFrame.cs
  src/Ryujinx.HLE/HOS/Services/Wlan/ISocketManager.cs
  src/Ryujinx.HLE/HOS/Services/Wlan/IUnknown1.cs
  src/Ryujinx.Horizon/Sdk/Wlan/IDetectManager.cs
  src/Ryujinx.Horizon/Sdk/Wlan/IGeneralServiceCreator.cs
  src/Ryujinx.Horizon/Sdk/Wlan/IInfraManager.cs
  src/Ryujinx.Horizon/Sdk/Wlan/ILocalGetActionFrame.cs
  src/Ryujinx.Horizon/Sdk/Wlan/ILocalGetFrame.cs
  src/Ryujinx.Horizon/Sdk/Wlan/ILocalManager.cs
  src/Ryujinx.Horizon/Sdk/Wlan/IPrivateServiceCreator.cs
  src/Ryujinx.Horizon/Sdk/Wlan/ISfDriverServiceCreator.cs
  src/Ryujinx.Horizon/Sdk/Wlan/ISocketGetFrame.cs
  src/Ryujinx.Horizon/Sdk/Wlan/ISocketManager.cs
  src/Ryujinx.Horizon/ServiceTable.cs
  src/Ryujinx.Horizon/Wlan/Ipc/DetectManager.cs
  src/Ryujinx.Horizon/Wlan/Ipc/GeneralServiceCreator.cs
  src/Ryujinx.Horizon/Wlan/Ipc/InfraManager.cs
  src/Ryujinx.Horizon/Wlan/Ipc/LocalGetActionFrame.cs
  src/Ryujinx.Horizon/Wlan/Ipc/LocalGetFrame.cs
  src/Ryujinx.Horizon/Wlan/Ipc/LocalManager.cs
  src/Ryujinx.Horizon/Wlan/Ipc/PrivateServiceCreator.cs
  src/Ryujinx.Horizon/Wlan/Ipc/SfDriverServiceCreator.cs
  src/Ryujinx.Horizon/Wlan/Ipc/SocketGetFrame.cs
  src/Ryujinx.Horizon/Wlan/Ipc/SocketManager.cs
  src/Ryujinx.Horizon/Wlan/WlanIpcServer.cs
  src/Ryujinx.Horizon/Wlan/WlanMain.cs
Labels: horizon, service:wlan

#5581 [INFRA] Addition of basic contributor guides and docs framework.
  CONTRIBUTING.md
  docs/README.md
  docs/coding-guidelines/coding-style.md
  docs/workflow/pr-guide.md
Labels: needs-feedback, infra

#5700 Vulkan: Fix barriers on macOS
  src/Ryujinx.Graphics.Vulkan/TextureStorage.cs
Labels: gpu, graphics-backend:vulkan, os:macOS

#5719 GPU: Discard data when getting texture before full clear
  src/Ryujinx.Graphics.GAL/Format.cs
  src/Ryujinx.Graphics.Gpu/Engine/Threed/DrawManager.cs
  src/Ryujinx.Graphics.Gpu/Engine/Threed/RenderTargetUpdateFlags.cs
  src/Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  src/Ryujinx.Graphics.Gpu/Image/Texture.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureGroupHandle.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureSearchFlags.cs
  src/Ryujinx.Graphics.Gpu/Window.cs
Labels: gpu, performance

#5412 Headless: Add support for Scaling Filters, Anti-aliasing and Exclusive Fullscreen
  src/Ryujinx.Headless.SDL2/OpenGL/OpenGLWindow.cs
  src/Ryujinx.Headless.SDL2/Options.cs
  src/Ryujinx.Headless.SDL2/Program.cs
  src/Ryujinx.Headless.SDL2/Vulkan/VulkanWindow.cs
  src/Ryujinx.Headless.SDL2/WindowBase.cs
Labels: miscellaneous

#5652 Add ldn:u implementation, INetworkClient interface and DisabledLdnClient
  Directory.Packages.props
  src/Ryujinx.Ava/AppHost.cs
  src/Ryujinx.Ava/Assets/Locales/en_US.json
  src/Ryujinx.Ava/Common/ApplicationHelper.cs
  src/Ryujinx.Ava/UI/ViewModels/SettingsViewModel.cs
  src/Ryujinx.Ava/UI/Views/Settings/SettingsNetworkView.axaml
  src/Ryujinx.Ava/UI/Windows/MainWindow.axaml.cs
  src/Ryujinx.Common/Configuration/Multiplayer/MultiplayerMode.cs
  src/Ryujinx.Common/Memory/StructArrayHelpers.cs
  src/Ryujinx.Common/Utilities/NetworkHelpers.cs
  src/Ryujinx.HLE/HLEConfiguration.cs
  src/Ryujinx.HLE/HOS/Horizon.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/IUserServiceCreator.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/ResultCode.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/AcceptPolicy.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/AddressEntry.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/AddressList.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/CommonNetworkInfo.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/DisconnectReason.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/IntentId.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/LdnNetworkInfo.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/NetworkConfig.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/NetworkId.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/NetworkInfo.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/NetworkType.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/NodeInfo.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/NodeLatestUpdate.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/NodeLatestUpdateFlags.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/ScanFilter.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/ScanFilterFlag.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/SecurityConfig.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/SecurityMode.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/SecurityParameter.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/Ssid.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Types/UserConfig.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/AccessPoint.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/IUserLocalCommunicationService.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/Network/Types/ConnectRequest.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/Network/Types/CreateAccessPointRequest.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/RyuLdn/DisabledLdnClient.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/RyuLdn/INetworkClient.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/RyuLdn/NetworkChangeEventArgs.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/RyuLdn/Types/ConnectPrivateRequest.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/RyuLdn/Types/CreateAccessPointPrivateRequest.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/RyuLdn/Types/NetworkError.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/RyuLdn/Types/NetworkErrorMessage.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/Station.cs
  src/Ryujinx.HLE/HOS/Services/Mii/Types/RandomMiiConstants.cs
  src/Ryujinx.Headless.SDL2/Program.cs
  src/Ryujinx.Ui.Common/Configuration/ConfigurationFileFormat.cs
  src/Ryujinx.Ui.Common/Configuration/ConfigurationState.cs
  src/Ryujinx/Ui/MainWindow.cs
  src/Ryujinx/Ui/Windows/SettingsWindow.cs
  src/Ryujinx/Ui/Windows/SettingsWindow.glade
Labels: horizon, gui, service:ldn, infra

#5516 Ava UI: Refactor `async` usage
  src/Ryujinx.Ava/App.axaml.cs
  src/Ryujinx.Ava/AppHost.cs
  src/Ryujinx.Ava/Common/ApplicationHelper.cs
  src/Ryujinx.Ava/Input/AvaloniaKeyboardDriver.cs
  src/Ryujinx.Ava/Modules/Updater/Updater.cs
  src/Ryujinx.Ava/UI/Applet/AvaHostUiHandler.cs
  src/Ryujinx.Ava/UI/Controls/ApplicationContextMenu.axaml.cs
  src/Ryujinx.Ava/UI/ViewModels/DownloadableContentManagerViewModel.cs
  src/Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  src/Ryujinx.Ava/UI/ViewModels/SettingsViewModel.cs
  src/Ryujinx.Ava/UI/ViewModels/TitleUpdateViewModel.cs
  src/Ryujinx.Ava/UI/Views/Main/MainMenuBarView.axaml.cs
  src/Ryujinx.Ava/UI/Views/Settings/SettingsUIView.axaml.cs
  src/Ryujinx.Ava/UI/Views/User/UserProfileImageSelectorView.axaml.cs
  src/Ryujinx.Ava/UI/Windows/MainWindow.axaml.cs
  src/Ryujinx.Ava/UI/Windows/StyleableWindow.cs
Labels: gui, infra

#5663 Add VTimer as alternative interrupt method on Apple Hypervisor
  src/Ryujinx.Cpu/AppleHv/HvAddressSpace.cs
  src/Ryujinx.Cpu/AppleHv/HvAddressSpaceRange.cs
  src/Ryujinx.Cpu/AppleHv/HvApi.cs
  src/Ryujinx.Cpu/AppleHv/HvCpuContext.cs
  src/Ryujinx.Cpu/AppleHv/HvEngine.cs
  src/Ryujinx.Cpu/AppleHv/HvExecutionContext.cs
  src/Ryujinx.Cpu/AppleHv/HvExecutionContextShadow.cs
  src/Ryujinx.Cpu/AppleHv/HvExecutionContextVcpu.cs
  src/Ryujinx.Cpu/AppleHv/HvMemoryBlockAllocation.cs
  src/Ryujinx.Cpu/AppleHv/HvMemoryBlockAllocator.cs
  src/Ryujinx.Cpu/AppleHv/HvMemoryManager.cs
  src/Ryujinx.Cpu/AppleHv/HvVcpu.cs
  src/Ryujinx.Cpu/AppleHv/HvVcpuPool.cs
  src/Ryujinx.Cpu/AppleHv/HvVm.cs
  src/Ryujinx.Cpu/AppleHv/IHvExecutionContext.cs
  src/Ryujinx.Cpu/AppleHv/TimeApi.cs
Labels: cpu, fix, os:macOS

#5575 Make Vulkan memory allocator actually thread safe
  src/Ryujinx.Graphics.Vulkan/MemoryAllocator.cs
  src/Ryujinx.Graphics.Vulkan/MemoryAllocatorBlockList.cs
Labels: fix, graphics-backend:vulkan

#5673 Reduce the amount of descriptor pool allocations on Vulkan
  src/Ryujinx.Graphics.Vulkan/CommandBufferPool.cs
  src/Ryujinx.Graphics.Vulkan/DescriptorSetManager.cs
  src/Ryujinx.Graphics.Vulkan/DescriptorSetUpdater.cs
  src/Ryujinx.Graphics.Vulkan/PipelineLayoutCacheEntry.cs
  src/Ryujinx.Graphics.Vulkan/ShaderCollection.cs
  src/Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, fix, graphics-backend:vulkan

#5728 Ava: Fix regressions by rewriting CheckLaunchState
  src/Ryujinx.Ava/UI/Windows/MainWindow.axaml.cs
Labels: gui, fix

#5727 GPU: Don't create tracking handles for buffer textures
  src/ARMeilleure/Translation/IntervalTree.cs
  src/Ryujinx.Common/Collections/IntervalTree.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
Labels: cpu, gpu, performance

#5681 Implement NGC service
  src/Ryujinx.HLE/HOS/Horizon.cs
  src/Ryujinx.HLE/HOS/HorizonFsClient.cs
  src/Ryujinx.Horizon/HorizonOptions.cs
  src/Ryujinx.Horizon/LibHacResultExtensions.cs
  src/Ryujinx.Horizon/LogManager/Ipc/LogService.cs
  src/Ryujinx.Horizon/Ngc/Ipc/Service.cs
  src/Ryujinx.Horizon/Ngc/NgcIpcServer.cs
  src/Ryujinx.Horizon/Ngc/NgcMain.cs
  src/Ryujinx.Horizon/Sdk/Fs/FileHandle.cs
  src/Ryujinx.Horizon/Sdk/Fs/FsResult.cs
  src/Ryujinx.Horizon/Sdk/Fs/IFsClient.cs
  src/Ryujinx.Horizon/Sdk/Fs/OpenMode.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/AhoCorasick.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/BinaryReader.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/BitVector32.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/Bp.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/BpNode.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/CompressedArray.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/ContentsReader.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/EmbeddedTries.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/MatchCheckState.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/MatchDelimitedState.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/MatchRangeList.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/MatchRangeListState.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/MatchSimilarFormState.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/MatchState.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/ProfanityFilter.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/ProfanityFilterBase.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/Sbv.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/SbvRank.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/SbvSelect.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/Set.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/SimilarFormTable.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/SparseSet.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/Utf8ParseResult.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/Utf8Text.cs
  src/Ryujinx.Horizon/Sdk/Ngc/Detail/Utf8Util.cs
  src/Ryujinx.Horizon/Sdk/Ngc/INgcService.cs
  src/Ryujinx.Horizon/Sdk/Ngc/MaskMode.cs
  src/Ryujinx.Horizon/Sdk/Ngc/NgcResult.cs
  src/Ryujinx.Horizon/Sdk/Ngc/ProfanityFilterFlags.cs
  src/Ryujinx.Horizon/Sdk/Ngc/ProfanityFilterOption.cs
  src/Ryujinx.Horizon/Sdk/Ngc/SkipMode.cs
  src/Ryujinx.Horizon/ServiceTable.cs
Labels: horizon, service-implementation, service:ngc

#5742 Fix audio renderer compressor effect
  src/Ryujinx.Audio/Renderer/Dsp/Command/AuxiliaryBufferCommand.cs
  src/Ryujinx.Audio/Renderer/Dsp/Command/BiquadFilterCommand.cs
  src/Ryujinx.Audio/Renderer/Dsp/Command/CommandList.cs
  src/Ryujinx.Audio/Renderer/Dsp/Command/CompressorCommand.cs
  src/Ryujinx.Audio/Renderer/Dsp/Command/DelayCommand.cs
  src/Ryujinx.Audio/Renderer/Dsp/Command/LimiterCommandVersion2.cs
  src/Ryujinx.Audio/Renderer/Dsp/Command/ReverbCommand.cs
  src/Ryujinx.Audio/Renderer/Dsp/FloatingPointHelper.cs
  src/Ryujinx.Audio/Renderer/Dsp/State/CompressorState.cs
  src/Ryujinx.Audio/Renderer/Dsp/State/DelayState.cs
  src/Ryujinx.Audio/Renderer/Dsp/State/LimiterState.cs
  src/Ryujinx.Audio/Renderer/Dsp/State/Reverb3dState.cs
  src/Ryujinx.Audio/Renderer/Dsp/State/ReverbState.cs
Labels: audio, fix

#5743 Signal friends completion event and stub CheckBlockedUserListAvailability
  src/Ryujinx.HLE/HOS/Services/Friend/ServiceCreator/IFriendService.cs
Labels: horizon, service-implementation, service:friend
