Repository Ryujinx/Ryujinx, pull requests merged in 2023-07, with the labels that each got.

#5365 [Ryujinx.Cpu] Address dotnet-format issues
  src/Ryujinx.Cpu/AddressSpace.cs
  src/Ryujinx.Cpu/AppleHv/Arm/ExceptionClass.cs
  src/Ryujinx.Cpu/AppleHv/DummyDiskCacheLoadState.cs
  src/Ryujinx.Cpu/AppleHv/HvAddressSpace.cs
  src/Ryujinx.Cpu/AppleHv/HvAddressSpaceRange.cs
  src/Ryujinx.Cpu/AppleHv/HvApi.cs
  src/Ryujinx.Cpu/AppleHv/HvCpuContext.cs
  src/Ryujinx.Cpu/AppleHv/HvEngine.cs
  src/Ryujinx.Cpu/AppleHv/HvExecutionContext.cs
  src/Ryujinx.Cpu/AppleHv/HvExecutionContextShadow.cs
  src/Ryujinx.Cpu/AppleHv/HvExecutionContextVcpu.cs
  src/Ryujinx.Cpu/AppleHv/HvIpaAllocator.cs
  src/Ryujinx.Cpu/AppleHv/HvMemoryBlockAllocation.cs
  src/Ryujinx.Cpu/AppleHv/HvMemoryBlockAllocator.cs
  src/Ryujinx.Cpu/AppleHv/HvMemoryManager.cs
  src/Ryujinx.Cpu/AppleHv/HvVcpu.cs
  src/Ryujinx.Cpu/AppleHv/HvVcpuPool.cs
  src/Ryujinx.Cpu/AppleHv/HvVm.cs
  src/Ryujinx.Cpu/AppleHv/IHvExecutionContext.cs
  src/Ryujinx.Cpu/Jit/JitDiskCacheLoadState.cs
  src/Ryujinx.Cpu/Jit/JitEngine.cs
  src/Ryujinx.Cpu/Jit/JitExecutionContext.cs
  src/Ryujinx.Cpu/Jit/JitMemoryBlock.cs
  src/Ryujinx.Cpu/Jit/MemoryManager.cs
  src/Ryujinx.Cpu/Jit/MemoryManagerHostMapped.cs
  src/Ryujinx.Cpu/LoadState.cs
  src/Ryujinx.Cpu/MemoryEhMeilleure.cs
  src/Ryujinx.Cpu/MemoryHelper.cs
  src/Ryujinx.Cpu/PrivateMemoryAllocation.cs
  src/Ryujinx.Cpu/PrivateMemoryAllocator.cs
  src/Ryujinx.Cpu/TickSource.cs
Labels: cpu

#5354 Prefer indexing instead of "Enumerable" methods on types implementing "IList"
  src/Ryujinx.Ui.LocaleGenerator/LocaleGenerator.cs
Labels: gui

#5395 [Ryujinx] Address dotnet-format issues
  src/Ryujinx/Input/GTK3/GTK3Keyboard.cs
  src/Ryujinx/Input/GTK3/GTK3KeyboardDriver.cs
  src/Ryujinx/Input/GTK3/GTK3Mouse.cs
  src/Ryujinx/Input/GTK3/GTK3MouseDriver.cs
  src/Ryujinx/Modules/Updater/UpdateDialog.cs
  src/Ryujinx/Modules/Updater/Updater.cs
  src/Ryujinx/Program.cs
  src/Ryujinx/Ui/Applet/ErrorAppletDialog.cs
  src/Ryujinx/Ui/Applet/GtkDynamicTextInputHandler.cs
  src/Ryujinx/Ui/Applet/GtkHostUiHandler.cs
  src/Ryujinx/Ui/Applet/GtkHostUiTheme.cs
  src/Ryujinx/Ui/Applet/SwkbdAppletDialog.cs
  src/Ryujinx/Ui/Helper/MetalHelper.cs
  src/Ryujinx/Ui/Helper/ThemeHelper.cs
  src/Ryujinx/Ui/MainWindow.cs
  src/Ryujinx/Ui/OpenGLRenderer.cs
  src/Ryujinx/Ui/OpenToolkitBindingsContext.cs
  src/Ryujinx/Ui/RendererWidgetBase.cs
  src/Ryujinx/Ui/SPBOpenGLContext.cs
  src/Ryujinx/Ui/StatusUpdatedEventArgs.cs
  src/Ryujinx/Ui/VulkanRenderer.cs
  src/Ryujinx/Ui/Widgets/GameTableContextMenu.Designer.cs
  src/Ryujinx/Ui/Widgets/GameTableContextMenu.cs
  src/Ryujinx/Ui/Widgets/GtkDialog.cs
  src/Ryujinx/Ui/Widgets/GtkInputDialog.cs
  src/Ryujinx/Ui/Widgets/ProfileDialog.cs
  src/Ryujinx/Ui/Widgets/UserErrorDialog.cs
  src/Ryujinx/Ui/Windows/AboutWindow.Designer.cs
  src/Ryujinx/Ui/Windows/AboutWindow.cs
  src/Ryujinx/Ui/Windows/AmiiboWindow.Designer.cs
  src/Ryujinx/Ui/Windows/AmiiboWindow.cs
  src/Ryujinx/Ui/Windows/AvatarWindow.cs
  src/Ryujinx/Ui/Windows/CheatWindow.cs
  src/Ryujinx/Ui/Windows/ControllerWindow.cs
  src/Ryujinx/Ui/Windows/DlcWindow.cs
  src/Ryujinx/Ui/Windows/SettingsWindow.cs
  src/Ryujinx/Ui/Windows/TitleUpdateWindow.cs
  src/Ryujinx/Ui/Windows/UserProfilesManagerWindow.Designer.cs
  src/Ryujinx/Ui/Windows/UserProfilesManagerWindow.cs
Labels: gui

#5424 [Hotfix] Fix naming issue in ControllerWindow
  src/Ryujinx/Ui/Windows/ControllerWindow.cs
Labels: gui, fix

#5266 Stop identifying shader textures with handle and cbuf, use binding instead
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Shader/BufferDescriptor.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/DefaultNames.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/CodeGenContext.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/Declarations.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/Instructions.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/TextureMeta.cs
  src/Ryujinx.Graphics.Shader/Instructions/InstEmitSurface.cs
  src/Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
  src/Ryujinx.Graphics.Shader/IntermediateRepresentation/TextureOperation.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/AstTextureOperation.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/ShaderProperties.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/StructuredProgram.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/TextureDefinition.cs
  src/Ryujinx.Graphics.Shader/TextureDescriptor.cs
  src/Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
  src/Ryujinx.Graphics.Shader/Translation/EmitterContextInsts.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessElimination.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessToIndexed.cs
  src/Ryujinx.Graphics.Shader/Translation/ResourceManager.cs
  src/Ryujinx.Graphics.Shader/Translation/Rewriter.cs
  src/Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
Labels: enhancement, gpu, needs-feedback

#5339 Headless: Add support for fullscreen option
  src/Ryujinx.Headless.SDL2/OpenGL/OpenGLWindow.cs
  src/Ryujinx.Headless.SDL2/Options.cs
  src/Ryujinx.Headless.SDL2/Program.cs
  src/Ryujinx.Headless.SDL2/WindowBase.cs
Labels: enhancement, miscellaneous

#5440 MacOS: Allow barriers inside a render pass for non-Apple GPUs and don't treat as TBDR
  src/Ryujinx.Graphics.Vulkan/PipelineBase.cs
  src/Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, graphics-backend:vulkan

#5411 Move support buffer update out of the backends
  src/Ryujinx.Graphics.GAL/IPipeline.cs
  src/Ryujinx.Graphics.GAL/IRenderer.cs
  src/Ryujinx.Graphics.GAL/ITexture.cs
  src/Ryujinx.Graphics.GAL/Multithreading/CommandHelper.cs
  src/Ryujinx.Graphics.GAL/Multithreading/CommandType.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Commands/Renderer/CreateTextureCommand.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Commands/Renderer/ReportCounterCommand.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Commands/SetRenderTargetScaleCommand.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Commands/SetViewportsCommand.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Commands/UpdateRenderScaleCommand.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Resources/ThreadedCounterEvent.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Resources/ThreadedTexture.cs
  src/Ryujinx.Graphics.GAL/Multithreading/ThreadedPipeline.cs
  src/Ryujinx.Graphics.GAL/Multithreading/ThreadedRenderer.cs
  src/Ryujinx.Graphics.GAL/SupportBufferUpdater.cs
  src/Ryujinx.Graphics.Gpu/Engine/Threed/SemaphoreUpdater.cs
  src/Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  src/Ryujinx.Graphics.Gpu/GpuContext.cs
  src/Ryujinx.Graphics.Gpu/Image/Texture.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  src/Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
  src/Ryujinx.Graphics.Gpu/Memory/SupportBufferUpdater.cs
  src/Ryujinx.Graphics.Gpu/Shader/ShaderInfoBuilder.cs
  src/Ryujinx.Graphics.Gpu/Window.cs
  src/Ryujinx.Graphics.OpenGL/Effects/FsrScalingFilter.cs
  src/Ryujinx.Graphics.OpenGL/Effects/FxaaPostProcessingEffect.cs
  src/Ryujinx.Graphics.OpenGL/Effects/SmaaPostProcessingEffect.cs
  src/Ryujinx.Graphics.OpenGL/Image/IntermmediatePool.cs
  src/Ryujinx.Graphics.OpenGL/Image/TextureBase.cs
  src/Ryujinx.Graphics.OpenGL/Image/TextureCopy.cs
  src/Ryujinx.Graphics.OpenGL/Image/TextureStorage.cs
  src/Ryujinx.Graphics.OpenGL/Image/TextureView.cs
  src/Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  src/Ryujinx.Graphics.OpenGL/Pipeline.cs
  src/Ryujinx.Graphics.OpenGL/Queries/CounterQueue.cs
  src/Ryujinx.Graphics.OpenGL/Queries/Counters.cs
  src/Ryujinx.Graphics.OpenGL/ResourcePool.cs
  src/Ryujinx.Graphics.OpenGL/Window.cs
  src/Ryujinx.Graphics.Vulkan/DescriptorSetUpdater.cs
  src/Ryujinx.Graphics.Vulkan/Effects/FsrScalingFilter.cs
  src/Ryujinx.Graphics.Vulkan/Effects/FxaaPostProcessingEffect.cs
  src/Ryujinx.Graphics.Vulkan/Effects/SmaaPostProcessingEffect.cs
  src/Ryujinx.Graphics.Vulkan/HelperShader.cs
  src/Ryujinx.Graphics.Vulkan/PipelineBase.cs
  src/Ryujinx.Graphics.Vulkan/Queries/CounterQueue.cs
  src/Ryujinx.Graphics.Vulkan/Queries/Counters.cs
  src/Ryujinx.Graphics.Vulkan/TextureBuffer.cs
  src/Ryujinx.Graphics.Vulkan/TextureStorage.cs
  src/Ryujinx.Graphics.Vulkan/TextureView.cs
  src/Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
  src/Ryujinx.Graphics.Vulkan/Window.cs
Labels: enhancement, gpu, graphics-backend:vulkan, graphics-backend:opengl

#5280 Move ShaderBinaries into individual .spv files
  src/Ryujinx.Graphics.Vulkan/HelperShader.cs
  src/Ryujinx.Graphics.Vulkan/Ryujinx.Graphics.Vulkan.csproj
  src/Ryujinx.Graphics.Vulkan/Shaders/ShaderBinaries.cs
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/ChangeBufferStride.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/ColorBlitClearAlphaFragment.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/ColorBlitFragment.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/ColorBlitMsFragment.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/ColorBlitVertex.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/ColorClearFFragment.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/ColorClearSIFragment.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/ColorClearUIFragment.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/ColorClearVertex.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/ColorCopyShorteningCompute.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/ColorCopyToNonMsCompute.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/ColorCopyWideningCompute.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/ColorDrawToMsFragment.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/ColorDrawToMsVertex.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/ConvertD32S8ToD24S8.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/ConvertIndexBuffer.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/ConvertIndirectData.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/DepthBlitFragment.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/DepthBlitMsFragment.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/DepthDrawToMsFragment.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/DepthDrawToNonMsFragment.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/StencilBlitFragment.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/StencilBlitMsFragment.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/StencilDrawToMsFragment.spv
  src/Ryujinx.Graphics.Vulkan/Shaders/SpirvBinaries/StencilDrawToNonMsFragment.spv
Labels: enhancement, gpu

#5442 infra: Fix PR triage once and for all
  .github/assign/audio.yml
  .github/assign/cpu.yml
  .github/assign/global.yml
  .github/assign/gpu.yml
  .github/assign/gui.yml
  .github/assign/horizon.yml
  .github/assign/infra.yml
  .github/reviewers.yml
  .github/update_reviewers.py
  .github/workflows/pr_triage.yml
Labels: infra

#5452 Fix some Vulkan validation errors
  src/Ryujinx.Graphics.Vulkan/FramebufferParams.cs
  src/Ryujinx.Graphics.Vulkan/IndexBufferState.cs
  src/Ryujinx.Graphics.Vulkan/PipelineBase.cs
  src/Ryujinx.Graphics.Vulkan/TextureStorage.cs
  src/Ryujinx.Graphics.Vulkan/TextureView.cs
  src/Ryujinx.Graphics.Vulkan/VulkanConfiguration.cs
  src/Ryujinx.Graphics.Vulkan/VulkanDebugMessenger.cs
  src/Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
Labels: gpu, fix, graphics-backend:vulkan

#5457 [CPU] Hotfix missing ToNearest rounding mode cases
  src/ARMeilleure/Instructions/SoftFloat.cs
Labels: cpu, fix

#5459 [Hotfix] sockets: Resolve empty port requests to 0 again
  src/Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/IResolver.cs
Labels: horizon, fix, service:sockets

#5468 HLE: Fix corrupted Mii structs
  src/Ryujinx.Common/Memory/StructArrayHelpers.cs
  src/Ryujinx.HLE/HOS/Services/Mii/Types/RandomMiiConstants.cs
Labels: horizon, fix, service:mii

#5456 Ava UI: Remove `IsActive` checks from dialog methods
  src/Ryujinx.Ava/UI/Applet/AvaHostUiHandler.cs
  src/Ryujinx.Ava/UI/Helpers/ContentDialogHelper.cs
Labels: gui

#4673 Fix incorrect fragment origin when YNegate is enabled
  src/Ryujinx.Graphics.Gpu/Engine/Threed/SpecializationStateUpdater.cs
  src/Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  src/Ryujinx.Graphics.Gpu/Memory/SupportBufferUpdater.cs
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheGpuAccessor.cs
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  src/Ryujinx.Graphics.Gpu/Shader/GpuChannelGraphicsState.cs
  src/Ryujinx.Graphics.Gpu/Shader/ShaderSpecializationState.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/SpirvGenerator.cs
  src/Ryujinx.Graphics.Shader/IGpuAccessor.cs
  src/Ryujinx.Graphics.Shader/Instructions/InstEmitAttribute.cs
  src/Ryujinx.Graphics.Shader/ShaderProgramInfo.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/ShaderProperties.cs
  src/Ryujinx.Graphics.Shader/SupportBuffer.cs
  src/Ryujinx.Graphics.Shader/Translation/EmitterContextInsts.cs
  src/Ryujinx.Graphics.Shader/Translation/ShaderConfig.cs
Labels: gpu, fix

#5502 CPU (A64): Add Fmaxp & Fminp Scalar Inst.s, Fast & Slow Paths; with Tests.
  src/ARMeilleure/Decoders/OpCodeTable.cs
  src/ARMeilleure/Instructions/InstEmitSimdArithmetic.cs
  src/ARMeilleure/Instructions/InstName.cs
  src/ARMeilleure/Translation/PTC/Ptc.cs
  src/Ryujinx.Tests/Cpu/CpuTestSimd.cs
Labels: cpu

#5504 (Graphics.Shader): Handle EmitSuatom constant dests and EmitSuld zero dest reg.
  src/Ryujinx.Graphics.Shader/Instructions/InstEmitSurface.cs
Labels: gpu

#5507 Add slightly better workaround for current workflow issues
  .github/workflows/build.yml
  .github/workflows/checks.yml
Labels: fix, infra
