Repository Ryujinx/Ryujinx, pull requests merged in 2023-11, with the labels that each got.

#5875 Fix AddSessionObj NRE regression
  src/Ryujinx.HLE/HOS/Services/ServerBase.cs
Labels: horizon

#5869 Better handle instruction aborts when hitting unmapped memory
  src/ARMeilleure/Decoders/Decoder.cs
Labels: cpu

#4956 Overhaul of string formatting/parsing/sorting logic for TimeSpans, DateTimes, and file sizes
  src/Ryujinx.Ava/AppHost.cs
  src/Ryujinx.Ava/Program.cs
  src/Ryujinx.Ava/UI/Controls/ApplicationListView.axaml
  src/Ryujinx.Ava/UI/Helpers/LocalizedNeverConverter.cs
  src/Ryujinx.Ava/UI/Helpers/NullableDateTimeConverter.cs
  src/Ryujinx.Ava/UI/Models/Generic/LastPlayedSortComparer.cs
  src/Ryujinx.Ava/UI/Models/Generic/TimePlayedSortComparer.cs
  src/Ryujinx.Ava/UI/Models/SaveModel.cs
  src/Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  src/Ryujinx.Ui.Common/App/ApplicationData.cs
  src/Ryujinx.Ui.Common/App/ApplicationLibrary.cs
  src/Ryujinx.Ui.Common/App/ApplicationMetadata.cs
  src/Ryujinx.Ui.Common/Helper/ValueFormatUtils.cs
  src/Ryujinx.Ui.Common/SystemInfo/LinuxSystemInfo.cs
  src/Ryujinx.Ui.Common/SystemInfo/MacOSSystemInfo.cs
  src/Ryujinx.Ui.Common/SystemInfo/SystemInfo.cs
  src/Ryujinx.Ui.Common/SystemInfo/WindowsSystemInfo.cs
  src/Ryujinx/Program.cs
  src/Ryujinx/Ui/Helper/SortHelper.cs
  src/Ryujinx/Ui/MainWindow.cs
Labels: enhancement, gui, review/waiting-on-maintainers

#5898 Force all exclusive memory accesses to be ordered on AppleHv
  src/Ryujinx.Cpu/AppleHv/HvCodePatcher.cs
  src/Ryujinx.Cpu/AppleHv/HvMemoryManager.cs
  src/Ryujinx.Cpu/Jit/MemoryManager.cs
  src/Ryujinx.Cpu/Jit/MemoryManagerHostMapped.cs
  src/Ryujinx.HLE/HOS/Kernel/Memory/KMemoryPermission.cs
  src/Ryujinx.HLE/HOS/Kernel/Memory/KPageTable.cs
  src/Ryujinx.HLE/HOS/Kernel/Memory/KPageTableBase.cs
  src/Ryujinx.HLE/HOS/Kernel/Memory/MemoryPermission.cs
  src/Ryujinx.Memory/AddressSpaceManager.cs
  src/Ryujinx.Memory/IVirtualMemoryManager.cs
  src/Ryujinx.Tests.Memory/MockVirtualMemoryManager.cs
Labels: cpu, horizon, kernel, os:macOS

#5906 UI: Change default hide cursor mode to OnIdle
  src/Ryujinx.Ui.Common/Configuration/ConfigurationState.cs
Labels: gui

#5884 Ava UI: Add accelerator keys for Options and Help
  src/Ryujinx.Ava/Assets/Locales/en_US.json
Labels: gui

#5852 Create Desktop Shortcut fixes
  src/Ryujinx.Ava/UI/Controls/ApplicationContextMenu.axaml
  src/Ryujinx.Ui.Common/Helper/ShortcutHelper.cs
  src/Ryujinx/Ui/Widgets/GameTableContextMenu.Designer.cs
Labels: gui

#5638 Add support for multi game XCIs
  src/Ryujinx.Ava/AppHost.cs
  src/Ryujinx.Ava/Assets/Locales/en_US.json
  src/Ryujinx.Ava/Common/ApplicationHelper.cs
  src/Ryujinx.Ava/UI/Controls/ApplicationContextMenu.axaml.cs
  src/Ryujinx.Ava/UI/Controls/ApplicationGridView.axaml
  src/Ryujinx.Ava/UI/Controls/ApplicationListView.axaml
  src/Ryujinx.Ava/UI/Models/DownloadableContentModel.cs
  src/Ryujinx.Ava/UI/Models/SaveModel.cs
  src/Ryujinx.Ava/UI/Models/TitleUpdateModel.cs
  src/Ryujinx.Ava/UI/ViewModels/DownloadableContentManagerViewModel.cs
  src/Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  src/Ryujinx.Ava/UI/ViewModels/TitleUpdateViewModel.cs
  src/Ryujinx.Ava/UI/Views/Main/MainMenuBarView.axaml.cs
  src/Ryujinx.Ava/UI/Views/Main/MainViewControls.axaml
  src/Ryujinx.Ava/UI/Windows/CheatWindow.axaml.cs
  src/Ryujinx.Ava/UI/Windows/DownloadableContentManagerWindow.axaml
  src/Ryujinx.Ava/UI/Windows/DownloadableContentManagerWindow.axaml.cs
  src/Ryujinx.Ava/UI/Windows/MainWindow.axaml.cs
  src/Ryujinx.Ava/UI/Windows/TitleUpdateWindow.axaml.cs
  src/Ryujinx.HLE/FileSystem/ContentCollection.cs
  src/Ryujinx.HLE/Loaders/Processes/Extensions/NcaExtensions.cs
  src/Ryujinx.HLE/Loaders/Processes/Extensions/PartitionFileSystemExtensions.cs
  src/Ryujinx.HLE/Loaders/Processes/ProcessLoader.cs
  src/Ryujinx.HLE/Loaders/Processes/ProcessLoaderHelper.cs
  src/Ryujinx.HLE/Switch.cs
  src/Ryujinx.Ui.Common/App/ApplicationData.cs
  src/Ryujinx.Ui.Common/App/ApplicationLibrary.cs
  src/Ryujinx/Program.cs
  src/Ryujinx/Ui/MainWindow.cs
  src/Ryujinx/Ui/Widgets/GameTableContextMenu.cs
  src/Ryujinx/Ui/Windows/CheatWindow.cs
  src/Ryujinx/Ui/Windows/DlcWindow.cs
  src/Ryujinx/Ui/Windows/TitleUpdateWindow.cs
Labels: horizon, gui, needs-feedback

#5914 Revert "Add support for multi game XCIs"
  src/Ryujinx.Ava/AppHost.cs
  src/Ryujinx.Ava/Assets/Locales/en_US.json
  src/Ryujinx.Ava/Common/ApplicationHelper.cs
  src/Ryujinx.Ava/UI/Controls/ApplicationContextMenu.axaml.cs
  src/Ryujinx.Ava/UI/Controls/ApplicationGridView.axaml
  src/Ryujinx.Ava/UI/Controls/ApplicationListView.axaml
  src/Ryujinx.Ava/UI/Models/DownloadableContentModel.cs
  src/Ryujinx.Ava/UI/Models/SaveModel.cs
  src/Ryujinx.Ava/UI/Models/TitleUpdateModel.cs
  src/Ryujinx.Ava/UI/ViewModels/DownloadableContentManagerViewModel.cs
  src/Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  src/Ryujinx.Ava/UI/ViewModels/TitleUpdateViewModel.cs
  src/Ryujinx.Ava/UI/Views/Main/MainMenuBarView.axaml.cs
  src/Ryujinx.Ava/UI/Views/Main/MainViewControls.axaml
  src/Ryujinx.Ava/UI/Windows/CheatWindow.axaml.cs
  src/Ryujinx.Ava/UI/Windows/DownloadableContentManagerWindow.axaml
  src/Ryujinx.Ava/UI/Windows/DownloadableContentManagerWindow.axaml.cs
  src/Ryujinx.Ava/UI/Windows/MainWindow.axaml.cs
  src/Ryujinx.Ava/UI/Windows/TitleUpdateWindow.axaml.cs
  src/Ryujinx.HLE/FileSystem/ContentCollection.cs
  src/Ryujinx.HLE/Loaders/Processes/Extensions/NcaExtensions.cs
  src/Ryujinx.HLE/Loaders/Processes/Extensions/PartitionFileSystemExtensions.cs
  src/Ryujinx.HLE/Loaders/Processes/ProcessLoader.cs
  src/Ryujinx.HLE/Loaders/Processes/ProcessLoaderHelper.cs
  src/Ryujinx.HLE/Switch.cs
  src/Ryujinx.Ui.Common/App/ApplicationData.cs
  src/Ryujinx.Ui.Common/App/ApplicationLibrary.cs
  src/Ryujinx/Program.cs
  src/Ryujinx/Ui/MainWindow.cs
  src/Ryujinx/Ui/Widgets/GameTableContextMenu.cs
  src/Ryujinx/Ui/Windows/CheatWindow.cs
  src/Ryujinx/Ui/Windows/DlcWindow.cs
  src/Ryujinx/Ui/Windows/TitleUpdateWindow.cs
Labels: horizon, gui

#5909 Do not set modified flag again if texture was not modified
  src/Ryujinx.Graphics.Gpu/Image/Texture.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureManager.cs
Labels: gpu

#5925 Change minimum OS to macOS 12 in Info.plist
  distribution/macos/Info.plist
Labels: infra

#5926 Fix TextureGroup.SignalModifying not being called
  src/Ryujinx.Graphics.Gpu/Image/Texture.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureGroupHandle.cs
Labels: gpu, fix

#5927 Disable DMA GPU copy for block linear to linear copies
  src/Ryujinx.Graphics.Gpu/Engine/Dma/DmaClass.cs
Labels: gpu, fix

#5887 Migrate to .NET 8
  .editorconfig
  .github/workflows/build.yml
  .github/workflows/release.yml
  Directory.Packages.props
  README.md
  global.json
  src/ARMeilleure/ARMeilleure.csproj
  src/Ryujinx.Audio.Backends.OpenAL/Ryujinx.Audio.Backends.OpenAL.csproj
  src/Ryujinx.Audio.Backends.SDL2/Ryujinx.Audio.Backends.SDL2.csproj
  src/Ryujinx.Audio.Backends.SoundIo/Ryujinx.Audio.Backends.SoundIo.csproj
  src/Ryujinx.Audio/Renderer/Utils/SpanIOHelper.cs
  src/Ryujinx.Audio/Ryujinx.Audio.csproj
  src/Ryujinx.Ava/Ryujinx.Ava.csproj
  src/Ryujinx.Ava/UI/Helpers/Win32NativeInterop.cs
  src/Ryujinx.Common/Ryujinx.Common.csproj
  src/Ryujinx.Cpu/Ryujinx.Cpu.csproj
  src/Ryujinx.Graphics.Device/Ryujinx.Graphics.Device.csproj
  src/Ryujinx.Graphics.GAL/Ryujinx.Graphics.GAL.csproj
  src/Ryujinx.Graphics.Gpu/Ryujinx.Graphics.Gpu.csproj
  src/Ryujinx.Graphics.Gpu/Synchronization/SynchronizationManager.cs
  src/Ryujinx.Graphics.Host1x/Ryujinx.Graphics.Host1x.csproj
  src/Ryujinx.Graphics.Nvdec.FFmpeg/Ryujinx.Graphics.Nvdec.FFmpeg.csproj
  src/Ryujinx.Graphics.Nvdec.Vp9/Ryujinx.Graphics.Nvdec.Vp9.csproj
  src/Ryujinx.Graphics.Nvdec/Ryujinx.Graphics.Nvdec.csproj
  src/Ryujinx.Graphics.OpenGL/Ryujinx.Graphics.OpenGL.csproj
  src/Ryujinx.Graphics.Shader/IntermediateRepresentation/PhiNode.cs
  src/Ryujinx.Graphics.Shader/Ryujinx.Graphics.Shader.csproj
  src/Ryujinx.Graphics.Texture/Ryujinx.Graphics.Texture.csproj
  src/Ryujinx.Graphics.Texture/Utils/RgbaColor32.cs
  src/Ryujinx.Graphics.Vic/Ryujinx.Graphics.Vic.csproj
  src/Ryujinx.Graphics.Video/Ryujinx.Graphics.Video.csproj
  src/Ryujinx.Graphics.Vulkan/PipelineBase.cs
  src/Ryujinx.Graphics.Vulkan/Ryujinx.Graphics.Vulkan.csproj
  src/Ryujinx.Graphics.Vulkan/VulkanException.cs
  src/Ryujinx.HLE/Exceptions/ServiceNotImplementedException.cs
  src/Ryujinx.HLE/FileSystem/ContentManager.cs
  src/Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostCtrl/Types/NvHostSyncPt.cs
  src/Ryujinx.HLE/HOS/Services/Sockets/Bsd/Types/BsdMsgHdr.cs
  src/Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/IResolver.cs
  src/Ryujinx.HLE/HOS/Services/Sockets/Sfdnsres/Types/AddrInfoSerialized.cs
  src/Ryujinx.HLE/HOS/Services/Ssl/SslService/SslManagedSocketConnection.cs
  src/Ryujinx.HLE/Ryujinx.HLE.csproj
  src/Ryujinx.Headless.SDL2/Ryujinx.Headless.SDL2.csproj
  src/Ryujinx.Horizon.Common/Ryujinx.Horizon.Common.csproj
  src/Ryujinx.Horizon/Ryujinx.Horizon.csproj
  src/Ryujinx.Input.SDL2/Ryujinx.Input.SDL2.csproj
  src/Ryujinx.Input/Ryujinx.Input.csproj
  src/Ryujinx.Memory/Range/MultiRange.cs
  src/Ryujinx.Memory/Ryujinx.Memory.csproj
  src/Ryujinx.SDL2.Common/Ryujinx.SDL2.Common.csproj
  src/Ryujinx.ShaderTools/Ryujinx.ShaderTools.csproj
  src/Ryujinx.Tests.Memory/Ryujinx.Tests.Memory.csproj
  src/Ryujinx.Tests.Unicorn/Ryujinx.Tests.Unicorn.csproj
  src/Ryujinx.Tests/Ryujinx.Tests.csproj
  src/Ryujinx.Ui.Common/Ryujinx.Ui.Common.csproj
  src/Ryujinx/Ryujinx.csproj
  src/Spv.Generator/Spv.Generator.csproj
Labels: cpu, horizon, gpu, gui, audio, infra, graphics-backend:vulkan, graphics-backend:opengl

#5912 chore: Update OpenTK to 4.8.1
  Directory.Packages.props
  src/Ryujinx.Audio.Backends.OpenAL/Ryujinx.Audio.Backends.OpenAL.csproj
Labels: audio, infra

#5937 Fix JitCache.Unmap called with the same address freeing memory in use
  src/ARMeilleure/Translation/Cache/JitCache.cs
  src/ARMeilleure/Translation/Cache/JitUnwindWindows.cs
Labels: cpu, fix

#5913 misc: Default to Vulkan if available or running on macOS
  src/Ryujinx.Ui.Common/Configuration/ConfigurationLoadResult.cs
  src/Ryujinx.Ui.Common/Configuration/ConfigurationState.cs
  src/Ryujinx.Ui.Common/Ryujinx.Ui.Common.csproj
  src/Ryujinx/Program.cs
Labels: gui

#5957 Extend bindless elimination to see through Phis with the same results
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessElimination.cs
Labels: gpu, fix

#5943 Enable copy dependency between RGBA8 and RGBA32 formats
  src/Ryujinx.Graphics.Gpu/Image/FormatTable.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
  src/Ryujinx.Graphics.Gpu/Image/TexturePool.cs
Labels: gpu, fix

#5958 Extend bindless elimination to see through shuffle
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessElimination.cs
Labels: gpu, fix
