Repository Ryujinx/Ryujinx, pull requests merged in 2023-01, with the labels that each got.

#4195 Fix typo in left joycon SL binding
  Ryujinx.Ava/UI/Windows/ControllerSettingsWindow.axaml
Labels: gui, fix

#3978 chore: Update tests dependencies
  Directory.Packages.props
  Ryujinx.Common/Memory/PartialUnmaps/PartialUnmapState.cs
  Ryujinx.Memory.Tests/Tests.cs
  Ryujinx.Memory/MemoryBlock.cs
  Ryujinx.Tests/Memory/PartialUnmaps.cs
Labels: miscellaneous, infra

#4192 misc: Use official names for NVDEC registers
  Ryujinx.Graphics.Host1x/ThiDevice.cs
  Ryujinx.Graphics.Nvdec/ApplicationId.cs
  Ryujinx.Graphics.Nvdec/FrameDecodedEventArgs.cs
  Ryujinx.Graphics.Nvdec/H264Decoder.cs
  Ryujinx.Graphics.Nvdec/NvdecDevice.cs
  Ryujinx.Graphics.Nvdec/NvdecRegisters.cs
  Ryujinx.Graphics.Nvdec/Vp8Decoder.cs
  Ryujinx.Graphics.Nvdec/Vp9Decoder.cs
Labels: enhancement, nvdec

#3999 Avalonia - Add source generator for locale items
  Directory.Packages.props
  Ryujinx.Ava/App.axaml.cs
  Ryujinx.Ava/AppHost.cs
  Ryujinx.Ava/Common/ApplicationHelper.cs
  Ryujinx.Ava/Common/Locale/LocaleExtension.cs
  Ryujinx.Ava/Common/Locale/LocaleManager.cs
  Ryujinx.Ava/Input/AvaloniaKeyboardDriver.cs
  Ryujinx.Ava/Modules/Updater/Updater.cs
  Ryujinx.Ava/Ryujinx.Ava.csproj
  Ryujinx.Ava/UI/Applet/AvaHostUiHandler.cs
  Ryujinx.Ava/UI/Applet/ErrorAppletWindow.axaml.cs
  Ryujinx.Ava/UI/Applet/SwkbdAppletDialog.axaml.cs
  Ryujinx.Ava/UI/Controls/InputDialog.axaml.cs
  Ryujinx.Ava/UI/Controls/NavigationDialogHost.axaml.cs
  Ryujinx.Ava/UI/Controls/ProfileImageSelectionDialog.axaml.cs
  Ryujinx.Ava/UI/Controls/SaveManager.axaml
  Ryujinx.Ava/UI/Controls/UserEditor.axaml.cs
  Ryujinx.Ava/UI/Helpers/ContentDialogHelper.cs
  Ryujinx.Ava/UI/Helpers/UserErrorDialog.cs
  Ryujinx.Ava/UI/Models/Generic/LastPlayedSortComparer.cs
  Ryujinx.Ava/UI/Models/SaveModel.cs
  Ryujinx.Ava/UI/Models/TitleUpdateModel.cs
  Ryujinx.Ava/UI/ViewModels/AmiiboWindowViewModel.cs
  Ryujinx.Ava/UI/ViewModels/ControllerSettingsViewModel.cs
  Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  Ryujinx.Ava/UI/ViewModels/SettingsViewModel.cs
  Ryujinx.Ava/UI/ViewModels/UserProfileViewModel.cs
  Ryujinx.Ava/UI/Windows/AboutWindow.axaml.cs
  Ryujinx.Ava/UI/Windows/AmiiboWindow.axaml.cs
  Ryujinx.Ava/UI/Windows/CheatWindow.axaml.cs
  Ryujinx.Ava/UI/Windows/ControllerSettingsWindow.axaml.cs
  Ryujinx.Ava/UI/Windows/DownloadableContentManagerWindow.axaml.cs
  Ryujinx.Ava/UI/Windows/MainWindow.axaml.cs
  Ryujinx.Ava/UI/Windows/MotionSettingsWindow.axaml.cs
  Ryujinx.Ava/UI/Windows/RumbleSettingsWindow.axaml.cs
  Ryujinx.Ava/UI/Windows/SettingsWindow.axaml.cs
  Ryujinx.Ava/UI/Windows/TitleUpdateWindow.axaml.cs
  Ryujinx.Ui.LocaleGenerator/LocaleGenerator.cs
  Ryujinx.Ui.LocaleGenerator/Ryujinx.Ui.LocaleGenerator.csproj
  Ryujinx.sln
Labels: enhancement, gui, miscellaneous

#3985 New Crowdin updates
  Ryujinx.Ava/Assets/Locales/de_DE.json
  Ryujinx.Ava/Assets/Locales/el_GR.json
  Ryujinx.Ava/Assets/Locales/es_ES.json
  Ryujinx.Ava/Assets/Locales/fr_FR.json
  Ryujinx.Ava/Assets/Locales/it_IT.json
  Ryujinx.Ava/Assets/Locales/ja_JP.json
  Ryujinx.Ava/Assets/Locales/ko_KR.json
  Ryujinx.Ava/Assets/Locales/pl_PL.json
  Ryujinx.Ava/Assets/Locales/pt_BR.json
  Ryujinx.Ava/Assets/Locales/ru_RU.json
  Ryujinx.Ava/Assets/Locales/tr_TR.json
  Ryujinx.Ava/Assets/Locales/uk_UA.json
  Ryujinx.Ava/Assets/Locales/zh_CN.json
  Ryujinx.Ava/Assets/Locales/zh_TW.json
Labels: enhancement, gui

#4157 Make PPTC state non-static
  ARMeilleure/Translation/ArmEmitterContext.cs
  ARMeilleure/Translation/PTC/IPtcLoadState.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  ARMeilleure/Translation/PTC/PtcProfiler.cs
  ARMeilleure/Translation/Translator.cs
  Ryujinx.Ava/AppHost.cs
  Ryujinx.Ava/Program.cs
  Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  Ryujinx.Cpu/ICpuContext.cs
  Ryujinx.Cpu/IDiskCacheState.cs
  Ryujinx.Cpu/Jit/JitCpuContext.cs
  Ryujinx.Cpu/Jit/JitDiskCacheLoadState.cs
  Ryujinx.Cpu/LoadState.cs
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.HLE/HOS/ArmProcessContext.cs
  Ryujinx.HLE/HOS/ArmProcessContextFactory.cs
  Ryujinx.HLE/HOS/ProgramLoader.cs
  Ryujinx.Headless.SDL2/Program.cs
  Ryujinx/Program.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/RendererWidgetBase.cs
Labels: cpu, enhancement

#4209 Misc: Remove duplicated entries and clean locale csproj
  Directory.Packages.props
  Ryujinx.Ui.LocaleGenerator/Ryujinx.Ui.LocaleGenerator.csproj
Labels: miscellaneous, fix

#4199 chore: Update Ryujinx.SDL2-CS to 2.26.1
  Directory.Packages.props
Labels: miscellaneous, needs-feedback, infra

#4177 Ava GUI: `SettingsWindow` Refactor
  Ryujinx.Ava/UI/ViewModels/SettingsViewModel.cs
  Ryujinx.Ava/UI/Views/Settings/SettingsAudioView.axaml
  Ryujinx.Ava/UI/Views/Settings/SettingsAudioView.axaml.cs
  Ryujinx.Ava/UI/Views/Settings/SettingsCPUView.axaml
  Ryujinx.Ava/UI/Views/Settings/SettingsCPUView.axaml.cs
  Ryujinx.Ava/UI/Views/Settings/SettingsGraphicsView.axaml
  Ryujinx.Ava/UI/Views/Settings/SettingsGraphicsView.axaml.cs
  Ryujinx.Ava/UI/Views/Settings/SettingsHotkeysView.axaml
  Ryujinx.Ava/UI/Views/Settings/SettingsHotkeysView.axaml.cs
  Ryujinx.Ava/UI/Views/Settings/SettingsInputView.axaml
  Ryujinx.Ava/UI/Views/Settings/SettingsInputView.axaml.cs
  Ryujinx.Ava/UI/Views/Settings/SettingsLoggingView.axaml
  Ryujinx.Ava/UI/Views/Settings/SettingsLoggingView.axaml.cs
  Ryujinx.Ava/UI/Views/Settings/SettingsNetworkView.axaml
  Ryujinx.Ava/UI/Views/Settings/SettingsNetworkView.axaml.cs
  Ryujinx.Ava/UI/Views/Settings/SettingsSystemView.axaml
  Ryujinx.Ava/UI/Views/Settings/SettingsSystemView.axaml.cs
  Ryujinx.Ava/UI/Views/Settings/SettingsUIView.axaml
  Ryujinx.Ava/UI/Views/Settings/SettingsUIView.axaml.cs
  Ryujinx.Ava/UI/Windows/SettingsWindow.axaml
  Ryujinx.Ava/UI/Windows/SettingsWindow.axaml.cs
Labels: enhancement, gui

#4215 [hipc] Fix 'Unexpected result code Success returned' in Reply()
  Ryujinx.Horizon.Common/Result.cs
  Ryujinx.Horizon/Sdk/Sf/Hipc/Api.cs
Labels: horizon, fix

#4196 Ava GUI: `AboutWindow` Refactor
  Ryujinx.Ava/UI/ViewModels/AboutWindowViewModel.cs
  Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  Ryujinx.Ava/UI/Windows/AboutWindow.axaml
  Ryujinx.Ava/UI/Windows/AboutWindow.axaml.cs
  Ryujinx.Ui.Common/Resources/Logo_Discord.png
  Ryujinx.Ui.Common/Resources/Logo_Discord_Dark.png
  Ryujinx.Ui.Common/Resources/Logo_Discord_Light.png
  Ryujinx.Ui.Common/Resources/Logo_GitHub.png
  Ryujinx.Ui.Common/Resources/Logo_GitHub_Dark.png
  Ryujinx.Ui.Common/Resources/Logo_GitHub_Light.png
  Ryujinx.Ui.Common/Resources/Logo_Patreon.png
  Ryujinx.Ui.Common/Resources/Logo_Patreon_Dark.png
  Ryujinx.Ui.Common/Resources/Logo_Patreon_Light.png
  Ryujinx.Ui.Common/Resources/Logo_Twitter.png
  Ryujinx.Ui.Common/Resources/Logo_Twitter_Dark.png
  Ryujinx.Ui.Common/Resources/Logo_Twitter_Light.png
  Ryujinx.Ui.Common/Ryujinx.Ui.Common.csproj
  Ryujinx/Ui/Windows/AboutWindow.Designer.cs
Labels: enhancement, gui

#4013 Include a start.sh file with correct launch options
  .github/workflows/release.yml
  Ryujinx.Ava/Modules/Updater/Updater.cs
  Ryujinx.Ava/Program.cs
  Ryujinx.Ava/Ryujinx.Ava.csproj
  Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  Ryujinx.Common/Logging/Targets/FileLogTarget.cs
  Ryujinx.Common/ReleaseInformation.cs
  Ryujinx.Headless.SDL2/Program.cs
  Ryujinx.SDL2.Common/SDL2Driver.cs
  Ryujinx.Ui.Common/Configuration/LoggerModule.cs
  Ryujinx/Modules/Updater/Updater.cs
  Ryujinx/Program.cs
  Ryujinx/Ryujinx.csproj
  Ryujinx/Ui/MainWindow.cs
  distribution/linux/Ryujinx.desktop
  distribution/linux/Ryujinx.sh
  distribution/linux/mime/Ryujinx.xml
  distribution/misc/Logo.svg
Labels: enhancement, os:linux

#4222 ava: Fix regression caused by #4013
  .github/workflows/build.yml
  .github/workflows/release.yml
  Ryujinx.Ava/Ryujinx.Ava.csproj
Labels: gui, fix

#4223 MainWindow: Vertically center SearchBox TextPresenter
  Ryujinx.Ava/UI/Windows/MainWindow.axaml
Labels: gui, fix

#4178 Ava GUI: `MainWindow` Refactor
  Ryujinx.Ava/AppHost.cs
  Ryujinx.Ava/Assets/Styles/Styles.xaml
  Ryujinx.Ava/Input/AvaloniaMouseDriver.cs
  Ryujinx.Ava/Modules/Updater/Updater.cs
  Ryujinx.Ava/UI/Applet/AvaHostUiHandler.cs
  Ryujinx.Ava/UI/Applet/AvaloniaDynamicTextInputHandler.cs
  Ryujinx.Ava/UI/Applet/AvaloniaHostUiTheme.cs
  Ryujinx.Ava/UI/ViewModels/ControllerSettingsViewModel.cs
  Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  Ryujinx.Ava/UI/Views/Main/MainMenuBarView.axaml
  Ryujinx.Ava/UI/Views/Main/MainMenuBarView.axaml.cs
  Ryujinx.Ava/UI/Views/Main/MainStatusBarView.axaml
  Ryujinx.Ava/UI/Views/Main/MainStatusBarView.axaml.cs
  Ryujinx.Ava/UI/Views/Main/MainViewControls.axaml
  Ryujinx.Ava/UI/Views/Main/MainViewControls.axaml.cs
  Ryujinx.Ava/UI/Windows/MainWindow.axaml
  Ryujinx.Ava/UI/Windows/MainWindow.axaml.cs
Labels: enhancement, gui

#4232 HIPC: Fix reply possibly also receiving one request
  Ryujinx.Horizon.Common/Result.cs
  Ryujinx.Horizon/Sdk/Sf/Hipc/Api.cs
Labels: horizon, fix

#4236 Ava GUI: Fix long selection bar broken in #4178
  Ryujinx.Ava/UI/Controls/GameGridView.axaml
  Ryujinx.Ava/UI/Controls/GameListView.axaml
Labels: gui, fix

#4231 Ava: Make Avalonia use our logging system
  Ryujinx.Ava/Helper/LoggerAdapter.cs
  Ryujinx.Ava/Program.cs
  Ryujinx.Common/Logging/LogClass.cs
Labels: enhancement, gui

#4237 ava: Fixes regressions from refactoring
  Ryujinx.Ava/UI/Controls/GameGridView.axaml.cs
  Ryujinx.Ava/UI/Controls/GameListView.axaml.cs
  Ryujinx.Ava/UI/Helpers/ContentDialogHelper.cs
  Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  Ryujinx.Ava/UI/Views/Main/MainMenuBarView.axaml.cs
  Ryujinx.Ava/UI/Views/Main/MainStatusBarView.axaml.cs
  Ryujinx.Ava/UI/Views/Main/MainViewControls.axaml.cs
  Ryujinx.Ava/UI/Windows/AboutWindow.axaml
  Ryujinx.Ava/UI/Windows/AboutWindow.axaml.cs
Labels: gui, fix

#4193 [Headless] Add missing arguments & Fix typos
  Ryujinx.Headless.SDL2/HideCursor.cs
  Ryujinx.Headless.SDL2/OpenGL/OpenGLWindow.cs
  Ryujinx.Headless.SDL2/Options.cs
  Ryujinx.Headless.SDL2/Program.cs
  Ryujinx.Headless.SDL2/Ryujinx.Headless.SDL2.csproj
  Ryujinx.Headless.SDL2/Ryujinx.bmp
  Ryujinx.Headless.SDL2/SDL2MouseDriver.cs
  Ryujinx.Headless.SDL2/Vulkan/VulkanWindow.cs
  Ryujinx.Headless.SDL2/WindowBase.cs
  Ryujinx.Input/HLE/NpadManager.cs
Labels: enhancement, miscellaneous

#4247 headless: Change window icon size to 48x48
  Ryujinx.Headless.SDL2/Ryujinx.bmp
Labels: miscellaneous

#4244 Replace tabs with spaces across the project
  Ryujinx.Ava/UI/Windows/AvatarWindow.axaml
  Ryujinx.HLE/HOS/Services/Settings/NxSettings.cs
  Ryujinx.Headless.SDL2/Ryujinx.Headless.SDL2.csproj
Labels: enhancement, miscellaneous

#4224 Linux: Add Avalonia detection to Ryujinx.sh
  .github/workflows/build.yml
  .github/workflows/release.yml
  distribution/linux/Ryujinx.sh
Labels: gui, fix

#4249 Fix linux packaging step for CI & Add headless build support to Ryujinx.sh
  .github/workflows/release.yml
  Ryujinx.Headless.SDL2/Ryujinx.Headless.SDL2.csproj
  distribution/linux/Ryujinx.sh
Labels: fix, infra

#4239 Add command line arguments to override docked mode
  Ryujinx.Ava/Program.cs
  Ryujinx.Ui.Common/Helper/CommandLineState.cs
  Ryujinx/Program.cs
Labels: gui

#4248 Ava: Add missing null check to ContentDialogHelper.ShowAsync()
  Ryujinx.Ava/UI/Helpers/ContentDialogHelper.cs
Labels: gui, fix

#4240 ava: Cleanup AppHost
  Ryujinx.Audio/Backends/CompatLayer/CompatLayerHardwareDeviceDriver.cs
  Ryujinx.Audio/Backends/Dummy/DummyHardwareDeviceDriver.cs
  Ryujinx.Audio/Integration/IHardwareDeviceDriver.cs
  Ryujinx.Ava/AppHost.cs
Labels: gui

#4253 misc: Enforce LF
  .gitattributes
Labels: miscellaneous, fix

#4242 Ava GUI: Fix Context Menu Locales
  Ryujinx.Ava/Assets/Locales/de_DE.json
  Ryujinx.Ava/Assets/Locales/el_GR.json
  Ryujinx.Ava/Assets/Locales/en_US.json
  Ryujinx.Ava/Assets/Locales/es_ES.json
  Ryujinx.Ava/Assets/Locales/fr_FR.json
  Ryujinx.Ava/Assets/Locales/it_IT.json
  Ryujinx.Ava/Assets/Locales/ja_JP.json
  Ryujinx.Ava/Assets/Locales/ko_KR.json
  Ryujinx.Ava/Assets/Locales/pl_PL.json
  Ryujinx.Ava/Assets/Locales/pt_BR.json
  Ryujinx.Ava/Assets/Locales/ru_RU.json
  Ryujinx.Ava/Assets/Locales/tr_TR.json
  Ryujinx.Ava/Assets/Locales/uk_UA.json
  Ryujinx.Ava/Assets/Locales/zh_CN.json
  Ryujinx.Ava/Assets/Locales/zh_TW.json
  Ryujinx.Ava/UI/Controls/GameGridView.axaml
  Ryujinx.Ava/UI/Controls/GameListView.axaml
Labels: fix

#4257 Set LSApplicationCategoryType to games
  distribution/macos/Info.plist
Labels: enhancement, miscellaneous

#4243 ava: Generate Locale menu automatically
  Ryujinx.Ava/Assets/Locales/de_DE.json
  Ryujinx.Ava/Assets/Locales/el_GR.json
  Ryujinx.Ava/Assets/Locales/en_US.json
  Ryujinx.Ava/Assets/Locales/es_ES.json
  Ryujinx.Ava/Assets/Locales/fr_FR.json
  Ryujinx.Ava/Assets/Locales/it_IT.json
  Ryujinx.Ava/Assets/Locales/ja_JP.json
  Ryujinx.Ava/Assets/Locales/ko_KR.json
  Ryujinx.Ava/Assets/Locales/pl_PL.json
  Ryujinx.Ava/Assets/Locales/pt_BR.json
  Ryujinx.Ava/Assets/Locales/ru_RU.json
  Ryujinx.Ava/Assets/Locales/tr_TR.json
  Ryujinx.Ava/Assets/Locales/uk_UA.json
  Ryujinx.Ava/Assets/Locales/zh_CN.json
  Ryujinx.Ava/Assets/Locales/zh_TW.json
  Ryujinx.Ava/Common/Locale/LocaleManager.cs
  Ryujinx.Ava/Ryujinx.Ava.csproj
  Ryujinx.Ava/UI/Views/Main/MainMenuBarView.axaml
  Ryujinx.Ava/UI/Views/Main/MainMenuBarView.axaml.cs
  Ryujinx.Common/Utilities/EmbeddedResources.cs
Labels: enhancement, gui

#4211 Remove textures from cache on unmap if not mapped and modified
  Ryujinx.Graphics.Gpu/Image/AutoDeleteCache.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
Labels: gpu, fix

#4265 Ava: Fixes Update count in heading
  Ryujinx.Ava/UI/Windows/TitleUpdateWindow.axaml.cs
Labels: gui, fix

#4271 Ava UI: Fixes PerformanceCheck condition
  Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
Labels: gui, fix

#4274 lm: Handle Tail flag in LogPacket
  Ryujinx.Horizon/LogManager/Ipc/LmLogger.cs
  Ryujinx.Horizon/LogManager/Types/LogPacket.cs
Labels: enhancement, service:lm

#4264 Arm64: Cpu feature detection
  ARMeilleure/CodeGen/Arm64/HardwareCapabilities.cs
  ARMeilleure/Instructions/InstEmitSimdArithmetic.cs
  ARMeilleure/Optimizations.cs
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu

#4272 Ptc: Check process architecture
  ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, enhancement

#4273 Ava UI: Settings Adjustments
  Ryujinx.Ava/Assets/Locales/en_US.json
  Ryujinx.Ava/Assets/Styles/BaseDark.xaml
  Ryujinx.Ava/Assets/Styles/BaseLight.xaml
  Ryujinx.Ava/Assets/Styles/Styles.xaml
  Ryujinx.Ava/UI/Views/Settings/SettingsLoggingView.axaml
  Ryujinx.Ava/UI/Views/Settings/SettingsSystemView.axaml
  Ryujinx.Ava/UI/Windows/SettingsWindow.axaml
Labels: gui, fix

#4268 Ava UI: Various Fixes
  Ryujinx.Ava/Assets/Styles/Styles.xaml
  Ryujinx.Ava/UI/Models/SaveModel.cs
  Ryujinx.Ava/UI/ViewModels/UserSaveManagerViewModel.cs
  Ryujinx.Ava/UI/Views/Main/MainViewControls.axaml
  Ryujinx.Ava/UI/Views/User/UserSaveManagerView.axaml
  Ryujinx.Ava/UI/Views/User/UserSaveManagerView.axaml.cs
Labels: gui, fix

#4270 Ava UI: Reorder settings of Resolution Scaler
  Ryujinx.Ava/UI/ViewModels/SettingsViewModel.cs
  Ryujinx.Ava/UI/Views/Settings/SettingsGraphicsView.axaml
Labels: gui, fix

#4202 Vulkan: Add workarounds for MoltenVK
  Ryujinx.Graphics.GAL/Capabilities.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/SpecializationStateUpdater.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdateTracker.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClass.cs
  Ryujinx.Graphics.Gpu/GpuChannel.cs
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheGpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  Ryujinx.Graphics.Gpu/Shader/GpuAccessorBase.cs
  Ryujinx.Graphics.Gpu/Shader/GpuChannelGraphicsState.cs
  Ryujinx.Graphics.Gpu/Shader/ShaderSpecializationState.cs
  Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/GlslGenerator.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/Declarations.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/Instructions.cs
  Ryujinx.Graphics.Shader/IGpuAccessor.cs
  Ryujinx.Graphics.Shader/Translation/AttributeInfo.cs
  Ryujinx.Graphics.Vulkan/FramebufferParams.cs
  Ryujinx.Graphics.Vulkan/HardwareCapabilities.cs
  Ryujinx.Graphics.Vulkan/HelperShader.cs
  Ryujinx.Graphics.Vulkan/MoltenVK/MVKConfiguration.cs
  Ryujinx.Graphics.Vulkan/MoltenVK/MVKInitialization.cs
  Ryujinx.Graphics.Vulkan/PipelineBase.cs
  Ryujinx.Graphics.Vulkan/PipelineFull.cs
  Ryujinx.Graphics.Vulkan/Shaders/ColorClearFFragmentShaderSource.frag
  Ryujinx.Graphics.Vulkan/Shaders/ColorClearSIFragmentShaderSource.frag
  Ryujinx.Graphics.Vulkan/Shaders/ColorClearUIFragmentShaderSource.frag
  Ryujinx.Graphics.Vulkan/Shaders/ShaderBinaries.cs
  Ryujinx.Graphics.Vulkan/TextureStorage.cs
  Ryujinx.Graphics.Vulkan/TextureView.cs
  Ryujinx.Graphics.Vulkan/Vendor.cs
  Ryujinx.Graphics.Vulkan/VertexBufferState.cs
  Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu

#4278 Prepo: Fix SaveSystemReport* IPC definitions
  Ryujinx.Horizon.Generators/Hipc/HipcGenerator.cs
  Ryujinx.Horizon/Prepo/Ipc/PrepoService.cs
  Ryujinx.Horizon/Sdk/Account/Uid.cs
  Ryujinx.Horizon/Sdk/Ncm/ApplicationId.cs
  Ryujinx.Horizon/Sdk/Prepo/IPrepoService.cs
  Ryujinx.Horizon/Sdk/Sm/ServiceName.cs
Labels: fix, service:prepo

#4228 Relax Vulkan requirements
  Ryujinx.Graphics.Vulkan/BufferManager.cs
  Ryujinx.Graphics.Vulkan/FramebufferParams.cs
  Ryujinx.Graphics.Vulkan/MemoryAllocator.cs
  Ryujinx.Graphics.Vulkan/PipelineBase.cs
  Ryujinx.Graphics.Vulkan/Vendor.cs
  Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
  Ryujinx.Graphics.Vulkan/Window.cs
Labels: enhancement, gpu

#4284 Fix texture modified on CPU from GPU thread after being modified on GPU not being updated
  Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
Labels: gpu, fix

#4285 Fix NRE when MemoryUnmappedHandler is called for a destroyed channel
  Ryujinx.Graphics.Gpu/GpuChannel.cs
Labels: gpu, fix

#4289 Fix texture flush from CPU WaitSync regression on OpenGL
  Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  Ryujinx.Graphics.Gpu/Image/TextureGroupHandle.cs
Labels: gpu, fix

#4291 Change GetPageSize to use Environment.SystemPageSize
  Ryujinx.Memory/MemoryBlock.cs
Labels: enhancement, miscellaneous

#4266 Ava UI: Fixes "Hide Cursor on Idle" for Windows
  Ryujinx.Ava/AppHost.cs
  Ryujinx.Ava/Input/AvaloniaMouseDriver.cs
  Ryujinx.Ava/UI/Helpers/EmbeddedWindow.cs
  Ryujinx.Ava/UI/Helpers/Win32NativeInterop.cs
  Ryujinx.Headless.SDL2/SDL2MouseDriver.cs
  Ryujinx/Ui/RendererWidgetBase.cs
Labels: gui, fix

#4256 Audren: Implement polyphase upsampler
  Ryujinx.Audio/Renderer/Dsp/Command/UpsampleCommand.cs
  Ryujinx.Audio/Renderer/Dsp/ResamplerHelper.cs
  Ryujinx.Audio/Renderer/Dsp/UpsamplerHelper.cs
  Ryujinx.Audio/Renderer/Server/Upsampler/UpsamplerBufferState.cs
  Ryujinx.Audio/Renderer/Server/Upsampler/UpsamplerState.cs
Labels: enhancement, service:audio

#4276 Ava UI: `TitleUpdateWindow` Refactor
  Ryujinx.Ava/Assets/Locales/en_US.json
  Ryujinx.Ava/UI/Models/TitleUpdateModel.cs
  Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  Ryujinx.Ava/UI/ViewModels/TitleUpdateViewModel.cs
  Ryujinx.Ava/UI/Views/User/UserSaveManagerView.axaml
  Ryujinx.Ava/UI/Windows/TitleUpdateWindow.axaml
  Ryujinx.Ava/UI/Windows/TitleUpdateWindow.axaml.cs
  Ryujinx.Ui.Common/Helper/OpenHelper.cs
Labels: enhancement, gui

#4210 Implement missing service calls in `pm`
  Ryujinx.HLE/HOS/Kernel/KernelStatic.cs
  Ryujinx.HLE/HOS/Services/Pm/IDebugMonitorInterface.cs
  Ryujinx.HLE/HOS/Services/Pm/IInformationInterface.cs
  Ryujinx.HLE/HOS/Services/Pm/ResultCode.cs
Labels: enhancement, service:pm

#4283 Specify image view usage flags on Vulkan
  Ryujinx.Graphics.Vulkan/TextureStorage.cs
  Ryujinx.Graphics.Vulkan/TextureView.cs
Labels: gpu, fix

#4294 UI: Fix applications times
  Ryujinx.Ui.Common/App/ApplicationLibrary.cs
Labels: enhancement, gui

#4297 Ava UI: `Renderer` refactoring
  Ryujinx.Ava/AppHost.cs
  Ryujinx.Ava/UI/Applet/AvaloniaDynamicTextInputHandler.cs
  Ryujinx.Ava/UI/Controls/RendererHost.axaml.cs
  Ryujinx.Ava/UI/Helpers/AvaloniaGlxContext.cs
  Ryujinx.Ava/UI/Helpers/AvaloniaWglContext.cs
  Ryujinx.Ava/UI/Helpers/EmbeddedWindow.cs
  Ryujinx.Ava/UI/Helpers/IGlContextExtension.cs
  Ryujinx.Ava/UI/Helpers/VulkanEmbeddedWindow.cs
  Ryujinx.Ava/UI/Renderer/EmbeddedWindow.cs
  Ryujinx.Ava/UI/Renderer/EmbeddedWindowOpenGL.cs
  Ryujinx.Ava/UI/Renderer/EmbeddedWindowVulkan.cs
  Ryujinx.Ava/UI/Renderer/OpenTKBindingsContext.cs
  Ryujinx.Ava/UI/Renderer/RendererHost.axaml
  Ryujinx.Ava/UI/Renderer/RendererHost.axaml.cs
  Ryujinx.Ava/UI/Renderer/SPBOpenGLContext.cs
  Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
Labels: enhancement, gui

#4303 Ava: Fix Linux Vulkan renderer regression
  Ryujinx.Ava/UI/Renderer/EmbeddedWindow.cs
  Ryujinx.Ava/UI/Renderer/RendererHost.axaml.cs
Labels: gui, fix, graphics-backend:vulkan, os:linux

#3754 Add short duration texture cache
  Ryujinx.Graphics.Gpu/Image/AutoDeleteCache.cs
  Ryujinx.Graphics.Gpu/Image/Pool.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  Ryujinx.Graphics.Gpu/Image/TextureDescriptor.cs
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
  Ryujinx.Graphics.Gpu/Window.cs
Labels: gpu, performance

#4302 Ava UI: Readd some infos to the GameList
  Ryujinx.Ava/UI/Controls/GameListView.axaml
Labels: gui, fix

#4252 Implement support for page sizes > 4KB
  ARMeilleure/Memory/IJitMemoryAllocator.cs
  ARMeilleure/Signal/NativeSignalHandler.cs
  ARMeilleure/Translation/Translator.cs
  Ryujinx.Cpu/AddressSpace.cs
  Ryujinx.Cpu/Jit/JitMemoryAllocator.cs
  Ryujinx.Cpu/Jit/MemoryManager.cs
  Ryujinx.Cpu/Jit/MemoryManagerHostMapped.cs
  Ryujinx.Cpu/PrivateMemoryAllocation.cs
  Ryujinx.Cpu/PrivateMemoryAllocator.cs
  Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  Ryujinx.Graphics.Gpu/Memory/Buffer.cs
  Ryujinx.Graphics.Gpu/Memory/PhysicalMemory.cs
  Ryujinx.HLE/HOS/Kernel/KernelContext.cs
  Ryujinx.HLE/HOS/Kernel/Memory/KMemoryRegionManager.cs
  Ryujinx.HLE/HOS/Kernel/Memory/KPageTable.cs
  Ryujinx.HLE/HOS/Kernel/Memory/KPageTableBase.cs
  Ryujinx.HLE/HOS/Kernel/Memory/KSharedMemory.cs
  Ryujinx.HLE/HOS/Kernel/Memory/SharedMemoryStorage.cs
  Ryujinx.Memory.Tests/MockVirtualMemoryManager.cs
  Ryujinx.Memory/AddressSpaceManager.cs
  Ryujinx.Memory/IVirtualMemoryManager.cs
  Ryujinx.Memory/MemoryBlock.cs
  Ryujinx.Memory/MemoryMapFlags.cs
  Ryujinx.Memory/Range/HostMemoryRange.cs
  Ryujinx.Memory/Tracking/MemoryTracking.cs
  Ryujinx.Memory/Tracking/MultiRegionHandle.cs
  Ryujinx.Memory/Tracking/RegionHandle.cs
  Ryujinx.Tests/Cpu/CpuTest.cs
  Ryujinx.Tests/Cpu/CpuTest32.cs
Labels: cpu, enhancement, gpu

#4299 ConfigurationState: Default to Vulkan on macOS
  Ryujinx.Ui.Common/Configuration/ConfigurationState.cs
Labels: enhancement, miscellaneous, os:macOS

#4307 CPU: Fix NRE when disposing AddressSpace with 4KB pages support
  Ryujinx.Cpu/AddressSpace.cs
Labels: fix

#4301 HOS: Load RomFs by pid
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
  Ryujinx.HLE/HOS/ApplicationLoader.cs
  Ryujinx.HLE/HOS/ProgramLoader.cs
  Ryujinx.HLE/HOS/Services/Fs/IFileSystemProxy.cs
Labels: horizon, fix

#3933 Optimize string memory usage. Use Spans and StringBuilders where possible
  ARMeilleure/Decoders/OpCodeTable.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  ARMeilleure/Translation/PTC/PtcProfiler.cs
  Ryujinx.Ava/UI/ViewModels/ControllerSettingsViewModel.cs
  Ryujinx.Common/Utilities/UInt128Utils.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenPacking.cs
  Ryujinx.Graphics.Shader/Decoders/InstTable.cs
  Ryujinx.HLE/FileSystem/VirtualFileSystem.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/InlineResponses.cs
  Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardRendererBase.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Ast/IntegerLiteral.cs
  Ryujinx.HLE/HOS/Diagnostics/Demangler/Demangler.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/Types/UserId.cs
  Ryujinx.HLE/HOS/Services/Sockets/Nsd/IManager.cs
  Ryujinx.Horizon.Generators/CodeGenerator.cs
  Ryujinx.Horizon.Kernel.Generators/Kernel/SyscallGenerator.cs
  Ryujinx/Ui/Windows/AmiiboWindow.cs
  Ryujinx/Ui/Windows/ControllerWindow.cs
Labels: enhancement

#4306 NativeSignalHandler: Fix write flag
  ARMeilleure/Signal/NativeSignalHandler.cs
Labels: cpu, fix

#4292 Vulkan: Explicitly enable precise occlusion queries
  Ryujinx.Graphics.Vulkan/HardwareCapabilities.cs
  Ryujinx.Graphics.Vulkan/PipelineFull.cs
  Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, fix

#3889 Vulkan: Destroy old swapchain on swapchain recreation
  Ryujinx.Graphics.Vulkan/Window.cs
Labels: gpu, fix, review/waiting-on-maintainers

#4269 Ava UI: Fixes and cleanup Updater
  Ryujinx.Ava/Modules/Updater/Updater.cs
  Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  Ryujinx.Ava/UI/Views/Main/MainMenuBarView.axaml.cs
  Ryujinx.Ava/UI/Windows/MainWindow.axaml.cs
Labels: gui, fix

#4321 Audio: Implement PCM24 output
  Ryujinx.Audio/Backends/CompatLayer/CompatLayerHardwareDeviceDriver.cs
  Ryujinx.Audio/Backends/CompatLayer/CompatLayerHardwareDeviceSession.cs
  Ryujinx.Audio/Renderer/Dsp/PcmHelper.cs
Labels: enhancement, audio

#4317 Ava UI: Add Control+Cmd+F HotKey for Mac OS
  Ryujinx.Ava/UI/Windows/MainWindow.axaml
  Ryujinx.Ava/UI/Windows/MainWindow.axaml.cs
Labels: gui, fix, os:macOS

#3393 Catch Profile.json parse to prevent crash on launch
  Ryujinx.HLE/HOS/Services/Account/Acc/AccountSaveDataManager.cs
Labels: horizon, fix

#4305 Ava UI: Fix `string.Format` issues in Locale
  Ryujinx.Ava/AppHost.cs
  Ryujinx.Ava/Assets/Locales/de_DE.json
  Ryujinx.Ava/Assets/Locales/el_GR.json
  Ryujinx.Ava/Assets/Locales/en_US.json
  Ryujinx.Ava/Assets/Locales/es_ES.json
  Ryujinx.Ava/Assets/Locales/fr_FR.json
  Ryujinx.Ava/Assets/Locales/it_IT.json
  Ryujinx.Ava/Assets/Locales/ja_JP.json
  Ryujinx.Ava/Assets/Locales/ko_KR.json
  Ryujinx.Ava/Assets/Locales/pl_PL.json
  Ryujinx.Ava/Assets/Locales/pt_BR.json
  Ryujinx.Ava/Assets/Locales/ru_RU.json
  Ryujinx.Ava/Assets/Locales/tr_TR.json
  Ryujinx.Ava/Assets/Locales/uk_UA.json
  Ryujinx.Ava/Assets/Locales/zh_CN.json
  Ryujinx.Ava/Assets/Locales/zh_TW.json
  Ryujinx.Ava/Common/ApplicationHelper.cs
  Ryujinx.Ava/Common/Locale/LocaleExtension.cs
  Ryujinx.Ava/Common/Locale/LocaleManager.cs
  Ryujinx.Ava/Modules/Updater/Updater.cs
  Ryujinx.Ava/UI/Applet/AvaHostUiHandler.cs
  Ryujinx.Ava/UI/Applet/SwkbdAppletDialog.axaml.cs
  Ryujinx.Ava/UI/Helpers/UserErrorDialog.cs
  Ryujinx.Ava/UI/Models/TitleUpdateModel.cs
  Ryujinx.Ava/UI/ViewModels/AboutWindowViewModel.cs
  Ryujinx.Ava/UI/ViewModels/ControllerSettingsViewModel.cs
  Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  Ryujinx.Ava/UI/ViewModels/TitleUpdateViewModel.cs
  Ryujinx.Ava/UI/ViewModels/UserSaveManagerViewModel.cs
  Ryujinx.Ava/UI/Windows/CheatWindow.axaml.cs
  Ryujinx.Ava/UI/Windows/DownloadableContentManagerWindow.axaml.cs
  Ryujinx.Ava/UI/Windows/MainWindow.axaml.cs
  Ryujinx.Ava/UI/Windows/TitleUpdateWindow.axaml.cs
Labels: gui, fix

#4275 Ava UI: Add Notifications and Cleanup
  Ryujinx.Ava/Common/ApplicationHelper.cs
  Ryujinx.Ava/UI/Controls/GameGridView.axaml
  Ryujinx.Ava/UI/Controls/GameGridView.axaml.cs
  Ryujinx.Ava/UI/Controls/GameListView.axaml
  Ryujinx.Ava/UI/Controls/GameListView.axaml.cs
  Ryujinx.Ava/UI/Helpers/NotificationHelper.cs
  Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  Ryujinx.Ava/UI/Windows/MainWindow.axaml.cs
Labels: gui, fix

#4318 Implement CSET and CSETP shader instructions
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Shader/Decoders/InstDecoders.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmit.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitConditionCode.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitFlowControl.cs
  Ryujinx.Graphics.Shader/Instructions/InstEmitIntegerComparison.cs
Labels: gpu, fix

#4327 Use volatile read/writes for GAL threading
  Ryujinx.Graphics.GAL/Multithreading/ThreadedRenderer.cs
Labels: gpu, fix

#4326 Ava UI: Various Fixes
  Ryujinx.Ava/AppHost.cs
  Ryujinx.Ava/UI/Renderer/EmbeddedWindow.cs
  Ryujinx.Ava/UI/ViewModels/TitleUpdateViewModel.cs
  Ryujinx.Ava/UI/Windows/TitleUpdateWindow.axaml.cs
Labels: gui, fix

#2860 Allow setting texture data from 1x to fix some textures resetting randomly
  Ryujinx.Graphics.Gpu/Engine/Twod/TwodClass.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
Labels: gpu, fix

#4320 AvaloniaKeyboardDriver: Swallow TextInput events to avoid bell on macOS
  Ryujinx.Ava/Input/AvaloniaKeyboardDriver.cs
Labels: gui, fix

#4328 Arm64: Simplify TryEncodeBitMask and use for constants
  ARMeilleure/ARMeilleure.csproj
  ARMeilleure/CodeGen/Arm64/CodeGenCommon.cs
  ARMeilleure/CodeGen/Arm64/CodeGenerator.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  Ryujinx.Tests/Cpu/Arm64CodeGenCommonTests.cs
Labels: cpu, performance

#4309 Handle parsing of corrupt Config.json and prevent crash on launch
  Ryujinx.Ui.Common/Configuration/ConfigurationFileFormat.cs
Labels: gui, fix

#4250 GUI: Add option to register file types
  .gitignore
  Ryujinx.Ava/Assets/Locales/en_US.json
  Ryujinx.Ava/Program.cs
  Ryujinx.Ava/UI/ViewModels/MainWindowViewModel.cs
  Ryujinx.Ava/UI/Views/Main/MainMenuBarView.axaml
  Ryujinx.Ava/UI/Views/Main/MainMenuBarView.axaml.cs
  Ryujinx.Ui.Common/Helper/FileAssociationHelper.cs
  Ryujinx/Program.cs
  Ryujinx/Ui/MainWindow.cs
  Ryujinx/Ui/MainWindow.glade
Labels: gui

#4336 SPIR-V: Change BitfieldExtract and BitfieldInsert for SPIRV-Cross
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Shader/CodeGen/Spirv/Instructions.cs
Labels: gpu, fix, os:macOS

#4337 Remove use of GetFunctionPointerForDelegate to get JIT cache function pointer
  ARMeilleure/CodeGen/CompiledFunction.cs
  ARMeilleure/Instructions/NativeInterface.cs
  ARMeilleure/Translation/PTC/Ptc.cs
  ARMeilleure/Translation/TranslatedFunction.cs
  ARMeilleure/Translation/Translator.cs
Labels: cpu, enhancement

#4329 Vulkan: Reset queries on same command buffer
  Ryujinx.Graphics.Vulkan/AutoFlushCounter.cs
  Ryujinx.Graphics.Vulkan/PipelineBase.cs
  Ryujinx.Graphics.Vulkan/PipelineFull.cs
  Ryujinx.Graphics.Vulkan/Queries/BufferedQuery.cs
  Ryujinx.Graphics.Vulkan/Queries/CounterQueue.cs
  Ryujinx.Graphics.Vulkan/Queries/CounterQueueEvent.cs
  Ryujinx.Graphics.Vulkan/Queries/Counters.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
  Ryujinx.Graphics.Vulkan/Window.cs
Labels: gpu, fix

#4282 Relax Vulkan requirements
  Ryujinx.Graphics.Vulkan/BufferManager.cs
  Ryujinx.Graphics.Vulkan/FramebufferParams.cs
  Ryujinx.Graphics.Vulkan/HardwareCapabilities.cs
  Ryujinx.Graphics.Vulkan/MemoryAllocator.cs
  Ryujinx.Graphics.Vulkan/PipelineBase.cs
  Ryujinx.Graphics.Vulkan/PipelineConverter.cs
  Ryujinx.Graphics.Vulkan/Queries/BufferedQuery.cs
  Ryujinx.Graphics.Vulkan/Vendor.cs
  Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
  Ryujinx.Graphics.Vulkan/Window.cs
Labels: enhancement, gpu

#4068 converts the templates into forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/missing_cpu_instruction.md
  .github/ISSUE_TEMPLATE/missing_cpu_instruction.yml
  .github/ISSUE_TEMPLATE/missing_service_call.md
  .github/ISSUE_TEMPLATE/missing_service_call.yml
Labels: enhancement, infra, review/waiting-on-author

#4332 Initial Apple Hypervisor based CPU emulation
  Ryujinx.Ava/AppHost.cs
  Ryujinx.Ava/Assets/Locales/en_US.json
  Ryujinx.Ava/Ryujinx.Ava.csproj
  Ryujinx.Ava/UI/ViewModels/SettingsViewModel.cs
  Ryujinx.Ava/UI/Views/Settings/SettingsCPUView.axaml
  Ryujinx.Cpu/AppleHv/Arm/ApFlags.cs
  Ryujinx.Cpu/AppleHv/Arm/ExceptionClass.cs
  Ryujinx.Cpu/AppleHv/DummyDiskCacheLoadState.cs
  Ryujinx.Cpu/AppleHv/HvAddressSpace.cs
  Ryujinx.Cpu/AppleHv/HvAddressSpaceRange.cs
  Ryujinx.Cpu/AppleHv/HvApi.cs
  Ryujinx.Cpu/AppleHv/HvCpuContext.cs
  Ryujinx.Cpu/AppleHv/HvEngine.cs
  Ryujinx.Cpu/AppleHv/HvExecutionContext.cs
  Ryujinx.Cpu/AppleHv/HvExecutionContextShadow.cs
  Ryujinx.Cpu/AppleHv/HvExecutionContextVcpu.cs
  Ryujinx.Cpu/AppleHv/HvIpaAllocator.cs
  Ryujinx.Cpu/AppleHv/HvMemoryBlockAllocation.cs
  Ryujinx.Cpu/AppleHv/HvMemoryBlockAllocator.cs
  Ryujinx.Cpu/AppleHv/HvMemoryManager.cs
  Ryujinx.Cpu/AppleHv/HvVcpu.cs
  Ryujinx.Cpu/AppleHv/HvVcpuPool.cs
  Ryujinx.Cpu/AppleHv/HvVm.cs
  Ryujinx.Cpu/AppleHv/IHvExecutionContext.cs
  Ryujinx.HLE/HLEConfiguration.cs
  Ryujinx.HLE/HOS/ArmProcessContextFactory.cs
  Ryujinx.HLE/HOS/Horizon.cs
  Ryujinx.HLE/HOS/ProgramLoader.cs
  Ryujinx.Headless.SDL2/Options.cs
  Ryujinx.Headless.SDL2/Program.cs
  Ryujinx.Ui.Common/Configuration/ConfigurationFileFormat.cs
  Ryujinx.Ui.Common/Configuration/ConfigurationState.cs
  Ryujinx/Ui/MainWindow.cs
Labels: cpu, performance, os:macOS
