Repository Ryujinx/Ryujinx, pull requests merged in 2023-02, with the labels that each got.

#4359 Implement Account LoadOpenContext
  Ryujinx.HLE/HOS/Services/Account/Acc/IAccountServiceForApplication.cs
Labels: fix, service-implementation, service:account

#4369 Insert bitcast for assignment of fragment integer outputs on GLSL
  Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  Ryujinx.Graphics.Shader/CodeGen/Glsl/OperandManager.cs
Labels: gpu, fix, graphics-backend:opengl

#4356 Implement safe depth-stencil blit using stencil export extension
  Ryujinx.Graphics.Vulkan/FramebufferParams.cs
  Ryujinx.Graphics.Vulkan/HardwareCapabilities.cs
  Ryujinx.Graphics.Vulkan/HelperShader.cs
  Ryujinx.Graphics.Vulkan/Shaders/DepthBlitFragmentShaderSource.frag
  Ryujinx.Graphics.Vulkan/Shaders/ShaderBinaries.cs
  Ryujinx.Graphics.Vulkan/Shaders/StencilBlitFragmentShaderSource.frag
  Ryujinx.Graphics.Vulkan/TextureView.cs
  Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
  Ryujinx.Graphics.Vulkan/Window.cs
Labels: gpu, fix, graphics-backend:vulkan, graphics-vendor:amd

#4351 Accelerate NVDEC VIC surface read/write and colorspace conversion with Arm64 HW intrinsics
  Ryujinx.Graphics.Vic/Blender.cs
  Ryujinx.Graphics.Vic/Image/SurfaceReader.cs
  Ryujinx.Graphics.Vic/Image/SurfaceWriter.cs
Labels: performance, nvdec

#4374 Support safe blit on non-2D textures
  Ryujinx.Graphics.Vulkan/HelperShader.cs
  Ryujinx.Graphics.Vulkan/Shaders/ColorBlitMsFragmentShaderSource.frag
  Ryujinx.Graphics.Vulkan/Shaders/DepthBlitMsFragmentShaderSource.frag
  Ryujinx.Graphics.Vulkan/Shaders/ShaderBinaries.cs
  Ryujinx.Graphics.Vulkan/Shaders/StencilBlitMsFragmentShaderSource.frag
  Ryujinx.Graphics.Vulkan/TextureView.cs
  Ryujinx.Graphics.Vulkan/Window.cs
Labels: gpu, fix, graphics-vendor:amd

#4379 Ava: Add ChangeVSyncMode() call to render loop
  Ryujinx.Ava/AppHost.cs
Labels: gui, fix

#4364 Handle mismatching texture size with copy dependencies
  Ryujinx.Graphics.Gpu/Engine/Threed/DrawManager.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/RenderTargetUpdateFlags.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClass.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
  Ryujinx.Graphics.Gpu/Image/TextureInfo.cs
  Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  Ryujinx.Graphics.Gpu/Image/TexturePool.cs
  Ryujinx.Graphics.Gpu/Image/TextureSearchFlags.cs
  Ryujinx.Graphics.Gpu/Window.cs
Labels: gpu, fix

#4350 Limit texture cache based on total texture size
  Ryujinx.Graphics.Gpu/Image/AutoDeleteCache.cs
  Ryujinx.Graphics.Gpu/Image/Texture.cs
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
Labels: gpu, fix

#4357 Fix some Vulkan validation errors
  Ryujinx.Graphics.Vulkan/PipelineConverter.cs
  Ryujinx.Graphics.Vulkan/PipelineFull.cs
  Ryujinx.Graphics.Vulkan/Queries/BufferedQuery.cs
  Ryujinx.Graphics.Vulkan/TextureView.cs
Labels: gpu, fix, graphics-backend:vulkan

#4382 Replace BitConverter.ToString(bytes).Replace("-", "") with Convert.ToHexString(bytes)
  Ryujinx.HLE/FileSystem/ContentManager.cs
  Ryujinx.HLE/HOS/ModLoader.cs
  Ryujinx.HLE/HOS/Services/Account/Acc/AccountService/ManagerServer.cs
  Ryujinx.HLE/HOS/Services/Caps/CaptureManager.cs
Labels: enhancement, miscellaneous

#4383 Misc: Update issues form
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/missing_cpu_instruction.yml
  .github/ISSUE_TEMPLATE/missing_service_call.yml
Labels: enhancement, miscellaneous

#4387 Vulkan: Flush command buffers for queries less aggressively
  Ryujinx.Graphics.Vulkan/AutoFlushCounter.cs
  Ryujinx.Graphics.Vulkan/PipelineFull.cs
Labels: gpu, performance

#2617 Log shader compile errors with Warning level
  Ryujinx.Graphics.OpenGL/Program.cs
Labels: enhancement, gpu

#4286 `ObjectiveC` Helper Class
  Ryujinx.Ava/UI/Helpers/MetalHelper.cs
  Ryujinx.Ava/UI/Renderer/EmbeddedWindow.cs
  Ryujinx.Ui.Common/Helper/ObjectiveC.cs
  Ryujinx.Ui.Common/Helper/OpenHelper.cs
Labels: enhancement, miscellaneous, review/waiting-on-author

#4389 Fix SPIR-V when all inputs/outputs are indexed
  Ryujinx.Graphics.Shader/CodeGen/Spirv/Declarations.cs
Labels: gpu, fix

#4377 Better filtering of invalid NPadIds when games request unknown supported players
  Ryujinx.HLE/HOS/Services/Hid/HidServer/HidUtils.cs
  Ryujinx.HLE/HOS/Services/Hid/IHidServer.cs
Labels: fix, service:hid

#4401 Fix partial updates for textures.
  Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  Ryujinx.Graphics.Vulkan/TextureView.cs
Labels: gpu, fix

#4406 vulkan: Do not call vkCmdSetViewport when viewportCount is 0
  Ryujinx.Graphics.Vulkan/PipelineBase.cs
  Ryujinx.Graphics.Vulkan/PipelineDynamicState.cs
Labels: gpu, miscellaneous, fix, graphics-backend:vulkan

#4418 vulkan: Clean up MemoryAllocator
  Ryujinx.Graphics.Vulkan/BufferManager.cs
  Ryujinx.Graphics.Vulkan/MemoryAllocator.cs
  Ryujinx.Graphics.Vulkan/TextureStorage.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, miscellaneous, graphics-backend:vulkan

#4419 vulkan: Respect VK_KHR_portability_subset vertex stride alignment
  Ryujinx.Graphics.Vulkan/HardwareCapabilities.cs
  Ryujinx.Graphics.Vulkan/PipelineBase.cs
  Ryujinx.Graphics.Vulkan/PipelineConverter.cs
  Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, miscellaneous, graphics-backend:vulkan, os:macOS

#4315 GUI: Small Updater refactor & Set correct permissions on Linux when extracting files
  Ryujinx.Ava/Modules/Updater/Updater.cs
  Ryujinx/Modules/Updater/Updater.cs
Labels: gui, fix

#4430 Validate dimensions before creating texture
  Ryujinx.Graphics.Gpu/Image/TextureCache.cs
Labels: gpu, fix

#4125 Clear CPU side data on GPU buffer clears
  ARMeilleure/Memory/IMemoryManager.cs
  ARMeilleure/Signal/NativeSignalHandler.cs
  Ryujinx.Cpu/AppleHv/HvMemoryManager.cs
  Ryujinx.Cpu/IVirtualMemoryManagerTracked.cs
  Ryujinx.Cpu/Jit/MemoryManager.cs
  Ryujinx.Cpu/Jit/MemoryManagerHostMapped.cs
  Ryujinx.Cpu/MemoryEhMeilleure.cs
  Ryujinx.Graphics.Gpu/Image/Pool.cs
  Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  Ryujinx.Graphics.Gpu/Memory/Buffer.cs
  Ryujinx.Graphics.Gpu/Memory/BufferCache.cs
  Ryujinx.Graphics.Gpu/Memory/PhysicalMemory.cs
  Ryujinx.Graphics.Gpu/Memory/ResourceKind.cs
  Ryujinx.Memory.Tests/MockVirtualMemoryManager.cs
  Ryujinx.Memory.Tests/MultiRegionTrackingTests.cs
  Ryujinx.Memory.Tests/TrackingTests.cs
  Ryujinx.Memory/AddressSpaceManager.cs
  Ryujinx.Memory/IVirtualMemoryManager.cs
  Ryujinx.Memory/Tracking/AbstractRegion.cs
  Ryujinx.Memory/Tracking/MemoryTracking.cs
  Ryujinx.Memory/Tracking/MultiRegionHandle.cs
  Ryujinx.Memory/Tracking/RegionHandle.cs
  Ryujinx.Memory/Tracking/SmartMultiRegionHandle.cs
  Ryujinx.Memory/Tracking/VirtualRegion.cs
  Ryujinx.Tests/Memory/MockMemoryManager.cs
Labels: gpu, fix

#2801 Add support for advanced blend (part 1/2)
  Ryujinx.Graphics.GAL/AdvancedBlendDescriptor.cs
  Ryujinx.Graphics.GAL/AdvancedBlendOp.cs
  Ryujinx.Graphics.GAL/AdvancedBlendOverlap.cs
  Ryujinx.Graphics.GAL/Capabilities.cs
  Ryujinx.Graphics.GAL/IPipeline.cs
  Ryujinx.Graphics.GAL/Multithreading/CommandHelper.cs
  Ryujinx.Graphics.GAL/Multithreading/CommandType.cs
  Ryujinx.Graphics.GAL/Multithreading/Commands/SetBlendStateAdvancedCommand.cs
  Ryujinx.Graphics.GAL/Multithreading/ThreadedPipeline.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/Blender/AdvancedBlendFunctions.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/Blender/AdvancedBlendManager.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/Blender/AdvancedBlendPreGenTable.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/Blender/AdvancedBlendUcode.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/Blender/UcodeAssembler.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClass.cs
  Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClassState.cs
  Ryujinx.Graphics.OpenGL/EnumConversion.cs
  Ryujinx.Graphics.OpenGL/HwCapabilities.cs
  Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  Ryujinx.Graphics.OpenGL/Pipeline.cs
  Ryujinx.Graphics.Vulkan/EnumConversion.cs
  Ryujinx.Graphics.Vulkan/HardwareCapabilities.cs
  Ryujinx.Graphics.Vulkan/PipelineBase.cs
  Ryujinx.Graphics.Vulkan/PipelineState.cs
  Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: enhancement, gpu

#4449 Mark texture as modified and sync on I2M fast path
  Ryujinx.Graphics.Gpu/Engine/InlineToMemory/InlineToMemoryClass.cs
Labels: gpu, fix

#4451 Memory: Faster Split for NonOverlappingRangeList
  Ryujinx.Memory/Range/NonOverlappingRangeList.cs
  Ryujinx.Memory/Range/RangeList.cs
Labels: performance

#4410 Use SIMD acceleration for audio upsampler
  Ryujinx.Audio/Renderer/Dsp/ResamplerHelper.cs
  Ryujinx.Audio/Renderer/Dsp/UpsamplerHelper.cs
  Ryujinx.Tests/Audio/Renderer/Dsp/ResamplerTests.cs
  Ryujinx.Tests/Audio/Renderer/Dsp/UpsamplerTests.cs
Labels: audio, performance

#4296 Move Ryujinx Folder from ~/.config to ~/Library/Application Support on macOS
  Ryujinx.Common/Configuration/AppDataManager.cs
Labels: enhancement, miscellaneous

#4460 misc: changes base application directory behaviour
  Ryujinx.Common/ReleaseInformation.cs
Labels: miscellaneous, infra

#4380 Add copy dependency for some incompatible texture formats
  Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
  Ryujinx.Graphics.OpenGL/Image/TextureCopyIncompatible.cs
  Ryujinx.Graphics.OpenGL/Image/TextureView.cs
  Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  Ryujinx.Graphics.Vulkan/HelperShader.cs
  Ryujinx.Graphics.Vulkan/Shaders/ColorCopyShorteningComputeShaderSource.comp
  Ryujinx.Graphics.Vulkan/Shaders/ColorCopyWideningComputeShaderSource.comp
  Ryujinx.Graphics.Vulkan/Shaders/ShaderBinaries.cs
  Ryujinx.Graphics.Vulkan/TextureView.cs
Labels: gpu, fix

#4452 Ava UI: Fix Title Update Manager not selecting right update
  Ryujinx.Ava/UI/ViewModels/TitleUpdateViewModel.cs
Labels: gui, fix

#4467 Account for multisample when calculating render target size hint
  Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
Labels: gpu, fix

#4438 Perform bounds checking before list indexer to avoid frequent exceptions
  Ryujinx.Graphics.Vulkan/IdList.cs
Labels: gpu, performance

#4478 chore: Update OpenTK to 4.7.7
  Directory.Packages.props
Labels: miscellaneous, infra

#4464 macos: Add updater support
  Ryujinx.Ava/Modules/Updater/Updater.cs
  distribution/macos/create_app_bundle.sh
  distribution/macos/create_macos_release.sh
  distribution/macos/updater.sh
Labels: gui, miscellaneous, infra

#4427 Logging: Redirect StdErr into logging system
  Directory.Packages.props
  Ryujinx.Common/Logging/Logger.cs
  Ryujinx.Common/SystemInterop/StdErrAdapter.cs
  Ryujinx.Common/SystemInterop/UnixStream.cs
Labels: enhancement, miscellaneous

#4483 Vulkan: Support list topology primitive restart
  Ryujinx.Graphics.Vulkan/HardwareCapabilities.cs
  Ryujinx.Graphics.Vulkan/PipelineState.cs
  Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
  Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, fix

#3616 Add Support for Post Processing Effects
  Ryujinx.Ava/AppHost.cs
  Ryujinx.Ava/Assets/Locales/en_US.json
  Ryujinx.Ava/UI/ViewModels/SettingsViewModel.cs
  Ryujinx.Ava/UI/Views/Settings/SettingsGraphicsView.axaml
  Ryujinx.Common/Configuration/AntiAliasing.cs
  Ryujinx.Common/Configuration/ScalingFilter.cs
  Ryujinx.Graphics.GAL/AntiAliasing.cs
  Ryujinx.Graphics.GAL/IWindow.cs
  Ryujinx.Graphics.GAL/Multithreading/ThreadedWindow.cs
  Ryujinx.Graphics.GAL/UpscaleType.cs
  Ryujinx.Graphics.OpenGL/Effects/FsrScalingFilter.cs
  Ryujinx.Graphics.OpenGL/Effects/FxaaPostProcessingEffect.cs
  Ryujinx.Graphics.OpenGL/Effects/IPostProcessingEffect.cs
  Ryujinx.Graphics.OpenGL/Effects/IScalingFilter.cs
  Ryujinx.Graphics.OpenGL/Effects/ShaderHelper.cs
  Ryujinx.Graphics.OpenGL/Effects/Shaders/ffx_a.h
  Ryujinx.Graphics.OpenGL/Effects/Shaders/ffx_fsr1.h
  Ryujinx.Graphics.OpenGL/Effects/Shaders/fsr_scaling.glsl
  Ryujinx.Graphics.OpenGL/Effects/Shaders/fsr_sharpening.glsl
  Ryujinx.Graphics.OpenGL/Effects/Shaders/fxaa.glsl
  Ryujinx.Graphics.OpenGL/Effects/Shaders/smaa.hlsl
  Ryujinx.Graphics.OpenGL/Effects/Shaders/smaa_blend.glsl
  Ryujinx.Graphics.OpenGL/Effects/Shaders/smaa_edge.glsl
  Ryujinx.Graphics.OpenGL/Effects/Shaders/smaa_neighbour.glsl
  Ryujinx.Graphics.OpenGL/Effects/SmaaPostProcessingEffect.cs
  Ryujinx.Graphics.OpenGL/Effects/Textures/SmaaAreaTexture.bin
  Ryujinx.Graphics.OpenGL/Effects/Textures/SmaaSearchTexture.bin
  Ryujinx.Graphics.OpenGL/Ryujinx.Graphics.OpenGL.csproj
  Ryujinx.Graphics.OpenGL/Window.cs
  Ryujinx.Graphics.Vulkan/DescriptorSetUpdater.cs
  Ryujinx.Graphics.Vulkan/Effects/FsrScalingFilter.cs
  Ryujinx.Graphics.Vulkan/Effects/FxaaPostProcessingEffect.cs
  Ryujinx.Graphics.Vulkan/Effects/IPostProcessingEffect.cs
  Ryujinx.Graphics.Vulkan/Effects/IScalingFilter.cs
  Ryujinx.Graphics.Vulkan/Effects/Shaders/FsrScaling.glsl
  Ryujinx.Graphics.Vulkan/Effects/Shaders/FsrScaling.spv
  Ryujinx.Graphics.Vulkan/Effects/Shaders/FsrSharpening.glsl
  Ryujinx.Graphics.Vulkan/Effects/Shaders/FsrSharpening.spv
  Ryujinx.Graphics.Vulkan/Effects/Shaders/Fxaa.glsl
  Ryujinx.Graphics.Vulkan/Effects/Shaders/Fxaa.spv
  Ryujinx.Graphics.Vulkan/Effects/Shaders/SmaaBlend.glsl
  Ryujinx.Graphics.Vulkan/Effects/Shaders/SmaaBlend.spv
  Ryujinx.Graphics.Vulkan/Effects/Shaders/SmaaEdge.glsl
  Ryujinx.Graphics.Vulkan/Effects/Shaders/SmaaEdge.spv
  Ryujinx.Graphics.Vulkan/Effects/Shaders/SmaaNeighbour.glsl
  Ryujinx.Graphics.Vulkan/Effects/Shaders/SmaaNeighbour.spv
  Ryujinx.Graphics.Vulkan/Effects/SmaaConstants.cs
  Ryujinx.Graphics.Vulkan/Effects/SmaaPostProcessingEffect.cs
  Ryujinx.Graphics.Vulkan/Effects/Textures/SmaaAreaTexture.bin
  Ryujinx.Graphics.Vulkan/Effects/Textures/SmaaSearchTexture.bin
  Ryujinx.Graphics.Vulkan/NativeArray.cs
  Ryujinx.Graphics.Vulkan/PipelineBase.cs
  Ryujinx.Graphics.Vulkan/Ryujinx.Graphics.Vulkan.csproj
  Ryujinx.Graphics.Vulkan/Window.cs
  Ryujinx.Graphics.Vulkan/WindowBase.cs
  Ryujinx.Ui.Common/Configuration/ConfigurationFileFormat.cs
  Ryujinx.Ui.Common/Configuration/ConfigurationState.cs
  Ryujinx/Ui/RendererWidgetBase.cs
  Ryujinx/Ui/Windows/SettingsWindow.cs
  Ryujinx/Ui/Windows/SettingsWindow.glade
Labels: enhancement, gpu

#4491 Sockets: Properly convert error codes on MacOS
  Ryujinx.HLE/HOS/Services/Nifm/StaticService/Types/IpAddressSetting.cs
  Ryujinx.HLE/HOS/Services/Sockets/Bsd/Impl/WinSockHelper.cs
Labels: fix, service:sockets, os:macOS
