Repository Ryujinx/Ryujinx, pull requests merged in 2024-07, with the labels that each got.

#7003 Force Vulkan swapchain re-creation when window size changes
  src/Ryujinx.Graphics.Vulkan/Window.cs
Labels: gpu, fix, graphics-backend:vulkan, graphics-vendor:qualcomm

#7002 Disable descriptor set template updates for buffer textures on Adreno
  src/Ryujinx.Graphics.Vulkan/DescriptorSetUpdater.cs
  src/Ryujinx.Graphics.Vulkan/PipelineBase.cs
  src/Ryujinx.Graphics.Vulkan/ShaderCollection.cs
Labels: gpu, fix, graphics-backend:vulkan, graphics-vendor:qualcomm

#7007 Force dynamic state update after rasterizer discard disable on Adreno
  src/Ryujinx.Graphics.Vulkan/PipelineBase.cs
Labels: gpu, fix, graphics-backend:vulkan, graphics-vendor:qualcomm

#7013 Use draw clear on Adreno, instead of vkCmdClearAttachments
  src/Ryujinx.Graphics.Vulkan/BackgroundResources.cs
  src/Ryujinx.Graphics.Vulkan/PipelineBase.cs
  src/Ryujinx.Graphics.Vulkan/PipelineFull.cs
  src/Ryujinx.Graphics.Vulkan/ShaderCollection.cs
  src/Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, fix, graphics-backend:vulkan, graphics-vendor:qualcomm

#6269 Use SkiaSharp for Avalonia in place of ImageSharp
  src/Ryujinx/AppHost.cs
  src/Ryujinx/Ryujinx.csproj
  src/Ryujinx/UI/ViewModels/MainWindowViewModel.cs
  src/Ryujinx/UI/ViewModels/UserFirmwareAvatarSelectorViewModel.cs
  src/Ryujinx/UI/Views/User/UserFirmwareAvatarSelectorView.axaml.cs
  src/Ryujinx/UI/Views/User/UserProfileImageSelectorView.axaml.cs
  src/Ryujinx/UI/Windows/IconColorPicker.cs
Labels: gui

#6953 replace ByteMemoryPool usage in Ryujinx.HLE
  src/Ryujinx.HLE/HOS/Services/ServerBase.cs
  src/Ryujinx.HLE/HOS/Services/SurfaceFlinger/IHOSBinderDriver.cs
  src/Ryujinx.HLE/HOS/Services/SurfaceFlinger/Parcel.cs
Labels: horizon

#7027 misc: Re-order and manually update DriverID to name.
  src/Ryujinx.Graphics.Vulkan/Vendor.cs
Labels: gpu, graphics-backend:vulkan

#6958 Remove CommandBufferScoped Dependencies
  src/Ryujinx.Graphics.Vulkan/CommandBufferPool.cs
  src/Ryujinx.Graphics.Vulkan/CommandBufferScoped.cs
  src/Ryujinx.Graphics.Vulkan/SemaphoreHolder.cs
Labels: gpu, graphics-backend:vulkan

#6515 Add support for multi game XCIs (second try)
  src/Ryujinx.Gtk3/Program.cs
  src/Ryujinx.Gtk3/UI/MainWindow.cs
  src/Ryujinx.Gtk3/UI/Widgets/GameTableContextMenu.cs
  src/Ryujinx.Gtk3/UI/Windows/CheatWindow.cs
  src/Ryujinx.Gtk3/UI/Windows/DlcWindow.cs
  src/Ryujinx.Gtk3/UI/Windows/TitleUpdateWindow.cs
  src/Ryujinx.HLE/FileSystem/ContentManager.cs
  src/Ryujinx.HLE/FileSystem/ContentMetaData.cs
  src/Ryujinx.HLE/Loaders/Processes/Extensions/LocalFileSystemExtensions.cs
  src/Ryujinx.HLE/Loaders/Processes/Extensions/NcaExtensions.cs
  src/Ryujinx.HLE/Loaders/Processes/Extensions/PartitionFileSystemExtensions.cs
  src/Ryujinx.HLE/Loaders/Processes/ProcessLoader.cs
  src/Ryujinx.HLE/Loaders/Processes/ProcessLoaderHelper.cs
  src/Ryujinx.HLE/Switch.cs
  src/Ryujinx.HLE/Utilities/PartitionFileSystemUtils.cs
  src/Ryujinx.UI.Common/App/ApplicationData.cs
  src/Ryujinx.UI.Common/App/ApplicationLibrary.cs
  src/Ryujinx.UI.Common/Helper/CommandLineState.cs
  src/Ryujinx.UI.Common/Helper/ShortcutHelper.cs
  src/Ryujinx/AppHost.cs
  src/Ryujinx/Assets/Locales/en_US.json
  src/Ryujinx/Common/ApplicationHelper.cs
  src/Ryujinx/Program.cs
  src/Ryujinx/UI/Controls/ApplicationContextMenu.axaml.cs
  src/Ryujinx/UI/Controls/ApplicationGridView.axaml
  src/Ryujinx/UI/Controls/ApplicationListView.axaml
  src/Ryujinx/UI/Models/DownloadableContentModel.cs
  src/Ryujinx/UI/Models/SaveModel.cs
  src/Ryujinx/UI/Models/TitleUpdateModel.cs
  src/Ryujinx/UI/ViewModels/DownloadableContentManagerViewModel.cs
  src/Ryujinx/UI/ViewModels/MainWindowViewModel.cs
  src/Ryujinx/UI/ViewModels/TitleUpdateViewModel.cs
  src/Ryujinx/UI/Views/Main/MainMenuBarView.axaml.cs
  src/Ryujinx/UI/Windows/CheatWindow.axaml.cs
  src/Ryujinx/UI/Windows/DownloadableContentManagerWindow.axaml
  src/Ryujinx/UI/Windows/DownloadableContentManagerWindow.axaml.cs
  src/Ryujinx/UI/Windows/MainWindow.axaml.cs
  src/Ryujinx/UI/Windows/TitleUpdateWindow.axaml.cs
Labels: horizon, gui, needs-feedback

#7036 Catch exceptions when loading applications from invalid NSPs
  src/Ryujinx.UI.Common/App/ApplicationLibrary.cs
Labels: gui, fix

#7012 Vulkan: Defer guest barriers, and improve image barrier timings
  src/Ryujinx.Graphics.GAL/ResourceLayout.cs
  src/Ryujinx.Graphics.Gpu/Shader/ShaderInfoBuilder.cs
  src/Ryujinx.Graphics.Vulkan/BarrierBatch.cs
  src/Ryujinx.Graphics.Vulkan/Effects/FsrScalingFilter.cs
  src/Ryujinx.Graphics.Vulkan/Effects/FxaaPostProcessingEffect.cs
  src/Ryujinx.Graphics.Vulkan/Effects/SmaaPostProcessingEffect.cs
  src/Ryujinx.Graphics.Vulkan/FramebufferParams.cs
  src/Ryujinx.Graphics.Vulkan/HelperShader.cs
  src/Ryujinx.Graphics.Vulkan/PipelineBase.cs
  src/Ryujinx.Graphics.Vulkan/PipelineConverter.cs
  src/Ryujinx.Graphics.Vulkan/PipelineFull.cs
  src/Ryujinx.Graphics.Vulkan/RenderPassHolder.cs
  src/Ryujinx.Graphics.Vulkan/ResourceLayoutBuilder.cs
  src/Ryujinx.Graphics.Vulkan/ShaderCollection.cs
  src/Ryujinx.Graphics.Vulkan/TextureCopy.cs
  src/Ryujinx.Graphics.Vulkan/TextureStorage.cs
  src/Ryujinx.Graphics.Vulkan/TextureView.cs
  src/Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, fix, graphics-backend:vulkan, graphics-vendor:qualcomm

#7051 Add missing Buffer attribute on NGC Check method
  src/Ryujinx.Horizon/Ngc/Ipc/Service.cs
Labels: horizon, fix, service:ngc

#7026 Ava UI: Auto select newly added updates & DLC
  src/Ryujinx/UI/ViewModels/DownloadableContentManagerViewModel.cs
  src/Ryujinx/UI/ViewModels/TitleUpdateViewModel.cs
Labels: gui, fix

#7072 Unlink server sessions from multi-wait when service stops processing requests
  src/Ryujinx.Horizon/Sdk/OsTypes/Impl/MultiWaitImpl.cs
  src/Ryujinx.Horizon/Sdk/OsTypes/MultiWait.cs
  src/Ryujinx.Horizon/Sdk/Sf/Hipc/ServerManagerBase.cs
Labels: horizon, fix

#7073 Fix Skia saving screenshot with transparent background and incorrect origin
  src/Ryujinx/AppHost.cs
Labels: gpu, gui, fix

#7046 Make sure TryGetApplicationsFromFile() doesn't throw exceptions anymore
  src/Ryujinx.HLE/Loaders/Npdm/ACI0.cs
  src/Ryujinx.HLE/Loaders/Npdm/ACID.cs
  src/Ryujinx.HLE/Loaders/Npdm/FsAccessControl.cs
  src/Ryujinx.HLE/Loaders/Npdm/FsAccessHeader.cs
  src/Ryujinx.HLE/Loaders/Npdm/KernelAccessControl.cs
  src/Ryujinx.HLE/Loaders/Npdm/Npdm.cs
  src/Ryujinx.HLE/Loaders/Npdm/ServiceAccessControl.cs
  src/Ryujinx.UI.Common/App/ApplicationLibrary.cs
Labels: horizon, gui, fix

#7055 Fix checking for the wrong metadata files for applications launched with a different program index
  src/Ryujinx.Gtk3/UI/Widgets/GameTableContextMenu.cs
  src/Ryujinx.Gtk3/UI/Windows/DlcWindow.cs
  src/Ryujinx.Gtk3/UI/Windows/TitleUpdateWindow.cs
  src/Ryujinx.HLE/Loaders/Processes/Extensions/NcaExtensions.cs
  src/Ryujinx.HLE/Loaders/Processes/Extensions/PartitionFileSystemExtensions.cs
  src/Ryujinx.UI.Common/App/ApplicationData.cs
  src/Ryujinx/UI/ViewModels/DownloadableContentManagerViewModel.cs
  src/Ryujinx/UI/ViewModels/TitleUpdateViewModel.cs
  src/Ryujinx/UI/Windows/DownloadableContentManagerWindow.axaml.cs
  src/Ryujinx/UI/Windows/TitleUpdateWindow.axaml.cs
Labels: horizon, gui, fix

#7075 Update kernel GetInfo SVC for firmware 18.0.0
  src/Ryujinx.HLE/HOS/Kernel/Memory/AddressSpaceType.cs
  src/Ryujinx.HLE/HOS/Kernel/Memory/KPageTableBase.cs
  src/Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
  src/Ryujinx.HLE/HOS/Kernel/Process/KProcessCapabilities.cs
  src/Ryujinx.HLE/HOS/Kernel/Process/ProcessCreationFlags.cs
  src/Ryujinx.HLE/HOS/Kernel/SupervisorCall/InfoType.cs
  src/Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall.cs
Labels: horizon, kernel

#7092 Vulkan: Add missing barriers for texture to buffer copy
  src/Ryujinx.Graphics.Vulkan/TextureView.cs
Labels: gpu, fix, graphics-backend:vulkan

#7043 Ava UI: Handle updates containing non numeric characters
  src/Ryujinx/UI/Models/TitleUpdateModel.cs
  src/Ryujinx/UI/ViewModels/TitleUpdateViewModel.cs
Labels: gui, fix

#7102 Vulkan: Force topology to PatchList for Tessellation
  src/Ryujinx.Graphics.Vulkan/PipelineState.cs
Labels: gpu, fix, graphics-backend:vulkan

#7131 Fix shader RegisterUsage pass only taking first operation dest into account
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Shader/Translation/RegisterUsage.cs
Labels: gpu, fix
