Repository Ryujinx/Ryujinx, pull requests merged in 2024-05, with the labels that each got.

#6750 UI: Fix some MainWindow bugs and implement menubar items to change window size.
  src/Ryujinx.UI.Common/Configuration/ConfigurationFileFormat.cs
  src/Ryujinx.UI.Common/Configuration/ConfigurationState.cs
  src/Ryujinx/Assets/Locales/en_US.json
  src/Ryujinx/UI/ViewModels/SettingsViewModel.cs
  src/Ryujinx/UI/Views/Main/MainMenuBarView.axaml
  src/Ryujinx/UI/Views/Main/MainMenuBarView.axaml.cs
  src/Ryujinx/UI/Views/Settings/SettingsUIView.axaml
  src/Ryujinx/UI/Windows/MainWindow.axaml.cs
Labels: gui

#6676 Fix system dateTime loading in avalonia LoadCurrentConfiguration
  src/Ryujinx/UI/ViewModels/SettingsViewModel.cs
Labels: gui, fix

#6783 Replace "List.ForEach" for "foreach"
  src/ARMeilleure/Translation/PTC/Ptc.cs
  src/Ryujinx.Graphics.Gpu/GpuContext.cs
Labels: cpu, gpu

#6762 Add linux specific files to local builds
  src/Ryujinx.Gtk3/Ryujinx.Gtk3.csproj
  src/Ryujinx.Headless.SDL2/Ryujinx.Headless.SDL2.csproj
  src/Ryujinx/Ryujinx.csproj
Labels: miscellaneous

#6481 Update outdated Windows version warning
  src/Ryujinx.Gtk3/Program.cs
  src/Ryujinx/Program.cs
Labels: gui

#6664 HID: Stub IHidServer: 134 (SetNpadAnalogStickUseCenterClamp)
  src/Ryujinx.HLE/HOS/Services/Hid/IHidServer.cs
Labels: horizon

#6581 discordRPC: Truncate game title and details if they exceed discord byte limit.
  src/Ryujinx.UI.Common/DiscordIntegrationModule.cs
Labels: gui

#6721 Add support for bindless textures from storage buffer on Vulkan
  src/Ryujinx.Graphics.GAL/Capabilities.cs
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheGpuAccessor.cs
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/ParallelDiskCacheLoader.cs
  src/Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  src/Ryujinx.Graphics.Gpu/Shader/GpuChannelGraphicsState.cs
  src/Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  src/Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  src/Ryujinx.Graphics.Shader/GpuGraphicsState.cs
  src/Ryujinx.Graphics.Shader/IGpuAccessor.cs
  src/Ryujinx.Graphics.Shader/Instructions/InstEmitAttribute.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessElimination.cs
  src/Ryujinx.Graphics.Shader/Translation/ShaderDefinitions.cs
  src/Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, fix, graphics-backend:vulkan, graphics-backend:opengl

#6611 Add the "Auto" theme option in setting
  src/Ryujinx/App.axaml.cs
  src/Ryujinx/Assets/Locales/en_US.json
  src/Ryujinx/Common/ThemeManager.cs
  src/Ryujinx/UI/ViewModels/AboutWindowViewModel.cs
  src/Ryujinx/UI/ViewModels/SettingsViewModel.cs
  src/Ryujinx/UI/Views/Settings/SettingsUIView.axaml
  src/Ryujinx/UI/Windows/MainWindow.axaml.cs
Labels: enhancement, gui

#6686 Make TextureGroup.ClearModified thread safe
  src/Ryujinx.Graphics.Gpu/Image/Texture.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureGroupHandle.cs
Labels: gpu, fix

#6646 Disable keyboard controller input while swkbd is open (foreground)
  src/Ryujinx.Gtk3/Input/GTK3/GTK3KeyboardDriver.cs
  src/Ryujinx.Gtk3/UI/Applet/GtkHostUIHandler.cs
  src/Ryujinx.Input/HLE/NpadManager.cs
  src/Ryujinx.Input/IGamepadDriver.cs
  src/Ryujinx/Input/AvaloniaKeyboard.cs
  src/Ryujinx/Input/AvaloniaKeyboardDriver.cs
  src/Ryujinx/UI/Applet/AvaHostUIHandler.cs
Labels: gui, fix, applet, input

#6657 Add missing lock on texture cache UpdateMapping method
  src/Ryujinx.Graphics.Gpu/Image/TextureCache.cs
Labels: gpu, fix

#6603 Bump Avalonia.Svg
  Directory.Packages.props
  src/Ryujinx/UI/Applet/ControllerAppletDialog.axaml.cs
  src/Ryujinx/UI/ViewModels/Input/InputViewModel.cs
Labels: gui, infra

#6590 New Crowdin updates
  src/Ryujinx/Assets/Locales/ar_SA.json
  src/Ryujinx/Assets/Locales/de_DE.json
  src/Ryujinx/Assets/Locales/el_GR.json
  src/Ryujinx/Assets/Locales/es_ES.json
  src/Ryujinx/Assets/Locales/fr_FR.json
  src/Ryujinx/Assets/Locales/he_IL.json
  src/Ryujinx/Assets/Locales/it_IT.json
  src/Ryujinx/Assets/Locales/ja_JP.json
  src/Ryujinx/Assets/Locales/ko_KR.json
  src/Ryujinx/Assets/Locales/pl_PL.json
  src/Ryujinx/Assets/Locales/pt_BR.json
  src/Ryujinx/Assets/Locales/ru_RU.json
  src/Ryujinx/Assets/Locales/th_TH.json
  src/Ryujinx/Assets/Locales/tr_TR.json
  src/Ryujinx/Assets/Locales/uk_UA.json
  src/Ryujinx/Assets/Locales/zh_CN.json
  src/Ryujinx/Assets/Locales/zh_TW.json
Labels: gui

#6805 Revert "Disable keyboard controller input while swkbd is open (foreground)"
  src/Ryujinx.Gtk3/Input/GTK3/GTK3KeyboardDriver.cs
  src/Ryujinx.Gtk3/UI/Applet/GtkHostUIHandler.cs
  src/Ryujinx.Input/HLE/NpadManager.cs
  src/Ryujinx.Input/IGamepadDriver.cs
  src/Ryujinx/Input/AvaloniaKeyboard.cs
  src/Ryujinx/Input/AvaloniaKeyboardDriver.cs
  src/Ryujinx/UI/Applet/AvaHostUIHandler.cs
Labels: gui

#6773 Improves some log messages and fixes a typo
  src/Ryujinx.Gtk3/Program.cs
  src/Ryujinx.UI.Common/App/ApplicationData.cs
  src/Ryujinx.UI.Common/App/ApplicationLibrary.cs
  src/Ryujinx.UI.Common/Configuration/ConfigurationState.cs
  src/Ryujinx/Program.cs
Labels: gui

#6812 misc: Change Deflate compression level to `Fastest`
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/BinarySerializer.cs
Labels: gpu

#6813 Update audio renderer to REV12: Add support for splitter biquad filter
  src/Ryujinx.Audio/Renderer/Common/VoiceUpdateState.cs
  src/Ryujinx.Audio/Renderer/Dsp/BiquadFilterHelper.cs
  src/Ryujinx.Audio/Renderer/Dsp/Command/BiquadFilterAndMixCommand.cs
  src/Ryujinx.Audio/Renderer/Dsp/Command/CommandType.cs
  src/Ryujinx.Audio/Renderer/Dsp/Command/MixRampGroupedCommand.cs
  src/Ryujinx.Audio/Renderer/Dsp/Command/MultiTapBiquadFilterAndMixCommand.cs
  src/Ryujinx.Audio/Renderer/Dsp/Command/MultiTapBiquadFilterCommand.cs
  src/Ryujinx.Audio/Renderer/Dsp/State/BiquadFilterState.cs
  src/Ryujinx.Audio/Renderer/Parameter/ISplitterDestinationInParameter.cs
  src/Ryujinx.Audio/Renderer/Parameter/SplitterDestinationInParameterVersion1.cs
  src/Ryujinx.Audio/Renderer/Parameter/SplitterDestinationInParameterVersion2.cs
  src/Ryujinx.Audio/Renderer/Server/AudioRenderSystem.cs
  src/Ryujinx.Audio/Renderer/Server/BehaviourContext.cs
  src/Ryujinx.Audio/Renderer/Server/CommandBuffer.cs
  src/Ryujinx.Audio/Renderer/Server/CommandGenerator.cs
  src/Ryujinx.Audio/Renderer/Server/CommandProcessingTimeEstimatorVersion1.cs
  src/Ryujinx.Audio/Renderer/Server/CommandProcessingTimeEstimatorVersion2.cs
  src/Ryujinx.Audio/Renderer/Server/CommandProcessingTimeEstimatorVersion3.cs
  src/Ryujinx.Audio/Renderer/Server/CommandProcessingTimeEstimatorVersion4.cs
  src/Ryujinx.Audio/Renderer/Server/CommandProcessingTimeEstimatorVersion5.cs
  src/Ryujinx.Audio/Renderer/Server/ICommandProcessingTimeEstimator.cs
  src/Ryujinx.Audio/Renderer/Server/Mix/MixState.cs
  src/Ryujinx.Audio/Renderer/Server/Splitter/SplitterContext.cs
  src/Ryujinx.Audio/Renderer/Server/Splitter/SplitterDestination.cs
  src/Ryujinx.Audio/Renderer/Server/Splitter/SplitterDestinationVersion1.cs
  src/Ryujinx.Audio/Renderer/Server/Splitter/SplitterDestinationVersion2.cs
  src/Ryujinx.Audio/Renderer/Server/Splitter/SplitterState.cs
  src/Ryujinx.Tests/Audio/Renderer/Server/BehaviourContextTests.cs
  src/Ryujinx.Tests/Audio/Renderer/Server/SplitterDestinationTests.cs
Labels: audio, service-implementation, service:audio

#6808 Disable keyboard controller input while swkbd is open (foreground) (second attempt)
  src/Ryujinx.Gtk3/Input/GTK3/GTK3KeyboardDriver.cs
  src/Ryujinx.Gtk3/UI/Applet/GtkHostUIHandler.cs
  src/Ryujinx.Input/HLE/NpadManager.cs
  src/Ryujinx.Input/IGamepadDriver.cs
  src/Ryujinx/Input/AvaloniaKeyboard.cs
  src/Ryujinx/Input/AvaloniaKeyboardDriver.cs
  src/Ryujinx/UI/Applet/AvaHostUIHandler.cs
Labels: gui

#6826 HID: Fix another NullReferenceException when unblocking input updates
  src/Ryujinx.Input/HLE/NpadManager.cs
Labels: gui, fix, service:hid

#6794 GPU: Migrate buffers on GPU project, pre-emptively flush device local mappings
  src/Ryujinx.Graphics.GAL/BufferAccess.cs
  src/Ryujinx.Graphics.GAL/Capabilities.cs
  src/Ryujinx.Graphics.GAL/IRenderer.cs
  src/Ryujinx.Graphics.GAL/Multithreading/CommandHelper.cs
  src/Ryujinx.Graphics.GAL/Multithreading/CommandType.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Commands/Renderer/CreateBufferCommand.cs
  src/Ryujinx.Graphics.GAL/Multithreading/ThreadedRenderer.cs
  src/Ryujinx.Graphics.GAL/SystemMemoryType.cs
  src/Ryujinx.Graphics.Gpu/Engine/MME/MacroHLE.cs
  src/Ryujinx.Graphics.Gpu/Engine/Threed/ComputeDraw/VtgAsComputeContext.cs
  src/Ryujinx.Graphics.Gpu/Engine/Threed/ComputeDraw/VtgAsComputeState.cs
  src/Ryujinx.Graphics.Gpu/Engine/Threed/DrawManager.cs
  src/Ryujinx.Graphics.Gpu/GpuContext.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureBindingsArrayCache.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  src/Ryujinx.Graphics.Gpu/Memory/Buffer.cs
  src/Ryujinx.Graphics.Gpu/Memory/BufferBackingState.cs
  src/Ryujinx.Graphics.Gpu/Memory/BufferCache.cs
  src/Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
  src/Ryujinx.Graphics.Gpu/Memory/BufferMigration.cs
  src/Ryujinx.Graphics.Gpu/Memory/BufferModifiedRangeList.cs
  src/Ryujinx.Graphics.Gpu/Memory/BufferPreFlush.cs
  src/Ryujinx.Graphics.Gpu/Memory/BufferStage.cs
  src/Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  src/Ryujinx.Graphics.Vulkan/BufferHolder.cs
  src/Ryujinx.Graphics.Vulkan/BufferManager.cs
  src/Ryujinx.Graphics.Vulkan/EnumConversion.cs
  src/Ryujinx.Graphics.Vulkan/PipelineFull.cs
  src/Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: gpu, performance, graphics-backend:vulkan, graphics-backend:opengl

#6757 Updating Concentus dependency to speed up Opus decoding
  Directory.Packages.props
  src/Ryujinx.Horizon/Ryujinx.Horizon.csproj
  src/Ryujinx.Horizon/Sdk/Codec/Detail/HardwareOpusDecoder.cs
Labels: horizon, infra

#6837 Kernel: Wake cores from idle directly rather than through a host thread
  src/Ryujinx.HLE/HOS/Kernel/Threading/KScheduler.cs
  src/Ryujinx.HLE/HOS/Kernel/Threading/KThread.cs
  src/Ryujinx.HLE/HOS/Kernel/Threading/ThreadType.cs
Labels: horizon, kernel, performance

#6852 Workaround AMD bug on logic op with float framebuffer
  src/Ryujinx.Graphics.GAL/Format.cs
  src/Ryujinx.Graphics.Vulkan/FramebufferParams.cs
  src/Ryujinx.Graphics.Vulkan/PipelineBase.cs
  src/Ryujinx.Graphics.Vulkan/PipelineConverter.cs
  src/Ryujinx.Graphics.Vulkan/PipelineState.cs
  src/Ryujinx.Graphics.Vulkan/PipelineUid.cs
Labels: gpu, fix, graphics-backend:vulkan, graphics-vendor:amd

#6858 Workaround bug on logic op with float framebuffer
  src/Ryujinx.Graphics.Vulkan/PipelineState.cs
Labels: gpu, graphics-backend:vulkan, graphics-vendor:intel

#6870 Allow texture arrays to use separate descriptor sets on Vulkan
  src/Ryujinx.Graphics.GAL/Capabilities.cs
  src/Ryujinx.Graphics.GAL/IPipeline.cs
  src/Ryujinx.Graphics.GAL/Multithreading/CommandHelper.cs
  src/Ryujinx.Graphics.GAL/Multithreading/CommandType.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Commands/SetImageArraySeparateCommand.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Commands/SetTextureArraySeparateCommand.cs
  src/Ryujinx.Graphics.GAL/Multithreading/ThreadedPipeline.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureBindingInfo.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureBindingsArrayCache.cs
  src/Ryujinx.Graphics.Gpu/Shader/CachedShaderBindings.cs
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Gpu/Shader/GpuAccessorBase.cs
  src/Ryujinx.Graphics.Gpu/Shader/ResourceCounts.cs
  src/Ryujinx.Graphics.Gpu/Shader/ShaderInfoBuilder.cs
  src/Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  src/Ryujinx.Graphics.OpenGL/Pipeline.cs
  src/Ryujinx.Graphics.Shader/BufferDescriptor.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/CodeGenContext.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/Declarations.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/Instructions.cs
  src/Ryujinx.Graphics.Shader/IGpuAccessor.cs
  src/Ryujinx.Graphics.Shader/Instructions/InstEmitSurface.cs
  src/Ryujinx.Graphics.Shader/Instructions/InstEmitTexture.cs
  src/Ryujinx.Graphics.Shader/IntermediateRepresentation/TextureOperation.cs
  src/Ryujinx.Graphics.Shader/SetBindingPair.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/AstTextureOperation.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/ShaderProperties.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/StructuredProgram.cs
  src/Ryujinx.Graphics.Shader/TextureDescriptor.cs
  src/Ryujinx.Graphics.Shader/Translation/EmitterContext.cs
  src/Ryujinx.Graphics.Shader/Translation/EmitterContextInsts.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessElimination.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessToArray.cs
  src/Ryujinx.Graphics.Shader/Translation/ResourceManager.cs
  src/Ryujinx.Graphics.Shader/Translation/ResourceReservations.cs
  src/Ryujinx.Graphics.Shader/Translation/Transforms/TexturePass.cs
  src/Ryujinx.Graphics.Shader/Translation/Transforms/VertexToCompute.cs
  src/Ryujinx.Graphics.Shader/Translation/TranslatorContext.cs
  src/Ryujinx.Graphics.Vulkan/DescriptorSetUpdater.cs
  src/Ryujinx.Graphics.Vulkan/ImageArray.cs
  src/Ryujinx.Graphics.Vulkan/PipelineBase.cs
  src/Ryujinx.Graphics.Vulkan/PipelineLayoutCacheEntry.cs
  src/Ryujinx.Graphics.Vulkan/ShaderCollection.cs
  src/Ryujinx.Graphics.Vulkan/TextureArray.cs
  src/Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
  src/Ryujinx.ShaderTools/Program.cs
Labels: gpu, performance, graphics-backend:vulkan, graphics-backend:opengl

#6841 misc: Change disk shader cache compression algorithm to `Brotli` (RFC 7932)
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/BinarySerializer.cs
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/CompressionAlgorithm.cs
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheCommon.cs
Labels: cpu, gpu

#6853 Vulkan: Extend full bindless to cover cases with phi nodes
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessElimination.cs
Labels: gpu, fix
