Repository Ryujinx/Ryujinx, pull requests merged in 2024-08, with the labels that each got.

#7145 Fix FileNotFoundException in TryGetApplicationsFromFile() and improve loading applications
  src/Ryujinx.UI.Common/App/ApplicationLibrary.cs
Labels: gui, fix

#7129 replace ByteMemoryPool usage in Ryujinx.Graphics
  src/Ryujinx.Graphics.Device/DeviceMemoryManager.cs
  src/Ryujinx.Graphics.Gpu/Engine/InlineToMemory/InlineToMemoryClass.cs
  src/Ryujinx.Graphics.Gpu/Image/Texture.cs
  src/Ryujinx.Graphics.Gpu/Memory/MemoryManager.cs
  src/Ryujinx.Graphics.Gpu/Memory/PhysicalMemory.cs
  src/Ryujinx.Graphics.OpenGL/Image/FormatConverter.cs
  src/Ryujinx.Graphics.Texture/Astc/AstcDecoder.cs
  src/Ryujinx.Graphics.Texture/BCnDecoder.cs
  src/Ryujinx.Graphics.Texture/BCnEncoder.cs
  src/Ryujinx.Graphics.Texture/ETC2Decoder.cs
  src/Ryujinx.Graphics.Texture/LayoutConverter.cs
  src/Ryujinx.Graphics.Texture/PixelConverter.cs
  src/Ryujinx.Graphics.Vulkan/DescriptorSetUpdater.cs
Labels: gpu, graphics-backend:vulkan, graphics-backend:opengl

#7116 Avoid race conditions while launching games directly from the command line
  src/Ryujinx.Gtk3/Program.cs
  src/Ryujinx.Gtk3/UI/MainWindow.cs
  src/Ryujinx.UI.Common/App/ApplicationLibrary.cs
  src/Ryujinx/UI/Windows/MainWindow.axaml.cs
Labels: gui, fix

#7070 Infra: Update Microsoft.IdentityModel.JsonWebTokens
  Directory.Packages.props
  src/Ryujinx/UI/ViewModels/UserProfileViewModel.cs
Labels: gui, infra

#7121 Fix LocaleExtension SetRawSource usages + language perf improvement
  src/Ryujinx/Common/Locale/LocaleExtension.cs
  src/Ryujinx/Common/Locale/LocaleManager.cs
Labels: gui

#7141 Fix same textures with unmapped start being considered different
  src/Ryujinx.Memory/Range/IMultiRangeItem.cs
  src/Ryujinx.Memory/Range/MemoryRange.cs
  src/Ryujinx.Memory/Range/MultiRangeList.cs
Labels: gpu, fix

#7155 Replace and remove obsolete ByteMemoryPool type
  src/Ryujinx.Common/Memory/ByteMemoryPool.ByteMemoryPoolBuffer.cs
  src/Ryujinx.Common/Memory/ByteMemoryPool.cs
  src/Ryujinx.Common/Utilities/EmbeddedResources.cs
  src/Ryujinx.Common/Utilities/StreamUtils.cs
  src/Ryujinx.Cpu/Jit/MemoryManagerHostTracked.cs
  src/Ryujinx.Memory/VirtualMemoryManagerBase.cs
Labels: cpu

#7174 Implement UQADD16, UQADD8, UQSUB16, UQSUB8, VQRDMULH, VSLI and VSWP Arm32 instructions
  src/ARMeilleure/Decoders/OpCodeTable.cs
  src/ARMeilleure/Instructions/InstEmitAlu32.cs
  src/ARMeilleure/Instructions/InstEmitSimdArithmetic32.cs
  src/ARMeilleure/Instructions/InstEmitSimdMove32.cs
  src/ARMeilleure/Instructions/InstEmitSimdShift32.cs
  src/ARMeilleure/Instructions/InstName.cs
  src/Ryujinx.Cpu/LightningJit/Arm32/Target/Arm64/InstEmitMove.cs
  src/Ryujinx.Cpu/LightningJit/Arm32/Target/Arm64/InstEmitSaturate.cs
  src/Ryujinx.Tests/Cpu/CpuTestAlu32.cs
  src/Ryujinx.Tests/Cpu/CpuTestSimd32.cs
  src/Ryujinx.Tests/Cpu/CpuTestSimdReg32.cs
  src/Ryujinx.Tests/Cpu/CpuTestSimdShImm32.cs
Labels: cpu, fix

#7197 Clamp amount of mipmap levels to max allowed for all backends
  src/Ryujinx.Graphics.GAL/TextureCreateInfo.cs
  src/Ryujinx.Graphics.Gpu/Image/TexturePool.cs
  src/Ryujinx.Graphics.OpenGL/Image/TextureStorage.cs
  src/Ryujinx.Graphics.OpenGL/Image/TextureView.cs
Labels: gpu, fix, graphics-backend:vulkan, graphics-vendor:amd

#7170 Fix arbitrary game ordering when sorting by Favorites
  src/Ryujinx/UI/ViewModels/AppListFavoriteComparable.cs
  src/Ryujinx/UI/ViewModels/MainWindowViewModel.cs
Labels: gui

#7128 nim:eca : Stub CreateServerInterface2
  src/Ryujinx.HLE/HOS/Services/Nim/IShopServiceAccessServerInterface.cs
Labels: horizon

#7160 nuget: bump ImageSharp from 2.1.8 to 2.1.9
  Directory.Packages.props
Labels: infra

#7159 Fix NRE when using image array from constant buffer
  src/Ryujinx.Graphics.Gpu/Image/TextureBindingsArrayCache.cs
  src/Ryujinx.Graphics.Vulkan/ImageArray.cs
  src/Ryujinx.Graphics.Vulkan/ResourceArray.cs
  src/Ryujinx.Graphics.Vulkan/TextureArray.cs
Labels: gpu, fix, graphics-backend:vulkan

#7239 Fix deadlock in background translation thread shutdown
  src/ARMeilleure/Translation/TranslatorQueue.cs
Labels: cpu, fix

#7030 Replace ImageSharp with SkiaSharp everywhere
  Directory.Packages.props
  src/Ryujinx.Gtk3/Program.cs
  src/Ryujinx.Gtk3/Ryujinx.Gtk3.csproj
  src/Ryujinx.Gtk3/UI/RendererWidgetBase.cs
  src/Ryujinx.Gtk3/UI/Windows/AvatarWindow.cs
  src/Ryujinx.Gtk3/UI/Windows/UserProfilesManagerWindow.cs
  src/Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardRenderer.cs
  src/Ryujinx.HLE/HOS/Applets/SoftwareKeyboard/SoftwareKeyboardRendererBase.cs
  src/Ryujinx.HLE/HOS/Services/Caps/CaptureManager.cs
  src/Ryujinx.HLE/Ryujinx.HLE.csproj
  src/Ryujinx.UI.Common/Helper/ShortcutHelper.cs
  src/Ryujinx/UI/Applet/AvaloniaDynamicTextInputHandler.cs
  src/Ryujinx/UI/Helpers/OffscreenTextBox.cs
  src/Ryujinx/UI/Windows/MainWindow.axaml
Labels: horizon, gui, infra

#7085 Make HLE project AOT friendly
  Ryujinx.sln
  src/Ryujinx.Graphics.Device/DeviceState.cs
  src/Ryujinx.Graphics.Device/SizeCalculator.cs
  src/Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdateTracker.cs
  src/Ryujinx.HLE.Generators/CodeGenerator.cs
  src/Ryujinx.HLE.Generators/IpcServiceGenerator.cs
  src/Ryujinx.HLE.Generators/Ryujinx.HLE.Generators.csproj
  src/Ryujinx.HLE.Generators/ServiceSyntaxReceiver.cs
  src/Ryujinx.HLE/HOS/Applets/AppletManager.cs
  src/Ryujinx.HLE/HOS/Services/Sm/IUserInterface.cs
  src/Ryujinx.HLE/Ryujinx.HLE.csproj
Labels: horizon, gpu
