Repository Ryujinx/Ryujinx, pull requests merged in 2024-04, with the labels that each got.

#6550 New Crowdin updates
  src/Ryujinx/Assets/Locales/ar_SA.json
  src/Ryujinx/Assets/Locales/de_DE.json
  src/Ryujinx/Assets/Locales/el_GR.json
  src/Ryujinx/Assets/Locales/es_ES.json
  src/Ryujinx/Assets/Locales/fr_FR.json
  src/Ryujinx/Assets/Locales/he_IL.json
  src/Ryujinx/Assets/Locales/it_IT.json
  src/Ryujinx/Assets/Locales/ja_JP.json
  src/Ryujinx/Assets/Locales/ko_KR.json
  src/Ryujinx/Assets/Locales/pl_PL.json
  src/Ryujinx/Assets/Locales/pt_BR.json
  src/Ryujinx/Assets/Locales/ru_RU.json
  src/Ryujinx/Assets/Locales/th_TH.json
  src/Ryujinx/Assets/Locales/tr_TR.json
  src/Ryujinx/Assets/Locales/uk_UA.json
  src/Ryujinx/Assets/Locales/zh_CN.json
  src/Ryujinx/Assets/Locales/zh_TW.json
Labels: gui

#6591 Stop clearing Modified flag on DiscardData
  src/Ryujinx.Graphics.Gpu/Image/Texture.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureGroupHandle.cs
Labels: gpu, fix

#6251 Add support to IVirtualMemoryManager for zero-copy reads
  src/Ryujinx.Common/Memory/ByteMemoryPool.ByteMemoryPoolBuffer.cs
  src/Ryujinx.Common/Memory/ByteMemoryPool.cs
  src/Ryujinx.Cpu/AppleHv/HvMemoryManager.cs
  src/Ryujinx.Cpu/Jit/MemoryManager.cs
  src/Ryujinx.Cpu/Jit/MemoryManagerHostMapped.cs
  src/Ryujinx.Cpu/Jit/MemoryManagerHostTracked.cs
  src/Ryujinx.Cpu/VirtualMemoryManagerRefCountedBase.cs
  src/Ryujinx.Memory/AddressSpaceManager.cs
  src/Ryujinx.Memory/BytesReadOnlySequenceSegment.cs
  src/Ryujinx.Memory/IVirtualMemoryManager.cs
  src/Ryujinx.Memory/NativeMemoryManager.cs
  src/Ryujinx.Memory/VirtualMemoryManagerBase.cs
  src/Ryujinx.Memory/WritableRegion.cs
  src/Ryujinx.Tests.Memory/MockVirtualMemoryManager.cs
Labels: cpu

#6601 Add missing ModWindowTitle locale key
  src/Ryujinx/AppHost.cs
  src/Ryujinx/Assets/Locales/en_US.json
  src/Ryujinx/UI/Windows/ModManagerWindow.axaml.cs
Labels: gui, fix

#6602 Ignore diacritics on game search
  src/Ryujinx/UI/ViewModels/MainWindowViewModel.cs
Labels: enhancement, gui

#6514 ts: Migrate service to Horizon project
  src/Ryujinx.HLE/HOS/Services/Ptm/Ts/IMeasurementServer.cs
  src/Ryujinx.Horizon/Ptm/Ipc/MeasurementServer.cs
  src/Ryujinx.Horizon/Ptm/Ipc/Session.cs
  src/Ryujinx.Horizon/Ptm/TsIpcServer.cs
  src/Ryujinx.Horizon/Ptm/TsMain.cs
  src/Ryujinx.Horizon/Sdk/Ts/DeviceCode.cs
  src/Ryujinx.Horizon/Sdk/Ts/IMeasurementServer.cs
  src/Ryujinx.Horizon/Sdk/Ts/ISession.cs
  src/Ryujinx.Horizon/Sdk/Ts/Location.cs
  src/Ryujinx.Horizon/ServiceTable.cs
Labels: horizon

#6598 "Task.Wait()" synchronously blocks, use "await" instead
  src/Ryujinx/UI/Windows/MainWindow.axaml.cs
Labels: gui

#6571 Add mod enablement status in the log message
  src/Ryujinx.HLE/HOS/ModLoader.cs
Labels: horizon

#6508 Vulkan: Skip draws for patches topology without a tessellation shader
  src/Ryujinx.Graphics.Vulkan/PipelineBase.cs
  src/Ryujinx.Graphics.Vulkan/PipelineState.cs
  src/Ryujinx.Graphics.Vulkan/ShaderCollection.cs
Labels: gpu, fix, graphics-backend:vulkan, graphics-vendor:amd

#6509 Vulkan: Fix swapchain image view leak
  src/Ryujinx.Graphics.Vulkan/RenderPassHolder.cs
  src/Ryujinx.Graphics.Vulkan/TextureView.cs
Labels: gpu, fix, graphics-backend:vulkan

#6584 Delete old 16KB page workarounds
  src/Ryujinx.Cpu/AddressSpace.cs
  src/Ryujinx.Cpu/AppleHv/HvMemoryManager.cs
  src/Ryujinx.Cpu/Jit/MemoryManager.cs
  src/Ryujinx.Cpu/Jit/MemoryManagerHostMapped.cs
  src/Ryujinx.Cpu/Jit/MemoryManagerHostTracked.cs
  src/Ryujinx.HLE/HOS/ArmProcessContextFactory.cs
  src/Ryujinx.HLE/HOS/Kernel/Memory/KPageTable.cs
  src/Ryujinx.HLE/HOS/Kernel/Memory/KPageTableBase.cs
  src/Ryujinx.HLE/HOS/Kernel/Memory/KSharedMemory.cs
  src/Ryujinx.Memory/AddressSpaceManager.cs
  src/Ryujinx.Memory/IVirtualMemoryManager.cs
  src/Ryujinx.Tests.Memory/MockVirtualMemoryManager.cs
Labels: cpu, horizon, kernel

#6520 misc: Add ANGLE configuration option to JSON and CLI
  src/Ryujinx.UI.Common/Configuration/ConfigurationFileFormat.cs
  src/Ryujinx.UI.Common/Configuration/ConfigurationState.cs
  src/Ryujinx.UI.Common/Helper/CommandLineState.cs
  src/Ryujinx/Program.cs
Labels: gui

#6612 Replacing the try-catch block with null-conditional and null-coalescing operators
  src/Ryujinx.HLE/HOS/ModLoader.cs
Labels: horizon

#6610 Enhance Error Handling with Try-Pattern Refactoring
  src/Ryujinx.HLE/FileSystem/ContentManager.cs
  src/Ryujinx.HLE/FileSystem/ContentPath.cs
Labels: horizon

#6604 Audio rendering: reduce memory allocations
  src/Ryujinx.Audio/Backends/Common/DynamicRingBuffer.cs
  src/Ryujinx.Audio/Renderer/Common/BehaviourParameter.cs
  src/Ryujinx.Audio/Renderer/Common/UpdateDataHeader.cs
  src/Ryujinx.Audio/Renderer/Parameter/BehaviourErrorInfoOutStatus.cs
  src/Ryujinx.Audio/Renderer/Server/AudioRenderSystem.cs
  src/Ryujinx.Audio/Renderer/Server/BehaviourContext.cs
  src/Ryujinx.Audio/Renderer/Server/Effect/AuxiliaryBufferEffect.cs
  src/Ryujinx.Audio/Renderer/Server/Effect/BaseEffect.cs
  src/Ryujinx.Audio/Renderer/Server/Effect/BiquadFilterEffect.cs
  src/Ryujinx.Audio/Renderer/Server/Effect/BufferMixEffect.cs
  src/Ryujinx.Audio/Renderer/Server/Effect/CaptureBufferEffect.cs
  src/Ryujinx.Audio/Renderer/Server/Effect/CompressorEffect.cs
  src/Ryujinx.Audio/Renderer/Server/Effect/DelayEffect.cs
  src/Ryujinx.Audio/Renderer/Server/Effect/LimiterEffect.cs
  src/Ryujinx.Audio/Renderer/Server/Effect/Reverb3dEffect.cs
  src/Ryujinx.Audio/Renderer/Server/Effect/ReverbEffect.cs
  src/Ryujinx.Audio/Renderer/Server/MemoryPool/PoolMapper.cs
  src/Ryujinx.Audio/Renderer/Server/Mix/MixState.cs
  src/Ryujinx.Audio/Renderer/Server/Sink/BaseSink.cs
  src/Ryujinx.Audio/Renderer/Server/Sink/CircularBufferSink.cs
  src/Ryujinx.Audio/Renderer/Server/Sink/DeviceSink.cs
  src/Ryujinx.Audio/Renderer/Server/Splitter/SplitterContext.cs
  src/Ryujinx.Audio/Renderer/Server/Splitter/SplitterState.cs
  src/Ryujinx.Audio/Renderer/Server/StateUpdater.cs
  src/Ryujinx.Audio/Renderer/Server/Voice/VoiceState.cs
  src/Ryujinx.Common/Extensions/SequenceReaderExtensions.cs
  src/Ryujinx.Cpu/Jit/MemoryManagerHostTracked.cs
  src/Ryujinx.Horizon.Generators/Hipc/HipcGenerator.cs
  src/Ryujinx.Horizon/Sdk/Audio/Detail/AudioRenderer.cs
  src/Ryujinx.Horizon/Sdk/Audio/Detail/IAudioRenderer.cs
  src/Ryujinx.Horizon/Sdk/Sf/CommandSerialization.cs
  src/Ryujinx.Tests/Common/Extensions/SequenceReaderExtensionsTests.cs
Labels: cpu, horizon, audio

#6613 CPU: Fix PC alignment for ADR thumb instruction
  src/ARMeilleure/Instructions/InstEmitAlu32.cs
  src/ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, fix

#6620 gui: Disable CLI setting persistence for HW-accelerated GUI.
  src/Ryujinx.UI.Common/Helper/CommandLineState.cs
  src/Ryujinx/Program.cs
Labels: gui

#6633 Pin audio renderer update output buffers
  src/Ryujinx.Horizon/Sdk/Audio/Detail/AudioRenderer.cs
Labels: horizon, fix

#6636 Fast D32S8 2D depth texture copy
  src/Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
Labels: gpu, performance

#6626 Use ResScaleUnsupported flag for texture arrays
  src/Ryujinx.Graphics.Gpu/Image/TextureBindingsArrayCache.cs
Labels: gpu, fix

#6634 CPU: Produce non-inf results for RSQRTE instruction with subnormal inputs
  src/ARMeilleure/Instructions/InstEmitSimdArithmetic.cs
  src/ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, fix

#6640 Fix input consumed by audio renderer SplitterState.Update
  src/Ryujinx.Audio/Renderer/Server/Splitter/SplitterState.cs
Labels: audio, fix

#6506 Ava UI: Prevent Status Bar Backend Update
  src/Ryujinx/AppHost.cs
  src/Ryujinx/UI/Models/StatusInitEventArgs.cs
  src/Ryujinx/UI/Models/StatusUpdatedEventArgs.cs
  src/Ryujinx/UI/ViewModels/MainWindowViewModel.cs
Labels: gui

#6642 Update StoreConstantToMemory to match StoreConstantToAddress on value read
  src/Ryujinx.HLE/HOS/Tamper/CodeEmitters/StoreConstantToMemory.cs
Labels: horizon

#6649 Revert "Update StoreConstantToMemory to match StoreConstantToAddress on value read"
  src/Ryujinx.HLE/HOS/Tamper/CodeEmitters/StoreConstantToMemory.cs
Labels: horizon

#6650 Allow BSD sockets Poll to exit when emulation ends
  src/Ryujinx.HLE/HOS/Services/Sockets/Bsd/IClient.cs
Labels: horizon, fix, service:sockets

#6652 Account for swapchain image count change after re-creation
  src/Ryujinx.Graphics.Vulkan/Window.cs
Labels: gpu, fix, graphics-backend:vulkan

#6623 Texture loading: reduce memory allocations
  src/Ryujinx.Common/Memory/SpanOrArray.cs
  src/Ryujinx.Common/Utilities/EmbeddedResources.cs
  src/Ryujinx.Common/Utilities/StreamUtils.cs
  src/Ryujinx.Graphics.Device/DeviceMemoryManager.cs
  src/Ryujinx.Graphics.GAL/ITexture.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Commands/Texture/TextureSetDataCommand.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Commands/Texture/TextureSetDataSliceCommand.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Commands/Texture/TextureSetDataSliceRegionCommand.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Resources/ThreadedTexture.cs
  src/Ryujinx.Graphics.Gpu/Engine/Dma/DmaClass.cs
  src/Ryujinx.Graphics.Gpu/Engine/InlineToMemory/InlineToMemoryClass.cs
  src/Ryujinx.Graphics.Gpu/Image/Texture.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  src/Ryujinx.Graphics.Gpu/Memory/MemoryManager.cs
  src/Ryujinx.Graphics.Gpu/Memory/PhysicalMemory.cs
  src/Ryujinx.Graphics.OpenGL/Effects/SmaaPostProcessingEffect.cs
  src/Ryujinx.Graphics.OpenGL/Image/FormatConverter.cs
  src/Ryujinx.Graphics.OpenGL/Image/TextureBuffer.cs
  src/Ryujinx.Graphics.OpenGL/Image/TextureView.cs
  src/Ryujinx.Graphics.Texture/Astc/AstcDecoder.cs
  src/Ryujinx.Graphics.Texture/BCnDecoder.cs
  src/Ryujinx.Graphics.Texture/BCnEncoder.cs
  src/Ryujinx.Graphics.Texture/ETC2Decoder.cs
  src/Ryujinx.Graphics.Texture/LayoutConverter.cs
  src/Ryujinx.Graphics.Texture/PixelConverter.cs
  src/Ryujinx.Graphics.Vulkan/DescriptorSetUpdater.cs
  src/Ryujinx.Graphics.Vulkan/Effects/SmaaPostProcessingEffect.cs
  src/Ryujinx.Graphics.Vulkan/TextureBuffer.cs
  src/Ryujinx.Graphics.Vulkan/TextureView.cs
Labels: gpu, graphics-backend:vulkan, graphics-backend:opengl

#6680 Update "SixLabors.ImageSharp" to fix vulnerabilities
  Directory.Packages.props
Labels: infra

#6679 Fix unmapped address check when reading texture handles
  src/Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
Labels: gpu, fix

#6682 Update to new standard for volatility operations
  src/Ryujinx.HLE/HOS/TamperMachine.cs
  src/Ryujinx.Tests/Memory/PartialUnmaps.cs
Labels: horizon

#6683 Do not compare Span<T> to 'null' or 'default'
  src/Ryujinx.Graphics.Vulkan/CommandBufferPool.cs
  src/Ryujinx.HLE/HOS/Services/Fatal/IService.cs
Labels: horizon, gpu, graphics-backend:vulkan

#6690 chore: remove repetitive words
  src/Ryujinx.Audio/Renderer/Server/BehaviourContext.cs
  src/Ryujinx.Common/Extensions/SequenceReaderExtensions.cs
Labels: audio

#6687 End render target lifetime on syncpoint increment
  src/Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoClass.cs
  src/Ryujinx.Graphics.Gpu/Engine/GPFifo/GPFifoProcessor.cs
Labels: gpu, fix

#6691 Use pooled memory and avoid memory copies
  src/Ryujinx.Audio.Backends.SDL2/SDL2HardwareDeviceSession.cs
  src/Ryujinx.Audio.Backends.SoundIo/SoundIoHardwareDeviceSession.cs
  src/Ryujinx.HLE/HOS/Kernel/Ipc/KServerSession.cs
  src/Ryujinx.HLE/HOS/Kernel/Memory/KPageTable.cs
  src/Ryujinx.HLE/HOS/Kernel/Memory/KPageTableBase.cs
  src/Ryujinx.HLE/HOS/Services/SurfaceFlinger/IBinder.cs
  src/Ryujinx.HLE/HOS/Services/SurfaceFlinger/Parcel.cs
  src/Ryujinx.HLE/HOS/Services/Vi/RootService/IApplicationDisplayService.cs
  src/Ryujinx.Memory/IWritableBlock.cs
Labels: cpu, horizon, audio, kernel

#6695 implement `MemoryManagerHostTracked.GetReadOnlySequence()`
  src/Ryujinx.Cpu/Jit/MemoryManagerHostTracked.cs
  src/Ryujinx.Memory/NativeMemoryManager.cs
Labels: cpu

#6577 Add support for bindless textures from shader input (vertex buffer) on Vulkan
  src/Ryujinx.Graphics.GAL/Capabilities.cs
  src/Ryujinx.Graphics.Gpu/Engine/Compute/ComputeClass.cs
  src/Ryujinx.Graphics.Gpu/Engine/Threed/StateUpdater.cs
  src/Ryujinx.Graphics.Gpu/Image/PoolCache.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureBindingInfo.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureBindingsArrayCache.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureManager.cs
  src/Ryujinx.Graphics.Gpu/Shader/CachedShaderBindings.cs
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheGpuAccessor.cs
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Gpu/Shader/GpuAccessor.cs
  src/Ryujinx.Graphics.Gpu/Shader/GpuAccessorBase.cs
  src/Ryujinx.Graphics.Gpu/Shader/GpuAccessorState.cs
  src/Ryujinx.Graphics.Gpu/Shader/GpuChannelPoolState.cs
  src/Ryujinx.Graphics.Gpu/Shader/ShaderCache.cs
  src/Ryujinx.Graphics.Gpu/Shader/ShaderInfoBuilder.cs
  src/Ryujinx.Graphics.Gpu/Shader/ShaderSpecializationState.cs
  src/Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/Declarations.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Glsl/Instructions/InstGenMemory.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/Declarations.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/Instructions.cs
  src/Ryujinx.Graphics.Shader/IGpuAccessor.cs
  src/Ryujinx.Graphics.Shader/IntermediateRepresentation/Operation.cs
  src/Ryujinx.Graphics.Shader/IntermediateRepresentation/TextureOperation.cs
  src/Ryujinx.Graphics.Shader/SamplerType.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/AstTextureOperation.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/StructuredProgram.cs
  src/Ryujinx.Graphics.Shader/StructuredIr/TextureDefinition.cs
  src/Ryujinx.Graphics.Shader/TextureDescriptor.cs
  src/Ryujinx.Graphics.Shader/TextureHandle.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessElimination.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessToArray.cs
  src/Ryujinx.Graphics.Shader/Translation/ResourceManager.cs
  src/Ryujinx.Graphics.Shader/Translation/TranslatorContext.cs
  src/Ryujinx.Graphics.Vulkan/DescriptorSetTemplate.cs
  src/Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
  src/Ryujinx.ShaderTools/Program.cs
Labels: gpu, graphics-backend:vulkan, graphics-backend:opengl

#6729 ci: Replace macos-latest label with macos-13
  .github/workflows/build.yml
Labels: infra

#6736 HID: Correct direct mouse deltas
  src/Ryujinx.HLE/HOS/Services/Hid/HidDevices/MouseDevice.cs
Labels: horizon, fix, service:hid

#6725 Fix Cursor States On Windows
  src/Ryujinx/AppHost.cs
  src/Ryujinx/UI/Helpers/Win32NativeInterop.cs
  src/Ryujinx/UI/Renderer/EmbeddedWindow.cs
  src/Ryujinx/UI/ViewModels/MainWindowViewModel.cs
  src/Ryujinx/UI/Views/Main/MainMenuBarView.axaml
  src/Ryujinx/UI/Windows/MainWindow.axaml.cs
Labels: gui

#6742 Fix alt key appearing as control in settings menus
  src/Ryujinx/UI/Helpers/KeyValueConverter.cs
Labels: gui, fix
