Repository Ryujinx/Ryujinx, pull requests merged in 2024-06, with the labels that each got.

#6847 Avoid inexact read with 'Stream.Read'
  src/ARMeilleure/CodeGen/Arm64/CodeGenContext.cs
  src/ARMeilleure/CodeGen/X86/Assembler.cs
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/BinarySerializer.cs
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheGuestStorage.cs
  src/Ryujinx.Gtk3/UI/Windows/AvatarWindow.cs
  src/Ryujinx.UI.Common/App/ApplicationLibrary.cs
  src/Ryujinx/UI/ViewModels/UserFirmwareAvatarSelectorViewModel.cs
Labels: cpu, gpu, gui

#6821 New pooled memory types
  src/Ryujinx.Common/Memory/MemoryOwner.cs
  src/Ryujinx.Common/Memory/SpanOwner.cs
  src/Ryujinx.Graphics.Vulkan/MultiFenceHolder.cs
Labels: gpu, graphics-backend:vulkan

#6796 GPU: Remove unused dynamic state and pipeline settings
  src/Ryujinx.Graphics.Vulkan/PipelineConverter.cs
  src/Ryujinx.Graphics.Vulkan/PipelineState.cs
  src/Ryujinx.Graphics.Vulkan/PipelineUid.cs
Labels: gpu, graphics-backend:vulkan

#6895 Vulkan separate descriptor set fixes
  src/Ryujinx.Graphics.GAL/IImageArray.cs
  src/Ryujinx.Graphics.GAL/ITextureArray.cs
  src/Ryujinx.Graphics.GAL/Multithreading/CommandHelper.cs
  src/Ryujinx.Graphics.GAL/Multithreading/CommandType.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Commands/ImageArray/ImageArrayDisposeCommand.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Commands/TextureArray/TextureArrayDisposeCommand.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Commands/TextureArray/TextureArraySetSamplersCommand.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Commands/TextureArray/TextureArraySetTexturesCommand.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Resources/ThreadedImageArray.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Resources/ThreadedTextureArray.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureBindingsArrayCache.cs
  src/Ryujinx.Graphics.OpenGL/Image/ImageArray.cs
  src/Ryujinx.Graphics.OpenGL/Image/TextureArray.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/CodeGenContext.cs
  src/Ryujinx.Graphics.Shader/CodeGen/Spirv/SpirvGenerator.cs
  src/Ryujinx.Graphics.Shader/Translation/HostCapabilities.cs
  src/Ryujinx.Graphics.Shader/Translation/TranslatorContext.cs
  src/Ryujinx.Graphics.Vulkan/DescriptorSetUpdater.cs
  src/Ryujinx.Graphics.Vulkan/ImageArray.cs
  src/Ryujinx.Graphics.Vulkan/PipelineLayoutCacheEntry.cs
  src/Ryujinx.Graphics.Vulkan/PipelineLayoutFactory.cs
  src/Ryujinx.Graphics.Vulkan/ResourceArray.cs
  src/Ryujinx.Graphics.Vulkan/ShaderCollection.cs
  src/Ryujinx.Graphics.Vulkan/TextureArray.cs
Labels: gpu, fix, graphics-backend:vulkan, graphics-backend:opengl

#6911 replace ByteMemoryPool in Audio projects
  src/Ryujinx.Audio.Backends.SDL2/SDL2HardwareDeviceSession.cs
  src/Ryujinx.Audio.Backends.SoundIo/SoundIoHardwareDeviceSession.cs
  src/Ryujinx.Audio/Backends/Common/DynamicRingBuffer.cs
Labels: audio

#6921 Extend bindless elimination to catch a few more specific cases
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Shader/Instructions/InstEmitPredicate.cs
  src/Ryujinx.Graphics.Shader/IntermediateRepresentation/Instruction.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessElimination.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/BindlessToArray.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/Optimizer.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/Simplification.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/Utils.cs
Labels: gpu, fix

#6937 clear pooled memory on return when used to hold object references
  src/Ryujinx.Common/Memory/MemoryOwner.cs
  src/Ryujinx.Common/Memory/SpanOwner.cs
  src/Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall.cs
  src/Ryujinx.HLE/HOS/Kernel/Threading/KSynchronization.cs
Labels: horizon, kernel

#6951 JIT: Ensure entry block has no predecessors on RegisterUsage pass
  src/ARMeilleure/Translation/ControlFlowGraph.cs
  src/ARMeilleure/Translation/RegisterUsage.cs
Labels: cpu

#6950 JIT: Coalesce copies on LSRA with simple register preferencing
  src/ARMeilleure/CodeGen/RegisterAllocators/LinearScanAllocator.cs
  src/ARMeilleure/CodeGen/RegisterAllocators/LiveInterval.cs
  src/ARMeilleure/Translation/PTC/Ptc.cs
Labels: cpu, performance

#6977 SetProcessMemoryPermission address and size are always 64-bit
  src/Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall.cs
Labels: horizon, kernel

#6982 discord: Fix TruncateToByteLength() not taking the string length into account before trimming
  src/Ryujinx.UI.Common/DiscordIntegrationModule.cs
Labels: gui, fix

#6915 Resolve some Vulkan validation errors
  src/Ryujinx.Graphics.Vulkan/BufferManager.cs
  src/Ryujinx.Graphics.Vulkan/TextureStorage.cs
  src/Ryujinx.Graphics.Vulkan/TextureView.cs
  src/Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
Labels: gpu, graphics-backend:vulkan
