Repository Ryujinx/Ryujinx, pull requests merged in 2024-09, with the labels that each got.

#7266 Vulkan: Update Silk.NET to 2.21
  Directory.Packages.props
  src/Ryujinx.Graphics.Vulkan/BufferHolder.cs
  src/Ryujinx.Graphics.Vulkan/BufferManager.cs
  src/Ryujinx.Graphics.Vulkan/BufferState.cs
  src/Ryujinx.Graphics.Vulkan/CommandBufferPool.cs
  src/Ryujinx.Graphics.Vulkan/DescriptorSetCollection.cs
  src/Ryujinx.Graphics.Vulkan/DescriptorSetManager.cs
  src/Ryujinx.Graphics.Vulkan/FramebufferParams.cs
  src/Ryujinx.Graphics.Vulkan/HostMemoryAllocator.cs
  src/Ryujinx.Graphics.Vulkan/MemoryAllocatorBlockList.cs
  src/Ryujinx.Graphics.Vulkan/MoltenVK/MVKInitialization.cs
  src/Ryujinx.Graphics.Vulkan/PipelineBase.cs
  src/Ryujinx.Graphics.Vulkan/PipelineConverter.cs
  src/Ryujinx.Graphics.Vulkan/PipelineLayoutFactory.cs
  src/Ryujinx.Graphics.Vulkan/Queries/BufferedQuery.cs
  src/Ryujinx.Graphics.Vulkan/RenderPassHolder.cs
  src/Ryujinx.Graphics.Vulkan/SamplerHolder.cs
  src/Ryujinx.Graphics.Vulkan/Shader.cs
  src/Ryujinx.Graphics.Vulkan/TextureCopy.cs
  src/Ryujinx.Graphics.Vulkan/TextureStorage.cs
  src/Ryujinx.Graphics.Vulkan/TextureView.cs
  src/Ryujinx.Graphics.Vulkan/Vendor.cs
  src/Ryujinx.Graphics.Vulkan/Window.cs
  src/Ryujinx.Gtk3/Program.cs
  src/Ryujinx.Headless.SDL2/Program.cs
  src/Ryujinx/Program.cs
Labels: gpu, gui, infra, graphics-backend:vulkan

#7262 Fix incorrect depth texture 3D flag
  src/Ryujinx.Graphics.Gpu/Engine/Threed/ThreedClassState.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureCache.cs
Labels: gpu, fix

#7226 Vulkan: Feedback loop detection and barriers
  src/Ryujinx.Common/GraphicsDriver/DriverUtilities.cs
  src/Ryujinx.Common/Utilities/OsUtils.cs
  src/Ryujinx.Graphics.Vulkan/BarrierBatch.cs
  src/Ryujinx.Graphics.Vulkan/DescriptorSetUpdater.cs
  src/Ryujinx.Graphics.Vulkan/FeedbackLoopAspects.cs
  src/Ryujinx.Graphics.Vulkan/FramebufferParams.cs
  src/Ryujinx.Graphics.Vulkan/HardwareCapabilities.cs
  src/Ryujinx.Graphics.Vulkan/PipelineBase.cs
  src/Ryujinx.Graphics.Vulkan/PipelineDynamicState.cs
  src/Ryujinx.Graphics.Vulkan/PipelineFull.cs
  src/Ryujinx.Graphics.Vulkan/PipelineState.cs
  src/Ryujinx.Graphics.Vulkan/TextureStorage.cs
  src/Ryujinx.Graphics.Vulkan/TextureView.cs
  src/Ryujinx.Graphics.Vulkan/VulkanInitialization.cs
  src/Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
  src/Ryujinx.Gtk3/Program.cs
  src/Ryujinx.Headless.SDL2/Program.cs
  src/Ryujinx/Program.cs
Labels: gpu, gui, infra, graphics-backend:vulkan

#7301 Implement Arm32 VSHLL and QADD16 instructions
  src/ARMeilleure/Decoders/OpCodeTable.cs
  src/ARMeilleure/Instructions/InstEmitAlu32.cs
  src/ARMeilleure/Instructions/InstEmitSimdShift32.cs
  src/ARMeilleure/Instructions/InstName.cs
  src/Ryujinx.Tests/Cpu/CpuTestAlu32.cs
  src/Ryujinx.Tests/Cpu/CpuTestSimd32.cs
Labels: cpu

#7279 Make GetFunctionPointerForDelegate as explicit as possible
  src/ARMeilleure/Translation/DelegateInfo.cs
  src/ARMeilleure/Translation/Delegates.cs
Labels: cpu

#7299 Implement fast DMA texture to texture copy
  src/Ryujinx.Graphics.Gpu/Engine/Dma/DmaClass.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureCache.cs
Labels: gpu, performance

#7313 Change 6GB DRAM expansion to 8GB
  src/Ryujinx.Gtk3/UI/MainWindow.cs
  src/Ryujinx.HLE/HOS/Kernel/Common/KSystemControl.cs
  src/Ryujinx.Headless.SDL2/Options.cs
  src/Ryujinx.Headless.SDL2/Program.cs
  src/Ryujinx.UI.Common/Configuration/ConfigurationFileFormat.cs
  src/Ryujinx/AppHost.cs
  src/Ryujinx/Assets/Locales/en_US.json
Labels: horizon, gui, kernel

#7304 Add area sampling scaler to allow for super-sampled anti-aliasing.
  src/Ryujinx.Graphics.GAL/UpscaleType.cs
  src/Ryujinx.Graphics.OpenGL/Effects/AreaScalingFilter.cs
  src/Ryujinx.Graphics.OpenGL/Effects/FsrScalingFilter.cs
  src/Ryujinx.Graphics.OpenGL/Effects/ShaderHelper.cs
  src/Ryujinx.Graphics.OpenGL/Effects/Shaders/area_scaling.glsl
  src/Ryujinx.Graphics.OpenGL/Effects/Shaders/fsr_scaling.glsl
  src/Ryujinx.Graphics.OpenGL/Ryujinx.Graphics.OpenGL.csproj
  src/Ryujinx.Graphics.OpenGL/Window.cs
  src/Ryujinx.Graphics.Vulkan/Effects/AreaScalingFilter.cs
  src/Ryujinx.Graphics.Vulkan/Effects/Shaders/AreaScaling.glsl
  src/Ryujinx.Graphics.Vulkan/Effects/Shaders/AreaScaling.spv
  src/Ryujinx.Graphics.Vulkan/Ryujinx.Graphics.Vulkan.csproj
  src/Ryujinx.Graphics.Vulkan/Window.cs
  src/Ryujinx/Assets/Locales/en_US.json
  src/Ryujinx/UI/Views/Settings/SettingsGraphicsView.axaml
Labels: gpu, gui, graphics-backend:vulkan, graphics-backend:opengl

#7311 Change image format view handling to allow view incompatible formats
  src/Ryujinx.Graphics.GAL/IImageArray.cs
  src/Ryujinx.Graphics.GAL/IPipeline.cs
  src/Ryujinx.Graphics.GAL/Multithreading/CommandHelper.cs
  src/Ryujinx.Graphics.GAL/Multithreading/CommandType.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Commands/ImageArray/ImageArraySetFormatsCommand.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Commands/SetImageCommand.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Resources/ThreadedImageArray.cs
  src/Ryujinx.Graphics.GAL/Multithreading/ThreadedPipeline.cs
  src/Ryujinx.Graphics.Gpu/Engine/ShaderTexture.cs
  src/Ryujinx.Graphics.Gpu/Image/FormatInfo.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureBindingInfo.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureBindingsArrayCache.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureCompatibility.cs
  src/Ryujinx.Graphics.Gpu/Image/TexturePool.cs
  src/Ryujinx.Graphics.Gpu/Memory/BufferManager.cs
  src/Ryujinx.Graphics.Gpu/Memory/BufferTextureArrayBinding.cs
  src/Ryujinx.Graphics.Gpu/Memory/BufferTextureBinding.cs
  src/Ryujinx.Graphics.Gpu/Shader/CachedShaderBindings.cs
  src/Ryujinx.Graphics.Gpu/Window.cs
  src/Ryujinx.Graphics.OpenGL/Image/ImageArray.cs
  src/Ryujinx.Graphics.OpenGL/Pipeline.cs
  src/Ryujinx.Graphics.Vulkan/DescriptorSetUpdater.cs
  src/Ryujinx.Graphics.Vulkan/Effects/FsrScalingFilter.cs
  src/Ryujinx.Graphics.Vulkan/Effects/FxaaPostProcessingEffect.cs
  src/Ryujinx.Graphics.Vulkan/Effects/SmaaPostProcessingEffect.cs
  src/Ryujinx.Graphics.Vulkan/HelperShader.cs
  src/Ryujinx.Graphics.Vulkan/ImageArray.cs
  src/Ryujinx.Graphics.Vulkan/PipelineBase.cs
  src/Ryujinx.Graphics.Vulkan/TextureBuffer.cs
  src/Ryujinx.HLE/HOS/Services/SurfaceFlinger/SurfaceFlinger.cs
Labels: gpu, fix, graphics-backend:vulkan, graphics-backend:opengl

#7320 Implement support for shader ATOM.EXCH instruction
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Shader/Instructions/InstEmitMemory.cs
Labels: gpu, fix

#7171 Replace passing by IMemoryOwner<byte> with passing by concrete MemoryOwner<byte>
  src/Ryujinx.Graphics.GAL/ITexture.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Commands/Texture/TextureSetDataCommand.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Commands/Texture/TextureSetDataSliceCommand.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Commands/Texture/TextureSetDataSliceRegionCommand.cs
  src/Ryujinx.Graphics.GAL/Multithreading/Resources/ThreadedTexture.cs
  src/Ryujinx.Graphics.Gpu/Engine/Dma/DmaClass.cs
  src/Ryujinx.Graphics.Gpu/Image/Texture.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureGroup.cs
  src/Ryujinx.Graphics.OpenGL/Image/TextureBuffer.cs
  src/Ryujinx.Graphics.OpenGL/Image/TextureView.cs
  src/Ryujinx.Graphics.Vulkan/TextureBuffer.cs
  src/Ryujinx.Graphics.Vulkan/TextureView.cs
  src/Ryujinx.HLE/HOS/Services/SurfaceFlinger/Parcel.cs
  src/Ryujinx.Memory/WritableRegion.cs
Labels: cpu, horizon, gpu, graphics-backend:vulkan, graphics-backend:opengl

#7312 Add support for sampler sRGB disable
  src/Ryujinx.Graphics.Gpu/Image/Sampler.cs
  src/Ryujinx.Graphics.Gpu/Image/SamplerDescriptor.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureBindingsManager.cs
  src/Ryujinx.Graphics.Gpu/Image/TexturePool.cs
Labels: gpu, fix

#7331 Shader: Assume the only remaining source is the right one when all others are undefined
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Shader/Translation/Optimizations/Utils.cs
Labels: gpu, fix

#7336 Fix quads draws after DrawTexture on Vulkan
  src/Ryujinx.Graphics.Vulkan/PipelineBase.cs
Labels: gpu, fix, graphics-backend:vulkan

#7333 Update bug_report.yml to provide better instructions for finding log …
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: infra

#7363 GPU: Ensure all clip distances are initialized when used
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/DiskCacheHostStorage.cs
  src/Ryujinx.Graphics.Shader/Translation/Translator.cs
Labels: gpu, fix, graphics-vendor:amd

#7307 Convert MaxTextureCacheCapacity to Dynamic MaxTextureCacheCapacity for High Resolution Mod support.
  src/Ryujinx.Graphics.GAL/Capabilities.cs
  src/Ryujinx.Graphics.Gpu/Image/AutoDeleteCache.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  src/Ryujinx.Graphics.Gpu/Memory/MemoryManager.cs
  src/Ryujinx.Graphics.OpenGL/OpenGLRenderer.cs
  src/Ryujinx.Graphics.Vulkan/VulkanRenderer.cs
Labels: horizon, gpu, gui, kernel, graphics-backend:vulkan, graphics-backend:opengl

#7379 Do not try to create a texture pool if shader does not use textures
  src/Ryujinx.Graphics.Gpu/Shader/ShaderSpecializationState.cs
Labels: gpu, fix
